<?xml version="1.0" encoding="utf-8"?>
<!--crm接口，前置机登录配置-->
<CRMQZJConfig>
  <!--前置机IP-->
  <CRMIP>192.168.0.71</CRMIP>
  <!--前置机端口-->
  <CRMPORT>3000</CRMPORT>
  <CRMPOSTYPE>BFPOS</CRMPOSTYPE>
  <CRMPOSNO>999</CRMPOSNO>
  <!--商户代码-->
  <CRMSHDM>B2C</CRMSHDM>
  <!--门店代码-->
  <CRMMDDM>B2C01</CRMMDDM>
  <!--操作地点代码-->
  <CRM_LOCALTION_CODE>030201</CRM_LOCALTION_CODE>
  <CRMHYKTYPE>119</CRMHYKTYPE>
  <!--缺省会员类型P-->
  <B2CVIPTYPE>1</B2CVIPTYPE>
  <!--用户名-->
  <CRM_BFCRM_USER>100001000</CRM_BFCRM_USER>
  <!--密码-->
  <CRM_PASSWORD>333</CRM_PASSWORD>
</CRMQZJConfig>

