<?xml version="1.0"?>
<mailTemplate>
  <id>PO_SendCustomerMail</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      订购单信息
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
        <style type='text/css'>
        #logImg
        {
        	-moz-background-clip:border;
        	-moz-background-inline-policy:continuous;
        	background:transparent url(http://www.tlyh.com/Resources/themes/default/Nest/img/logo.png) no-repeat scroll 0 0;
        	display:inline;
        	float:left;
        	height:53px;
        	margin-left:3px;
        	width:254px
        }
    </style>
    <table>
    <tr>
    <td>
    
    <div id='emailContent'>
                         <center> 
                          <TABLE class='print_head' id='tableHead' width='90%'>
                              <TR>
                                <TD align='center' colSpan='3'>
                                   <font size='4'><strong>采购单</strong></font>
                                </TD>
                           </TR>
                           <tr>
                        <TD align='center'><div id='logImg'></div></TD>
                          <TD align='left'>
                           <table ID='Table1'>
                           <tr  <%=displayNo%>  >
                           <td>流水号</td>
                          </tr>
                           <tr>
                               <td> <%=CompanyName%></td>
                         </tr>
                          <tr>
                            <td><%=CompanyAddress%></td>
                          </tr>
                          <tr>
                           <td><%=CompanyTel%></td>
                           </tr>
                          <tr>
                           <td><%=CompanyWebSite%></td>
                               </tr>
                             </table>
                          </TD>
                         <td align='right' valign='top'>
                                <table ID='Table2'>
                               <tr <%=displayNo%> >
                                  <td>
                                                  <%=numberString%>
                                    </td>
                                  </tr>
                                      <td>#<%=entity.POID%></td>
                                  </tr>
                              <tr><td></td></tr>
                                    <TR><TD><FONT face='宋体'>打印日期</FONT></TD></TR>
                                       <TR><TD><FONT face='宋体'><%=DateTime.Now%></FONT></TD></TR>
                                 </table>
                           </td>
                        </TR>
                        <tr><td colspan='3'><table width='100%'><tr align=left><td colspan='2'><b>供货商：</b></td><td colspan='2'><b>收货到：</b></td>
                                     </tr>
                                     <tr align=left>
                                     <td width='5%'></td>
                         	            <td width='45%'> <%=vendor.VendorName%> (<%=vendor.SysNo%>)</td>
                                     <td width='5%'></td>
                                     <td width='45%'> <%=CompanyName%> </td>
                                    </tr> 
                                  <tr align=left>
                                    <td></td>
                                    <td> <%=vendor.Address%> </td>
                                      <td></td>
                                        <td><%=StockAddress%></td>
                                      </tr>
                                    <tr align=left>
                                      <td></td>
                                      <td><%=vendor.Contact%></td>
                          	            <td></td>
                                     <td><STRONG>联系人：</STRONG><%=StockContact%></td>
                                      </tr>
                                      <tr align=left>
                          	            <td></td>
                         	            <td><%=vendor.Phone%>  FAX :  <%=vendor.Fax%></td>
                                     <td></td>
                                     <td><STRONG>电　话：</STRONG><%=StockTel%></td>
                                      </tr>
                                   </table>
                                </td>
                            </tr>
                             <tr>
                                <td colspan='3'>
                                    <table width='100%'>
                                    <tr align=left>
                                      <td width='50%'><b>入库日期：</b>
                                         <%=entity.InTime%>
                                      </td>
                          	            <td><b>我方采购员：</b><%=PMName%></td>
                                     </tr><tr align=left><td width='50%'><b>付款方式：</b><%=entity.PayTypeName%></td>
                                      <td><b>供方销售员：</b><%=vendor.Contact%></td>
                                      </tr>
                                      <tr align=left>
                          	            <td width='50%'><b>送货方式：</b>
                                              <%=shipTypeString%>
                                                 </td>
                          		            <td><b>货币种类：</b>　<%=CurrencyName%></td>
                                      </tr>
                                      <tr align="left">
							                            <td width="50%"><b>采购仓库：</b><%=StockName%></td>
							                            <td><b>送达时间：　</b><%=ETATime%></td>
							                        </tr>
                                     </table>
                                 </td>
                              </tr>
                             <tr align='left'>
                                 <td colspan='3'>备注：<%=entity.Memo%></td>
                              </tr>
                             <tr align='left'>
                               <td colspan='3'>入库备注：<%=entity.InStockMemo%></td>
                              </tr>
                            <tr align='left'>
                                 <td colspan='3'></td>
                            </tr>
                 </table>
               </center> <hr SIZE='1'>
              <table width='100%' ID='Table8'><tr><td align='right'></td>
                				            <td width='120' align='left'>
                                         </td></tr>
                 		            <TR>
                 			            <TD align='right'><font size='4'><%=totalReturnPoint%> &nbsp; 总和：</font></TD>
                                            <TD align='left' width='120'  ><font size='4'><%=totalAmt%></font></TD>
                                      </TR>
                                   </table>	
              <hr>
             <center>
              <table height='200' width='90%' ID='Table3'>
                        <tr valign='top'>
                          <td>
              	            <TABLE id='tableBody' width='100%' border='1' class='print_body'>
              				            <TR>
              				            <td align="center" style="font-size: 13px">
                                    <strong>商品编号 </strong>
                                </td>
                                <td align="center" style="font-size: 13px">
                                    <strong>型号 </strong>
                                </td>
                                <td align="center" style="font-size: 13px">
                                    <strong>商品名称 </strong>
                                </td>
                                <td align="center" style="font-size: 13px">
                                    <strong>进项税率 </strong>
                                </td>
                                <td align="center" style="font-size: 13px">
                                    <strong>采购价 </strong>
                                </td>
                                <td align="center" style="font-size: 13px">
                                    <strong>采购数量 </strong>
                                </td>
                                <td align="center" style="font-size: 13px">
                                    <strong>小计 </strong>
                                </td>

              			            </TR>
           
              <%TABLE_ROWS_BEGIN ID=tblProductItemsList%>
           
              <TR>
                            <TD nowrap style='font-size:13px' align='left'>
                                <%=item.ProductID%> <%=item.IsVirtualStockProduct%>
                            </TD>
                            <TD style='font-size:13px' align=left> 
                                <%=item.ProductMode%> 
                            </TD>
                            <TD style='font-size:13px' align=left>
                                <%=item.BriefName%>
                            </TD>
                            <TD align='right' style='font-size:13px'>
                              <%=item.TaxRateType%>
                              </TD>
                             <TD align='right' style='font-size:13px'>
                              <%=entity.CurrencySymbol%>  <%=item.OrderPrice%>
                              </TD>
                             <TD align='right' style='font-size:13px'>
                              <%=item.PurchaseQty%>
                             </TD>
                             <td style='font-size:13px' align=left>
                             <%=item.ProductPriceSummary%>
                             </td>
                             </TR>
           <%TABLE_ROWS_END ID=tblProductItemsList%>
           

              		            </TABLE>
              	            </td>
                          </tr>
                       </table>
               </center>
              <hr />
               
               <center><br /><table align='center' width='90%'><tr width='100%'><td align='center'>
                          <table width='100%'><tr><td ><hr></td><td width='100' align='center'>
                           <strong>供应商送货须知</strong></td><td ><hr></td></tr></table>
                        </td>
                        </tr>
                        <tr width='100%'><td align='left' ><p>
                        
                        1．供应商送货到泰隆优选仓库，应遵守泰隆优选收货流程,根据规定履行签收手续；否则泰隆优选仓库有权拒收货品；<br>
								        2．送货必须知道泰隆优选采购单号，否则收货员将优先收取能够提供采购单号的配送单；<br>
								        3．增值税发票上必须标明对应的采购单号，否则可能会影响正常付款；<br>
								        4．所有货物必须保证包装完好、品相全新，否则泰隆优选仓库将拒收。特殊情况在送货前与泰隆优选采购人员确认；<br>
                        5．请确保发票的规格型号一栏内容和实际货物一致，否则财务将拒收发票并暂停付款；<br>
								        6．送货前，请务必保证送货产品与泰隆优选采购单一致，以避免因修改订单产生的延误。需核对要点如下：<br>
								            &nbsp;&nbsp;1)名称；  2)规格；  3)型号； 4)颜色；5)数量；<br>
                           </td>
                         </tr></table><table id='Table4' width='90%'><tr><td colSpan='3'><hr width='100%' size='1'></td>
              	            </tr>
                        <tr><td colSpan='3' height='5' align=left>有无增票:____________________</td>
              	       </tr>
                         <tr><td width='60%' align='left'>异常收货:_______________________________</td><td align='right'>审核人签名（章）：</td><td align='left'>__________________</td>
                          </tr><tr><td height='5' colspan='3'></td></tr><tr><td width='60%' align=left>_______________________________________</td>
              	            <td align='right'>签收日期：</td><td align='left'>__________________</td></tr></table></center>
               </div>
            </td>
         </tr>
      </table>
      ]]>
    </template>
  </body>
</mailTemplate>