<?xml version="1.0"?>
<mailTemplate>
  <id>Vendor_UpdateVendorActionMail</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      <%=MailSubject%>
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
    <table cellSpacing=""1"" cellPadding=""1"" width=""80%"" border=""1"">
                            <tr>
	                            <td align=""center"" colSpan=""2"">Vendor审核</td>
                            </tr>
                            <tr>
	                            <td>供应商</td>
	                            <td><%=VendorName%></td>
                            </tr>
                            <tr>
	                            <td>合作期限</td>
	                            <td ><%=ValidTime%></td>
                            </tr>
                            <tr>
	                            <td>合作金额</td>
                                <td><%=ContractAmt%></td>
                            </tr>
                            <tr>
	                            <td>帐期类型</td>
	                            <td><%=PayPeriodType%></td>
                            </tr>
                            <tr>
	                            <td>申请人</td>
	                            <td><%=Apply%></td>
                            </tr>
                            <tr>
                               <td>分仓</td>
                               <td><%=District%></td>
                            </tr>
     </table>
    ]]>

    </template>
  </body>
</mailTemplate>
