<?xml version="1.0"?>
<mailTemplate>
  <id>VSPO_CreateActionMail</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      <%=DateTime%>生成虚库采购单
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
    <table border=1 cellspacing=0 cellspadding=0>
        <tr>
          <td>虚库采购单号</td>
          <td>销售单号</td>
          <td>产品号</td>
          <td>产品描述</td>
          <td>采购数量</td>
          <td>PM负责人员</td>
          <td>创建时间</td>
          <td>CS采购请求人</td>
          <td>CS备注</td>
          <td>仓库</td>
        </tr>
        <tr>
          <td><%=SysNo%></td>
          <td><%=SOSysNo%></td>
          <td><%=ProductID%></td>
          <td><%=BriefName%></td>
          <td><%=PurchaseQty%></td>
          <td><%=PMUserName%></td>
          <td><%=CreateTime%></td>
          <td><%=CSUserName%></td>
          <td><%=CSMemo%></td>
          <td><%=WarehouseName%></td>
        </tr>
    </table>
    ]]>

    </template>
  </body>
</mailTemplate>