<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="OverseaLocalControlPanel">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6gADsZecagHK8Ui/XASAbgDj4WT8HdR6hiMIaTKo44VjFOzjTWEFHHVdnraG0WHvz6RgNhRaKlY+9QnCi636tK9qlaKtqQwP67tFLdaS5aDlVC0aY97YvxJw940EEZ71y11KYTWOLeVzNOIZ2upAVhC8xYcKQdo/pKsEF2qbBCs7k7f/6SyUBPMwrwTT9Gspg/nPa6I1dLrQxdu9g3Gql4JIiTAx78tfRUxgigCHBJ5YvWkVK0xA2wdslAcrEH8TiDcJ5BYTyd4QWPoXd7i06PuRkIOm8TL0uvXqmZheKsbA/0+bmHzcf9m4nDarPCLIPROwiC3nvKX+m4E2zIu9xsnas6F+NG23V0uCHDirnigXBLVC6xPrdO0ywvXHKv2upoXV0+aZmHrZGeDvd3qYg0jYDwaGSRxLeAyK8SdNvVDSnTPUYve8UC/CKBX4Rrnw0BW39vdNcikEjHI7FFAe408=</connectionString>
  </database>
  <database name="DBALog">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6gADsZecagHK8Ui/XASAbgDj4WT8HdR6hiMIaTKo44VjFOzjTWEFHHVdnraG0WHvz6RgNhRaKlY+9QnCi636tK9qlaKtqQwP67tFLdaS5aDlVC0aY97YvxJw940EEZ71y11KYTWOLeVzNOIZ2upAVhC8xYcKQdo/pKsEF2qbBCs7k7f/6SyUBPMwrwTT9Gspg/nPa6I1dLrQxdu9g3Gql4JIiTAx78tfRUxgigCHBJ5YvWkVK0xA2wdslAcrEH8TiDcJ5BYTyd4QWPoXd7i06PuRkIOm8TL0uvXqmZheKsbA/0+bmHzcf9m4nDarPCLIPROwiC3nvKX+m4E2zIu9xsnas6F+NG23V0uCHDirnigXBLVC6xPrdO0ywvXHKv2upoXV0+aZmHrZGeDvd3qYg0jYDwaGSRxLeAyK8SdNvVDSnTPUYve8UC/CKBX4Rrnw0BW39vdNcikEjHI7FFAe408=</connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6gADsZecagHK8Ui/XASAbgDj4WT8HdR6hiMIaTKo44VjFOzjTWEFHHVdnraG0WHvz6RgNhRaKlY+9QnCi636tK9qlaKtqQwP67tFLdaS5aDlVC0aY97YvxJw940EEZ71y11KYTWOLeVzNOIZ2upAVhC8xYcKQdo/pKsEF2qbBCs7k7f/6SyUBPMwrwTT9Gspg/nPa6I1dLrQxdu9g3Gql4JIiTAx78tfRUxgigCHBJ5YvWkVK0xA2wdslAcrEH8TiDcJ5BYTyd4QWPoXd7i06PuRkIOm8TL0uvXqmZheKsbA/0+bmHzcf9m4nDarPCLIPROwiC3nvKX+m4E2zIu9xsnas6F+NG23V0uCHDirnigXBLVC6xPrdO0ywvXHKv2upoXV0+aZmHrZGeDvd3qYg0jYDwaGSRxLeAyK8SdNvVDSnTPUYve8UC/CKBX4Rrnw0BW39vdNcikEjHI7FFAe408=</connectionString>
  </database>
  <database name="QueryKeystoneDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6ib2AUPKoVA5Zam7ZTBNd+lG9zXL2E87lU1r74a7i6g62BLD8eBUTM3k+GGvD1Oiw18bpHZKF4AHK957imct1t6FRBFWgFrWZBc7pEteJ+Otlkb5XRuO+3qu5QTGw0A4n/hfJU72V6tqyViBC4qyelV9B4WnDcAeiVQla8T67M3KRixyBU9gjWUyLTZtF4TSQ7pm6R2Ip9tO7SGVWJ8DvGAxgns2+Gp3af99u6HDdieoHBi36hP89bRzDB4OiGq5ibrRqXDN5ubYeRRf6D1qS+oyJy7505jUjOuqlaE+bET/ixwmL087W+1DmBJNniK0ew+KASSiMRmxUdlie3XOo2nwTjnqN6T4qym+Yh8yrzuCViEfx1KHfHlYtECZKo0Zayuk14du2448SI95ot7YEq2Lw/gruV+bYVE3hW/4CpsDeeMLuSbeYjp3TtEiFjIFkHG94lyAyx9Sx8VG8PFp31dPUTD3x7Fe5sneBRYFtTJ2N+d+Jwnni4SWh90fbjNppnXDP1R5EeZbFRta6k3JceM=</connectionString>
  </database>
</databaseList>