<?xml version="1.0" encoding="utf-8" ?>
<mailTemplates>
  <templateList languageCode="zh-CN">
    <!--Customer Start-->
    <template path="Templates/Customer/CustomerGift_Notify.zh-CN.config"/>
    <template path="Templates/Customer/CustomerGift_Remind.zh-CN.config"/>
    <template path="Templates/Customer/CustomerGift_Void.zh-CN.config"/>
    <template path="Templates/Customer/CustomerPointAddRequest_AuditDenied.zh-CN.config"/>
    <template path="Templates/Customer/Manual_Send.zh-CN.config"/>
    <!--Customer End-->
    <!--RMA Start-->
    <template path="Templates/RMA/RMAOutBound_DunMail.zh-CN.config"/>
    <template path="Templates/RMA/RMARefund_GiftCardCreate.zh-CN.config"/>
    <template path="Templates/RMA/RMARequest_Receive.zh-CN.config"/>
    <template path="Templates/RMA/RMARequest_Create.zh-CN.config"/>
    <!--RMA END-->

    <!--MKT START-->
    <template path="Templates/IM/IM_Product_ChangePrice.zh-CN.config"/>
    <!--MKT END-->
    <!--MKT START-->
    <template path="Templates/MKT/MKT_ProductReview.zh-CN.config"/>
    <template path="Templates/MKT/MKT_ProductConsult.zh-CN.config"/>
    <template path="Templates/MKT/MKT_ReplyCustomerLeaveWords.zh-CN.config"/>
    <template path="Templates/MKT/MailTemplate_GiftCard.zh-CN.config"/>
    <template path="Templates/MKT/MKT_Combo_ChangeStatusForChangeProductPrice.zh-CN.config"/>
    <template path="Templates/MKT/MKT_Countdown.zh-CN.config"/>
    <template path="Templates/MKT/ProductPriceCompare_AuditDecline.zh-CN.config"/>
    <template path="Templates/MKT/ProductPriceCompare_AuditPass.zh-CN.config"/>
    
    <!--MKT END-->
    <!--SO START-->
    <template path="Templates/SO/SO_Audit_Passed.zh-CN.config"/>
    <template path="Templates/SO/SO_Created.zh-CN.config"/>
    <template path="Templates/SO/SO_OutStock.zh-CN.config"/>
    <template path="Templates/SO/SO_ActivateElectronicGiftCard.zh-CN.config"/>
    <template path="Templates/SO/SO_ReplyComplainEmail.zh-CN.config"/>
    <template path="Templates/SO/SO_Splited.zh-CN.config"/>
    <template path="Templates/SO/SO_InternalMemoReport.zh-CN.config"/>
    <template path="Templates/SO/Internal/SIM_Audit_Passed.zh-CN.config"/>
    <template path="Templates/SO/Internal/Invoice_Generate_Error.zh-CN.config"/>
    <template path="Templates/SO/Internal/SO_InternalEmail.zh-CN.config"/>
    <template path="Templates/SO/Internal/SO_Product_PriceChanged.zh-CN.config"/>
    <template path="Templates/SO/Internal/SO_FinancIntercept.zh-CN.config"/>
    <template path="Templates/SO/Internal/SO_OrderIntercept.zh-CN.config"/>
    <template path="Templates/SO/SO_CommentNotify.zh-CN.config"/>
    <template path="Templates/SO/SO_Abandon.zh-CN.config"/>
    <!--SO END-->

    <!--INVOICE START-->
    <template path="Templates/Invoice/Refund_GiftCard_Notify.zh-CN.config"/>
    <template path="Templates/Invoice/Invoice_CreateError_Notify.zh-CN.config"/>
    <template path="Templates/Invoice/Payable_RefuseAudit_Notify.zh-CN.config"/>
    <template path="Templates/Invoice/ResponsibleUser_Change_Notify.zh-CN.config"/>
    <!--INVOICE END-->

    <!--PO START-->
    <template path="Templates/PO/VSPO_CreateActionMail.zh-CN.config"/>
    <template path="Templates/PO/VSPO_UpdateActionMail.zh-CN.config"/>
    <template path="Templates/PO/Vendor_UpdateVendorActionMail.zh-CN.config"/>
    <template path="Templates/PO/PO_AutoCreateMail.zh-CN.config"/>
    <template path="Templates/PO/PO_AutoCloseMail.zh-CN.config"/>
    <template path="Templates/PO/PO_SendCustomerMail.zh-CN.config"/>
    <!--PO END-->

    <!--Inventory START-->
    <template path="Templates/Inventory/AdjustRequest_Create.zh-CN.config"/>
    <template path="Templates/Inventory/Inventory_ProductRing.zh-CN.config"/>
    <template path="Templates/Inventory/Inventory_EndOfMonth.zh-CN.config"/>
    <!--Inventory END-->

    <!--ExternalSYS START-->
    
    <!--ExternalSYS END-->
    
  </templateList>

  <templateList languageCode="en-US">
  </templateList>

</mailTemplates>
