<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <dataCommand name="GetAllCustomerGuideList" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
    SELECT A.SysNo,A.CustomerSysNo,CE.ContributeRank 
    FROM OverseaECommerceManagement.dbo.CustomerGuide A WITH(NOLOCK)
    LEFT JOIN IPP3.dbo.Customer_Extend CE WITH(NOLOCK) 
    ON CE.CustomerSysno = A.CustomerSysno AND CE.CompanyCode=@CompanyCode
    Where A.Status='A' 
    AND ObtainPoint=0 
    AND CE.ContributeRank IN('T','L','A','P')
    AND A.CompanyCode=@CompanyCode
	  ]]>
    </commandText>
	  <parameters>
		  <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
	  </parameters>
 </dataCommand>
  
  <dataCommand name="UpdateCustomerGuideObtainPoint" database="OverseaECommerceManagement" commandType="Text">
		<commandText>
			<![CDATA[
      UPDATE OverseaECommerceManagement.dbo.CustomerGuide
      SET ObtainPoint=@ObtainPoint 
      WHERE SysNo=@SysNo AND CompanyCode=@CompanyCode
      ]]>
		</commandText>
	  <parameters>
		  <param name="@SysNo" dbType="Int32"/>
		  <param name="@ObtainPoint" dbType="Int32"/>
		  <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
	  </parameters>
  </dataCommand>
</dataOperations>