<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
	</configSections>

	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>

	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="OrderMgmt"/>
		<dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config"/>
	</oversea>

	<appSettings>
    <!--以下支付方式订单为可疑订单-->
    <add key="SUSPECT_PAYTYPE" value="46"/>
    <!--断货支持仓库-->
    <add key="OUT_STOCK" value=""/>
        
		<!--新蛋快递系统编号-->
		<add key="NeweggExpress" value="10,21,22,25,28,34,43,46,48,51,54,13,29,35,36,40,41,42,44,47,49,52,55"/>
		<!--自动审单-款到发货：允许通过自动审单的支付方式编号列表-->
		<add key="AllowPayTypeSysNos" value="8,9,14,18,25,26,34,44,45"/>
		<!--订单邮件模版-->
		<add key="NewOrderMailTemplet" value="http://eccsvc.oysd.cn.pre/shadow.view/sale/MailTemplate.aspx"/>
		<!--自动审单时的审单人编号，仅对款到发货单有效。货到付款单自动审单为固定为：800-->
		<add key="AuditUserSysNo" value="493"/>
		<!--一次提取审核订单的条数-->
		<add key="AutoAuditTopCount" value="5000"/>
		<!--一次对审核通过的订单发邮件的条数-->
		<add key="AutoAuditSendMessageTopCount" value="200"/>
		<!--一次提取FPCheck订单的条数-->
		<add key="FPCheckTopCount" value="500"/>

		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<add key="ConsumerName" value="CN.OrderMgmt.UI.IPP01"/>
    <add key="RepeatTime" value="60"/>
    <add key="CompanyCode" value="8601"/>
    <!--<add key="SORestFulBaseUrl" value="http://localhost:778/SOService/"/>-->
    <add key="SORestFulBaseUrl" value="http://eccsvc.oysd.cn.pre/SOService/"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="tech@page7.com.cn"/>
		<!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
		<add key="SendMailUserDisplayName" value="IPPSystemAdmin"/>
		<add key="SendMailUserLoginName" value="IPPSystemAdmin"/>
		<add key="SendMailCompanyCode" value="8601"/>
		<add key="SendMailStoreCompanyCode" value="8601"/>
		<add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
