<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
		<section name="ServiceJobSection" type="IPP.ECommerceMgmt.ServiceJob.Providers.ServiceJobSection,IPP.ECommerceMgmt.ServiceJob"/>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>

	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="InvoiceMgmt"/>
		<dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
	</oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
	<appSettings>
		<!-- Newegg Framework DataAccess settings end-->
    <add key="ConsumerName" value="CN.InvoiceManagement.UI.IPP01"/>
		<add key="LogFileName" value="ProductSaleInfo.log"/>
    <!--<add key="CommonRestFulBaseUrl" value="http://localhost:778/CommonService/"/>-->
    <add key="CommonRestFulBaseUrl" value="http://10.16.40.33:6001/CommonService/"/>
    <add key="CompanyCode" value="8601"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
    
		<add key="EmailAddress" value="Nolan.Q.Chen@newegg.com"/>
    <!--<add key="EmailAddress" value="prince.w.ma@newegg.com"/>-->
    <add key="EmailFrom" value="Support@newegg.com.cn"/>
		<add key="MailSubject" value="(Weekly Report)新蛋网所有已上线产品报表"/>
		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<add key="InitialCreateTime" value="2010-09-01 00:00:00"/>
    <add key="MailBody" value="新蛋网所有已上线产品报表信息已经统计，详细信息请查看附件！"/>
    <add key="MailCC" value=""/>
		<!--<add key="EmailAddress" value="kevin.e.zhou@newegg.com;Freegod.L.Xu@newegg.com"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
