<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="pointAccountList" type="SendMKTPointEmail.AccountPointNoticeMailEntitySection,SendMKTPointEmail.Biz"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
	</configSections>

	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>

	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="InvoiceMgmt"/>
		<dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config"/>
	</oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>

	<appSettings>
		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<add key="ConsumerName" value="CN.InvoiceManagement.UI.IPP01"/>
		<add key="RepeatTime" value="60"/>
    <add key="LogFileName" value="SendMKTPointEmail.log"/>

    <!--<add key="CommonRestFulBaseUrl" value="http://localhost:778/CommonService/"/>-->
    <add key="CommonRestFulBaseUrl" value="http://10.16.40.33:6001/CommonService/"/>
    <add key="CompanyCode" value="8601"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>

		<!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
		<!--value取值为[DB,WCFService],分别表示直插数据库和通过WCF服务发送邮件"-->
		<add key="SendMailMethodSwitch" value="DB"/>
		<add key="SendMailUserDisplayName" value="IPPSystemAdmin"/>
		<add key="SendMailUserLoginName" value="IPPSystemAdmin"/>
		<add key="SendMailCompanyCode" value="8601"/>
		<add key="SendMailStoreCompanyCode" value="8601"/>
		<add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>
		<add key="SendMailAddress" value="Support@newegg.com.cn"/>

		<!--MKT账号列表-->
		<add key="MKTAccount" value="MKT-topic;MKT-Campaign;MKT-WHRMA(Man);MKT-WHPro;MKT-WHRMA(Auto)"/>
		<add key="MKTAccountPassDays" value="5"/>
		<!--MKT账号管理员邮件地址-->
		<add key="MKTAccountMailRecv" value="nolan.q.chen@newegg.com"/>
		<!--<add key ="MKTAccountMailRecv" value="ne-cn.mkt.leader@newegg.com" />-->
		<add key="MKTAccountRevcMailSubjectTemplet" value="MKT账户积分报警邮件"/>
		<add key="MKTAccountRevcMailBodyTemplet" value="请注意，{0}账户积分少于前五日的支出总和{1}，请核对积分！&lt;br&gt;账户剩余积分：&lt;font color=red&gt;{2}&lt;/font&gt;&lt;br&gt;请及时为该账号充值"/>

		<!--PM账号:点数报警下限:账号管理员邮件地址|-->
		<add key="AccountRevcMailSubjectTemplet" value="{0}账号内积分少于{1}"/>
		<add key="AccountRevcMailBodyTemplet" value="请注意，{0}账户积分少于{1}，请核对积分！&lt;br&gt;账户剩余积分：&lt;font color=red&gt;{2}&lt;/font&gt;&lt;br&gt;请及时为该账号充值"/>
	</appSettings>
  
  <pointAccountList>
      <items>
        <add account="PM-Depreciation" pointLimt="3000" mailTo="cropland.j.tian@newegg.com;tom.d.zhou@newegg.com"/>
        <add account="PM-ForRicoh" pointLimt="10000" mailTo="cropland.j.tian@newegg.com;tom.d.zhou@newegg.com"/>

  <!--
        <add account="PM-Depreciation" pointLimt="3000"   mailTo="ne-cn.pmcc@newegg.com;ne-cn.cs.leader@Newegg.com"/>
        <add account="PM-ForRicoh" pointLimt="10000"   mailTo="vip.cn.com@newegg.com"/>
        <add account="MKT-topic" pointLimt="10000"   mailTo="ne-cn.mkt.leader@newegg.com"/>
        -->
      </items>
    </pointAccountList>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
