<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
		<section name="ServiceJobSection" type="IPP.OrderMgmt.ServiceJob.Providers.ServiceJobSection,IPP.OrderMgmt.ServiceJob"/>
	</configSections>

	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>

	<ServiceJobSection>
		<JobProviders>		
			<add name="ProviderSecKill" type="IPP.OrderMgmt.ServiceJob.Providers.ServiceJobProviderSecKill,IPP.OrderMgmt.ServiceJob"/>
		</JobProviders>
		<JobCollection>			
			<add jobName="JOBProviderSecKill" jobType="Repeter" runTime="00:00;1" provider="ProviderSecKill" errorLog="Log\CountdownSecKill_Error.txt" infoLog="Log\CountdownSecKill_Info.txt" bizLog="Log\CountdownSecKill_Biz.txt"/>
		</JobCollection>
	</ServiceJobSection>

	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="OrderMgmt"/>
		<dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
	</oversea>

	<appSettings>
		<!--新蛋快递系统编号-->
		<add key="NeweggExpress" value="10,21,22,25,28,34,43,46,48,51,54,13,29,35,36,40,41,42,44,47,49,52,55"/>
		<!--自动审单-款到发货：允许通过自动审单的支付方式编号列表-->
		<add key="AllowPayTypeSysNos" value="8,9,14,18,25,26,34,41,43,44,45,46"/>
		<!--订单邮件模版-->
		<add key="NewOrderMailTemplet" value="http://ssoversea03/shadow.view/sale/MailTemplate.aspx"/>
		<!--自动审单时的审单人编号，仅对款到发货单有效。货到付款单自动审单为固定为：800-->
		<add key="AuditUserSysNo" value="493"/>
		<!--一次提取审核订单的条数-->
		<add key="AutoAuditTopCount" value="5000"/>
		<!--一次对审核通过的订单发邮件的条数-->
		<add key="AutoAuditSendMessageTopCount" value="200"/>	
	
		<!--发送邮件开关-->
		<add key="SendMailFlag" value="True"/>
		
		<!--发送邮件地址-->
		<add key="MailAddress" value="Kathy.Y.Gao@newegg.com"/>
		<!--发送邮件CC地址-->
		<add key="CCMailAddress" value="Smith.Y.Cui@newegg.com;Freegod.L.Xu@newegg.com;Tom.D.Zhou@newegg.com;Gamal.H.Hu@newegg.com"/>	
		
		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<add key="ConsumerName" value="CN.ECommerceMgmt.UI.IPP01"/>
		<add key="ServiceBrokerAddressHeader" value="net.tcp://10.16.50.35"/>
		<!--<add key="ServiceBrokerAddressHeader" value="net.tcp://10.1.41.195" />-->
		<add key="LocationName" value="IISHostDev.Branch"/>
        <add key="RepeatTime" value="60"/>
		<!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
		<add key="SendMailUserDisplayName" value="AuthCenterAdmin"/>
		<add key="SendMailUserLoginName" value="AuthCenterAdmin"/>
		<add key="SendMailCompanyCode" value="1014"/>
		<add key="SendMailStoreCompanyCode" value="1014"/>
		<add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>

    <add key="SORestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/SOService/"/>
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
