<?xml version="1.0"?>
<appSettings>
  <!--***邮件相关***-->
  <add key="LogFolder" value=""/>
  <!--邮件默认编码-->
  <add key="Email_MailCharset" value="gb2312"/>
  <!--发送邮件的地址-->
  <add key="Email_MailFrom" value="support@argos.cn"/>
  <!--发送邮件的发送栏默认的显示名-->
  <add key="Email_MailFromName" value="泰隆优选"/>
  <!--发送邮件的邮件服务器-->
  <add key="Email_MailServer" value="10.16.98.140"/>
  <!--邮件账号-->
  <add key="Email_MailUserName" value="abs_corp\eggeml"/>
  <!--邮件密码-->
  <add key="Email_MailUserPassword" value="newsupp@123"/>
  <!--测试环境正确配置：发送邮件的邮件服务器--><!--
  <add key="Email_MailServer" value="10.16.98.13"/>
  --><!--邮件账号--><!--
  <add key="Email_MailUserName" value=""/>
  --><!--邮件密码--><!--
  <add key="Email_MailUserPassword" value=""/>-->

  <!--邮件底部落款日期格式-->
  <add key="Email_Footer_SignatureDateFormat" value="yyyy-MM-dd"/>
  
  
</appSettings>