<?xml version="1.0"?>
<appSettings>
  <!--积分最大有效期（整数，单位：年-->
  <add key="MaxPointExpiringDate" value="2"/>
  <!--顾客自定义头像的基地址-->
  <add key="AvtarImageBasePath" value="http://%website_image_server_url%/UploadFiles/"/>
  <!--Vip 等级中VIPAuto这种等级的最低经验值 -->
  <add key="TheLeastExperienceOfVIPAuto" value="30000"/>
  <!--顾客积分与钱的兑换比例-->
  <add key="PointExChangeRate" value="100.0" />
  <!--增值税相关的证书文件存放位置-->
  <add key="CertificateFilesPath" value="../upload/Customer_CertificateFiles"/>
  <!--cs人员对应的部门-->
  <add key="CSDeparentID" value="101"/>
  <!--顾客需激活的最小天数-->
  <add key="VisitCustomerActiveNeedDays" value="180"/>

  <!--顾客需激活的最小天数-->
  <add key="CSHoliday" value="NoCSWorkTime"/>
</appSettings>