<?xml version="1.0"?>
<appSettings>
  <add key="DataFeedFilesConfigPath" value="Download/ExternalSYS/DataFeedFiles.config"/>
  <add key="DataFeedFilesTemplatePath" value="Download/ExternalSYS/DataFeedTemplate.xls"/>
  <add key="VendorUserInitPassword" value="123456"/>
  <add key="SellerPortalImageServicePath" value="http://sellerportal.asean.com.qa"/>
  <add key="SellerPortalFileServicePath" value="http://sellerportal.asean.com.qa"/>
</appSettings>
