<?xml version="1.0"?>
<appSettings>
  <!--<add key="" value=""/>-->

  <!--产品图片模块相关配置项.开始-->  
  <add key="ProductImage_UploadFilePath" value="D:\ImageServer\NeweggPic\" />
  <add key="ProductImage_UploadFileTemporaryPath" value="D:\TemporaryPath\uploads\{0}\"/>
  <add key="ProductImage_UploadFilePathTitle" value="neg/"/>
  <add key="ProductImage_UploadFileUrl" value="http://back.page7.com.cn:8888/"/>
  <add key="ProductImage_IsWaterMark" value="0"/>
  <add key="ProductImage_WatermarkPath" value="Style\Images\watermark.png"/>
  <add key="ProductImage_DFISUploadURL" value="http://DFISServer:8021/"/>
  <add key="ProductImage_DFISHttpURL" value="http://DFISServer:8001/"/>
  <add key="ProductImage_DFISFileGroup" value="neg"/>
  <add key="ProductImage_UploadImageFolder" value="UploadFiles/UploadImageFiles"/>
  <!--产品图片模块相关配置项.结束-->
  <!--电子卡商品编号-->
  <add key="IM_ElectronicCard_ProductSysNo" value="44396"/>
  <add key="IM_MinMarginAmount" value="-200"/>
  <add key="IM_MallName" value="食佳时代"/>
</appSettings>