<?xml version="1.0"?>
<appSettings>
  <!--<add key="" value=""/>-->
  <!--默认同步设置的虚库列表-->
  <add key="VirtualInventoryWH" value="51,52,53,55,59"/>
  <!--调整天数 -->
  <add key="AdjustDays" value="3"/>

  <!--中转仓库到北京仓库的送货周期（北京仓：3天） -->
  <add key="ZhongZhuanToBeiJing" value="3"/>

  <!--中转仓库到广州仓库的送货周期（广州仓：3天） -->
  <add key="ZhongZhuanToGuangZhou" value="3"/>

  <!--中转仓库到武汉仓库的送货周期（武汉仓：3天） -->
  <add key="ZhongZhuanToWuHan" value="3"/>
  <!--商家虚库列表-->
  <add key="MKTVirtualInventory" value="90,99"/>
  <!--泰隆真实仓库-->
  <add key="RealInventory" value="51"/>
</appSettings>