<?xml version="1.0"?>
<appSettings>
  <!--退款审核可以现金退款的支付方式编号，用逗号隔开-->
  <!--
    货到付款(OZZO奥硕物流)=2
    现金支付=3
    POS机刷卡=20
    宅急送(货到付款)=29
  -->
  <add key="SOIncomeRefundCanCashRefundPayType" value="3,20"/>

  <!--电汇银行多付退款可以现金退款的支付方式编号，用逗号隔开-->
  <!--
    货到付款(OZZO奥硕物流)=2
    现金支付=3
  -->
  <add key="PostPayCanCashRefundPayType" value="2,3"/>

  <!--
    银行-电汇支付方式系统编号
  -->
  <add key="BankAndPostPayTypeSysNo" value="6,7"/>
  <!--
    账期支付方式系统编号,多个支付方式之间用逗号隔开
  -->
  <add key="AccountPeriodPayTypeSysNo" value="4"/>

  <add key="PostIncomeFilesPath" value="../upload/Invoice_PostIncomeAttachments"/>

  <add key="ImportPostIncomeTemplate" value="/Download/Invoice/ImportPostIncomeTemplate.xls"/>

  <!--
     财务报表-导入运单号模板文件路径配置
  -->
  <add key="ImportTrackingNumberTemplate" value="/Download/Invoice/ImportTrackingNumberTemplate.xls"/>

  <!--
    确认淘宝订单收款单的用户系统编号
  -->
  <add key="TaobaoAccount" value="4000"/>

  <!--
    财务报表-导入运单号上传文件临时目录
  -->
  <add key="InvoiceReportFilesPath" value="../upload/Invoice_ReportAttachments"/>

  <!--
    财务报表-仓库系统编号和仓库名后缀映射关系配置
  -->
  <add key="InvoiceReportStockSuffixMap" value="51-SH;52-BJ;53-GZ;54-CD;55-WH;56-XA"/>

  <!--
    财务报表-“发票打印”支持的分仓配置
  -->
  <add key="InvoicePrintStocks-8601" value="51,59,90,99"/>

  <!--
    Vendor Portal SSB
  -->
  <add key="VendorPortal_SSB_Header_MsgType" value="ChangeInvoiceStatus" />

  
  <!--商户私钥路径-->
  <add key="priKeyPath" value="D:\ChinaPay\MerPrK_808080091393349_20130913151552.key"/>
  <!--<add key="priKeyPath" value="D:\ChinaPay\MerPrK_808080580108187_20120223155214.key"/>-->
  <!--商户公钥路径-->
  <add key="pubKeyPath" value="D:\ChinaPay\PgPubk.key"/>
  <!--MerId为ChinaPay统一分配给商户的商户号，15位长度，必填-->
  <add key="MerId" value="808080091393349"/>
  <!--单笔退款接口版本号，必填-->
  <add key="Version" value="20070129"/>
  <!--交易类型：0002为退款请求-->
  <add key="TransType" value="0002"/>
  <!--退款状态接收URL，可选，长度不要超过80个字节-->
  <add key="ReturnURL " value=""/>
  <!--退款成功的状态码-->
  <add key="RefundSuccessCode " value="1003"/>

  <!--东方支付开始-->
  <!--商户号-->
  <add key="SENDER_CODE" value="DCH0001"/>
  <!--一级商户代码-->
  <add key="SRC_NCODE" value="DCH0001"/>
  <!--二级商户代码-->
  <add key="REC_NCODE" value="DCH0001"/>
  <!--后台通知商户地址-->
  <add key="BGURL" value="http://116.228.78.171:8080/Payment/EasiPayRefundBack"/>  
  <!--签名密钥-->
  <add key="SecretKey" value="9b76428bb407c756c5522aa7b0c6d85dc8fc9925f441a26714a391112e79c1a340ee0fdf952ca8107e3e9c25ce45b260dfb3d244e9b27c7b7c01263d889762d4"/>  
  <!--提交退款数据的URL地址-->
  <add key="RefundUrl" value="https://uatb2c.easipay.net/ord/ordinary/refund.do"/>
  <!--提交查询数据的URL地址-->
  <add key="QueryUrl" value="https://uatb2c.easipay.net/webquery/trxTypeQuery.do"/>
  <!--提交对账数据的URL地址-->
  <add key="CheckUrl" value="https://uatb2c.easipay.net/webquery/trxRecon.do"/>
  <!--东方支付结束-->

  <!--财付通开始-->
  <!--商户号-->
  <add key="TenPayParnter" value="1900000109"/>
  <add key="TenPayParnterPwd" value="111111"/>
  <!--货币代码-->
  <add key="TenPayCurrency" value="1"/>
  <!--签名密钥-->
  <add key="TenPaySecretKey" value="8934e7d15453e97507ef794cf7b0519d"/>
  <!--提交退款数据的URL地址-->
  <add key="TenPayRefundUrl" value="https://mch.tenpay.com/refundapi/gateway/refund.xml"/>
  <!--提交查询数据的URL地址-->
  <add key="TenPayQueryUrl" value="https://gw.tenpay.com/gateway/normalorderquery.xml"/>
  <!--财付通退款后台通知URL地址-->
  <add key="TenPayRefundNotifyUrl" value="http://180.169.117.37:8080/Payment/TenPayRefundBack"/>
  <!--提交查询退款数据的URL地址-->
  <add key="TenPayQueryRefundUrl" value="https://gw.tenpay.com/gateway/normalrefundquery.xml"/>
  <!--财付通结束-->

  <!--支付宝退款-->
  <add key="AliapyParnter" value="2088021873407824"/>
  <add key="AlipaySecurityKey" value="jj8b2u9wgmpx3sw62cxlav7zyiogdklu"/>
  <!--支付宝退款-->
  
  <!--环迅退款-->
  <add key="IPSPartner" value="000015"/>
  <add key="IPSSecurityKey" value="GDgLwwdK270Qj1w4xho8lyTpRQZV9Jm5x4NwWOTThUa4fMhEBK9jOXFrKRT6xhlJuU2FEa89ov0ryyjfJuuPkcGzO5CeVx5ZIrkkt1aBlZV36ySvHOMcNv8rncRiy3DQ"/>
  <!--每分钟允许调用次数-->
  <add key="allowTimePer" value="10"/>
  <!--环迅退款-->
  
  <!--积分兑换比例-->
  <add key="PointExChangeRate" value="100.0" />

</appSettings>