<?xml version="1.0"?>
<appSettings>
    <add key="TopItemPreviewUrlBase4SubCategory" value="http://%ciotour_url%/SubCategory/{0}-{1}.htm?pageSize={2}"/>
    <add key="TopItemPreviewUrlBase4Category" value="http://%ciotour_url%/Category/{0}-{1}.htm?pageSize={2}"/>
    <add key="AdvertiserEffectLink" value="http://%ciotour_url%/mkt/queryadveffect.aspx"/>
    <!--礼品卡-->
    <add key="C3SysNoForGiftCardFabrication" value="11295"/>
    <!--1214开发数据1109测试数据-->
  <add key="CurrencySysNoForGiftCardFabrication" value="1"/>
  <add key="VendorSysNoForGiftCardCreatePO" value="1"/>
  <add key="VendorSysNoForGiftCardFabrication" value="1"/>
  <add key="ManufacturerSysNoForGiftCardFabrication" value="1"/>
  <add key="SettlementCompanyForGiftCardFabrication" value="3201"/>
  <add key="StockSysNoForGiftCardFabrication" value="51"/>
  <add key="CountDownMailGroup" value="cn.salesTL@newegg.com"/>
  <add key="PostSegmentInfoFilesPath" value="MKT_PostSegmentInfoAttachments"/>
  <add key="PostProductKeywordsFilePath" value="MKT_PostProductKeywordsAttachments"/>
  <add key="PostCountDownFilePath" value="MKT_PostCountDownAttachments"/>
  <add key="ProductKeywordsExcelBatchCount" value="1000"/><!--导入产品页面关键字-->
  <add key="CountDownMargin" value="200"/>
  <add key="CountDownMarginRate" value="1"/>
  <add key="BannerUpLoadBaseFolder" value="D:\Banner\"/>
  <add key="BannerUpLoadUseUrl" value="http://img.dchyp.com.qa/"/>
  <add key="UnifiedImageUpLoadBaseFolder" value="D:\UnifiedImage\"/>
</appSettings>