<?xml version="1.0"?>
<appSettings>
  <add key="GatherItemsCount" value="1000"/>

  <!--在保存，作废，CSMemo的时候 邮件发送地址-->
  <add key="VSPO_Message_Email_From" value="oyshopping@oysd.com"/>
  <add key="VSPO_Message_Email_To" value="Vincent.Y.Wan@newegg.com"/>
  <add key="EnablePOOfflineDebugging" value="false"/>
  <add key="ExchangeRate" value="100m"/>
  <add key="ExchangeRatePointToAmt" value="0.01m"/>
  <add key="SSB_Namespace" value="http://soa.newegg.com/SOA/USA/InfrastructureService/V30/PubSubService"/>



  <!--PO单关闭，发送SSB到wms-->
  <add key="Po_Close_SSB_FromService" value="http://soa.newegg.com/SOA/USA/InventoryManagement/V30/E5DBS01/NeweggOZZOService" />
  <add key="Po_Close_SSB_ToService" value="http://soa.newegg.com/SOA/USA/InfrastructureService/V30/PubSubService" />
  <add key="Po_Close_SSB_ArticleCategory" value="WMS" />
  <add key="Po_Close_SSB_ArticleType1" value="Download" />
  <add key="Po_Close_SSB_ArticleType2" value="Newegg" />
  <add key="Po_Close_SSB_DataBaseName" value="NCService" />
  <add key="Po_Close_SSB_MessageHead_Type" value="POClose" />
  <add key="Po_Close_SSB_MessageHead_Version" value="1.0" />

  <!--PO等待入库，发送SSB到wms-->

  <add key="Po_WaitingInStock_SSB_FromService" value="http://soa.newegg.com/SOA/USA/InventoryManagement/V30/E5DBS01/NeweggOZZOService" />
  <add key="Po_WaitingInStock_SSB_ToService" value="http://soa.newegg.com/SOA/USA/InfrastructureService/V30/PubSubService" />
  <add key="Po_WaitingInStock_SSB_ArticleCategory" value="WMS" />
  <add key="Po_WaitingInStock_SSB_ArticleType1" value="Download" />
  <add key="Po_WaitingInStock_SSB_ArticleType2" value="Newegg" />
  <add key="Po_WaitingInStock_SSB_DataBaseName" value="NCService" />
  <add key="Po_WaitingInStock_SSB_MessageHead_Version" value="1.0" />


  <!--Vendor Portal SSB-->
  <add key="VendorPortal_SSB_FromService" value="http://soa.newegg.com/SOA/USA/InvoiceReceiptManagement/V30/E5DBS01/VP_ProcessInvoiceMessageService" />
  <add key="VendorPortal_SSB_ToService" value="http://soa.newegg.com/SOA/USA/InfrastructureService/V30/PubSubService" />
  <add key="VendorPortal_SSB_Header_MsgType" value="ChangePOStatus" />
  <add key="VendorPortal_SSB_Header_Version" value="1.0" />
  <add key="VendorPortal_SSB_Header_ArticleCategory" value="VendorPortal" />
  <add key="VendorPortal_SSB_Header_ArticleType1" value="InvoiceManagement" />
  <add key="VendorPortal_SSB_Header_ArticleType2" value="Download" />
  <add key="VendorPortal_SSB_Header_DataBaseName" value="NCService" />
  <add key="VendorPortal_SSB_LanguageCode" value="CH" />
  <add key="VendorPortal_SSB_Sender" value="VendorPortal" />
  <add key="VendorPortal_SSB_CompanyCode" value="8601" />
  <add key="VendorPortal_SSB_Namespace" value="" />


  <add key="PoItemCountNumber" value="80" />
  <add key="PoSettleCount" value="200" />
  <add key="VendorCreateUserSysNo" value="3344"/>
  <add key="BannedCharacters" value="B,I,O"/>
  <add key="VendorAttachmentFilesPath" value="upload\PO_VendorAttachments"/>
  <add key="BasketTemplateFileDownloadPath" value="Download/PO/PO_BasketTemplate.xls"/>
  <add key="VendorFinanceMailTo" value="ne-cn.fin.ap@newegg.com;cn.com.pmd@newegg.corp;cn.com.ssc@newegg.com" />
  <add key="ValidStockSysNo" value="51,61,62"/>

  <add key="ManualSettleCommissionPayType" value="12,71"/>
  <add key="Po_CreatePO_InvaildStocks" value="54"/>
</appSettings>