<?xml version="1.0"?>
<appSettings>
  <!--<add key="" value=""/>-->
  <add key="OldMaxReceiveTime" value="2010-02-23 10:00:00"/>
  <add key="TaoBaoAutoAccount" value="TaoBaoAuto|TaoBaoAuto|bitkoo|8601"/>
  <add key="OutBoundNotReturnEmails" value="anders.x.hu@newegg.com"/>
  <add key="StockSysNo" value="51"/>
  <add key="PushShipTypeName" value="上门取件"/>
  <add key="AutoRMALoginUserName" value="RMAAuto"/>
  <add key="AutoRMAPhysicalUserName" value="RMAAuto"/>
  <add key="AutoRMASourceDirectoryKey" value="Bitkoo"/>
  <!--SellerPortal创建物流拒收使用的用户编号-->
  <add key="AutoRMAUserSysNo" value="447"/>
  <!--礼品券支付方式编号-->
  <add key="GiftVoucher_PayTypeSysNo" value="203"/>
</appSettings>