<?xml version="1.0"?>
<appSettings>
  <!--电子卡默认出库仓库-->
  <add key="ElectronicCardDefaultStockSysNo" value="51"/>
  <!--促销活动折扣比率-->
  <add key="ProductDiscountRatio" value="0.02"/>
  <!--账期支付类型的ID-->
  <add key="CreditPayTypeID" value="0004"/>
  <!--积分与钱的比率-->
  <add key="PointToMoneyRatio" value="10"/>
  <!--投诉来源类型默认值-->
  <add key="ComplainSourceTypeDefault" value="电话"/>
  <!--推荐人加经验值比例-->
  <add key="RecommendExperienceRatio" value="0.1"/>
  <!--大件商品重量-->
  <add key="LargeProductWeight" value="5000"/>
  <!--订单跟踪类型—补发赠品-->
  <add key="InternalMemo_CallType_GiftSO" value="13"/>
  <!--赠品订单支付方式-->
  <add key="GiftSO_PayTypSysNo" value="34"/>
  <!--赠品订单运送方式-->
  <add key="GiftSO_ShipTypeSysNo" value="6"/>
  <!--上海分期支付类型编号-->
  <add key="NEG_SH_InstalmentPayTypes" value="24,28,31,32,35,36,41,42,43"/>
  <!--上海自提运送方式编号-->
  <add key="NEG_SH_SelfTake_ShipSysNo" value="13"/>
  <!--不提供增值税发票的仓库-->
  <add key="NEG_NotVAT_StockSysNoList" value="52,53"/>
  
  <add key="NEG_BuyMobileSettlementSO_PayTypeSysNo" value="72"/>
  <add key="NEG_BuyMobileSettlementSO_CustomerSysNo" value="14610683"/>

  <!--泰隆优选的电子卡 的ProductID是固定的  所以需要配置起来-->
  <add key="SOElectronicCard_ProductID" value="GC-001-001"/>
  <add key="SOElectronicCard_ProductSysNo" value="111246"/>
  <add key="SOElectronicCard_ProductName" value="泰隆优选电子礼品卡"/>
  
  <!--泰隆优选的实物卡 的ProductID的开头几位是固定的  所以需要配置起来-->
  <add key="SOPhysicalCard_ProductID_Prefix" value="GC-002-"/>

  <!--订单出库相关配置-->
  <add key="OrderBizConfig">
    <![CDATA[  
    <OrderBizConfig>
      <OldChangeNewConfig Title="家电以旧换新上限">
        <OldChangeNewAllowance ID="712"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="990"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1027"  AllowanceLimit="300" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1028"  AllowanceLimit="300" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1029"  AllowanceLimit="300" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1030"  AllowanceLimit="300" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1031"  AllowanceLimit="300" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1024"  AllowanceLimit="250" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1025"  AllowanceLimit="250" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1066"  AllowanceLimit="250" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="970"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="976"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1051"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="977"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="978"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="1038"  AllowanceLimit="400" ></OldChangeNewAllowance>
        <OldChangeNewAllowance ID="870"  AllowanceLimit="400" ></OldChangeNewAllowance>
      </OldChangeNewConfig>
      <OrderDateConfig Title="订单下单时间段">
        <OrderDateSpan ID="ST01"  value="09:00" ></OrderDateSpan>
        <OrderDateSpan ID="ST02"  value="09:30" ></OrderDateSpan>
        <OrderDateSpan ID="ED01"  value="18:00" ></OrderDateSpan>
      </OrderDateConfig>
      <SellerPortalUserInfo>
        <FromSystem>127.0.0.1</FromSystem>
        <CompanyCode>8601</CompanyCode>
        <UserFullName>IPPSystemAdmin</UserFullName>
        <UserSysNo>2758</UserSysNo>
        <LogUserName>IPPSystemAdmin</LogUserName>
        <SourceDirectoryKey>bitkoo</SourceDirectoryKey>
        <SourceUserName>IPPSystemAdmin</SourceUserName>
        <UniqueUserName>IPPSystemAdmin</UniqueUserName>
      </SellerPortalUserInfo>
    </OrderBizConfig>
    ]]>
  </add>
  
  <!--JOB_CPS订单发送-->
  <add key="SOJob_CPSSend_Proxy" value="10.16.0.140:8080"/>
  <add key="SOJob_CPSSend_UserName" value="ww44"/>
  <add key="SOJob_CPSSend_Password" value="newegg@cn111"/>

  <!--JOB_InternalMemo报表-->
  <add key="SOJob_InternalMemoReport_TimeSpan" value="60"/>
  <!--作废渠道订单时，不生成AO-->
  <add key="ThirdPart_AbandonOrderNoCreateAO" value="TaoBao"/>
  <!--作废订单时同时作废财务收款单，适用于渠道订单属于帐期结算类型的-->
  <add key="ThirdPart_AbandonOrderWithSOIncome" value=""/>
  <add key="SOJob_AutoAudit_TopCount" value="2"/>
  
  <add key="SystemUserSysNo" value="1"/>

  <!--顺丰物流结果查询配置Start-->
  <!--请求地址-->
  <add key="SFExpressQueryHost" value="http://bsp-oisp.test.sf-express.com:6080/bsp-oisp/ws/expressService?wsdl" />
  <!--调用方法-->
  <add key="SFExpressAction" value="sfexpressService" />
  <!--调用方法-->
  <add key="SFExpressRequestService" value="RouteService" />
  <!--调用方法-->
  <add key="SFExpressRequestLang" value="zh-CN" />
  <!--调用方法-->
  <add key="SFExpressCustomerID" value="SHHYCM" />
  <!--调用方法-->
  <add key="SFExpressCheckWord" value="7zhA1SIBWUwrETn6" />
  <!--顺丰物流结果查询配置End-->

  <!--圆通物流结果查询配置Start-->
  <!--请求地址-->
  <add key="YTExpressQueryHost" value="http://58.32.246.92:9081/ordws/Vip15Servlet" />
  <!--vip客户标识(客户编号)-->
  <add key="YTExpressClientID" value="TEST" />
  <add key="YTExpressParternID" value="123456" />
  <!--物流公司编号-->
  <add key="YTExpressLogisticProviderID" value="YTO" />
  <!--圆通物流结果查询配置End-->

  <!--东方支付订单申报配置Start-->
  <!--请求地址-->
  <add key="EasiPayDeclareOrderConfigRequestUrl" value="http://61.152.165.77:8081/cboi/order/orderlist.htm" />
  <!--密钥-->
  <add key="EasiPayDeclareOrderConfigSecretKey" value="y4695c51qH71ZW27881R03uZ089v21Gtdfd" />
  <!--网关版本-->
  <add key="EasiPayDeclareOrderConfigVersion" value="v1.2" />
  <!--企业名称-->
  <add key="EasiPayDeclareOrderConfigCompanyName" value="泰隆优选" />
  <!--企业代码-->
  <add key="EasiPayDeclareOrderConfigCompanyCode" value="DCH0001" />
  <!--发件地信息，格式：Sender_仓库编号_字段名称-->
  <add key="EasiPayDeclareOrderConfig_Sender_52_SenderName" value="賴冠仁"/>
  <add key="EasiPayDeclareOrderConfig_Sender_52_SenderTel" value="54225258"/>
  <add key="EasiPayDeclareOrderConfig_Sender_52_SenderCompanyName" value="网信（香港）有限公司"/>
  <add key="EasiPayDeclareOrderConfig_Sender_52_SenderAddr" value="香港新界元朗工業村福喜街67-73號"/>
  <add key="EasiPayDeclareOrderConfig_Sender_52_SenderZip" value="999077"/>
  <add key="EasiPayDeclareOrderConfig_Sender_52_SenderCity" value="香港"/>
  <add key="EasiPayDeclareOrderConfig_Sender_52_SenderProvince" value="中国香港"/>
  <!--发件地日本仓-->
  <add key="EasiPayDeclareOrderConfig_Sender_51_SenderName" value="GuoRui Xu"/>
  <add key="EasiPayDeclareOrderConfig_Sender_51_SenderTel" value="03-3560-8543"/>
  <add key="EasiPayDeclareOrderConfig_Sender_51_SenderCompanyName" value="大昌行日本株式会社"/>
  <add key="EasiPayDeclareOrderConfig_Sender_51_SenderAddr" value="DAH CHONG No.2 BLDG.5F Roppongi 5-18-2 Minato-ku Tokyo"/>
  <add key="EasiPayDeclareOrderConfig_Sender_51_SenderZip" value="106-0032"/>
  <add key="EasiPayDeclareOrderConfig_Sender_51_SenderCity" value="日本"/>
  <add key="EasiPayDeclareOrderConfig_Sender_51_SenderProvince" value="Tokyo"/>
  <!--发件地通用配置-->
  <add key="EasiPayDeclareOrderConfig_CountryCode_CH" value="CH"/>
  <add key="EasiPayDeclareOrderConfig_CountryCode_HK" value="HKG"/>
  <add key="EasiPayDeclareOrderConfig_CountryCode_JP" value="JPN"/>
  <!--海关关区代码-->
  <add key="EasiPayDeclareOrderConfigCustCode" value="2244" />
  <!--操作编码-->
  <add key="EasiPayDeclareOrderConfigOperationCode" value="1" />
  <!--支付方式-->
  <add key="EasiPayDeclareOrderConfigPayMethod" value="EASIPAY" />
  <!--企业支付名称-->
  <add key="EasiPayDeclareOrderConfigPayMerchantName" value="株式会社大昌贸易行" />
  <!--企业支付编号-->
  <add key="EasiPayDeclareOrderConfigPayMerchantCode" value="2029182" />
  <!--付款币种-->
  <add key="EasiPayDeclareOrderConfigPayCUR" value="CNY" />
  <!--东方支付订单申报配置End-->
  <!--东方支付支付申报配置Start-->
  <!--东方支付支付方式编号-->
  <add key="EasiPayDeclarePaymentConfigEasiPayID" value="111"/>
  <add key="EasiPayDeclarePaymentConfigRequestUrl" value="http://61.152.165.77:8081/cboi/result/payResPage.htm"/>
  <!--东方支付支付申报配置End-->
  <!--东方支付商品申报配置Start-->
  <add key="EasiPayDeclareProductConfigVersion" value="v1.2" />
  <add key="EasiPayDeclareProductConfigRequestUrl" value="http://61.152.165.77:8081/cboi/cargo/cargolist.htm"/>
  <!--东方支付商品申报配置End-->

<!--快递100物流结果查询配置Start-->
  <add key="KuaiDi100QueryApiurl" value="http://www.kuaidi100.com/applyurl?key={0}&amp;com={1}&amp;nu={2}" />
  <add key="KuaiDi100QueryApiKey" value="642f482a28d7d8ab" />
<!--快递100物流结果查询配置end-->
<!--促销活动里的商品是否支持付款后扣减在线库存【支持：true或不支持：false】必须和Web端配置保持一致Start-->
  <add key="PaymentInventory" value="true"/>
<!--促销活动里的商品是否支持付款后扣减在线库存【支持：true或不支持：false】必须和Web端配置保持一致end-->
</appSettings>