<?xml version="1.0"?>
<appSettings>
  <!--代理设置-->
  <add key="IsUseProxy" value="true"/>
  <add key="ProxyUrl" value="http://STPROXY:8080/"/>
  <add key="ProxyUserID" value="eggdpm"/>
  <add key="ProxyPassword" value="123.qwe"/>

  <!--联通登陆信息-->
  <add key="UnicomURL" value="http://218.249.15.79:8080/shop/servlet/com.forlink.jsuc.comm.server.TunnelServer"/>
  <add key="UnicomAccountID" value="xindan"/>
  <add key="UnicomPassword" value="xindan"/>
  <add key="UnicomAgentKey" value="201103110001813304"/>

  <!--神州积分联盟配置信息-->
  <!--单独配置代理信息-->
  <add key="SZPointAlliance_IsUseProxy" value="true"/>
  <add key="SZPointAlliance_ProxyUrl" value="http://STPROXY:8080/"/>
  <add key="SZPointAlliance_ProxyUserID" value="eggdpm"/>
  <add key="SZPointAlliance_ProxyPassword" value="123.qwe"/>
  <!--退预付卡接口-->
  <!--<add key="SZPointAlliance_RefundPrepaidCard" value="http://ce9com.oicp.net:99/refund.php" />-->
  <add key="SZPointAlliance_RefundPrepaidCard" value="http://pcunion.ce9.com/refund.php" />
  <add key="SZPointAlliance_MerchantID" value="20003" />
  <!--<add key="SZPointAlliance_Key" value="kb87ny83jgbg2r27jtw28vjh38gf1b95" />-->
  <add key="SZPointAlliance_Key" value="d8wjuhy9g9709ru3ha99djfs9i034jkd" />
  <add key="SZPointAlliance_ChannelType" value="ct002"/>
</appSettings>