<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <oversea>
    <!--<globalSettings filePath="D:\APP\IPP\Config\GlobalSettings.config"/>-->
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <logSettings localRegionName="ContentMgmt"/>
    <dataAccessSettings DataCommandFile="DataAccess\Configuration\JobProductRequestDbCommandFiles.config"/>
  </oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
  <appSettings>
    <add key="ConsumerName" value="CN.ContentMgmt.UI.IPP01" />
    
    <add key="CompanyCode" value="8601"/>
    <add key="CommonRestFulBaseUrl" value="http://10.16.40.33:6001/CommonService/"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
    
    <add key="ErrSleep" value="3"/>
    <add key="MaxErr" value="3"/>
    <add key="DateLen" value="1"/>
    <add key="EmailFrom" value="Service@Newegg.com"/>
    <add key="EmailTo" value="Aven.X.Jin@newegg.com"/>
    <add key="EmailCC" value="King.B.Wu@newegg.com"/>
    <add key="SCGlobalConfig" value="D:\APP\IPP\Config\GlobalSettings.config"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
