<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetGiftCardFabricationMaster" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
GM.SysNo AS GiftCardFabricationSysNo, sum(ISNULL(GI.Quantity,0)) AS TotalCount
 FROM [OverseaContentManagement].[dbo].[GiftCardFabrication_Master] GM WITH(NOLOCK)
LEFT JOIN [OverseaContentManagement].[dbo].[GiftCardFabrication_Item] GI WITH(NOLOCK) ON 
GM.SysNo = GI.GiftCardFabricationSysNo
INNER JOIN [OverseaPOASNManagement].[dbo].[V_PM_POMaster] PV WITH(NOLOCK) ON GM.POSysNo = PV.SysNo
WHERE PV.Status = 3 AND GM.Status <> 1 AND GM.CompanyCode=@CompanyCode GROUP BY GM.SysNo
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="String" />
    </parameters>
  </dataCommand>



  <dataCommand name="GetGiftCardFabricationItem" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
        SELECT 
        PG.SysNo AS ProductSysNo, PG.ProductID,
        PP.Price AS CurrentPrice,
        PG.ProductDesc,ISNULL(GI.Quantity,0) AS Quantity
        FROM
        IPP3.[dbo].Product PG WITH(NOLOCK) 
        LEFT JOIN OverseaECommerceManagement.dbo.GiftVoucherProduct PP WITH(NOLOCK) ON PG.SysNo = PP.ProductSysNo
        LEFT JOIN [OverseaContentManagement].[dbo].[GiftCardFabrication_Item] GI WITH(NOLOCK) ON PG.SysNo = GI.ProductSysNo AND GI.GiftCardFabricationSysNo = @GiftCardFabricationSysNo
        WHERE PG.SysNo IN (
        SELECT GI.ProductSysNo
          FROM [OverseaContentManagement].[dbo].[GiftCardFabrication_Item] GI WITH(NOLOCK) WHERE GI.GiftCardFabricationSysNo = @GiftCardFabricationSysNo)
        AND PG.CompanyCode = @CompanyCode AND PG.ProductType = 0 AND PG.Status IN (0,1) AND PG.C3SysNo = @C3SysNo AND PG.ManufacturerSysNo=@ManufacturerSysNo
        AND GI.Quantity > 0
	  ]]>
    </commandText>
    <parameters>
      <param name="@GiftCardFabricationSysNo" dbType="Int32" />
      <param name="@ManufacturerSysNo" dbType="Int32" />
      <param name="@C3SysNo" dbType="Int32" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" />
    </parameters>
  </dataCommand>


  <dataCommand name="GiftCardFabrication_ECOperateGiftCard" database="OverseaContentManagement" commandType="StoredProcedure">
    <commandText>
      OverseaECommerceManagement.dbo.UP_OperateGiftCard
    </commandText>
    <parameters>
      <param name="@Msg" dbType="Xml"/>
      <param name="@StatusCode" dbType="AnsiStringFixedLength" size="2" direction="Output" />
    </parameters>
  </dataCommand>

  
  <dataCommand name="CheckGiftCardInfo" database="OverseaContentManagement"  commandType="Text">
    <commandText>
      <![CDATA[
        SELECT count(Code) AS TotalPass FROM OverseaECommerceManagement.dbo.GiftCardCodePool WITH(NOLOCK) WHERE Status ='A'
        ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetPassGiftCardInfo" database="OverseaContentManagement"  commandType="Text">
    <commandText>
      <![CDATA[
        SELECT COUNT(Code) AS PassCount FROM [OverseaECommerceManagement].[dbo].[GiftCardInfo]  WITH(NOLOCK)
      WHERE ReferenceId = @GiftCardFabricationSysNo AND CompanyCode=@CompanyCode
        ]]>
    </commandText>
    <parameters>
      <param name="@GiftCardFabricationSysNo" dbType="Int32" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

</dataOperations>