@using ECommerce.Entity.Store
@model StorePageElement

<div class="store_ele_cmnbox mb10">
    <h2 class="ele_caption"><span class="cpt_tit">@Model.ShowTitle</span></h2>
    <div class="ele_cont">
        <div class="contact_box cls">
            <div class="contact_item">
                @{
                    var html = HttpUtility.HtmlDecode(Model.DataValue);
                    html = html.Replace("\\\"", "\"").Trim(new char[] { '"' });
                }
                @Html.Raw(html)
            </div>
        </div>
    </div>
</div>
