<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
		<section name="ServiceJobSection" type="IPP.CN.ECommerceMgmt.AutoCommentShow.Providers.ServiceJobSection,IPP.CN.ECommerceMgmt.AutoCommentShow"/>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<ServiceJobSection>
		<JobProviders>
			<add name="ProviderAutoCommentShow" type="IPP.CN.ECommerceMgmt.AutoCommentShow.Providers.ServiceJobProviderShowComment,IPP.CN.ECommerceMgmt.AutoCommentShow"/>
		</JobProviders>
		<JobCollection>
			<add jobName="JobProviderAutoCommentShow" jobType="Repeter" runTime="5:00;00" provider="ProviderAutoCommentShow" errorLog="Log\AutoCommentShow_Error.txt" infoLog="Log\AutoCommentShow_Info.txt" bizLog="Log\AutoCommentShow_Biz.txt"/>
		</JobCollection>
	</ServiceJobSection>
	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="ECommerceMgmt"/>
		<dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
	</oversea>
	<appSettings>
		<add key="BizLogFile" value="Log\AutoShowCommentBiz.log"/>
		<!--发送邮件开关-->
		<add key="SendMailFlag" value="True"/>

		<!--按照会员级别赠送的经验评论积分-->
		<add key="JuniorMember" value="1"/>
		<add key="BronzeMember" value="3"/>
		<add key="GoldMember" value="5"/>
		<add key="DiamondMember" value="10"/>
		<add key="SuperEggMember" value="15"/>		
		
		<!--发送邮件地址-->
		<add key="MailAddress" value="Kathy.Y.Gao@newegg.com;Ken.C.Li@newegg.com"/>
		<!--发送邮件CC地址-->
		<add key="CCMailAddress" value="Smith.Y.Cui@newegg.com;Tom.D.Zhou@newegg.com;Gamal.H.Hu@newegg.com"/>
		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<add key="ConsumerName" value="CN.ECommerceMgmt.UI.IPP01"/>	
		
		<add key="RepeatTime" value="60"/>
		<!--系统添加商品推荐管理item 的优先级-->
		<!--companycode-->
		<add key="CompanyCode" value="8601"/>
		<!--languagecode-->
		<add key="LanguageCode" value="zh-CN"/>
		<!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
		<add key="SendMailUserDisplayName" value="AuthCenterAdmin"/>
		<add key="SendMailUserLoginName" value="AuthCenterAdmin"/>
		<add key="SendMailCompanyCode" value="1014"/>
		<add key="SendMailStoreCompanyCode" value="1014"/>
		<add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="CustomerRestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/CustomerService/"/>
	</appSettings>
	
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
