<?xml version="1.0" encoding="utf-8" ?>
<root>
  <!--泰隆优选网站的正式地址-->
  <domain>http://www.tlyh.com/</domain>
  <!--泰隆优选网站的routeConfig文件-->
  <route>D:\mywork\TLYH\03_Code\01_Front\10_Website\Nesoft.ECWeb.UI\Configuration\Route.config</route>
  <!--sitemap xml save path,不需要修改-->
  <path>
    <value>sitemap.xml</value>
  </path>

  <!--sitemap.xml需要复制的目标地址-->
  <copyTo>
    <value>d:/test.xml</value>
    <value>d:/test2.xml</value>
  </copyTo>
   
</root>