html, body {
    height: 100%;
    overflow: auto;
}
body {
    padding: 0;
    margin: 0;
    min-width: 1024px;
    width: 100%;
    min-height: 570px;
    height: 100%;
}
object {
    display: block;
}

#silverlightControlHost 
{
    text-align:center;
    width: 100%;
    height: 100%;
}
#_sl_historyFrame {
    visibility:hidden;
    width:0px;
    height:0px;
    display:none;
    border:0px;
}
#silverlightControlHostObject
{
    text-align:center;
    min-width: 800px;
    width: 100%;
    min-height: 570px;
    height: 100%;
}
