body
{
    background-color: #F1F1F1;
    padding: 0 0 0 0;
    margin: 5px;
    font-size: 12px;
    font-family: Tahoma, 宋体;
}

.text
{
    width: 100%;
    padding: 4px 3px;
    border: 1px solid #BBB;
    font-size: 14px;
    font-family:Tahoma, 宋体;
}

.layout-grid
{
    width: 100%;
}


.layout-grid .left-button
{
    width: 100px;
}

.layout-grid .right-input
{
    width: 100%;
}

.layout-grid .right-input .table-text
{
    margin-left: 15px;
}

#tabs
{
    margin-top: 10px;
}
