<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--获取所有评论商品的评论人等级、商品编号，商家，商家类型等信息-->
  <dataCommand name="GetCommentListByDate" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      SELECT 
          A.SysNo 
         ,B.[Rank] 
         ,A.ProductSysNo 
         ,A.CustomerSysNo
         ,A.SoSysNo
         ,p.MerchantSysNo 
         ,v.VendorType 
      FROM OverseaECommerceManagement.dbo.ProductReview_Detail A WITH(NOLOCK) 
      INNER JOIN OverseaCustomerManagement.dbo.V_CUM_CustomerBaseInfo B WITH(NOLOCK) 
          ON B.SysNo = A.CustomerSysNo 
          AND B.CompanyCode = A.CompanyCode 
      INNER JOIN OverseaContentManagement.dbo.V_CM_ItemBasicInfo p WITH(NOLOCK) 
          ON p.SysNo=A.ProductSysNo  AND p.CompanyCode = A.CompanyCode 
      LEFT JOIN IPP3.dbo.Vendor v WITH(NOLOCK) 
          ON v.sysno=p.MerchantSysNo  
          AND V.CompanyCode = A.CompanyCode 
      WHERE 
          A.[Status] = 'A'   
          AND A.ObtainPoint = 0  
          and A.indate>='2011-7-1'
          AND A.CompanyCode = @CompanyCode
	  ]]>
    </commandText>
    <parameters>
      <!--<param name="@StartDate" dbType="DateTime"/>
      <param name="@EndDate" dbType="DateTime" size="50"/>-->
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

  <!--获取所有有被评论的商品编号-->
  <dataCommand name="GetCommentProductSysNoList" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT ProductSysNo FROM OverseaECommerceManagement.dbo.ProductReview_Detail WITH(NOLOCK)
      WHERE [Status] = 'A' AND CompanyCode = @CompanyCode
      GROUP BY ProductSysNo 
      ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>  

  <!--取得每组的没发过积分的top 5 评论-->
  <dataCommand name="GetTop5CommentByGroupSysNo" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[
SELECT  
    [SysNo]   
   ,[InDate] 
   ,[EditDate] 
   ,[ProductSysNo] 
   ,[CustomerSysNo] 
   ,[Rank] 
   ,ProductGroupSysNo
   ,VendorType
   ,ObtainPoint
FROM (        
      SELECT TOP 5 
          pr.[SysNo]   
         ,pr.[InDate] 
         ,pr.[EditDate] 
         ,pr.[ProductSysNo] 
         ,pr.[CustomerSysNo] 
         ,C.[Rank] 
         ,p.ProductGroupSysNo
         ,v.VendorType
         ,pr.ObtainPoint
      FROM OverseaECommerceManagement.dbo.ProductReview_Detail pr WITH(NOLOCK) 
      INNER JOIN OverseaCustomerManagement.dbo.V_CUM_CustomerBaseInfo C WITH(NOLOCK) 
          ON C.SysNo = pr.CustomerSysNo  AND C.CompanyCode=pr.CompanyCode
      INNER JOIN OverseaContentManagement.dbo.V_CM_AllProductInfo p WITH(NOLOCK) 
          ON p.ProductSysNo=pr.ProductSysNo  AND p.CompanyCode=pr.CompanyCode
      INNER JOIN IPP3.dbo.Vendor v WITH(NOLOCK) 
          ON v.SysNo=p.MerchantSysNo AND v.CompanyCode=pr.CompanyCode
      WHERE  pr.status='A'      
      AND p.ProductGroupSysNo=@GroupSysNo  
      AND pr.CompanyCode=@CompanyCode
      ORDER BY pr.indate
     ) a 
WHERE  Indate>'2010-12-2' 
 AND SysNo NOT IN ( 
                  SELECT  
                      RefSysno 
                  FROM OverseaECommerceManagement.dbo.ProductReview_PointLog prlog WITH(NOLOCK) 
                  INNER JOIN OverseaECommerceManagement.dbo.ProductReview_Detail prd  WITH(NOLOCK) 
                      ON prd.sysno=prlog.RefSysno 
                  INNER JOIN OverseaContentManagement.dbo.V_CM_AllProductInfo pp WITH(NOLOCK) 
                      ON pp.ProductSysNo=prd.ProductSysNo 
                  WHERE  prlog.[type]='5' AND pp.ProductGroupSysNo=ProductGroupSysNo
               )
  AND  ObtainPoint<>0
ORDER BY InDate,EditDate
      ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@GroupSysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>

  <!--查找最有用的积分,排除以前已经设置过的最有用的状态的日志-->
  <dataCommand name="GetMostUsefulCommentList" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT A.SysNo
            ,B.[Rank]
            ,A.ProductSysNo
            ,A.CustomerSysNo
            ,v.VendorType
      FROM OverseaECommerceManagement.dbo.ProductReview_Detail A WITH(NOLOCK)
      INNER JOIN OverseaCustomerManagement.dbo.V_CUM_CustomerBaseInfo B WITH(NOLOCK)
      ON B.SysNo = A.CustomerSysNo AND B.CompanyCode = @CompanyCode
      INNER JOIN OverseaContentManagement.dbo.V_CM_ItemBasicInfo p WITH(NOLOCK) 
          ON p.SysNo=A.ProductSysNo  AND p.CompanyCode = A.CompanyCode 
      LEFT JOIN IPP3.dbo.Vendor v WITH(NOLOCK) 
          ON v.sysno=p.MerchantSysNo AND V.CompanyCode = A.CompanyCode 
      WHERE A.[Status] = 'A' 
      AND A.MostUseful=2
      AND A.CompanyCode = @CompanyCode
      AND A.Sysno NOT IN 
      (SELECT refSysno FROM OverseaECommerceManagement.dbo.ProductReview_PointLog WHERE [type]='U')
      ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

  <!--更新获得的积分-->
  <dataCommand name="UpdateProductReviewObtainPoint" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE OverseaECommerceManagement.dbo.ProductReview_Detail 
      SET ObtainPoint = ObtainPoint + @ObtainPoint
      WHERE SysNo = @SysNo AND CompanyCode = @CompanyCode
      ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32"/>
      <param name="@ObtainPoint" dbType="Int32"/>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@EditUser" dbType="String" size="100"/>
    </parameters>
  </dataCommand>

  <!--插入积分日志表-->
  <dataCommand name="InsertPointLog" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [OverseaECommerceManagement].[dbo].[ProductReview_PointLog]
           ([RefSysNo]
           ,[Point]
           ,[Type]
           ,[InDate]
           ,[InUser]
           ,[EditDate]
           ,[EditUser]
           ,[CompanyCode])
      VALUES
           (@ReviewSysNo
           ,@Point
           ,@Type
           ,GETDATE()
           ,@EditUser
           ,GETDATE()
           ,@EditUser
           ,@CompanyCode)
           ]]>
    </commandText>
    <parameters>
      <param name="@ReviewSysNo" dbType="Int32"/>
      <param name="@Point" dbType="Int32"/>
      <param name="@Type" dbType="AnsiStringFixedLength" size="1"/>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@EditUser" dbType="String" size="100"/>
    </parameters>
  </dataCommand>

  <!--查找用户中有效积分-->
  <dataCommand name="GetMKTTopicPoint" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT CustomerID SystemID
              ,ValidScore SystemPoint
        FROM IPP3.dbo.Customer  WITH(NOLOCK)
        WHERE CustomerID =@CustomerID1 OR CustomerID=@CustomerID2
         AND CompanyCode = @CompanyCode
      ]]>
    </commandText>
    <parameters>
      <param name="@CustomerID1" dbType="String" />
      <param name="@CustomerID2" dbType="String" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

  <!--发送Email-->
  <dataCommand name="SendMailInfo" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
	INSERT INTO [MailDB].[dbo].[AsyncEmail_Internal]
           ([MailAddress]          
           ,[MailSubject]
           ,[MailBody]
           ,[Status]
           ,[Priority]      
           ,[CreateTime]
           ,[CompanyCode]
           ,[LanguageCode]
           ,[StoreCompanyCode])
     VALUES
           (@MailAddress        
           ,@MailSubject
           ,@MailBody
           ,0
           ,1
           ,getdate()
           ,@CompanyCode
           ,@LanguageCode
           ,@CompanyCode)
			 ]]>
    </commandText>
    <parameters>
      <param name="@MailAddress" dbType="String" />
      <param name="@MailSubject" dbType="String" />
      <param name="@MailBody" dbType="String" />
      <param name="@CompanyCode" dbType="String"/>
      <param name="@LanguageCode" dbType="String"/>
    </parameters>
  </dataCommand>

  <!--获取所有的商品组-->
  <dataCommand name="GetAllGroup" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
      SELECT 
          DISTINCT ProductGroupSysNo 
      FROM OverseaContentManagement.dbo.ProductCommonInfo  WITH(NOLOCK) 
      WHERE CompanyCode=@CompanyCode
      ORDER  BY ProductGroupSysno
			 ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="String"/>
    </parameters>
  </dataCommand>  

  <!--积分检查-->
  <dataCommand name="HadObtainPointCheck" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT 
    COUNT(1) 
FROM  [OverseaInvoiceReceiptManagement].[dbo].[Point_Obtain]  WITH(NOLOCK) 
WHERE 
    CustomerSysNo=@CustomerSysNo 
    AND obtaintype=16   
    AND memo=@ReviewSysNo   
    AND CompanyCode=@CompanyCode
			 ]]>
    </commandText>
    <parameters>
      <param name="@ReviewSysNo" dbType="String"/>
      <param name="@CustomerSysNo" dbType="Int32"/>
      <param name="@CompanyCode" dbType="String"/>
    </parameters>
  </dataCommand>

  <!--Customer Domain调用 DB私有化-->
  <dataCommand name="SendCommentPoints" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[
      BEGIN TRANSACTION       
        DECLARE @AcountPoint INT 
        SET @AcountPoint=0
        IF @PointType=0
        BEGIN
           SELECT @AcountPoint=ValidScore FROM IPP3.DBO.Customer 
           WHERE CustomerID='MKT-客户评论积分'
           
           ---账户积分不足
			IF(ISNULL(@AcountPoint,0)<@Point)
			BEGIN
       	 SET	@returnCode=10001
        ROLLBACK TRAN
				RETURN 
			END
			ELSE
				BEGIN
				UPDATE IPP3.DBO.Customer  SET TotalScore=TotalScore-@Point,
				ValidScore=ValidScore-@Point
				WHERE  CustomerID='MKT-客户评论积分'
			END
	    END
        ELSE
        BEGIN
        SELECT @AcountPoint=ValidScore FROM IPP3.DBO.Customer 
           WHERE CustomerID='Seller-topic'
           
            ---账户积分不足
			IF(ISNULL(@AcountPoint,0)<@Point)
			BEGIN
			 SET	@returnCode=10001
              ROLLBACK TRAN
				RETURN 
			END
			ELSE
			BEGIN
				UPDATE IPP3.DBO.Customer  SET TotalScore=TotalScore-@Point,
				ValidScore=ValidScore-@Point
				WHERE  CustomerID='Seller-topic'
			END
        END
       
       --跟新用户积分信息
       UPDATE IPP3.DBO.Customer SET TotalScore=TotalScore+@Point,
			ValidScore=ValidScore+@Point
			WHERE SysNo=@CustomerSysNo
        
       --写积分获取日志表OverseaInvoiceReceiptManagement.dbo.Point_Obtain
       INSERT INTO  OverseaInvoiceReceiptManagement.dbo.Point_Obtain
       (
         CustomerSysNo
         ,Point
         ,AvailablePoint
         ,ObtainType
         ,SoSysNo
         ,IsFromSysAccount
         ,SysAccount
         ,InDate
         ,InUser
         ,ExpireDate
         ,Memo
         ,Status
         ,LanguageCode
         ,CurrencyCode
         ,CompanyCode
         ,StoreCompanyCode
         ,msrepl_tran_version
       )
        VALUES
        (
         @CustomerSysNo
         ,@Point
         ,@Point
         ,16
         ,@SoSysNo
         ,1
         ,123
         ,GETDATE()
         ,@InUser
         ,@ExpireDate
         ,@Memo
         ,'A'
         ,'zh-CN'
         ,'8601'
         ,'8601'
         ,'8601'
         ,NEWID()
        )
        
        --更新评论表的PointObtain字段OverseaECommerceManagement.dbo.ProductReview_Detail
         UPDATE  OverseaECommerceManagement..ProductReview_Detail
          SET ObtainPoint=@Point
         WHERE SysNo=CONVERT(INT,@Memo)
        	 SET	@returnCode=10000
  COMMIT TRAN     
        ]]>
    </commandText>
    <parameters>
      <!--<param name="@CustomerSysno" dbType="String"/>
      <param name="@Point" dbType="Int32"/>
      <param name="@PointType" dbType="String"/>
      <param name="@Memo" dbType="String"/>
      <param name="@InUser" dbType="String"/>
      <param name="@OperationType" dbType="String"/>
      <param name="@ExpireDate" dbType="String"/>
      <param name="@SoSysNo" dbType="String"/>
      <param name="@returnCode" dbType="String"/>-->
    </parameters>
  </dataCommand>
  
</dataOperations>