<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RestFulBaseUrl" value="http://localhost:778/SOService"/>
    <add key="CompanyCode" value="8601"/>
    <add key="UserSysNo" value="2"/>
    <add key="UserAcct" value="Newegg"/>
    <add key="LanguageCode" value="zh-CN"/>
  </appSettings>
</configuration>