/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.control-label {
    font-size: 12px;
}
.navbar-fixed-bottom {
   left: 235px;
}
.page-sidebar-closed .navbar-fixed-bottom {
    left: 45px !important;
}
.function-pannel {
    padding:5px 20px;
    z-index:999;
}



.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 1;
}

.break-word {
    word-wrap:break-word; overflow:hidden;
}