@{
    
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">普通操作按钮</div>
    </div>
    <div class="portlet-body">
        <h4>普通操作按钮</h4>
        <a href="#" class="btn green">查询 <i class="fa fa-search"></i></a>
        <a href="#" class="btn green">保存订单 <i class="fa fa-save"></i></a>
        <a href="#" class="btn red">删除订单 <i class="fa fa-trash-o"></i></a>
        <h4>按钮下拉</h4>
         <div class="btn-group">
		    <button type="button" class="btn default">Default</button>
		    <button type="button" class="btn default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
		    <ul class="dropdown-menu" role="menu">
			    <li>
				    <a href="#">
				    Action </a>
			    </li>
			    <li>
				    <a href="#">
				    Another action </a>
			    </li>
			    <li>
				    <a href="#">
				    Something else here </a>
			    </li>
			    <li class="divider">
			    </li>
			    <li>
				    <a href="#">
				    Separated link </a>
			    </li>
		    </ul>
	    </div>
    </div>
</div>


