@section headers{
    <link rel='stylesheet' type='text/css' href='http://www.osctools.net/js/syntaxhighlighter_3.0.83/styles/shCoreEmacs.css' />
}
<section>
    <button type="button" class="btn btn-info" id="getMailBody">获取邮件模版</button>
    <button type="button" class="btn btn-info" id="buildMailBody">编辑邮件模版</button>
    <div class="span12" id="mailContent1" style="background-color:linen"></div>
    <div class="span12" id="mailContent2" style="background-color:lightgray"></div>

</section>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#getMailBody").click(function () {
                $("#mailContent").html("");
                $.get("/Demo/GetEmailTemplate", function (result) {
                    $("#mailContent1").html(result);
                }, "html");

            });

            $("#buildMailBody").click(function () {
                $("#mailContent").html("");
                $.get("/Demo/BuildEmailTemplate", function (result) {
                    $("#mailContent2").html(result);
                }, "html");

            });

        })
    </script>

}