@{
    ViewBag.Title = "ExportExcel";
}
@section scripts{
    <script type="text/javascript">
        $(function () {

            $("#btnExportExcel").click(function () {
                $.exportExcel("/Demo/ExportData", [{ name: 'queryString', value: 'asdfasdfasdf' }]);
            });
        });
    </script>
}
<button id="btnExportExcel" class="btn btn-primary" type="button">数据导出Excel</button>
<br />

说明:<br />

View导出Excel数据表，调用方法:
 $.exportExcel(action, postParams);<br />
例如:$.exportExcel("/Demo/ExportData", [{ name: 'queryString', value: 'queryJson' }]); 
postParams支持多个参数
<br />
<br />
后台action接收参数进行处理:详见DemoController里面相关的Action代码
