@section headers
{
    @Styles.Render("~/Content/plugin/datetimepicker/css")
    @Styles.Render("~/Content/plugin/select/css")
}
<div class="row">
    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>Striped Table
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">文本框</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">密码框</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">只读文本框</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Enter text" readonly="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">日期选择</label>
                        <div class="col-md-9">
                            <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                                <input type="text" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">时间选择</label>
                        <div class="col-md-9">
                            <div class="input-group date form_datetime" data-date="2012-12-21T15:25:00Z">
                                <input type="text" size="16" readonly="" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-md-3">日期范围</label>
                        <div class="col-md-9">
                            <div class="btn default date-range" id="demoDateRanage">
                                <i class="fa fa-calendar"></i>
                                <span>&nbsp;</span>
                                <div style="display: none;">
                                    <input type="text" class="date-start" />
                                    <input type="text" class="date-end" />
                                </div>
                                <b class="fa fa-angle-down"></b>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-6">
        <!-- BEGIN CONDENSED TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture"></i>Condensed Table
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">多行文本框</label>
                        <div class="col-md-9">
                            <textarea class="form-control" maxlength="225" rows="2" placeholder="This textarea has a limit of 225 chars."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">基本下拉框</label>
                        <div class="col-md-9">
                            <select class="bs-select form-control" style="display: none;">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">分组下拉框</label>
                        <div class="col-md-9">
                            <select class="bs-select form-control" style="display: none;">
                                <optgroup label="Picnic">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </optgroup>
                                <optgroup label="Camping">
                                    <option>Tent</option>
                                    <option>Flashlight</option>
                                    <option>Toilet Paper</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">多选下拉框</label>
                        <div class="col-md-9">
                            <select class="bs-select form-control" multiple="" style="display: none;">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">多选下拉框2</label>
                        <div class="col-md-9">
                            <select class="bs-select form-control" multiple="" style="display: none;">
                                <optgroup label="Picnic">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </optgroup>
                                <optgroup label="Camping">
                                    <option>Tent</option>
                                    <option>Flashlight</option>
                                    <option>Toilet Paper</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END CONDENSED TABLE PORTLET-->
    </div>
    <div class="col-md-12">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture"></i>Condensed Table
                </div>
            </div>
            <div class="portlet-body">
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="form-section">表格分组一</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-1">文本框</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" placeholder="Chee Kin">
                                    </div>
                                    <label class="control-label col-md-1">文本框</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" placeholder="Chee Kin">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-1">下拉框</label>
                                    <div class="col-md-5">
                                        <select class="bs-select form-control" style="display: none;">
                                            <option>Mustard</option>
                                            <option>Ketchup</option>
                                            <option>Relish</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1">下拉框2</label>
                                    <div class="col-md-5">
                                        <select class="bs-select form-control" style="display: none;">
                                            <optgroup label="Picnic">
                                                <option>Mustard</option>
                                                <option>Ketchup</option>
                                                <option>Relish</option>
                                            </optgroup>
                                            <optgroup label="Camping">
                                                <option>Tent</option>
                                                <option>Flashlight</option>
                                                <option>Toilet Paper</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <h3 class="form-section">表格分组二</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-1">文本框</label>
                                    <div class="col-md-11">
                                        <input type="text" class="form-control" placeholder="Chee Kin">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-1">HTML编辑</label>
                                    <div class="col-md-11">
                                        <script type="text/plain" id="editor"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">提交</button>
                                        <button type="button" class="btn default">取消</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="navbar-default navbar-fixed-bottom function-pannel" role="navigation">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default navbar-btn red">
                导航栏按钮1
            </button>
            <button type="button" class="btn btn-default navbar-btn blue">
                导航栏按钮2
            </button>
            <button type="button" class="btn btn-default navbar-btn green">
                导航栏按钮3
            </button>
            <button type="button" class="btn btn-default navbar-btn yellow">
                导航栏按钮4
            </button>
            <button type="button" class="btn btn-default navbar-btn purple">
                导航栏按钮5
            </button>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/third/ueditor/editor.js"></script>
    <script src="~/Content/third/ueditor/editor_config.js"></script>
    <link href="~/Content/third/ueditor/themes/default/ueditor.css" rel="stylesheet" />
    @Scripts.Render("~/Content/plugin/datetimepicker/js")
    @Scripts.Render("~/Content/plugin/select/js")

    <script type="text/javascript">
        var ComponentsPickers = function () {

            var handleDatePickers = function () {
                if (jQuery().datepicker) {
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        orientation: "left",
                        autoclose: true,
                        clearBtn: true
                    });
                    //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }
            }

            var handleDateRangePickers = function () {
                if (!jQuery().daterangepicker) {
                    return;
                }

                //var d = $.daterangePicker("#demoDateRanage");
                $(".date-range").defaultDateRangePicker();

                //$('.date-range').daterangepicker({
                //    opens: (Metronic.isRTL() ? 'left' : 'right'),
                //    startDate: moment().subtract('days', 29),
                //    endDate: moment(),
                //    minDate: '01/01/1900',
                //    maxDate: '12/31/2100',
                //    dateLimit: {
                //        days: 60
                //    },
                //    showDropdowns: true,
                //    showWeekNumbers: true,
                //    timePicker: false,
                //    timePickerIncrement: 1,
                //    timePicker12Hour: true,
                //    ranges: {
                //        '今天': [moment(), moment()],
                //        '最近3天': [moment().subtract('days', 3), moment()],
                //        '最近7天': [moment().subtract('days', 6), moment()],
                //        '最近30天': [moment().subtract('days', 29), moment()],
                //    },
                //    buttonClasses: ['btn'],
                //    applyClass: 'green',
                //    cancelClass: 'default',
                //    separator: ' to ',
                //    locale: {
                //        applyLabel: '确定',
                //        cancelLabel: '取消',
                //        fromLabel: '从',
                //        toLabel: '到',
                //        customRangeLabel: '自定义',
                //        firstDay: 1
                //    }
                //},
                //    function (start, end) {
                //        $('span', this.element).html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
                //        $(".date-start", this.element).val(start.format('YYYY/MM/DD'));
                //        $(".date-end", this.element).val(end.format('YYYY/MM/DD'));
                //    }
                //);
                ////Set the initial state of the picker label
                //$('.date-range span').html(moment().subtract('days', 29).format('YYYY/MM/DD') + ' - ' + moment().format('YYYY/MM/DD'));
                //$('.date-range .date-start').val(moment().subtract('days', 29).format('YYYY/MM/DD'));
                //$('.date-range .date-end').val(moment().format('YYYY/MM/DD'));
            }

            var handleDatetimePicker = function () {

                $(".form_datetime").datetimepicker({
                    autoclose: true,
                    isRTL: Metronic.isRTL(),
                    format: "yyyy/mm/dd - hh:ii",
                    pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left")
                });

                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleDatePickers();
                    handleDatetimePicker();
                    handleDateRangePickers();
                }
            };

        }();
    </script>
    <script>
        var ComponentsDropdowns = function () {

            var handleBootstrapSelect = function () {
                $('.bs-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check'
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleBootstrapSelect();
                }
            };

        }();
    </script>
    <script>
        jQuery(document).ready(function () {
            ComponentsPickers.init();
            ComponentsDropdowns.init();
        });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            new UE.ui.Editor().render('editor');
        });
    </script>
}