@using System.Web.Services.Protocols
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HtmlEditor";
    ViewBag.Breadcrumb = "html编辑器";
}

@section scripts
{
    <script src="~/Content/third/ueditor/editor.js"></script>
    <script src="~/Content/third/ueditor/editor_config.js"></script>
    <link href="~/Content/third/ueditor/themes/default/ueditor.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            var editor = new UE.ui.Editor();
            editor.render('editor');

            var editor2 = new UE.ui.Editor();
            editor2.render('editor2');

            $("#btnGetContent").click(function () {

                alert('html 1内容是:' + editor.getContent());
            });
            $("#btnGetContent2").click(function () {

                alert('html 2内容是:' + editor2.getContent());
            });
        });

    </script>
}
<div>
    Html编辑器:<br />

    <div style="width: 100%; float: left; height: 200px">
        <script type="text/plain" id="editor" style="width: 100%; height: 200px;"></script>
    </div>
    <div style="width: 100%; float: left; height: 400px">
        <script type="text/plain" id="editor2" style="width: 100%; height: 400px;"></script>
    </div>
    <div>

        <button id="btnGetContent" class="btn btn-primary" type="button">获取编辑器内容1</button>
        <button id="btnGetContent2" class="btn btn-primary" type="button">获取编辑器内容2</button>
    </div>

</div>
