@using System.Web.Services.Protocols
@model dynamic

@{
    
}
<h3>均使用Bootstrap标准方法，但有些功能性与使用上会给出一些建议，完整的请参考：<a href="http://v3.bootcss.com/">Bootstrap 中文官方文档</a></h3>
<hr />

<div class="note">
    <h4 class="block"><strong>1. 使用12列网络系统</strong></h4>
    <p class="font-blue-steel">在此不做特别要求，请根据页面需要任意发挥，但最好不要单独地云调整margin,padding等，由全局样式来处理。</p>
    <p class="font-yellow-gold">使用比较灵活，请参考官方手册：<a href="http://v3.bootcss.com/css/#grid">http://v3.bootcss.com/css/#grid</a></p>
</div>

<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="note">
    <h4 class="block"><strong>2. portlet</strong> 区块</h4>
    <p class="font-blue-steel">对页面内容进行分组，划分可以伸缩的区域。</p>
    <p class="font-blue-steel">可以用于查询条件容器、查询结果容器、运输方式容器，相当于Silverlight的Expander，也可以相当于Winform的Group</p>
</div>
<div class="row">
    <div class="col-md-12 font-yellow-gold">
        对于页面级别直接分区块，它应该是通栏的，请参照如下示例：
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet ">
            <div class="portlet-title">
                <div class="caption">标题</div>
                <div class="tools">
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="" class="collapse"></a>
                </div>
                <div class="actions btn-set">
                    <button type="button" name="back" class="btn default"><i class="fa fa-angle-left"></i>Back</button>
                    <button class="btn default"><i class="fa fa-reply"></i>Reset</button>
                    <button class="btn green"><i class="fa fa-check"></i>Save</button>
                    <button class="btn green"><i class="fa fa-check-circle"></i>Save &amp; Continue Edit</button>
                    <div class="btn-group">
                        <a class="btn yellow" href="#" data-toggle="dropdown">
                            <i class="fa fa-share"></i>More <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">Duplicate </a>
                            </li>
                            <li>
                                <a href="#">Delete </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Print </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="portlet-body">
                content
                <br />
                content
                <br />
                content
                <br />
                content
                <br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 font-yellow-gold">
        对于页面中，更小的区块，请参照如下示例：
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">标题1</div>
                <div class="tools">
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                content
                <br />
                content
                <br />
                content
                <br />
                content
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box red ">
            <div class="portlet-title">
                <div class="caption">标题2</div>
                <div class="tools">
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                content
                <br />
                content
                <br />
                content
                <br />
                content
                <br />
            </div>
        </div>
    </div>
</div>


<div class="note">
    <h4 class="block"><strong>3. Tabs</strong> </h4>
    <p class="font-blue-steel">选项卡标签。</p>

</div>
<div class="row">
    <div class="col-md-12 font-yellow-gold">
        示例如下：
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab">Home </a>
            </li>
            <li>
                <a href="#tab_1_2" data-toggle="tab">Profile </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#tab_1_3" tabindex="-1" data-toggle="tab">Option 1 </a>
                    </li>
                    <li>
                        <a href="#tab_1_4" tabindex="-1" data-toggle="tab">Option 2 </a>
                    </li>
                    <li>
                        <a href="#tab_1_3" tabindex="-1" data-toggle="tab">Option 3 </a>
                    </li>
                    <li>
                        <a href="#tab_1_4" tabindex="-1" data-toggle="tab">Option 4 </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_1_1">
                <p>
                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                </p>
            </div>
            <div class="tab-pane fade" id="tab_1_2">
                <p>
                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                </p>
            </div>
            <div class="tab-pane fade" id="tab_1_3">
                <p>
                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                </p>
            </div>
            <div class="tab-pane fade" id="tab_1_4">
                <p>
                    Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.
                </p>
            </div>
        </div>
    </div>
</div>
