<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            模态窗口 Modals</div>
    </div>
    <div class="portlet-body">
        <h4>
            窗口层内容AJAX加载外部页内容,从中可以看出，它是同属一个DOM的</h4>
        @*****************************************元素选择Begin*******************************************************************@
        <a class="btn default" href="#" onclick='showPageElementSelectModal("CustomPage")'>选择元素
        </a>
        @Html.Partial("~/Views/Store/ElementSelect.cshtml")
        @*****************************************元素选择End*******************************************************************@
        <br />
        <br />

        @*****************************************商品选择Begin*******************************************************************@
        @*****************************************single为单选 空为复选*******************************************************************@
        <a class="btn default" href="#" onclick='showProductCommonModal()'>选择商品 </a>
        @Html.Partial("~/Views/Product/ProductSelect.cshtml")
        @*****************************************商品选择End*******************************************************************@

        <h4>
            可能iframe封闭一下，可以属于另一个DOM</h4>
        <a class="btn default" href="#basic" data-target="#iframe" data-toggle="modal">View
            Demo </a>
        <div class="modal fade bs-modal-lg" id="iframe" role="dialog" aria-hidden="true">
            <div class="clearfix">
            </div>
            <div class="page-loading page-loading-boxed">
                <img src="~/Content/themes/metronic/assets/global/img/loading-spinner-grey.gif" alt="loading" />
                <span>&nbsp;&nbsp;Loading... </span>
            </div>
            <div class="modal-dialog modal-lg">
                <iframe width="100%" height="580" src="~/Home/Login" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
        @*  <a class="btn default" data-toggle="modal" href="#basic">
            View Demo </a>*@
    </div>
</div>
<script type="text/javascript">

//*****************************************元素选择Begin*******************************************************************//
    //元素选择回调地址
    function pageElementSelectCallback(data) {
        alert(data.Name);
    }
//*****************************************元素选择End*******************************************************************//



//*****************************************商品选择Begin*******************************************************************//
    //商品选择回调地址
    function productCommonCallback(data) {
    //为单选的时候返回Entity  alert(data.SysNo);
        alert(data[0].SysNo);
    }
//*****************************************商品选择End*******************************************************************//
</script>
