@{
    ViewBag.Title = "Request and Auth";
}
<ol>
    <li>所有的Ajax Action命名都必须以Ajax开头。</li>
    <li>如果一个页面的Action没有任何业务代码，那么可以不为该页面提供Action（框架能自动处理）。</li>
    <li>我们提供了两个Controller基类，一个是WWWControllerBase，一个是SSLControllerBase。对于不需要登录即可访问的页面Controller，请继承ControllerBase；需要登录访问的页面Controller，请继承SSLControllerBase。</li>
    <li>如果某Action需要基于权限点进行控制，请为Action加上Attribute：[UserAuthorizeAttribute]</li>
    <li>业务配置项：所有的业务配置项，都放到ECConfig的DB Table里，使用CommonService.GetECConfig(string key)获取。</li>
    <li>开发人员自己编写的页面JS脚本：和View结构命名一致；尽量不要自编写样式，即时要写，尽量inline style到页面里，不外链页面级别的CSS。</li>
    <li>严禁使用Session，使用框架的Cookie类CookieHelper代替。</li>
    <li>所有静态文本，通过GetText(textkey, params…)获取值, 函数内部会获取当前语言环境，获取和格式化资源文本；JS文件中的静态文本，请使用JR函数</li>
    <li>图片上传服务：使用ImageService的上传，前端直接显示记录的基础URL+保存路径。</li>
    <li>分页pageIndex都统一以0开始。日期查询范围：UI: 2014-9-7 ~ 2014-9 10 ，在DA层统一转换为(todate) 2014-9-10 convert to 2014-9-11</li>

</ol>
