<?xml version="1.0" encoding="utf-8" ?>
<mailTemplateConfig xmlns="http://www.newegg.com/mail">
    <mailTemplate templateID="RegisterSuccess"  subject="恭喜您[CustomerID]，大昌优品注册成功">
      <body>
        <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>注册成功</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#ffffff; color:#333333; font-size:14px; font-family: microsoft yahei, Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; border:1px solid #ededed; background:#fff;">
<tr>
  <td align="right">&nbsp;</td>
    <td style="padding-left:27px; padding-right:27px;  color:#333333;">
    	
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#f52800;">注册成功</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">感谢您注册大昌优品。</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">关于下订单过程中---挑选商品，配送，支付，售后，投诉等问题请进入帮助中心。</p></td>
          </tr>
          <tr>
            <td style="padding-left:5px;  text-indent:2em; padding-bottom:10px;">为了您和他人都能买到自己满意的东西，请勿重复下单。 </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#f52800;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">大昌优品<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>

<table align="center" width="682" height="71" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; border:1px solid #ededed; border-top-width:2px; font-size:12px; background-color:#f6f6f6" bgcolor="#f6f6f6">
  <tr>
    <td valign="middle" style="padding-left:27px; font-size:12px;">客服电话：</td>
    <td valign="middle"><h3>400-153-0733</h3></td>
    <td align="center" width="30"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/footer_line.png" alt="|" height="30" width="1" /></td>
  </tr>
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="top" align="center" style="padding-top:10px; font-size:12px; color:#848484;">&copy; 2014 - [Year]&nbsp;&nbsp;&nbsp;&nbsp;网信（香港）有限公司&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#848484" href="[ImgBaseUrl]"></a></td>
  </tr>
</table>
</body>
</html> 
]]>
      </body>
    </mailTemplate>
    
    <mailTemplate templateID="ValidateEmail"  subject="大昌优品--您的请求：验证Email已经送到">
      <body>
        <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>大昌优品--请求Email验证</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#ffffff; color:#333333; font-size:14px; font-family: microsoft yahei, Arial, Helvetica, SimSun;}
</style>

</head>

<body>
 
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; border:1px solid #ededed; background:#fff;">
<tr>
  <td align="right">&nbsp;</td>
  
    <td style="padding-left:27px; padding-right:27px;  color:#333333;">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#f52800;">大昌优品会员Email验证</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的大昌优品会员 [CustomerID]：</td>
          </tr>
          <tr>
          
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">
        您好！请复制下面的连接到地址栏来验证你的Email<br>[url]</p></td>
          </tr> 
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#f52800;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">大昌优品<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>

<table align="center" width="682" height="71" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; border:1px solid #ededed; border-top-width:2px; font-size:12px; background-color:#f6f6f6" bgcolor="#f6f6f6">
  <tr>
    <td valign="middle" style="padding-left:27px; font-size:12px;">客服电话：</td>
    <td valign="middle"><h3>400-153-0733</h3></td>
    <td align="center" width="30"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/footer_line.png" alt="|" height="30" width="1" /></td>
  </tr>
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="top" align="center" style="padding-top:10px; font-size:12px; color:#848484;">&copy; 2014 - [Year]&nbsp;&nbsp;&nbsp;&nbsp;网信（香港）有限公司&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#848484" href="[ImgBaseUrl]"></a></td>
  </tr>
</table>

</body>
</html>]]>
      </body>
    </mailTemplate>
    
    <mailTemplate templateID="5"  subject="到货通知 [ProductID]  [ProductName]">
      <body>
        <![CDATA[用户Email:[userMail] <br>商品名称: [ProductName]  <br>商品SysNo: [productSysNo] <br>商品ID:[ProductID] <br>商品链接:[ImgBaseUrl]/Products/Product.aspx?sysno=[productSysNo]]]>
      </body>
    </mailTemplate>

    <mailTemplate templateID="findpassword"  subject="大昌优品：设置新密码">
      <body>
        <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会员密码重置申请</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#ffffff; color:#333333; font-size:14px; font-family: microsoft yahei, Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; border:1px solid #ededed; background:#fff;">
<tr>
  <td align="right">&nbsp;</td>
  
    <td style="padding-left:27px; padding-right:27px;  color:#333333;">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#f52800;">会员密码重置申请</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的大昌优品会员 [CustomerID]：</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;">
            <p style="line-height:22px;">您好！大昌优品已经收到您的密码重置请求，请复制下方链接到地址栏设置你的新密码。（链接将在7天后失效）</p>
            <div style="width:560px; font-size:12px; text-indent:32px; word-wrap: break-word;">
            [SetNewTokenUrl]</div></td>
          </tr>
          <tr>
            <td style="padding-left:5px;  text-indent:2em; padding-bottom:10px;">如果您放弃重置密码，或未曾申请重置密码，请忽略或删除本邮件。请放心，您的个人账户信息是安全的。 </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#f52800;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">大昌优品<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>

<table align="center" width="682" height="71" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; border:1px solid #ededed; border-top-width:2px; font-size:12px; background-color:#f6f6f6" bgcolor="#f6f6f6">
  <tr>
    <td valign="middle" style="padding-left:27px; font-size:12px;">客服电话：</td>
    <td valign="middle"><h3>400-153-0733</h3></td>
    <td align="center" width="30"></td>
	<td valign="middle" align="right" style=" font-size:12px;padding-right:10px;"></td>
    <td valign="middle" align="right" style="padding-right:25px;"></td>
  </tr>
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="top" align="center" style="padding-top:10px; font-size:12px; color:#848484;">&copy; 2014 - [Year]&nbsp;&nbsp;&nbsp;&nbsp;网信（香港）有限公司&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#848484" href="[ImgBaseUrl]"></a></td>
  </tr>
</table>

</body>
</html>



				  ]]>
      </body>
    </mailTemplate>

    <mailTemplate templateID="15"  subject="大昌优品会员确认">
      <body>
        <![CDATA[欢迎您登录大昌优品购物。 <br>大昌优品为您自动生成欧亚账号： <br>ID:[CustomerID]（客户填写的邮件地址） <br> 密码:<a href="[URL]">[URL]</a>（您可以通过此链接设置您的密码） <br>您可以通过以上欧亚ID和密码直接登录大昌优品购物。 <br>获得更多帮助请点击<a href="http://www.newegg.com.cn/Service/HelpCenter.aspx">帮助中心</a><br>祝您购物愉快!<br>此致<br>大昌优品]]>
      </body>
    </mailTemplate>
    
    <mailTemplate templateID="17"  subject="大昌优品--您的请求：取消验证Email已经送到">
      <body>
        <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>取消验证email</title>
        <style type="text/css">
        *{ margin:0; padding:0;}
        body{ background:#ffffff; color:#333333; font-size:14px; font-family: microsoft yahei, Arial, Helvetica, SimSun;}
        </style>

        </head>

        <body>
        <table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;">
          <tr>
    <td><a href="[ImgBaseUrl]"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/logo.png" width="236" border="0" /></a></td>
    <td width="180" valign="top"><div style="padding-top:62px;"><a href="http://weibo.com/ouyaegou"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/weibo_1.png" width="153" height="38" border="0" /></a></div></td>
    <td width="152" valign="top"><div style="padding-top:62px;"><a href="http://t.qq.com/ouyaegou"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/weibo_2.png" width="152" height="38" border="0" /></a></div></td>
  </tr>
        </table>
        <table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;">
          <tr>
            <td height="45"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/menu.png" width="682" height="45" border="0" usemap="#Map_Menu" />
      <map name="Map_Menu" id="Map_Menu">
          <area shape="rect" coords="471,6,574,43" href="[ImgBaseUrl]/Lottery/LuckyList.aspx" alt="中奖名单" />
          <area shape="rect" coords="367,6,470,43" href="[ImgBaseUrl]/GiftVoucherHome/default.htm" alt="礼品商城" />
          <area shape="rect" coords="264,6,366,43" href="[ImgBaseUrl]/WomanStore/index.htm" alt="吉林网姐" />
          <area shape="rect" coords="183,6,263,43" href="http://tuan.oysd.cn" alt="欧亚团" />
          <area shape="rect" coords="108,6,177,43" href="[ImgBaseUrl]" alt="首页" />
      </map></td>
          </tr>
        </table>
        <table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; border:1px solid #ededed; background:#fff;">
        <tr>
          <td align="right">&nbsp;</td>
          </tr>
          <tr>
            <td style="padding-left:27px; padding-right:27px;  color:#333333;">
    	
        
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#f52800;">取消验证Email</td>
                  </tr>
                  <tr>
                    <td style="padding-left:5px; padding-right:5px;">尊敬的大昌优品会员  [CustomerID]：</td>
                  </tr>
                  <tr>
                    <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">请点击下面的链接来取消验证你的Email：</p><div style="width:560px; font-size:12px; text-indent:32px; word-wrap: break-word;"><a style="color:#176DBA; " href="[url]">[url]</a></div></td>
                  </tr>
                  <tr>
                    <td style="padding-left:5px;  text-indent:2em; padding-bottom:10px;">&nbsp;</td>
                  </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		        <tr>
		  	        <td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			        <div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
        <br />
			        <div style="text-indent:2em;"><span style="color:#f52800;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			        </td>
                    <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">大昌优品<br />[CurrentDateTime]</span></td>
                  </tr>
                </table>
		        </td>
          </tr>
 
        </table>
        <table align="center" width="682" height="71" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; border:1px solid #ededed; border-top-width:2px; font-size:12px; background-color:#f6f6f6" bgcolor="#f6f6f6">
          <tr>
            <td valign="middle" style="padding-left:27px; font-size:12px;">客服电话：</td>
            <td valign="middle"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/hotline.png" alt="400-656-1717" height="26" width="170" /></td>
            <td align="center" width="30"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/footer_line.png" alt="|" height="30" width="1" /></td>
	        <td valign="middle" align="right" style=" font-size:12px;padding-right:10px;">大昌优品手机客户端：</td>
            <td valign="middle" align="right" style="padding-right:25px;"><img src="[ImgBaseUrl]/WebResources/Default/Nest/images/email/bin_code.png" alt="" height="51" width="148" /></td>
          </tr>
        </table>
        <table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px; background-color:#ffffff" bgcolor="#ffffff">
          <tr>
            <td valign="top" align="center"; style="padding-top:10px; font-size:12px; color:#848484;">&copy; 2011 - [Year]&nbsp;&nbsp;&nbsp;&nbsp;长春欧亚易购电子商务有限公司&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#848484" href="[ImgBaseUrl]">吉ICP备05009778号-2 </a></td>
          </tr>
        </table>

        </body>
        </html>
        ]]>
      </body>
    </mailTemplate>

    <mailTemplate templateID="SalesOrderMailSuccessful"  subject="大昌优品--您的订单[SOSysNo]已生成">
      <body>
        <![CDATA[
          <table width="682" border="0" align="center" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; border:1px solid #ededed; background:#fff;">
              <tbody><tr>
                  <td align="right">&nbsp;</td>
                  </tr>
                  <tr><td style="padding-left:27px; padding-right:27px;  color:#333333;">
        
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                          <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#f52800;">订单生成通知</td>
                          </tr>
                          <tr>
                          <td style="padding-left:5px; padding-right:5px;">尊敬的大昌行会员 [CustomerName]：</td>
                          </tr>
                          <tr>
                          <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">欢迎您来大昌行购物！您的订单已经成功生成，请尽快付款（货到付款方式除外），我们会在款到后及时给您安排发货！</p></td>
                          </tr>
                          <tr>
                          <td style="padding-left:5px;  text-indent:2em; padding-bottom:10px;">您的订单编号：<strong style="color:#f52800;">[SOSysNo]</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单时间：[OrderTime] </td>
                          </tr>
                      </tbody></table>
                      <table border="0" cellspacing="0" cellpadding="5" style="width: 650px; border-collapse: collapse; font-size: 9pt;">
                          <tbody><tr>
                          <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;" colspan="2"><b>收货人信息</b></td>
                          </tr>
                          <tr>
                          <td style="border: 1px solid #ddd; width: 80px;">联 系 人：</td>
                          <td style="border: 1px solid #ddd;">[ContactName]</td>
                          </tr>
                          <tr>
                          <td style="border: 1px solid #ddd;">收货地址：</td>
                          <td style="border: 1px solid #ddd;">[ContactAddress]</td>
                          </tr>
                          <tr>
                          <td style="border: 1px solid #ddd;">邮政编码：</td>
                          <td style="border: 1px solid #ddd;">[ContactZipCode]</td>
                          </tr>
                          <tr>
                          <td style="border: 1px solid #ddd;">手机号码：</td>
                          <td style="border: 1px solid #ddd;">[ContactMobilePhone]</td>
                          </tr>
                          <tr>
                          <td style="border: 1px solid #ddd;">电话号码：</td>
                          <td style="border: 1px solid #ddd;">[ContactPhone]</td>
                          </tr>
                      </tbody></table>
                      <table width="100%" border="0" cellspacing="0" cellpadding="5" style="font-size:12px; line-height:24px;">
                          <tbody>
                          <tr>
                              <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;" colspan="6"><b>您购买的商品</b></td>
                          </tr>
		                  <tr style="background:#fff;">
		  		                <td width="80" align="center" style="padding-left:5px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">图片</td>
		  		                <td width="100" align="center" style=" padding-left:5px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">商品编号</td>
                                <td align="center" style="padding-left:5px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">商品名称</td>
                                <td align="center" style="width:91px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">单价</td>
                                <td align="center" style="width:50px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">数量</td>
                                <td align="center" style="width:90px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">小计</td>
                          </tr>
                          [OrderContent]
                        </tbody>
                      </table>
                      <table width="100%" border="0" cellspacing="0" cellpadding="5" style="font-size:12px; line-height:20px; border-collapse: collapse;">
                      <tbody>
                      <tr>
                          <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;" colspan="2"><b>其它信息</b></td>
                      </tr>
		                  <tr>
                          <td style="border: 1px solid #ddd;">付款方式：</td>
                          <td style="border: 1px solid #ddd;">[PayTypeName]</td>
                          </tr>
		                  <tr>
                          <td style="border: 1px solid #ddd;">商品金额总计：</td>
                          <td style="border: 1px solid #ddd;">¥[CashPayAmount]</td>
                      </tr>
                      <tr>
                          <td style="border: 1px solid #ddd;">商品总重（含赠品）：</td>
                          <td style="border: 1px solid #ddd;">[TotalWeight]kg</td>
                      </tr>
                      <tr>
                          <td style="border: 1px solid #ddd;">运输费用：</td>
                          <td style="border: 1px solid #ddd;">¥[ShippingAmount]</td>
                      </tr>
                      <tr>
                          <td style="border: 1px solid #ddd;">关税费用：</td>
                          <td style="border: 1px solid #ddd;">¥[TaxAmount]</td>
                      </tr>
		                  <tr>
                          <td style="border: 1px solid #ddd;">优惠券抵扣：</td>
                          <td style="border: 1px solid #ddd;">¥[CouponAmount]</td>
                      </tr>
                      <tr>
                          <td style="border: 1px solid #ddd;">促销折扣：</td>
                          <td style="border: 1px solid #ddd;">¥[TotalDiscountAmount]</td>
                      </tr>
                      <tr>
                          <td style="border: 1px solid #ddd;">积分抵扣：</td>
                          <td style="border: 1px solid #ddd;">¥[PointPayAmount]</td>
                      </tr>
                      <tr>
                          <td style="border: 1px solid #ddd;">礼品卡抵扣：</td>
                          <td style="border: 1px solid #ddd;">¥[GiftCardPayAmount]</td>
                      </tr>
		                  <tr>
                          <td style="border: 1px solid #ddd;">账户余额抵扣：</td>
                          <td style="border: 1px solid #ddd;">¥[BalancePayAmount]</td>
                      </tr>
                      <tr>
                          <td style="border: 1px solid #ddd;">应付总额：</td>
                          <td style="border: 1px solid #ddd;"><strong style="color:#f52800">¥[SOAmount]</strong></td>
                      </tr>
                      </tbody></table>
		
		              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; line-height:20px; border-bottom:1px solid #ededed;">
                          <tbody>
                              <tr>
                                  <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>备注信息</b></td>
                              </tr>
		                      <tr>
                                  <td style="padding-left:8px; font-size:12px; padding-bottom:30px;">[SOMemo]</td>
                              </tr>
		                  </tbody>
		              </table>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
		  	              <td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			              <div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br>此致</span></div>
                      <br>
			              <div style="text-indent:2em;"><span style="color:#f52800;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			              </td>
                          <td valign="bottom" align="right" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">大昌行<br>[SendTime]</span></td>
                          </tr>
                      </tbody></table>
		              </td>
                  </tr>
              </tbody>
          </table>
        ]]>
      </body>
    </mailTemplate>

    <mailTemplate templateID="SalesOrderPaySuccessful"  subject="大昌优品--您的订单[SOSysNo]已支付成功">
      <body>
        <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>大昌优品订单支付成功邮件</title>
        </head>
        <body>
        <table width="682" border="0" align="center" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; border:1px solid #ededed; background:#fff;">
	          <tbody>
		          <tr>
			          <td align="right">&nbsp;</td>
		          </tr>
		          <tr><td style="padding-left:27px; padding-right:27px;  color:#333333;">

			          <table width="100%" border="0" cellspacing="0" cellpadding="0">
				          <tbody>
					          <tr>
						          <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#f52800;">订单支付成功通知</td>
						          </tr>
						          <tr>
						          <td style="padding-left:5px; padding-right:5px;">尊敬的大昌优品会员 [CustomerName]：</td>
						          </tr>
						          <tr>
						          <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">欢迎您来大昌优品购物！您的订单<strong style="color:#f52800;">[SOSysNo]</strong>已经支付成功，我们会及时给您安排发货！</p></td>
					          </tr>
				          </tbody>
			          </table>
			          <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="font-size:12px; line-height:24px;">
				          <tbody>
				          <tr>
					          <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;" colspan="6"><b>订单信息：</b></td>
				          </tr>
				          <tr style="background:#F0F0F0;">
					          <td width="100" align="center" style=" padding-left:5px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">订单编号</td>
					          <td align="center" style="padding-left:5px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">支付金额</td>
					          <td align="center" style="width:91px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">支付方式</td>
					          <td align="center" style="width:50px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">下单时间</td>
					          <td align="center" style="width:90px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">收货人姓名</td>
				          </tr>
				          <tr style="background:#fff;">
					          <td width="100" align="center" style=" padding-left:5px; border-left:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[SOSysNo]</td>
					          <td align="center" style="padding-left:5px; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[PayAmount]</td>
					          <td align="center" style="width:91px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[PayTypeName]</td>
					          <td align="center" style="width:50px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[OrderDate]</td>
					          <td align="center" style="width:90px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[ReceiveName]</td>
				          </tr>
			          </tbody>
			          </table>
			          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; line-height:20px; border-bottom:1px solid #ededed;">
				          <tbody>
					          <tr>
						          <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>备注信息：</b></td>
					          </tr>
					          <tr>
						          <td style="padding-left:8px; font-size:12px; padding-bottom:30px;">[SOMemo]</td>
					          </tr>
				          </tbody>
			          </table>
			          <table width="100%" border="0" cellspacing="0" cellpadding="0">
				          <tbody><tr>
				          <td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
				          <div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br>此致</span></div>
			          <br>
				          <div style="text-indent:2em;"><span style="color:#f52800;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
				          </td>
				          <td valign="bottom" align="right" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">大昌优品<br>[NowDate]</span></td>
				          </tr>
			          </tbody></table>
			          </td>
		          </tr>
	          </tbody>
        </table>
        </body>
        </html>
        ]]>
      </body>
    </mailTemplate>

  <mailTemplate templateID="16"  subject="评论收到回复">
    <body>
      <![CDATA[您在大昌优品的订单SO#[SoSysNo]--评论获得积分]]>
    </body>
  </mailTemplate>


  <mailTemplate templateID="18"  subject="咨询收到回复">
    <body>
      <![CDATA[大昌优品-您的咨询已被回复！
      您对产品：<a href='[ProducDetail]'>[ProductName]</a>的咨询：[Content]
    ]]>
    </body>
  </mailTemplate>


</mailTemplateConfig>
