<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <oversea>
    <globalSettings filePath="D:\APP\IPP\Config\GlobalSettings.config"/>
    <logSettings localRegionName="InventoryMgmt"/>
    <dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config"/>
  </oversea>

  <appSettings>

    <add key="SCGlobalConfig" value="D:\APP\IPP\Config\GlobalSettings.config"/>    
    <add key="ConsumerName" value="CN.InventoryMgmt.UI.IPP01"/>
    <!--<add key="LocationName" value="IISHostDev"/>-->
    <add key="RepeatTime" value="60"/>

    <!--是否开启调试效果-->
    <add key="Debug" value="false"/>
    
    <!--企业代码-->
    <add key="CompanyCode" value="8601"/>
    <!--排除的渠道商
        编号之间用","隔开
    -->
    <add key="ExistsChannelSysNo" value="600"/>


    <!--以下JOB中调用WCF服务时所使用到的信息-->
    <add key="UserSysNo" value="2758"/>
    <add key="UserDisplayName" value="IPPSystemAdmin"/>
    <add key="UserLoginName" value="IPPSystemAdmin"/>
    <add key="StoreSourceDirectoryKey" value="bitkoo"/>
    <add key="StoreCompanyCode" value="8601"/>

  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
