<?xml version="1.0" encoding="utf-8" ?>
<autorun>
  <startup>
    <!-- 启动WCF的宿主 -->
    <module type="ECCentral.Service.Utility.WCF.RestWebServiceStartup, ECCentral.Service.Utility.WCF">
      <constructor>
        <arg>ECCentral.BizEntity.BizException, ECCentral.BizEntity</arg>
      </constructor>
    </module>
    <!-- load所有的服务端异常消息文本的数据并缓存，同时启动FileWatcher来监控这些文件变化 -->
    <module type="ECCentral.Service.Utility.ResouceManagerAutorun, ECCentral.Service.Utility" />
    <!-- 注册添加消息与订阅者直接的关系 -->
    <module type="ECCentral.Service.Utility.EventConsumerRegister, ECCentral.Service.Utility" />

    <!-- 注册C#的强类型枚举值和DB中存储的code直接的映射关系 -->
    <module type="ECCentral.Service.Common.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.Common.SqlDataAccess" />
    <module type="ECCentral.Service.Customer.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.Customer.SqlDataAccess" />
    <module type="ECCentral.Service.IM.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.IM.SqlDataAccess" />
    <module type="ECCentral.Service.MKT.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.MKT.SqlDataAccess" />
    <module type="ECCentral.Service.Inventory.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.Inventory.SqlDataAccess" />
    <module type="ECCentral.Service.PO.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.PO.SqlDataAccess" />
    <module type="ECCentral.Service.SO.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.SO.SqlDataAccess" />
    <module type="ECCentral.Service.RMA.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.RMA.SqlDataAccess" />
    <module type="ECCentral.Service.Invoice.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.Invoice.SqlDataAccess" /> 

    <!--NeweggCN-->
    <module type="ECCentral.Service.MKT.SqlDataAccess.EnumCodeMapRegister_NeweggCN, ECCentral.Service.MKT.SqlDataAccess" />
    <module type="ECCentral.Service.ExternalSYS.SqlDataAccess.EnumCodeMapRegister, ECCentral.Service.ExternalSYS.SqlDataAccess" />
  </startup>
  <shutdown>
    <!-- 清除缓存的服务端异常消息文本的数据，同时停止监控这些文件变化的FileWatcher -->
    <module type="ECCentral.Service.Utility.ResouceManagerAutorun, ECCentral.Service.Utility" />
  </shutdown>
</autorun>