<?xml version="1.0" encoding="utf-8" ?>
<subscription>
  <event type="ECCentral.Service.EventMessage.SampleMessage_1, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.SampleMessageConsumer_A, ECCentral.Service.EventConsumer" />
    <consumer type="ECCentral.Service.EventConsumer.SampleMessageConsumer_B, ECCentral.Service.EventConsumer" />
  </event>
  <event type="ECCentral.Service.EventMessage.SampleMessage_2, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.SampleMessageConsumer_C, ECCentral.Service.EventConsumer" />
  </event>

  <!--PO Start-->

  <!--******************************PO WMS Start******************************-->

  <event type="ECCentral.Service.EventMessage.WMS.PurchaseOrderCancelVerifyMessage, ECCentral.Service.EventMessage" persist="False">
    <consumer type="ECCentral.Service.EventConsumer.WMS.POCancelVerifyMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <event type="ECCentral.Service.EventMessage.WMS.PurchaseOrderCloseMessage, ECCentral.Service.EventMessage" persist="False">
    <consumer type="ECCentral.Service.EventConsumer.WMS.POCloseMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <event type="ECCentral.Service.EventMessage.WMS.PurchaseOrderWaitingInStockMessage, ECCentral.Service.EventMessage" persist="False">
    <consumer type="ECCentral.Service.EventConsumer.WMS.POWaitingInStockMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <!--******************************PO WMS End******************************-->


  <!--******************************PO VendorPortal Start******************************-->
  <event type="ECCentral.Service.EventMessage.VendorPortal.VendorPortalPOAuditMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.VendorPortal.VendorPortalPOAuditMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>

  <event type="ECCentral.Service.EventMessage.VendorPortal.VendorPortalPOConfirmMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.VendorPortal.VendorPortalPOConfirmMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>

  <event type="ECCentral.Service.EventMessage.VendorPortal.VendorPortalPORetreatMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.VendorPortal.VendorPortalPORetreatMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <!--******************************PO VendorPortal End******************************-->
  <!--PO End-->

  <!--<event type="ECCentral.Service.EventMessage.WMSHoldMessage, ECCentral.Service.EventMessage"  persist="False">
    <consumer type="ECCentral.Service.EventConsumer.WMSHoldMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>-->
  <event type="ECCentral.Service.EventMessage.WMSSOActionRequestMessage, ECCentral.Service.EventMessage" persist="False">
    <consumer type="ECCentral.Service.EventConsumer.WMSSSBMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>

  <!--Invoice Start-->
  <event type="ECCentral.Service.EventMessage.VendorPortal.VendorPortalInvoiceChangeStatusMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.VendorPortal.VendorPortalInvoiceChangeStatusMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <!--Invoice End-->
  <event type="ECCentral.Service.EventMessage.CreateInvoiceSSBMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.CreateInvoiceSSBProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <event type="ECCentral.Service.EventMessage.ImportVATSSBMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.ImportVATSSBProcessor, ECCentral.Service.EventConsumer" />
  </event>

  <!--******************************Common ControlPanelUser Start******************************-->
  <event type="ECCentral.Service.EventMessage.AuthCenter.KeystoneUserQueryMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.AuthCenter.KeystoneUserQueryProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <!--******************************Common ControlPanelUser End******************************-->

  <!--******************************PO ConsignSettlement Start******************************-->
  <event type="ECCentral.Service.EventMessage.EIMS.EIMSResumeReturnPointMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.EMIS.EIMSResumeReturnPointMessageProcessor, ECCentral.Service.EventConsumer" />
  </event>

  <event type="ECCentral.Service.EventMessage.EIMS.EIMSInvoiceInfoMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.EMIS.EIMSInvoiceInfoProcessor, ECCentral.Service.EventConsumer" />
  </event>

  <event type="ECCentral.Service.EventMessage.EIMS.EIMSInvoiceInfoForConsignMessage, ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.EMIS.EIMSInvoiceInfoForConsignProcessor, ECCentral.Service.EventConsumer" />
  </event>
  <!--******************************PO ConsignSettlement End******************************-->

  <!--***********************************Invoice EIMS Start*************************************-->
  <event type="ECCentral.Service.EventMessage.EIMSPayMessage,ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.EIMSPostPayItemProcessor,ECCentral.Service.EventConsumer"/>
  </event>
  <event type="ECCentral.Service.EventMessage.EIMSCancelPayMessage,ECCentral.Service.EventMessage">
    <consumer type="ECCentral.Service.EventConsumer.EIMSCancelPayItemProcessor,ECCentral.Service.EventConsumer"/>
  </event>
  <!--*************************************Invoice EIMS End***********************************-->
</subscription>