<?xml version="1.0"?>
<fileExporter default="" expiry="00:05:00" maxRowCountLimit="10000">
  <!--<add name="ExportCustomer" type="ECCentral.Service.Utility.ExcelFileExporter, ECCentral.Service.Utility" />-->
  <add name="FinanceExporter" type="ECCentral.Service.Invoice.BizProcessor.Exports.FinanceExporter, ECCentral.Service.Invoice.BizProcessor" />
  <add name="FinanceGroupByVendorExporter" type="ECCentral.Service.Invoice.BizProcessor.Exports.FinanceGroupByVendorExporter, ECCentral.Service.Invoice.BizProcessor" />
  <add name="TariffApplyExporter" type="ECCentral.Service.IM.BizProcessor.Exports.TariffApplyExporter, ECCentral.Service.IM.BizProcessor" />
  <add name="InspectionExporter" type="ECCentral.Service.IM.BizProcessor.Exports.InspectionExporter, ECCentral.Service.IM.BizProcessor" />
</fileExporter>
