<?xml version="1.0" encoding="utf-8" ?>
<serviceList>
  <service path="CustomerService" type="ECCentral.Service.Customer.Restful.CustomerService, ECCentral.Service.Customer.Restful" />
  <service path="IMService" type="ECCentral.Service.IM.Restful.IMService, ECCentral.Service.IM.Restful" />
  <service path="RMAService" type="ECCentral.Service.RMA.Restful.RMAService, ECCentral.Service.RMA.Restful" />
  <service path="POService" type="ECCentral.Service.PO.Restful.POService, ECCentral.Service.PO.Restful" />
  <service path="InventoryService" type="ECCentral.Service.Inventory.Restful.InventoryService, ECCentral.Service.Inventory.Restful" />
  <service path="InvoiceService" type="ECCentral.Service.Invoice.Restful.InvoiceService, ECCentral.Service.Invoice.Restful" />
  <service path="CommonService" type="ECCentral.Service.Common.Restful.CommonDataService, ECCentral.Service.Common.Restful" />
  <service path="MKTService" type="ECCentral.Service.MKT.Restful.MKTService, ECCentral.Service.MKT.Restful" />
  <service path="SOService" type="ECCentral.Service.SO.Restful.SOService, ECCentral.Service.SO.Restful" />
  <service path="ExternalSYSService" type="ECCentral.Service.ExternalSYS.Restful.ExternalSYSService, ECCentral.Service.ExternalSYS.Restful" />
  <service path="WPMService" type="ECCentral.Service.WPMessage.Restful.WPMService, ECCentral.Service.WPMessage.Restful" />
</serviceList>