<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <queue default="sqlserver_1">
    <item name="1" type="sqlserver">
      <parameters>
        <connectionString>data source=10.16.40.51\centerdb;database=IPP3;user id=sa;password=newegg@123;connection reset=false;Timeout=30;connection lifetime=30; min pool size=0; max pool size=50</connectionString>
        <table>[MessageQueue].[dbo].[Messages]</table>
        <executeMode>Sync</executeMode>
      </parameters>
    </item>
    <!--<item name="2" type="sqlserver">
      <parameters>
        <connectionString>data source=10.16.40.47\QueryDB01;database=IPP3;user id=nesoft;password=nesoft@123;connection reset=false;Timeout=30;connection lifetime=30; min pool size=0; max pool size=50</connectionString>
        <table>[MessageQueue].[dbo].[Messages]</table>
        <executeMode>Sync</executeMode>
      </parameters>
    </item>-->   
  </queue>
</configuration>