table.breakServiceTable tr td {
    white-space: normal;
}
table.breakServiceTable tr td a {
    color: blue;
}
table.tableB tr td.third {
    padding-left: 30px;
}

body#rma_printer {
  color: #31415A;
  font-family: "Arial" , Helvetica, "宋体" , Tahoma, Verdana, sans-serif;
  font-size: 9pt;
  background-color: #D4DBE5;
  SCROLLBAR-FACE-COLOR: #e1dde6;
  SCROLLBAR-HIGHLIGHT-COLOR: #6c6c90;
  SCROLLBAR-SHADOW-COLOR: #A08EAE;
  SCROLLBAR-3DLIGHT-COLOR: #A08EAE;
  SCROLLBAR-ARROW-COLOR: #240024;
  SCROLLBAR-TRACK-COLOR: #e1dde6;
  SCROLLBAR-DARKSHADOW-COLOR: #48486c;
  SCROLLBAR-BASE-COLOR: #e1dde6;
}
body#rma_printer reg_prt, request_print, div {
  color: #31415A;
  font-family: "Arial" , Helvetica, "宋体" , Tahoma, Verdana, sans-serif;
}

table.reg_prt {
  width:755px;
  height:645px;
  padding:0px;
  margin:0px;
}
table.reg_prt td {
  border:1px double #000;
  border-collapse:collapse;
  padding: 2px;
}
span.underLineInfo {
  text-decoration: underline;
}

table.request_print {
  width:750px;
  height:425px;
  padding:0px;
  margin:0px;
  border:1px solid #000;
}
table.request_print td {
  border: 1px solid #808080;
  font-size: 12pt;
  line-height:25px;
  height:30px;
  padding-left:2px;
}