body
{
    font-size: 9pt;
    background-color: #D4DBE5;
    scrollbar-face-color: #e1dde6;
    scrollbar-highlight-color: #6c6c90;
    scrollbar-shadow-color: #A08EAE;
    scrollbar-3dlight-color: #A08EAE;
    scrollbar-arrow-color: #240024;
    scrollbar-track-color: #e1dde6;
    scrollbar-darkshadow-color: #48486c;
    scrollbar-base-color: #e1dde6;
}
table
{
    font-size: 9pt;
}
body, table, div
{
    color: #31415A;
    font-family: "Arial" ,Helvetica, "����" ,Tahoma,Verdana,sans-serif;
}
A:link
{
    color: #800080;
}
A:visited
{
    color: #800080;
}
A:active
{
    color: #800080;
}
A:hover
{
    color: #E67802;
    text-decoration: underline;
}
A
{
    text-decoration: none;
}
.DataGridHead
{
    background-color: #5D7B9D;
    color: White;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.tbl
{
    border: 0;
    background-color: #5D7B9D;
}
.tblrow
{
    height: 18px;
    background-color: #D4DBE5;
}
.tblsumrow
{
    background-color: #9CF;
    text-align: center;
    font-weight: bold;
}
.DataGridBorder
{
    border-right: #5D7B9D 1px solid;
    border-top: #5D7B9D 1px solid;
    border-left: #5D7B9D 1px solid;
    border-bottom: #5D7B9D 1px solid;
    background-color: #EEE;
}
.AlternatingColor
{
    background-color: #CCC;
}
.SelectedItem
{
    background-color: Yellow;
}
.DataGridPager
{
    color: Navy;
    text-align: right;
    font-weight: bold;
}
.title
{
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}
.pager
{
    page-break-after: always;
}
.print_head
{
    border-right: black 1px double;
    padding-right: 1px;
    border-top: black 1px double;
    padding-left: 1px;
    padding-bottom: 1px;
    margin: 1px;
    border-left: black 1px double;
    padding-top: 1px;
    border-bottom: black 1px double;
    border-collapse: collapse;
}
.print_body
{
    border-right: black 1px double;
    padding-right: 1px;
    border-top: black 1px double;
    padding-left: 1px;
    padding-bottom: 1px;
    margin: 1px;
    border-left: black 1px double;
    padding-top: 1px;
    border-bottom: black 1px double;
    border-collapse: collapse;
}
.RMAprint_body
{
    border-right: black 1px double;
    padding-right: 1px;
    border-top: black 1px double;
    padding-left: 1px;
    padding-bottom: 1px;
    margin: 1px;
    border-left: black 1px double;
    padding-top: 1px;
    border-bottom: black 1px double;
    border-collapse: collapse;
    font-size: small;
}
.l-col
{
    background: #5A6B7D;
    width: 124px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 450px;
}
.r-col
{
    background: #D4DBE5;
    text-align: left;
    height: 490px;
}
.bodyblock
{
    padding-right: 0;
    padding-left: 0;
    background: #D4DBE5;
    padding-bottom: 0;
    width: 100%;
    padding-top: 0;
    position: relative;
}
.R_col_div
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 480px;
    background-color: #D4DBE5;
    nowrap: nowrap;
    min-width: 80%;
}
.inputBtn
{
    border-right: #2a425c 2px solid;
    border-top: #7f97b2 2px solid;
    font-size: 11px;
    background: #5d7b9d;
    margin: 0 20px 0 0;
    border-left: #7f97b2 2px solid;
    width: 90px;
    cursor: pointer;
    color: #fff;
    border-bottom: #2a425c 2px solid;
    font-family: Tohoma,Verdana,Helvetica,sans-serif;
    height: 20px;
}
.MenuList h4
{
    padding-left: 20px;
    margin: 0;
    nowrap: nowrap;
}
.MenuList ul
{
    padding: 10px 0;
    margin: 0;
}
.MenuList li
{
    background: url(../Images/item.gif) no-repeat left;
    padding: 2px 0 2px 15px;
    list-style-type: none;
    line-height: 25px;
    nowrap: nowrap;
}
.MenuList table
{
    border-width: 0;
}
.MenuList td
{
    border: 0;
    vertical-align: top;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    border-top-color: #ccc;
    border-left-color: #ccc;
}
