<?xml version="1.0" encoding="utf-8" ?>
<services>

  <service name="POInStockConfirm">
    <processors>
      <processor name="POInStockConfirmProcessor" implementType="Nesoft.KJT.Service.Processors.POInStockConfirmProcessor, Nesoft.KJT.Service"></processor>
    </processors>
  </service>
  <service name="SOOutStockConfirm">
    <processors>
      <processor name="SOOutStockConfirmProcessor" implementType="Nesoft.KJT.Service.Processors.SOOutStockConfirmProcessor, Nesoft.KJT.Service"></processor>
    </processors>
  </service>
  <service name="ItemAdjustConfirm">
    <processors>
      <processor name="ItemAdjustConfirmProcessor" implementType="Nesoft.KJT.Service.Processors.StockAdjustConfirmProcessor, Nesoft.KJT.Service"></processor>
    </processors>
  </service>

  <service name="ProductCustomsMergeInfoSave">
    <processors>
      <processor name="ProductCustomsMergeInfoSaveProcessor" implementType="Nesoft.KJT.Service.Processors.ProductCustomsMergeInfoSaveProcessor, Nesoft.KJT.Service"></processor>
    </processors>
  </service>

</services>