<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.16.40.33:8061/AuthService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap"
                contract="Newegg.AuthCenter.AuthCenterForECC.AuthCenterService.AuthServiceSoap"
                name="AuthServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>