@import url("../ele_css/ele_pagenav.css");
.col_970{
	width:970px;	
}
.btn_gray24,
.btn_gray24 span,
.btn_red24,
.btn_red24 span
{
	background-image:url(../Nest/img/sprite_btnB.png);
	height:24px;
	line-height:24px;
}
.btn_gray24 em{
	font-style:normal;
	*margin-top:4px;
}
.btn_gray24{
	padding-left:13px;
}
.btn_red24{
	background-position:left -28px;
	color:#fff;
	padding-left:13px;
}
.btn_red24 .cmnTxt{
	color:#fff;
	padding-left:0;
	background-position:-1000px;
}
.btn_gray24 span{
	padding-right:13px;
}
.btn_red24 span{
	background-position:right -28px;
	color:#fff;
	padding-right:13px;
}
/*.btn_gray24:hover,
.btn_red24:hover{
	-moz-opacity:.8;
	filter:alpha(opacity=80);
	opacity:.8;
}*/
.catepro .price_gray{
	background:url(../Nest/img/price_g.png) no-repeat;
	color:#999;
	padding-left:10px;
	background-position:2px -351px;
	*background-position:2px -352px;
	_background-position:2px -353px;
}
.submenu dt{
	background:url(../Nest/img/submenu.png) no-repeat;
}
.sidemenu {
	background-color:#fff;
	position:relative;
	z-index:1;
	padding:10px;
	zoom:1;
}
.submenu dt{
	position:relative;
	height:34px;
	line-height:34px;
	background-position:right -39px;
	color:#000;
	font:12px;
	font-weight:bold;
	zoom:1;
}
.submenu_cur dt{
	background-position:right 3px;
}
.submenu dt a{
	font:12px;
	font-weight:bold;
	color:#000;
}
.submenu dt a.current,
.submenu dt a:hover{
	color:#f60;
	text-decoration:none;
}
.submenu .icon_corner{
	position:absolute;
	display:inline-block;
	width:20px;
	height:20px;
	right:0;
	top:50%;
	margin-top:-10px;
	background:#fff url(../Nest/img/submenu.png) -200px -3px no-repeat;
}
.submenu .icon_corner_down{
	background-position:-200px -88px;	
}
.submenu a:hover .icon_corner{
	background-position:-200px -148px;	
}
.submenu a:hover .icon_corner_down{
	background-position:-200px -118px;	
}
.submenu dd{
	position:relative;
	overflow:hidden;
}
.submenu ul{
	overflow:hidden;
	padding:5px 5px 10px 5px;
}
.submenu li{
	float:left;
	width:	93px;
	overflow:hidden;
	height:28px;
	line-height:28px;
	color:#999;
}
.submenu li a{
	color:#999;
	font:12px;
}
.submenu dd .current a,
.submenu li a:hover{
	color:#f60
}
.sidebox{
	border-top:2px solid #f60;
	background:#fff;
}
.sidebox h3{
	height:35px;
	background:url(../Nest/img/sidebox_bg.png) repeat-x;
	line-height:34px;
	font-size:14px;
	color:#333;
	padding:0 10px;
	border-bottom:1px solid #efefef;
	border-top:0;
	font-weight:700;
}
.sidebox .orange{
	color:#f60;
}
.sidebox .inner{
	border:0 none #efefef;
	border-top:0;
	overflow:hidden;
}
.sidebox .prolist{
	margin-top:-2px;
	padding-bottom:2px;
}
.sidebox .prolist li{
	width:194px;
	height:225px;	
	/*background:url(../Nest/img/line_doteA.png) repeat-x bottom;*/
	background:url(../Nest/img/line_doteA.png) repeat-x 0 top;
}
.sidebox .prolist li.last{
	/*background:#fff;	*/
	background:url(../Nest/img/line_doteA.png) repeat-x 0 top;
}
.sidebox .prolist .img img{
	width:160px;
	height:160px;	
}
.sidebox .prolist .tit a{
	color:#666;
}
.sidebox .prolist .tit a:hover{
	color:#f60;
}
.sidebox .prolist .btn span{
	width:	89px;
}
.sidebox .iconProm span{
	left:auto;
	top:-9px;
	right:-12px;
	_right:0;	
}
.sidebox .ranklist li{
	position:relative;
	padding-left:44px;
	width:164px;
	height:40px;
	overflow:hidden;
}
.sidebox .ranklist .tit{
	margin-top:4px;
}
.sidebox .ranklist .img{
	position:absolute;
	top:15px;
	left:20px;
}
.sidebox .ranklist .img,
.sidebox .ranklist .img img{
	width:60px;
	height:60px;
}
.sidebox .ranklist .img,
.sidebox .ranklist .price{
	display:none;
}
.sidebox .ranklist .curr{
	height:auto;
	padding-left:93px;
	width:114px;
}
.sidebox .ranklist .curr .img,
.sidebox .ranklist .curr .price{
	display:block;
}
.ranklist .iconRank{
	position:absolute;
	left:10px;
	top:13px;
	display:inline-block;
	width:23px;
	height:0;
	padding-top:18px;
	overflow:hidden;
	background-image:url(../Nest/img/icon_rank.png);
	background-repeat:no-repeat;
	z-index:2;
}
.rank_1{
	background-position:0 0;
}
.rank_2{
	background-position:0 -38px;
}
.rank_3{
	background-position:0 -76px;
}
.rank_4{
	background-position:0 -114px;
}
.rank_5{
	background-position:0 -152px;
}
.rank_6{
	background-position:0 -190px;
}
.rank_7{
	background-position:0 -228px;
}
.rank_8{
	background-position:0 -266px;
}
.historybox .prolist .img img{
	height:80px;
	width:80px;	
}
.historybox .prolist .img{
	display:inline-block;
	_display:inline;
	float:left;
	margin-left:-90px;
	height:80px;
	width:80px;
	margin-top:10px;
}
.historybox .prolist li{
	padding-left:105px;
	width:100px;
	height:95px;
}
.historybox .prolist .tit{
	margin:0 0 3px;
	padding:8px 0 0;	
}
.historyboxB .prolist{
	padding-left:26px;
}
.historyboxB .prolist li{
	width:145px;
	height:210px;
	padding:10px 23px;
}
.historyboxB .prolist .img,
.historyboxB .prolist .img img{
	width:145px;
	height:145px;
}
.topbanner {
	width:740px;
	height:280px;
	overflow:hidden;
	position:relative;
}
.topbanner:after{
	content:"";
	z-index:1;
	right:-1px;
	top:0;
	position:absolute;
	height:280px;
	width:1px;
	box-shadow:0 0 4px #333;
}

.topbanner ul {
	position:absolute;
	left:0;
	top:0;
	width:7400px;
}
.topbanner li {
	float:left;
	width:740px;
	height:280px;
}
.topbanner li img{
	width:740px;
	height:280px;
}
.topbanner .nav{
	position:absolute;
	left:50%;
	bottom:0;
	padding:8px 0 6px;
	height:20px;
}
.topbanner .navInner,
.topbanner .navInnerB{
	background:url(../Nest/img/abtn_nav_bg_gray.png) no-repeat;
}
.topbanner .navInner{
	position:relative;
	left:-50%;
	height:16px;
	background-position:right -16px;
	padding-right:8px;
	_float:left;
}
.topbanner .navInnerB{
	height:16px;
	background-position:0 0;
	padding-left:3px;
	_float:left;
}
.topbanner .nav a{
	position:relative;
	display:block;
	float:left;
	left:3px;
	top:3px;
	width:17px;
	height:15px;
	overflow:hidden;	
}
.topbanner .nav span{
	position:absolute;
	display:block;
	width:10px;
	height:62px;
	top:0;
	left:3px;
	text-indent:-100px;
	overflow:hidden;
	background:url(../Nest/img/abtn_24bit.png) 0 0 no-repeat;	
}
.topbanner .nav .current span{
	top:-36px;	
}
.hotpro .iconProm span{
	top:9px;	
}
.hotgoods{
	overflow:hidden;
	height:240px;
	width:220px;
	margin:0 auto;
	position:relative;	
}
.hotgoods .img img{
	width:150px;
	height:150px;	
}
.hotgoods .abtn{
	top:89px;
	background:url(../Nest/img/hotpro_sliderbtn.png) no-repeat;
	height:31px;
	width:16px;
}
.hotgoods .aleft{background-position:left 0;}
.hotgoods .aleft:hover{
	background-position:left -39px;	
}
.hotgoods .agrayleft,
.hotgoods .agrayleft:hover{
	background-position:left 0;
	display:block;
	opacity:.4;
	-moz-opacity:.4;
	filter:alpha(opacity=40);
	cursor:default;
}
.hotgoods .aright{background-position:-24px 0;}
.hotgoods .aright:hover{
	background-position:-24px -39px;
	display:block;
}
.hotgoods .agrayright,
.hotgoods .agrayright:hover{
	background-position:-24px 0;	
	display:block;
	opacity:.4;
	-moz-opacity:.4;
	filter:alpha(opacity=40);
	cursor:default;
}
.hotpro {
	width:230px;
	background-color:#fff;
}
.hotpro .title{
	padding-top:10px;
	height:30px;
	text-align:center;	
}
.hotpro .title div{
	text-align:center;
}
.hotgoods .prolist{
	width:10000px;
	position:absolute;
	height:245px;
}
.hotgoods .prolist li{
	padding:0;
	width:220px;
	height:240px;	
}
.hotgoods .prolist p{
	padding-left:20px;
	padding-right:20px;	
}
.hotgoods .prolist .tit{
	margin-top:2px;
}
.hotgoods .prolist .img{
	padding:9px 0;	
}
.hotgoods .prolist .price_old{
	font-size:10px;
	display:inline-block;
}
.toptab .tab{
	height:40px;
	/*background:url(../Nest/img/tab_bgA.png) repeat-x;*/
	line-height:40px;
	font-size:16px;
	color:#666;
}
.toptab .tab a{
	font-size:16px;
	color:#666;
	display:block;
	float:left;
	padding:0 25px;
	height:40px;
	font-weight:700;	
}
.toptab .tab .now{
	text-decoration:none;
	background:#fff;
	color:#f60;
	border-top:2px solid #f60;
	height:38px;
	line-height:38px;
	padding:0 24px;
}
.toptab .tab a:hover{
	color:#f60;
	text-decoration:none;
}
.toptab .inner{
	background-color:#fff;
}
.toptab .prolist{
	padding:0 5px;
}
.toptab .prolist li{
	width:200px;
	height:	285px;
	padding:10px 20px;
}
.toptab .prolist .img .img{
	height:200px;
	width:200px;	
}
.toptab .prolist .tit{
	margin:10px 0;
	font-size:14px;
	line-height:1.5;
	height:42px;
}
.price16{
	background-position:left -60px;	
}
.catecomnd{
	width:970px;
}
.catecomndbox .titbox{
	height:36px;
	border-bottom:2px solid #343233;
	line-height:36px;	
}
.catecomndbox .titbox h2{
	color:#333;
	font-size:16px;
}
.catecomndbox .pic{
	float:left;
	height:510px;
	width:395px;
	overflow:hidden;
	_margin-right:-3px;
}
.catecomndbox .pic img{
	display:block;
}
.catecomndbox .inner{
	overflow:hidden;	
	height:510px;
	background-color:#fff;
}
.catecomndbox .prolist{
	zoom:1;
}
.catecomndbox .prolist li{
	width:160px;
	padding:15px;
	height:224px;
	border-bottom:1px solid #fff;
}
.catecomndbox .prolist .img img{
	height:160px;
	width:160px;	
}
.catecomndbox .morelink a{
	color:#a0a0a0;	
}
.catecomndbox .morelink a:hover{
	color:#f60;
}
.catecomndbox .morelink b{
	color:#ececec;
}
.crumb,
.crumb .inner{
	background:transparent;
	height:30px;
	line-height:30px;	
}
.crumb{
	border-bottom:1px solid #f5f5f5;
	background-position:left -56px;
	margin-top:3px;
	padding-left:0;
	color:#f60;
}
.crumb .inner{
	background-position:right -91px;
}
.crumb b{
	color:#999;
}
.crumb b.gray{
	background-position:left -775px;	
}
.brandrecommend{
	width:970px;
	overflow:hidden;
}
.brandrecommend h2{
	color:#333;
	height:28px;
}
.brandrecommend ul{
	width:980px;
}
.brandrecommend li{
	float:left;
	width:161px;
	height:85px;
	margin:1px 1px 0 0;
	background-color:#fff;
}
.brandrecommend li img{
	display:block;
	width:100px;
	height:55px;
	margin:14px auto;
}
.brandrecommend a:hover img{
	opacity:.8;
	-moz-opacity:.8;
	filter:alpha(opacity=80);
}

.filtertype {
	position:relative;
	zoom:1;
	z-index:1;
	background-color:#fff;
	padding:5px 30px 0 20px;
}


.filtertable{
	width:100%;
	padding:0;
	margin:0;
}
.filtertable th{
	width:85px;
	background:none;
	text-align:left;
	color:#666;
	border-bottom:1px solid #eceae6;
	vertical-align:top;
	padding-top:13px;
}
.filtertable td{
	border-bottom:1px solid #eceae6;
	height:44px;
}
.filtertable th strong{
	margin-right:15px;
	font-weight:bold;
}
.filtertable th strong span{
	*display:inline-block;
	*margin-right:0;
}
.filtertable .filtermore{
	text-align:center;
	vertical-align:middle;
	width:45px;
}
.brandbox{
	width:714px;
	overflow:hidden;	
}
.brandbox ul{
	width:714px;
	overflow:hidden;
	padding-bottom:15px;	
}
.brandbox li{
	height:30px;
	width:178px;
	float:left;
	vertical-align:middle;
}
.brandbox li div{
	height:17px;
	padding-top:13px;
	background:#fff;
	overflow:hidden;
}
.filtertable a{
	color:#333;
}
.filtertable a:hover{
	color:#f60;
}
.brandbox .selected div{
	color:#e3002b;
}

.brandbox ul.last{
	height:43px;
}
.filtertable .inner .innerB{
	padding:7px 0 0 0;	
}
.filtertable .filterhidden{
	overflow:hidden;
	height:24px;
}
.filtertable .filterhidden .innerB{
	padding:0;	
}
.filtertable .brandbox .filterhidden{
	overflow:hidden;
	height:auto;
	max-height:75px;
	_height:expression(this.scrollHeight > 87 ? "87px" : "auto");
}

.filtertable .inner label{
	display:inline-block;
	line-height:24px;
	height:24px;
	/*width:178px;*/
	padding-bottom:7px;
	padding-right:40px;
}
.filtertable .inner label em{
	color: #999;
    font-style: normal;
}
.filtertable .inner label a:hover em,
.filtertable .selected a{
	color:#f60;
}
.filtertable .filtermore a{
	color:#007fd0;
}
.filtertable .filtermore .up a{
	background-position:right -1563px;
}
.filterbox .currOption{}
.filterbox .currOption dt{
	width:85px;
	display:block;
	position:relative;
	float:left;
	padding:15px 0 10px;
	font-size:12px;
	text-align:left;
	color:#666;
	background-position: 0 top;
}
.currOption dt strong{
	margin-right:15px;
	font-weight:bold;	
}
.currOption dd{
	margin-left:85px;
	padding:12px 0 0;
	zoom:1;
	overflow:hidden;
	position:relative;
}
.currOption label{
	height:23px;
	line-height:22px;
	display:inline-block;
	border:1px dotted #fe8008;
	margin-right:6px;
	margin-bottom:12px;
	padding:0 0 0 8px;
}
.currOption label a{
	color:#f60;
}
.currOption label a:hover{
	text-decoration:none;	
}
.currOption .btnDelR span span{
	padding-right:24px;
	background:url(../Nest/img/filter_ele.png) right -27px no-repeat;
}
.filtersearchbox{
	border:1px solid #e0e0e0;
	position:absolute;
	right:270px;
	top:7px;
	width:162px;
	height:23px;
}
.filtersearchbox .intxt{
	width:132px;
	border:0;
	padding:3px 4px;
	color:#757575;
}
.filtersearchbox .search_btn{
	background:url(../Nest/img/filter_ele.png) no-repeat;
	width:16px;
	height:16px;
	position:absolute;
	text-indent:-1000px;
	overflow:hidden;
	right:3px;
	top:4px;
}

.filter {
	height:38px;
	background:url(../Nest/img/sprite_category.png) left -1224px repeat-x;
	overflow:hidden;
	background-color:#fff;
	position:relative;
}
.filter .rankitem{
	margin-left:-1px;
	_margin-top:-1px;
}
.filter .label {
	line-height:30px;
}
.filter .orderCell {
	margin-right:0;
	float:left;
	margin-right:-1px;
}
.filter .item, .filter .item a, .filter .item span {
	background-image:url(../Nest/img/sprite_category.png);
	background-repeat:no-repeat;
	cursor:pointer;
}
.filter .item {
	position:relative;
	display:inline-block;
	height:38px;
	padding-right:30px;
	line-height:38px;
	background-position:right -1076px;
	vertical-align:middle;
	overflow:hidden;
	zoom:1;
}
.filter .item:hover {
	text-decoration:none;
}
.filter .item a, .filter .item span {
	display:inline-block;
	height:38px;
	overflow:hidden;
	padding-left:18px;
	color:#333;
	background-color:#fff;
	background-position:left -1078px;
}
.filter .item span {
	float:left;
}
.filter .item:hover {
	background-position:right -1147px;
	background-color:#f0f0f0;
}
.filter .item:hover span {
	background-position:left -1147px;
	background-color:#f0f0f0;
}
.filter .itemUpOnly {
	background-position:right -1111px;
	background-color:#fff;
}
.filter .itemUpOnly a, .filter .itemUpOnly span {
	background-position:left -1109px;
	background-color:#fff;
}
.filter .itemUpOnly:hover {
	background-position:right -1182px;
}
.filter .itemUpOnly:hover span {
	background-position:left -1182px;
}
.filter .orderActive {
	position:relative;
	z-index:1;
	background-color:#fe8008;
}
.filter .orderActive .item, .filter .orderActive .item:hover {
	background-position:right -1007px;
	background-color:#fe8008;
}
.filter .orderActive .item a, .filter .orderActive .item span, .filter .orderActive .item:hover span {
	color:#fff;
	background-position:left -1007px;
	background-color:#fe8008;
	font-weight:bold;
}
.filter .orderActive .itemUpOnly, .filter .orderActive .itemUpOnly:hover {
	background-position:right -1042px;
	background-color:#fe8008;
}
.filter .orderActive .itemUpOnly a, .filter .orderActive .itemUpOnly span {
	background-position:left -1040px;
	background-color:#fe8008;
}
.filter .itemDefault{
	padding-right:13px;
	background-position:left -1224px;
}
.filter .itemDefault:hover{
	background-position:left -1186px;
}
.filter .orderActive .itemDefault, .filter .orderActive .itemDefault:hover{
	background-position:0 -1042px;
}
.filter input {
	vertical-align:middle;
	position:relative\9;
	top:-1px\9;
}
.filter label {
	margin-right:3px;
 *margin-right:0;
	_font-family:simsun;
}
.filter .seprator {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	height:28px;
	/*line-height:38px;
	background:url(../Nest/img/seprator.gif) no-repeat left center;*/
}
.filter .seprator a{
	color:#555;
}
.filter .seprator a:hover{
	color:#f60;
}
.filter .pagebtn {
	padding-top:9px;
	_padding-top:8px;
	padding-bottom:4px;
	color:#333;
}
.filter .pagebtn .total{
	color:#999;
}
.filter .pagebtn .total strong{
	margin-left:2px;
	margin-right:2px;
}
.seprator .ckbox {
	display:inline-block;
	height:18px;
	padding-left:22px;
	background: url(../Nest/img/filter_ele.png) 5px -58px no-repeat;
}
*+html .seprator .ckbox a{ padding-top:1px; display:inline-block; margin-left:-22px; padding-left:22px;}
.seprator .ckbox_checked {
	background-position: 5px -85px;
}
.priceSpan{
	padding:7px 15px 7px 20px;
	border-right:1px solid #f5f5f5;
	color:#777;
}
.priceSpan .inputwrap{
	position:relative;
	height:22px;
	display:inline-block;
	border:1px solid #ccc;
	overflow:hidden;
	vertical-align:middle;
}
.priceSpan .yen{
	position:absolute;
	left:0;
	top:0;
	line-height:22px;
	font-style:normal;
	color:#666;
	z-index:2;
	width:13px;
	text-align:center;
	background-color:#fff;
	font-family:Arial;
}
.priceSpan .intxt{
	border:0 none;
	width:2.4em;
	height:16px;
	text-align:center;
	padding:3px 2px 3px 1em;
	*padding-top:5px;
	*line-height:16px;
	*padding-bottom:0;
}
.ie6 .priceSpan .intxt{
	padding-top:3px;
}
.priceSpan .btn_yes{
	display:inline-block;
	width:40px;
	height:0;
	padding-top:24px;
	overflow:hidden;
	vertical-align:middle;
	background:url(../Nest/img/sprite_btns.png) 0 -1671px no-repeat;
}
.priceSpan .btn_yes:hover{
	background-position:-62px -1671px;
}
.catepro{
	background-color:#fff;
}
.catepro .prolist li{
	width:200px;
	height:313px;
	*height:318px;
	padding:20px;
	color:#999;
}
.catepro .prolist .tit a{
	color:#666;
}
.catepro .prolist .tit a:hover{
	color:#f60;
}
.catepro .prolist p{
	line-height:18px;
}
.catepro .prolist .label_price{
	color:#666;
}
.catepro .prolist .action{
	margin-top:10px;	
}
.catepro .prolist .pro_icon1,
.catepro .prolist .pro_icon2,
.catepro .prolist .pro_icon3{
	background:url(../Nest/img/pro_prom_pic.png) no-repeat;
	height:16px;
	width:33px;
	position:relative;
	top:-2px;
	margin-left:5px;
}
.catepro .prolist .pro_icon1{
	background-position:0 0;	
}
.catepro .prolist .pro_icon2{
	background-position:0 -23px;	
}
.catepro .prolist .pro_icon3{
	background-position:0 -46px;	
}
.catepro .iconProm img{
	display:block;
	
}
.catepro_pageNav{
	padding:20px 0;
	background:url(../Nest/img/dottelineB.gif) top left repeat-x #fff;
}
/* Compare */
#compare {
	position:fixed;
	_position:absolute;
	bottom:0;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */
	height:143px;
	width:970px;
	background-color:#fff;
	z-index:8;
	border:1px solid #eee;
	box-shadow:0 0 4px #ddd;
}
#compare h3{
	height:35px;
	background:url(../Nest/img/hline_dotted.png) left bottom repeat-x;
	line-height:34px;
	font-size:12px;
	color:#333;
	padding-left:10px;
}
#compare h3 span{
	font-weight:normal;	
}
#compare h3 .more{
	font-weight:normal;
	float:right;
	margin-right:20px;
}
.compareArea {
	width:970px;
	height:108px;
	overflow:hidden;
}
.compareArea ul {
	float:left;
	width:860px;
	background:url(../Nest/img/sprite_compare.png) left 18px no-repeat;
}
.compareArea .control {
	float:right;
	padding-top:25px;
	width:105px;
}
.compareArea .control a {
	display:block;
	width: 68px;
	text-align:center;
	line-height:30px;
	font-size: 12px;
	color:#fff;
	border:1px solid #fff;
	border-radius: 3px;
	margin:0 auto;
}
.compareArea .control .cmp {
	background-color:#FE8008;
	font-weight:bold;
}
.compareArea .control .cmp:hover{
	text-decoration:none;
	background-color:#f60;	
}
.compareArea .control .del {
	color:#007CCF;
}
.compareArea li, .compareArea dl {
	height:106px;	
}
.compareArea li {
	float:left;
	width:213px;
	background:#fff;
	border-right:2px solid #fff;
}
.compareArea li.empty{
	background:none;	
}
.compareArea dl {
	display:block;	
	border-bottom:2px solid #f60;
	padding:15px 0 12px 0;
	height:79px;
	overflow:hidden;
}
.compareArea .empty dl{
	border-bottom:2px solid #cecece;
}
.compareArea dt {
	float:left;
	padding:11px 10px 20px 11px;
}
.compareArea dt img {
	display:block;
	width:50px;
	height:50px;
	overflow:hidden;
	border:1px solid #e7e7e7;
}
.compareArea dd {
	padding:11px 12px;
	height:56px;
	background:url(../Nest/img/vline_dotted.png) right top repeat-y;
}
.compareArea dd p {
	height:36px;
	overflow:hidden;
}
.compareArea dd a {
	color:#5e5e5e;
}
.compareArea dd a:hover{
	color:#f60;
}
.compareArea .bot {
	margin-top:3px;
}
.compareArea .bot .del {
	float:right;
	display:inline-block;
	width:52px;
	text-align:center;
	line-height:16px;
	color:#027dcb;
	border-radius: 1px;
	display:none;
}
.compareArea .empty span {
	display:block;
	text-align:center;
	line-height:60px;
	color:#1b549a;
	font-size:16px;
}
#close, #extend {
	position:fixed;
	_position:absolute;
	right:0;
	z-index:9;
}
#close {
	bottom:49px;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight-49); /* for IE6 */
}
#extend {
	display:none;
	bottom:0;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */
}
#close .position, #extend .position {
	float:right;
}
#close .position .btnCloseBar {
	float:right;
	width:37px;
	height:27px;
	background-position:0 -244px;
}
#extend .position .btnExtended {
	float:right;
	width:33px;
	height:19px;
	background-position: -65px -252px;
}

/*search resulit page*/
.searchtitle, .searchtitle .inner {
	background:url(../Nest/img/searchtitle.png) left 0 repeat-x;
	height:34px;
	color:#333;
	line-height:34px;
	font-size:14px;
	font-weight:normal;
}
.searchtitle{
	border-top:2px solid #f60;
}
.searchtitle .inner {
	background-position:right 0;
	padding-left:17px;
	border-right:0px none #fff;
	border-left:0px none #fff;
}
.searchtitle strong {
	color:#f60;
}
.otherKeywork{
	background:#fff;
	line-height:30px;
	padding:5px 17px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-top:1px solid #EFEFEF;
	margin-bottom:10px;
}
.otherKeywork label{
	color:#222;	
	font-size:14px;
}
.otherKeywork a {
	color:#f60;
}
.noresult {
	background:url(../Nest/img/search_noresult.jpg) left bottom #fff no-repeat;
	height:	280px;
	padding:45px 0 0 373px;
	font-family:"microsoft yahei",Arial;
	color:#666;
}
.noresult h1 {
	font-size:18px;
	font-weight:normal;
	padding-bottom:24px;
}
.noresult p {
	padding:10px 0;
}
.noresult a {
	margin:0 5px;
	color:#007CCF;
}
.noresultbox{
	height:300px;
	border-top:1px #fff solid;
	padding-top:50px;
	text-align:center;
	color:#666;
	margin-top:10px;
	background-color:#fff;
}
.noresultbox a {
	color:#007CCF;
}
/* Category ALL */
.allCateBrandList {
	background:#fff;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.allCateBrandList h3 {
	font-size:18px;
	color:#f60;
	font-weight:normal;
	height:48px;
	line-height:48px;
	padding-left:27px;
	border-bottom:2px solid #FE8008;
}
.allCateBrandList .allList h3 {
	border-bottom:1px solid #e9e9e9;
	height:34px;
}
.allCateBrandList .allList h3 span {
	height:32px;
	display:block;
	float:left;
	zoom:1;
	line-height:32px;
	border:1px solid #e9e9e9;
	border-bottom:1px solid #fff;
	padding:0 33px;
	position:relative;
	top:1px;
	border-radius:3px 3px 0 0;
}
.allCateBrandList .allList h3 em {
	font-style:normal;
	font-size:16px;
}
.allCateBrandList .allList .backTop {
	float:right;
	background:url(../Nest/img/sprite.png) left -1131px no-repeat;
	padding-left:13px;
	margin-right:15px;
	margin-top:-19px;
	background-position:left -1133px\9;
}
.allList dl {
	margin-top: 10px;
	padding-left:28px;
	padding-bottom:30px;
	overflow:hidden;
	zoom:1;
}
.allList dt {
	float: left;
	font-weight: bold;
	padding: 5px 10px 5px 12px;
	background:url(../Nest/img/sprite.png) no-repeat -16px -1096px;
	text-align: left;
	width: 95px;
	line-height: 25px;
}
.allList dt a {
	color:#3f3f3f;
}
.allList dt a:hover {
	color:#f60;
}
.allList dd {
	float: left;
	margin: 5px 0;
	width: 1000px;
}
.allList dd em {
	float: left;
	font-style: normal;
	white-space: nowrap;
	width: 110px;
	overflow: hidden;
	margin-right: 5px;
	line-height: 25px;
}
.allList dd a {
	color:#999;
}
.allList dd a:hover {
	color:#f60;
}
.categoryList {
	padding:10px 25px 25px;
}
.categoryList li {
	float:left;
	width:191px;
	height:38px;
	overflow:hidden;
}
.categoryList li a span {
	height:38px;
	display:inline-block;
	zoom:1;
	line-height:38px;
	padding:0 15px 0 36px;
/*	background:url(../Nest/img/sprite.png) no-repeat 6px 9px;
*/	font-size:16px;
	color:#f60;
	position:relative;
	white-space:nowrap;
	*zoom: expression(this.runtimeStyle.zoom="1",this.appendChild(document.createElement("i")).className="ie-after");
}
.categoryList li span:before,
.categoryList li .ie-after{
	content:"";
	position:absolute;
	display:inline-block;
	top:50%;
	margin-top:-12px;
	left:0;
	height:24px;
	width:20px;
	background:url(../Nest/img/sprite.png) no-repeat 3px 0px;
}
.categoryList li a:hover span {
	color:#f60;
}
.categoryList li a:hover {
	text-decoration:none;
}
.categoryList .item1 span:before,
.categoryList .item1 .ie-after{background-position:3px 0;}
.categoryList .item2 span:before,
.categoryList .item2 .ie-after{background-position:3px -27px;}
.categoryList .item3 span:before,
.categoryList .item3 .ie-after{background-position:3px -56px;}
.categoryList .item4 span:before,
.categoryList .item4 .ie-after{background-position:3px -86px;}
.categoryList .item5 span:before,
.categoryList .item5 .ie-after{background-position:3px -116px;}
.categoryList .item6 span:before,
.categoryList .item6 .ie-after{background-position:3px -145px;}
