@import url("../ele_css/ele_rating.css");

.wraper {
    width: 1000px;
}

#footer .wraper {
    width: 1200px;
}

.searchbar {
    left: 220px;
}

#menu .menubar {
    background-image: url(../Nest/img/menubg_990.png);
    min-width: 1000px;
}

#menu .navigation li .item {
    padding-right: 19px;
}

#menu .navigation .item span {
    padding-left: 19px;
}

.countdownPanel {
    height: 50px;
    margin: 0 auto;
    font-family: "microsoft yahei",SimHei;
    font-size: 15px;
    line-height: 38px;
    line-height: 41px\9;
    color: #000;
    vertical-align: middle;
    text-align: center;
    background: #fff url(../Nest/img/countdown_panel.png) center 0 no-repeat;
}

:root .countdownPanel {
    line-height: 38px\0;
}

.countdownPanel .num {
    height: 38px;
    width: 32px;
    display: inline-block;
    font-size: 20px;
    color: #fffc00;
    text-align: center;
    margin: 0 3px;
    background: url(../Nest/img/countdown_panel.png) 0 -73px no-repeat;
}

.catepro .prolist li {
    width: 210px;
    height: 340px;
    background: url(../Nest/img/line_doteA.png) repeat-x scroll left bottom transparent;
}

.catepro .prolist .btns {
    margin-top: 10px;
    margin-left: -1px;
}

.cd-content .price_old {
    display: inline-block;
}

.cd-content .pageNav {
    margin-top: 0;
    padding-top: 25px;
    margin-bottom: 0;
    padding-bottom: 25px;
    background: #fff;
}

.btn_countdown,
.btn_countdown_end,
.btn_countdown_over {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 154px;
    height: 0;
    padding-top: 39px;
    overflow: hidden;
    background-image: url(../Nest/img/btn_countdown.png);
    background-repeat: no-repeat;
}

    .btn_countdown:hover {
        background-position: 0 -41px;
    }

.btn_countdown_end {
    background-position: 0 -82px;
}

    .btn_countdown_end:hover {
        cursor: default;
    }

.btn_countdown_over {
    background-position: 0 -125px;
}

    .btn_countdown_over:hover {
        cursor: default;
    }
.btn_countdown_notstart {
    margin-left:20px;
    display: inline-block;
    width: 154px;
    height: 34px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color:#b1aeae;
    border-radius:3px 4px;
    font-weight:bold;
    font-size:16px;
    text-align:center;  
    color:white ;

}
    .btn_countdown_notstart:hover {
        color:white ;
        text-decoration-line:none;
    }
