.errorbox{
	background:url(../Nest/img/error.jpg) 230px 20px #fff no-repeat;
	height: 357px;
    padding: 75px 0 0 576px;
}
.errorbox h1{
	font-size:48px;
	font-weight:normal;
	font-family:"microsoft yahei",SimHei,Arial;
	color:#5f5f5f;
}
.errorbox p{
	padding:0;
	color:#888;
	font-family:"microsoft yahei",SimHei,Arial;
}
.errorbox .fp30{
	font-size:30px;
	color:#5f5f5f;
}
.errorbox a {
	color:#f60;
}
.errorlink li {
	padding-left:10px;
}
.errorlink s {
	position:absolute;
	width:2px;
	height:2px;
	display:inline-block;
	background-color:#f60;
	left:-8px;
	top:50%;
	margin-top:-1px;
	overflow:hidden;
}
.errorlink a {
	position:relative;
	display:inline-block;
}
.comingbox {
	background-image:url(../Nest/img/coming-soon.jpg);
}

.modA{
	border:1px solid #fff;
	background:#fff;
	padding:30px;
}
.modA h3{
	font-size:	18px;
	padding-bottom:20px;
	color:#f60;
	font-family: "microsoft yahei",Arial;
	font-weight:bold;
}
.modA h3 em{
	font-style:normal;
	font-family: "microsoft yahei",Arial;
}
.modA h3 .modATL,
.modA h3 .modATR{
	display:none;	
}
.modBody{
	color:#666;
}
.modBody h1{
	font-size: 14px;
	font-weight:bold;
	padding-bottom:10px;
}
.modBody p{
	line-height:24px;	
}
.modBody a{
	color:#176DBA;
}
.modBody ul{
	padding-top:20px;	
}
.modBody li{
	height:24px;	
}
#submitEmail #email{
	border:1px solid #d4d4d4;
	padding:4px;
	*padding-top:3px;
	_padding-top:4px;
	width:180px;
	height:16px;
	background-color:#fff;
	*vertical-align:middle;
}
.modBody a.btnOK{
	color:#fff;
	margin-top:-6px;
	margin-bottom:-6px;
	*margin-bottom:-3px;
	_margin-top:-3px;
	*vertical-align:middle;
}