/* common for flagship */
.wraper {
	width:1000px;
}
#footer .wraper{
	width:1200px;
}
.searchbar {
	width:400px;
}
.searchbar .intxt{
	width:335px;
}
.searchbar .hot {
	width:415px;
}
#searchtip {
	width:356px;
}
#menu .menubar {
	background:url(../Nest/img/menubg_990.png) center 0 no-repeat;
	min-width:1000px;
}
.col220{
	width:220px;
}
.col770{
	width:770px;
}
.sub_header{
	background:url(../Nest/img/bg_flagship.gif) repeat-x left top #fff;
	border-bottom:1px solid #e8e8e8;
}
.sub_header .wraper {
	position:relative;
	height:110px;
}
.sub_header .searchbar,
.sub_header .searchbar .inner,
.sub_header .searchbar .form,
.sub_header .searchbar .btn_search {
	height:23px;
    background-image: url("../Nest/img/searchbar_flagship.png");
	background-repeat:no-repeat;
	background-position:0 0;
}
.sub_header .searchbar {
	position:absolute;
	width:170px;
    right:0;
	left:auto;
	top:47px;
	background-position:left -24px;
    background-repeat:repeat-x;
}
.sub_header .searchbar .inner {
    padding:0 0 0 10px;
	background-position:0 0;
}
.sub_header .searchbar .form {
	padding-right:30px;
	_font-size:0;
	_line-height:0;
	_overflow:hidden;
	background-position:right -48px;
 }
.sub_header .searchbar .intxt {
    font-family: "microsoft yahei";
	margin-left:0;
    padding: 3px 0;
    width: 130px;
	height: 16px;
    line-height: 16px;
	border:none;
	background:none;
	font-size:12px;
	color:#888;
	-moz-transition:width linear .2s;
	-webkit-transition:width linear .2s;
	transition:width linear .2s;
}
.sub_header .searchbar .btn_search{
	width:18px;
	position:absolute;
	right:10px;
	top:0;
	background-position:left -72px;
}

.sub_header h1{
	font-size:30px;
	font-weight:normal;
	margin-left:30px;
	font-family: "microsoft yahei",SimHei;
	color:#333;
}
.sub_header .logo{
	padding-top:28px;
}
.annouce li{
	width:54px;
	height:49px;
	padding-top:6px;
	overflow:hidden;
	text-align:center;
	float:left;
	margin-left:14px;
	_display:inline;
	color:#656565;
	background:url(../Nest/img/annouce.png) no-repeat;
}
.annouce span{
	display:block;
	text-align:center;
}
.annouce s{
	display:block;
	width:28px;
	height:23px;
	margin:0 auto 4px;
	*margin-bottom:6px;
	background:url(../Nest/img/annouce.png) no-repeat left -59px;
}
.annouce .item1 s{
	background-position:-29px -87px;
}
.annouce .item2 s{
	background-position:-29px -59px;
}
.annouce .item4 s{
	background-position:left -87px;
}
.slider .dotnav{
	position:absolute;
	left:0;
	top:-30px;
	width:100%;
	text-align:center;
}
.slider .dotnav a{
	width:12px;
	height:12px;
	margin:0 5px;
	background:url(../Nest/img/flagshipA_sprite.png) -20px -136px;
}
.slider .dotnav .current{
	background-position:left -136px;
}
.slider .abtn{
	top:50%;
	margin-top:-24px;
	display:none;
	background:none;
	height:48px;
	width:48px;
}
.slider .abtn span {
	position:absolute;
	display:block;
	width:48px;
	height:48px;
	background:url(../Nest/img/shopcart_abtn.png) left top no-repeat;
}
.slider .aleft{
	left:5px;
}
.slider .aright span{
	background-position:0 -48px;
}
.slider .aright{
	right:5px;
}
.slider .agrayright,
.slider .agrayleft{
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:default;
}
.slider .agrayright span,
.slider .agrayleft span{
	cursor:default;
}

.promotion .prolist .img{
	height:200px;
}
.promotion .prolist .img img{
	width:200px;
	height:200px;
}
.promotion .prolist .tit {
	margin-bottom:8px;
}
.content .prolist .ele{
	color:#e10023;
}
.content .prolist .ele .price{
	font-size:15px;
	background-position: left -1035px;
}
.content .prolist .price14_orange{
	background-position: left -236px\9;
	background-position: left -235px\0;
}
:root .content .prolist .price14_orange{
	background-position: left -234px\0;
}
.content .btn_buy{
	position:absolute;
	right:20px;
	bottom:8px;
	background-color:#ea2229;
	color:#fff;
	display:inline-block;
	padding:0 5px;
	font-family:simsun;
	border-radius:3px;
	line-height:22px;
}
.content .prolist .btn_buy{color:#fff;}
.content .prolist .btn_buy:hover{
	text-decoration:none;
	background-color:#ce0307;
}
.tabA{
	height:37px;
	background:url(../Nest/img/tabB_bg.png) repeat-x;
	border-right:1px solid #e8e8e8;
}
.tabA a{
	float:left;
	display:inline-block;
	height:36px;
	line-height:36px;
	margin-right:-1px;
	text-align:center;
	overflow:hidden;
	font-size:14px;
	color:#666;
	font-weight:normal;
}
.tabA a span{
	display:block;
	_display:inline-block;
	height:36px;
	border:1px solid #e9e9e9;
	border-bottom:none;
	border-top:none;
	padding:0 35px;
}
.tabA a:hover{
	color:#e42141;
	text-decoration:none;
}
.tabA .now,
.tabA .now:hover{
	border-top:2px solid #e42141;
	position:relative;
	color:#e42141;
	overflow:hidden;
	line-height:32px;
	height:35px;
	background:#fff;
}


/* special for each flagship page */
body {
	background:#f5f5f5;
}

.content{
	padding-top:10px;	
}
.banner{
	width:1000px;
	overflow:hidden;
}
.banner img{display:block;}

.topSection{
	border:1px solid #e8e8e8;
	box-shadow:0 0 5px #E8E8E8;
	background:#fff;
}
.topbanner {
	position:relative;
	width:770px;
	height:348px;
	overflow:hidden;
	zoom:1;
}
.topbanner:after{
	display:none;
}
.topbanner ul {
	position:relative;
	width:7700px;
}
.topbanner li {
	float:left;
	width:770px;
	height:348px;
	overflow:hidden;
}
.topbanner li img{
	width:770px;
	height:348px;
}
.topbanner .dotnav{
	position:absolute;
	text-align:center;
	bottom:10px;
	left:50%;
	margin-left:-114px;
	width:228px;
}
.topbanner .dotnav a{
	background:url(../Nest/img/dotnav_bg_B_24bit.png) no-repeat;
	_background:url(../Nest/img/dotnav_bg_8bit.png) no-repeat;
	height:10px;
	width:10px;
	margin:0 2px;
	overflow:hidden;
}
.topbanner .dotnav .current{
	background-position:-15px top;	
}

.sub_menu,
.sub_menu .inner,
.sub_menu ul{
	height:39px;
	background:url(../Nest/img/flagshipA_menu.gif) no-repeat;
}
.sub_menu{
	padding-left:3px;
	margin-bottom:10px;
	position:relative;
	z-index:5;
}
.sub_menu .inner{
	padding-right:3px;
	background-position:right -44px;
}
.sub_menu ul{
	background-position:left -88px;
	background-repeat:repeat-x;
}
.sub_menu .child{
	float:left;
	height:39px;
	position:relative;
	font-family:"microsoft yahei";
}
.sub_menu .item{
	display:inline-block;
	height:39px;
	line-height:39px;
	padding:0 35px;
	font-size:14px;
	color:#333;
	background:url(../Nest/img/flagshipA_menu.gif) 0 -1000px no-repeat;
	text-shadow:1px 1px 0px #fff;
}
.sub_menu .item:hover,
.sub_menu .expand .item{
	text-decoration:none;
	color:#000;
}
.sub_menu .expand .item {
	background-position:50% -136px;
}
.sub_menu ol{
	position:absolute;
	left:0;
	top:38px;
	width:126px;
	padding:3px 0;
	display:none;
	background:rgba(0,0,0,.8);
	background:url(../Nest/img/opacity80.png)\9;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#cc000000",EndColorStr="#cc000000");*/
}
.sub_menu .expand ol{
	display:block;
}
.sub_menu ol li,
.sub_menu ol a{
	height:33px;
	line-height:33px;
}
.sub_menu ol a{
	display:block;
	padding:0 10px 0 25px;
	color:#fff;
	font-size:14px;
	overflow:hidden;
}
.sub_menu ol a:hover{
	color:#fff;
	text-decoration:none;
	background-color:#d00000;
}
.promotion {}
.promotion .tabA{
	border-right:none;
}
.promotion .tabA a{
	float:none;
	_display:block;
	width:100%;
}
.promotion .tabA a span{
	text-align:left;
	padding-left:28px;
	_display:block;
}
.promotion .tabc{
	background-color:#fff;
	border:1px solid #e8e8e8;
	border-top:none;
}
.promotion .catepro .prolist li{
	padding:5px 28px 20px;
	height:307px;
	background-image:none;
}

.ad{width:990px; overflow:hidden;}
.ad img,
.ad a{display:block;}
.ad ul{width:1010px;}
.ad li{
	float:left;
	width:320px;
	margin-right:15px;
	padding-bottom:4px;
	background:url(../Nest/img/bottom_shadow.png) 0 bottom repeat-x;

}
.special ul{width:1000px;}
.special img,
.special a{display:block;}
.special li{
	float:left;
	margin-right:1px;
}
.mb1{margin-bottom:1px;}
.special .pos{
	width:246px;
	height:162px;
	position:absolute;
	left:248px;
	top:163px;
}
.special .tabc{
	width:990px;
	overflow:hidden;
	position:relative;
	background-color:#d8d8d8;
}

.caty .tab{
	height:37px;
	background:url(../Nest/img/tabB_bg.png) repeat-x;
	border-right:1px solid #e9e9e9;
}
.caty .tab a{
	float:left;
	display:inline-block;
	height:36px;
	line-height:36px;
	margin-right:-1px;
	text-align:center;
	overflow:hidden;
	font-size:14px;
	color:#666;
	font-weight:normal;
}
.caty .tab a span{
	display:block;
	_display:inline-block;
	height:36px;
	border:1px solid #e9e9e9;
	border-bottom:none;
	border-top:none;
	padding:0 28px;
}
.caty .tab a:hover{
	color:#e42141;
	text-decoration:none;
}
.caty .tab .now,
.caty .tab .now:hover{
	border-top:2px solid #e42141;
	position:relative;
	color:#e42141;
	overflow:hidden;
	line-height:32px;
	height:35px;
	background:#fff;
	
}
.caty .tabc{
	padding:0;
	background-color:#fff;
	border:1px solid #e8e8e8;
	border-top:none;
}
.caty .catepro{
	overflow:hidden;
	padding-bottom:1px;	
	_zoom:1;
}
.caty .prolist{
	margin-top:-2px;
}
.caty .prolist .pro{
	position:relative;
	background:none;
	width:207px;
	padding:10px 20px;
	zoom:1;
}
.caty .prolist .img{
	width:200px;
	height:200px;
	margin:0 auto;
}
.caty .prolist .img img{
	width:200px;
	height:200px;
}
.caty .prolist li{
	height:318px;
	padding:20px 28px 10px;
	background-position:0 0;
}
.caty .prolist .tit {}
/*.caty div.fr{
	width:202px;
	padding-top:3px;
}
.caty .fr img{
	display:block;
	border:1px solid #ddd;
}*/
.caty .slider{
	width:990px;
	height:610px;
	overflow:visible!important;
	position:relative;
}
.caty .mover{
	width:990px;
	height:610px;
	position:relative;
	overflow:hidden;
}
.caty .mover .item{
	float:left;
	width:990px;
	height:610px;
	background:url(../Nest/img/sline_row2.png) center 50% no-repeat;
}
.caty .mover .moverlist{
	width:20000px;
	position:relative;
}

/* Flag Ship List */

.shipdata{
	position:relative;
	color:#484848;
	background:#fff;
	width:227px;
	height:348px;
	border-right:1px dotted #e6e6e6;
}
.shipdata .baseinfo{
	padding:10px 10px 0;
	border-top:1px dotted #e6e6e6;
}
.shipdata .descinfo{
	padding:10px 10px 30px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	color:#888;
}
.shipdata .descinfo h2{
	color:#666;
	font-size:12px;
	font-weight:normal;
	margin-bottom:10px;
}
.shipdata .descinfo .lineHeight{
	line-height:22px;
	height:176px;
	overflow:hidden;
}
.shipdata .baseinfo dl{
	display: inline-block;
	color:#888;
}
.shipdata .baseinfo dt{
	float: left;
    text-align: right;
    width: 60px;
}
.shipdata .baseinfo dd {
    float: left;
    line-height: 18px;
    padding:0;
	width:140px;
    word-wrap: break-word;
}
.shipdata .baseinfo .noBack{
	background:none;	
}
.catenav{
	margin-top:-1px;
	*zoom:1;
}
.catenav li{
	*vertical-align:top;
	border-top:1px solid #eee;
	*float:left;
	*width:100%;
}
.catenav li a{
	font-size:14px;
	color:#5c5c5c;
	display:block;
	padding-left:26px;
	padding-right:20px;
	line-height:35px;
}
.catenav .now a,
.catenav li a:hover{
	color:#E42141;
	text-decoration:none;
}
.sidebox,
.promotion,
.caty{
	box-shadow:0 0 5px #E8E8E8;
}
.sidebox h3{
	border-color:#e8e8e8;
	border-bottom-color:#efefef;
}
.sidebox .inner{
	border-color:#e8e8e8;
}
.sidebox .iconProm span{
	_right:0;
}
.filter .pagebtn {
	padding-top:4px;
}
.caty .pageNav {
	padding-top:15px;
	border-top:1px dotted #e2e2e2;
}