/* Style Reset */
.searchbar {
	width:400px;
}
.searchbar .intxt{
	width:335px;
}
.searchbar .hot {
	width:415px;
}
#searchtip {
	width:356px;
}
#menu .menubar {
	background-image:url(../Nest/img/menubg_990.png);
	min-width:1000px;
}
.wraper {
	width:1000px;
}
#footer .wraper{
	width:1200px;
}
#header{
	background:#fff;	
}
#main{
	background:url(../Nest/img/bg_gift_page.gif) repeat;
}

/* content style */
.topbanner{
	height:auto;
	overflow:hidden;
	width:100%;
	position:relative;
}
.topbanner .inner{
	_position:relative;
	margin:0 -220px;	
}
.topbanner_img {
	position:relative;
	width:1440px;
	height:308px;
	overflow:hidden;
	background:#fff url(../Nest/img/gift_page_topbanner.png) 50% 0 no-repeat;
}
.topbanner_img h1{
	height:0;
	overflow:hidden;
}
.card_section_box{
	padding-top:1px;
	margin-left:-5px;
	margin-right:-4px;
	position:relative; 
}
.card_section_box .top_border,
.card_section_box .bottom_border{
	background-image:url(../Nest/img/bg_gift_section_box.png);
	overflow:hidden;
}
.card_section_box .top_border{
	height:9px;
	background-position:0 0;
}
.card_section_box .bottom_border{
	height:22px;
	background-position:0 bottom;
}
.card_section_box .middle_body{
	background-color:#fff;
	margin-left:5px;
	margin-right:4px;
	padding-top:1px;
	zoom:1;
	_margin-top:-1px;
}
.card_brief_box .middle_body{
	padding-bottom:18px;
	padding-top:28px;
}
.card_brief_box table{
	margin:0 auto;
	width:920px;
}
.card_brief_box .textlist{
	font-size:18px;
	color:#f60;
	padding-left:20px;
	margin-top:-6px;
}
.card_brief_box .textlist li{
	padding:5px 0;
	list-style:disc;
	font-size:18px;
}
.selectAll{
	margin:0 auto;
	width:980px;
	height:43px;
	line-height:43px;
	_padding-top:13px;
	_height:30px;
	background:url(../Nest/img/bg_selectAll.png) 50% 0 no-repeat;
}
.selectAll .ckbox,
.selectSingle .ckbox{
	margin:0 3px 0 15px;
	height:12px;
	width:12px;
	border:none;
	padding:0;
	vertical-align:middle;
}
.cardlistWrap{
	width:960px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.cardlist{
	width:960px;
	margin-left:-1px;
	margin-bottom:-1px;
}
.cardlist li{
	float:left;
	width:33.33%;
	padding:20px 0 19px;
	border-bottom:1px dotted #cbcbcb;
	overflow:hidden;
	position:relative;
}
.cardlist li .inner{
	border-left:1px dotted #cbcbcb;
}
.cardlist .img{
	width:165px;
	height:105px;
	overflow:hidden;
	margin:0 auto 3px;
}
.cardlist .priceInCard{
	position:absolute;
	color:#7d5f27;
	margin:8px 0 0 12px;
	font-size:10px;
}
.cardlist .priceForSale{
	font-size:14px;
	color:#f60;
	text-align:center;
	padding-right:5px;
}
.cardlist .selectSingle{
	position:absolute;
	top:22px;
	right:10px;
	line-height:12px;
}
.cardlist .selectSingle .ckbox_txt{
	vertical-align:middle;
	color:#424041;
}
.cardBtnLine{
	position:relative;
	padding-top:1px;
	z-index:2;
	background:#fff;
}
.cardBtnLine .inner{
	padding:18px 0 10px;
	margin-top:-1px;
	border-top:1px dotted #cbcbcb;
	text-align:center;
}
.cardBtnLine .btn_buy,
.cardBtnLine .btn_buy_disabled{
	display:inline-block;
	width:168px;
	padding-top:47px;
	height:0;
	overflow:hidden;
	background:url(../Nest/img/btns_gfitcard.png) 0 0 no-repeat;
}
.cardBtnLine .btn_buy:hover{
	background-position:0 -52px;
}
.cardBtnLine .btn_buy_disabled{
	cursor:default;
	background-position:0 -103px;
}
.card_intro_box .middle_body{
	padding-bottom:25px;
}
.card_intro_box h2{
	width:243px;
	padding-top:56px;
	overflow:hidden;
	height:0;
	margin-top:7px;
	margin-left:-3px;
	position:relative;
	background:url(../Nest/img/caption_card_intro.png) 0 0 no-repeat;
}
.card_intro_box h3{
	color:#333;
	font-size:16px;
	margin-left:27px;
	padding-left:26px;
	margin-top:30px;
	background:url(../Nest/img/caption_card_intro.png) 0 -68px no-repeat;
}
.card_intro_box p,
.card_intro_box .textlist{
	color:#666;
	font-size:14px;
	padding-right:53px;
	line-height:1.6;
}
.card_intro_box .textlist{
	padding-left:74px;
}
.card_intro_box .textlist li{
	text-indent:-1.5em;
	padding-top:10px;
}
.card_intro_box p{
	padding-left:53px;
	padding-top:10px;
}
