@import url("../ele_css/ele_popWin.css");
#main {
	width:100%;
	overflow:hidden;
	min-width:1200px;
	*position:relative;
	_zoom:1;	
	_width: auto;
	
}
/* Section 1 */
.section1{
	padding:0;
	position:relative;
}
.section1 .street1 {
	height:480px;
}
.topbanner{
	width:1920px;
	height:480px;
	margin:0 -350px;
	overflow:hidden;
	position:relative;
}
.topbanner ul{
	position:absolute;
	left:0;
	top:0;
	width:160000px;
}
.topbanner li{
	float:left;
	width:1920px;
	height:480px;
}
.topbanner li img{
	display:block;
	margin: 0 auto;
}
.expandBg{
	position:absolute;
	left:0;
	width:100%;
	height:480px;
	background:#fdf2e0;
	z-index:0;
}
.topbanner .nav{
	position:absolute;
	left:50%;
	margin-left:12px;
	bottom:0;
	padding:8px 0 5px;
	height:24px;
}
.topbanner .navInner{
	position:relative;
	left:-50%;
}
.topbanner .nav a{
	position:relative;
	display:block;
	float:left;
	width:15px;
	height:15px;
	overflow:hidden;	
}
.topbanner .nav span{
	position:absolute;
	display:block;
	width:10px;
	height:62px;
	top:0;
	left:3px;
	text-indent:-100px;
	overflow:hidden;
	background:url(../Nest/img/abtn_24bit.png) 0 0 no-repeat;	
}
.topbanner .nav .current span{
	top:-36px;	
}
.topbanner .navbox{	
	height:16px;
	padding:0 8px;
	position:relative;	
	_display:inline;
	overflow:hidden;
}
.topbanner .navbox .navbox_l,
.topbanner .navbox .navbox_r,
.topbanner .navbox .navboxinner{
	background:url(../Nest/img/abtn_nav_bg.png) no-repeat;
	height:16px;
}
.topbanner .navbox .navboxinner{
	_display:inline;
	padding:3px 0;
	height:10px;
	background-repeat:repeat-x;
	background-position:left -16px;
}
.topbanner .navbox .navbox_l,
.topbanner .navbox .navbox_r{
	position:absolute;
	width:8px;
}
.topbanner .navbox .navbox_l{
	left:0;
}
.topbanner .navbox .navbox_r{
	right:0;
	top:0;
	background-position:right top;
}

.sideprolist {
	width:208px;
	height:458px;
	background:url(../Nest/img/sideprolist_bg.png) 0 0 no-repeat;
	position:absolute;	
	right:-4px;
	top:16px;
	_position:relative;
	_margin-bottom:-495px;
	_top:-495px;
	_right:-5px;
}
.sideprolist .spInner{
	margin:4px;
	
}
.sideprolist .spbox{
	height:242px;
	position:relative;
	z-index:1;
	background:url(../Nest/img/sideprolist_bg_box.png) no-repeat left bottom;
}
.sideprolist .tab{
	background:url(../Nest/img/sideprolist_tab.png) 0 -35px no-repeat;
}
.sideprolist .tab a{
	display:block;
	float:left;
	width:50%;	
}
.sideprolist .tab a:hover{
	text-decoration:none;
}
.sideprolist .tab span{
	display:block;
	height:35px;
	font-size:14px;
	font-weight:bold;
	font-family:microsoft yahei;
	text-align:center;
	line-height:35px;
	color:#fff;
}
.sideprolist .tabAlter{
	background-position:0 0;
}
.sideprolist .textlist{
	padding-left:15px;
	padding-right:10px;
}
.sideprolist .textlist li {
	padding-top:12px;
	*vertical-align:top;
	overflow:hidden;
	height:18px;
}
.sideprolist .textlist a{
	display:inline-block;
	padding-left:10px;
	background:url(../Nest/img/sideprolist_dot.png) 0 -23px no-repeat;
	font-family:microsoft yahei;
	color:#fff;
}
.sideprolist .textlist a:hover{
	color:#fffbb8;
	text-decoration:none;
	background-position:0 7px;
}
.sideprolist .botBanner{
	position:absolute;
	width:200px;
	overflow:hidden;
	bottom:4px;
	left:4px;
}
.sideprolist .more{
	position:absolute;
	right:15px;
	bottom:10px;
	color:#fff;
}
.sideprolist .more:hover{color:#fffbb8;}
/* .sideprolist new style */
.sideprolist{
	width:208px;
	height:458px;
	top:12px;
	_margin-bottom:-468px;
	_top:-468px;
	background-image:none;
}
.sideprolist{
	background:url(../Nest/img/sideprolist_bg.png) no-repeat;
}
.sideprolist .tabAlter{
	background:url(../Nest/img/sideprolist_tab.png) 0 0 no-repeat;
}
.sideprolist .tabc{
	height:197px;
	overflow:hidden;
	position:relative;
	zoom:1;	
}
.sideprolist .botBanner{
	_bottom:3px;
}
.sideprolist .botBanner img{
	margin-top:6px;
	width:200px;
}

#main .wraper{
	_overflow:hidden;
}
/* Section 2 */
.section2 {}
.primeTabSection {
	background-color:#fff;
}
.primeTabSection .section_inner {
	height:450px;
	border-top:none;
	overflow:hidden;
}
.primeTabSection .tab {
	height:40px;
	line-height:40px;
	width:150%;
}
.primeTabSection .tab a {
	float:left;
	display:block;
	margin-right:1px;
	height:40px;
	color:#fff;
	font-family:"microsoft yahei",Arial;
	font-size:16px;
	background:#0b3824 url(../Nest/img/sprite_home.png) right 6px no-repeat;
	overflow:hidden;
	-webkit-transition:width .5s ease;
	-moz-transition:width .5s ease;
	-ms-transition:width .5s ease;
	-o-transition:width .5s ease;
	transition:width .5s ease;
}
.primeTabSection .tab a strong{
	margin-left:20px;
	margin-right:15px;
}
.primeTabSection .tab a:hover {
	text-decoration:none;
}
.primeTabSection .tab sub{
	color:#fff;
	*top:0;
	font-size:.75em;
	font-size:.9em\9;
	vertical-align:0px;
}
.primeTabSection .tab sub *{
	margin-right:5px;
}
.primeTabSection .tab a.now {
	position:relative;
	width:252px!important;
	color:#fff;
	background-color:#f1763d;
	background-position:right -35px;	
}
.primeTabSection .tab a.now sub{
	display:none;
}
.primeTabSection .tab .item_1 {
	width:473px;
}
.primeTabSection .tab .item_2 {
	width:473px;
}
.primeTabSection .tab .item_3 {
	width:473px;
	/*float:right;
	margin-right:0;	*/
}
.primeTabSection .prolistWrap {
	overflow:hidden;	
}
.primeTabSection .prolist {
	margin-top:-1px;
	margin-right:-10px;
}
.primeTabSection .prolist li {
	float:left;	
	height:148px;
	width:204px;
	padding:45px 30px 0 160px;
	border-left:1px solid #eee;
	border-top:1px solid #eee;
}
.primeTabSection .prolist .promFlag{
	position:absolute;
	margin:-28px 0 0 -130px;
	color:#999;
	display:none;
}
.primeTabSection .prolist .imgFlagTiny{
	width:16px;
	height:11px;
	display:inline-block;
	margin:-1px 4px -1px 0;
}
.primeTabSection .prolist .iconProm{
	width:100%;
	z-index:2;
}
.primeTabSection .prolist .iconProm span{
	left:auto;
	right:0;
}
.primeTabSection .prolist .img {
	position:absolute;
	margin:0 0 0 -130px;
	height:120px;
	width:120px;
}
.primeTabSection .prolist .img img{
	width:120px;
	height:120px;
}
.primeTabSection .prolist .tit{
	font-size:16px;
	height:21px;
	margin-bottom:6px;
	line-height:21px;
}
.primeTabSection .prolist .promtxt{
	margin-bottom:8px;
}
.primeTabSection .prolist .price{
	margin-right:10px;
}
.primeTabSection .prolist .big{
	width: 340px;
    height: 380px;
    padding: 25px 30px;
	border-left:none;
}
.primeTabSection .prolist .big .promFlag{
	margin:-16px 0 0 0;
	display:none;
}
.primeTabSection .prolist .big .iconProm{
	top:-8px;
}
.primeTabSection .prolist .big .img{
	position:static;
	margin:0 auto 10px;
	width:240px;
	height:240px;
}
.primeTabSection .prolist .big .img img{
 	width:240px;
	height:240px;
}
#main .wraper img{
	background:url(../Nest/img/picloading.gif) center center no-repeat;
}
#main .wraper .iconProm img{ 
	background:none; 
} 

.stfloor h2{
	height:40px;
	width:225px;
	padding:0 2px;
	font-size:20px;
	font-family:"microsoft yahei";
	color:#0b3824;
	font-weight:bold;
	line-height:40px;
}
.stfloor h2 .floorname{}
.stfloor .inner{
	position:relative;
	zoom:1;
	border-top:2px solid #0b3824;
	border-bottom:1px solid #ccc;
	background:#fff;
}
.stfloor .tab{
	position:absolute;
	right:0;
	top:-28px;
	height:18px;
	line-height:18px;
}
.stfloor .tab a{
	line-height:18px;
	display:inline-block;
	zoom:1;
	height:18px;
	padding:0;
	color:#626262;
	background:none;
	font-size:12px;
}
.stfloor .tab a.now,
.stfloor .tab a:hover{
	text-decoration:none;
	color:#ff5a00;
}
.stfloor .tab b{
	color:#ddd;
}
.stfloor .tabc{
	float:right;
	width:670px;
}
.stfloor .prolist{
	padding:0;
}
.stfloor .prolist li{
	width:163px;
	height:225px;
}

.stfloor .prolist .tit{
	height:	36px;
}
.stfloor .prolist p{
	padding:0 10px;
}

.stfloor .prolist .img{
	width:140px;
	padding-top:10px;
	height:140px;
	overflow:hidden;
	margin:0 auto;
}
.stfloor .prolist .piclist{
	display:none;
	margin-right:-3px;
	*zoom: 1;
}
.stfloor .prolist .piclist:after{
	content:"";
	font-size:0;
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.stfloor .prolist .piclist a{
	float:left;
	margin-right:3px;
}
.stfloor .prolist .img img{
	width:140px;	
}
.floor1:after,
.floor2:after,
.floor3:after{
	content:"";
	display:block;
	height:1px;
	overflow:hidden;
	visibility:visible;	
	margin-bottom:-3px;
}
.floor1:after,
.floor2:after,
.floor3:after{
	background:#efefef;
	border-top:1px solid #e8e8e8e;
	border-bottom:1px solid #f4f4f4;
	box-shadow:0 1px 2px #f6f6f6;
	-moz-box-shadow:0 1px 2px #e8e8e8e;
	-webkit-box-shadow:0 1px 2px #e8e8e8e;
	-o-box-shadow:0 1px 2px #e8e8e8e;
	-ms-box-shadow:0 1px 2px #e8e8e8e;
}
.floor1 .tabc{
	float:left;
	padding-left:3px;
	width:682px;
}
.floor1 .aside{
	float:right;
	width:280px;
	height:610px;
	border-right:1px solid #e1e1e1;
	border-top:1px solid #e1e1e1;
}
.floor1 .aside ul{
	margin-right:-10px;
}
.floor1 .aside li{
	float:left;	
	width:139px;
	height:91px;
	border-left:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
}
.floor1 .aside li.col2{
	width:279px;
	height:auto;
	padding-top:1px;
	border-bottom:none;
}
.floor1 .aside li.col2 img{
	margin:0 auto;
}
.floor1 .caty{
	width:231px;
}
.floor1 .caty_banner{
	height:445px;
	overflow:hidden;
}
.floor1 .caty ul{
	height:166px;
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	zoom:1;
	padding-left:13px;
}
.floor1 .caty li{
	float:left;
	height:18px;
	padding-right:13px;
	width:94px;
	padding-top:13px;
	overflow:hidden;
}
.floor1 .caty li a{
	display:inline-block;
	padding-left:8px;
	color:#666;
}
.floor1 .caty li a:hover{
	color:#ff5a00;
}
.floor1 .caty li a s{
	display:inline-block;
	position:absolute;
	width:3px; 
	height:3px;
	background-color:#c4c4c4;
	overflow:hidden;
	margin:8px 0 0 -8px;
}
.floor1 .prolist li{
	width:33.333333%;
	padding:0;
	height:304px;
}
.floor1 .prolist li p{
	padding-left:17px;
}
.floor1 .prolist .img{
	margin-top:11px;
	width:200px;
	height:200px;
}
.floor1 .prolist .img img{
	width:200px;
	height:200px;
}
.floor1 .price{
	margin-right:10px;
}
.floor1 .tit{
	margin-bottom:8px;
}
.floor2 .inner{
	height:420px;
	border-bottom:1px solid #e8e8e8;
}
.floor2 .proLayer{
	position:absolute;
	right:30px;
	top:30px;
	width:853px;
	height:350px;
	border:5px solid #ececec;
	background:#fff;
	z-index:2;
}
.floor2 .prowrap{
	width:701px;
	position:relative;
	zoom:1;
	overflow:hidden;
}
.floor2 .prowrap .prolist{
	margin-top:-1px;
	zoom:1;
}
.floor2 .prowrap li{
	float:none;
	height:145px;
	width:140px;
	padding:30px 10px 0 145px;
	*padding-left:128px;
	border-top:1px solid #eee;
	overflow:hidden;
}
.floor2 .prowrap .tit{
	font-size:16px;
	height:18px;
	margin-bottom:14px;
	margin-top:0;
}
.floor2 .prowrap .promtxt{
	height:36px;
	margin-bottom:6px;
}
.floor2 .prowrap .price{
	margin-right:10px;
}
.floor2 .prowrap .img,
.floor2 .prowrap .img img{
	width:130px;
	height:130px;
}
.floor2 .prowrap .img{
	position:absolute;
	margin:-18px 0 0 -137px;
}
.floor2 .prowrap .prolist p{
	padding-left:0;
}
.floor2 .slideBig{
	width:405px;
	position:relative;
	border-left:1px solid #eee;
	zoom:1;
}
.floor2 .slideBig li{
	float:left;
	padding:0;
	width:335px;
	height:350px;
}
.floor2 .slideBig .img{
	position:static;
	width:240px;
	height:240px;
	margin:0 auto;
}
.floor2 .slideBig .img img{
	width:240px;
	height:240px;
}
.floor2 .slideBig .tit{
	margin-top:8px;
}
.floor2 .slideBig .promtxt{
	height:18px;
}
.floor2 .slideBig .slidearea{
	position:relative;
	width:335px;
	overflow:hidden;
	margin: 0 auto;
}
.floor2 .slideBig .prolist{
	position:relative;
	width:33500px;
}
.floor2 .slideBig .dotnav{
	position:absolute;
	right:13px;
	top:13px;
	z-index:2;
}
.floor2 .slideBig .dotnav a{
	position:relative;
	display:block;
	float:left;
	width:15px;
	height:15px;
	overflow:hidden;	
}
.floor2 .slideBig .dotnav span{
	position:absolute;
	display:block;
	width:10px;
	height:62px;
	top:0;
	left:3px;
	text-indent:-100px;
	overflow:hidden;
	background:url(../Nest/img/abtn_24bit.png) 0 0 no-repeat;	
}
.floor2 .slideBig .dotnav .current span{
	top:-36px;	
}
.floor2 .aside{
	width:151px;
	border-left:1px solid #eee;
	height:350px;
	overflow:hidden;
}
.floor2 .aside .asideInner{
	margin-top:10px;
	zoom:1;
	overflow:hidden;
}
.floor2 .aside ul{
	margin-top:-1px;
}
.floor2 .aside li{
	width:151px;
	height:81px;
	padding-top:1px;
	background:url(../Nest/img/floor_2_aside_dotline.png) 50% 0 no-repeat;
}
.floor2 .aside li img{
	margin:0 auto;
}
.floor2 .aside li span{
	display:block;
	height:26px;
	text-align:center;
	color:#979797;
}
.floor2 .aside a:hover span{
	color:#ff5a00;
}
.floor2 .bgbanner{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
.floor3 .aside{
	width:284px;
	overflow:hidden;
}
.floor3 .tabc{
	width:916px;
}
.floor3 .prolist{}
.floor3 .prolist li{
	width:229px;
	height:240px;
	float:left;
	padding:0;
	text-align:center;
}
.floor3 .prolist .tit{
	height:18px;
	margin-top:6px;
	margin-bottom:1px;
}
.floor3 .prolist .img,
.floor3 .prolist .img img{
	height:160px;
	width:160px;
}
.floor3 .prolist .col2ad{
	width:458px;
}
.floor3 .prolist .col2ad li{
	width:458px;
}
.floor3 .slidearea{
	width:458px;
	position:relative;
	overflow:hidden;
}
.floor3 .slidearea ul{
	position:relative;
	width:4580px;
}
.floor3 .slidearea .dotnav{
	position:absolute;
	left:50%;
	bottom:6px;
	z-index:2;
}
.floor3 .slidearea .navInner{
	position:relative;
	left:-50%;
}
.floor3 .slidearea .dotnav a{
	position:relative;
	display:block;
	float:left;
	width:15px;
	height:15px;
	overflow:hidden;	
}
.floor3 .slidearea .dotnav span{
	position:absolute;
	display:block;
	width:10px;
	height:62px;
	top:0;
	left:3px;
	text-indent:-100px;
	overflow:hidden;
	background:url(../Nest/img/abtn_24bit.png) 0 0 no-repeat;	
}
.floor3 .slidearea .dotnav .current span{
	top:-36px;	
}
.floor4 .inner{
	border-bottom:none;
}
.floor4 .caty{
	width:217px;
}
.floor4 .caty_banner{
	width:217px;
	height:170px;
}
.floor4 .caty ul{
	height:154px;
	zoom:1;
	padding-top:2px;
	padding-left:17px;
}
.floor4 .caty li{
	float:left;
	height:18px;
	padding-right:13px;
	width:87px;
	padding-top:10px;
	overflow:hidden;
}
.floor4 .caty li a{
	display:inline-block;
	color:#666;
}
.floor4 .caty li a:hover{
	color:#ff5a00;
}
.floor4 .caty li .hot{
	float:right;
	display:inline-block;
	padding:2px;
	margin-left:3px;
	line-height:1;
	background:#f00;
	color:#fff;
}
.floor4 .caty ul.alter{
	padding-left:0;
	height:154px;
	background:#f2f2f2;
}
.floor4 .caty ul.alter li{
	float:none;
	*vertical-align:top;
	background:#f2f2f2;
	width:auto;
}
.floor4 .caty ul.alter a{
	padding-left:17px;
}
.floor4 .tabc{
	width:983px;
}
.floor4 .sidebanner{
	width:382px;
	padding-left:1px;
	margin-top:-2px;
}
.floor4 .sidebanner img{
	margin-top:2px;
}
.floor4 .prolist{
	width:600px;
	height:482px;
	overflow:hidden;
}
.floor4 .prolist li{
	width:200px;
	height:242px;
	padding:0;
	text-align:center;
	background:#f6f6f6;
}
.floor4 .prolist .liInner{
	padding-top:1px;
	margin-left:2px;
	margin-top:0;
	background-color:#fff;
	height:239px;
	height:240px;
	padding-top:0;
}
.floor4 .prolist .tit{
	font-size:18px;
	height:18px;
	margin-top:20px;
	margin-bottom:2px;
	text-align:center;
	display:none;
}
.floor4 .prolist .promtxt{
	display:none;
	text-align:center;
}
.floor4 .prolist .img{
	margin-top:0;
	padding-top:5px;
	padding-top:0;
}
.floor4 .prolist .img,
.floor4 .prolist .img img{
	width:160px;
	height:160px;
	width:198px;
	height:239px;
}
.floor5 .inner{
	border-bottom:none;
}
.floor5 .tabc{
	width:100%;
}
.floor5 .prolist{}
.floor5 .prolist li{
	width:16.666666%;
	height:242px;
	float:left;
	padding:0;
	text-align:center;
}
.floor5 .prolist .tit{
	height:18px;
	margin-top:6px;
	margin-bottom:1px;
	display:none;
}
.floor5 .prolist .promtxt{
	display:none;
}
.floor5 .prolist .img,
.floor5 .prolist .img img{
	height:160px;
	width:160px;
	width:200px;
	height:242px;
	padding:0;
}
.floor5 .prolist .col2ad{
	width:33.333334%;
}
.floor5 .prolist .col2ad img{
	width:400px;
	height:242px;
}

.floor6 .inner{
	border-bottom:none;
}
.floor6 .tabc{
	width:100%;
}
.floor6 .prolist{}
.floor6 .prolist li{
	width:20%;
	height:300px;
	float:left;
	padding:0;
}
.floor6 .prolist li p{
	padding-left:17px;
	padding-right:17px;
}
.floor6 .prolist .tit{
	height:36px;
	margin-top:6px;
	margin-bottom:7px;
}
.floor6 .prolist .img,
.floor6 .prolist .img img{
	height:200px;
	width:200px;
}
.floor6 .prolist .col3ad{
	width:60%;
}
.floor6 .prolist .price{
	margin-right:10px;
	font-size:16px;
}

.floor7 .inner{
	border-bottom:none;
}
.floor7 .tabc{
	width:100%;
}
.floor7 .prolist{}
.floor7 .prolist li{
	width:20%;
	height:300px;
	float:left;
	padding:0;
}
.floor7 .prolist li p{
	padding-left:17px;
	padding-right:17px;
}
.floor7 .prolist .tit{
	height:36px;
	margin-top:6px;
	margin-bottom:7px;
}
.floor7 .prolist .img,
.floor7 .prolist .img img{
	height:200px;
	width:200px;
}
.floor7 .prolist .row2ad{
	position:relative;
	overflow:visible;
}
.floor7 .prolist .row2ad img{
	position:absolute;
	width:256px;
	margin-left:-8px;
}
.floor7 .prolist .price{
	margin-right:10px;
	font-size:16px;
}
.floor7 .prolist .blank{}


.floor8 .inner{
	border-bottom:none;
}
.floor8 .caty{
	width:200px;
	height:422px;
	border-bottom:1px solid #E5E5E5;
}
.floor8 .caty_banner{
	height:253px;
	overflow:hidden;
}
.floor8 .caty ul{
	height:166px;
	zoom:1;
	padding-left:13px;
}
.floor8 .caty li{
	float:left;
	height:18px;
	padding-right:12px;
	width:80px;
	padding-top:13px;
	overflow:hidden;
}
.floor8 .caty li a{
	display:inline-block;
	padding-left:8px;
	color:#666;
}
.floor8 .caty li a:hover{
	color:#ff5a00;
}
.floor8 .caty li a s{
	display:inline-block;
	position:absolute;
	width:3px; 
	height:3px;
	background-color:#c4c4c4;
	overflow:hidden;
	margin:8px 0 0 -8px;
}
.floor8 .brandSlider{
	position:relative;
	overflow:hidden;
	width:199px;
	height:422px;
	border-left:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}
.floor8 .brandSlider ul{
	position:relative;
	width:19900px;
}
.floor8 .brandSlider li{
	float:left;
	width:199px;
	height:422px;
}
.floor8 .brandSlider .liInner{
	overflow:hidden;
	margin-top:8px;
	zoom:1;
}
.floor8 .brandSlider .blist{
	margin-top:-1px;
}
.floor8 .brandSlider img{
	margin:0 auto;
	border-top:1px solid #e5e5e5;
}
.floor8 .brandSlider .dotnav{
	position:absolute;
	left:50%;
	bottom:4px;
	z-index:2;
}
.floor8 .brandSlider .navInner{
	position:relative;
	left:-50%;
}
.floor8 .brandSlider .dotnav a{
	position:relative;
	display:block;
	float:left;
	width:12px;
	height:12px;
	overflow:hidden;	
}
.floor8 .brandSlider .dotnav span{
	position:absolute;
	display:block;
	width:6px;
	height:45px;
	top:0;
	left:3px;
	text-indent:-100px;
	overflow:hidden;
	background:url(../Nest/img/abtn_24bit_small.png) 0 0 no-repeat;	
}
.floor8 .brandSlider .dotnav .current span{
	top:-36px;	
}
.floor8 .tabc{
	width:800px;
}
.floor8 .proImgs li{
	float:left;
	border-left:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}


.floor9 .inner{
	border-bottom:none;
}
.floor9 .tabc{
	width:800px;
}
.floor9 .prolist{}
.floor9 .prolist li{
	width:200px;
	height:240px;
	float:left;
	padding:0;
	text-align:center;
}
.floor9 .prolist .tit{
	height:18px;
	margin-top:6px;
	margin-bottom:1px;
}
.floor9 .prolist .img,
.floor9 .prolist .img img{
	height:160px;
	width:160px;
}
.floor9 .sidebanner{
	width:400px;
	height:480px;
}


.recommendBrands{
	overflow:hidden;
}
.recommendBrands h2{
	font-size:20px;
	color:#f1763d;
	line-height:40px;
	height:40px;
	border-bottom:2px solid #333;
}
.recommendBrands .bannerList{
	margin-right:-5px;
	background:#fff;
}
.recommendBrands .bannerList li{
	float:left;
	width:236px;
	margin-right:5px;
}
.recommendBrands .bannerList img{
	display:block;
}
.recommendBrands .brandList{
	margin-top:7px;
	border:1px solid #e5e5e5;
	background:#fff;
	overflow:hidden;
	zoom:1;
}
.recommendBrands .brandList ul{
	margin:-1px 0 0 4px;
}
.recommendBrands .brandList li{
	float:left; 
	width:119px;
	height:88px;
	border-top:1px solid #e4e4e4;
}
.recommendBrands .brandList li img{
	display:block;
	margin:0 auto;
	height:55px;
	width:100px;
}
.recommendBrands .brandList li span{
	width:98px;
	margin:0 auto;
	display:block;
	line-height:32px;	
	color:#343434;
	text-align:center;
	overflow:hidden;
	border-top:1px dotted #e4e4e4;
}
.recommendBrands .brandList li a:hover span{
	color:#f1763d;
	text-decoration:none;
}

/* hover effects */
.prolist .img img{
	opacity:1;
}
.prolist .img img:hover{
	opacity:.9;
	-webkit-transition:opacity .5s ease;
	-moz-transition:opacity .5s ease;
	-ms-transition:opacity .5s ease;
	-o-transition:opacity .5s ease;
	transition:opacity .5s ease;
}
.stfloor .caty_banner img:hover,
.stfloor .aside img:hover,
.stfloor .bgbanner img:hover,
.stfloor .sidebanner img:hover,
.stfloor .brandSlider img:hover,
.stfloor .proImgs img:hover,
.prolist .col1ad img:hover,
.prolist .col2ad img:hover,
.prolist .col3ad img:hover,
.prolist .row2ad img:hover,
.recommendBrands img:hover{
	-webkit-filter:contrast(1.1);
	-moz-filter:contrast(1.1);
	-o-filter:contrast(1.1);
	-ms-filter:contrast(1.1);
	filter:contrast(1.1);
}
/*Narrow Screen : Start*/
.sn .wraper {
	width:990px;
}
.sn .searchbar {
	width:418px;
}
.sn .searchbar .intxt{
	width:310px;
}
.sn .searchbar .hot {
	width:418px;
}
.sn #searchtip {
	width:329px;
}
.sn #menu .menubar {
	background:url(../Nest/img/menubg_990.png) center 0 no-repeat;
	min-width:990px;
}
.sn #main{
	min-width:990px;
}
.sn .topbanner{
	margin:0 -305px;
}

/*Narrow Screen : End*/