#menu .menu h3 {
    width: 220px;
    background: url(../Nest/img/themeGreen/menubg_wide.png) -2px 0;
}

.btngetcode span{
    display: inline-block;
    width: 102px;
    height: 28px;
	line-height:28px;
    cursor: pointer;
    border-radius: 3px 4px;
    background-color:#b02a31;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    color:white  
}
.btngetcode:hover span{
	text-decoration:none;
    background-position: left -154px;
}

.btngetcode_Gray_UnableClick span{
    display: inline-block;
    width: 102px;
    height: 28px;
	line-height:28px;
    cursor: pointer;
    border-radius: 3px 4px;
    background-color:#808080;
    font-size:12px;
    font-weight:bold;
    text-align:center;  
    color:white      
}
.tipReget{
	color:#0066cc;
	margin-left: 2px;
}
