@import url("../ele_css/ele_rating.css");
.wraper {
	width:1000px;
}
#footer .wraper{
	width:1200px;
}
.searchbar{
	left:278px;
	width:458px;
}
.searchbar .intxt{
	width:391px;
}
.searchbar .hot{
	width:458px;
}
#searchtip{
	width:403px;
}
#menu .menubar {
	background-image:url(../Nest/img/menubg_990.png);
	min-width:1000px;
}
#menu .navigation li .item{
	padding-right:19px;
}
#menu .navigation .item span{
	padding-left:19px;
}
#main{
	min-width:990px;
	background-color:#fff;	
}
#main .wraper{
	width:990px;
}

#main .topshadow{
	height:0;
	background:url(../Nest/img/bg_menubar_C.png) left bottom repeat-x;
	margin-bottom:-7px;
	padding-top:7px;
	overflow:hidden;
	position:relative;
	z-index:1;
	font-size:0;
	line-height:0;
	min-width:1000px;
}
.topbanner{
	height:auto;
	overflow:hidden;
	width:100%;
	position:relative;
	min-width:1000px;
}
.topbanner .inner{
	_position:relative;
	margin:0 -305px;	
}
.topbanner_slider {
	position:relative;
	width:1600px;
	height:auto;
	overflow:hidden;
}
.topbanner_slider ul {
	position:relative;
	width:20000px;
}
.topbanner_slider li {
	float:left;
	width:1600px;
	height:auto;
	text-align:center;
}
.topbanner_slider li img{
	width:auto;
	height:auto;
}
.topbanner_slider .nav {
	position:absolute;
	right:263px;
	bottom:7px;
}
.topbanner_slider .nav a {
	display:block;
	float:left;
	margin-right:-1px;
	border:1px solid #c7cdce;
	background-color:#e5f2f6;
	color:#cb362a;
	font-family:Verdana,Arial;
	padding:2px 5px;
	line-height:1;
}
.topbanner_slider .nav a:hover {
	text-decoration:none;
}
.topbanner_slider .nav .current {
	position:relative;
	border-color:#e58d2d;
	background-color:#e6a156;
	color:#fff;	
}

.catepro_promotion_A {
	width:989px;
	padding-top:60px;
	border:1px solid #e6dccf;
	background-color:#fff;
}
.catepro_promotion_A .inner {
	width:989px;
}
.catepro_promotion_A .prolist {
	margin:0 auto;
	width:972px;
}
.catepro .inner{
	overflow:hidden;
}
.catepro .prolist{
	margin-top:-1px;
}
.catepro .prolist li{
	width:241px !important;
	padding:1px 1px 0 0;
	/*height:356px;*/
	height:312px;
	background:url(../Nest/img/dotteboxB.gif) -1px top repeat;
}
.catepro .prolist li .iteminner{
	background:#fff;
	/*height:356px;*/
	height:312px;
}
.catepro .prolist .pro_rowLast{
	padding-right:0;
}
.catepro .prolist p{
	padding:0 13px;
	margin-top:2px;
}
.catepro .iconProm span{
	left:auto;
	top:1px;
	right:0;
}
.catepro .prolist .ratep{
	display:none;
}
.catepro .prolist .pro_icon1,
.catepro .prolist .pro_icon2,
.catepro .prolist .pro_icon3{
	margin-top:-1px;
	margin-bottom:-1px;
}
.floorTit {
	position:relative;
	margin:0 -6px -60px;
	width:1002px;
	height:60px;
	background:url(../Nest/img/floorTit.png) 0 0 no-repeat;
}
.floorTit h3 { 
	font-family:"microsoft yahei",SimHei,Arial;
	font-size:30px;
	font-weight:bold;
	color:#f16200;
	text-align:center;
	line-height:50px;
	text-shadow:0 1px 1px rgba(255,255,255,.8);
}
.promEntryBanner {
	padding:3px 0 1px;
	zoom:1;
	_margin-left:-14px;
	*padding-bottom:10px;
}
.promEntryBanner li {
	float:left;
	margin:0 0 10px 14px;
	_display:inline-block;
}
.promEntryBanner li img {
	display:block;
}

.floorTitB {
	height:26px;
	margin-bottom:11px;
	background-image:url(../Nest/img/floorTitB.png);
	background-repeat:no-repeat;
	background-position:0 0;
	text-align:center;
	zoom:1;
}
.floorTitB .titinner {
	background-image:url(../Nest/img/floorTitB.png);
	background-repeat:no-repeat;
	background-position:right -33px;
	text-align:center;
	zoom:1;
}
.floorTitB h3 {
	position:relative;
	display:inline-block;
	*display:inline;
	height:48px;
	font-family:"microsoft yahei",SimHei,Arial;
	font-size:22px;
	font-weight:bold;
	color:#f34768;
	text-align:center;
	line-height:48px;
	overflow:hidden;
	margin:-11px 0;
	padding-left:30px;
	zoom:1;
}
.floorTitB h3,
.floorTitB h3 em,
.floorTitB h3 strong {
	background:url(../Nest/img/floorTit_cpt.png);
	background-repeat: no-repeat;
}
.floorTitB h3 em {
	padding-right:30px;
	height:48px;
	display:inline-block;
	background-position: right -100px;
	font-style:normal;
	vertical-align:top;
	zoom:1;
}
.floorTitB h3 strong {
	display:inline-block;
	height:48px;
	padding:0 10px;
	background-position: 0 -50px;
	background-repeat:repeat-x;
	vertical-align:top;
	min-width:176px;
	_width:176px;
	zoom:1;
}
.floorTitB_pink h3 {
	color:#f34768;
}
.floorTitB_orange h3{
	color:#ff6600;
}
.floorTitB_orange {
	background-position:0 -66px;
}
.floorTitB_orange .titinner {
	background-position: 0 -99px;
}
.floorTitB_blue h3{
	color:#416ac3;
}
.floorTitB_blue {
	background-position:0 -133px;
}
.floorTitB_blue .titinner {
	background-position: 0 -166px;
}
.floorTitB_red h3{
	color:#f00;
}
.floorTitB_red {
	background-position:0 -200px;
}
.floorTitB_red .titinner {
	background-position: 0 -234px;
}

.catepro_promotion_B {
	width:990px;
	border-color:#fff;
	border-right:none;
	border-top:none;
	border-bottom:none;
	padding-top:14px;
}
.catepro_promotion_B .inner {
	width:990px;
	overflow:hidden;
}
.catepro_promotion_B .prolist {
	margin:-1px auto 0;
	width:972px;
}
.catepro_promotion_B .promEntryBanner {
	margin-left:-25px;
	padding:10px 0 0;
	zoom:1;
	_margin-left:-50px;
}
.catepro_promotion_B .promEntryBanner li {
	margin:0 0 26px 26px;
	_display:inline-block;
}
.catepro .prolist .banner_x2{
	height:312px;
	_height:312px;
	width:483px!important;
	overflow:hidden;
}
.catepro .prolist .banner_x2 img {
	width:483px;
	height:313px;
	display:block;
}
.catepro .prolist .banner_y2 {
	height:626px;
	padding-right:0;
	padding-top:0;
	overflow:hidden;
}
.catepro .prolist .banner_y2_right {
	float:right;
}
.mapA {
	position:absolute;
	display:block;
	z-index:1;
	background:url(../Nest/img/blank.gif);
}