@import url("../ele_css/ele_rating.css");
.wraper {
	width:1200px;
}
#footer .wraper{
	width:1200px;
}
.searchbar {
	width:500px;
}
.searchbar .intxt{
	width:440px;
}
.searchbar .hot {
	width:520px;
}
#searchtip {
	width:539px;
}
#menu .menubar {
	background:url(../Nest/img/menubg.png) center 0 no-repeat;
	min-width:1200px;
}
#main{
	min-width:1200px;	
}
#main .wraper{
	width:1200px;
}

.topbanner{
	height:auto;
	overflow:hidden;
	width:100%;
	position:relative;
}
.topbanner .inner{
	_position:relative;
	margin:0 -200px;	
}
.topbanner_slider {
	position:relative;
	width:1600px;
	height:auto;
	overflow:hidden;
}
.topbanner_slider ul {
	position:relative;
	width:20000px;
}
.topbanner_slider li {
	float:left;
	width:1600px;
	height:auto;
	text-align:center;
}
.topbanner_slider .nav {
	position:absolute;
	right:263px;
	bottom:7px;
}
.topbanner_slider .nav a {
	display:block;
	float:left;
	margin-right:-1px;
	border:1px solid #c7cdce;
	background-color:#e5f2f6;
	color:#cb362a;
	font-family:Verdana,Arial;
	padding:2px 5px;
	line-height:1;
}
.topbanner_slider .nav a:hover {
	text-decoration:none;
}
.topbanner_slider .nav .current {
	position:relative;
	border-color:#e58d2d;
	background-color:#e6a156;
	color:#fff;	
}
/* Taiwan Shop Promotion */
.topbanner_tw .sidepro img{
	width:391px;
}
.floor00 .banner_B{
	width:393px;
}