.allCateBrandList {
	background:#fff;
	border:1px solid #e9e9e9;
}
.allCateBrandList h3 {
	font-size:18px;
	color:#3F3F3F;
	font-weight:normal;
	height:48px;
	line-height:48px;
	padding-left:27px;
	border-bottom:2px solid #ff3600;
}
.allCateBrandList .allList h3 {
	border-bottom:1px solid #e9e9e9;
	height:34px;
}
.allCateBrandList .allList h3 span {
	height:32px;
	display:block;
	float:left;
	zoom:1;
	line-height:32px;
	border:1px solid #e9e9e9;
	border-bottom:1px solid #fff;
	padding:0 33px;
	position:relative;
	top:1px;
	border-radius:3px 3px 0 0;
}
.allCateBrandList .allList h3 em {
	font-style:normal;
	font-size:16px;
}
.allCateBrandList .allList .backTop {
	float:right;
	background:url(../Nest/img/sprite.png) left -1131px no-repeat;
	padding-left:13px;
	margin-right:15px;
	margin-top:-19px;
	background-position:left -1133px\9;
}
.allList dl {
	margin-top: 10px;
	padding-left:28px;
	padding-bottom:30px;
	overflow:hidden;
	zoom:1;
}
.allList dt {
	float: left;
	font-weight: bold;
	padding: 5px 10px 5px 12px;
	background:url(../Nest/img/sprite.png) no-repeat -16px -1096px;
	text-align: left;
	width: 95px;
	line-height: 25px;
}
.allList dt a {
	color:#3f3f3f;
}
.allList dt a:hover {
	color:#ff3600;
}
.allList dd {
	float: left;
	margin: 5px 0;
	width: 1000px;
}
.allList dd em {
	float: left;
	font-style: normal;
	white-space: nowrap;
	width: 110px;
	overflow: hidden;
	margin-right: 5px;
	line-height: 25px;
}
.allList dd a {
	color:#999;
}
.allList dd a:hover {
	color:#ff3600;
}
.categoryList {
	padding:10px 25px 25px;
}
.categoryList li {
	float:left;
	width:191px;
	height:38px;
	overflow:hidden;
}
.categoryList li a span {
	height:38px;
	display:inline-block;
	zoom:1;
	line-height:38px;
	padding:0 15px 0 36px;
	background:url(../Nest/img/sprite.png) no-repeat 6px 9px;
	font-size:16px;
	color:#202020;
}
.categoryList li a:hover span {
	color:#ff3600;
}
.categoryList li a:hover {
	text-decoration:none;
}
.categoryList .item1 a span,
.categoryList .item2871 a span {
	background-position:6px 8px;
}
.categoryList .item2 a span,
.categoryList .item98 a span {
	background-position:6px -27px;
}
.categoryList .item3 a span,
.categoryList .item103 a span {
	background-position:6px -66px;
}
.categoryList .item4 a span,
.categoryList .item108 a span {
	background-position:6px -104px;
}
.categoryList .item5 a span,
.categoryList .item117 a span {
	background-position:6px -143px;
}
.categoryList .item6 a span,
.categoryList .item121 a span {
	background-position:6px -181px;
}
.categoryList .item7 a span,
.categoryList .item131 a span {
	background-position:6px -218px;
}
.categoryList .item8 a span,
.categoryList .item143 a span {
	background-position:6px -1432px;
}
.categoryList .item9 a span,
.categoryList .item154 a span {
	background-position:6px -1485px;
}
.categoryList .item10 a span,
.categoryList .item163 a span {
	background-position:6px -1540px;
}
.shop-brand-container {	padding-left:31px; padding-bottom:35px; _margin-right:-31px;}
.shop-brand-container li { float:left; /*border:1px solid #e3e3e3;*/ margin:20px 29px 0px 0px; width:161px; height:75px; padding:8px 2px 2px; text-align:center; background:#fff url(../Nest/img/bg_brand_logo.png) 0 0 no-repeat;}
.shop-brand-container li.end { margin-right:0px;}
.shop-brand-container li .b-logo{height:55px; text-align:center;}
.shop-brand-container li .b-logo img{ vertical-align:middle;}
.shop-brand-container li .b-name{display:block; height:20px; overflow:hidden; text-align:center;}
#catetoryBrand .tab {padding:30px 0px 15px 84px;}
#catetoryBrand .tab a { margin-left:56px; width:79px; height:62px; line-height:62px; background-image:url(../nest/img/brand_tab_bg.jpg); display:inline-block; text-align:center; color:#666666; font-size:14px; text-decoration:none;}
#catetoryBrand .tab a.now { width:88px; height:80px; background-image:url(../nest/img/brand_tab_bg_select.jpg); color:#ffffff; font-weight:bolder;}
#moreBrand { line-height:24px; padding:15px 10px 0px 0px;}
#moreBrand dl dt { float:left; font-weight:bolder; font-size:14px;}
#moreBrand dl dd { float:left; padding-right:10px;}
/*Narrow Screen : Start*/
.sn .wraper {
	width:990px;
}
.sn .searchbar {
	width:418px;
}
.sn .searchbar .intxt{
	width:310px;
}
.sn .searchbar .hot {
	width:418px;
}
.sn #searchtip {
	width:329px;
}
.sn #menu .menubar {
	background:url(../Nest/img/menubg_990.png) center 0 no-repeat;
	min-width:990px;
}
.sn .allList dd{width:790px;}
.sn .categoryList li{width:233px;}
.sn .shop-brand-container { margin-right:0; zoom:1;}
.sn .shop-brand-container li { float:left; /*border:1px solid #e3e3e3;*/ margin:20px 26px 0px 0px; overflow:hidden; }
.sn .shop-brand-container li.end { margin-right:28px;}
.sn #catetoryBrand .tab {padding:30px 0px 15px 0px;}
.sn #catetoryBrand .tab a { margin-left:49px;}
/*Narrow Screen : End*/