@import url("../ele_css/ele_rating.css");
.wraper {
	width:1000px;
}
#footer .wraper{
	width:1200px;
}
.searchbar{
	left:278px;
	width:458px;
}
.searchbar .intxt{
	width:391px;
}
.searchbar .hot{
	width:458px;
}
#searchtip{
	width:403px;
}
#menu .menubar {
	background-image:url(../Nest/img/menubg_990.png);
	min-width:1000px;
}
#menu .navigation li .item{
	padding-right:19px;
}
#menu .navigation .item span{
	padding-left:19px;
}
.div-box { background-color:#fff; border-top:2px solid #f60;}
.div-box h1 { color:#555; font-size:15px; font-weight:bold; padding-left:17px; border-bottom:1px solid #e9e9e9; line-height:35px; background:#fbfbfb url(../Nest/img/sidebox_bg.png) 0 0 repeat-x;}
.div-box dl { border-bottom:1px dotted #cfcfcf; line-height:40px; padding:18px 0 18px 123px; position:relative;}
.div-box dl dt { position:absolute; left:15px; top:18px; background:url(../Nest/img/website_map_dt_bg.png) center no-repeat; width:75px; color:White; font-weight:bolder; padding-left:18px;}
.div-box dl dd { float:left; white-space:nowrap;}
.div-box dl dd a { color:#666;}
.div-box dl dd a:hover { color:#f60; cursor:pointer;}
.div-box dl dd span { color:#e0e0e0; padding:0px 15px;}
.div-box dl.last { border-bottom:0px none;}
.mt18 { margin-top:18px;}