/*********** CSS RESET **********/
* {
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}
del{
	text-decoration: line-through;
}
/*common*/
.container{
	margin:0 auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
ul{
	list-style:none;
	margin:0;
}
a{
	color:#666;
}
a:hover{
	text-decoration:none;
	color:#b02a31;
}
i{
	padding: 0 4px;
}
.btn-cum {
    border: none;
    background-color: #b02a31;
    font-weight: 700;
    color: #fff!important;
}

.btn-lg{
    height: 46px;
    line-height: 46px;
    padding: 0 26px;
    font-size: 18px;
    font-family: "microsoft yahei";
}
.btn-sm{
	font-size: 14px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;	
}
.btn-def {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
	color:#666;
}
/*shortcut*/
.shortcut{
	background:#f8f8f8;
	height: 30px;
    line-height: 30px;
	font-size: 12px;
}
.shortcut-left li{
	float:left;
}
.shortcut li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.shortcut li a{
	color:#999;
	padding:0 7px;
}
.shortcut li a:hover{
	color:#9c3341;
}
/*header*/
.hd{
	padding: 3rem 0 2rem;
}
#search .form {
    width: 538px;
    height: 35px;
    position: relative;
}
#search input{
    padding: 4px;
    width: 490px;
    border: 2px solid #b02a31;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
#search .btn {
    right: 0;
    width: 50px;
    height: 37px;
    line-height: 23px;
    border: none;
    background-color: #b02a31;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
	position: absolute;
}
.language{
	margin-top:10px;
}
.hd-bottom{
	border-bottom:2px solid #b02a31;
	background-color: #f6f6f6;
}
.hd-category p{
	font-size:20px;
	color:#b02a31;
	margin: 0;
    height: 40px;
    line-height: 40px;
}
.hd-category p i{
	margin-right:10px;
}
.hd-nav li{
	float:left;
	margin-left: 30px;
}
.hd-nav li a{
	color:#333;
	font-size:16px;
	height: 40px;
    line-height: 40px;
}
.hd-nav li a:hover{
	color:#b02a31;
}
/*main*/
.block h2{
	font-size:20px;
	line-height:30px;
}
.block-title{
	border-bottom:3px solid #b02a31;
}
.main h3{
	font-size: 20px;
    color: #fff;
    background-color: #b02a31;
    width: 120px;
    text-align: center;
    line-height: 32px;
	height:32px;
    margin: 0;

}
.slider{
	margin-left: -15px;
}
#carousel2 .carousel-control{
	width:5%;
}
.cate-list{
	background:#b02a31;
}
.cate{
	margin-left: -15px;
    margin-right: -15px;
	padding:8px 0 6px;
}
.cate-item{
	line-height:26px;
	height:32px;
}
.cate-item a{
	color:#fff;
	display: block;
	padding: 3px 16px;
	font-size:14px;
}
.cate-item:hover{
	background:#eaba14;
}
/*分类导航*/
#nav{
	background: #b02a31;
	position:absolute;
	width: 195px;
	z-index:1;
	padding: 0;
	box-shadow:4px 2px 5px rgba(0, 0, 0, 0.3);
}
#nav .mod_cate_hd{
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#FFFFFF;
	text-indent:7px;
	box-shadow:2px -1px 3px rgba(55,55,55,0.5);
	background-color:#4593FD;
	border-bottom:1px #3487F2 solid;
}
#nav .mod_cate,#nav .mod_cate2{
	border-top:1px #b9343b solid;
	border-bottom:1px #a5171f solid;
	padding:0 15px;
}
#nav .mod_cate h2,#nav .mod_cate2 h2{
	font-size:14px;
	font-weight:normal;
	margin-top: 10px;
}
#nav .mod_cate h2 a,#nav .mod_cate2 h2 a{
	color:#FFFFFF;
	padding-right:5px;
}
#nav .mod_cate a.hot_sub{
	background:#106AC0;
	font-size:12px;
	border-radius:9px;
	padding:0px 5px;
	margin-left:5px;
}
#nav .mod_cate_r{
	line-height:24px;
	font-style:normal;
	font-variant:normal;
	margin-bottom: 5px;
}
#nav .mod_cate_r a{
	font-size:12px;
	color:#fed7d9;
	padding-right:5px;
	display: inline-block;
}
#nav .mod_cate2{
	background:none;
}
#nav .mod_cate2 a.yel{
	color:#fee602;
}
#nav .mod_subcate{
	display:none;
	height:500px;
	border:2px #b9343a solid;
	background:#FFFFFF;
	box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1);
	position:absolute;
	top: -2px;
    z-index: -1;
    left: 193px;
	overflow:hidden;
}

#nav .mod_subcate_main{
	width:530px;
	padding:0px 20px 1000px 20px;
	margin-bottom:-1000px;
	border-right:1px #ddd solid;
	float:left;
}
#nav .mod_subcate_line{
	width:100%;
	height:1px;
	clear:both;
	font-size:0px;
	margin-bottom:5px;
	border-top:5px #fff solid;
	border-bottom:1px #dadada dotted;
	overflow:hidden;
	display:block;
}
#nav .mod_subcate_main dl{
	padding:7px 0 7px 65px;
	border-bottom:1px #e5e5e5 solid;
	overflow:hidden;
}
#nav .mod_subcate_main dl dt{
	width:65px;
	font-size:12px;
	color:#b02a31;
	line-height:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:700;
	margin-left:-65px;
	float:left;
	font-size-adjust:none;
	font-stretch:normal;
}
#nav .mod_subcate_main dl dd{
	line-height:22px;
	overflow:hidden;
}
#nav .mod_subcate_main dl dd a{
	color:#666;
	font-size:12px;
	margin:0 5px 0 5px;
	float:left;
	display:inline;
	white-space:nowrap;
}
#nav .mod_subcate_main dl dd a.org{
	color:#eaba14;
}
#nav .mod_subcate_channel{
	clear:both;
	margin-top:15px;
} 
#nav .mod_subcate_channel .mod_btn_arrow{
	height:26px;
	line-height:26px;
	font-size:12px;
	padding:0 10px 0 10px;
	margin-left:5px;
	text-decoration:none;
	color:#FFFFFF;
	background:#2785E6;
	cursor:pointer;
	display:inline-block;
}
#nav .mod_subcate_channel .mod_btn_arrow b{
	font-weight:normal;
	float:left;
}
#nav .fa-angle-right { 
	float:right;
	color:#fff;
}
#nav .mod_subcate_side{
	width:217px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:1000px;
	margin-bottom:-1000px;
	float:left;
}
#nav .on{
	border-top:1px #fff solid;
	border-bottom:1px #a5171f solid;
	margin-left:2px;
	background:#FFFFFF;
}
#nav .on h2 a{
	color:#000;
}
#nav .on .mod_subcate{
	display:block !important;/* !important 强制显示，否则会闪烁*/
}
#nav .on .mod_cate_r a{
	color:#555;
}
#nav .on a.hot_sub{
	color:#FFFFFF;
}
.sales{
	overflow:hidden;
	position:relative;
}
.sales h2 i,.new-order h2 i{
	color:#eaba14;
	font-size: 30px;
    margin-right: 5px;
	float: left;
}
.product-list{
	overflow:hidden;
}
.controls_item {
    position: absolute;
    display: block;
    z-index: 1;
    top: 50%;
    margin-top: -40px;
    width: 20px;
    height: 50px;
    background: #f1f1f1;
    background: rgba(0,0,0,.1);
    line-height: 50px;
    text-align: center;
}
.control-pre{
	left:7px;
}
.control-next{
	right:0px;
}
.control-pre i.disable,.control-next i.disable{
	color:#fff;
}
.controls_item i{
	font-size: 20px;
    color: #272526;
	line-height: 50px;
}
.p_item{
    float: left;
    width: 220px;
    height: 285px;
    padding: 0 14px 0 15px;
}
.vip-p .p_item{
	width:20%;
}
.p_item_name {
    color: #666;
    display: block;
    max-width: 100%;
    _width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
	margin: 0;
    word-wrap: break-word;
    word-break: break-all;
}
.p_item_price {
    padding: 3px 0;
    height: 25px;
    margin-bottom: 5px;
}
.vip-p .p_item_price{
	height:50px;
}
.vip-p img{
	margin: 0 auto;
    display: block;
}
.price i{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.p_item_price p{
	margin:0;
}
.price_new {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
    color: #f10214;
}
.price_new b{
	font-size:14px;
}
.price_new i {
    font-size: 12px;
    font-weight:500;
}
.price_origin{
	color: #999;
    font-size: 12px;
}
.sale_num{
	font-size:12px;
	color:#999;
}
.new-order{
	height: 340px;
}
.order-list{
	margin: 29px 3px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.order-list .table{
	margin-bottom:0px;
}
.order-list .table th{
	color:#666;
}
.order-list tbody{
	font-size:12px;
}
.order-list .table>tbody>tr>td{
	line-height:24px;
}
.order-list tbody td img{
	float:left;
	margin-right:2px;
}
.order-list .table .price{
	color:#b02a31;
}
.order-list .table .state{
	color:#B9AA8D;
}
.block{
	margin-top:20px;
}
.merchant{
	overflow:hidden;
}
.ms{
	margin:25px 0;
}
.merchant .block-content{
	padding:20px 0;
}
.ms-item{
    line-height: 24px;
	height:24px;
	display: inline-block;
    width: 19%;
}
.ms-item img{
	float:left;
}
.ms-item span{
	margin-left:5px;
	white-space:nowrap;
}
.cartEnter i{
	font-size:30px;
	color:#b02a31;
}
.cartEnter a{
	display:block;
	position:relative;
}
.cartEnter .cart-num{
    width: 24px;
    height: 24px;
    background-color: #df8f12;
    color: #fff;
    display: block;
    position: absolute;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
	right: 25px;
    top: -8px;
}
.mini-cart{
    position: absolute;
    right: -19px;
    top: 30px;
    z-index: 1;
    padding-top: 10px;
    padding-right: 10px;
    overflow: visible;
}
.mini-cart-wrap{
	position: relative;
    width: 330px;
    border: 1px solid #d0bdbd;
    border-top: 2px solid #dececf;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
.mini-cart .cart1,.mini-cart .cart2{
	position: absolute;
    right: 58px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.mini-cart .cart1{
	top: -8px;
    border-bottom: 8px solid #dececf;
}
.mini-cart .cart2 {
    top: -6px;
    border-bottom: 8px solid #fff;
}
.mini-cart .cartinfo {
    margin: 14px 2px 0 0;
    background-color: #fff;
    overflow: auto;
}
.cart-item{
	overflow:hidden;
	height: 70px;
    padding: 0 0 10px 15px;
}
.mini-cart img{
    width: 60px;
    height: 60px;
}
.mini-cart .item-name{
    width: 140px;
    margin: 13px 0 0 10px;
}
.mini-cart .item-name p{
	font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mini-cart .item-name p.num{
	color:#999;
}
.mini-cart .item-price p{
	width: 50px;
    text-align: right;
    font-size: 12px;
    color: #b62628;
    margin-top: 14px;
    line-height: 11px;
}
.mini-cart .item-price p.del{
	text-align:center;
}
.mini-cart .item-price p.del a{
	color:#cfcfcf;
}
.mini-cart .cartbottom {
    border-top: 1px solid #e7e1d4;
    height: 66px;
    background-color: #f4f0ea;
}
.cartbottom .totalprice{
    line-height: 66px;
    font-size: 13px;
    padding-left: 52px;
    color: #b62628;
    float: left;	
}
.cartbottom .gotocart{
	float: right;
    margin: 16px 31px 0 0;
}

/*footer*/
.footer{
	background: #b02a31;
}
.footer p{
	font-size:12px;
	margin: 0;
}
.footer .container{
	color:#fff;
	font-size: 14px;
	text-align: center;
	padding-bottom: 20px;
}
.footer p.footerTitle{
	padding-top: 15px;
	font-size:14px;
}
.footer ul{
	overflow: hidden;
	margin:10px auto;
}
.frindLink{
	width:420px;
	font-size: 12px;
}
.frindLink a{
	color:#fff;
}
.frindLink a:hover{
	text-decoration:underline;
}
.footer ul.cricle li{
	display: inline-block;
	margin:10px;
	
}
.footer .frindLink li{
	float: left;
	width:70px;
}
/*aboutus*/
.page-head .page-title{
	font-size:24px;
	padding: 5px 0 10px;
}
.aboutus{
	background: #f6f6f6;
	padding-bottom: 30px;
}
.ab-list ,.ab-content{
	background:#fff;
}
.ab-list li{
	height:40px;
	line-height:40px;
	border-bottom: 1px solid #ededed;
}
.ab-list li:first-child{
	border-top: 1px solid #ededed;
}
.ab-list li a{
	display:block;
	padding-left: 30px;
}
.ab-list li.active > a{
	border-left: 3px solid #b02a31!important;
    margin-left: -3px;
	background:#f3e2e3;
	color: #b02a31;
}
.ab-content .ab-hd h2{
	margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #333;
}
.ab-content .content{
	border-top: 1px solid #ededed;
    margin: 22px 0px 0;
    padding: 26px 20px;
}
.ab-content .content p{
    text-indent: 2em;
}
.ab-content .content img{
	max-width:100%;
	margin:20px 0;
}