a:hover{
	color:#4dad27;
}
.red{
	color:#f60!important;
}
.price{
	color:#f60;
	background-image:url(../Nest/img/themeGreen/sprite.png);
}
.price14,
.price16,
.price18{
	background-image:url(../Nest/img/themeGreen/price.png);
}
.topnav li a:hover{
	color:#4dad27;
}
#topbar .fun_addURL .ico_heart{
	background-image:url(../Nest/img/themeGreen/sprite.png);
}
#topbar .func_lang,
#topbar .func_lang:hover,
.topnav .ex_hover dt a{
	color:#4dad27;
}
#topbar .fun_global_tel .ico_global_tel, 
#topbar .ico_lang{
	background-image:url(../Nest/img/themeGreen/sprite_v2.png);
}
.searchbar{
	left:330px;
}
.searchbar, 
.searchbar .btn_search, 
.searchbar .inner{
	background-image:url(../Nest/img/themeGreen/searchbar.png);
}

#menu{
	background-color:#4dad27;
}
#menu .menubar{
	background-image:url(../Nest/img/themeGreen/menubg.png);
	background-color:#4dad27;
}
#menu .navigation li .item:hover,
#menu .submenu a:hover{
	background:#1b6830;
}
#menu .navigation .item:hover span,
#menu .submenu a:hover span {
	background:#1b6830;
}
#menu .navigation .now .item,
#menu .navigation .hover .item{
	background:#1b6830;
}
#menu .navigation .now span {
	background:#1b6830;
}
#menu .submenu{
	background:#1b6830;
}
#menu .submenu a:hover,
#menu .submenu a:hover span{
	background:#4dad27;
}
.menulist .viewAllCate,
.menulist dl,
.menulist dt{
	background-image:url(../Nest/img/themeGreen/category.png);
}
.menulist .expand,
.menulist .expand .corner,
.menulist .lireset li a{
	background-image:url(../Nest/img/themeGreen/sprite.png);
}
.menulist .btn_entry{
	background-image:url(../Nest/img/themeGreen/sprite_menupop.png);
}
.menulist .now .cateitem span,
.menulist .entry strong,
.menulist .relativeinfo h4,
.menulist .lireset li a:hover,
.menulist td a:hover,
.menulist .recBrands .func_more:hover,
.searchbar .intxt,
.footer dd a:hover,
.prolist .tit a:hover,
.prolist .tit a:hover span,
.floatFunc .item .toCart em{
	color:#f60;
}
.floatFunc .top, 
.floatFunc .mid, 
.floatFunc .bot{
	background-image:url(../Nest/img/themeGreen/bg_float_wiget_w66.png);
}
.floatFunc .item a {
	color:#4dad27;
	background-image:url(../Nest/img/themeGreen/float_wiget_icons.png);
}
.floatFunc .now a,
.floatFunc .item a:hover {
	color:#fff;
	background-color:#4dad27;
}
.footerInfo{
	background-color:#4dad27;
}
#footer .shareItems a,
#footer .share,
#footer .appDown,
.footer .hotline{
	background-image:url(../Nest/img/themeGreen/footer_sprite.png);
}
/* Home */
.topbanner .nav span,
.floor2 .slideBig .dotnav span,
.floor3 .slidearea .dotnav span{
	background-image:url(../Nest/img/themeGreen/abtn_24bit.png);	
}
.floor8 .brandSlider .dotnav span{
	background-image:url(../Nest/img/themeGreen/abtn_24bit_small.png);	
}
.sideprolist .tab .now span{
	color:#1b6830;
}
.sideprolist .textlist a:hover{
	color:#4dad27;
	background-position:0 7px;
}

.primeTabSection .tab{
	border-bottom-color:#dedede;
}
.primeTabSection .tab a{
	color:#777;
	background-image:url(../Nest/img/themeGreen/primeTabSection_tab_now.png);
}
.primeTabSection .tab a.now{
	color:#f60;
	border-bottom-color:#ff5a01;
}
.hotAct h3{
	color:#f60;
	background-image:url(../Nest/img/themeGreen/hot_activity_tit.png);
}
.stfloor h2{
	color:#1b6830;
}
.stfloor .inner{
	border-top-color:#4dad27;
}
.stfloor .tab a{
	color:#777;
}
.stfloor .tab a.now,
.stfloor .tab a.now strong{
	background:#4dad27 none;
	color:#fff;
}
.floor0 .caty{
	margin-top:0;
}
.floor4 .caty li .hot{
	background-color:#f60;
}
.floor0 .caty li a:hover,
.floor1 .caty li a:hover,
.floor2 .aside a:hover span,
.floor4 .caty li a:hover,
.floor8 .caty li a:hover,
.recommendBrands h2,
.recommendBrands .brandList li a:hover span{
	color:#f60;
}