<?xml version="1.0"?>
<payment>
  <paymentBase>
    <!--基地址-->
    <baseUrl>http://116.228.78.171:8080/</baseUrl>
  </paymentBase>
  <paymentModes>
    <paymentMode id="111" name="东方支付">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeEasiPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://61.152.165.77:8081/cbods/order/orderlist.htm</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/Easi</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/Easi</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <bankCert></bankCert>
      <merchantName>株式会社大昌贸易行</merchantName>
      <!--商户号（东方支付定义的名称为：电商代码）-->
      <merchantNO>DCH0001</merchantNO>
      <!--商户密钥证书-->
      <merchantCert></merchantCert>
      <!--商户密钥证书密码（东方支付定义为：私钥）-->
      <merchantCertKey><![CDATA[y4695c51qH71ZW27881R03uZ089v21Gtdfd]]></merchantCertKey>
      <!--币种-->
      <curCode>USD</curCode>
      <encoding>utf-8</encoding>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
      <!--customProperty1至customProperty5为各种支付方式的自定义配置-->
      <!--电商编码：电商在海关备案编号-->
      <customProperty1>485</customProperty1>
      <customProperty2></customProperty2>
      <customProperty3></customProperty3>
      <customProperty4></customProperty4>
      <customProperty5></customProperty5>
    </paymentMode>
  </paymentModes>
</payment>
