<?xml version="1.0" encoding="utf-8"?>
<routeConfig>
  <!--默认命名空间，如果Area中的Controller名称和最外层的Controller名称有相同的，则必须配置此节点，否则会导致Route失败 -->
  <defaultNamespace name="Nesoft.ECWeb.M.Controllers.*"/>
  <ignore>
    <!--忽略对.axd文件的Route，直接处理-->
    <add url="{resource}.axd/{*pathInfo}" >
      <constraints>
        <!--添加约束-->
        <add name="resource" value="\w" />
      </constraints>
    </add>
  </ignore>
  <areas>
  </areas>
  <map>
    <!--登录-->
    <route name="Login" url="Login" controller="Common" action="Login"></route>
    <!--注册-->
    <route name="Register" url="Register" controller="Common" action="Register"></route>
    <!--新闻头条-->
    <route name="News" url="News" controller="Topic" action="Index"></route>
    <!--Ajax Query 新闻头条-->
    <route name="Ajax_Query_News" url="Ajax/QueryNews" controller="Topic" action="Ajax_QueryNews"></route>
    <!--新闻头条详情-->
    <route name="NewsDetail" url="News/{SysNo}" controller="Topic" action="Detail">
      <parameters>
        <add name="SysNo" value="{SysNo}"/>
      </parameters>
    </route>
    <!--环球美食-->
    <route name="Food" url="Food" controller="Common" action="Food"></route>
    <!--Ajax Query 环球美食-->
    <route name="Ajax_Query_Food" url="Ajax/QueryFood" controller="Common" action="Ajax_QueryFood"></route>
    <!--团购列表-->
    <route name="GroupbuyingList" url="Groupbuying" controller="Groupbuying" action="Index"></route>
    <!--精选热卖-->
    <route name="Hot" url="Hot" controller="Common" action="Hot"></route>
    <!--订单列表-->
    <route name="Order_List" url="Order" controller="Order" action="List"></route>
    <!--订单追踪-->
    <route name="Order_Track" url="Order/Track/{OrderSysNo}" controller="Order" action="Track">
      <parameters>
        <add name="OrderSysNo" value="{OrderSysNo}"/>
      </parameters>
    </route>
    <!--订单详情-->
    <route name="Order_Detail" url="Order/{OrderSysNo}" controller="Order" action="Detail">
      <parameters>
        <add name="OrderSysNo" value="{OrderSysNo}"/>
      </parameters>
    </route>
    <!--作废订单-->
    <route name="Ajax_Void_Order" url="Ajax/VoidOrder"  controller="Order" action="Ajax_VoidOrder"></route>
    <!--我的优惠卷-->
    <route name="MyCoupons" url="Coupons"  controller="Customer" action="Coupons"></route>
    <!--我的收藏-->
    <route name="MyFavorite" url="Favorite"  controller="Customer" action="MyFavorite"></route>
    <!--AJAX QUERY 我的收藏-->
    <route name="Ajax_Query_Favorite" url="Ajax/QueryFavorite"  controller="Customer" action="Ajax_QueryMyFavorite"></route>
    <!--AJAX DELETE 我的收藏-->
    <route name="Ajax_Delete_Favorite" url="Ajax/DeleteFavorite"  controller="Customer" action="Ajax_DeleteMyFavorite"></route>
    <!--AJAX Query 订单列表-->
    <route name="Ajax_Query_Order" url="Ajax/QueryOrder"  controller="Order" action="Ajax_QueryOrder"></route>
    <!--AJAX Query 团购列表-->
    <route name="Ajax_Query_Groupbuying" url="Ajax/QueryGroupbuying"  controller="Groupbuying" action="Ajax_QueryGroupbuying"></route>
    <!--品牌街-->
    <route name="BrandStreet" url="BrandStreet"  controller="Brand" action="BrandStreet"></route>
    <!--品牌详情-->
    <route name="BrandDetail" url="Brand/{ID}"  controller="Brand" action="BrandDetail">
      <parameters>
        <add name="ID" value="{ID}" />
      </parameters>
    </route>
    <!--品牌商品-->
    <route name="AjaxBrandProducts" url="Brand/{ID}/Products"  controller="Brand" action="AjaxBrandProducts">
      <parameters>
        <add name="ID" value="{ID}" />
      </parameters>
    </route>

    <!--所有分类-->
    <route name="CategoryAll" url="CategoryAll"  controller="Category" action="CategoryAll"></route>
    <!--三级分类-->
    <route name="Category3" url="Category/{ID}"  controller="Category" action="Category3">
      <parameters>
        <add name="ID" value="{ID}" />
      </parameters>
    </route>
    <!--三级分类商品-->
    <route name="AjaxCategory3Products" url="Category/{ID}/Products"  controller="Category" action="AjaxCategory3Products">
      <parameters>
        <add name="ID" value="{ID}" />
      </parameters>
    </route>
    <!--热销排行-->
    <route name="HotSale" url="HotSale"  controller="Product" action="HotSale"></route>
    <!--限时抢购-->
    <route name="Countdown" url="Countdown"  controller="Countdown" action="Index"></route>
    <route name="AjaxCountdownProducts" url="AjaxCountdownProducts"  controller="Countdown" action="AjaxCountdownProducts"></route>

    <!--搜索结果页-->
    <route name="Search" url="Search"  controller="Search" action="Index"></route>
    <!--三级分类商品-->
    <route name="AjaxSearchProducts" url="Search/Products"  controller="Search" action="AjaxSearchProducts"></route>
    <!--购物车-->
    <route name="ShoppingCart" url="ShoppingCart"  controller="ShoppingCart" action="Index"></route>
    <!--添加购物车-->
    <route name="AddShoppingCart" url="AddShoppingCart" controller="ShoppingCart" action="AddToShoppingCart"></route>
    <!--Mini购物车获取商品数量-->
    <route name="GetMiniShoppingCartCount" url="GetMiniShoppingCartCount"  controller="ShoppingCart" action="GetMiniShoppingCartCount"></route>

    <!--checkout-->
    <route name="Checkout" url="Checkout" controller="ShoppingPurchase" action="Checkout"></route>
    <!--不经过购物车直接购买-->
    <route name="DirectCheckout" url="checkout/p/{productSysNo}/q/{quantity}" controller="ShoppingPurchase" action="DirectCheckout">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
        <add name="quantity" value="{quantity}" />
      </parameters>
    </route>
    <route name="AjaxApplyCoupon" url="Checkout/ApplyCoupon" controller="ShoppingPurchase" action="AjaxApplyCoupon"></route>
    <route name="AjaxBuildCheckOut" url="Checkout/Build" controller="ShoppingPurchase" action="AjaxBuildCheckOut"></route>
    <route name="AjaxSubmitCheckout" url="Checkout/Submit" controller="ShoppingPurchase" action="AjaxSubmitCheckout"></route>
    <route name="AjaxGetShippingAddress" url="Checkout/ShippingAddress/Get" controller="ShoppingPurchase" action="AjaxGetShippingAddress"></route>
    <route name="AjaxSubmitShippingAddress" url="Checkout/ShippingAddress/Submit" controller="ShoppingPurchase" action="AjaxSubmitShippingAddress"></route>
    <!--thankyou-->
    <route name="Thankyou" url="Thankyou/{CartID}" controller="ShoppingPurchase" action="Thankyou">
      <parameters>
        <add name="CartID" value="{CartID}" />
      </parameters>
    </route>
     <!--支付路由Start-->
    <!--在线支付-->
    <route name="OnlinePayRoute" url="Shopping/OnlinePay/{SOSysNo}" controller="Payment" action="OnlinePay" needssl="1">
      <parameters>
        <add name="SOSysNo" value="{SOSysNo}" />
      </parameters>
    </route>
    <!--在线支付前台回调-->
    <route name="OnlinePayCallbackRoute" url="Pay/Complete" controller="Payment" action="OnlinePayCallback"></route>
    <!--东方支付前台回调-->
    <route name="OnlineEasiPayShowBackRoute" url="Pay/Show/Easi" controller="Payment" action="OnlinePayShowCallback">
      <parameters>
        <add name="PayTypeSysNo" value="111" />
      </parameters>
    </route>
    <!--东方支付后台回调-->
    <route name="OnlineEasiPayBgCallbackRoute" url="Pay/Easi" controller="Payment" action="OnlinePayBgCallback">
      <parameters>
        <add name="PayTypeSysNo" value="111" />
      </parameters>
    </route>
    <!--支付路由End-->

    <!--商品详情-->
    <route name="ProductDetail" url="Product/{ProductSysNo}" controller="Product" action="Detail" >
      <parameters>
        <add name="ProductSysNo" value="{ProductSysNo}" />
      </parameters>
    </route>
    <!--商品详情描述-->
    <route name="ProductDetailDesc" url="Product/Desc/{ProductSysNo}" controller="Product" action="DetailDesc" >
      <parameters>
        <add name="ProductSysNo" value="{ProductSysNo}" />
      </parameters>
    </route>
    <route name="Web_Default" url="{Controller}/{Action}"  controller="Home" action="Index"></route>
  </map>
</routeConfig>
