<?xml version="1.0" encoding="utf-8" ?>

<config>

  <items>
    <item name="ProductSearch" type="Nesoft.ECWeb.Entity.SolrSearch.ProductSearchResult,Nesoft.ECWeb.Entity" provider="Solr"/>
    <item name="ProductACSearch" type="Nesoft.ECWeb.Entity.SolrSearch.ProductACSearchResult,Nesoft.ECWeb.Entity" provider="Solr"/>
  </items>

  <providers>

    <provider name="Solr" type="Nesoft.Utility.DataAccess.SearchEngine.Solr.SolrSearchProvider,Nesoft.Utility.DataAccess">

      <!--Solr服务基础地址-->

      <baseUrl>http://10.16.236.140:8888/solr/</baseUrl>

      <searchers>

        <!--Solr Searcher 配置
      
        type ： Searcher完全限定名
        result : Searcher 返回的查询结果类型完全限定名
      
        -->
        <searcher type="Nesoft.ECWeb.Facade.SearchEngine.ProductSolrSearcher,Nesoft.ECWeb.Facade"
                  result="Nesoft.ECWeb.Entity.SolrSearch.ProductSearchResult,Nesoft.ECWeb.Entity" />

        <searcher type="Nesoft.ECWeb.Facade.SearchEngine.ProductACSolrSearcher,Nesoft.ECWeb.Facade"
          result="Nesoft.ECWeb.Entity.SolrSearch.ProductACSearchResult,Nesoft.ECWeb.Entity" />

      </searchers>
    </provider>
  </providers>
</config>