<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CachingSettings" type="IPP.Framework.Caching.CachingSettings, IPP.Framework.Common"/>
		<section name="ConfigSettings" type="IPP.Framework.Configuration.ConfigSettings, IPP.Framework.Common"/>
	</configSections>

	<ConfigSettings defaultProvider="XmlConfig" rootPath="~/Configuration">
		<providers>
			<add name="XmlConfig" type="IPP.Framework.Configuration.XMLConfigProvider, IPP.Framework.Common" />
		</providers>
		<mappings>
			<!--<add name="ServiceServerConfig" path="/ServiceModel/Server.config"/>
			<add name="ServiceBindingConfig" path="/ServiceModel/Binding.config"/>
			<add name="ServiceConfig" path="/ServiceModel/Services/"/>-->
      <add name="SSBProcessConfig" path="SSBProcess.config"/>
      <add name="RestServiceConfig" path="RestService.config"/>
		</mappings>
	</ConfigSettings>

	<CachingSettings defaultProvider="AspNetCacheProvider">
		<providers>
			<add name="AspNetCacheProvider"
					   type="IPP.Framework.Caching.AspNetCacheProvider, IPP.Framework.Common"
					   defaultExpireSeconds="60"
					   keyPrefix="AspNetCacheProvider_"
					   maximumElementsInCache="1000"
					   numberToRemoveWhenScavenging="500"></add>
		</providers>
	</CachingSettings>

	<LogSettings defaultProvider="TxtLogProvider">
		<providers>
			<add name="TxtLogProvider"
					  type="IPP.Framework.Logging.TxtLogProvider, IPP.Framework.Common" filePath="Log/" />
		</providers>
	</LogSettings>
</configuration>
