<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <sectionGroup name="oversea">
            <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
            <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
            <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
        </sectionGroup>
        <section name="ServiceJobSection" type="IPP.ECommerceMgmt.SendAmbassadorPoints.Providers.ServiceJobSection,IPP.ECommerceMgmt.SendAmbassadorPoints" />
    </configSections>
    <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
        <sources>
            <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				 filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config" />
        </sources>
    </enterpriseLibrary.ConfigurationSource>
    <ServiceJobSection>
        <JobProviders>
            <add name="ProviderSendAmbassadorPoints" type="IPP.ECommerceMgmt.SendAmbassadorPoints.Providers.ServiceJobProviderSendAmbassadorPoints,IPP.ECommerceMgmt.SendAmbassadorPoints" />
        </JobProviders>
        <JobCollection>
            <add jobName="JobProviderSendAmbassadorPoints" jobType="Repeter" runTime="5:00;00" provider="ProviderSendAmbassadorPoints" errorLog="Log\SendAmbassadorPoints_Error.txt" infoLog="Log\SendAmbassadorPoints_Info.txt" bizLog="Log\SendAmbassadorPoints_Biz.txt" />
        </JobCollection>
    </ServiceJobSection>
    <oversea>
        <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config" />
        <logSettings localRegionName="ECommerceMgmt" />
        <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config" />
    </oversea>
    <appSettings>
        <add key="BizLogFile" value="Log\" />
        <!--发送邮件开关-->
        <add key="SendMailFlag" value="True" />

        <!--发送邮件地址-->
        <add key="MailAddress" value="cnshovscontent@newegg.com" />
        <!--发送邮件CC地址-->
        <add key="CCMailAddress" value="cnshovscontent@newegg.com" />
        <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config" />
        <add key="ConsumerName" value="CN.ECommerceMgmt.UI.IPP01" />
        <add key="RepeatTime" value="600" />
        <!--系统添加商品推荐管理item 的优先级-->
        <!--companycode-->
        <add key="CompanyCode" value="8601" />
        <!--languagecode-->
        <add key="LanguageCode" value="zh-CN" />
        <add key="PerTopCount" value="1000" />  <!--每次处理500单，2小时一次-->
        <add key="PerSleepSecond" value="3" />
        <add key="TestSOSysNo" value="0" />
        <add key="TestAgentSysNo" value="0" />
        <!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
        <add key="SendMailUserDisplayName" value="AuthCenterAdmin" />
        <add key="SendMailUserLoginName" value="AuthCenterAdmin" />
        <add key="SendMailCompanyCode" value="8601" />
        <add key="SendMailStoreCompanyCode" value="8601" />
        <add key="SendMailStoreSourceDirectoryKey" value="bitkoo" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>

</configuration>