<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataAccess" type="Nesoft.Utility.DataAccess.Database.Config.DataAccessSection, Nesoft.Utility.DataAccess" />
  </configSections>
  <appSettings>
    <add key="SellerSysNoes" value="67"/>
  </appSettings>
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Nesoft.SellerPortal.Web-20141103164734;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Nesoft.SellerPortal.Web-20141103164734.mdf" />
  </connectionStrings>
</configuration>