<?xml version="1.0"?>
<mailTemplate>
  <id>IM_Product_ChangePrice</id>
  <sender>service@tlyh.com</sender>
  <to></to>
  <senderDisplayName>Newegg Notice</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
		(notice)<%=Subject%>
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
		<table cellSpacing=""1"" cellPadding=""1"" width=""100%"" border=""1"">
			<tr>
			  <td align=""center"" colSpan=""6"">商品价格：</td>
			</tr>
			<tr>
			  <td>商品名称：</td>
			  <td colSpan="5"><a target='_blank' href='http://ipp/eccentral/#/ECCentral.Portal.UI.IM/ProductMaintain/<%=ProductSysNo%>'><%=ProductName%></a></td>
			</tr>
			<tr>
			  <td>最后更新时间：</td>
			  <td colSpan="5"><%=UpdateTime%></td>
			</tr>
			<tr>
			  <td>系统编号：</td>
			  <td colSpan=""2""><%=SysNo%></td>
			  <td>Item#：</td>
			  <td colSpan=""2""><%=ProductID%></td>
			</tr>
			<tr>
			  <td>市场价格：</td>
			  <td><%=BasicPrice%></td>
			  <td><%=BasicPriceNew%></td>
			  <td>成本价格：</td>
			  <td colSpan=""2""><%=UnitCost%></td>
			</tr>
			<tr>
			  <td>泰隆优选价格：</td>
			  <td>_CurrentPrice</td>
			  <td><%=CurrentPriceNew</td>
			  <td>折扣:</td>
			  <td colSpan=""2""><%=Discount%></td>
			</tr>
			<tr>
			  <td>返现：</td>
			  <td><%=CashRebate%></td>
			  <td><%=CashRebateNew%></td>
			  <td>赠送积分：</td>
			  <td><%=Point%></td>
			  <td><%=PointNew%></td>
			</tr>
			<tr>
			  <td>支付类型：</td>
			  <td colSpan=""2""><%=ProductPayType%></td>
			  <TD>每单最大订购量：</TD>
			  <td colSpan=""2""><%=MaxPerOrder%></td>
			</tr>
			<tr>
			  <td>商品现毛利下限：</td>
			  <td colSpan="2"><%=MinMargin%></td>
			  <TD>调整后的毛利：</TD>
			  <td colSpan="2"><%=MinMarginCurrent%></td>
			</tr>
			<tr>
			  <td>申请人：</td>
			  <td colSpan="5"><%=Apply%></td>
			</tr>
			<tr>
				<td>PM申请理由：</td>
				<td colSpan="5"><%=PMMemo%></td>
			</tr>
			<tr>
				<td>TL申请理由：</td>
				<td colSpan="5"><%=TLMemo%></td>
			</tr>
			<%=Reasons%>
		</table>
	]]>

    </template>
  </body>
</mailTemplate>