<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
	</configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="Microsoft.EnterpriseLibrary.config">
		<sources>
			<add name="Microsoft.EnterpriseLibrary.config" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="Configuration\Microsoft.EnterpriseLibrary.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<appSettings>
		<add key="CompanyCode" value="8601"/>
		<add key="LogFileName" value="SyncDataToFinancePay.log"/>
		<add key="ConsumerName" value="CN.InvoiceManagement.UI.IPP01"/>
		<add key="EmailAddress" value="Shadow.P.Guo@newegg.com;Yolanda.Y.Lu@newegg.com;ne-cn.fin.ar@newegg.com;Freegod.L.Xu@newegg.com;Alan.X.Luo@newegg.com"/>
		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <!--Job1: 同步业务数据到应付款-->
		<add key="SyncDataProcessList" value="SyncPOData,SyncVendorSettleData,SyncPOAdjustData,SyncRMAData,SyncEIMSInvoiceData_CashAndSubBill,SyncEIMSInvoiceData_SubAccount,SyncCollectionSettleInvoiceData,SyncCommissionInvoiceData,SyncCollectionPaymentData"/>
    <!--Job2: 同步付款状态-->
    <!--<add key="SyncDataProcessList" value="SyncPayAuditStatusData" />-->
		<!--每次同步更新数据数量-->
		<add key="SyncDataCount" value="10000"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
	</appSettings>
	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="InvoiceMgmt"/>
		<dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
	</oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
