@*@using System.Text.RegularExpressions
@using ECommerce.Enums;
@using ECommerce.Entity;
@model ECommerce.Entity.Member.CustomerInfo
<div class="photo">
    @if (Model.ExtendInfo != null && !string.IsNullOrEmpty(Model.ExtendInfo.AvtarImage) && Model.ExtendInfo.AvtarImageStatus == AvtarImageStatus.A
        && !string.IsNullOrWhiteSpace(Model.ExtendInfo.AvtarImage))
    {
        var fileUrl = ConstValue.FileBaseUrl;
        if (ConstValue.HaveSSLWebsite)
        {
            fileUrl = ConstValue.FileBaseUrlSSL;
        }
        <img src="@(fileUrl + Regex.Replace(Model.ExtendInfo.AvtarImage,"(/Original/)","/P90/") )" alt="" />
    }
</div>
<p class="tc name">@Model.CustomerName</p>
<p class="tc level">会员：@ECommerce.Utility.EnumHelper.GetDescription(@Model.CustomerRank)  </p>*@

<style type="text/css">
    .acont_menu .p10_0 { padding:0px !important;}
</style>
