<div id="overlay_transparent"></div>

<div class="mini_loginpanel centerPopA" id="mini_loginpanel">
	<h1>用户登录</h1>
	<div class="inner">
		<ul class="formsub">
			<li>
				<label class="label">账户名：</label>
				<input id="UserID" type="text" maxlength="50" value="请输入账户名，邮箱，手机" class="hasDefaultText inputhover intxt" />
			</li>
			<li>
				<label class="label"><span class="size2t3">密码</span>：</label>
				<input id="UserPassword" maxlength="20" type="password" value="" class="inputhover intxt" />
			</li>
            <li style="display:none;">
                <label class="label">验证码：</label>
                <input id="ValidCode" type="text" maxlength="4" value="" class="inputhover intxt" style="width:120px;" />
                <a id="ValidCodeAction" href="javascript:void(0);" ValidCodeUrl="/Home/ImageValidator" onclick="MiniLogin.RefreshValidCode(this)">@*<img height="24" src="@BuildUrl("ImageValidator")" class="validCode" />*@</a>
            </li>
			<li>
				<a id="BtnLogin" href="javascript:void(0);" onclick="MiniLogin.Login()" class="inblock btn_login mr10">登录</a>
                <span id="LoginPanel" style="display:none;" class="loading mr10">登录中...</span>
				<a href="javascript:void(0)" onclick="MiniLogin.Close();MiniRegister.Open();">注册</a> <b>|</b> <a href="@BuildUrl("FindPassword")">忘记密码？</a>
                <input type="hidden" id="MiniLoginUrl" value="@(BuildUrlCA("Home", "AjaxLogin"))" />
                <input type="hidden" id="MiniLoginReturnUrl" value="" />
                <input type="hidden" id="MiniLoginDefaultReturnUrl" value="/" />
			</li>
			<li>
            	<p id="wrongmsg" class="Validform_checktip Validform_wrong" style="display:none;"></p>
            </li>
		</ul>
		@*<dl class="otherlogin cls">
			<dt>您还可以使用以下合作伙伴的账户登录：</dt>
			<dd class="KJT"><a title="泰隆优选" href="@(string.Format("{0}?ReturnUrl={1}", BuildUrl("PassportLoginRoute", "Kuajingtong"), Request.Url.ToString()))">泰隆优选</a></dd>
		</dl>*@
	</div>
	<a class="closebox close ie6png2" href="javascript:void(0)">x</a>
</div>