<div class="mini_regpanel centerPopA" id="mini_regpanel">
    <h1>用户注册</h1>
    <div class="inner">
        <ul class="formsub">
            <li>
                <label class="label">您的账户名：</label>
                <input id="UserIDReg" maxlength="50" type="text" value="" class="inputhover intxt" />
            </li>
            <li>
                <label class="label">请设置密码：</label>
                <input id="UserPasswordReg" maxlength="20" type="password" value="" class="inputhover intxt" />
                <span class="tip">6-20个英文字母与数字的混合,可包含符号</span>
            </li>
            <li>
                <label class="label">请确认密码：</label>
                <input id="UserRePasswordReg" maxlength="20" type="password" value="" class="inputhover intxt" />
            </li>
            <li>
                <label class="label">您的Email：</label>
                <input id="UserEmailReg" maxlength="100" type="text" class="inputhover intxt" />
                <span class="tip">您常用的Email地址</span>
            </li>
            <li>
                <label class="label">验证码：</label>
                <input id="ValidCodeReg" type="text" maxlength="4" value="" class="inputhover intxt" style="width: 120px;" />
                <a id="ValidCodeRegAction" href="javascript:void(0);" validcodeurl="/Home/ImageValidator" onclick="MiniRegister.RefreshValidCode(this)">
                    <img height="24" src="/Home/ImageValidator" class="validCode" /></a>
            </li>
            <li>
                <input type="checkbox" id="mini_ck_agree" checked="checked" class="ckbox" /><label for="mini_ck_agree">我已阅读并同意<a class="blue" href="@(BuildUrl("Home_RegisterNote"))" target="_blank">《泰隆优选商城用户协议》</a></label>
            </li>
            <li class="mt5">
                <a id="BtnReg" href="javascript:void(0);" onclick="MiniRegister.Register();" class="inblock btn_reg mr10">注册</a>
                <span id="RegPanel" class="loading mr10" style="display: none;">注册中...</span>
                <p class="mt15">已经是泰隆优选用户？ <a class="blue" href="javascript:void(0);" onclick="MiniRegister.Close();MiniLogin.Open();">立即登录</a></p>
                <input type="hidden" id="MiniRegisterUrl" value="@(BuildUrlCA("Home", "AjaxRegister"))" />
            </li>
            <li>
                <p id="wrongmsgReg" class="Validform_checktip Validform_wrong" style="display: none;"></p>
            </li>
        </ul>

    </div>
    <a class="closebox close ie6png2" href="javascript:void(0)">x</a>
</div>
