<?xml version="1.0"?>
<!--移动应用图片规格配置-->
<ImageSizeConfig>
  <Settings>
    <ImageSizeSetting>
      <ImageResolution>Android</ImageResolution>
      <ImageSizes>
        <ImageDeviceInfo ImageType="Tiny" ImageSize="P60" />
        <ImageDeviceInfo ImageType="Small" ImageSize="P120" />
        <ImageDeviceInfo ImageType="Middle" ImageSize="P200" />
        <ImageDeviceInfo ImageType="Big" ImageSize="P240" />
        <ImageDeviceInfo ImageType="Huge" ImageSize="P450" />
      </ImageSizes>
    </ImageSizeSetting>

    <ImageSizeSetting>
      <ImageResolution>iPhone</ImageResolution>
      <ImageSizes>
        <ImageDeviceInfo ImageType="Tiny" ImageSize="P60" />
        <ImageDeviceInfo ImageType="Small" ImageSize="P120" />
        <ImageDeviceInfo ImageType="Middle" ImageSize="P200" />
        <ImageDeviceInfo ImageType="Big" ImageSize="P240" />
        <ImageDeviceInfo ImageType="Huge" ImageSize="P450" />
      </ImageSizes>
    </ImageSizeSetting>
  </Settings>
</ImageSizeConfig>