<?xml version="1.0" encoding="utf-8" ?>
<!--移动应用相关配置-->
<MobileAppConfig>
  <!--手机服务网站地址-->
  <MobileAppServiceHost>http://180.169.117.42:8080</MobileAppServiceHost>
  <!--Crash Log email to-->
  <CrashLogEmailTo>james.h.fu@newegg.com;cavin.c.tang@newegg.com</CrashLogEmailTo>
  <!--ArticleID of 关于我们-->
  <ArticleIDAboutUs>213</ArticleIDAboutUs>
  <!--Count of 首页新品上市商品列表-->
  <CountRecommendProductItemList>10</CountRecommendProductItemList>
  <!--Count of 首页今日特卖商品列表-->
  <CountTodaySaleItemList>5</CountTodaySaleItemList>
  <!--Count of 首页热卖推荐商品列表-->
  <CountHomeHotSaleItemList>5</CountHomeHotSaleItemList>
  <!--Count of 首页品牌推荐商品列表-->
  <CountHomeBrandItemList>5</CountHomeBrandItemList>
  <!--Count of 首页超低折扣商品列表-->
  <CountHomeDiscountItemList>5</CountHomeDiscountItemList>
  
  <!--PositionID of 首页今日特卖商品列表-->
  <PositionIDTodaySaleItemList>1003</PositionIDTodaySaleItemList>
  <!--PositionID of 首页热卖推荐商品列表-->
  <PositionIDHomeHotSaleItemList>1001</PositionIDHomeHotSaleItemList>
  <!--PositionID of 首页品牌推荐商品列表-->
  <PositionIDHomeBrandItemList>1002</PositionIDHomeBrandItemList>
  <!--PositionID of 首页超低折扣商品列表-->
  <PositionIDHomeDiscountItemList>1003</PositionIDHomeDiscountItemList>
  <!--PageCode of App首页楼层编号-->
  <PageCodeFloorAppHome>1001</PageCodeFloorAppHome>
  <!--PageID of App首页-->
  <PageIDAppHome>-1</PageIDAppHome>
  <!--商品介绍Html模板-->
  <ProductDescTemplate>
    <![CDATA[
  <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
    body{
	    background-color:#fff;
      font-size: 12px;
      line-height: 1.5;
      font-family: microsoft yahei;
    }
</style>
</head>
<body>

${content}
</body>
</html>
  ]]>
  </ProductDescTemplate>
  <!--商品规格参数Html模板-->
  <ProductSpecTemplate>
    <![CDATA[
  <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
    body{
	    background-color:#fff;
      font-size: 12px;
      line-height: 1.5;
      font-family: microsoft yahei;
    }
    .tabSpec table { border: 1px solid #E7E7E7;}
    .tabSpec th.title {  background: none repeat scroll 0 0 #EEEEEE;  border-color: #E7E7E7;  border-style: solid dotted solid solid;  border-width: 1px;  color: #484848;  font-size: 14px;  text-align: left;  width: 10%;}
    .tabSpec th { border: 1px solid #DEDEDE; color: #484848; font-size: 12px; padding: 6px;  text-align: right; width: 25%;}
    .tabSpec td { border-color: #E7E7E7 #E7E7E7 #E7E7E7; border-style: solid solid solid none; border-width: 1px 1px 1px 0; line-height: 22px;  padding: 6px 12px;font-size: 12px;}
    .tabSpec .packgeWeight { margin: 10px 0; padding-left: 10px;}
    .tabPackage li {height:22px; border-bottom:1px dotted #ccc;}
    .tabPackage li label {min-width:160px; _width:160px; float:left;}
    .tabPackage li p { float:left; margin-right:20px;}
    .tabService h3,
    .tabService h4{
	    color:#484848;
	    margin-top:10px;
	    margin-bottom:5px;
    }
</style>
</head>
<body>
<div class="tabSpec">
${content}
</div>
</body>
</html>
  ]]>
  </ProductSpecTemplate>
  <!--新闻类内容Html模板-->
  <NewsContentTemplate>
    <![CDATA[
  <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
    body{
      font-size: 13px;
      color:#7c7c7c;
    }
</style>
</head>
<body>
${content}
</body>
</html>
  ]]>
  </NewsContentTemplate>
</MobileAppConfig>