<?xml version="1.0" encoding="utf-8" ?>
<MobilePaySections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PaySectionList>
    <PaySectionItem name="Alixpay">
      <PayTypeIDs>
        <PayId>112</PayId>
      </PayTypeIDs>
      <SellerID>overseasiande@sina.com</SellerID>
      <PartnerID>2088021873407824</PartnerID>
      <AsrPublicKey>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB</AsrPublicKey>
      <AsrPrivateKey>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAMki/YrufoakXeOJSHY+adnnkKqbEM5xYSqv5hSAxqOMl82y+XU8K0tFpqElgQyYMUph7dCojGifTfHbcaOh5fqpgb/ixE2EQjRCI+c6wAHE0Kso5w/pBPHGHLsDRcIFbldWpTu1vM9oSMO5Il8nXtmnvYl29syYc6TzD/Ltyb31AgMBAAECgYEAgZQePZwqPTm1FvqBiVPqQ6zQYWjm6ejXTXXmxzyzO/g+cBGmbmWmCqdDkzujKOb/kkkGuc9sLZa7012pl16c1rrOVpKdjWE4tQZ3B/Ff8xnxJCgD8fq9bAjeZsQo0sxth/19N2vxxdr6KwLrxlh+BH5xRET/BJtllyw7jMK322ECQQD8JOcoOrQiLAM3Evbxt8l4Ixuhr1jRlv2Wsymjwr65x95MXgl/21JIPzHb32dlYql+LM+i4NztiVPsoHwcJiYpAkEAzDZnG673rnW8cC8dBKHeMvSx8VZlTI9gVcpmyXJeiPd+nkhnPUn91UIWEAf7aY4lEE0GQuEVo8ibYw30Il5a7QJAD++NJH/BTr+VXG+4Z8KD2zHs1yUr6eMvF80u/oiaYUd+hzkSRKBp7OMBlbHi6Qd5St4uKU8o52JciYIDFgxbMQJAGcDupe4d7FGKzzcR2Mi1JgX3/vCfW9VlF8yrw9H5nBpiTIHjCzaunVt1PtZS3ZAAmpqsJHkQapRdDFPxKvhtTQJAcBEM7HPH+m4YFPEhU2TWotqRtEmmazJPiCcMdtIJB08gd/LkRxO6yog2QiQfa4gvk8K+g6c7UAJ9BhZQItZwTA==</AsrPrivateKey>
      <CallBackUrl>https://secure.newegg.com.cn/Order/Callback/70.aspx</CallBackUrl>
      <SupportDevices>
        <Device>IPhone</Device>
        <Device>IPad</Device>
        <Device>Android</Device>
        <Device>Android2X</Device>
        <Device>Android3X</Device>
      </SupportDevices>
      <CompanyCode>8601</CompanyCode>
    </PaySectionItem>
  </PaySectionList>
</MobilePaySections>