<?xml version="1.0"?>
<PassportPartner>
  <Base>
    <!--基地址-->
    <BaseUrl>http://10.16.99.223:8080/</BaseUrl>
  </Base>
  <Parnters>
    <Parnter Identify="Kuajingtong" Name="跨境通">
      <RequestType>GET</RequestType>
      <PartnerProcessor>Nesoft.ECWeb.Facade.Passport.Partner.PartnerKuajingtong</PartnerProcessor>
      <!--登录地址-->
      <LoginUrl>http://www.kuajingtong.com/api.php</LoginUrl>
      <!--登录回调地址-->
      <LoginBackUrl>Passport/Back/Kuajingtong</LoginBackUrl>
      <!--获取用户信息地址-->
      <GetUserInfoUrl>http://www.kuajingtong.com/api.php</GetUserInfoUrl>
      <!--本站在第三方平台的唯一ID-->
      <AppID>dchnu</AppID>
      <!--本站在第三方平台唯一ID的的密钥-->
      <AppSecret>f794226a82a4d081</AppSecret>
      <!--编码-->
      <Encoding>utf-8</Encoding>
      <!--是否debug，0-否；1-是-->
      <Debug>1</Debug>
      <!--CustomProperty1至CustomProperty5为各第三方平台的自定义配置-->
      <CustomProperty1></CustomProperty1>
      <CustomProperty2></CustomProperty2>
      <CustomProperty3></CustomProperty3>
      <CustomProperty4></CustomProperty4>
      <CustomProperty5></CustomProperty5>
    </Parnter>
  </Parnters>
</PassportPartner>
