<?xml version="1.0"?>
<payment>
  <paymentBase>
    <!--基地址-->
    <baseUrl>http://10.16.232.197:9528/</baseUrl>
  </paymentBase>
  <paymentModes>
    <paymentMode id="111" name="东方支付">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeEasiPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>https://uatb2c.easipay.net/ord/ordinary/payment.do</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/Easi</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/Easi</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <bankCert></bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[]]></bankCertKey>
      <!--每个接口自定义配 置-->
      <customConfigs>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="112" name="支付宝">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeAliPay</chargeProcessor>
      <!--支付地址-->
      <!--<paymentUrl>https://mapi.alipay.com/gateway.do</paymentUrl>-->
      <paymentUrl>https://openapi.alipay.com/gateway.do</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/Alipay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/Alipay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <bankCert></bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[]]></bankCertKey>
      <!--每个接口自定义配置-->
      <customConfigs>
      </customConfigs>
      <merchants>
        <merchant>
          <merchantSysNo>1</merchantSysNo>
          <merchantName>浙江海外进出口有限公司</merchantName>
          <!--商户号（东方支付定义的名称为：电商代码）-->
          <merchantNO>overseasiande@sina.com</merchantNO>
          <!--商户密钥证书-->
          <merchantCert>2088021873407824</merchantCert>
          <!--商户密钥证书密码（东方支付定义为：私钥）-->
          <merchantCertKey><![CDATA[1o5mwqcauby80erjhrj4ojog8s1rehwg]]></merchantCertKey>
          <!--币种-->
          <curCode>USD</curCode>
          <encoding>utf-8</encoding>
          <!--每个接口自定义配置-->
          <customConfigs>
          </customConfigs>
        </merchant>
      </merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="114" name="财付通">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeTenPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>https://gw.tenpay.com/gateway/pay.htm</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/Tenpay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/Tenpay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <bankCert></bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[]]></bankCertKey>
      <!--每个接口自定义配置-->
      <customConfigs>
      </customConfigs>
      <merchants>
        <merchant>
          <!--商户系统编号-->
          <merchantSysNo>1</merchantSysNo>
          <!--商户备案名称-->
          <merchantName>泰隆优选</merchantName>
          <!--商户号-->
          <merchantNO>1900000109</merchantNO>
          <!--商户密钥证书-->
          <merchantCert></merchantCert>
          <!--商户密钥证书密码（东方支付定义为：私钥）-->
          <merchantCertKey><![CDATA[8934e7d15453e97507ef794cf7b0519d]]></merchantCertKey>
          <!--币种-->
          <curCode>1</curCode>
          <encoding>UTF-8</encoding>
          <!--每个接口自定义配置-->
          <customConfigs>
          </customConfigs>
        </merchant>
      </merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>

    <!-- 环迅 -->
    <paymentMode id="200" name="环迅支付">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">0</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco"></customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="201" name="泰隆银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeZJTLCB</chargeProcessor>
      <!--支付地址-->
      <!--<paymentUrl>https://ebank.zjtlcb.com/perbank/B2CPay</paymentUrl>-->
      <paymentUrl>http://10.4.32.18:8087/payment/B2CPay</paymentUrl>
      <!--<paymentUrl>http://10.4.32.18:8088/perbank/B2CPay</paymentUrl>-->
      <!--<paymentUrl>http://10.4.32.18:8081/tlcb_perbank/B2CPay</paymentUrl>-->
      <!--<paymentUrl>https://ebank.zjtlcb.com/tlcb_perbank/B2CPay</paymentUrl>-->
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/ZJTLCB</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/ZJTLCB</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：泰隆银行平台分配给商户的唯一标识 -->
      <bankCert>211121000001</bankCert>
      <!--pfx格式证书文件名, 如果该文件不位于 bin 目录，请设置为绝对路径 -->
      <bankCertKey><![CDATA[211121000001.pfx]]></bankCertKey>
      <customConfigs>
        <!--pfx格式证书的保护口令 -->
        <customConfig name="PfxPwd">111111</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="20111" name="泰隆银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00050</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="202" name="工商银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00026</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="203" name="建设银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00003</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="204" name="农业银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00017</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="205" name="招商银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00021</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="206" name="中国银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00083</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="207" name="浦发银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00032</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="208" name="交通银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00005</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="209" name="广发银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00052</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="210" name="民生银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00013</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="211" name="兴业银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00016</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="212" name="光大银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00057</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="213" name="中信银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00054</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="214" name="平安银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00006</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <paymentMode id="215" name="邮储银行">
      <requestType>POST</requestType>
      <chargeProcessor>Nesoft.ECWeb.Facade.Payment.Charge.ChargeIPSPay</chargeProcessor>
      <!--支付地址-->
      <paymentUrl>http://pay.ips.net.cn/ipayment.aspx</paymentUrl>
      <!--支付前台回调地址-->
      <paymentCallbackUrl>Pay/Show/IPSPay</paymentCallbackUrl>
      <!--支付后台回调地址-->
      <paymentBgCallbackUrl>Pay/IPSPay</paymentBgCallbackUrl>
      <!--退款地址-->
      <refundUrl></refundUrl>
      <!--退款回调地址-->
      <refundCallbackUrl></refundCallbackUrl>
      <!--银行公钥证书-->
      <!--说明：IPS支付平台分配给商户的唯一标识 -->
      <bankCert>000166</bankCert>
      <!--银行公钥证书密码-->
      <bankCertKey><![CDATA[cQ0YAtyVNoiEeKrZJ5F5Qp2pMohwspfv6XoiU3wHYtcc1YOEhJ3SjDVMylmwmbD7jMhg5ifqjX67mzNN02p8MmlSb1KIqa5XF4TEQHjZEmJmhyAYxyVJMeLWBofdxwaj]]></bankCertKey>
      <customConfigs>
        <!--此选项决定商户是否采用直连 方式进行交易: 1:直连 -->
        <customConfig name="DoCredit">1</customConfig>
        <!--直连银行银行代码 -->
        <customConfig name="Bankco">00051</customConfig>
        <customConfig name="encoding">UTF-8</customConfig>
      </customConfigs>
      <merchants></merchants>
      <!--是否debug，0-否；1-是-->
      <debug>1</debug>
    </paymentMode>
    <!-- 环迅 -->
  </paymentModes>
</payment>
