<?xml version="1.0" encoding="utf-8" ?>
<pipelineList cacheSlidingExpirationMinutes="15">
  <pipeline id="BuildShoppingCart" breakOnceValidationError="true" transactionWithPersisters="true">
    <initializers>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ProductInfoInitializer, Nesoft.ECWeb.SOPipeline" description="购物车商品信息初始化" />
    </initializers>
    <preValidators>
    </preValidators>
    <calculators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ComboCalculator, Nesoft.ECWeb.SOPipeline" description="套餐的计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SaleGiftCalculator, Nesoft.ECWeb.SOPipeline" description="赠品的计算（包含处理用户的选择）" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.AttachmentCalculator, Nesoft.ECWeb.SOPipeline" description="附件的处理" />
    </calculators>
    <postValidators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ShoppingCartValidator, Nesoft.ECWeb.SOPipeline" description="购物车检查，商品状态检查；商品库存检查" />
    </postValidators>
  </pipeline>

  <pipeline id="BuildCheckOut" breakOnceValidationError="true" transactionWithPersisters="true">
    <initializers>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ProductInfoInitializer, Nesoft.ECWeb.SOPipeline" description="购物车商品信息初始化" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.BindingGiftCardInfoInitializer, Nesoft.ECWeb.SOPipeline" description="用户绑定礼品卡信息初始化" />
    </initializers>
    <calculators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SpecialActivityCalculator, Nesoft.ECWeb.SOPipeline" description="针对团购和抢购的处理" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ComboCalculator, Nesoft.ECWeb.SOPipeline" description="套餐的计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SaleGiftCalculator, Nesoft.ECWeb.SOPipeline" description="赠品的计算（包含处理用户的选择）" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.AttachmentCalculator, Nesoft.ECWeb.SOPipeline" description="附件的处理" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.CouponCalculator, Nesoft.ECWeb.SOPipeline" description="优惠券促销的计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.AllocateStockCalculator, Nesoft.ECWeb.SOPipeline" description="分仓计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SaleGiftFilterCalculator, Nesoft.ECWeb.SOPipeline" description="赠品筛选计算，团购订单只保留了厂商赠品,移除数量不足的赠品" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SplitOrderCalculator, Nesoft.ECWeb.SOPipeline" description="拆单计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.OrderAmountCalculator, Nesoft.ECWeb.SOPipeline" description="金额计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.FreeShippingChargeCalculator, Nesoft.ECWeb.SOPipeline" description="免运费计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.NeweggSpecialCalculator, Nesoft.ECWeb.SOPipeline" description="其特殊计算" />
    </calculators>
    <postValidators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.CustomerValidator, Nesoft.ECWeb.SOPipeline" description="下单用户检查" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ProductValidator, Nesoft.ECWeb.SOPipeline" description="商品状态、限购数量检查等" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.InventoryValidator, Nesoft.ECWeb.SOPipeline" description="库存检查" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ShippingValidator, Nesoft.ECWeb.SOPipeline" description="配送方式检查" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.PaymentValidator, Nesoft.ECWeb.SOPipeline" description="支付方式检查" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.CouponCodeValidator, Nesoft.ECWeb.SOPipeline" description="优惠券检查" />
    </postValidators>
  </pipeline>
  <pipeline id="BuildVirualGroupBuyCheckOut" breakOnceValidationError="true" transactionWithPersisters="true">
    <initializers>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ProductInfoInitializer, Nesoft.ECWeb.SOPipeline" description="购物车商品信息初始化" />
    </initializers>
    <preValidators>
    </preValidators>
    <calculators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SpecialActivityCalculator, Nesoft.ECWeb.SOPipeline" description="针对团购和抢购的处理" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.AllocateStockCalculator, Nesoft.ECWeb.SOPipeline" description="分仓计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SplitOrderCalculator, Nesoft.ECWeb.SOPipeline" description="拆单计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SpecialActivityCalculator, Nesoft.ECWeb.SOPipeline" description="针对团购和抢购的处理" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.OrderAmountCalculator, Nesoft.ECWeb.SOPipeline" description="金额计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.NeweggSpecialCalculator, Nesoft.ECWeb.SOPipeline" description="其特殊计算" />
    </calculators>
    <postValidators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.CustomerValidator, Nesoft.ECWeb.SOPipeline" description="下单用户检查" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ProductValidator, Nesoft.ECWeb.SOPipeline" description="商品状态、限购数量检查等" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.PaymentValidator, Nesoft.ECWeb.SOPipeline" description="支付方式检查" />
    </postValidators>
  </pipeline>

  <pipeline id="CreateSO" breakOnceValidationError="false" transactionWithPersisters="true">
    <initializers></initializers>
    <preValidators>
    </preValidators>
    <calculators></calculators>
    <postValidators>
    </postValidators>
    <persisters>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.CreateSOBasicPersister, Nesoft.ECWeb.SOPipeline" description="订单主要信息" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.PromotionProcessPersister, Nesoft.ECWeb.SOPipeline" description="订单促销相关" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.NeweggSpecialPersister, Nesoft.ECWeb.SOPipeline" description="订单原新蛋业务" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.GiftCardProcessPersister, Nesoft.ECWeb.SOPipeline" description="礼品卡相关" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.MarginProcessPersiter, Nesoft.ECWeb.SOPipeline" description="赠品毛利分配" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.CPSPersister, Nesoft.ECWeb.SOPipeline" description="CPS订单部分处理" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.LogPersister, Nesoft.ECWeb.SOPipeline" description="记录订单支付日志" />
    </persisters>
  </pipeline>
  <pipeline id="CreateVirualGroupBuy" breakOnceValidationError="false" transactionWithPersisters="true">
    <initializers></initializers>
    <preValidators>
    </preValidators>
    <calculators></calculators>
    <postValidators>
    </postValidators>
    <persisters>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.VirualGroupBuyPersister, Nesoft.ECWeb.SOPipeline" description="创建虚拟团购券记录" />
    </persisters>
  </pipeline>

  <pipeline id="BuildCheckOutCard" breakOnceValidationError="true" transactionWithPersisters="true">
    <initializers>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ProductInfoInitializer, Nesoft.ECWeb.SOPipeline" description="购物车商品信息初始化" />
    </initializers>
    <preValidators>
    </preValidators>
    <calculators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.AllocateStockCalculator, Nesoft.ECWeb.SOPipeline" description="分仓计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SplitOrderCalculator, Nesoft.ECWeb.SOPipeline" description="拆单计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.GiftCardOrderAmountCalculator, Nesoft.ECWeb.SOPipeline" description="金额计算" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.SetGiftCardSOType, Nesoft.ECWeb.SOPipeline" description="设置礼品卡订单类型" />
    </calculators>
    <postValidators>
      <item type="Nesoft.ECWeb.SOPipeline.Impl.CustomerValidator, Nesoft.ECWeb.SOPipeline" description="下单用户检查" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.ProductValidator, Nesoft.ECWeb.SOPipeline" description="商品状态、限购数量检查等" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.InventoryValidator, Nesoft.ECWeb.SOPipeline" description="库存检查" />
      <item type="Nesoft.ECWeb.SOPipeline.Impl.PaymentValidator, Nesoft.ECWeb.SOPipeline" description="支付方式检查" />
    </postValidators>
  </pipeline>
</pipelineList>
