<?xml version="1.0"?>
<versionRoot>
  <versionCollection clientType="2" downloadPath="http://10.16.232.193:9528/Resources/apk/v1.0.0/tlyhPra.apk" description="Android">
    <version>
      <code>1.0.0</code>
      <forcedUpdate>false</forcedUpdate>
      <description>修复bug</description>
    </version>
    <version>
      <code>1.0.1</code>
      <forcedUpdate>false</forcedUpdate>
      <description>修复bug</description>
    </version>
  </versionCollection>
  <versionCollection clientType="1" downloadPath="" description="IPhone">
    <version>
      <code>1.0.0</code>
      <forcedUpdate>false</forcedUpdate>
      <description>修复bug234</description>
    </version>
  </versionCollection>
</versionRoot>