<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="QueryKeystoneDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtTrH+FKYtzrvp/PYilvy4zSdHClteZ1h5c13RkuHWmaPJTkFTfUdfe5NM3riu78SO616eZ8Xz7GINRu1Tc6stnMWfY9lABH4gaARzwMGnYrq6V1aYBTdl7CW6iwlvQp/QgWvTdj2dLKmMZHSO0qR4+UHSEoTBjh2UpOqwIT9FB6E13U5Jq4aG5zVUM11tinQIjO73Y3QTtt9RvGD+GjwGJARaaKsjlsV5siVlRA/A+JVBe+WWuKVcjKgRNXd2RjuXF90Ah6Y9T195M+jsGDFaXfdpDQJW83hQaH7CH+voSJWREvDuOOIWrdrTeyieCKtGiUJD9J+rEk56nf7ooWCXDR6nNb2/exQCZp9HeE7IoO4KCKBn1BtFKWz4RN8nQK7m2VdHl0rTIEoF9JEZcfIuXpMy6Lzt0lISFljYTauDUIQ+HVUWBgDnTjP+rnjsXjtFM=</connectionString>
  </database>
  <database name="OverseaLocalControlPanel">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtTrH+FKYtzrvp/PYilvy4zSdHClteZ1h5c13RkuHWmaPJTkFTfUdfe5NM3riu78SO616eZ8Xz7GINRu1Tc6stnMjUDO62bwf/LSN03BGj92vURcfKSeNe1sUEB86N5lvx8UnT04/gKPu8JL6AnRwjm7gnHZTScTc4QC40cFmJXUkZjkmgazkkelTjp2eEd6YTRYOch9BcFPLZocN36DgpZbBitCB6glr8II7q0Z9CHqGrsG7TbAfsbs+bnuOcAc/AEEG4zxDWcUSaAFpABm6NFnAjbq3J0/8TbUo/9p8DGDLrW1E65OEO67q0R25FtnBnFc2vvoZAcTQNTj8NyEFDzEWuNTTYk9ZbOQz34Zf+kzaqAVM0u7ezXM65TcaJvtXDZQyF1w3FbLBoyL92CpRnjfICq4Iz1JELdU6P4H8e/jvKXSQ4s/m98Vp5h8qnkooc1avFKDAekNbVwGIUKZm6Z6</connectionString>
  </database>
  <database name="DBALog">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtTrH+FKYtzrvp/PYilvy4zSdHClteZ1h5c13RkuHWmaPJTkFTfUdfe5NM3riu78SO616eZ8Xz7GINRu1Tc6stnMjUDO62bwf/LSN03BGj92vURcfKSeNe1sUEB86N5lvx8UnT04/gKPu8JL6AnRwjm7gnHZTScTc4QC40cFmJXUkZjkmgazkkelTjp2eEd6YTRYOch9BcFPLZocN36DgpZbBitCB6glr8II7q0Z9CHqGrsG7TbAfsbs+bnuOcAc/AEEG4zxDWcUSaAFpABm6NFnAjbq3J0/8TbUo/9p8DGDLrW1E65OEO67q0R25FtnBnFc2vvoZAcTQNTj8NyEFDzEWuNTTYk9ZbOQz34Zf+kzaqAVM0u7ezXM65TcaJvtXDZQyF1w3FbLBoyL92CpRnjfICq4Iz1JELdU6P4H8e/jvKXSQ4s/m98Vp5h8qnkooc1avFKDAekNbVwGIUKZm6Z6</connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtTrH+FKYtzrvp/PYilvy4zSdHClteZ1h5c13RkuHWmaPJTkFTfUdfe5NM3riu78SO616eZ8Xz7GINRu1Tc6stnMjUDO62bwf/LSN03BGj92vURcfKSeNe1sUEB86N5lvx8UnT04/gKPu8JL6AnRwjm7gnHZTScTc4QC40cFmJXUkZjkmgazkkelTjp2eEd6YTRYOch9BcFPLZocN36DgpZbBitCB6glr8II7q0Z9CHqGrsG7TbAfsbs+bnuOcAc/AEEG4zxDWcUSaAFpABm6NFnAjbq3J0/8TbUo/9p8DGDLrW1E65OEO67q0R25FtnBnFc2vvoZAcTQNTj8NyEFDzEWuNTTYk9ZbOQz34Zf+kzaqAVM0u7ezXM65TcaJvtXDZQyF1w3FbLBoyL92CpRnjfICq4Iz1JELdU6P4H8e/jvKXSQ4s/m98Vp5h8qnkooc1avFKDAekNbVwGIUKZm6Z6</connectionString>
  </database>
</databaseList>