<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Microsoft.EnterpriseLibrary.config">
    <sources>
      <add name="Microsoft.EnterpriseLibrary.config" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="Configuration\Microsoft.EnterpriseLibrary.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <!--<log globalRegionName="EC-Central" localRegionName="Service">
    --><!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />--><!--
    <text param="Logs/"/>
    --><!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>--><!--
    --><!--<custom type="" param=""/>--><!--
  </log>-->
  <appSettings>
    <!-- Newegg Framework DataAccess settings end-->
    <add key="LogFileName" value="Invoice.log"/>
    <add key="CompanyCode" value="8601"/>    
    <add key="EmailAddress" value="nesc-xa.mis.ippsupport@newegg.com"/>
    <add key="MailSubject" value="Invoice金额异常"/>
    <add key="SOBeginDate" value="2012-05-01"/>
    <add key="PayByJiFen" value="47|48"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
