body
{
    background-color: #F1F1F1;
    padding: 0 0 0 0;
    margin: 5px;
    font-size: 12px;
    font-family: Tahoma, 宋体;
}


.general-label
{
    width: 50px;
    text-align: left;
}

ul
{
    margin: 0;
    padding: 0;
}


ul li
{
    list-style-type: none;
    height: 26px;
    line-height: 26px;
}


.general-line
{
    height: 26px;
    line-height: 26px;
}

.fileupload
{
    opacity: 0;
    filter: alpha(opacity: 0);
    height: 26px;
    width: 100px;
    left: -80px;
    position: relative;
    border: 1px solid #ccc;
}

.link_delete
{
    left: -50px;
    position: relative;
}

.file_text
{
    height: 18px;
    line-height: 18px;
    width: 300px;
    margin: 0 5px 0 0;
    border: 1px solid #C4C4C4;
}

.file_text:hover
{
    border: 1px solid #BBCCFF;
}

.general-text
{
    font-size: 13px;
    font-family: Tahoma, 宋体;
    height: 18px;
    line-height: 18px;
    width: 100%;
    border: 1px solid #C4C4C4;
}

.general-textarea
{
    margin: 0;
    padding: 0;
    height: 18px;
    line-height: 18px;
    width: 100%;
    border: 1px solid #C4C4C4;
}

.general-text:hover
{
    border: 1px solid #BBCCFF;
}

.MaskSpin
{
    background-color: #000;
    display: none;
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 0px;
    filter: Alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.LoadingSpin
{
    position:absolute;
    display:none;
    z-index:101;
    font-size:14px;
    color:White;
    font-weight:bold;
    }
