@using ECommerce.Entity;
@using ECommerce.Facade.Common;
@using ECommerce.Facade.Product
@using ECommerce.Enums;
@{
    FloorEntity floorEntity = Model as FloorEntity;

    //List<FloorItemBanner> bannerList = FloorHelper.GetFloorItem<FloorItemBanner>(floorEntity);
    //List<FloorItemBrand> brandList = FloorHelper.GetFloorItem<FloorItemBrand>(floorEntity);
    //List<FloorItemTextLink> textList = FloorHelper.GetFloorItem<FloorItemTextLink>(floorEntity);
    //List<FloorItemProduct> productList = FloorHelper.GetFloorItem<FloorItemProduct>(floorEntity);
}
@*
<div class="stfloor floor8 cls mt10" >
    <h2><span class="floorname">4F</span>美妆护肤</h2>
	<div class="inner cls">
		<div class="tab">
			<a href="###" class="now">休闲食品</a><b>|</b>
			<a href="###">酒饮冲调</a><b>|</b>
			<a href="###">进口食品</a><b>|</b>
			<a href="###">粮油干货</a>
		</div>	
		<div class="caty fl block">
			<div class="caty_banner"><a href="###"><img height="253" width="200" alt="" src="/Resources/themes/default/Nest/img/temp/temp_floor_8_caty.jpg" /></a></div>
			<ul class="cls">
				<li><a href="###"><s></s>品牌男装</a></li>
				<li><a href="###"><s></s>户外鞋服</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
				<li><a href="###"><s></s>品牌女装</a></li>
			</ul>					
		</div>	
		<div class="brandSlider fl block">
			<ul class="cls">
				<li><div class="liInner"><div class="blist"><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a></div></div></li>
				<li><div class="liInner"><div class="blist"><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a></div></div></li>
				<li><div class="liInner"><div class="blist"><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_1.png" width="105" height="65" /></a><a href="###"><img src="/Resources/themes/default/Nest/img/temp/temp_floor_8_brand_logo_2.png" width="105" height="65" /></a></div></div></li>
			</ul>
			<div class="dotnav"><div class="navInner"><a href="javascript:void(0);"><span class="ie6png">1</span></a><a href="javascript:void(0);"><span class="ie6png">2</span></a><a href="javascript:void(0);"><span class="ie6png">3</span></a></div></div>
		</div>
		<div class="tabc">					
			<ul class="proImgs cls block">
				<li class="probig">							
					<div class="img">
						<a href="###"><img width="399" height="422" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_big_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
						
			</ul>
		</div>
		<div class="tabc" style="display:none;">					
			<ul class="proImgs cls block">
				<li class="probig">							
					<div class="img">
						<a href="###"><img width="399" height="422" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_big_2.jpg" alt="" /></a>
					</div>							
				</li>						
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
			</ul>
		</div>
		<div class="tabc" style="display:none;">					
			<ul class="proImgs cls block">
				<li class="probig">							
					<div class="img">
						<a href="###"><img width="399" height="422" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_big_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
						
			</ul>
		</div>
		<div class="tabc" style="display:none;">					
			<ul class="proImgs cls block">
				<li class="probig">							
					<div class="img">
						<a href="###"><img width="399" height="422" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_big_2.jpg" alt="" /></a>
					</div>							
				</li>						
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="prosmall">							
					<div class="img">
						<a href="###"><img width="199" height="140" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_small_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
				<li class="promid">							
					<div class="img">
						<a href="###"><img width="199" height="281" src="/Resources/themes/default/Nest/img/temp/floor_8_pro_mid_1.jpg" alt="" /></a>
					</div>							
				</li>
			</ul>
		</div>
	</div>
</div>
*@