@using ECommerce.Entity;
@using ECommerce.Facade.Common;
@using ECommerce.Facade.Product
@using ECommerce.Enums;
@{
    FloorEntity floorEntity = Model as FloorEntity;
    List<FloorItemBanner> bannerList = FloorHelper.GetFloorItem<FloorItemBanner>(floorEntity);
}
<div class="block cls mb10">
    @for (int index = 0; index < bannerList.Count && index < 2; index++)
    {
        var banner = bannerList[index];	
        <div class="fl">
            <a href="@banner.LinkUrl" target="@(banner.IsSelfPage == 1 ? "_self" : "_blank")">
                <img  height="260" width="495"  src="@banner.ImageSrc" alt=""></a>
        </div>
    }
</div>
