@using ECommerce.Entity;
@using ECommerce.Facade.Common;
@using ECommerce.Facade.Product
@using ECommerce.Enums;
@{
    FloorEntity floorEntity = Model as FloorEntity;
    List<FloorItemBanner> bannerList = FloorHelper.GetFloorItem<FloorItemBanner>(floorEntity);
}
<div class="floorTit ie6png">
    <h3>@floorEntity.FloorName</h3>
</div>
<div class="catepro catepro_promotion_A mb15">
    <ul class="promEntryBanner cls fadeSiblings">
        @for (int i = 0; i < bannerList.Count && i < 6; i++)
        {
            var banner = bannerList[i];	
            <li><a href="@banner.LinkUrl" target="@(banner.IsSelfPage == 1 ? "_self" : "_blank")">
                <img width="311" height="138" src="@banner.ImageSrc" alt="" /></a></li>
        }
    </ul>
</div>
