<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
    </sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility" />
  </configSections>
  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config" />
    <logSettings localRegionName="InvoiceMgmt" />
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config" />
  </oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/" />
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
  <appSettings>
    <add key="ConsumerName" value="CN.InvoiceManagement.UI.IPP01" />
    <add key="LogFileName" value="AutoSetResponsibleUser.log" />
    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config" />
    <!--<add key="LocationName" value="LocalDev"/>-->
    <add key="CompanyCode" value="8601" />
    <add key="StoreCompanyCode" value="8601" />
    <add key="UserName" value="System\bitkoo\sys[8601]" />
    <!--<add key="UserSysNo" value="493"/>-->
    <add key="SourceDirectoryKey" value="bitkoo" />
    <add key="FromIP" value="127.0.0.1" />
    <add key="MailAddress" value="Nolan.Q.Chen@newegg.com;Freegod.L.Xu@newegg.com" />
    <add key="MailSubject" value="自动生成未收款跟踪单出错" />
    <!--<add key="InvoiceMgmtRestFulBaseUrl" value="http://localhost:778/InvoiceService/"/>-->
    <add key="InvoiceMgmtRestFulBaseUrl" value="http://10.16.40.33:6001/InvoiceService/" />
    <add key="LanguageCode" value="zh-CN" />
    <add key="UserSysNo" value="1" />
    <add key="UserAcct" value="job@page7.com.cn" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BeginDate" value="2013-07-01" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>