<?xml version="1.0"?>
<codeNamePairList>
  
  <codeNamePair key="ShipType" >
    <!--寄回方式-->
    <item code="0" name="EMS" />
    <item code="1" name="邮局普包" />
    <item code="2" name="上门取件" />
    <item code="3" name="其他" />
  </codeNamePair>

  <codeNamePair key="RMAReason" >
    <!--退货原因-->
    <item code="0" name="质量问题" />
    <item code="1" name="兼容性" />
    <item code="2" name="不满意" />
    <item code="3" name="运输中损坏" />
    <item code="4" name="其他" />
  </codeNamePair>

  <codeNamePair key="Request" >
    <!--选择请求类型-->
    <item code="2" name="申请退货" />
  </codeNamePair>

  <codeNamePair key="SellerOperationInfo" >
    <!--商家处理结果-->
    <item code="Receive" name="收货" />
    <item code="Refund" name="退货" />
    <item code="Return" name="退回" />
    <item code="Repair" name="维修" />
    <item code="Exchange" name="换新" />
    <item code="Other" name="其它" />
  </codeNamePair>
  
  <codeNamePair key="RefundPayTypes" >
    <!--还款类型-->
    <item code="1" name="银行转账" />
    <item code="2" name="商城余额" />
  </codeNamePair>

<codeNamePair key="RMARequestStatus" >
  <!--售后服务状态-->
  <item code="-1" name="作废" />
  <item code="3" name="待审核" />
  <item code="-2" name="审核拒绝" />
  <item code="0" name="初始，待处理" />
  <item code="1" name="处理" />
  <item code="2" name="完成" />
</codeNamePair>

  <codeNamePair key="RMARevertStatus" >
    <!--返修状态-->
    <item code="-1" name="作废" />
    <item code="0" name="待发还" />
    <item code="1" name="已发还" />
    <item code="2" name="待审核" />
  </codeNamePair>
</codeNamePairList>