<?xml version="1.0"?>
<codeNamePairList>
  <!--可用支付方式列表-->
  <codeNamePair key="PayTypes">
    <item code="1" name="中国银联"></item>
    <item code="2" name="支付宝"></item>
  </codeNamePair>

  <!--可用自提点列表-->
  <codeNamePair key="SelfGetSpots">
    <item code="1" name="自提点1"></item>
    <item code="2" name="自提点2"></item>
  </codeNamePair>

  <!--新闻类型列表-->
  <codeNamePair key="TopicType">
    <item code="-1" name="新闻公告"></item>
    <item code="10101" name="促销信息"></item>
  </codeNamePair>
  
</codeNamePairList>