<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 设置网站启动时和网站关闭时自动执行的任务的配置文件路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="AutorunConfigPath" value="Configuration\Autorun.config"/>
    <!-- 设置Restful Service的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="RestServiceConfigPath" value="Configuration\RestService.config"/>
    <!-- Web打印的配置文件的相对WebHost跟目录的路径 -->
    <add key="WebPrintConfigPath" value="Configuration\PrintTemplates\WebPrinter.config"/>
    <!-- 应用配置config文件目录相对WebHost跟目录的路径 -->
    <add key="AppSettingsPath" value="Configuration\AppSettings"/>
    <!-- 异常信息的xml资源文件目录相对WebHost跟目录的路径 -->
    <add key="MessageResourcesPath" value="Configuration\MessageResources"/>
    <!-- 邮件模板文件路径配置相对WebHost跟目录的路径-->
    <add key="MailTemplatesFilesConfigPath" value="Configuration\MailTemplates\MailTemplatesFiles.config"/>
    <!-- 设置数据文件导出服务的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="FileExporterConfigPath" value="Configuration/FileExporter.config"/>
    <!-- 设置http上传的文件存放的目录的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="UploadFileBaseFolder" value="UploadFiles"/>
    <!-- 设置中文分词组件的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="WordSegmentConfigPath" value="Configuration/KTDictSeg.config"/>
    <!-- 设置ObjectFactory注入实现类的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="TypeVersionConfigFilePath" value="Configuration\TypeVersion.config"/>
    <!-- 设置消息与订阅者关系的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="EventConsumerConfigFilePath" value="Configuration\EventConsumer.config"/>

  </appSettings>
</configuration>