<?xml version="1.0"?>
<codeNamePairList>
  <!--可用支付方式列表-->
  <codeNamePair key="PayTypes">
    <item code="1" name="China Unionpay"></item>
    <item code="2" name="Alipay"></item>
  </codeNamePair>

  <!--可用自提点列表-->
  <codeNamePair key="SelfGetSpots">
    <item code="1" name="Pickup1"></item>
    <item code="2" name="Pickup2"></item>
  </codeNamePair>
</codeNamePairList>