<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="OverseaLocalControlPanel">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6q9oZFexSdEaOavhguynU3HUTQLc1wOAW5PgHXrXoUjxC+TkWLe5ZYleeo+R2QYp+0QlQpAqw+ghwQU0xRTqDcbf1krXj0F90bOzpajbhvpm8f9gUHuo8TZqz9M7ivdkywjgvm+j5ntYPSj4r2DaS12HqLcwnxo5P8XHR4M4QUPZ3Jq9AONdHQl4xovs93C8bIzwXwaQhvAGlgcQueyRbymMpdUOkAPq7jXqGyjm4W54xTHrFnvYmXzPkZs3z2/mY5dVyOOA5G74gDLnGG5nUkcWj8Vc8nEQyOG+v88V+XsppouArISq9dxI4oecE0pmc5vWjalCH6eqa7s55YnkkYE=</connectionString>
  </database>
  <database name="DBALog">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6rvlBPhmttmidAAxG71xmYOaX3RxLG5urv3g7Ex2UhRnS5eUlQJldzr1UckAnHJW6vvLFkXwG//v6dQc/Z/0poN3FEeBh17Bj1q7WMxSS6AXbRxBTjgnKFR9HvEqm9jZapTrsgjYeU90ovKcX/LPuXxVSaPc3rjLYMQj/BJAqXKLBctOlNKspNDVfdnzJYHQf/vGQ7BLzGay3NrXtMFYx253RfZ0BeeYnOSSYmtWydnhcTXzmMNw/ZOuj0s5MEn2RsavsPW6dA7dP5qrejcWtP1F7eUTKSpCkWeW4k9miUVpU+kUCVvjGGqABFmGt/kdRbNQWdxSJOCngMfOhuzrQ1WTxSJwZz1kf4QmWsckTPid</connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6icxjbtwpHcqL6euKQLaXv9vFPQY87y5+KYqxtnuWVzJ/7pvAeP2SnxTD2hiaqP0O7RyowmTEgPu1Hq27mv0MVkdnuGcLTf1R3y91sTWKaDjolk10mBFPOvqDoK4Xw0acisvgQTXYotjtDPq1P2MUIjMBG6c/ms6dXNXqj36pBDDc5JFmtrW8iHpRxihhcaxtwlrJ4Ry+aWRZm4Q/0yhjg77xMHH2T4wu9LH2uCyXD9g4jhRpZxJIWIZ/UqhAeQi5IN4RCnN7O5s9nUoHGDG529vdhs/4sZx6CP6RzAZLsqseDdsTyUArzzDETnpwk/v9xPh+lF6p3TulROFke3OdP/+ss4UzShv7xwxZJKWimPg</connectionString>
  </database>
  <database name="QueryKeystoneDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6icxjbtwpHcqL6euKQLaXv9vFPQY87y5+KYqxtnuWVzJtSxiFd+/E1B6ludqGxSnnoT4vPcDYe6B5X45Zn+b7zWa6aEdhjupu7viSu0zdVPEXB8JlTxtJjNyPIVvDTV0+QLHtz9iMz79Q6BmflWGMeohL0HagDuCf2T6S6hXlXkCathW+0uvXx2tGK7h1Krklg3nBxx76QzDUxSn+7KwHLwpFm/+GPkgerBxvtmCIuI97PmXDkL/+0jrDVyvVtQXftIYf5t7Gz0feKth8eV5J9uVSwGmk0DKEA3zWEGbzQdlavO7f0clh5FlX07C9C0uZufGL68GfB3BlqPbqjldmCc=</connectionString>
  </database>
</databaseList>