<?xml version="1.0"?>
<webPrinter>
  <handlerRegisters>
    <handler extention="htm, html" type="ECCentral.Service.Utility.HtmlPrintHandler, ECCentral.Service.Utility" />
    <handler extention="rdlc" type="ECCentral.Service.Utility.RdlcPrintHandler, ECCentral.Service.Utility" />
    <handler extention="rpt" type="ECCentral.Service.Utility.RptPrintHandler, ECCentral.Service.Utility" />
  </handlerRegisters>
  <printerSettings>
    <!--RMA Start-->
    <printer name="PrintRequestLabel" dataBuilder="ECCentral.Service.RMA.AppService.RequestLabelPrintData, ECCentral.Service.RMA.AppService">
      <template languageCode="zh-cn" path="RMA/PrintRequestLabel.zh-cn.rdlc" />
      <template languageCode="en-us" path="RMA/PrintRequestLabel.en-us.rdlc" />
    </printer>
    <printer name="PrintRefund" dataBuilder="ECCentral.Service.RMA.AppService.RefundPrintData, ECCentral.Service.RMA.AppService">
      <template languageCode="zh-cn" path="RMA/PrintRefund.zh-CN.htm" />
      <template languageCode="en-us" path="RMA/PrintRefund.en-us.htm" />
    </printer>
    <printer name="PrintRequest" dataBuilder="ECCentral.Service.RMA.AppService.RequestPrintData, ECCentral.Service.RMA.AppService">
      <template languageCode="zh-cn" path="RMA/PrintRequest.zh-CN.htm" />
      <template languageCode="en-us" path="RMA/PrintRequest.en-us.htm" />
    </printer>
    <printer name="PrintRegister" dataBuilder="ECCentral.Service.RMA.AppService.RegisterPrintData, ECCentral.Service.RMA.AppService">
      <template languageCode="zh-cn" path="RMA/PrintRegister.zh-CN.htm" />
      <template languageCode="en-us" path="RMA/PrintRegister.en-us.htm" />
    </printer>
    <!--RMA End-->

    <printer name="PrintPOVendorInvoice" dataBuilder="ECCentral.Service.Invoice.AppService.POVendorInvoicePrintData, ECCentral.Service.Invoice.AppService">
      <template languageCode="zh-cn" path="Invoice/PrintPOVendorInvoice.zh-cn.htm" />
      <template languageCode="en-us" path="Invoice/PrintPOVendorInvoice.en-us.htm" />
    </printer>
    <printer name="SOInfo" dataBuilder="ECCentral.Service.SO.AppService.SOPrintData, ECCentral.Service.SO.AppService">
      <template languageCode="zh-cn" path="SO/SOInfo.zh-cn.htm" />
      <template languageCode="en-us" path="SO/SOInfo.zh-cn.htm" />
    </printer>
    <printer name="AdjustRequest" dataBuilder="ECCentral.Service.Inventory.AppService.AdjustRequestPrintData, ECCentral.Service.Inventory.AppService">
      <template languageCode="zh-cn" path="Inventory/AdjustRequest.zh-cn.htm" />
    </printer>
    <printer name="AdjustRequestInvoice" dataBuilder="ECCentral.Service.Inventory.AppService.AdjustRequestInvoicePrintData, ECCentral.Service.Inventory.AppService">
      <template languageCode="zh-cn" path="Inventory/AdjustRequestInvoice.zh-cn.htm" />
    </printer>
    <printer name="ConvertRequest" dataBuilder="ECCentral.Service.Inventory.AppService.ConverRequestPrintData, ECCentral.Service.Inventory.AppService">
      <template languageCode="zh-cn" path="Inventory/ConvertRequest.zh-cn.htm" />
    </printer>
    <printer name="ShiftRequest" dataBuilder="ECCentral.Service.Inventory.AppService.ShiftRequestPrintData, ECCentral.Service.Inventory.AppService">
      <template languageCode="zh-cn" path="Inventory/ShiftRequest.zh-cn.htm" />
    </printer>
    <printer name="LendRequest" dataBuilder="ECCentral.Service.Inventory.AppService.LendRequestPrintData, ECCentral.Service.Inventory.AppService">
      <template languageCode="zh-cn" path="Inventory/LendRequest.zh-cn.htm" />
    </printer>

    <!--PO Start-->
    <printer name="PurchaseOrderPrint" dataBuilder="ECCentral.Service.PO.AppService.PurchaseOrderPrintData, ECCentral.Service.PO.AppService">
      <template languageCode="zh-cn" path="PO/PrintPO.zh-cn.htm" />
    </printer>
    <printer name="PurchaseOrderWithoutPricePrint" dataBuilder="ECCentral.Service.PO.AppService.PurchaseOrderWithoutPricePrintData, ECCentral.Service.PO.AppService">
      <template languageCode="zh-cn" path="PO/PrintPOWithoutPrice.zh-cn.htm" />
    </printer>
    <printer name="POBatchPrintData" dataBuilder="ECCentral.Service.PO.AppService.POBatchPrintData, ECCentral.Service.PO.AppService">
      <template languageCode="zh-cn" path="PO/POBatchPrintData.zh-cn.htm" />
    </printer>
    <printer name="ConsignLeasePrint" dataBuilder="ECCentral.Service.PO.AppService.ConsignLeasePrintData, ECCentral.Service.PO.AppService">
      <template languageCode="zh-cn" path="PO/ConsignLeasePrint.zh-cn.htm" />
    </printer>
    <printer name="ConsignUnLeasePrint" dataBuilder="ECCentral.Service.PO.AppService.ConsignUnLeasePrintData, ECCentral.Service.PO.AppService">
      <template languageCode="zh-cn" path="PO/ConsignUnLeasePrint.zh-cn.htm" />
    </printer>
    <printer name="CostChangePrint" dataBuilder="ECCentral.Service.PO.AppService.CostChangePrintData, ECCentral.Service.PO.AppService">
      <template languageCode="zh-cn" path="PO/CostChangePrint.zh-cn.htm" />
    </printer>
    <printer name="SettleProductPrint" dataBuilder="ECCentral.Service.PO.AppService.SettleProductPrintData, ECCentral.Service.PO.AppService">
      <template languageCode="zh-cn" path="PO/SettleProductPrint.zh-cn.htm" />
    </printer>
    <!--PO End-->

    <!--Invoice Start-->
    <printer name="OldChangeNewPrint" dataBuilder="ECCentral.Service.Invoice.AppService.OldChangeNewPrintData,ECCentral.Service.Invoice.AppService">
      <template languageCode="zh-cn" path="Invoice/PrintOldChangeNew.zh-cn.htm"/>
    </printer>
    <printer name="PriceChange" dataBuilder="ECCentral.Service.Invoice.AppService.PriceChangePrintData,ECCentral.Service.Invoice.AppService">
      <template languageCode="zh-cn" path="Invoice/PrintPriceChange.zh-cn.htm"/>
    </printer>
    <!--发票预览-->
    <printer name="InvoiceDetailPrint" dataBuilder="ECCentral.Service.Invoice.AppService.InvoicePrintAppService,ECCentral.Service.Invoice.AppService">
      <template languageCode="zh-cn" path="Invoice/PrintInvoiceDetail.zh-cn.htm"/>
    </printer>
    <!--Invoice End-->

    <!--MKT Start-->
    <printer name="GroupConsignLeasePrint" dataBuilder="ECCentral.Service.MKT.AppService.ConsignLeasePrintData, ECCentral.Service.MKT.AppService">
      <template languageCode="zh-cn" path="PO/ConsignLeasePrint.zh-cn.htm" />
    </printer>
    <!--MKT End-->

  </printerSettings>
</webPrinter>