<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
	</configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<oversea>
		<!--<globalSettings filePath="D:\APP\IPP\Config\GlobalSettings.config"/>-->
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="ContentMgmt"/>
		<dataAccessSettings DataCommandFile="DataAccess\Configuration\DbCommandFiles.config"/>
	</oversea>
	<appSettings>
		<add key="ConsumerName" value="CN.ContentMgmt.UI.IPP01"/>
    <!--<add key="SCGlobalConfig" value="D:\APP\IPP\Config\GlobalSettings.config"/>-->
    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>

		<add key="EmailFrom" value="SendCommentPointJob@Newegg.com"/>
		<add key="EmailTo" value="Vantal.W.Tian@newegg.com,cnshovscontent@newegg.com"/>
		<add key="EmailCC" value=""/>
		<add key="IsSendEmail" value="true"/>
 		<add key="EmailSubjectName" value="评论发积分Job异常"/>
 		<add key="EditUser" value="评论发积分Job"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="CompanyCode" value="8601"/>
    <add key="LogFileName" value="Log.txt"/>
    <add key="BizLogFile" value="Log\Biz.log"/>

    <!--add by  kathy 2011-2-15-->
    <add key="PointLimit" value="10000"/>
    <add key="PMEmailAddress" value="ne-cn.wm.productreview@newegg.com"/>
    <add key="EmailSubject" value="{0}账号内积分少于1W"/>
    <add key="EmailBody" value="{0}账号的积分已于{1}少于1W，为避免无法发放评论积分，请及时为该账号充值，谢谢！"/>
  
    
		<add key="TestProductSysNo" value="0"/>
    <add key="TestGroupSysNo" value="0"/>

    <!--按照会员级别赠送的经验评论积分-->
    <add key="JuniorMember" value="2"/>
    <add key="BronzeMember" value="2"/>
    <add key="GoldMember" value="2"/>
    <add key="DiamondMember" value="2"/>
    <add key="SuperEggMember" value="2"/>

    <add key="NeweggAccount" value="MKT-客户评论积分"/>
    <add key="SellerAccount" value="Seller-topic"/>
    <add key="SysAccountID" value="123"/>
    <!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
    <add key="SendMailUserDisplayName" value="AuthCenterAdmin"/>
    <add key="SendMailUserLoginName" value="AuthCenterAdmin"/>
    <add key="SendMailCompanyCode" value="8601"/>
    <add key="SendMailStoreCompanyCode" value="8601"/>
    <add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
    <add key="CustomerRestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/CustomerService/"/>
    <add key="CommonRestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/CommonService/"/>
  </appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
