<?xml version="1.0"?>
<PassportPartner>
  <Base>
    <!--基地址-->
    <BaseUrl>http://www.malltl.com/</BaseUrl>
  </Base>
  <Parnters>
    <Parnter Identify="Kuajingtong" Name="跨境通">
      <RequestType>GET</RequestType>
      <PartnerProcessor>ECommerce.Facade.Passport.Partner.PartnerKuajingtong</PartnerProcessor>
      <!--登录地址-->
      <LoginUrl>http://www.kuajingtong.com/api.php</LoginUrl>
      <!--登录回调地址-->
      <LoginBackUrl>Passport/Back/Kuajingtong</LoginBackUrl>
      <!--获取用户信息地址-->
      <GetUserInfoUrl>http://www.kuajingtong.com/api.php</GetUserInfoUrl>
      <!--本站在第三方平台的唯一ID-->
      <AppID>demo</AppID>
      <!--本站在第三方平台唯一ID的的密钥-->
      <AppSecret>f794226a82a4d081</AppSecret>
      <!--编码-->
      <Encoding>utf-8</Encoding>
      <!--是否debug，0-否；1-是-->
      <Debug>1</Debug>
      <!--CustomProperty1至CustomProperty5为各第三方平台的自定义配置-->
      <CustomProperty1></CustomProperty1>
      <CustomProperty2></CustomProperty2>
      <CustomProperty3></CustomProperty3>
      <CustomProperty4></CustomProperty4>
      <CustomProperty5></CustomProperty5>
    </Parnter>
    <Parnter Identify="Alipay" Name="支付宝">
      <RequestType>GET</RequestType>
      <PartnerProcessor>ECommerce.Facade.Passport.Partner.PartnerAlipay</PartnerProcessor>
      <!--登录地址-->
      <LoginUrl>https://mapi.alipay.com/gateway.do</LoginUrl>
      <!--登录回调地址-->
      <LoginBackUrl>Passport/Back/Alipay</LoginBackUrl>
      <!--获取用户信息地址-->
      <GetUserInfoUrl></GetUserInfoUrl>
      <!--本站在第三方平台的唯一ID-->
      <AppID>demo</AppID>
      <!--本站在第三方平台唯一ID的的密钥-->
      <AppSecret>6hr0vra6m2avbsqrx4qa4wn8g1novy7h</AppSecret>
      <!--编码-->
      <Encoding>utf-8</Encoding>
      <!--是否debug，0-否；1-是-->
      <Debug>0</Debug>
      <!--CustomProperty1至CustomProperty5为各第三方平台的自定义配置-->
      <CustomProperty1></CustomProperty1>
      <CustomProperty2></CustomProperty2>
      <CustomProperty3></CustomProperty3>
      <CustomProperty4></CustomProperty4>
      <CustomProperty5></CustomProperty5>
    </Parnter>
    <Parnter Identify="SinaWeibo" Name="新浪微博">
      <RequestType>GET</RequestType>
      <PartnerProcessor>ECommerce.Facade.Passport.Partner.PartnerSinaWeibo</PartnerProcessor>
      <!--登录地址-->
      <LoginUrl>https://api.weibo.com/oauth2/authorize</LoginUrl>
      <!--获取AccessToken的地址-->
      <AccessTokenUrl>https://api.weibo.com/oauth2/access_token</AccessTokenUrl>
      <!--登录回调地址-->
      <LoginBackUrl>Passport/Back/SinaWeibo</LoginBackUrl>
      <!--获取用户信息地址-->
      <GetUserInfoUrl>https://api.weibo.com/2/users/show.json</GetUserInfoUrl>
      <!--本站在第三方平台的唯一ID-->
      <AppID>1400265293</AppID>
      <!--本站在第三方平台唯一ID的的密钥-->
      <AppSecret>9608f07c130ff1d70cb2ee7d405fc30b</AppSecret>
      <!--编码-->
      <Encoding>utf-8</Encoding>
      <!--是否debug，0-否；1-是-->
      <Debug>0</Debug>
      <!--CustomProperty1至CustomProperty5为各第三方平台的自定义配置-->
      <CustomProperty1>9e81f2cda172496cae7853af3f00be71</CustomProperty1>
      <CustomProperty2></CustomProperty2>
      <CustomProperty3></CustomProperty3>
      <CustomProperty4></CustomProperty4>
      <CustomProperty5></CustomProperty5>
    </Parnter>
    <Parnter Identify="TencentQQ" Name="腾讯QQ">
      <RequestType>GET</RequestType>
      <PartnerProcessor>ECommerce.Facade.Passport.Partner.PartnerTencentQQ</PartnerProcessor>
      <!--登录地址-->
      <LoginUrl>https://graph.qq.com/oauth2.0/authorize</LoginUrl>
      <!--获取AccessToken的地址-->
      <AccessTokenUrl>https://graph.qq.com/oauth2.0/token</AccessTokenUrl>
      <!--获取OpenID的地址-->
      <OpenIDUrl>https://graph.qq.com/oauth2.0/me</OpenIDUrl>
      <!--登录回调地址-->
      <LoginBackUrl>Passport/Back/TencentQQ</LoginBackUrl>
      <!--获取用户信息地址-->
      <GetUserInfoUrl>https://graph.qq.com/user/get_user_info</GetUserInfoUrl>
      <!--本站在第三方平台的唯一ID-->
      <AppID>101201635</AppID>
      <!--本站在第三方平台唯一ID的的密钥-->
      <AppSecret>1ea6547dc45a4bcc3710af93a13ba13b</AppSecret>
      <!--编码-->
      <Encoding>utf-8</Encoding>
      <!--是否debug，0-否；1-是-->
      <Debug>0</Debug>
      <!--CustomProperty1至CustomProperty5为各第三方平台的自定义配置-->
      <CustomProperty1>3029132cd77e42d69a1b184b18892a67</CustomProperty1>
      <CustomProperty2></CustomProperty2>
      <CustomProperty3></CustomProperty3>
      <CustomProperty4></CustomProperty4>
      <CustomProperty5></CustomProperty5>
    </Parnter>
    <Parnter Identify="Webchat" Name="微信">
      <RequestType>GET</RequestType>
      <PartnerProcessor> ECommerce.Facade.Passport.Partner.PartnerWechat</PartnerProcessor>
      <!--登录地址-->
      <LoginUrl>https://graph.qq.com/oauth2.0/authorize</LoginUrl>
      <!--获取AccessToken的地址-->
      <AccessTokenUrl>https://api.weixin.qq.com/sns/oauth2/access_token</AccessTokenUrl>
      <!--获取OpenID的地址-->
      <OpenIDUrl>https://graph.qq.com/oauth2.0/me</OpenIDUrl>
      <!--登录回调地址-->
      <LoginBackUrl>Passport/Back/TencentQQ</LoginBackUrl>
      <!--获取用户信息地址-->
      <GetUserInfoUrl>https://graph.qq.com/user/get_user_info</GetUserInfoUrl>
      <!--本站在第三方平台的唯一ID-->
      <AppID>wx7e6a57a609d0f68e</AppID>
      <!--本站在第三方平台唯一ID的的密钥-->
      <AppSecret>fa8605021e0320298333124a54b676ef</AppSecret>
      <!--编码-->
      <Encoding>utf-8</Encoding>
      <!--是否debug，0-否；1-是-->
      <Debug>0</Debug>
      <!--CustomProperty1至CustomProperty5为各第三方平台的自定义配置-->
      <CustomProperty1>3029132cd77e42d69a1b184b18892a67</CustomProperty1>
      <CustomProperty2></CustomProperty2>
      <CustomProperty3></CustomProperty3>
      <CustomProperty4></CustomProperty4>
      <CustomProperty5></CustomProperty5>
    </Parnter>
    
    
    <Parnter Identify="TLYH" Name="泰隆银行">
      <RequestType>GET</RequestType>
      <PartnerProcessor>ECommerce.Facade.Passport.Partner.PartnerTLYH</PartnerProcessor>
      <!--登录地址-->
      <LoginUrl>http://10.4.32.18:8088/perbank</LoginUrl>
      <!--登录回调地址-->
      <LoginBackUrl>Passport/Back/TLYH</LoginBackUrl>
      <!--获取用户信息地址-->
      <GetUserInfoUrl></GetUserInfoUrl>
      <!--本站在第三方平台的唯一ID-->
      <AppID>demo</AppID>
      <!--本站在第三方平台唯一ID的的密钥-->
      <AppSecret></AppSecret>
      <!--编码-->
      <Encoding>utf-8</Encoding>
      <!--是否debug，0-否；1-是-->
      <Debug>1</Debug>
      <!--CustomProperty1至CustomProperty5为各第三方平台的自定义配置-->
      <CustomProperty1>PB0004</CustomProperty1>
      <CustomProperty2>PB0004_getB2CCode_Ajax.do</CustomProperty2>
      <CustomProperty3></CustomProperty3>
      <CustomProperty4></CustomProperty4>
      <CustomProperty5></CustomProperty5>
    </Parnter>
  </Parnters>
</PassportPartner>
