<?xml version="1.0" encoding="utf-8"?>
<routeConfig>
  <!--默认命名空间，如果Area中的Controller名称和最外层的Controller名称有相同的，则必须配置此节点，否则会导致Route失败 -->
  <defaultNamespace name="ECommerce.UI.Controllers.*"/>
  <ignore>
    <!--忽略对.axd文件的Route，直接处理-->
    <add url="imagemall/UploadHandler.ashx" />
    <add url="{resource}.axd/{*pathInfo}" >
      <constraints>
        <!--添加约束-->
        <add name="resource" value="\w" />
      </constraints>
    </add>
  </ignore>
  <areas>
    <!--<area name="Web">
      <namespaces>
        <namespace name="ECommerce.UI.Controllers"></namespace>
      </namespaces>
      <map>
        
      </map>
    </area>-->

    <!--<area name="SSL">
      <namespaces>
        <namespace name="ECommerce.UI.Areas.SSL.Controllers"></namespace>
      </namespaces>
      <map>
        <route name="SSL_Default" url="SSL/{Controller}/{Action}"  controller="Home" action="Index" needssl="1"></route>
      </map>
    </area>-->

  </areas>

  <map>
    <!-- Area 外直接的视图/Controller路由-->
    
    <!--<route name="ChangeLanguage" url="ChangeLanguage" controller="Home" action="ChangeLanguage" />-->

    <route name="App_Who" url="App/Who" controller="Home" action="Who"></route>
    <route name="Web_Error404" url="Error/404" controller="Home" action="Error404" />
    <route name="Web_Error" url="ErrorMsg" controller="Home" action="Error"></route>
    <route name="Web_AuthError" url="Error/AuthError" controller="Home" action="AuthError" />
    <route name="Home_Logout" url="Logout" controller="Home" action="Logout"  needssl="1"></route>
    <route name="Home_Login" url="Login" controller="LoginRegister" action="Login"  needssl="1"></route>
    <route name="Home_Register" url="Register" controller="LoginRegister" action="Register" needssl="1"></route>
    <route name="Home_RegisterNote" url="RegisterNote" controller="LoginRegister" action="RegisterNote"></route>
    <route name="Home_RegisterSuccess" url="RegisterSuccess" controller="Home" action="RegisterSuccess"></route>
    <route name="Home_RegisterVerify" url="RegisterVerify" controller="Home" action="RegisterVerify"></route>
    <route name="Home_ImageValidator" url="ImageValidator" controller="Home" action="ImageValidator"></route>
    <route name="Home_FindPassword" url="FindPassword" controller="LoginRegister" action="FindPassword"></route>
    <route name="Home_EmailVerifySucceed" url="EmailVerifySucceed" controller="Home" action="EmailVerifySucceed"></route>
    <route name="Home_ValidateIdentity" url="ValidateIdentity" controller="Home" action="ValidateIdentity"></route>
    <route name="Home_ResetPassword" url="ResetPassword" controller="Home" action="ResetPassword"></route>
    <route name="Home_ResetSuccess" url="ResetSuccess" controller="Home" action="ResetSuccess"></route>
    <!--<route name="Home_SellerRegister" url="SellerRegister" controller="LoginRegister" action="SellerRegister"></route>-->
    <route name="WebsiteMap" url="WebsiteMap" controller="Home" action="WebsiteMap"></route>
    <route name="Home_Welcome" url="Welcome" controller="LoginRegister" action="Welcome"></route>


    <route name="ClearCache" url="ClearCache" controller="Home" action="ClearCache"></route>
    <!--购物车-->
    <route name="ShoppingCartRoute" url="ShoppingCart" controller="ShoppingCart" action="Index"></route>
    <!--添加购物车-->
    <route name="AddShoppingCartRoute" url="AddShoppingCart" controller="ShoppingCart" action="AddToShoppingCart"></route>

    <!--商品详情页-->
    <route name="ProductDetail" url="Product/Detail/{productSysNo}" controller="Product" action="ProductDetail" needssl="0">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
      </parameters>
    </route>
    <route name="ProductReview" url="Product/ProductReview/{productSysNo}" controller="Product" action="ProductReview" needssl="0">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
      </parameters>
    </route>

    <route name="ProductReviewTwo" url="Product/ProductReviewTwo/{productSysNo}" controller="Product" action="ProductReviewTwo" needssl="0">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
      </parameters>
    </route>
    
    <route name="ProductReviewDetail" url="Product/ProductReviewDetail/{reviewSysNo}" controller="Product" action="ProductReviewDetail" needssl="0">
      <parameters>
        <add name="reviewSysNo" value="{reviewSysNo}" />
      </parameters>
    </route>

    <route name="ProductConsult" url="Product/ProductConsult/{productSysNo}" controller="Product" action="ProductConsult" needssl="0">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
      </parameters>
    </route>

    <route name="ProductConsultDetail" url="Product/ProductConsultDetail/{consultSysNo}" controller="Product" action="ProductConsultDetail" needssl="0">
      <parameters>
        <add name="consultSysNo" value="{consultSysNo}" />
      </parameters>
    </route>

    <route name="ProductArriveNotice" url="Product/ArriveNotice/{productSysNo}" controller="Product" action="ArriveNotice" needssl="0">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
      </parameters>
    </route>

    <route name="ProductDiscountNotify" url="Product/DiscountNotify/{productSysNo}" controller="Product" action="ProductDiscountNotify" needssl="0">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
      </parameters>
    </route>

    <!--商品大图-->
    <route name="ProductBigPic" url="Product/BigPic/{productSysNo}/{productCommonSysNo}" controller="Product" action="BigPic" needssl="0">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
        <add name="productCommonSysNo" value="{productCommonSysNo}" />
      </parameters>
    </route>
    <!--checkout-->
    <route name="Checkout" url="Shopping/Checkout" controller="ShoppingPurchase" action="Checkout" needssl="1"></route>
    <!--CheckoutCard-->
    <route name="CheckoutCard" url="Shopping/CheckOutCard" controller="ShoppingPurchase" action="CheckoutCard" needssl="1"></route>
    <!--不经过购物车直接购买-->
    <route name="DirectCheckout" url="Shopping/Checkout/{productSysNo}/{quantity}" controller="ShoppingPurchase" action="DirectCheckout" needssl="1">
      <parameters>
        <add name="productSysNo" value="{productSysNo}" />
        <add name="quantity" value="{quantity}" />
      </parameters>
    </route>
    <route name="AjaxEditShippingAddress" url="Shopping/AjaxEditShippingAddress" controller="ShoppingPurchase" action="AjaxEditShippingAddress" needssl="1"></route>
    <route name="AjaxEditCustomerAuthentication" url="Shopping/AjaxEditCustomerAuthentication" controller="ShoppingPurchase" action="AjaxEditCustomerAuthentication" needssl="1"></route>
    <route name="AjaxCheckIDCardNumber" url="Shopping/AjaxCheckIDCardNumber" controller="ShoppingPurchase" action="AjaxCheckIDCardNumber" needssl="1"></route>
    <route name="AjaxSubmitShippingAddress" url="Shopping/AjaxSubmitShippingAddress" controller="ShoppingPurchase" action="AjaxSubmitShippingAddress" needssl="1"></route>
    <route name="AjaxSubmitCheckout" url="Shopping/AjaxSubmitCheckout" controller="ShoppingPurchase" action="AjaxSubmitCheckout" needssl="1"></route>
    <route name="AjaxBuildCheckOut" url="Shopping/AjaxBuildCheckOut" controller="ShoppingPurchase" action="AjaxBuildCheckOut" needssl="1"></route>
    <route name="AjaxGetShipTypeList" url="Shopping/AjaxGetShipTypeList" controller="ShoppingPurchase" action="AjaxGetShipTypeList" needssl="1"></route>
    <route name="AjaxEditPayAndShipType" url="Shopping/AjaxEditPayAndShipType" controller="ShoppingPurchase" action="AjaxEditPayAndShipType" needssl="1"></route>
    <route name="AjaxGetShippingAddressList" url="Shopping/AjaxGetShippingAddressList" controller="ShoppingPurchase" action="AjaxGetShippingAddressList" needssl="1"></route>
    <route name="AjaxGetPayAndShipType" url="Shopping/AjaxGetPayAndShipType" controller="ShoppingPurchase" action="AjaxGetPayAndShipType" needssl="1"></route>
    <route name="AjaxGetCustomerInvoice" url="Shopping/AjaxGetCustomerInvoice" controller="ShoppingPurchase" action="AjaxGetCustomerInvoice" needssl="1"></route>
    <route name="AjaxUpdateCustomerInvoice" url="Shopping/AjaxUpdateCustomerInvoice" controller="ShoppingPurchase" action="AjaxUpdateCustomerInvoice" needssl="1"></route>
    <route name="ThankyouVirualGroupBuy" url="Shopping/ThankyouVirualGroupBuy/{OrderSysNo}" controller="ShoppingPurchase" action="ThankyouVirualGroupBuy" needssl="1">
      <parameters>
        <add name="OrderSysNo" value="{OrderSysNo}" />
      </parameters>
    </route>
    <route name="Thankyou" url="Shopping/Thankyou/{CartID}" controller="ShoppingPurchase" action="Thankyou" needssl="1">
      <parameters>
        <add name="CartID" value="{CartID}" />
      </parameters>
    </route>
    <route name="AjaxChangeOrderPayType" url="Pay/AjaxChangeOrderPayType" controller="Payment" action="AjaxChangeOrderPayType" needssl="1"></route>


    <!--限时抢购-->
    <route name="Countdown_Index" url="Countdown" controller="Seckill" action="Countdown"></route>

    <!--一级类别页面-->
    <route name="C1Route" url="TabStore/{CurrentSysNo}" controller="Catalog" action="TabStore">
      <parameters>
        <add name="CurrentSysNo" value="{CurrentSysNo}" />
      </parameters>
    </route>
    <!--二级类别页面-->
    <route name="C2Route" url="MidCategory/{subCategoryID}" controller="Catalog" action="MidCategory">
      <parameters>
        <add name="subCategoryID" value="{subCategoryID}" />
      </parameters>
    </route>
    <!--三级类别页面-->
    <route name="C3Route" url="SubStore/{subCategoryID}" controller="Catalog" action="SubCategory">
      <parameters>
        <add name="subCategoryID" value="{subCategoryID}" />
      </parameters>
    </route>
    <route name="CategoryAll" url="CategoryAll" controller="Catalog" action="CategoryAll"></route>
    <route name="BrandAll" url="BrandAll" controller="Catalog" action="BrandAll"></route>
    <route name="BrandList" url="BrandList" controller="Catalog" action="BrandList"></route>
    <route name="BrandZone" url="BrandZone/{brandSysNo}" controller="Catalog" action="BrandZone">
      <parameters>
        <add name="brandSysNo" value="{brandSysNo}" />
      </parameters>
    </route>
    <route name="BrandProducts" url="BrandProducts/{brandID}" controller="Product" action="BrandProductSearch">
      <parameters>
        <add name="brandID" value="{brandID}" />
      </parameters>
    </route>

    <!--团购频道页-->
    <route name="GroupBuyingHomeRoute" url="GroupBuying" controller="GroupBuying" action="Index"></route>
    <!--团购频道页邮件订阅-->
    <route name="GroupBuyingSubscriptEmailRoute" url="GroupBuying/SubscriptEmail" controller="GroupBuying" action="SubscriptEmail"></route>
    <!--团购详情页-->
    <route name="GroupBuyingDetailRoute" url="GroupBuying/{GroupBuyingSysNo}" controller="GroupBuying" action="Detail">
      <parameters>
        <add name="GroupBuyingSysNo" value="{GroupBuyingSysNo}" />
      </parameters>
    </route>

    <!--账户中心Start-->
    <route name="Member_Index" url="Member" controller="MemberAccount" action="Index" needssl="1"></route>
    <route name="Member_CustomerInfo" url="Member/CustomerInfo" controller="MemberAccount" action="CustomerInfo" needssl="1"></route>
    <route name="Member_AuthenticationInfo" url="Member/AuthenticationInfo" controller="MemberAccount" action="CustomerAuthenticationInfo" needssl="1"></route>
    <route name="Member_MyPoint" url="Member/MyPoint" controller="MemberAccount" action="MyPoint" needssl="1"></route>
    <route name="Member_PrepayHistory" url="Member/PrepayHistory" controller="MemberAccount" action="PrepayHistory" needssl="1"></route>
    <route name="Member_ExperienceHistory" url="Member/ExperienceHistory" controller="MemberAccount" action="ExperienceHistory" needssl="1"></route>
    <route name="Member_ChangeAvatar" url="Member/ChangeAvatar" controller="MemberAccount" action="ChangeAvatar" needssl="1"></route>
    <route name="Member_ChangePassword" url="Member/ChangePassword" controller="MemberAccount" action="ChangePassword" needssl="1"></route>
    <route name="Member_CustomerExtendedInfo" url="Member/CustomerExtendedInfo" controller="MemberAccount" action="CustomerExtendedInfo" needssl="1"></route>
    <route name="Member_ShippingInfo" url="Member/ShippingInfo" controller="MemberAccount" action="ShippingInfo" needssl="1"></route>
    <route name="Member_OrderList" url="Member/OrderList" controller="MemberOrder" action="Index" needssl="1"></route>
    <route name="Member_MyFavorite" url="MemberService/MyFavorite" controller="MemberService" action="MyFavorite" needssl="1"></route>
    <route name="Member_MyFavoriteSeller" url="MemberService/MyFavoriteSeller" controller="MemberService" action="MyFavoriteSeller" needssl="1"></route>
    <route name="Member_Coupon" url="Member/Coupon" controller="MemberAccount" action="Coupon" needssl="1"></route>
    <route name="Member_ProductNotify" url="Member/Notify" controller="MemberAccount" action="ProductNotify" needssl="1"></route>
    <route name="Member_ProductPriceNotify" url="Member/PriceNotify" controller="MemberAccount" action="ProductPriceNotify" needssl="1"></route>
    <route name="Member_MyShowOrder" url="MemberService/ShowOrder" controller="MemberAccount" action="ShowOrder" needssl="1"></route>
    <route name="Member_MyReview" url="MemberService/MyReview" controller="MemberAccount" action="MyReview" needssl="1"></route>
    <route name="Member_MyConsult" url="MemberService/MyConsult" controller="MemberAccount" action="MyConsult" needssl="1"></route>
    <route name="Member_GiftCardUsedRecord" url="GiftCard/UsedRecord" controller="GiftCard" action="UsedRecord" needssl="1"></route>
    <route name="Member_GiftCardBinding" url="GiftCard/Binding" controller="GiftCard" action="Binding" needssl="1"></route>
    <route name="Member_GiftCardModifyPwd" url="GiftCard/ModifyPwd" controller="GiftCard" action="ModifyPwd" needssl="1"></route>

    <route name="Member_GetShippingAddressList" url="RMA/GetShippingAddressList" controller="RMA" action="GetShippingAddressList" needssl="1"></route>
    <route name="Member_EditShippingAddress" url="RMA/EditShippingAddress" controller="RMA" action="EditShippingAddress" needssl="1"></route>
    <route name="Member_SubmitShippingAddress" url="RMA/SubmitShippingAddress" controller="RMA" action="SubmitShippingAddress" needssl="1"></route>
    
    <!--账户中心End-->

    <!--礼品卡Start-->
    <route name="GiftCardHomeRoute" url="GiftCardService/Index" controller="GiftCard" action="Index" needssl="1"></route>
    <route name="GiftCard_MyGiftCard" url="GiftCardService/MyGiftCard" controller="GiftCard" action="MyGiftCard" needssl="1"></route>
    <!--礼品卡End-->

    <!--文章列表-->
    <route name="TopicList" url="Topic/TopicList/{categorySysNo}" controller="Topic" action="TopicList">
      <parameters>
        <add name="categorySysNo" value="{categorySysNo}" />
      </parameters>
    </route>
    <!--新闻公告-->
    <route name="News" url="News" controller="Topic" action="TopicList">
      <parameters>
        <add name="categorySysNo" value="1" />
      </parameters>
    </route>
    <!--文章详情页(通用)-->
    <route name="TopicDetail" url="Topic/TopicDetail/{topicSysNo}" controller="Topic" action="TopicDetail" needssl="0">
      <parameters>
        <add name="topicSysNo" value="{topicSysNo}" />
      </parameters>
    </route>
    <!--帮助中心-->
    <route name="HelpContent" url="HelpContent/{topicSysNo}" controller="Topic" action="HelpContent">
      <parameters>
        <add name="topicSysNo" value="{topicSysNo}" />
      </parameters>
    </route>
    <!--帮助中心首页-->
    <route name="ServiceCenter" url="ServiceCenter" controller="Topic" action="HelpContent">
      <parameters>
        <add name="topicSysNo" value="210" />
      </parameters>
    </route>
    
    <!--支付路由Start-->
    <!--在线支付-->
    <route name="OnlinePayRoute" url="Shopping/OnlinePay/{SOSysNo}" controller="Payment" action="OnlinePay" needssl="1">
      <parameters>
        <add name="SOSysNo" value="{SOSysNo}" />
      </parameters>
    </route>
    <!--在线支付前台回调-->
    <route name="OnlinePayCallbackRoute" url="Pay/Complete" controller="Payment" action="OnlinePayCallback"></route>
    <!--东方支付前台回调-->
    <route name="OnlineEasiPayShowBackRoute" url="Pay/Show/Easi" controller="Payment" action="OnlinePayShowCallback">
      <parameters>
        <add name="PayTypeSysNo" value="111" />
      </parameters>
    </route>
    <!--东方支付后台回调-->
    <route name="OnlineEasiPayBgCallbackRoute" url="Pay/Easi" controller="Payment" action="OnlinePayBgCallback">
      <parameters>
        <add name="PayTypeSysNo" value="111" />
      </parameters>
    </route>
    <!--支付宝前台回调-->
    <route name="OnlineAliPayShowBackRoute" url="Pay/Show/Alipay" controller="Payment" action="AliPayShowCallback">
      <parameters>
        <add name="PayTypeSysNo" value="112" />
      </parameters>
    </route>
    <!--支付宝后台回调-->
    <route name="OnlineAliPayBgCallbackRoute" url="Pay/Alipay" controller="Payment" action="AliPayBgCallback">
      <parameters>
        <add name="PayTypeSysNo" value="112" />
      </parameters>
    </route>
    <!--银联支付前台回调-->
    <route name="OnlineChinaPayShowBackRoute" url="Pay/Show/Chinapay" controller="Payment" action="OnlinePayShowCallback">
      <parameters>
        <add name="PayTypeSysNo" value="110" />
      </parameters>
    </route>
    <!--银联支付后台回调-->
    <route name="OnlineChinaPayBgCallbackRoute" url="Pay/Chinapay" controller="Payment" action="OnlinePayBgCallback">
      <parameters>
        <add name="PayTypeSysNo" value="110" />
      </parameters>
    </route>
    <!--财付通前台回调-->
    <route name="OnlineTenPayShowBackRoute" url="Pay/Show/Tenpay" controller="Payment" action="OnlinePayShowCallback">
      <parameters>
        <add name="PayTypeSysNo" value="114" />
      </parameters>
    </route>
    <!--财付通后台回调-->
    <route name="OnlineTenPayBgCallbackRoute" url="Pay/Tenpay" controller="Payment" action="OnlinePayBgCallback">
      <parameters>
        <add name="PayTypeSysNo" value="114" />
      </parameters>
    </route>

    <!--环迅前台回调-->
    <route name="OnlineIPSPayShowBackRoute" url="Pay/Show/IPSPay" controller="Payment" action="OnlinePayShowCallback">
      <parameters>
        <add name="PayTypeSysNo" value="200" />
      </parameters>
    </route>
    <!--环迅通后台回调-->
    <route name="OnlineIPSPayBgCallbackRoute" url="Pay/IPSPay" controller="Payment" action="OnlinePayBgCallback">
      <parameters>
        <add name="PayTypeSysNo" value="200" />
      </parameters>
    </route>

    <!--泰隆银行前台回调-->
    <route name="OnlineZJTLCBShowBackRoute" url="Pay/Show/ZJTLCB" controller="Payment" action="OnlinePayShowCallback">
      <parameters>
        <add name="PayTypeSysNo" value="201" />
      </parameters>
    </route>
    <!--泰隆银行通后台回调-->
    <route name="OnlineZJTLCBBgCallbackRoute" url="Pay/ZJTLCB" controller="Payment" action="OnlinePayBgCallback">
      <parameters>
        <add name="PayTypeSysNo" value="201" />
      </parameters>
    </route>
    
    <!--支付路由End-->

    <!--第三方登录路由Start-->
    <!--第三方登录-->
    <route name="PassportLoginRoute" url="Passport/Login/{Identify}" controller="Passport" action="Login">
      <parameters>
        <add name="Identify" value="{Identify}" />
      </parameters>
    </route>
    <route name="PassportLoginBackRoute" url="Passport/Back/{Identify}" controller="Passport" action="LoginBack">
      <parameters>
        <add name="Identify" value="{Identify}" />
      </parameters>
    </route>
    <!--第三方登录路由End-->

    <!--促销模板-->
    <route name="SaleAdvertisement" url="Promotion/{promotionSysNo}" controller="Product" action="Promotion">
      <parameters>
        <add name="PromotionSysNo" value="{promotionSysNo}" />
      </parameters>
    </route>

    <!--店铺-->
    <route name="StorePage" url="Store/{SellerSysNo}/{PageSysNo}" controller="Store" action="Index">
      <parameters>
        <add name="SellerSysNo" value="{SellerSysNo}" />
        <add name="PageSysNo" value="{PageSysNo}" />
        <add name="Preview" value="False" />
      </parameters>
    </route>

    <route name="PreviewStorePage" url="Store/Preview/{SellerSysNo}/{PageSysNo}" controller="Store" action="Index">
      <parameters>
        <add name="SellerSysNo" value="{SellerSysNo}" />
        <add name="PageSysNo" value="{PageSysNo}" />
        <add name="Preview" value="True" />
      </parameters>
    </route>
    
    <route name="Web_Default" url="{Controller}/{Action}"  controller="Home" action="Index"></route>
    <route name="Web_Index" url="" controller="Home" action="Index"></route>  
  </map>
</routeConfig>
