<?xml version="1.0" encoding="utf-8" ?>

<config>

  <items>
    <item name="ProductSearch" type="ECommerce.Entity.SolrSearch.ProductSearchResult,ECommerce.Entity" provider="Solr"/>
    <item name="ProductACSearch" type="ECommerce.Entity.SolrSearch.ProductACSearchResult,ECommerce.Entity" provider="Solr"/>
  </items>

  <providers>

    <provider name="Solr" type="ECommerce.Utility.DataAccess.SearchEngine.Solr.SolrSearchProvider,ECommerce.Utility.DataAccess">

      <!--Solr服务基础地址-->

      <baseUrl>http://10.16.236.140:8888/solr/</baseUrl>

      <searchers>

        <!--Solr Searcher 配置
      
        type ： Searcher完全限定名
        result : Searcher 返回的查询结果类型完全限定名
      
        -->
        <searcher type="ECommerce.Facade.SearchEngine.ProductSolrSearcher,ECommerce.Facade"
                  result="ECommerce.Entity.SolrSearch.ProductSearchResult,ECommerce.Entity" />

        <searcher type="ECommerce.Facade.SearchEngine.ProductACSolrSearcher,ECommerce.Facade"
          result="ECommerce.Entity.SolrSearch.ProductACSearchResult,ECommerce.Entity" />

      </searchers>
    </provider>
  </providers>
</config>