<?xml version="1.0" encoding="utf-8" ?>
<pipelineList cacheSlidingExpirationMinutes="15">
  <pipeline id="BuildShoppingCart" breakOnceValidationError="true" transactionWithPersisters="true">
    <initializers>
      <item type="ECommerce.SOPipeline.Impl.ProductInfoInitializer, ECommerce.SOPipeline" description="购物车商品信息初始化" />
    </initializers>
    <preValidators>
    </preValidators>
    <calculators>
      <item type="ECommerce.SOPipeline.Impl.ComboCalculator, ECommerce.SOPipeline" description="套餐的计算" />
      <item type="ECommerce.SOPipeline.Impl.SaleGiftCalculator, ECommerce.SOPipeline" description="赠品的计算（包含处理用户的选择）" />
      <item type="ECommerce.SOPipeline.Impl.AttachmentCalculator, ECommerce.SOPipeline" description="附件的处理" />
    </calculators>
    <postValidators>
      <item type="ECommerce.SOPipeline.Impl.ShoppingCartValidator, ECommerce.SOPipeline" description="购物车检查，商品状态检查；商品库存检查" />
    </postValidators>
  </pipeline>

  <pipeline id="BuildCheckOut" breakOnceValidationError="true" transactionWithPersisters="true">
    <initializers>
      <item type="ECommerce.SOPipeline.Impl.ProductInfoInitializer, ECommerce.SOPipeline" description="购物车商品信息初始化" />
      <item type="ECommerce.SOPipeline.Impl.BindingGiftCardInfoInitializer, ECommerce.SOPipeline" description="用户绑定礼品卡信息初始化" />
    </initializers>
    <calculators>
      <item type="ECommerce.SOPipeline.Impl.SpecialActivityCalculator, ECommerce.SOPipeline" description="针对团购和抢购的处理" />
      <item type="ECommerce.SOPipeline.Impl.ComboCalculator, ECommerce.SOPipeline" description="套餐的计算" />
      <item type="ECommerce.SOPipeline.Impl.SaleGiftCalculator, ECommerce.SOPipeline" description="赠品的计算（包含处理用户的选择）" />
      <item type="ECommerce.SOPipeline.Impl.AttachmentCalculator, ECommerce.SOPipeline" description="附件的处理" />
      <item type="ECommerce.SOPipeline.Impl.CouponCalculator, ECommerce.SOPipeline" description="优惠券促销的计算" />
      <item type="ECommerce.SOPipeline.Impl.AllocateStockCalculator, ECommerce.SOPipeline" description="分仓计算" />
      <item type="ECommerce.SOPipeline.Impl.SaleGiftFilterCalculator, ECommerce.SOPipeline" description="赠品筛选计算，团购订单只保留了厂商赠品,移除数量不足的赠品" />
      <item type="ECommerce.SOPipeline.Impl.SplitOrderCalculator, ECommerce.SOPipeline" description="拆单计算" />
      <item type="ECommerce.SOPipeline.Impl.MerchantCouponCalculator, ECommerce.SOPipeline" description="店铺优惠券促销的计算" />
      <item type="ECommerce.SOPipeline.Impl.OrderAmountCalculator, ECommerce.SOPipeline" description="金额计算" />
      <item type="ECommerce.SOPipeline.Impl.FreeShippingChargeCalculator, ECommerce.SOPipeline" description="免运费计算" />
      <item type="ECommerce.SOPipeline.Impl.NeweggSpecialCalculator, ECommerce.SOPipeline" description="其特殊计算" />
      <item type="ECommerce.SOPipeline.Impl.OrderMemoCalculator, ECommerce.SOPipeline" description="按商家填写订单备注" />
    </calculators>
    <postValidators>
      <item type="ECommerce.SOPipeline.Impl.CustomerValidator, ECommerce.SOPipeline" description="下单用户检查" />
      <item type="ECommerce.SOPipeline.Impl.InventoryValidator, ECommerce.SOPipeline" description="库存检查" />
      <item type="ECommerce.SOPipeline.Impl.ProductValidator, ECommerce.SOPipeline" description="商品状态、限购数量检查等" />
      <item type="ECommerce.SOPipeline.Impl.ShippingValidator, ECommerce.SOPipeline" description="配送方式检查" />
      <item type="ECommerce.SOPipeline.Impl.PaymentValidator, ECommerce.SOPipeline" description="支付方式检查" />
      <item type="ECommerce.SOPipeline.Impl.CouponCodeValidator, ECommerce.SOPipeline" description="优惠券检查" />
    </postValidators>
  </pipeline>

  <pipeline id="CreateSO" breakOnceValidationError="true" transactionWithPersisters="true">
    <initializers></initializers>
    <preValidators>
      <item type="ECommerce.SOPipeline.Impl.OrderValidator, ECommerce.SOPipeline" description="订单下单时间检查" />
    </preValidators>
    <calculators></calculators>
    <postValidators>
    </postValidators>
    <persisters>
      <item type="ECommerce.SOPipeline.Impl.CreateSOBasicPersister, ECommerce.SOPipeline" description="订单主要信息" />
      <item type="ECommerce.SOPipeline.Impl.PromotionProcessPersister, ECommerce.SOPipeline" description="订单促销相关" />
      <item type="ECommerce.SOPipeline.Impl.NeweggSpecialPersister, ECommerce.SOPipeline" description="订单原新蛋业务" />
      <item type="ECommerce.SOPipeline.Impl.GiftCardProcessPersister, ECommerce.SOPipeline" description="礼品卡相关" />
      <item type="ECommerce.SOPipeline.Impl.MarginProcessPersiter, ECommerce.SOPipeline" description="赠品毛利分配" />
      <item type="ECommerce.SOPipeline.Impl.CPSPersister, ECommerce.SOPipeline" description="CPS订单部分处理" />
      <item type="ECommerce.SOPipeline.Impl.LogPersister, ECommerce.SOPipeline" description="记录订单支付日志" />
    </persisters>
  </pipeline>
</pipelineList>
