<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!--获取存在评论的商品-->
  <dataCommand name="GetCommentList" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      SELECT ProductSysNo FROM OverseaECommerceManagement.dbo.ProductReview_Detail WITH(NOLOCK)
      WHERE CompanyCode = @CompanyCode
      GROUP BY ProductSysNo Having COUNT(1) >= 5
	  ]]>
    </commandText>
	  <parameters>
		  <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
	  </parameters>
 </dataCommand>
  
  <!--找出最有用的评论 状态3为垃圾数据-->
  <dataCommand name="UpdateProductReview_DetailByProductSysNo" database="OverseaECommerceManagement" commandType="Text">
		<commandText>
			<![CDATA[
      UPDATE OverseaECommerceManagement.dbo.ProductReview_Detail
      SET MostUseful = 3
      WHERE ProductSysNo = @ProductSysNo AND MostUseful = 2 AND CompanyCode = @CompanyCode

      UPDATE OverseaECommerceManagement.dbo.ProductReview_Detail 
      SET MostUseful = 2
      WHERE SysNo IN
      (
      SELECT TOP 1 SysNo FROM OverseaECommerceManagement.dbo.ProductReview_Detail WITH(NOLOCK)
      WHERE ProductSysNo = @ProductSysNo AND MostUseful IN(1,2,3) 
      AND CompanyCode = @CompanyCode ORDER BY UsefulCount DESC,Score DESC,InDate ASC
      )
      AND CompanyCode = @CompanyCode
      ]]>
		</commandText>
	  <parameters>
		  <param name="@ProductSysNo" dbType="Int32"/>
		  <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
		  <param name="@EditUser" dbType="String" size="100"/>
	  </parameters>
  </dataCommand>

</dataOperations>