<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form id='alipaysubmit' name='alipaysubmit' action='https://mapi.alipay.com/gateway.do?_input_charset=utf-8' method='post'>
        <input type='hidden' name='_input_charset' value='utf-8' />
        <input type='hidden' name='batch_no' value='' />
        <input type='hidden' name='batch_num' value='' />
        <input type='hidden' name='detail_data' value='' />
        <input type='hidden' name='partner' value='' />
        <input type='hidden' name='refund_date' value='' />
        <input type='hidden' name='seller_email' value='' />
        <input type='hidden' name='seller_user_id' value='' />
        <input type='hidden' name='service' value='' />
        <input type='hidden' name='sign' value='' />
        <input type='hidden' name='sign_type' value='' />
        <input type='submit' value='确认' style='display: none;'>
    </form>
    <script>document.forms['alipaysubmit'].submit();</script>
</body>
</html>
