<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
	</configSections>
	<appSettings>
		<add key="LogFileName" value="SendMialReportPerMonth.log"/>
		<add key="EmailAddress" value="Nolan.Q.Chen@newegg.com"/>
    <add key="EmailSubjectError" value="发送按收款方式区分收入月报的邮件出现异常"/>
    <add key="EmailAddressError" value="Nolan.Q.Chen@newegg.com"/>
    <add key="CompanyCode" value="8601"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
	</appSettings>
	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="InvoiceMgmt"/>
		<dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>    
	</oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
