<div class="event"></div>
<div class="shortcut">
    <div class="container">
        <div class="row">
            @Html.Partial("_Header_Top")
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="hd row">
            @Html.Partial("_Header_Middle")
        </div>
    </div>

    <div class="hd-bottom">
        <div class="container">
            <div class="row">
                @Html.Partial("_Header_Menu")
            </div>
        </div>
    </div>
</div>


