<div id="headerCtner" class="headerCtner" data-pos-stick="true">
@Html.Partial("_Header_Top")

@Html.Partial("_Header_Middle")

@Html.Partial("_Header_Menu")
</div>
<!--headerCtner end-->
<div class="headerPlaceHolder"></div>