@*@BuildJsRef("/Resources/scripts/common/jquery-extension.js")*@
@*<script type="text/javascript" src="/Resources/scripts/pages/shopping/ShoppingCartMini.js"></script>*@
<dl class="mycart" style="top:0">
    <dt>
        <span class="dtInner"><a href="javascript:void(0);"><span>购物车<em id="MiniCartPrdCnt" class="num">123</em></span></a></span>
    </dt>
    <dd>
        <div class="cart">
            <div class="inner">
                <h3>最新加入的商品</h3>
                <div class="listwrap minicartwrap">
                    <div class="infonull"><span class="icon_urge"></span>购物车中没有商品，赶紧选购吧！</div>
                </div>
            </div>
        </div>
    </dd>
</dl>
