@*<script type="text/javascript" src="/Resources/scripts/pages/shopping/ShoppingCartMini.js"></script>*@
<dl class="mycart">
    <dd>
        <div class="cart">
            <div class="inner">
                <h3>最新加入的商品</h3>
                <div class="listwrap minicartwrap">
                    <div class="infonull"><span class="icon_urge"></span>购物车中没有商品，赶紧选购吧！</div>
                </div>
            </div>
        </div>
    </dd>
</dl>
