@{
    ViewBag.Title = LanguageHelper.GetText("没有权限");
    Layout = "~/Views/Shared/_Main.cshtml";

    List<CrumbItem> citemlist = new List<CrumbItem>();
    citemlist.Add(new CrumbItem(LanguageHelper.GetText("没有权限"), ""));
    
}

@section rsHeader{
    @Styles.Render("~/Resources/themes/default/css/error.css")

@BuildCssRef("/Resources/themes/default/css/innerPage.css")
}

@section rsContent
{
    <div class="crumb ie6png">
        <div class="wraper">
            @CrumbHelper.BuildCrumb(citemlist)
        </div>
    </div>

    <div class="wraper">
        <div class="main">
             <h1>没有访问权限！</h1>

        </div>

    </div>

}