<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration,Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IPP.Oversea.CN.OrderMgmt.BizProcess.BPConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
  
  <appSettings>
    <!-- Newegg Framework DataAccess settings end-->
    <add key="LogFileName" value="Biz.log"/>
    <add key="UserDisplayName" value="IPPSystemAdmin"/>
    <add key="UserLoginName" value="IPPSystemAdmin"/>
    <add key="CompanyCode" value="8601"/>
    <add key="StoreCompanyCode" value="8601"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="StoreSourceDirectoryKey" value="bitkoo"/>
    <add key="ExceptionMeil" value="tech@page7.com.cn"/>
    <add key="InvoiceRestFulBaseUrl" value="http://localhost:778/POService/"/>   
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
    <add key="RunDay" value="10"/>
    
    <!--月结-->
    <add key="MonthsPaytermsNo" value="76"/>
    <add key="MonthsDay_One" value="1"/>
    <add key="MonthsDay_Two" value="15"/>
   
    
    <!--周结-->
    <add key="WeeksPaytermsNo" value="77"/>
    <add key="WeeksDay_One" value="7"/>
    <add key="WeeksDay_Two" value="14"/>
    <add key="WeeksDay_Three" value="21"/>
  
   
  </appSettings>
  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <logSettings localRegionName="POMgmt"/>
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
