@using ECommerce.Entity.Store
@model StorePageTemplate

<!--Load page theme-->
@*@if (!string.IsNullOrEmpty(Model.StorePageThemeCssUrl))
{
    <link type="text/css" rel="stylesheet" href="@Model.StorePageThemeCssUrl" />
}*@


<!--Load Template-->
@if (!string.IsNullOrEmpty(Model.TemplateViewPath))
{
    Html.RenderPartial(Model.TemplateViewPath, Model);
}
else
{
    <p>Not found any page template</p>
}

