<?xml version="1.0"?>
<mailTemplate>
  <id>Inventory_AdjustRequest_Create</id>
  <sender>service@tlyh.com</sender>
  <to>Ocean.H.Zhu@newegg.com</to>
  <!--<to>Ryan.W.Li@newegg.com</to>-->
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      生成损益单邮件提醒
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
      单号：<%=RequestID%><br>
      制作者：<%=CreateUserName%><br>
      仓库：<%=StockName%><br>
      制单时间：<%=CreateDate%><br>
      备注：<%=Note%><br>
      详细信息：请点击<a href="http://10.16.83.72:777/#/ECCentral.Portal.UI.Inventory/AdjustRequestMaintain/<%=RequestSysNo%>"  target='_blank'>http://10.16.83.72:777/#/ECCentral.Portal.UI.Inventory/AdjustRequestMaintain/<%=RequestSysNo%></a>查看    
      ]]>
    </template>
  </body>
</mailTemplate>