<?xml version="1.0"?>
<mailTemplate>
  <id>Inventory_ProductRing</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
    临期商品报警
    ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
      <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
          <title></title>
        </head>
        <body>
        <p align="center">
          提示以下商品快过期：
          </p>
          <table align="center" border="0" cellspacing="5" cellpadding="5">
            <tr>
              <td>商品编号</td>
              <td>商品名称</td>
              <td>批次编号</td>
              <td>库存</td>
              <td>剩余临期天数</td>
            </tr>
          <%TABLE_ROWS_BEGIN ID=ProductList%>
            <tr>
              <td><%=ProductID%></td>
              <td><%=ProductName%></td>
              <td><%=BatchNumber%></td>
              <td><%=ActualQty%></td>
              <td><%=LeftRingDays%></td>
            </tr>
          <%TABLE_ROWS_END ID=ProductList%>
          </table>
        </body>
      </html>
      ]]>
    </template>
  </body>
</mailTemplate>
