<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="QueryKeystoneDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtTTQgQMYnJTdTAVRxFrOHvav/mjiLvyZjXffujepkxEUgFnUClNgQ0KCryC0KEmc9TdQMBdOBEU0ynNr5u5jybThDu4NeaB1H3LRdT+2jGuAqvOKtBPLfxqZ6JZHgHW2zVjbOkXxnVNw1GUoi3De3XdG8W8e6Swsq+VmUy1t6saqObjHVjvh9t1axacJicq+FNlciIKuFE4odXAk8z9WiMld9lTmaKpulGD0wmRXfgEhVPpAuUq8kHfld535iZBl5zHyHJYXpKsF8/WUq+SK/ckduzRaK+j8mvGSbu4KAXYd8OgzkeavWfJgsXsrwFkB1DwyYA9r+IQQ028Cs2FHje4gOx/SAeMK/TATyW1sAdsr2Gpatm4W6xiSPHUpbIWs5P+nPG0nys/1AUAgve9nuX8f/LFSswVn527oNfIO384UnMoA4qS0/SOqZgBJd0R2Qc=</connectionString>
  </database>
  <database name="OverseaLocalControlPanel">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mDR0/SF2iSwk7Qqmdzn5u7aY3lHH8N72bqLORCXySeGnA3DNCV2SwY+FugFRdyxHbrTkIkvyw36RlmsBzZzC/PVlksefkq86X3XKMag9me85QLpFZmF7uKvakK17IoDfU7eun/xHS7k9pPe9Lpq7Wsgg4xL4EMKPHpYQN4WzERIJp3idf/nA/vEVhnZ2izMb8y6PFTzfelnRXAZaWOnEEAldTflscNJ311ikKTk+bFx
    </connectionString>
  </database>
  <database name="DBALog">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtTTQgQMYnJTdTAVRxFrOHvav/mjiLvyZjXffujepkxEUgFnUClNgQ0KCryC0KEmc9QPU2Qkv/m0fPP7ysz1RZ2WNaiHqmbNUlcOVquL5kmdEsbDzzl1Keu3cr0cTtIhl/0T1MY8p0UcBeVK/STTS8oqeYUPa+rKW5oHQUOwkRRe2UDU2fWXxdMn21iCvxKu+trvnR4Tq+8tSG/DE/eI6tOLzH+c6kWelX9agmj52Mxm2D8GFszYnamLNpW5p7bcDXEygcsOwymDI3QhEzJiplQMDSdI5dQ8qQCLPbxJ5xHo1nHTTLbFqgLSGT9DlIqFKLfY3+Og14Wyl1ztvQcqQSPbNxJ7oCgcWKTmaIzpRv62IvXDqUiW/dOsK3Q++CxpLCjUzJ/eGj97SkNVnPRdhP1diE+llhG7A7cFjBf84fIe57DY5kVRE6RBq/CFVc/d628=</connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mDR0/SF2iSwk7Qqmdzn5u7aY3lHH8N72bqLORCXySeGnA3DNCV2SwY+FugFRdyxHbrTkIkvyw36RlmsBzZzC/PVlksefkq86X3XKMag9me85QLpFZmF7uKvakK17IoDfU7eun/xHS7k9pPe9Lpq7Wsgg4xL4EMKPHpYQN4WzERIJp3idf/nA/vEVhnZ2izMb8y6PFTzfelnRXAZaWOnEEAldTflscNJ311ikKTk+bFx
    </connectionString>
  </database>
</databaseList>