<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="QueryKeystoneDB">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/9Zx9un7jdbeK/Ci96DectEcCx7ey0f+USymCUHnwr6YeczS+w/XgvNgdAbJ//nLvWvxhLHTfoAUU4lIGS3JU2Q==
    </connectionString>
  </database>
  <database name="OverseaLocalControlPanel">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/9Zx9un7jdbeK/Ci96DectEcCx7ey0f+USymCUHnwr6YeczS+w/XgvNgdAbJ//nLvWvxhLHTfoAUU4lIGS3JU2Q==
    </connectionString>
  </database>
  <database name="DBALog">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/9Zx9un7jdbeK/Ci96DectEcCx7ey0f+USymCUHnwr6YeczS+w/XgvNgdAbJ//nLvWvxhLHTfoAUU4lIGS3JU2Q==
    </connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/9Zx9un7jdbeK/Ci96DectEcCx7ey0f+USymCUHnwr6YeczS+w/XgvNgdAbJ//nLvWvxhLHTfoAUU4lIGS3JU2Q==
    </connectionString>
  </database>
</databaseList>