<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="QueryKeystoneDB">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mDR0/SF2iSwk7Qqmdzn5u7aY3lHH8N72bqLORCXySeGnA3DNCV2SwY+FugFRdyxHbrTkIkvyw36RlmsBzZzC/OVo4Utx4XYpRwC87e6IYRGJj3QEdETAApvfiE4zpVXSqZEbpyEI3faR/LOZmnZZddMGRtPP4yBIlkxWN5cQqvDmL0uELmUSs3Mj88wATnUGNJ3XPj/lw/e3x6aNcnZ1Qad2doisJC1IMto8Rn+aIjGhMGExjwFkELjrg/evZZqMuqkm4SogiD+YCPEfk0+eKagOaqnFh5x3CWjg8GmeakowCACeUj4LK1JeP9RbCIaknc3GDJDklYi0PNwaqYO1/x2gLM7/ezc2FRpcBWcKYsuyeWODTgZ6MOus7GVrAb13viCYV0+1XvARAUAUw/upHRtfCbtEUM0/PqHn5BlbIpDmn9Ngo6sJF7teCkADJEl6A==
    </connectionString>
  </database>
  <database name="OverseaLocalControlPanel">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mDR0/SF2iSwk7Qqmdzn5u7aY3lHH8N72bqLORCXySeGnA3DNCV2SwY+FugFRdyxHbrTkIkvyw36RlmsBzZzC/OVo4Utx4XYpRwC87e6IYRGJj3QEdETAApvfiE4zpVXSqZEbpyEI3faR/LOZmnZZddMGRtPP4yBIlkxWN5cQqvDmL0uELmUSs3Mj88wATnUGNJ3XPj/lw/e3x6aNcnZ1Qad2doisJC1IMto8Rn+aIjGhMGExjwFkELjrg/evZZqMuqkm4SogiD+YCPEfk0+eKagOaqnFh5x3CWjg8GmeakowCACeUj4LK1JeP9RbCIaknc3GDJDklYi0PNwaqYO1/x2gLM7/ezc2FRpcBWcKYsuyeWODTgZ6MOus7GVrAb13viCYV0+1XvARAUAUw/upHRtfCbtEUM0/PqHn5BlbIpDmn9Ngo6sJF7teCkADJEl6A==
    </connectionString>
  </database>
  <database name="DBALog">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mDR0/SF2iSwk7Qqmdzn5u7aY3lHH8N72bqLORCXySeGnA3DNCV2SwY+FugFRdyxHbrTkIkvyw36RlmsBzZzC/OVo4Utx4XYpRwC87e6IYRGJj3QEdETAApvfiE4zpVXSqZEbpyEI3faR/LOZmnZZddMGRtPP4yBIlkxWN5cQqvDmL0uELmUSs3Mj88wATnUGNJ3XPj/lw/e3x6aNcnZ1Qad2doisJC1IMto8Rn+aIjGhMGExjwFkELjrg/evZZqMuqkm4SogiD+YCPEfk0+eKagOaqnFh5x3CWjg8GmeakowCACeUj4LK1JeP9RbCIaknc3GDJDklYi0PNwaqYO1/x2gLM7/ezc2FRpcBWcKYsuyeWODTgZ6MOus7GVrAb13viCYV0+1XvARAUAUw/upHRtfCbtEUM0/PqHn5BlbIpDmn9Ngo6sJF7teCkADJEl6A==
    </connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mDR0/SF2iSwk7Qqmdzn5u7aY3lHH8N72bqLORCXySeGnA3DNCV2SwY+FugFRdyxHbrTkIkvyw36RlmsBzZzC/OVo4Utx4XYpRwC87e6IYRGJj3QEdETAApvfiE4zpVXSqZEbpyEI3faR/LOZmnZZddMGRtPP4yBIlkxWN5cQqvDmL0uELmUSs3Mj88wATnUGNJ3XPj/lw/e3x6aNcnZ1Qad2doisJC1IMto8Rn+aIjGhMGExjwFkELjrg/evZZqMuqkm4SogiD+YCPEfk0+eKagOaqnFh5x3CWjg8GmeakowCACeUj4LK1JeP9RbCIaknc3GDJDklYi0PNwaqYO1/x2gLM7/ezc2FRpcBWcKYsuyeWODTgZ6MOus7GVrAb13viCYV0+1XvARAUAUw/upHRtfCbtEUM0/PqHn5BlbIpDmn9Ngo6sJF7teCkADJEl6A==
    </connectionString>
  </database>
</databaseList>