<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <!--data source=10.16.236.149\centerdb;database=AuthCenter;user id=sa;password=newegg@123;connection reset=false;Timeout=30;connection lifetime=30; min pool size=0; max pool size=50-->
  <database name="QueryKeystoneDB">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/2RCPwb7gIx7gU8clsMKKcez5xbDYw8AF3Z6jB+Rik8HTSr/QrHiParhIXW5tbdcHDTcbRn/vQOPJ8bY3ZSJhklsGMIvausxX6bJK8flKNVWmUOJ4enXHKzehidG70SHy
    </connectionString>
  </database>
  <!--data source=101.201.220.96\Centerdb02;database=NeweggCentral;user id=sa;password=xinnuo@2016-->
  <database name="OverseaLocalControlPanel">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/KCdRTrGQBwcqMH9fxFPsvlmVA+gM5MD0QAZJhAA/HePSAb6v5/NYkoCkLaV+hKQFtMKBXWuLxpRX5dvzG2ALoJ/+SwzyB58XsWUPaROtNi8=
    </connectionString>
  </database>
  <!--data source=10.16.236.149\centerdb;database=NeweggCentral;user id=sa;password=newegg@123;connection reset=false;Timeout=30;connection lifetime=30; min pool size=0; max pool size=50-->
  <database name="DBALog">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/KCdRTrGQBwcqMH9fxFPsvlmVA+gM5MD0QAZJhAA/HePSAb6v5/NYkoCkLaV+hKQFtMKBXWuLxpRX5dvzG2ALoJ/+SwzyB58XsWUPaROtNi8=
    </connectionString>
  </database>
  <!--data source=101.201.220.96\Centerdb02;database=NeweggCentral;user id=sa;password=xinnuo@2016-->
  <database name="QueryFrameworkDB">
    <connectionString>
      Hn3t+SQCaz3ZRQDdawhd6mhw3v/nHkAvvBIseB89TFVKk3Trjcv7CcTOWdgjibV/KCdRTrGQBwcqMH9fxFPsvlmVA+gM5MD0QAZJhAA/HePSAb6v5/NYkoCkLaV+hKQFtMKBXWuLxpRX5dvzG2ALoJ/+SwzyB58XsWUPaROtNi8=
    </connectionString>
  </database>
</databaseList>