<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="QueryKeystoneDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6tcXwl8O0e5PKHhEnRnTbW9jT3vSvYsngPiwWFGYj3qJHyBD5ueBSdfI98zbV9TIKOSxAyD8DCgtoBHBIFriF/8Iqq2dE6QF87oAeo0BvsAdQpte8Be8ezJg+Tds4qpSP3cnH/e6Tlmt6jDo+CvxafWEi/ij912oYZipQRdLu7R3tltAJtp8TAbqegDBEj7IiS2LoAI6Vni6Y9ms14JCUqVj+lrMmseibKQf6N+jkqhyAc3f1I5DoCxUxiONsFlbmmqJtgakcKmGFC/C/9r4hrw=</connectionString>
  </database>
  <database name="OverseaLocalControlPanel">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6tcXwl8O0e5PKHhEnRnTbW9jT3vSvYsngPiwWFGYj3qJHyBD5ueBSdfI98zbV9TIKNozeQ2AL6Q3MezkZj4NPi2wlFElSzrQ2ZXgcoGDMlegozND6UFLOYW+e8Jnww3rs8skQSOjP82HpMUZXw4sR7b+K4f2JOUJfD6nktgc//ieJMDYAmx9W7nEhh0TiNmgszlixoSowryE2fwBobB7+jkBfOVE36/Nei6MYXT/6w8ZFUU05vNYt+4AFec8zIPxBmgfKiLkRCFQmJ2HOQa0pKdQRmIi19lw9zM2m2+LyK/8zpS3OoSPOmlCbo2qyfJx1vruXX+oAwl18d6gB6z73QTjsmx7fPIM+z5awLp9NEAlVPomJSr6D3wngivRp6Yr7+mq2V9Je78/dKYgJ04uDOmwwJ++wIaYRg0TpUxaXt2hJDx309Imm0x9h0fJljoYtkTHr9fGb6l3pQbBiFSXLMM=</connectionString>
  </database>
  <database name="DBALog">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6tcXwl8O0e5PKHhEnRnTbW9jT3vSvYsngPiwWFGYj3qJHyBD5ueBSdfI98zbV9TIKNozeQ2AL6Q3MezkZj4NPi2wlFElSzrQ2ZXgcoGDMlegozND6UFLOYW+e8Jnww3rs8skQSOjP82HpMUZXw4sR7b+K4f2JOUJfD6nktgc//ieJMDYAmx9W7nEhh0TiNmgszlixoSowryE2fwBobB7+jkBfOVE36/Nei6MYXT/6w8ZFUU05vNYt+4AFec8zIPxBmgfKiLkRCFQmJ2HOQa0pKdQRmIi19lw9zM2m2+LyK/8zpS3OoSPOmlCbo2qyfJx1vruXX+oAwl18d6gB6z73QTjsmx7fPIM+z5awLp9NEAlVPomJSr6D3wngivRp6Yr7+mq2V9Je78/dKYgJ04uDOmwwJ++wIaYRg0TpUxaXt2hJDx309Imm0x9h0fJljoYtkTHr9fGb6l3pQbBiFSXLMM=</connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6tcXwl8O0e5PKHhEnRnTbW9jT3vSvYsngPiwWFGYj3qJHyBD5ueBSdfI98zbV9TIKNozeQ2AL6Q3MezkZj4NPi2wlFElSzrQ2ZXgcoGDMlegozND6UFLOYW+e8Jnww3rs8skQSOjP82HpMUZXw4sR7b+K4f2JOUJfD6nktgc//ieJMDYAmx9W7nEhh0TiNmgszlixoSowryE2fwBobB7+jkBfOVE36/Nei6MYXT/6w8ZFUU05vNYt+4AFec8zIPxBmgfKiLkRCFQmJ2HOQa0pKdQRmIi19lw9zM2m2+LyK/8zpS3OoSPOmlCbo2qyfJx1vruXX+oAwl18d6gB6z73QTjsmx7fPIM+z5awLp9NEAlVPomJSr6D3wngivRp6Yr7+mq2V9Je78/dKYgJ04uDOmwwJ++wIaYRg0TpUxaXt2hJDx309Imm0x9h0fJljoYtkTHr9fGb6l3pQbBiFSXLMM=</connectionString>
  </database>
</databaseList>