<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <configSections>
        <section name="logManager" type="Newegg.Oversea.Framework.Configuration.GlobalLogManagerSection, Newegg.Oversea.Framework.Core" />
        <section name="cacheManager" type="Newegg.Oversea.Framework.Configuration.CacheManagerSection, Newegg.Oversea.Framework.Core" />
    </configSections>


	<appSettings>
		<add key="DatabaseListFile" value="Configuration\OverseaFrameworkConfig\NeweggCentral\Database.config"/>
	</appSettings>
	

	<logManager globalRegionName="EC-Central" isDebugEnabled="true" >		
        <emitter defaultProvider="WebServiceEmitter">
            <providers>
              <add name="WebServiceEmitter" type="Newegg.Oversea.Framework.Log.Emitter.WebServiceEmitter, Newegg.Oversea.Framework.Core" serviceAddress="http://localhost:777/Service/Framework/V50/LogService.svc" />
            </providers>
        </emitter>
    </logManager>

	<cacheManager>
        <localCache defaultProvider="EntlibCacheProvider">
            <providers>
                <add name="EntlibCacheProvider"
					 type="Newegg.Oversea.Framework.CacheProvider.EntlibCacheProvider, Newegg.Oversea.Framework.CacheProvider" 
					 path="Configuration\OverseaFrameworkConfig\NeweggCentral\EntLibCache.config" />
            </providers>
        </localCache>
    </cacheManager>
	
</configuration>