<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
    <section name="schedules" type="POASNMgmt.AutoCreateCollectionPayment.Compoents.Configuration.ScheduleConfigurationSection,POASNMgmt.AutoCreateCollectionPayment"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Microsoft.EnterpriseLibrary.config" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Configuration\Microsoft.EnterpriseLibrary.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <logSettings localRegionName="POASNMgmt"/>
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  <appSettings>
    <add key="ConsumerName" value="CN.POASNMgmt.UI.IPP01"/>
    <add key="LogFileName" value="AutoCreateCollectionPayment.log"/>
    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <add key="CompanyCode" value="8601"/>
    <add key="StoreCompanyCode" value="8601"/>
    <add key="UserName" value="sys"/>
    <add key="SourceDirectoryKey" value="bitkoo"/>
    <add key="FromIP" value="127.0.0.1"/>
    <add key="MaxItemCount" value="200"/>
    <add key="MailAddress" value="nesc-xa.mis.ippsupport@newegg.com"/>
    <add key="MailSubject" value="自动生成代收代付结算单出错"/>
    <add key="InvoiceRestFulBaseUrl" value="http://10.16.40.33:6001/InvoiceService"/>
    <add key="PORestFulBaseUrl" value="http://10.16.40.33:6001/POService/"/>
    <!--<add key="PORestFulBaseUrl" value="http://localhost:778/POService/"/>-->
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
  </appSettings>
  <schedules>
    <monthly>
      <add consignToAccType="74" dayOfMonth="1,16"/>
      <add consignToAccType="73" dayOfMonth="1"/>
      <add consignToAccType="72" dayOfMonth="16"/>
    </monthly>
  </schedules>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
