<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Transitional//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table width="100%" style="border-collapse: collapse; border: 1px solid #ddd;" cellspacing="0"
        cellpadding="0">
        <tr style="background: #fff;">
            <td style="width: 30px; padding: 10px 0 0 10px;">
                <img alt="" src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/images/icon_4.jpg" />
            </td>
            <td style="text-align: left; padding: 10px 0 0 5px;">
                <span style="font-family: 微软雅黑; font-size: 16px; display: inline-block; padding: 0;
                    padding-left: 5px;"><strong>我们猜您可能还对下面的商品感兴趣</strong></span>
            </td>
        </tr>
    </table>
    <div style="padding-top: 10px; border-collapse: collapse; border: 1px solid #ddd;">
        <table width="auto" cellspacing="0" cellpadding="0" style="padding-bottom: 10px;
            border-collapse: collapse; border: 0;">
            <tr style="background: #fff;">
                <%= RevommendProductList1%>
            </tr>
            <tr style="background: #fff;">
                <%= RevommendProductList2%>
            </tr>
        </table>
    </div>
</body>
</html>
