<table border="0" cellspacing="0" cellpadding="0" width="100%" style=" font-size:12px; line-height:20px;">
          <tr>
            <td colspan="2" style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>收货人信息</b></td>
          </tr>
          <tr>
            <td width="70" style=" padding-left:8px;">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</td>
            <td width=""><%=InvoiceHeader%></td>
          </tr>
          <tr>
            <td width="70" style=" padding-left:8px;">联 系 人：</td>
            <td width=""><%=ReceiveName%></td>
          </tr>
          <tr>
            <td style="padding-left:8px;">收货地址：</td>
            <td><%=ProvinceName%>
            &nbsp;
            <%=CityName%>
            &nbsp;
            <%=DistrictName%>
            &nbsp;
            <%=ReceiveAddress%></td>
          </tr>
          <tr>
            <td style="padding-left:8px;">邮政编码：</td>
            <td><%=ReceiveZip%></td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;">电话号码：</td>
            <td style="padding-bottom:10px;"><%=ReceivePhone%></td>
          </tr>
          <!-- <tr>
            <td style="padding-left:8px; padding-top:10px;">配送方式：</td>
            <td style=" padding-top:10px;">圆通速递</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">付款方式：</td>
            <td>POS机刷卡</td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;border-bottom:1px solid #dcdcdc;">到货时间：</td>
            <td style="padding-bottom:10px;border-bottom:1px solid #dcdcdc;">2011-09-20&nbsp;&nbsp;上午</td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px; padding-top:10px;">备注信息：</td>
            <td style="padding-bottom:10px; padding-top:10px;">用户填写的备注信息</td>
          </tr> -->
        </table>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:24px;">
          <tr>
            <td colspan="6" style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>您购买过的商品</b></td>
          </tr>
		  <tr style="background:#FFBB7A;">
		  		<td width="80" align="center" style="padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">图片</td>
		  		<td width="100" align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">商品编号</td>
            <td align="center" style="padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;">商品名称</td>
            <td style="width:91px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">单价</td>
            <td style="width:50px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">数量</td>
            <td style="width:90px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">小计</td>
          </tr>

            <%TABLE_ROWS_BEGIN ID=Items_Product%>
          <tr style="background:#fff;">
          		<td align="center" valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><a href="<%=PagePath%>"><img src="<%=ImgSrc%>" width="50" height="50" border="0" /></a></td>
          		<td align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><p><%=ProductID%></p></td>
            <td valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;"><a href="<%=PagePath%>" style=" color:#ff6600; text-decoration:none; line-height:18px;"><%=ProductName%></a></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Price%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Amount%></td>
          </tr>
            <%TABLE_ROWS_END ID=Items_Product%>

            <%TABLE_ROWS_BEGIN ID=Items_ExtendWarranty%>
            <tr style="background:#fff;">
          		<td align="center" valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><a href="<%=PagePath%>"><img src="<%=ImgSrc%>" width="50" height="50" border="0" /></a></td>
          		<td align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><p><%=ProductID%></p></td>
            <td valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;"><a href="<%=PagePath%>" style=" color:#ff6600; text-decoration:none; line-height:18px;"><%=ProductName%></a></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Price%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Amount%></td>
          </tr>
            <%TABLE_ROWS_END ID=Items_ExtendWarranty%>
            
            <%TABLE_ROWS_BEGIN ID=Items_Accessory%>
            <tr style="background:#fff;">
          		<td align="center" valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><a href="<%=PagePath%>"><img src="<%=ImgSrc%>" width="50" height="50" border="0" /></a></td>
          		<td align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><p><%=ProductID%></p></td>
            <td valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;"><a href="<%=PagePath%>" style=" color:#ff6600; text-decoration:none; line-height:18px;"><%=ProductName%></a></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Price%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Amount%></td>
          </tr>
            <%TABLE_ROWS_END ID=Items_Accessory%>

            <%TABLE_ROWS_BEGIN ID=Items_Gift%>
          <tr style="background:#FFF4D3;">
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
            <td valign="middle"  style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;line-height:18px;"><span style=" color:#ff6600; padding-right:8px;">[赠品]</span><%=ProductName%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
          </tr>
            <%TABLE_ROWS_END ID=Items_Gift%>

            <%TABLE_ROWS_BEGIN ID=Items_SelfGift%>
            <tr style="background:#FFF4D3;">
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
            <td valign="middle"  style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;line-height:18px;"><span style=" color:#ff6600; padding-right:8px;">[赠品]</span><%=ProductName%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
          </tr>
            <%TABLE_ROWS_END ID=Items_SelfGift%>

            <%TABLE_ROWS_BEGIN ID=Items_Award%>
            <tr style="background:#FFF4D3;">
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
            <td valign="middle"  style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;line-height:18px;"><span style=" color:#ff6600; padding-right:8px;">[赠品]</span><%=ProductName%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
          </tr>
            <%TABLE_ROWS_END ID=Items_Award%>

            <%TABLE_ROWS_BEGIN ID=Items_Coupon%>
            <tr style="background:#fff;">
          		<td align="center" valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><a href="<%=PagePath%>"><img src="<%=ImgSrc%>" width="50" height="50" border="0" /></a></td>
          		<td align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><p><%=ProductID%></p></td>
            <td valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;"><a href="<%=PagePath%>" style=" color:#ff6600; text-decoration:none; line-height:18px;"><%=ProductName%></a></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Price%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Amount%></td>
          </tr>
            <%TABLE_ROWS_END ID=Items_Coupon%>
		   
          <tr style="background:#fff;">
            <td colspan="6" style="border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; height:41px; text-align:center; font-weight:bold;" align="center">本单交易成功后您可以获得积分：<strong style="color:#ff6600; font-size:12px; font-family:microsoft yahei;"><%=GainPoint%></strong></td>
          </tr>
		  <!-- <tr style="background:#fff;">
            <td colspan="6" style="border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; height:41px; text-align:right">商品金额：&yen;3799.00<span style="padding:0 5px;">+</span>运费：&yen;5.00<span style="padding:0 5px;">+</span>手续费：&yen;0.00<span style="padding:0 5px;">=</span><strong style="color:#f54f01; font-size:16px; font-family:microsoft yahei;">&yen;3804.00</strong></td>
          </tr> -->
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:20px;">
          <tr>
            <td colspan="2" style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>其它信息</b></td>
          </tr>
          <tr>
            <td width="138" style="padding-left:8px;">运输方式：</td>
            <td><%=ShipType%></td>
          </tr>
		  <tr>
            <td style="padding-left:8px;">付款方式：</td>
            <td><%=PayType%></td>
          </tr>
		   <tr>
            <td style="padding-left:8px;">到货时间：</td>
            <td><%=ShipPeriod%></td>
          </tr>
		  <tr>
            <td style="padding-left:8px;">现金支付总值（含税）：</td>
            <td>&yen;<%=CashPay%></td>
          </tr>
          <tr>
            <td style="padding-left:8px;">商品总重（含礼品）：</td>
            <td><%=Weight%></td>
          </tr>
          <tr>
            <td style="padding-left:8px;">运输费用：</td>
            <td>&yen;<%=ShipPrice%></td>
          </tr>
          <!--<tr>
            <td style="padding-left:8px;">保险费：</td>
            <td>&yen;0.00</td>
          </tr> -->
		   <tr>
            <td style="padding-left:8px;">优惠券抵扣：</td>
            <td>&yen;-<%=PromotionAmount%></td>
          </tr>
<!--          <tr>
            <td style="padding-left:8px;">积分抵扣：</td>
            <td>&yen;0.00</td>
          </tr> -->
		  <tr>
            <td style="padding-left:8px;">账户余额抵扣：</td>
            <td>&yen;-<%=PrePay%></td>
          </tr>
		  <!--<tr>
            <td style="padding-left:8px;">欧亚储值卡：</td>
            <td>&yen;0.00</td>
          </tr> -->
          
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;">合计：</td>
            <td style="padding-bottom:10px;"><strong style="color:#ff6600">&yen;<%=ReceivableAmount%></strong></td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:20px; border-bottom:1px solid #ededed;">
          <tr>
            <td style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>备注信息</b></td>
          </tr>
          <tr>
            <td style="padding-left:8px; font-size:12px; padding-bottom:30px;"><%= Memo %></td>
          </tr>
        </table>