<table border="0" cellpadding="10" cellspacing="0" style="width: 650px; background: #FFF;
    font-size: 10.5pt; line-height: 20px;">
    <tr>
        <td>
            <p style="margin: 10px 0 10px 0; text-align: center; font-size: 20px; font-family: '微软雅黑';
                font-weight: bold; color: #FF4E00;">
                订单作废通知</p>
            <p style="margin: 0 0 10px 0;">
                尊敬的泰隆优选会员
                <%=CustomerID%>：</p>
            <p style="margin: 0 0 10px 0; text-indent: 2em;">
                欢迎您来泰隆优选购物！您的订单(<%=SOID%>)已经作废,若需购买，请重新下单！</p>
            <p style="margin: 0 0 10px 0; text-indent: 2em;">
            </p>
        </td>
    </tr>
</table>