<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width: 682px; margin: 0 auto; color: #333333; background: #fff;">

    <td style="padding-left: 21px; padding-right: 21px; color: #333333;">


        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="height: 65px; font-size: 22px; font-weight: bold; font-family: microsoft yahei; color: #ff6600;">订单审核通过通知</td>
            </tr>
            <tr>
                <td style="padding-left: 5px; padding-right: 5px;">尊敬的泰隆优选会员 <%=CustomerID %>：</td>
            </tr>
            <tr>
                <td style="padding-left: 5px; text-indent: 2em; padding-right: 5px; padding-top: 13px; padding-bottom: 10px;">
                    <p style="line-height: 22px;">欢迎您来泰隆优选购物！您的订单已经通过泰隆优选确认和审核。泰隆优选会尽快为您安排发货。您也可以至您的<a style="color: #ff6600;" href="#">账户中心</a>跟踪订单状态。</p>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 5px; text-indent: 2em; padding-bottom: 10px;">您的订单编号：<strong style="color: #ff6600;"><%=SOID %></strong>&nbsp;<!--<a style="color:#ff6600;" href="#">[查看订单]</a> -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单时间：<%=OrderTime%> </td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="background: #FFF4D3; line-height: 20px; border: 1px solid #FFCEAE; font-size: 12px;">
            <tr>
                <td style="padding: 10px 15px 5px;"><strong>为了保证您的权益温馨贴士：</strong></td>
            </tr>
            <tr>
                <td style="padding: 8px 15px 0;">1、&quot;订单成功提交&quot;仅代表泰隆优选已收到了您提交的订单，只有您订单通过了确认审核后，我们双方的订购合同才成立。</td>
            </tr>
            <tr>
                <td style="padding: 8px 15px 0;">2、请在收到货物时认真检查外包装以及印有泰隆优选（泰隆优选入驻商户）LOGO的封带是否完好，如果外包装有明显损坏或封带有撕开过的迹象，您可以直接拒收该货物，并及时通知我们，泰隆优选会及时为您处理相关事宜。</td>
            </tr>
            <tr>
                <td style="padding: 8px 15px 13px;">3、如果您已经签收到了货物，再提出因为外包装或封带有损而要求退货，恕我们不能受理，谢谢您的理解与配合，祝您购物愉快。</td>
            </tr>
        </table>
        