<table border="0" cellpadding="10" cellspacing="0" style="width: 650px; background: #FFF;
    font-size: 10.5pt; line-height: 20px;">
    <tr>
        <td>
            <p style="margin: 10px 0 10px 0; text-align: center; font-size: 20px; font-family: '微软雅黑';
                font-weight: bold; color: #FF4E00;">
                订单评论提醒</p>
            <p style="margin: 0 0 10px 0;">
                尊敬的泰隆优选会员
                <%=CustomerID %>：
            </p>
            <p style="margin: 0 0 10px 0; text-indent: 2em;">
                欢迎您来泰隆优选购物！您的订单出库了。您可以到商品详细页面对商品进行评论，到时我们将有积分赠送惊喜送给您，先到先得哈！！
            </p>
            <p style="margin: 0 0 10px 0; text-indent: 2em;">
                您的订单编号：<strong style="color: #FF4E00;"><%=SOID %></strong>&nbsp;&nbsp;&nbsp;订单时间：<%=OrderTime%>
            </p>
        </td>
    </tr>
</table>
