Dear All:
<br/>
订单号：<%=SOSysNo%> 
<br/>
需要处理：客户来电无法正常接收货品，故致电要求作废订单，订单目前待出库，请协助拦截，谢谢！
<br/>
<table border="1">
  <tr>
    <td>订单编号</td>
    <td>客户编号</td>
    <td>订单日期</td>
    <td>审单时间</td>
    <td>出库时间</td>
    <td>订单金额</td>
    <td>支付方式</td>
  </tr>
  <tr>
    <td><%=SOSysNo%></td>
    <td><%=CustomerSysNo%></td>
    <td><%=OrderDate%></td>
    <td><%=AuditTime%></td>
    <td><%=OutStockTime%></td>
    <td><%=SOTotalAmount%></td>
    <td><%=PayType%></td>
  </tr>
</table>
<br/>
<span style='float:right' ><%=UserSysNo%><span/>