<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataAccess" type="Nesoft.Utility.DataAccess.Database.Config.DataAccessSection, Nesoft.Utility.DataAccess" />
    <section name="log" type="Nesoft.Utility.LogSection, Nesoft.Utility" />
  </configSections>
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />
  <appSettings>
    <!--Job每次运行，处理的CallLog条数-->
    <add key="BatchProcessLogCount" value="100"/>
    <add key="MaxRetryCount" value="10"/>
  </appSettings>
</configuration>