<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <add key="Product_SINGLE_SUBCATEGORY_DMSID_SEED" value="400000000"/>
  <add key="Product_SINGLE_BRAND_STORE_DMSID_SEED" value="800000000"/>
  <add key="Product_SINGLE_COUNTYR_DMSID_SEED" value="500000000"/>
  <add key="Product_SINGLE_STORECATE_DMSID_SEED" value="600000000"/>

  <add key ="Product_ProductWarnInventory"  value="10"/>

  <add key="Product_PointExhangeRate" value="100" />

  <add key="Product_BankPointExhangeRate" value="100" />

  <add key="Product_AdditionalText" value="感谢您对泰隆优选的关注与支持，祝您购物愉快！" />
  
</appSettings>