<?xml version="1.0" encoding="utf-8" ?>
<MessageResource>
  <MessageList>
    <Message name="/Resources/themes/default/images/modal/op_information.gif">/Resources/themes/default/images/modal/op_query.gif</Message>
    <Message name="/Resources/themes/default/Nest/img/img_join_flow.png">/Resources/themes/default/Nest/img/img_join_flow.png</Message>
  </MessageList>
</MessageResource>
