@using ECommerce.Service.Common
@{
    var strSysNo = Request.QueryString["SysNo"];
    int nSysNo;
    int.TryParse(strSysNo, out nSysNo);
    var newsInfo = NewsService.GetNewsInfo(nSysNo);
}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption" style="text-align:center; width:100%">
            @Html.Raw(newsInfo.Title)
        </div>

    </div>
    <div class="portlet-body">
        @Html.Raw(newsInfo.Content)
    </div>
</div>
