<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
    </sectionGroup>
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config" />
    <logSettings localRegionName="OrderMgmt" />
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config" />
  </oversea>
  <appSettings>
    <add key="APIQA" value="http://api.trainer.kjb2c.com/dsapi/dsapi.do" />
    <add key="APIPRD" value="https://api.kjb2c.com/dsapi/dsapi.do" />
    <add key="userid" value="overseasie" />
    <add key="PassWord" value="ee198579-ca0f-4442-ac8d-22fcd8580f0c" />
    <add key="msgtype" value="cnec_jh_decl_byupdatetime" />
    <!--北仑保税区-->
    <add key="customs" value="3105" />
    <!--电商企业代码-->
    <add key="CustomsCode" value="3302461504" />
    <!--电商企业名称-->
    <add key="OrgName" value="宁波摩西电子商务有限公司" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>