<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="TimeRange" selectAppendItem="请选择" allAppendItem="全部">
    <item code="1" name="上午"/>
    <item code="2" name="下午"/>
  </codeNamePair>
  <codeNamePair key="Compare">
    <item code="Greater" name="&gt;"/>
    <item code="Equal" name="="/>
    <item code="Less" name="&lt;"/>
  </codeNamePair>

  <codeNamePair key="EmailEnum">
    <item code="RMARefundStatus-Abandon" name="作废"/>
    <item code="RMARefundStatus-WaitingRefund" name="待退款"/>
    <item code="RMARefundStatus-Refunded" name="已退款"/>
    <item code="RMARefundStatus-WaitingAudit" name="待审核"/>
    <item code="RMARevertStatus-Abandon" name="作废"/>
    <item code="RMARevertStatus-WaitingRevert" name="待发还"/>
    <item code="RMARevertStatus-Reverted" name="已发还"/>
    <item code="RMARevertStatus-WaitingAudit" name="待审核"/>

  </codeNamePair>
  <codeNamePair key="ShippingPackStyle">
    <item code="0" name="塑封袋"/>
    <item code="1" name="纸箱"/>
  </codeNamePair>
  <codeNamePair key="ShipTypeEnum">
    <item code="0" name="OZZO奥硕物流"/>
    <item code="1" name="市内自提"/>
    <item code="2" name="仓库自提"/>
    <item code="3" name="第三方物流"/>
  </codeNamePair>
  <codeNamePair key="DeliveryType">
    <item code="0" name="不指定预约时间"/>
    <item code="1" name="一日一送"/>
    <item code="2" name="一日两送"/>
    <item code="3" name="工作日和双休日配送"/>
    <item code="4" name="一日六送"/>
  </codeNamePair>
  <codeNamePair key="ControlPanelDept">
    <item name="产品部" code="100"/>
    <item name="客服部" code="101"/>
    <item name="资讯管理部" code="102"/>
    <item name="市场部" code="103"/>
    <item name="财务部" code="104"/>
    <item name="售后服务部" code="106"/>
    <item name="其他部门" code="108"/>
  </codeNamePair>
  <codeNamePair key="DeliveryDayRangeType">
    <item code="A" name="工作日和双休日均可配送"/>
    <item code="N" name="工作日配送"/>
    <item code="W" name="双休日配送"/>
  </codeNamePair>

  <codeNamePair key="BizObjectType">
    <item code="Product" name="商品"/>
    <item code="Merchant" name="商家"/>
  </codeNamePair>
  
</codeNamePairList>