<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="SystemAccount" >
    <!--<item code="175294" name="PM-价保积分" />
    <item code="602955" name="Fin-公关福利积分" />
    <item code="602957" name="Fin-销售积分" />
    <item code="705571" name="CS-补偿性积分" />
    <item code="236735" name="MKT-校园大使积分" />
    <item code="705545" name="Seller-Depreciation" />
    <item code="705569" name="MKT-Promotion" />
    <item code="602951" name="MKT-Alipay" />
    <item code="713213" name="VIP-For 嘉实多"/>-->

    <item code="123" name="MKT-客户评论积分" />
    <item code="125" name="Fin-销售积分" />
    <item code="126" name="MKT-活动积分" />
    <item code="147" name="MKT-手机验证积分" />
    <item code="148" name="MKT-邮箱验证积分" />
  </codeNamePair>

  <codeNamePair key="OwnByDepartment" >
    <item code="1" name="PM" />
    <item code="2" name="MKT" />
    <item code="3" name="CS" />
    <item code="4" name="RMA" />
    <item code="5" name="配送" />
    <item code="6" name="内仓" />
    <item code="7" name="财务" />
    <item code="8" name="平台技术类" />
    <item code="9" name="其它" />
  </codeNamePair>
  <!--**************加积分申请 - 原因**************开始-->
  <codeNamePair key="ReasonForSystemAccountCode_123" >
    <item code="16" name="商品评论积分" />
  </codeNamePair>
  <codeNamePair key="ReasonForSystemAccountCode_125" >
    <item code="45" name="用于出售的积分" />
  </codeNamePair>
  <codeNamePair key="ReasonForSystemAccountCode_126" >
    <item code="63" name="市场活动积分" />
  </codeNamePair>
  <codeNamePair key="ReasonForSystemAccountCode_147" >
    <item code="80" name="手机验证积分" />
  </codeNamePair>
  <codeNamePair key="ReasonForSystemAccountCode_148" >
    <item code="81" name="邮箱验证积分" />
  </codeNamePair>
  
  <codeNamePair key="ReasonForSystemAccountCode_175294" >
    <item code="37" name="客户多付款-产品调价" />
    <item code="37" name="VIP客户返利" />
    <item code="37" name="价格举报" />
    <item code="37" name="其他调整" />
  </codeNamePair>
  <codeNamePair key="ReasonForSystemAccountCode_602957" >
    <item code="45" name="用于出售的积分" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_602955" >
    <item code="43" name="礼品卡充积分" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_236735" >
    <item code="51" name="校园代理佣金" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_705569" >
    <item code="63" name="MKT-Promotion" />
  </codeNamePair>
  <codeNamePair key="ReasonForSystemAccountCode_602951" >
    <item code="64" name="MKT-Alipay" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_705545" >
    <item code="62" name="产品资料问题" />
    <item code="62" name="产品质量问题" />
    <item code="62" name="配送延迟"/>
    <item code="62" name="发货错误-少发漏发错发" />
    <item code="62" name="售后运费返积分" />
    <item code="62" name="客户多付款-产品调价" />
    <item code="62" name="其他调整" />
  </codeNamePair>
  <codeNamePair key="ReasonForSystemAccountCode_713213" >
    <item code="66" name="嘉实多转积分" />
  </codeNamePair>
  <!--**************加积分申请 - 原因**************结束-->
  <!--**********责任部门 - 原因 ****开始******-->
  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_1" >
    <item code="36" name="产品资料问题" />
    <item code="36" name="产品质量问题" />
    <item code="36" name="产品备货延迟" />
    <item code="36" name="赠品问题" />
    <item code="36" name="其它产品问题" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_2" >
    <item code="36" name="产品资料问题" />
    <item code="36" name="网页信息错误" />
    <item code="36" name="市场活动引起的积分" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_3" >
    <item code="36" name="客服失误-服务态度" />
    <item code="36" name="客服失误-服务基本技能" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_4" >
    <item code="36" name="RMA失误补偿积分" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_5" >
    <item code="36" name="配送失误-市内快递" />
    <item code="36" name="配送失误-外地物流" />
    <item code="36" name="合单配送-运费转积分" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_6" >
    <item code="36" name="内仓失误-少发漏发错发" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_7" >
    <item code="36" name="财务失误-退款延误或错误" />
    <item code="36" name="财务失误-其它" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_8" >
    <item code="36" name="系统，IT，停电等原因造成的补偿积分" />
  </codeNamePair>

  <codeNamePair key="ReasonForSystemAccountCode_OwnByDepartmentCode_9" >
    <item code="36" name="其它-客户建议奖励积分等" />
  </codeNamePair>
  <!--**********责任部门 - 原因 ***结束*******-->


  <codeNamePair key="CustomerRightType" >
    <item code="1" name="每日下未审核订单最大数目" />
    <item code="2" name="免打包费" />
    <item code="3" name="免廉价运费" />
    <item code="4" name="免高价运费(目前只有EMS)" />
    <item code="5" name="允许积分支付和优惠券同时使用" />
    <item code="6" name="推荐订单优惠设置---运费优惠转积分" />
    <item code="7" name="推荐订单优惠设置---赠送优惠券" />
    <item code="8" name="推荐订单优惠设置---赠送积分" />
  </codeNamePair>

  <!--CSToolBox Begin-->
  <codeNamePair key="KeyWordType" >
    <!--关键字-->
    <item code="CA" name="地址" />
    <item code="CP" name="电话" />
    <item code="CN" name="联系人" />
  </codeNamePair>

  <codeNamePair key="AmountType" >
    <!--订单金额上限-->
    <item code="1AL" name="四钻会员以下" />
    <item code="2AL" name="四钻会员及以上" />
    <item code="3AL" name="五钻会员及以上" />
    <item code="4AL" name="六钻会员及以上" />
    <item code="5AL" name="七钻会员及以上" />
  </codeNamePair>
  <codeNamePair key="FPType" >
    <!--FP状态-->
    <item code="KY" name="可疑订单" />
    <item code="CH" name="串货订单" />
    <item code="CC" name="炒货订单" />
    <item code="CF" name="重复订单" />
  </codeNamePair>
  <codeNamePair key="CustomerType" >
    <!--客户类型-->
    <item code="ZC" name="正常" />
    <item code="KY" name="可疑" />
    <item code="QZ" name="欺诈" />
  </codeNamePair>
  <codeNamePair key="DistributionServiceType" >
    <!--配送服务类型-->
    <item code="DT11" name="一日一送" />
    <item code="DT12" name="一日两送" />
  </codeNamePair>
  <!--来电记录-来源-->
  <codeNamePair key="RecordOrigion" >
    <item code="0" name="客户呼入"></item>
    <item code="5" name="在线客户"></item>
    <item code="1" name="客服呼出"></item>
    <item code="2" name="短信联系客户"></item>
    <item code="3" name="邮件联系客户"></item>
    <item code="4" name="其它途径"></item>
  </codeNamePair>

  <!--顾客预付款核对-单据类型-->
  <codeNamePair key="PrepayType">
    <item  name="SO" code="1"/>
    <item name="RO" code="2"/>
    <item  name="AO" code="3"/>
    <item  name="RO_Banlance" code="4"/>
    <item  name="多付款退款单" code="5"/>
  </codeNamePair>

  <!--退款申请-退款方式-->
  <codeNamePair key="RefundType">
    <item name="余额帐户" code="P"></item>
    <item name="银行卡" code="C"></item>
    <item name="原支付方式" code="O"></item>
  </codeNamePair>


  <codeNamePair key="SMSType">
    <item  name="订单作废" code="3"/>
    <item  name="订单出库" code="1"/>
    <!--<item  name="订单审核" code="0"/>-->
    <!--<item  name="订单到达" code="2"/>-->
  </codeNamePair>
  <!--CSToolBox  End-->

  <codeNamePair key="CompanyCustomer">
    <item  name="泰隆优选(默认)" code="0"/>
    <item  name="AstraZeneca用户" code="1"/>
  </codeNamePair>

  <codeNamePair key="AdjustPointType">
    <item  name="积分作废" code="-1"/>
    <item  name="Email确认" code="1"/>
    <item  name="老客户回馈" code="2"/>
    <item  name="生成订单" code="3"/>
    <item  name="作废订单" code="5"/>
    <item  name="作废订单取消" code="6"/>
    <item  name="退货" code="7"/>
    <item  name="取消退货" code="8"/>    
    <item  name="取消出库" code="9"/>
    <item  name="积分转移" code="10"/>
    <item  name="购物得分" code="11"/>
    <item  name="订单修改" code="12"/>
    <item  name="批发扣除" code="13"/>
    <item  name="买卡" code="14"/>
    <item  name="其他" code="15"/>
    <item  name="商品评论送积分" code="16"/>
    <item  name="注册送积分" code="17"/>
    <item  name="DIY活动积分增减" code="18"/>
    <item  name="系统转移积分" code="19"/>
    <item  name="系统帐号增加积分" code="20"/>
    <item  name="参加竞猜" code="21"/>    
    <item  name="竞猜所得" code="22"/>
    <item  name="新用户第一次购物赠送积分" code="23"/>
    <item  name="自动提升精华赠送积分" code="24"/>
    <item  name="促销活动送积分" code="25"/>
    <item  name="运费促销活动增减积分" code="26"/>
    <item  name="支付宝直接支付送积分" code="27"/>
    <item  name="优惠券5.8元兑换25个泰隆优选积分" code="28"/>
    <item  name="理光转积分" code="29"/>
    <item  name="黄金会员以上RMA收货送积分" code="30"/>
    <item  name="黄金会员以上RMA取消收货回收积分" code="31"/>
    <item  name="作废订单加积分" code="32"/>
    <item  name="取消作废订单加积分" code="33"/>
    <item  name="退货产生积分收支额" code="34"/>
    <item  name="销售折扣与折让" code="35"/>
    <item  name="补偿性积分" code="36"/>
    <item  name="客户多付款－产品调价" code="37"/>
    <item  name="VIP客户送积分" code="38"/>
    <item  name="多汇款转积分" code="39"/>
    <item  name="AO单转积分" code="40"/>
    <item  name="RMA邮资系统自动转积分" code="41"/>
    <item  name="RMA邮资手动转积分" code="42"/>
    <item  name="礼品卡充积分" code="43"/>
    <item  name="退货现金转积分" code="44"/>
    <item  name="用于出售的积分" code="45"/>
    <item  name="公关礼券" code="46"/>
    <item  name="员工福利" code="47"/>
    <item  name="元宵活动" code="48"/>
    <item  name="盛大积分兑换" code="49"/>
    <item  name="校园推广送积分" code="50"/>
    <item  name="校园代理佣金" code="51"/>
    <item  name="泰隆优选商家评论积分" code="61"/>
    <item  name="泰隆优选商家折扣积分" code="62"/>
    <item  name="MKT-Promotion" code="63"/>
    <item  name="MKT-alipay" code="64"/>
    <item  name="团购抽奖消费" code="65"/>
    <item  name="嘉实多手工转积分" code="66"/>
    <item  name="手机验证" code="80"/>
    <item  name="邮箱验证" code="81"/>
  </codeNamePair>  
</codeNamePairList>