<?xml version="1.0"?>
<codeNamePairList>
  <!--EIMS-->
  <!--综合报表-->
  <codeNamePair key="EIMSType">
    <item name="市场发展基金(MDF)" code="101" />
    <item name="合同返利(VIR)" code="102" />
    <item name="商品管理等费用(Co-op)" code="103" />
    <item name="销售返点(SR)" code="104" />
    <item name="价保(PP)" code="105" />
    <item name="日常进货奖励(POR)" code="106" />
    <item name="市场活动专项费(MKT)" code="130" />
    <item name="现金返点(CR)" code="131" />
    <item name="运费返利(FRF)" code="133" />
  </codeNamePair>
  <codeNamePair key="ReceivedType">
    <item name="采购单扣减" code="0" />
    <item name="现金" code="1" />
    <item name="帐扣" code="2" />
    <item name="代销结算单扣减" code="3" />
    <item name="票扣" code="4" />
  </codeNamePair>
  <codeNamePair key="InvoiceStatus">
    <item name="全部收到(关闭)" code="F" />
    <item name="手动关闭" code="M" />
    <item name="打开" code="O" />
    <item name="作废" code="V" />
  </codeNamePair>
  <codeNamePair key="RuleStatus">
    <item name="编辑锁定" code="B" />
    <item name="自动关闭" code="C" />
    <item name="手动关闭" code="M" />
    <item name="打开" code="O" />
    <item name="作废" code="V" />
  </codeNamePair>
  <codeNamePair key="SettleType">
    <item name="手动" code="M"/>
    <item name="自动" code="A"/>
  </codeNamePair>
  <codeNamePair key="BillingCycle">
    <item name="手工结算" code="101"/>
    <item name="每周" code="102"/>
    <item name="每月" code="103"/>
    <item name="每季" code="104"/>
    <item name="每年" code="105"/>
  </codeNamePair>
  <codeNamePair key="DayOfWeek">
    <item name="星期日" code="0"/>
    <item name="星期一" code="1"/>
    <item name="星期二" code="2"/>
    <item name="星期三" code="3"/>
    <item name="星期四" code="4"/>
    <item name="星期五" code="5"/>
    <item name="星期六" code="6"/>
  </codeNamePair>
  <codeNamePair key="RebateBaseType">
    <item name="采购金额" code="001"/>
    <item name="采购数量" code="002"/>
    <item name="代销金额" code="003"/>
    <item name="代销数量" code="004"/>
    <item name="销售数量" code="005"/>
    <item name="库存数量" code="006"/>
    <item name="代销金额" code="007"/>
  </codeNamePair>
  <codeNamePair key="FormStatus">
    <item name="未录入" code="未录入"/>
    <item name="已录入" code="已录入"/>
  </codeNamePair>
  <codeNamePair key="IsSAPImported">
    <item name="未上传" code="N"/>
    <item name="已上传" code="Y"/>
  </codeNamePair>
  <codeNamePair key="TaxRate">
    <item name="17%" code="0.17"/>
    <item name="6%" code="0.06"/>
    <item name="5%" code="0.05"/>
  </codeNamePair>
  <!--EIMS END-->
  <!--Vendor-->
  <codeNamePair key="VendorSystemLogType">
    <item name="Error" code="Error" />
    <item name="Info" code="Info" />
    <item name="Debug" code="Debug" />
    <item name="Warn" code="Warn" />
    <item name="Trace" code="Trace" />
  </codeNamePair>
  <!--Vendor END-->
 </codeNamePairList>
