<?xml version="1.0"?>
<codeNamePairList>
  <!--礼品卡的制作状态-->
  <codeNamePair key="GiftCardFabricationStatus">
    <item name="初始" code="0"/>
    <item name="导出制卡" code="1"/>
    <item name="作废" code="-1"/>
    <item name="PO入库" code="-2"/>
  </codeNamePair>
  <codeNamePair key="ProductConsignFlag">
    <item name="非代销" code="0"/>
    <item name="代销" code="1"/>
    <!--<item name="临时代销" code="2"/>-->
      <item name="代收代付" code="4"/>
  </codeNamePair>

  <codeNamePair key="Product_Orgin">
    <item name="中国" code="CH"/>
    <item name="日本" code="JP"/>
    <item name="香港" code="HK"/>
  </codeNamePair>
  
</codeNamePairList>