<?xml version="1.0"?>
<codeNamePairList>
  <!--分仓-->
  <codeNamePair key="StockInfo">
    <item name="整网" code="-999"/>
    <item name="日本仓" code="51"/>
    <item name="香港仓" code="52"/>
    <item name="上海仓" code="53"/>
  </codeNamePair>

  <codeNamePair key="StockDay">
    <item name="10" code="10"/>
    <item name="15" code="15"/>
    <item name="自定义" code="-999"/>
  </codeNamePair>

  <codeNamePair key="ProductConsignFlag">
    <item name="所有" code="-999"/>
    <item name="非代销" code="0"/>
    <item name="代销" code="1"/>
  </codeNamePair>

  <codeNamePair key="InventoryStockCenter_OrderBy">
    <item name="系统编号" code="0"/>
    <item name="Item#" code="1"/>
    <item name="总可用库存" code="2"/>
    <item name="总代销库存" code="3"/>
    <item name="总虚库库存" code="4"/>
    <item name="中转仓库存" code="5"/>
    <item name="成本" code="6"/>
    <item name="D1" code="7"/>
    <item name="D123" code="8"/>
    <item name="W1" code="9"/>
    <item name="W2" code="10"/>
    <item name="M1" code="11"/>
    <item name="泰隆优选价格" code="12"/>
    <item name="是否代销" code="13"/>

  </codeNamePair>

  <codeNamePair key="ShiftShippingType">
    <item name="紧急移仓-空运" code="紧急移仓-空运"/>
    <item name="普通移仓-每周五陆运移出" code="普通移仓-每周五陆运移出"/>
  </codeNamePair>


  <codeNamePair key="StockShiftConfigShippingType">
    <item name="普通移仓" code="0"/>
    <item name="紧急移仓" code="1"/>
  </codeNamePair>

  <codeNamePair key="VirtualRequestType">
    <item name="接受预定(保税区：2-3个工作日备货)" code="0"/>
    <item name="接受预定(境外：10个工作日备货)" code="1"/>
  </codeNamePair>

  <codeNamePair key="ProductCenterSortByField">
    <item name="系统编号" code="ItemSysNumber"/>
    <item name="商品编号" code="P.ProductID"/>
    <item name="总可用库存" code="VUI.AllAvailableQty"/>
    <item name="总代销库存" code="VUI.ConsignQty"/>
    <item name="总虚库库存" code="VUI.VirtualQty"/>
    <item name="中转仓库存" code="IST50.TransferStockQty"/>
    <item name="成本" code="PP.UnitCost"/>
    <item name="D1" code="IBM.D1"/>    
    <item name="W1" code="IBM.W1"/>
    <item name="W2" code="IBM.W2"/>
    <item name="M1" code="IBM.M1"/>
    <item name="泰隆优选价格" code="PP.CurrentPrice"/>
    <item name="是否代销" code="P.IsConsign"/>
  </codeNamePair>

  <codeNamePair key="InventoryCardOrderType">
    <item name="PO单(InStock)" code="0"/>
    <item name="PO单(InStock)_Task" code="0_"/>
    <item name="PO-Return(InStock)" code="1"/>
    <item name="PO-Return(InStock)_Task" code="1_"/>
    <item name="PO-History-Return(InStock)" code="2"/>
    <item name="PO-调价(InStock)" code="3"/>
    <item name="借货单" code="4"/>
    <item name="借货单(Return)" code="5"/>
    <item name="SO单" code="6"/>
    <item name="转换单" code="7"/>
    <item name="移仓单(移出)" code="8"/>
    <item name="移仓单(移入)" code="9"/>
    <item name="损益单" code="10"/>
    <item name="RMA单(OutStock)" code="11"/>
    <item name="RMA单(Return)" code="12"/>
    <item name="Balance" code="13"/>
    <item name="移仓单(正)" code="14"/>
    <item name="移仓单(负)" code="15"/>
    <item name="移仓单(PO直接生成)" code="16"/>
    <item name="RMA单(调新品)" code="17"/>
    <item name="RMA-OPC单(IT/RT)" code="18"/>
    <item name="OPC-RMA单" code="19"/>
    <item name="PO单(负)" code="20"/>
    <item name="RMA换发单(原产品)" code="21"/>
    <item name="RMA换发单(转换正常品)" code="22"/>
    <item name="RMA换发单(转换二手品)" code="23"/>    
  </codeNamePair>

  <codeNamePair key="InventoryCompanyName">
    <item name="上海分公司" code="3270"/>
    <item name="北京分公司" code="3271"/>
    <item name="广州分公司" code="3272"/>
    <item name="武汉分公司" code="3274"/>
    <item name="成都分公司" code="3273"/>
  </codeNamePair>
  
  <codeNamePair key="StockAge">
    <item name="1个月内" code="1"/>
    <item name="1~2个月" code="2"/>
    <item name="2~3个月" code="3"/>
    <item name="3~6个月" code="4"/>
    <item name="6~9个月" code="5"/>
    <item name="9~12个月" code="6"/>
    <item name="1~2年" code="7"/>
    <item name="2~3年" code="8"/>
    <item name="3年以上" code="9"/>
  </codeNamePair>
</codeNamePairList>