<?xml version="1.0"?>
<codeNamePairList>  

   <!--InvoiceComeFromType-->
  <codeNamePair key="InvoiceInputComeFrom">
    <item name="泰隆优选财务" code="0"/>
    <item name="Vendor Portal" code="1"/>
  </codeNamePair>

  <codeNamePair key="InvoiceInputDealType">
    <item name="核对一致" code="0"/>
    <item name="少开发票含10元以内，费用化" code="1"/>
    <item name="多开发票含10元以内，费用化" code="2"/>
    <item name="少开发票,税金差异挂账" code="3"/>
    <item name="多开发票,税金差异挂账" code="4"/>
  </codeNamePair>

  <!--
    发票明细表查询-单据类型配置
  -->
  <codeNamePair key="InvoiceDetailReportOrderType">
    <item name="SO" code="SO"/>
    <item name="RO" code="RO"/>
    <item name="移仓单" code="SHIFT"/>
  </codeNamePair>

  <!--
    发票明细表查询-发票类型配置
  -->
  <codeNamePair key="InvoiceDetailReportInvoiceType">
    <item name="增票" code="0"/>
    <item name="普票" code="2"/>
  </codeNamePair>

  <!--
    发票明细表查询-分仓配置
  -->
  <codeNamePair key="InvoiceDetailReportStockList-8601">
    <item name="上海" code="51"/>
    <item name="北京" code="52"/>
    <item name="广州" code="53"/>
    <item name="成都" code="54"/>
    <item name="武汉" code="55"/>
    <item name="西安" code="56"/>
  </codeNamePair>

  <!--
    发票打印-分仓配置
  -->
  <codeNamePair key="InvoicePrintStockList-8601">
    <item name="上海仓" code="51,59"/>
    <item name="虚拟仓" code="90"/>
    <item name="宝山仓(商)" code="99"/>
  </codeNamePair>

  <!--
    订单是否是增票订单，true-增票；false-普票
  -->
  <codeNamePair key="SOIsVAT">
    <item name="增票" code="1"/>
    <item name="普票" code="0"/>
  </codeNamePair>

  <!--
    审核状态
  -->
  <codeNamePair key="AuditStatus">
    <item name="待审核" code="O"/>
    <item name="待财务审核" code="F"/>
    <item name="已审核" code="A"/>
  </codeNamePair>
  <!--
    供应商账期
  -->
  <codeNamePair key="VendorPayPeriod">
    <item code="5" name="货到当天，且票到"/>
    <item code="2" name="货到付款"/>
    <item code="27" name="货到后10天，且票到"/>
    <item code="23" name="货到后14天"/>
    <item code="8" name="货到后14天，且票到"/>
    <item code="20" name="货到后18天，且票到"/>
    <item code="24" name="货到后20天"/>
    <item code="21" name="货到后20天，且票到"/>
    <item code="28" name="货到后25天，且票到"/>
    <item code="41" name="货到后2天 且票到"/>
    <item code="3" name="货到后2天(*)"/>
    <item code="9" name="货到后30天，且票到" />
    <item code="25" name="货到后3天"/>
    <item code="6" name="货到后3天，且票到" />
    <item code="22" name="货到后45天，且票到"/>
    <item code="42" name="货到后4天 且票到"/>
    <item code="43" name="货到后5天 且票到"/>
    <item code="47" name="货到后60天 且票到"/>
    <item code="44" name="货到后6天 且票到"/>
    <item code="26" name="货到后7天"/>
    <item code="7" name="货到后7天，且票到"/>
    <item code="45" name="货到后8天 且票到"/>
    <item code="46" name="货到后9天 且票到"/>
    <item code="4" name="货到后每周一(*)"/>
    <item code="13" name="货与票都到后15天(*)"/>
    <item code="15" name="货与票都到后20天(*)"/>
    <item code="14" name="货与票都到后30天(*)"/>
    <item code="17" name="货与票都到后45天(*)"/>
    <item code="16" name="货与票都到后7天(*)"/>
    <item code="18" name="货与票都到后当天(*)"/>
    <item code="51" name="款到发货（银行汇票60天）"/>
    <item code="52" name="款到发货（银行汇票90天）"/>
    <item code="1" name="款到发货（预付）"/>
    <item code="11" name="每月10日及25日，且票到(*)"/>
    <item code="10" name="每月25日，且票到(*)"/>
    <item code="19" name="月结"/>
    <item code="62" name="票到后10天"/>
    <item code="63" name="票到后14天"/>
    <item code="64" name="票到后15天"/>
    <item code="65" name="票到后18天"/>
    <item code="66" name="票到后20天"/>
    <item code="67" name="票到后25天"/>
    <item code="54" name="票到后2天"/>
    <item code="68" name="票到后30天"/>
    <item code="55" name="票到后3天"/>
    <item code="69" name="票到后45天"/>
    <item code="56" name="票到后4天"/>
    <item code="57" name="票到后5天"/>
    <item code="70" name="票到后60天"/>
    <item code="58" name="票到后6天"/>
    <item code="59" name="票到后7天"/>
    <item code="60" name="票到后8天"/>
    <item code="61" name="票到后9天"/>
    <item code="53" name="票到后当天"/>
    <item code="31" name="半月结，每月10/25日，且票到"/>
    <item code="12" name="手动结算"/>
    <item code="30" name="月结，每月10日，且票到"/>
    <item code="29" name="月结，每月25日，且票到"/>
    <item code="71" name="手动结算"/>
    <item code="72" name="月结，每月25日，且票到"/>
    <item code="73" name="月结，每月10日，且票到"/>
    <item code="74" name="半月结，每月10/25日，且票到"/>
  </codeNamePair>
  <!--
    单据类型
  -->
  <codeNamePair key="OrderType">
    <item code="0" name="PO"/>
    <item code="1" name="VendorSettleOrder"/>
    <item code="2" name="FinanceSettleOrder"/>
    <item code="3" name="BalanceOrder"/>
    <item code="4" name="POTempConsign"/>
    <item code="5" name="POAdjust"/>
    <item code="6" name="现金"/>
    <item code="7" name="票扣"/>
    <item code="8" name="帐扣"/>
    <item code="9" name="RMA供应商退款"/>
    <item code="10" name="代收结算单"/>
    <item code="11" name="佣金帐扣"/>
  </codeNamePair>
  <!--
    单据状态
  -->
  <codeNamePair key="OrderStatus">
    <item code="1" name="未出单"/>
    <item code="2" name="已出单"/>
    <item code="3" name="已关闭"/>
  </codeNamePair>
  <!--
    发票状态
  -->
  <codeNamePair key="InvoiceStatus">
    <item code="0" name="N/A"/>
    <item code="1" name="不完整"/>
    <item code="2" name="完整"/>
  </codeNamePair>
  <!--供应商属性-->
  <codeNamePair key="VendorType">
    <item code="0" name="经销"/>
    <item code="1" name="代销"/>
    <item code="3" name="代收"/>
    <item code="4" name="代收代付"/>
  </codeNamePair>
  <!--商品类别-->
  <codeNamePair key="ProductType">
    <item name="液晶电视" code="712"/>
    <item name="等离子电视" code="990"/>
    <item name="挂壁式空调" code="996"/>
    <item name="柜式空调" code="991"/>
    <item name="窗式空调" code="992"/>
    <item name="冰箱" code="1027,1028,1029,1030,1031"/>
    <item name="洗衣机" code="1024,1025,1066"/>
    <item name="电脑" code="970,976,1051,997,978,1038,870"/>
  </codeNamePair>
  <codeNamePair key="OldChangeNewStatus">
    <item name="拒绝审核" code="-2"/>
    <item name="作废" code="-1"/>
    <item name="初始" code="0"/>
    <item name="提交审核" code="1"/>
    <item name="审核通过" code="2"/>
    <item name="退款" code="3"/>
    <item name="关闭" code="4"/>
  </codeNamePair>
  <codeNamePair key="DocumentType">
    <item name="XT--移仓单" code="XT"/>
    <item name="XI--客户SO" code="XI"/>
    <item name="XD--客户付款" code="XD"/>
    <item name="XJ--客户RO" code="XJ"/>
    <item name="XE--客户RO退款" code="XE"/>
    <item name="XO--MKT Place SO" code="XO"/>
    <item name="XZ--MKT Place RO" code="XZ"/>
    <item name="XU--供应商采购订单" code="XU"/>
    <item name="XV--供应商发票" code="XV"/>
    <item name="XM--EIMS" code="XM"/>
    <item name="XN--MKT Place AP" code="XN"/>
  </codeNamePair>
  <!--银联支付方式-->
  <codeNamePair key="ChinaPayPayTypeList">
    <item name="招商银行（银联支付）" code="8"></item>
    <item name="中国工商银行（银联支付）" code="9"></item>
    <item name="中国建设银行（银联支付）" code="14"></item>
    <item name="中国银行（银联支付）" code="38"></item>
    <item name="交通银行（银联支付）" code="40"></item>
    <item name="中国农业银行（银联支付）" code="44"></item>
    <item name="银联支付" code="65"></item>
    <item name="东方支付" code="111"></item>
    <item name="财付通" code="114"></item>
    <item name="支付宝" code="112"></item>
    <!--200-299为环迅支付-->
    <item name="环讯支付" code="200"></item>
    <item name="泰隆银行（环讯支付）" code="201"></item>
    <item name="工商银行（环讯支付）" code="202"></item>
    <item name="建设银行（环讯支付）" code="203"></item>
    <item name="农业银行（环讯支付）" code="204"></item>
    <item name="招商银行（环讯支付）" code="205"></item>
    <item name="中国银行（环讯支付）" code="206"></item>
    <item name="浦发银行（环讯支付）" code="207"></item>
    <item name="交通银行（环讯支付）" code="208"></item>
    <item name="广发银行（环讯支付）" code="209"></item>
    <item name="民生银行（环讯支付）" code="210"></item>
    <item name="兴业银行（环讯支付）" code="211"></item>
    <item name="光大银行（环讯支付）" code="212"></item>
    <item name="中信银行（环讯支付）" code="213"></item>
    <item name="平安银行（环讯支付）" code="214"></item>
    <item name="邮储银行（环讯支付）" code="215"></item>
  </codeNamePair>
</codeNamePairList>
