<?xml version="1.0"?>
<codeNamePairList>
  <!--广告，新闻公告的主要投放区域,8601是公司编号，1是渠道编号-->
  <codeNamePair key="Area-8601-1-NewsAdv">
    <item name="上海" code="2622"/>
    <item name="北京" code="132"/>
    <item name="广州" code="404"/>
  </codeNamePair>

  <!--置顶商品管理的页面类型-->
  <!--PageType在CodeNamePair配置中Key的格式:PageType-{0}-{1}-{2}
      {0}代表companyCode
  `   {1}代表channelID
      {2}代表moduleType -->
  <codeNamePair key="PageType-8601-1-TopItem">
    <item name="中间类别页面" code="2"/>
    <item name="底层类别页面" code="3"/>
  </codeNamePair>

  <!--默认关键字的页面类型-->
  <codeNamePair key="PageType-8601-1-DefaultKeywords">
    <item name="首页" code="0"/>
    <item name="一级类别页面" code="1"/>
    <item name="二级类别页面" code="2"/>
    <item name="三级类别页面" code="3"/>
    <!--<item name="专卖店" code="4"/>
    <item name="寻宝专区" code="6"/>
    <item name="限时抢购" code="7"/>
    <item name="品牌首页" code="8"/>
    <item name="品牌旗舰店" code="9"/>-->
  </codeNamePair>

  <!--热门关键字的页面类型-->
  <codeNamePair key="PageType-8601-1-HotKeywords">
    <item name="首页" code="0"/>
    <item name="一级分类页面" code="1"/>
    <item name="二级分类页面" code="2"/>
    <item name="三级分类页面" code="3"/>
  </codeNamePair>

  <!--投票的页面类型-->
  <codeNamePair key="PageType-8601-1-Poll">
    <item name="首页" code="0"/>
    <item name="标签类别页面" code="1"/>
    <item name="中间类别页面" code="2"/>
    <item name="底层类别页面" code="3"/>
    <item name="搜索结果页" code="4"/>
    <item name="Apple专区" code="5"/>
    <item name="DIY自助装机" code="35"/>
  </codeNamePair>

  <!--商品推荐的页面类型-->
  <codeNamePair key="PageType-8601-1-ProductRecommend">
    <item name="首页" code="0"/>
    <item name="一级栏目页面" code="1"/>
    <item name="二级栏目页面" code="2"/>
    <item name="三级类别页面" code="3"/>
    <item name="购物车" code="5000"/>
    <item name="团购页" code="6000"/>
    <!--<item name="名品汇品牌专属" code="6"/>
    <item name="名品汇类别专属" code="7"/>
    <item name="名品汇推荐专属" code="8"/>
    <item name="名品汇" code="9"/>
    <item name="所有新品" code="10"/>
    <item name="商店街页面" code="11"/>
    <item name="商家页面" code="12"/>
    <item name="Apple专区" code="13"/>
    <item name="爱车配" code="14" />
    <item name="吉林网姐首页" code="56" />
    <item name="礼品券首页" code="59" />
    <item name="东南亚特色商品馆" code="60" />-->
  </codeNamePair>
  <codeNamePair key="Page-8601-1-AppleZone">
    <item name="Apple新闻" code="1"/>
    <item name="Apple专区公告" code="2"/>
  </codeNamePair>
  <!--商品推荐位置－首页Domain-->
  <codeNamePair key="ProductRecommend-DomainList">
    <item name="大" code="100" />
    <item name="小" code="101" />
  </codeNamePair>

  <!--商品推荐位置－首页-->
  <codeNamePair key="ProductRecommend0">
    <item code="1001" name="首页热卖商品推荐" />
    <item code="1002" name="首页品牌商品推荐" />
    <item code="1003" name="首页折扣商品推荐" />
  </codeNamePair>

  <!--商品推荐位置－大类-->
  <codeNamePair key="ProductRecommend1">
    <item code="2001" name="大类-广告位右侧-本周推荐" />
    <item code="2002" name="大类-广告位下侧-新品上市" />
    <item code="2003" name="大类-广告位下侧-超值特惠" />
    <item code="2004" name="大类-左侧-热卖商品" />
  </codeNamePair>

  <!--商品推荐位置－中类-->
  <codeNamePair key="ProductRecommend2">
    <item code="4001" name="中类-广告位右侧-本周推荐" />
    <item code="4002" name="中类-左侧-热卖商品" />
  </codeNamePair>

  <!--商品推荐位置－小类-->
  <codeNamePair key="ProductRecommend3">
    <item code="3001" name="小类-左侧-热卖商品" />
  </codeNamePair>

  <!--商品推荐位置－品牌专卖-->
  <codeNamePair key="ProductRecommend4">
    <item code="4001" name="品牌专卖-新品上架" />

  </codeNamePair>

  <!--商品推荐位置－购物车-->
  <codeNamePair key="ProductRecommend5000">
    <item code="5001" name="购物车-页面底部-热卖推荐" />
  </codeNamePair>

  <!--商品推荐位置－名品汇品牌专属-->
  <codeNamePair key="ProductRecommend6">
    <item code="11" name="名品汇品牌专属--品牌专属1" />
    <item code="12" name="名品汇品牌专属--品牌专属2" />
    <item code="13" name="名品汇品牌专属--品牌专属3" />
    <item code="14" name="名品汇品牌专属--品牌专属4" />
  </codeNamePair>

  <!--商品推荐位置－名品汇类别专属-->
  <codeNamePair key="ProductRecommend7">
    <item name="名品汇类别专属--类别专属1" code="21" />
    <item code="22" name="名品汇类别专属--类别专属2" />
    <item code="23" name="名品汇类别专属--类别专属3" />
    <item code="24" name="名品汇类别专属--类别专属4" />
  </codeNamePair>

  <!--商品推荐位置－名品汇推荐专属-->
  <codeNamePair key="ProductRecommend8">
    <item name="名品汇推荐专属--推荐专属" code="31" />
  </codeNamePair>

  <!--商品推荐位置－名品汇-->
  <codeNamePair key="ProductRecommend9">
    <item name="名品汇--应季商品" code="41" />
    <item code="42" name="名品汇--节日商品1" />
    <item code="43" name="名品汇--节日商品2" />
    <item name="名品汇--主题商品" code="44" />
    <item code="45" name="名品汇--名品推荐" />
    <item code="46" name="名品汇--最新降价" />
    <item name="名品汇--名品汇新品1" code="47" />
    <item code="48" name="名品汇--名品汇新品2" />
    <item code="49" name="名品汇--名品汇新品3" />
    <item code="50" name="名品汇--名品汇新品4" />
  </codeNamePair>

  <!--商品推荐位置－所有新品-->
  <codeNamePair key="ProductRecommend10">
    <item name="所有新品--新品推荐" code="102" />
  </codeNamePair>

  <!--商品推荐位置－商店街页面-->
  <codeNamePair key="ProductRecommend11">
    <item name="商店街页面--商店街" code="103" />
  </codeNamePair>

  <!--商品推荐位置－商家页面-->
  <codeNamePair key="ProductRecommend12">
    <item name="商家页面--自定义项1" code="51" />
    <item name="商家页面--自定义项2" code="52" />
    <item name="商家页面--自定义项3" code="53" />
    <item name="商家页面--自定义项4" code="54" />
    <item name="商家页面--自定义项5" code="55" />
    <item name="商家页面--自定义项6" code="56" />
  </codeNamePair>

  <!--商品推荐位置－Apple专区-->
  <codeNamePair key="ProductRecommend13">
    <item code="60" name="Apple专区--限时抢购" />
    <item code="61" name="Apple专区--本周热销" />
    <item code="62" name="Apple专区--新品上架" />
    <item code="63" name="Apple专区--优惠组合" />
    <item code="64" name="Apple专区--原装专区" />
    <item code="65" name="Apple专区--果粉专享" />
    <item code="66" name="Apple专区--苹果夜市" />
  </codeNamePair>

  <!--商品推荐位置－爱车配-->
  <codeNamePair key="ProductRecommend14">
    <item name="爱车配—限时抢购" code="70" />
    <item name="爱车配—自定义1" code="71" />
    <item name="爱车配—自定义2" code="72" />
    <item name="爱车配—自定义3" code="73" />
    <item name="爱车配—汽车养护" code="74" />
    <item name="爱车配—汽车配件" code="75" />
    <item name="爱车配—汽车装饰" code="76" />
    <item name="爱车配—汽车电子" code="77" />
    <item name="爱车配—汽车安全" code="78" />
    <item name="爱车配—每日一款" code="79" />
  </codeNamePair>

  <!--商品推荐位置－吉林网姐-->
  <codeNamePair key="ProductRecommend56">
    <item code="500" name="精品推荐" />
    <item code="501" name="美容护肤" />
    <item code="502" name="时尚彩妆" />
    <item code="503" name="食品饮料" />
  </codeNamePair>

  <!--商品推荐位置－礼品券首页-->
  <codeNamePair key="ProductRecommend59">
    <item code="511" name="创意礼盒" />
    <item code="512" name="商务礼品" />
  </codeNamePair>

  <!--商品推荐位置－东南亚特色商品馆-->
  <codeNamePair key="ProductRecommend60">
    <item code="611" name="特色咖啡" />
    <item code="612" name="伴手礼" />
    <item code="613" name="橡胶制生活用品" />
  </codeNamePair>
  
  <!--商品推荐位置－团购页-->
  <codeNamePair key="ProductRecommend6000">
    <item code="6001" name="频道页右侧热销商品" />
  </codeNamePair>

  <!--商品推荐位置－品牌馆-->
  <codeNamePair key="ProductRecommend7000">
    <item code="7003" name="精品商品" />
    <item code="7004" name="推荐商品" />
    <item code="7005" name="热卖商品" />
  </codeNamePair>

  <!--begin-首页热销排行**************************-->
  <codeNamePair key="PageType-8601-1-HotSale">
    <item name="首页" code="0"/>
    <item name="名品汇页面" code="18"/>
    <item name="自助装机首页" code="34"/>
    <item name="品牌旗舰店" code="9"/>
  </codeNamePair>
  <!--首页热销排行位置-首页-->
  <codeNamePair key="HotSale0">
    <item name="RightMiddle1" code="44"/>
    <item name="RightMiddle2" code="45"/>
    <item name="RightMiddle3" code="46"/>
  </codeNamePair>
  <!--首页热销排行位置-名品汇页面-->
  <codeNamePair key="HotSale18">
    <item name="LeftMiddle1" code="24"/>
  </codeNamePair>
  <!--首页热销排行位置-自助装机首页-->
  <codeNamePair key="HotSale34">
    <item name="RightMiddle1" code="44"/>
  </codeNamePair>
  <!--首页热销排行位置-品牌旗舰店页面-->
  <codeNamePair key="HotSale9">
    <item name="LeftMiddle1" code="24"/>
  </codeNamePair>
  <!--end-首页热销排行**************************-->

  <!--订单金额等级：-->
  <codeNamePair key="SOAmtLevel">
    <item code="Z" name="0 【小于0 (包含0)】" />
    <item code="A" name="A 【0-100 (包含100)】" />
    <item code="B" name="B 【100-300(包含300)】" />
    <item code="C" name="C 【300-500(包含500)】" />
    <item code="D" name="D 【500-800(包含800)】" />
    <item code="E" name="E 【800-1000 (包含1000)】" />
    <item code="F" name="F 【1000-1500(包含1500)】" />
    <item code="G" name="G 【1500-2000(包含2000)】" />
    <item code="H" name="H 【2000-3000(包含3000)】" />
    <item code="I" name="I 【3000-5000 (包含5000)】" />
    <item code="J" name="J 【5000-8000(包含8000)】" />
    <item code="K" name="K 【8000-10000(包含10000)】" />
    <item code="L" name="L 【10000以上】" />
  </codeNamePair>
  <codeNamePair key="AdvEffectMonitorOperationType">
    <item code="用户注册" name="用户注册" />
    <item code="生成订单" name="生成订单" />
    <item code="生成分期单" name="生成分期单" />
    <item code="泰隆优选大使推荐订单" name="泰隆优选大使推荐订单" />
  </codeNamePair>
  <!--添加用户类型-->
  <codeNamePair key="CreateUserType">
    <item code="-1" name="所有" />
    <item code="0" name="来自MKT员工" />
    <item code="1" name="来自顾客" />
  </codeNamePair>
  <!--回复源-->
  <codeNamePair key="ReplySource">
    <item code="W" name="网友回复" />
    <item code="N" name="泰隆优选回复" />
    <item code="M" name="厂商回复" />
  </codeNamePair>
  <!--回复处理情况-->
  <codeNamePair key="ReplyStatus">
    <item code="O" name="未处理" />
    <item code="E" name="已阅读" />
    <item code="R" name="已回复" />
    <item code="A_1" name="审核通过系统" />
    <item code="A_2" name="审核通过人工已发布" />
    <item code="D_1" name="审核不通过系统" />
    <item code="D_2" name="审核不通过人工" />
  </codeNamePair>
  <!--厂商回复处理情况-->
  <codeNamePair key="FactoryReplyStatus">
    <item code="O" name="未处理" />
    <item code="E" name="已阅读" />
    <item code="A_1" name="审核通过系统" />
    <item code="A_2" name="审核通过人工已发布" />
    <item code="A_3" name="已发布" />
    <item code="D_1" name="审核不通过系统" />
    <item code="D_2" name="审核不通过人工" />
    <item code="D_3" name="已退回" />
  </codeNamePair>
  <!--咨询 类型-->
  <codeNamePair key="ConsultCategory">
    <item code="D" name="商品咨询" />
    <item code="S" name="库存配送" />
    <item code="P" name="支付" />
    <item code="W" name="发票保修" />
    <item code="A" name="促销和赠品" />
    <item code="Q" name="常见问题" />
    <item code="O" name="其他" />
  </codeNamePair>
  <codeNamePair key="CustomerCategory">
    <item code="0" name="泰隆优选用户" />
    <!--<item code="1" name="AZ用户" />-->
  </codeNamePair>
  <!--  标准礼品卡类型：
  <codeNamePair key="GiftCardCategory">
    <item code="1" name="标准礼品卡"/>
    <item code="2" name="客服补偿电子卡"/>
    <item code="3" name="客户退款电子卡"/>
  </codeNamePair>-->

  <!--评论类型-->
  <codeNamePair key="CommentsCategory">
    <item code="1" name="新闻公告"/>
    <item code="2" name="促销广告"/>
    <item code="3" name="奥运宣言"/>
  </codeNamePair>
  <!--关键字-种类-用于产品页面关键字-->
  <codeNamePair key="KeywordsListForProductPageKeywords">
    <item code="0" name="KeyWords0"></item>
    <item code="1" name="KeyWords1"></item>
  </codeNamePair>
  <!--系统配置类型-->
  <codeNamePair key="SysConfigType">
    <item code="SysConfigType_Front" name="前台配置"></item>
    <item code="SysConfigType_Back" name="后台配置"></item>
  </codeNamePair>
  <codeNamePair key="SysConfigType_Front">
    <item code="评论中不能出现的词" name="评论中不能出现的词"></item>
    <item code="黑名单客户" name="黑名单客户"></item>
  </codeNamePair>
  <codeNamePair key="SysConfigType_Back">
    <item code="注意事项(SODetail Page)" name="注意事项(SODetail Page)"></item>
  </codeNamePair>
  <!--End系统配置类型-->

  <!--产品价格举报无效原因-->
  <codeNamePair key="ProductPriceCompare_InvalidReason">
    <item code="1" name="举报价格的购物网站在Alexa排名为30000以外或无经营性网站备案，无法作为有效比较对象"></item>
    <item code="2" name="举报价格的商品的品牌、型号、包装、外观、颜色、模具等关键属性与泰隆优选商品存在差异，差价存在合理"></item>
    <item code="3" name="举报价格的商品购买无法开具正规发票或存在非正品行货嫌疑，无法作为有效比价对象"></item>
    <item code="4" name="举报价格的商品为无货状态，经测试无法生成订单，无法作为有效比价对象"></item>
    <item code="5" name="举报价格的商品的赠品与泰隆优选商品的赠品不完全相同，差价存在合理"></item>
    <item code="6" name="举报价格的商品所属套餐与泰隆优选商品所属套餐内容不同，差价存在合理"></item>
    <item code="7" name="举报价格的商品的单价不低于泰隆优选商品的单价，举报无效"></item>
  </codeNamePair>

  <codeNamePair key="Scores">
    <item code="0" name="总评分数"></item>
    <item code="1" name="1"></item>
    <item code="2" name="2"></item>
    <item code="3" name="3"></item>
    <item code="4" name="4"></item>
    <item code="5" name="5"></item>
  </codeNamePair>

  <!--显示抢购 - 快速选择时间-->
  <codeNamePair key="QuickTimeList">
    <item code="0" name="06:00:00-18:00:00"></item>
    <item code="1" name="09:00:00-13:00:00"></item>
    <item code="2" name="13:00:00-17:00:00"></item>
    <item code="3" name="17:00:00-21:00:00"></item>
    <item code="4" name="21:00:00-23:59:59"></item>
    <item code="5" name="00:00:00-23:59:59"></item>
  </codeNamePair>

  <!--团购反馈类型-->
  <codeNamePair key="GroupBuyingFeedBackType">
    <item code="0" name="购买问题"></item>
    <item code="1" name="账号问题"></item>
    <item code="2" name="搜索问题"></item>
    <item code="3" name="邮件订阅问题"></item>
    <item code="-1" name="其他"></item>
  </codeNamePair>

  <!--团购类型-->
  <codeNamePair key="GroupBuyingTypeList">
    <item code="0" name="百货"></item>
    <item code="1" name="食品"></item>
    <item code="2" name="生鲜"></item>
    <item code="3" name="3C产品"></item>
    <item code="4" name="其他"></item>
  </codeNamePair>

  <!--楼层页面编号-->
  <codeNamePair key="FloorSpecialPageCode">
    <item code="1" name="网站首页"></item>
    <item code="2" name="手机首页"></item>
    <item code="3" name="一级类别"></item>
    <item code="4" name="促销模板"></item>
  </codeNamePair>

  <!--楼层页面编号-->
  <codeNamePair key="BrandRecommendType">
    <item code="0" name="首页推荐位"></item>
    <!--<item code="1" name="一级类别推荐品牌"></item>
    <item code="2" name="二级类别推荐品牌"></item>-->
    <item code="7000" name="全部名牌"></item>
  </codeNamePair>

</codeNamePairList>
