<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="VendorAgentLevel" >
    <item code="" name="--全部--" />
    <item code="经销商" name="经销商" />
    <item code="品牌商" name="品牌商" />
    <item code="代理商" name="代理商" />
  </codeNamePair>

  <codeNamePair key="VendorAgentLevelNew" >
    <item code="经销商" name="经销商" />
    <item code="品牌商" name="品牌商" />
    <item code="代理商" name="代理商" />
  </codeNamePair>

  <codeNamePair key="VendorDefaultShippingStock" >
    <item code="99" name="上海宝山仓" />
  </codeNamePair>
  <!--PO单ITEM ,检查原因-->
  <codeNamePair key="PartlyReceiveReason" >
    <item code="-1" name="其它" />
    <item code="0" name="供应商送少，只能库存实际送达数量" />
    <item code="1" name="存在不合格商品，不合格商品当场退回（当供应商送达商品既少于采购数量，又存在不合格商品时，优先选择该选项）" />
    <item code="2" name="存在不合格商品，不合格商品暂存（当供应商送达商品既少于采购数量，又存在不合格商品时，优先选择该选项）" />
    <item code="3" name="供应商多送，多出商品已当场退回" />
    <item code="4" name="供应商多送，多出商品已入暂存库" />
  </codeNamePair>

  <!--代收结算单 - 仓库 (之前是写死的)-->
  <codeNamePair key="GatherSettleStockList" >
    <item code="90" name="虚拟仓" />
    <item code="99" name="宝山仓(商)" />
  </codeNamePair>

  <codeNamePair key="PurchaseOrderCompanyMappingDefaultStock" >
    <item code="3270" name="51" />
    <item code="3271" name="52" />
  </codeNamePair>
</codeNamePairList>
