<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="RMAInternalMemoSourceType" >
    <!--RMA跟进日志的来源-->
    <item code="0" name="客户呼入" />
    <item code="1" name="客服呼出" />
    <item code="2" name="短信联系客户" />
    <item code="3" name="邮件联系客户" />
    <item code="5" name="在线客户" />
    <item code="4" name="其他途径" />
  </codeNamePair>
  <codeNamePair key="ShipType" >
    <!--寄回方式-->
    <item code="0" name="EMS" />
    <item code="1" name="邮局普包" />
    <item code="2" name="上门取件" />
    <item code="4" name="圆通速递" />
    <item code="5" name="申通快递" />
    <item code="6" name="中通速递" />
    <item code="7" name="百世汇通" />
    <item code="8" name="韵达快递" />
    <item code="3" name="其他" />
  </codeNamePair>
  <codeNamePair key="RMAReason" >
    <!--退货原因-->
    <item code="0" name="质量问题" />
    <item code="1" name="兼容性" />
    <item code="2" name="不满意" />
    <item code="3" name="运输中损坏" />
    <item code="4" name="其他" />
  </codeNamePair>
  <codeNamePair key="SellerOperationInfo" >
    <!--商家处理结果-->
    <item code="Receive" name="收货" />
    <item code="Refund" name="退货" />
    <item code="Return" name="退回" />
    <item code="Repair" name="维修" />
    <item code="Exchange" name="换新" />
    <item code="Other" name="其它" />
  </codeNamePair>
  <codeNamePair key="NextHandlerList" >
    <!--当下步处理为催讨状态时的操作列表 db中存的是name-->
    <item code="联系不上" name="联系不上" />
    <item code="尚未收到" name="尚未收到" />
    <item code="确认质量问题，在维修，近期有结果" name="确认质量问题，在维修，近期有结果" />
    <item code="确认质量问题，在维修，需较长时间" name="确认质量问题，在维修，需较长时间" />
    <item code="确认质量问题，供应商正在等配件" name="确认质量问题，供应商正在等配件" />
    <item code="确认质量问题，供应商同意退款" name="确认质量问题，供应商同意退款" />
    <item code="确认质量问题，供应商同意换新" name="确认质量问题，供应商同意换新" />
    <item code="人为损坏/过保，不处理" name="人为损坏/过保，不处理" />
    <item code="非此供应商的产品，不处理" name="非此供应商的产品，不处理" />
    <item code="过保/人为损坏，需要付费维修" name="过保/人为损坏，需要付费维修" />
    <item code="已返还" name="已返还" />
  </codeNamePair>
  <codeNamePair key="InspectionResultType" >
    <!--检测结果类型 code没有用，DB中存的是name-->
    <item code="产品问题不能确定，送测/送修" name="产品问题不能确定，送测/送修" />
    <item code="产品确有问题，送修" name="产品确有问题，送修" />
    <item code="疑似人为损坏，送测待定" name="疑似人为损坏，送测待定" />
    <item code="人为损坏，建议发还" name="人为损坏，建议发还" />
    <item code="产品无故障" name="产品无故障" />
    <item code="兼容性问题/客户误购" name="兼容性问题/客户误购" />
    <item code="产品过保，建议发还" name="产品过保，建议发还" />
    <item code="保修物品不全，请联系" name="保修物品不全，请联系" />
    <item code="非我方产品，建议发还" name="非我方产品，建议发还" />
    <item code="联系不到供应商，请自行处理" name="联系不到供应商，请自行处理" />
    <item code="疑似运输损坏" name="疑似运输损坏" />
    <item code="产品本身（品相/附件等）问题，公司责任" name="产品本身（品相/附件等）问题，公司责任" />
  </codeNamePair>
  <codeNamePair key="VendorRepairResultType" >
    <!--送修返还结果类型 code没有用，DB中存的是name-->
    <item code="原物维修" name="原物维修" />
    <item code="原物翻新" name="原物翻新" />
    <item code="产品全部换新" name="产品全部换新" />
    <item code="故障部件换新" name="故障部件换新" />
    <item code="主机翻新" name="主机翻新" />
    <item code="检测无问题，原物返回" name="检测无问题，原物返回" />
    <item code="更换良品" name="更换良品" />
    <item code="更换其它型号产品" name="更换其它型号产品" />
    <item code="人为损坏（过保），需付费维修，请确认" name="人为损坏（过保），需付费维修，请确认" />
    <item code="供应商同意退款" name="供应商同意退款" />
    <item code="非我方供应商产品，不予受理，请处理" name="非我方供应商产品，不予受理，请处理" />
    <item code="人为损坏（过保），不予受理" name="人为损坏（过保），不予受理" />
  </codeNamePair>
  <codeNamePair key="VendorPayPeriodType" >
    <!--账期-->
    <item code="1" name="款到发货（预付）" />
    <item code="2" name="货到付款" />
    <item code="3" name="货到后2天(*)" />
    <item code="4" name="货到后每周一(*)" />
    <item code="5" name="货到当天，且票到" />
    <item code="6" name="货到后3天，且票到" />
    <item code="7" name="货到后7天，且票到" />
    <item code="8" name="货到后14天，且票到" />
    <item code="9" name="货到后30天，且票到" />
    <item code="10" name="每月25日，且票到(*)" />
    <item code="11" name="每月10日及25日，且票到(*)" />
    <item code="12" name="代销" />
    <item code="13" name="货与票都到后15天(*)" />
    <item code="14" name="货与票都到后30天(*)" />
    <item code="15" name="货与票都到后20天(*)" />
    <item code="16" name="货与票都到后7天(*)" />
    <item code="17" name="货与票都到后45天(*)" />
    <item code="18" name="货与票都到后当天(*)" />
    <item code="19" name="月结" />
    <item code="20" name="货到后18天，且票到" />
    <item code="21" name="货到后20天，且票到" />
    <item code="22" name="货到后45天，且票到" />
    <item code="23" name="货到后14天" />
    <item code="24" name="货到后20天" />
  </codeNamePair>

  <codeNamePair key="RefundPayTypes" >
    <!--还款类型-->
    <item code="1" name="银行转账" />
    <item code="2" name="商城余额" />  
  </codeNamePair>
</codeNamePairList>
