<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="FPStatus" >
    <item code="4" name="未验证"/>
    <item code="0" name="已验证"  />
    <item code="1" name="可疑"/>
    <item code="2" name="串货"/>
    <item code="3" name="炒货"/>
  </codeNamePair>
  <codeNamePair key="KFCType" >
    <item code="0" name="普通"/>
    <item code="1" name="可疑"/>
    <item code="2" name="欺诈"/>
  </codeNamePair>
  <codeNamePair key="CallBackDegree" >
    <item code="0" name="无需回电"/>
    <item code="1" name="3小时内回电"/>
    <item code="2" name="24小时内回电"/>
    <item code="3" name="48小时内回电"/>
    <item code="4" name="3个工作日内回电"/>
    <item code="5" name="7个工作日内回电"/>
    <item code="6" name="无时间限制"/>
  </codeNamePair>
  <codeNamePair key="SOInernalMemoSource" >
    <item code="1" name="客户呼入"/>
    <item code="6" name="在线客户"/>
    <item code="2" name="客服呼出"/>
    <item code="3" name="短信联系客户"/>
    <item code="4" name="邮件联系客户"/>
    <item code="5" name="其他途径"/>
  </codeNamePair>
  <!--投诉类别-->
  <codeNamePair key="ComplainType">
    <item code="投诉产品资料有误与实物不符" name="投诉产品资料有误与实物不符"/>
    <item code="投诉产品质量问题" name="投诉产品质量问题"/>
    <item code="投诉备货延迟" name="投诉备货延迟"/>
    <item code="投诉未收到应有赠品" name="投诉未收到应有赠品"/>
    <item code="投诉发货错误" name="投诉发货错误"/>
    <item code="投诉货物配送不及时" name="投诉货物配送不及时"/>
    <item code="投诉配送员态度不好" name="投诉配送员态度不好"/>
    <item code="投诉自提点服务" name="投诉自提点服务"/>
    <item code="投诉返修时间长" name="投诉返修时间长"/>
    <item code="投诉返修质量不好" name="投诉返修质量不好"/>
    <item code="投诉400服务人员服务态度不好" name="投诉400服务人员服务态度不好"/>
    <item code="投诉400热线解决效率不高" name="投诉400热线解决效率不高"/>
    <item code="投诉收款/退款不及时" name="投诉收款/退款不及时"/>
    <item code="投诉发票" name="投诉发票"/>
    <item code="其它" name="其它"/>
  </codeNamePair>
  <!--投诉来源-->
  <codeNamePair key="ComplainSourceType">
    <item code="投诉管理系统" name="投诉管理系统"/>
    <item code="客户反馈" name="客户反馈"/>
    <item code="电话" name="电话"/>
    <item code="产品评论" name="产品评论"/>
    <item code="投诉邮箱" name="投诉邮箱"/>
  </codeNamePair>
  <!--责任归属部门-->
  <codeNamePair key="ResponsibleDept">
    <item name="产品部" code="Dept,100"/>
    <item name="客服部" code="Dept,101"/>
    <item name="资讯管理部" code="Dept,102"/>
    <item name="市场部" code="Dept,103"/>
    <item name="财务部" code="Dept,104"/>
    <item name="售后服务部" code="Dept,106"/>
    <item name="其他部门" code="Dept,108"/>
  </codeNamePair>
  <codeNamePair key="SearchMode">
    <item code= "1" name="DataBase"/>
    <item code= "0" name="Tangosol"/>
  </codeNamePair>
  <codeNamePair key="OutStockStatus">
    <item code= "1" name="部分出库"/>
    <item code= "0" name="全部未出库"/>
  </codeNamePair>
  <codeNamePair key="CallType">
    <item name="物流配送查询" code= "2"/>
    <item name="物流延误投诉" code= "3"/>
    <item name="退换货售后查询" code="4"/>
    <item name="退换货售后延误投诉" code="5"/>
    <item name="产品质量投诉" code="6"/>
    <item name="产品咨询" code="7"/>
    <item name="订单修改及支付" code="8"/>
    <item name="普通发票咨询" code="9"/>
    <item name="增票咨询" code="10"/>
    <item name="市场活动咨询" code="11"/>
    <item name="其他" code="12"/>
  </codeNamePair>
  <!--CSSOComplainType-->
  <!--Type-->
  <codeNamePair key="CSSOComplainType_Product">
    <item name="产品资料" code= "产品资料"/>
    <item name="产品质量" code= "产品质量"/>
    <item name="虚库问题" code= "虚库问题"/>
    <item name="赠品问题" code= "赠品问题"/>
    <item name="其他" code= "其他"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_Stock">
    <item name="PD订单" code= "PD订单"/>
    <item name="发货错误" code= "发货错误"/>
    <item name="发票问题" code= "发票问题"/>
    <item name="出库延迟" code= "出库延迟"/>
    <item name="其他" code= "其他"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_Ship">
    <item name="OZZO奥硕物流" code= "OZZO奥硕物流"/>
    <item name="第三方物流" code= "第三方物流"/>
    <item name="自提点" code= "自提点"/>
    <item name="超范围" code= "超范围"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_CS">
    <item name="服务态度" code= "服务态度"/>
    <item name="基本技能" code= "基本技能"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_AS">
    <item name="基本技能" code= "基本技能"/>
    <item name="二手品问题" code= "二手品问题"/>
    <item name="其它" code= "其它"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_FIN">
    <item name="收款/退款不及时" code= "收款/退款不及时"/>
    <item name="发票" code= "发票"/>
    <item name="其它" code= "其它"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_OTHDPT">
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_NOR">
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_MKT">
    <item name="活动投诉" code= "活动投诉"/>
    <item name="网页错误" code= "网页错误"/>
    <item name="支付类" code= "支付类"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_SYS">
    <item name="系统问题" code= "系统问题"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_INT">
    <item name="多个部门问题" code= "多个部门问题"/>
  </codeNamePair>
  <!--Type End-->
  <!--Dept-->
  <codeNamePair key="CSSOComplainType_Ship_Dept">
    <item name="OZZO" code="Stock,OZZO"/>
    <item name="3PL" code="Stock,3PL"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_NOR_Dept">
    <item name="Q&amp;A" code="Q&amp;A"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_INT_Dept">
    <item name="Multi-Dept" code="Multi-Dept"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_Sys_Dept">
    <item name="MIS" code="Dept,102"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_Product_Dept">
    <item name="PM" code="Dept,100"/>
    <item name="WM" code="Dept,106"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_Stock_Dept">
    <item name="LOG" code="Stock,LOG"/>
    <item name="3PL" code="Stock,3PL"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_AS_Dept">
    <item name="RMA" code="Dept,107"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_CS_Dept">
    <item name="CS" code="Dept,101"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_FIN_Dept">
    <item name="FIN" code="Dept,104"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_MKT_Dept">
    <item name="WM" code="Dept,106"/>
    <item name="MKT" code="AllUser,MKT"/>
  </codeNamePair>
  <codeNamePair key="CSSOComplainType_OTHDPT_Dept">
  </codeNamePair>
  <!--DeptEnd-->
  <!--CSSOComplainType End-->
  <!--Logistics-->
  <codeNamePair key="DeliveryExp_OrderTye">
    <item name="订单送货" code="1"/>
    <item name="退换货所有单据" code="2"/>
    <item name="退换货上门取件" code="3"/>
    <item name="供应商送修" code="4"/>
    <item name="供应商送修返还" code="5"/>
    <item name="退换货发货" code="6"/>
  </codeNamePair>
  <!--Logistics End-->
  
  

  <!--订单拦截-->
  <!--配送方式过滤-->
  <codeNamePair key="ShipTypeFilter">
    <item code="0" name="奥硕"/>
    <item code="1,2" name="自提"/>
    <item code="3" name="3PL"/>    
  </codeNamePair>
  <!--有无运单号-->
  <codeNamePair key="HasTrackingNumber">
    <item code="Y" name="有"/>
    <item code="N" name="无"/>   
  </codeNamePair>
  <!--是否当天配送-->
  <codeNamePair key="ShipTimeType">
    <item code="T" name="当天"/>
    <item code="NT" name="非当天"/>
  </codeNamePair> 
  <!--订单创建结果-->
  <codeNamePair key="CreateResultType">
    <item code="N" name="未创建"/>
    <item code="S" name="创建成功"/>
    <item code="F" name="创建失败"/>
  </codeNamePair>
  <!--出库同步结果-->
  <codeNamePair key="StatusSyncResultType">
    <item code="N" name="未同步"/>
    <item code="S" name="同步成功"/>
    <item code="F" name="同步失败"/>
  </codeNamePair>
</codeNamePairList>
