<?xml version="1.0"?>
<codeNamePairList> 

  <codeNamePair key="InventoryCardOrderType">
    <item name="采购单(InStock)" code="0"/>
    <item name="采购单(InStock)_Task" code="0_"/>
    <item name="采购单-Return(InStock)" code="1"/>
    <item name="采购单-Return(InStock)_Task" code="1_"/>
    <item name="采购单-History-Return(InStock)" code="2"/>
    <item name="采购单-调价(InStock)" code="3"/>
    <item name="借货单" code="4"/>
    <item name="借货单(Return)" code="5"/>
    <item name="订单" code="6"/>
    <item name="转换单" code="7"/>
    <item name="移仓单(移出)" code="8"/>
    <item name="移仓单(移入)" code="9"/>
    <item name="损益单" code="10"/>
    <item name="退换货单(OutStock)" code="11"/>
    <item name="退换货单(Return)" code="12"/>
    <item name="调整单" code="13"/>
    <item name="移仓单(正)" code="14"/>
    <item name="移仓单(负)" code="15"/>
    <item name="移仓单(采购单直接生成)" code="16"/>
    <item name="退换货单(调新品)" code="17"/>
    <item name="退换货-OPC单(IT/RT)" code="18"/>
    <item name="OPC-退换货单" code="19"/>
    <item name="采购单(负)" code="20"/>
    <item name="换发单(原产品)" code="21"/>
    <item name="换发单(转换正常品)" code="22"/>
    <item name="换发单(转换二手品)" code="23"/>    
  </codeNamePair>
  <!--银联支付方式-->
  <codeNamePair key="ChinaPayPayTypeList">
    <item name="招商银行（银联支付）" code="8"></item>
    <item name="中国工商银行（银联支付）" code="9"></item>
    <item name="中国建设银行（银联支付）" code="14"></item>
    <item name="中国银行（银联支付）" code="38"></item>
    <item name="交通银行（银联支付）" code="40"></item>
    <item name="中国农业银行（银联支付）" code="44"></item>
    <item name="银联支付" code="65"></item>
    <item name="东方支付" code="111"></item>
    <item name="财付通" code="114"></item>

    <!--200-299为环迅支付-->
    <item name="环讯支付" code="200"></item>
    <item name="泰隆银行（环讯支付）" code="201"></item>
    <item name="工商银行（环讯支付）" code="202"></item>
    <item name="建设银行（环讯支付）" code="203"></item>
    <item name="农业银行（环讯支付）" code="204"></item>
    <item name="招商银行（环讯支付）" code="205"></item>
    <item name="中国银行（环讯支付）" code="206"></item>
    <item name="浦发银行（环讯支付）" code="207"></item>
    <item name="交通银行（环讯支付）" code="208"></item>
    <item name="广发银行（环讯支付）" code="209"></item>
    <item name="民生银行（环讯支付）" code="210"></item>
    <item name="兴业银行（环讯支付）" code="211"></item>
    <item name="光大银行（环讯支付）" code="212"></item>
    <item name="中信银行（环讯支付）" code="213"></item>
    <item name="平安银行（环讯支付）" code="214"></item>
    <item name="邮储银行（环讯支付）" code="215"></item>
  </codeNamePair>
</codeNamePairList>