<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetGoogleSearchProductList" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      SELECT
      PD.[ProductTitle] AS 标题
      ,CONVERT(DECIMAL(19,2),D.CurrentPrice) AS 价格
      ,PD.[ProductDesc] AS 简介
      ,REPLACE('http://www.newegg.com.cn/Product/@ProductID.htm?cm_mmc=googleshop-_-@CategoryName-_-@Brand-_-@ProductID','@ProductID',PD.ProductID) AS 链接
      ,'http://c1.neweggimages.com.cn/neweggpic2/P220/'+ SUBSTRING(PD.ProductID,1,2) + '/' + SUBSTRING(PD.ProductID,4,3) + '/' + PD.ProductID + '.jpg' AS 图片链接
      ,PD.ProductID AS ID
      ,PD.ProductMode AS 型号
      ,C1.C1Name + '^' + C2.C2Name + '^' + C3.C3Name AS 分类
      ,MF.BriefName + ' ' + MF.ManufacturerName AS 品牌
      ,CASE PD.ProductType WHEN 0 THEN '全新' WHEN 1 THEN '二手' ELSE '其他' END AS 使用情况
      ,'http://c1.neweggimages.com.cn/neweggpic2/P800/'+ SUBSTRING(PD.ProductID,1,2) + '/' + SUBSTRING(PD.ProductID,4,3) + '/' + PD.ProductID + '.jpg' AS 图片链接1
      ,C3.C3Name AS 类型
      ,'' AS 评分
      ,'' AS 产品简介
      ,PD.[Performance] AS 规格参数
      ,PD.[ProductDescLong] AS 产品描述
      ,PD.SysNo
      FROM [IPP3].[dbo].[Product] PD WITH(NOLOCK)
      LEFT JOIN [IPP3].[dbo].[Product_Price] D WITH(NOLOCK)  ON PD.SysNo=D.ProductSysNo AND D.CompanyCode = @CompanyCode
      INNER JOIN [IPP3].[dbo].[Category3] AS C3 WITH(NOLOCK) ON PD.[C3SysNo] = C3.[SysNo] AND C3.CompanyCode = @CompanyCode
      INNER JOIN [IPP3].[dbo].[Category2] AS C2 WITH(NOLOCK) ON C3.[C2SysNo] = C2.[SysNo] AND C2.CompanyCode = @CompanyCode
      INNER JOIN [IPP3].[dbo].[Category1] AS C1 WITH(NOLOCK) ON C2.[C1SysNo] = C1.[SysNo] AND C1.CompanyCode = @CompanyCode
      LEFT JOIN [IPP3].[dbo].[Manufacturer] MF WITH(NOLOCK)  ON PD.ManufacturerSysNo=MF.SysNo AND MF.CompanyCode = @CompanyCode
      WHERE PD.[Status] = 1 AND PD.CompanyCode = @CompanyCode
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="String" size="50"/>
    </parameters>
  </dataCommand>

  <dataCommand name="GetGoogleSearchScore" database="OverseaContentManagement" commandType="Text">
  <commandText>
    <![CDATA[
      SELECT
      SUM(ReviewCount) as ReviewCount
     ,SUM(RatingScore) as RatingScore
     FROM(   
     SELECT 
     COUNT(topic.Score) AS ReviewCount,
     topic.Score * COUNT(topic.Score) AS RatingScore
     FROM [IPP3].[dbo].[BBS_TopicMaster] topic WITH(NOLOCK)
     WHERE topic.TopicType = 1 
     AND topic.ReferenceType = 0 
     AND topic.ReferenceSysNo = @SysNo  
     AND topic.CompanyCode = @CompanyCode
     AND topic.Status <> 2
     GROUP BY topic.Score
    ) as Score
	  ]]>
  </commandText>
  <parameters>
    <param name="@SysNo" dbType="Int32"/>
    <param name="@CompanyCode" dbType="String" size="50"/>
  </parameters>
  </dataCommand>


</dataOperations>