<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataAccess" type="Nesoft.Utility.DataAccess.Database.Config.DataAccessSection, Nesoft.Utility.DataAccess"/>
    <section name="log" type="Nesoft.Utility.LogSection, Nesoft.Utility"/>
    <section name="routeConfig" type="Nesoft.ECWeb.WebFramework.Router.RouteConfigurationSection, Nesoft.ECWeb.WebFramework"/>
    <section name="auth" type="Nesoft.ECWeb.WebFramework.AuthConfigurationSection, Nesoft.ECWeb.WebFramework"/>
  </configSections>
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" 
              databaseListFile="Configuration\Data\Database.config"/>
  <log source="ECWeb">
    <emitter type="text"/>
  </log>
  <routeConfig configSource="Configuration\Route.config"/>
  <auth default="userAuth">
    <providers>
      <auth name="userAuth" type="Nesoft.ECWeb.M.UserAuth, Nesoft.ECWeb.M"/>
    </providers>
  </auth>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="LoginUrl" value="/Login" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--是否启用路由调试-->
    <add key="RouteDebugger:Enabled" value="false" />
    <!-- 多语言资源文件目录相对WebHost根目录的路径 -->
    <add key="TextResourcesPath" value="Configuration/LanguageResources" />
    <!-- Cookie配置文件的路径 -->
    <add key="CookieConfigPath" value="Configuration/Cookie.config" />
    <!-- 前台上传文件路径Host -->
    <add key="FileBaseUrl" value="http://localhost:9527/UploadFiles" />
    <!-- 前台上传文件路径Host SSL -->
    <add key="FileBaseUrlSSL" value="https://sslimage.dchnu.com/UploadFiles" />
    <!-- 当前网站渠道ID -->
    <add key="ChannelID" value="B2C" />
    <!--网站域名地址-->
    <add key="WebDomain" value="http://localhost:64972" />
    <!--是否有SSL网站-->
    <add key="HaveSSLWebsite" value="false" />
    <!--当开启SSL网站访问时，对于使用BuildUrlCA方法构造的Url，根据ControllerName构成成https访问-->
    <add key="SSLControllers" value="MemberAccount,MemberOrder,MemberService,Payment,ShoppingPurchase" />
    <!--CDN网站，本地CSS\JS等静态资源的CDN Host-->
    <add key="CDNWebDomain" value="http://localhost:64972/" />
    <!--登录时间timeout 单位:分钟,非滑动时间-->
    <add key="LoginTimeout" value="60" />
    <!--商品图片基地址-->
    <add key="ImageSeverHost" value="http://img.dchnu.com.qa/neg" />
    <!--ECCservice Base Url-->
    <add key="ECC_Service_Base_Url" value="http://10.16.99.224:8080/" />
    <!--ECCService凭证信息 UserSysNo-->
    <add key="UserSysNo" value="2" />
    <!--ECCService凭证信息 UserAcct-->
    <add key="UserAcct" value="Ippadmin" />
    <!--手机验证,邮箱验证送积分的系统账户编号-->
    <add key="PointAccountSysNo" value="126"/>
    <add key="CurrencySysNo" value="1"/>
    <!--前台一级类别【环球美食】的ID-->
    <add key="ECCategoryID" value="2"/>
    <add key="ImageServerHost" value="http://img.dchnu.com.qa/neg/"/>
    <add key="Category1IconHost" value="http://app.dchnu.com/resources/images/c1/h/" />
    <!--礼品卡C3-->
    <add key="GiftCardCategory3" value="11295" />
  <!--平台默认商家编号-->
    <add key="PlatformMerchantSysNo" value="1" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="Nesoft.ECWeb.WebFramework" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  
</configuration>