<?xml version="1.0"?>
<mailTemplate>
  <id>SendDunMailForOutBoundNotReturn</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      RMA<%=RegisterSysNo%>送修时间超时，请协助催讨,<%=CurrentYear%>年<%=CurrentMonth%>月<%=CurrentDay%>日.
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
      <!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
        <html xmlns='http://www.w3.org/1999/xhtml'>
        <head>
        <meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"" />
        <title>RMA送修超时催讨</title>
        </head>
        <body>
          Dear <%=PMName%>, David, Jimmy<br /><br />
          RMA: <%=RegisterSysNo%> 送修时间已超过 <%=Day%> 天 <%=Hour%> 小时 <%=Secend%> 分，<br />
          具体信息如下：<br>
          &nbsp;产品编号：<%=ProductID%><br />
          &nbsp;产品名称：<%=ProductName%><br />
          &nbsp;供应商：<%=VendorName%><br />
          &nbsp;PM:<%=PMName%><br />
          &nbsp;产品金额：<%=ProductCost%><br />
          &nbsp;订单号：<%=SOSysNo%><br />
          &nbsp;订单日期：<%=SODate%><br />
          &nbsp;保修政策：<%=Warranty%><br />
          &nbsp;送修时间：<%=OutTime%><br />
          &nbsp;是否在合作：<%=IsContact%><br />
          &nbsp;帐期：<%=PayPeriodType%><br />
          &nbsp;CS联系情况：<%=Memo%><br />
          &nbsp;退款状态：<%=RefundStatus%><br />
          &nbsp;发还状态：<%=RevertStatus%><br /><br />
          请您协助处理。<br /><br /><br />
          如未在1个工作日内得到PM回复及解决方案，RMA将对此CASE生成负PO。<br />
          谢谢！<br /><br />
          RMA<br >
          <%=CurrentTime%>
        </body>
        </html>
      ]]>
    </template>
  </body>
</mailTemplate>
