<?xml version="1.0"?>
<mailTemplate>
  <id>RMARequest_Receive</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      您申请的售后单：<%=RequestID%>泰隆优选已经收到      
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
     <span style='font-size:12.0pt;font-family:华文细黑'>尊敬的泰隆优选用户:<br><br>您好!<br>您申请的售后单<%=RequestID%>泰隆优选已经收到,现已进入检测维修阶段, 泰隆优选将严格按照国家三包法规进行处理。您的售后件处理完毕后，泰隆优选会有专人与您取得联系并告知相应事宜。
            您也可以点击此链接<a href='https://secure.newegg.com.cn/RMA/RMAQuery.aspx'><font color=blue>保修中心</font></a>
            在泰隆优选上查询货品的状态。<br><br>
            如您有任何疑问，请拨打泰隆优选客服热线 400-820-4400 周一至周日 上午8：30 - 下午23：00，我们的客户服务人员将竭诚为您服务。<br><br>
            (此邮件为系统自动生成邮件，请不要直接回复！)<br><br>
            感谢您一直以来对泰隆优选的支持！<br><br>
      </span>
      ]]>
    </template>
  </body>
</mailTemplate>