<?xml version="1.0"?>
<mailTemplate>
  <id>RMARequest_Create</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      您已经完成了<%=RequestID%>申请单的在线售后申请
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
           <span style='font-size:12.0pt;font-family:华文细黑'>尊敬的泰隆优选用户:<br><br>您好！<br>您已经完成了在线售后申请，
                          售后申请单号为：{0}。我们的工作人员将在1个工作日内与您取得联系，将以最便捷的方式解决您的商品问题，请保持电话畅通。
                          <br><br>友情提示：若您的售后申请单还未通过泰隆优选售后的审核，请不要将您的商品寄回泰隆优选售后。<br>

                          (此邮件为系统自动生成邮件，请不要直接回复！)<br><br>
                          泰隆优选<br><br>
           </span>
      ]]>
    </template>
  </body>
</mailTemplate>
