.wl200{ color:Red;}
/* English */
.en #header .logo{
         width:299px;
         margin-left:-153px;
         background-image:url(/Configuration/LanguageResources/en-us/images/logoEn.png);
         background-position:0 5px; 
}
.en #header .logoB{
         background:url(/Configuration/LanguageResources/en-us/images/logoEn.png) -83px -31px no-repeat;
}
