<?xml version="1.0" encoding="utf-8" ?>
<MessageResource>
  <MessageList>
    <Message name="E-mail"></Message>
    <Message name="*建议严格按照4:3的比例上传图片，最小尺寸">*Please upload pictures with the 4:3 proportion, min size</Message>
    <Message name="[查看订单]">View Order</Message>
    <Message name="[购物车]">Shopping Cart</Message>
    <Message name="[退出]">[Exist] </Message>
    <Message name="6月6日~6月10日 （9:00~17:00）">Sixth of June-tenth of June(9:00~17:00)</Message>
    <Message name="CALL: 0871-62269387"></Message>
    <Message name="CALL: 86-871-65658665"> CALL: 86-871-65658665</Message>
    <Message name="product"></Message>
    <Message name="Token已经过期或不存在！">Token has expired!</Message>
    <Message name="上一页">Pre-Page</Message>
    <Message name="上传企业相关认证图片">Upload certification images</Message>
    <Message name="上传图片">Upload Image</Message>
    <Message name="上传新图片将会替换该图片">The new image will replace existed image</Message>
    <Message name="上架">Online</Message>
    <Message name="上架不展示">Not Show</Message>
    <Message name="上架时间">Online Time</Message>
    <Message name="下一步">Next</Message>
    <Message name="下一页">Next</Message>
    <Message name="下单时间">Order Time</Message>
    <Message name="下架">Offline</Message>
    <Message name="下载专区">Downloads</Message>
    <Message name="不允许">Not allowed</Message>
    <Message name="不存在该用户">Not exists the user</Message>
    <Message name="不存在该用户!">Not exists the user!</Message>
    <Message name="不等于">Not equal to
    </Message>
    <Message name="业务主键">Business Key</Message>
    <Message name="业务主键：">Business Key:</Message>
    <Message name="业务类型">Business Type</Message>
    <Message name="两次密码输入不一致">Confirm Password</Message>
    <Message name="两次输入密码不相同">Confirm Password</Message>
    <Message name="两次输入的密码不一致">Confirm Password</Message>
    <Message name="个产品">  products</Message>
    <Message name="个人中心">My Account</Message>
    <Message name="个人信息修改失败">Failed to modify the personal information</Message>
    <Message name="个人信息修改成功">Modify personal information succeed</Message>
    <Message name="个人用户">Person</Message>
    <Message name="个人账户基本信息">Profile</Message>
    <Message name="中国">China</Message>
    <Message name="泰隆优选">China-south asia Expo</Message>
    <Message name="泰隆优选欢迎您">Welcome to CSA-Expo</Message>
    <Message name="主办单位： 中国商务部  云南省人民政府"> Sponsored by: Ministry of Commerce of the people's Government of Yunnan province China</Message>
    <Message name="主营商品">Main Products</Message>
    <Message name="主营行业">Industry</Message>
    <Message name="主要商品">Products</Message>
    <Message name="主要客户群体">Customer Groups</Message>
    <Message name="主要销售区域">Main Markets</Message>
    <Message name="主题为必填项哦">The subject is required</Message>
    <Message name="买家中心">Buyers</Message>
    <Message name="了解南博">About CSA-Expo</Message>
    <Message name="云南国际博览事务局">Yunnan Bureau of international expo Affairs </Message>
    <Message name="云南省">Yunnan province</Message>
    <Message name="云南省昆明市内:8元/单;云南省内10元/单;云南省外12元/单;">In Kunming,Yunnan: 8 Yuan/Order; In Yunnan province: 10 Yuan/Order; Other: 12 Yuan/Order</Message>
    <Message name="交通指南">Traffic</Message>
    <Message name="产品质量认证">Product Quality Certification</Message>
    <Message name="人物专访">Interview</Message>
    <Message name="今日活动">Recent Activity</Message>
    <Message name="件">Piece</Message>
    <Message name="件商品">items</Message>
    <Message name="价格">Price</Message>
    <Message name="价格区间：">Price RangeL</Message>
    <Message name="企业">Enterprise</Message>
    <Message name="企业信息完善">Perfect enterprise information</Message>
    <Message name="企业名录">Enterprises</Message>
    <Message name="企业地址">Address</Message>
    <Message name="企业基本信息">Profile </Message>
    <Message name="企业实景照"> Company pictures</Message>
    <Message name="企业性质">Contract Manufacturing</Message>
    <Message name="企业所属地区">Areas</Message>
    <Message name="企业档案">Quick Details</Message>
    <Message name="企业注册号">Registration number</Message>
    <Message name="企业注册号不能为空">Registration number is required</Message>
    <Message name="企业申请认证">Application</Message>
    <Message name="企业等级">Verified Level</Message>
    <Message name="企业类型">Biz-Type</Message>
    <Message name="企业经营信息">Business</Message>
    <Message name="企业规模">Employees</Message>
    <Message name="企业认证">Application</Message>
    <Message name="企业认证信息">Application</Message>
    <Message name="企业详细介绍">Introduction</Message>
    <Message name="优先级">Priority</Message>
    <Message name="会员中心">Members</Message>
    <Message name="会员注册">Join Now</Message>
    <Message name="会员登录">Sign In</Message>
    <Message name="会员类型">Type</Message>
    <Message name="传真">Fax</Message>
    <Message name="作废">Void</Message>
    <Message name="作废订单成功!">Void order succeed</Message>
    <Message name="供应">Supply</Message>
    <Message name="供应商服务">Service for Supplier</Message>
    <Message name="供求信息">Trade Message</Message>
    <Message name="供求管理">Trade Management</Message>
    <Message name="供需关系">Supply-Demand</Message>
    <Message name="促销描述：">Promotion Description</Message>
    <Message name="促销描述有效期：">Term of validity</Message>
    <Message name="保存">Save</Message>
    <Message name="保存信息">Save</Message>
    <Message name="保存基础信息">Save</Message>
    <Message name="保存失败，请稍后重试">Save failed, Please try again later</Message>
    <Message name="保存成功">Saved Successfully </Message>
    <Message name="保存成功！">Saved Successfully </Message>
    <Message name="保存收货人信息">Save Shipping</Message>
    <Message name="保存添加的商品">Save Items</Message>
    <Message name="信息完善">Profile</Message>
    <Message name="修改">Update</Message>
    <Message name="修改。">Update. </Message>
    <Message name="修改个人信息">Update account</Message>
    <Message name="修改企业基本信息">Update Profile</Message>
    <Message name="修改企业经营信息">Update Markets</Message>
    <Message name="修改企业详细描述">Update Description</Message>
    <Message name="修改完成">Update Succeeded</Message>
    <Message name="修改密码">Change Password</Message>
    <Message name="修改成功">Succeeded</Message>
    <Message name="修改登录密码">Change Password</Message>
    <Message name="允许">Allow</Message>
    <Message name="允许作废">Allow Void</Message>
    <Message name="允许作废：">Allow Void</Message>
    <Message name="先生">Sir</Message>
    <Message name="免费注册">Join Free</Message>
    <Message name="全选">All</Message>
    <Message name="全选/反选">All/Not</Message>
    <Message name="全部">All</Message>
    <Message name="全部展会商品">All Products</Message>
    <Message name="全部展会新闻">All News</Message>
    <Message name="全部展会视频">All Videos</Message>
    <Message name="全部展区">All Venues </Message>
    <Message name="全部订单">All Orders</Message>
    <Message name="全部门票">All Tickets</Message>
    <Message name="公众开放日：2013年6月6日 ~ 2013年6月9日">Public open day: From June 6, 2013 to June 9, 2013</Message>
    <Message name="公司名称">Company Name</Message>
    <Message name="公司简介">Company Information</Message>
    <Message name="共">Total  </Message>
    <Message name="共有">Total</Message>
    <Message name="关于云南">About Yunnan</Message>
    <Message name="关于南博">About CSA-Expo</Message>
    <Message name="关于泰隆优选">About CSA-Expo</Message>
    <Message name="关键字">Keywords</Message>
    <Message name="关键字：">Keywords</Message>
    <Message name="关闭">Close</Message>
    <Message name="内容为必填项哦">Content is required</Message>
    <Message name="内容设置">Content Setting</Message>
    <Message name="减">Subtract</Message>
    <Message name="出错啦">Errors</Message>
    <Message name="分享">Share</Message>
    <Message name="分组名称">Group Name</Message>
    <Message name="创建/编辑时间">Create/Edit</Message>
    <Message name="创建供求信息">New Supply</Message>
    <Message name="创建供求信息,编号为:">New Suppy, Id is</Message>
    <Message name="创建新商品">New Product</Message>
    <Message name="创建日期">Create Time</Message>
    <Message name="创建日期：">Create Time</Message>
    <Message name="创建用户">Create User</Message>
    <Message name="删除">Delete</Message>
    <Message name="删除回复">Delete Reply</Message>
    <Message name="删除已选">Delete Selected</Message>
    <Message name="删除成功!">Delete Successfully</Message>
    <Message name="删除收藏">Delete</Message>
    <Message name="删除询价">Delete Inquiry</Message>
    <Message name="到第">To</Message>
    <Message name="加">increase</Message>
    <Message name="加入收藏夹">Add to favorite</Message>
    <Message name="加入购物车">Add to shopping cart</Message>
    <Message name="加盟日期">join date</Message>
    <Message name="区域">region</Message>
    <Message name="区域信息不完整">Regional information is not complete </Message>
    <Message name="医疗保障">Medical</Message>
    <Message name="十分抱歉！">Sorry</Message>
    <Message name="单价">Price</Message>
    <Message name="单位名称">Company Name</Message>
    <Message name="单位名称不能为空哦">Company name is required</Message>
    <Message name="单位网址">Company Website</Message>
    <Message name="卖家中心">Seller</Message>
    <Message name="南亚博览会首页">Home</Message>
    <Message name="南博要闻">News</Message>
    <Message name="南方丝路">Focus</Message>
    <Message name="博览会盛况">Events</Message>
    <Message name="历届回顾">Hostory</Message>
    <Message name="去首页">Home</Message>
    <Message name="参展各国">Countries</Message>
    <Message name="参展商">Exhibitors</Message>
    <Message name="参展商品">Products</Message>
    <Message name="参展商家">Enterprises</Message>
    <Message name="参展手册">Manual</Message>
    <Message name="参展时间">Period</Message>
    <Message name="观展时间">Period</Message>
    <Message name="参展流程">Process</Message>
    <Message name="参展须知">Notice</Message>
    <Message name="参数错误!">Parameter error</Message>
    <Message name="参数错误！">Parameter error</Message>
    <Message name="友情链接">Links</Message>
    <Message name="反选">Reverse</Message>
    <Message name="反馈主题：">Topic</Message>
    <Message name="反馈主题不能为空！">Feedback topic is required!</Message>
    <Message name="反馈内容：">Feedback content</Message>
    <Message name="反馈内容不能为空！">Feedback content is required!</Message>
    <Message name="发布供求">New Trade</Message>
    <Message name="发布供需信息">New Trade Message</Message>
    <Message name="发布失败">Publish failure</Message>
    <Message name="发布时间">Published Time</Message>
    <Message name="发布询价">New Inquire</Message>
    <Message name="发送成功!">Send successfully!</Message>
    <Message name="发送邮箱地址验证邮件">Send to verify email.</Message>
    <Message name="发送邮箱地址验证邮件,邮件地址为:">Send to verify email, Email address is:</Message>
    <Message name="发送验证邮件">Send email</Message>
    <Message name="取消上传">Cancel</Message>
    <Message name="取票方式：">Shipping</Message>
    <Message name="只有参展商与采购商才允许发布供求">Only Exhibitor can publish trade message</Message>
    <Message name="只有商家才允许发布供求">Only Exhibitor can publish trade message</Message>
    <Message name="只能输入200字">Only input 200 words</Message>
    <Message name="右移">To Right</Message>
    <Message name="各国参展信息">Country Exhibitors</Message>
    <Message name="各界评论">Comments</Message>
    <Message name="合计">Total</Message>
    <Message name="合计：">Total:</Message>
    <Message name="同意协议,前往订票">Agree Application</Message>
    <Message name="同意服务协议，提交申请">Agree Application, Submit</Message>
    <Message name="同意注册协议，提交注册">Agree Application, Register</Message>
    <Message name="同款商品">Group Products</Message>
    <Message name="同款商品 - 商品维护">Group Products-Maintain</Message>
    <Message name="同款有效商品">Group Products</Message>
    <Message name="咨询内容">Content</Message>
    <Message name="咨询标题">Title</Message>
    <Message name="商品">Product</Message>
    <Message name="商品ID">Product ID</Message>
    <Message name="商品ID：">Product ID:</Message>
    <Message name="商品产地">Origin</Message>
    <Message name="商品产地：">Origin:</Message>
    <Message name="商品信息">Product Profile</Message>
    <Message name="商品名称">Product Name</Message>
    <Message name="商品名称：">Product Name:</Message>
    <Message name="商品图片上传进度列表">Image upload progress list </Message>
    <Message name="商品型号">Product Model</Message>
    <Message name="商品小计">Sum</Message>
    <Message name="商品总金额">Total Amount</Message>
    <Message name="商品收藏夹">Product Favoretes</Message>
    <Message name="商品数量必须是数字！">Quantity must be numeric </Message>
    <Message name="商品查询 - 创建商品">Product Query-Create</Message>
    <Message name="商品状态：">Status</Message>
    <Message name="商品简介：">Summary:</Message>
    <Message name="商品简称：">Abbreviation:</Message>
    <Message name="商品管理">Product Management </Message>
    <Message name="商品类别">Catalog</Message>
    <Message name="商品类别：">Catalog:</Message>
    <Message name="商品组编号：">Group Number:</Message>
    <Message name="商品编号">Sys Number</Message>
    <Message name="商品订购"> Product</Message>
    <Message name="商品详细信息">Product Details</Message>
    <Message name="商品资料的完善程度：">Completing Level:</Message>
    <Message name="商品金额："> Amount</Message>
    <Message name="商品默认语言：">Default language </Message>
    <Message name="商家">Merchant:</Message>
    <Message name="商家：">Merchant</Message>
    <Message name="商家介绍">Introduction</Message>
    <Message name="商家供求管理">Trade Message Management</Message>
    <Message name="商家信息更新成功!">Update successful</Message>
    <Message name="商家信息管理">Merchant Management </Message>
    <Message name="商家收藏夹">Merchant Favorites</Message>
    <Message name="商户专区">Exhibitors</Message>
    <Message name="回 复">Reply</Message>
    <Message name="回复">Reply</Message>
    <Message name="回复供求信息">Reply</Message>
    <Message name="回复供求信息,编号为:">Reply Number:</Message>
    <Message name="回复内容">Reply Content</Message>
    <Message name="回复内容不能为空哦">Content is required</Message>
    <Message name="回复失败">Reply failure</Message>
    <Message name="回复成功">Reply successfully</Message>
    <Message name="回复状态">Status</Message>
    <Message name="国家：">Country:</Message>
    <Message name="图片">Image</Message>
    <Message name="图片信息">Image Information</Message>
    <Message name="图片信息 - 商品维护">Image-Product Maintain</Message>
    <Message name="在线办证">Certificates</Message>
    <Message name="在线反馈">Feedback</Message>
    <Message name="在线咨询">Inquiry</Message>
    <Message name="在线商场">Mall</Message>
    <Message name="在线商城">Mall</Message>
    <Message name="在线支付">Payment</Message>
    <Message name="在线订展">Exhibition</Message>
    <Message name="在线订票">Ticket</Message>
    <Message name="地区：">District:</Message>
    <Message name="地址">Address</Message>
    <Message name="地址不能为空">Address is required</Message>
    <Message name="基本信息">Basic</Message>
    <Message name="基础信息">Basic</Message>
    <Message name="基础信息 - 商品维护"> Basic- Product Maintain</Message>
    <Message name="填写注册信息">Registration Information </Message>
    <Message name="填写联系电话">Input Telephone</Message>
    <Message name="备战博览会">Prepare</Message>
    <Message name="备注："> Memo</Message>
    <Message name="多语言设置"> Multi-language Settings </Message>
    <Message name="女">Female </Message>
    <Message name="女士">Lady</Message>
    <Message name="如您所选择的配送区域与联系地址存在出入，为了确保配送的效率，中国—南亚博览会会根据实际情况为您进行调整配送方式，感谢您的理解与配合">Shipping address is deference with contract address</Message>
    <Message name="姓名为必填项哦">Name is required</Message>
    <Message name="媒体视角">Media View</Message>
    <Message name="完 成">Complete</Message>
    <Message name="完善基本资料">Basic Information</Message>
    <Message name="完善手机号码">Cell Phone</Message>
    <Message name="完成验证">Completed Verify</Message>
    <Message name="官方微博">Weibo</Message>
    <Message name="官方网站">Website</Message>
    <Message name="家企业"> Records </Message>
    <Message name="寄送地区">Post District</Message>
    <Message name="密码">Password</Message>
    <Message name="密码不能为空">Password is required</Message>
    <Message name="密码不能为空哦"> Password is required</Message>
    <Message name="密码与确认密码不相同">Please confirm password again</Message>
    <Message name="密码必须为数字与字母的组合">Password should be including number and letters </Message>
    <Message name="密码格式不正确，密码必须是字母与数据的组合">Password should be including number and letters</Message>
    <Message name="密码要求为6-20位数字、英文字母、特殊符号中至少两种类型以上的组合">Password should be including number and letters and less than 8 words</Message>
    <Message name="小计">Subtotal </Message>
    <Message name="展会商品">Products</Message>
    <Message name="展会图片">Pictures</Message>
    <Message name="展会攻略">Strategy</Message>
    <Message name="展会新闻">News</Message>
    <Message name="展会服务">Services</Message>
    <Message name="展会服务专区">Service Special</Message>
    <Message name="展会概况">Summary</Message>
    <Message name="展会活动">Activity</Message>
    <Message name="展会视频">Video</Message>
    <Message name="展会资讯">Exhibition News</Message>
    <Message name="展区分布">Exhibition Area</Message>
    <Message name="展区咨询">Consultation</Message>
    <Message name="展区地图">Maps</Message>
    <Message name="展馆信息">Pavilion</Message>
    <Message name="属性设置">Property Setting</Message>
    <Message name="工商注册信息">Reg Information</Message>
    <Message name="左移">To Left</Message>
    <Message name="已售数量：">Sold Qty</Message>
    <Message name="已完成支付">Paid</Message>
    <Message name="已有账号，请点击登录">Please Login</Message>
    <Message name="已验证">Authenticated </Message>
    <Message name="市场价">Market Price</Message>
    <Message name="布展撤展">Withdraw </Message>
    <Message name="带*的栏目必须填写">The column with the “*” is required </Message>
    <Message name="帮助中心">Help</Message>
    <Message name="年出口额">Annual Exports</Message>
    <Message name="年检时间">Annual Inspection</Message>
    <Message name="年营业额">Total Revenue </Message>
    <Message name="库存">Inventory</Message>
    <Message name="库存：">Inventory:</Message>
    <Message name="库存操作">Operation</Message>
    <Message name="应付金额">Cash Amount</Message>
    <Message name="座机">Telephone</Message>
    <Message name="建议反馈">Recommendation</Message>
    <Message name="建议完善您的基本资料，方便买家联系您">Please improve your information,convenient for buyers to contact you</Message>
    <Message name="开幕时间：2013年6月6日">Curtain time: June 6, 2013 </Message>
    <Message name="张"> .</Message>
    <Message name="当前位置">Path</Message>
    <Message name="当前位置：">Path:</Message>
    <Message name="往期活动">History</Message>
    <Message name="微信扫我">Weixin</Message>
    <Message name="必须上传企业">Please upload</Message>
    <Message name="必须上传工商注册信息">Please upload registration information</Message>
    <Message name="必须上传格式正确的企业">Please upload</Message>
    <Message name="必须上传格式正确的工商注册信息">Please upload registration information</Message>
    <Message name="必须上传格式正确的营业执照原件">Please upload Business license</Message>
    <Message name="必须上传营业执照原件">Please upload Business license</Message>
    <Message name="必须同意注册协议">Please agree application</Message>
    <Message name="必须填写企业详细介绍">Business details is required </Message>
    <Message name="忘记密码">Forgot password</Message>
    <Message name="快去挑选吧">Go to pick products </Message>
    <Message name="快捷登录">Quick login </Message>
    <Message name="快递寄送">Express </Message>
    <Message name="性别">Gender </Message>
    <Message name="总库存">Total Inventory </Message>
    <Message name="恭喜">Congratulation</Message>
    <Message name="恭喜您，密码修改成功">Change password successfully</Message>
    <Message name="您可以：">You can:</Message>
    <Message name="您可以立即">You can</Message>
    <Message name="您可以继续完善信息资料，也可以快速点击浏览">You can improve your profile, also can quickly browse</Message>
    <Message name="您好，欢迎光临泰隆优选！">Welcome to China-South Asia Expo</Message>
    <Message name="您好，请等待管理员审核">Please wait for auditing</Message>
    <Message name="您已注册成功">Registe successfully</Message>
    <Message name="您希望客服怎么称呼您呢？也可以使用您的登录名哦。"> Please input your name</Message>
    <Message name="您当前选择的是：">Current choice is:</Message>
    <Message name="您最近的订单信息">Recently Orders</Message>
    <Message name="您的姓名：">Name:</Message>
    <Message name="您的姓名不能为空！">Name is required</Message>
    <Message name="您的收藏">Favorites</Message>
    <Message name="您的旧密码">Old Password</Message>
    <Message name="您的订单已提交成功，我们会尽快为您安排处理。谢谢！">Orders succeed, Thanks!</Message>
    <Message name="您的订单已提交成功，请注意查收。谢谢">Orders succeed, Thanks!</Message>
    <Message name="您的订单已经在修改中的状态，请您尽快完成修改并确认">Orders is modifying, Please update it!</Message>
    <Message name="您的邮箱地址">Email:</Message>
    <Message name="您访问的页面不存"> The page is not exist </Message>
    <Message name="您还可以使用一下合作伙伴的账户登录">Partners account login </Message>
    <Message name="您还没有选购商品或服务，"> No selected products,</Message>
    <Message name="成立日期">Establish Date</Message>
    <Message name="成立日期不能为空"> Establish date is required</Message>
    <Message name="我的供应">My Supply</Message>
    <Message name="我的信息">My Profile</Message>
    <Message name="我的南博">My CSA-Expo</Message>
    <Message name="我的反馈">My Feedback</Message>
    <Message name="我的收藏">Favorites</Message>
    <Message name="我的收藏夹">Favorites</Message>
    <Message name="我的求购">My Demands </Message>
    <Message name="我的留言"> My Messages </Message>
    <Message name="我的订单"> Order History </Message>
    <Message name="我的询价"> Price Inquiry </Message>
    <Message name="我的账户">My Account</Message>
    <Message name="我的购物车"> Shopping Cart </Message>
    <Message name="我的退货申请"> Returns (RMA)</Message>
    <Message name="我的门票"> Ticket Orders </Message>
    <Message name="我要回复">Reply</Message>
    <Message name="或返回">or return</Message>
    <Message name="战略合作"> Strategic Cooperation </Message>
    <Message name="所在国家"> Country</Message>
    <Message name="所在地区"> Region</Message>
    <Message name="手机"> Cellphone </Message>
    <Message name="手机号码格式不对！">Invalid Cellphone number.</Message>
    <Message name="手机号码错误或未填写，可能导致买家无法联系您">Invalid Cellphone number.</Message>
    <Message name="批量删除图片"> Batch Delete Pictures</Message>
    <Message name="折扣金额："> Discount：</Message>
    <Message name="折扣金额：-"> Discoun：- </Message>
    <Message name="抱歉，创建订单时出错啦！\r\n"> Sorry, error in placing order. </Message>
    <Message name="抱歉，订单结算时出错啦！\r\n"> Sorry, error in order checkout. </Message>
    <Message name="排序"> Sort </Message>
    <Message name="描述有效时间：">Period of Validity：</Message>
    <Message name="提   交"> Submit </Message>
    <Message name="提交信息"> Submit </Message>
    <Message name="提交回复"> Reply</Message>
    <Message name="提交审核"> Submit </Message>
    <Message name="提交成功"> Submit succeeded</Message>
    <Message name="提交成功，请到账户中心查看回复!"> Submitted successfully, and view the reply in 'My Account'.</Message>
    <Message name="提交订单"> Submit Order</Message>
    <Message name="提交订单，立即支付">Submit order and pay it immediately.</Message>
    <Message name="提示信息">Tips</Message>
    <Message name="搜索">Search</Message>
    <Message name="撤展时间：2013年6月10日"> Withdraw exhibition time: 2013-6-10</Message>
    <Message name="操作"> Operation </Message>
    <Message name="操作失败，请稍等重试。">Operation failed, please try again in a few minutes.</Message>
    <Message name="操作日志">Operation Log</Message>
    <Message name="操作日期：">Operation Date</Message>
    <Message name="支付宝"> Alipay </Message>
    <Message name="支付成功"> Pay succeed </Message>
    <Message name="支付遇到问题">error when paying</Message>
    <Message name="收藏"> Add Favorite </Message>
    <Message name="收藏成功!"> Add Favorite Successfully. </Message>
    <Message name="收藏成功！">Add Favorite Successfully.</Message>
    <Message name="收藏本站">Add to favorites</Message>
    <Message name="收货信息"> Shipping Information</Message>
    <Message name="放入购物车">Add to Cart</Message>
    <Message name="数量"> Quantity</Message>
    <Message name="文件下载"> Download</Message>
    <Message name="新密码不能与旧密码相同">new password can't be same as the current one </Message>
    <Message name="新密码不能为空">new password is required</Message>
    <Message name="新密码与旧密码不能相同">new password can't be same as the current one </Message>
    <Message name="新密码与旧密码不能相同!">new password can't be same as the current one. </Message>
    <Message name="新密码与确认密码不相同!">new password can't be same as the password for confirming. </Message>
    <Message name="新浪微博">Weibo</Message>
    <Message name="新闻中心">News Center</Message>
    <Message name="方法不被允许">Method not allowed </Message>
    <Message name="旅游攻略">Travel</Message>
    <Message name="无"> Null</Message>
    <Message name="日志描述">Description</Message>
    <Message name="日志标题">Subject</Message>
    <Message name="日志类型：">Type</Message>
    <Message name="日期"> Date </Message>
    <Message name="旧密码不正确"> Wrong password </Message>
    <Message name="旧密码不正确!"> Wrong password. </Message>
    <Message name="时间">Time</Message>
    <Message name="时间地点"> Time and place </Message>
    <Message name="昆明市"> Kunming </Message>
    <Message name="昆明市春城路289号昆明国际会展中心"> Address : 289 Chuncheng Rd. Kunming </Message>
    <Message name="更多">More</Message>
    <Message name="更多...">More...</Message>
    <Message name="更新成功!"> Update successfully. </Message>
    <Message name="最近三个月的订单">Recent orders in 3 months</Message>
    <Message name="最近浏览商品"> Recently Viewed Items </Message>
    <Message name="未支付作废时间："> Payment due:</Message>
    <Message name="未登录或登录已失效，请重新登录">Not logged in, please login</Message>
    <Message name="未认证企业">No certification companies</Message>
    <Message name="条记录"> Record(s)</Message>
    <Message name="来源"> Source</Message>
    <Message name="查  询">Search</Message>
    <Message name="查 询">Search</Message>
    <Message name="查看">View</Message>
    <Message name="查看更多">View More</Message>
    <Message name="查看订单">View Order</Message>
    <Message name="查看详情">View Details</Message>
    <Message name="查询条件"> Search Conditions </Message>
    <Message name="标题"> Title</Message>
    <Message name="标题不能为空哦"> Title is required</Message>
    <Message name="核对支付"> Verify payment</Message>
    <Message name="核对订单信息"> Verify order</Message>
    <Message name="款型">Model</Message>
    <Message name="正在处理中">Processing</Message>
    <Message name="正在提交">Submitting</Message>
    <Message name="正在提交..."> submitting... </Message>
    <Message name="此账号已经存在"> The account is already existed </Message>
    <Message name="此邮箱已经存在"> The email is already used</Message>
    <Message name="每单限购">Maximum order quantity</Message>
    <Message name="每单限购："> Maximum order quantity: </Message>
    <Message name="每单限购{0}-{1}件">purchase {0}-{1} each order</Message>
    <Message name="每单限购{0}-{1}张">Order quantity must be between {0}-{1}</Message>
    <Message name="每单限购{0}件">Maximum order quantity is {0}</Message>
    <Message name="每单限购{0}张">Maximum order quantity is {0}</Message>
    <Message name="求购">Ask to buy</Message>
    <Message name="没有找到与">Not found related</Message>
    <Message name="没有找到对应用户">User not found</Message>
    <Message name="没有找到相关的商品">Product not found </Message>
    <Message name="没有授权!">Not authorized.</Message>
    <Message name="没有权限访问">No permission to access</Message>
    <Message name="没有相关的数据记录">Not found any record</Message>
    <Message name="没有相关的数据记录！">Not found any record.</Message>
    <Message name="没有需要验证的用户邮箱地址！">The email is required.</Message>
    <Message name="法定代表人">Legal Representative</Message>
    <Message name="法定代表人不能为空">Legal representative is required.</Message>
    <Message name="注册">Register</Message>
    <Message name="注册号">Registration Number</Message>
    <Message name="注册地址">Registered Address</Message>
    <Message name="注册地址不能为空">Registered address is required.</Message>
    <Message name="注册失败">Failed to register</Message>
    <Message name="注册失败，请稍后重试">Failed to register, please try again in a few minutes</Message>
    <Message name="注册失败，请稍后重试！">Failed to register, please try again in a few minutes.</Message>
    <Message name="注册成功">Registration success</Message>
    <Message name="注册时间">Registration Time</Message>
    <Message name="注册资本">Registered Capital</Message>
    <Message name="注意：更改会员类型会刷新页面，请首先选择会员模型">Attention: to change the type of membership will refresh the page, please select the membership model first.</Message>
    <Message name="添加收藏">Add Favorite</Message>
    <Message name="添加自定义属性">Add custom properties</Message>
    <Message name="添加选中商品">Add selected item</Message>
    <Message name="清空收藏">Empty Favorites</Message>
    <Message name="清空购物车">Clear</Message>
    <Message name="滇ICP备14001648号-2">Number 14001648 of Yunnan Province ICP recording</Message>
    <Message name="点击放大">Zoom In</Message>
    <Message name="点击询价">Inquire Price</Message>
    <Message name="版权所有：中国—南亚博览会 未经授权，严禁转载">Copyright belongs to Chinese - South Asia Expo,any unauthorized reproduction is prohibited.</Message>
    <Message name="特别说明">Special explanation</Message>
    <Message name="状态">State</Message>
    <Message name="状态：">State: </Message>
    <Message name="现场服务">On site service</Message>
    <Message name="生产厂商">Manufacturers</Message>
    <Message name="生产厂商2">Manufacturers 2</Message>
    <Message name="生日">Birthday</Message>
    <Message name="用户信息">Customer Info</Message>
    <Message name="账户名">Username</Message>
    <Message name="账户名不能为空">Username is required.</Message>
    <Message name="账户名或密码不正确">The username or password is not correct</Message>
    <Message name="账户名或者密码错误!">The username or password is not correct.</Message>
    <Message name="用户邮箱地址已经通过验证！">The email is verified</Message>
    <Message name="用户邮箱地址没有通过验证！">The email failed to verify</Message>
    <Message name="申请单状态">Application Status</Message>
    <Message name="申请单编号">Application No.</Message>
    <Message name="申请时间">Applying Time</Message>
    <Message name="电话">Phone</Message>
    <Message name="电话号码不能为空哦">Phone is required.</Message>
    <Message name="男">Male</Message>
    <Message name="登录">Login</Message>
    <Message name="登录密码">Password</Message>
    <Message name="登录帐号">Account</Message>
    <Message name="登录账户名不能为空">Account is required</Message>
    <Message name="登录成功!">Login success</Message>
    <Message name="登录邮箱">Email</Message>
    <Message name="登记机关">Department </Message>
    <Message name="的搜索结果">Search Results</Message>
    <Message name="相关商品推荐">Relevant Recommendation</Message>
    <Message name="相关的商品">Related Items</Message>
    <Message name="相关的展会图片">Related exhibition pictures</Message>
    <Message name="相关的展会新闻">Related exhibition news</Message>
    <Message name="相关的展会视频">The related exhibition video</Message>
    <Message name="看不清楚，换一张">Change</Message>
    <Message name="真实姓名">Name</Message>
    <Message name="确定">OK</Message>
    <Message name="确定清空购物车吗？">Are you sure to empty the shopping cart?</Message>
    <Message name="确认">Confirm</Message>
    <Message name="确认信息，提交订单">confirm the information, and submit the order</Message>
    <Message name="确认密码">Confirm</Message>
    <Message name="确认密码不能为空">Confirm Password is required.</Message>
    <Message name="确认新密码">Confirm</Message>
    <Message name="确认要从购物车中移除该商品？">Are you sure to remove this item from the shopping cart?</Message>
    <Message name="禁止注册或用户已存在">Forbidden to register or user already exists</Message>
    <Message name="移动电话">Cellphone</Message>
    <Message name="立即完善">To complete now</Message>
    <Message name="立即支付">Pay now</Message>
    <Message name="立即注册">Register now</Message>
    <Message name="立即登录">Login now</Message>
    <Message name="立即购买">Buy now</Message>
    <Message name="等于">equal to</Message>
    <Message name="等待审核">Waitting to approve</Message>
    <Message name="签证指南">Visa Guide</Message>
    <Message name="管理个人账户">Manage Personal Account</Message>
    <Message name="管理体系认证">Management system certification</Message>
    <Message name="管理员审核">Administrator's approval</Message>
    <Message name="管理账户密码">Administrator's password</Message>
    <Message name="类别">Category</Message>
    <Message name="精彩图集">Brilliant Atlas</Message>
    <Message name="精彩活动">Wonderful  Activities</Message>
    <Message name="系统发生异常，请稍后再试。">Error occurs, please try again in a few minutes</Message>
    <Message name="系统错误">System error</Message>
    <Message name="组织机构">Organization</Message>
    <Message name="组编号">Group No.</Message>
    <Message name="组默认">Group Default</Message>
    <Message name="经营服务范围">Scope of business</Message>
    <Message name="经营模式">Business model</Message>
    <Message name="经营范围">Scope</Message>
    <Message name="继续购物">Continue</Message>
    <Message name="编号">Number</Message>
    <Message name="编辑">Edit</Message>
    <Message name="编辑销售信息">Edit Sales Information</Message>
    <Message name="缩短或修改您的搜索词，重新">Please shorten or modify your search term, try again</Message>
    <Message name="缩短或修改您的搜索词，重新搜索">Please shorten or modify your search term, search again</Message>
    <Message name="网上南博">Booking</Message>
    <Message name="网站地图">Sitemap</Message>
    <Message name="职能机构">Functional</Message>
    <Message name="联系人">Contact</Message>
    <Message name="联系人：">Contact:</Message>
    <Message name="联系人不能为空">Contact is required</Message>
    <Message name="联系人不能为空；">Contact is required</Message>
    <Message name="联系人不能为空哦">Contact is required</Message>
    <Message name="联系人手机">Cellphone</Message>
    <Message name="联系人手机：">Cellphone:</Message>
    <Message name="联系人手机不能为空">Cellphone is required</Message>
    <Message name="联系信息">Contact Information</Message>
    <Message name="联系地址">Address</Message>
    <Message name="联系地址：">Address:</Message>
    <Message name="联系地址不能为空">Contact address is required</Message>
    <Message name="联系我们">Contact Us</Message>
    <Message name="联系方式">Contact Information</Message>
    <Message name="联系电话">Phone</Message>
    <Message name="联系电话：">Phone:</Message>
    <Message name="联系电话不能为空">Telephone is required</Message>
    <Message name="联系电话不能为空！">Telephone is required!</Message>
    <Message name="联系电话不能为空；">Telephone is required:</Message>
    <Message name="联系电话必填项哦">Telephone is required</Message>
    <Message name="联系电话格式不对！">Invalid telephone</Message>
    <Message name="聚焦南亚">Focus South Asia</Message>
    <Message name="腾讯微博">WeChat</Message>
    <Message name="自动登录成功">Auto-login successfully</Message>
    <Message name="自助取票">Self pick up</Message>
    <Message name="自提点">Self picking up address</Message>
    <Message name="至">to</Message>
    <Message name="至少上传一张企业实景照">At least upload a company picture</Message>
    <Message name="至少上传一张格式正确的企业实景照">At least upload a company picture</Message>
    <Message name="营业执照原件">Business License</Message>
    <Message name="营业期限">Business Term</Message>
    <Message name="视听南博">Video News</Message>
    <Message name="视觉南亚">Image News</Message>
    <Message name="订单不存在！">Order is not existed</Message>
    <Message name="订单作废">Void</Message>
    <Message name="订单创建失败，请稍后再试">Order creation failed, please try again later</Message>
    <Message name="订单备注">Order Note</Message>
    <Message name="订单应付总金额">Pay Amount</Message>
    <Message name="订单明细">Order Transaction</Message>
    <Message name="订单状态">Status</Message>
    <Message name="订单确认">Confirm</Message>
    <Message name="订单管理">Order Management</Message>
    <Message name="订单类型">Order Type</Message>
    <Message name="订单编号">Order Number</Message>
    <Message name="订单编号/类型">Number/Type</Message>
    <Message name="订单详情">Order Details</Message>
    <Message name="订单金额">Order Amount</Message>
    <Message name="订票订展">Booking</Message>
    <Message name="认证级别">Level</Message>
    <Message name="记住账号">Remember account</Message>
    <Message name="设置为商品默认图片">Set as Default Picture</Message>
    <Message name="设置为组默认图片">Set as Group Default</Message>
    <Message name="设置同款商品">Set Group Items</Message>
    <Message name="设置库存">Set Inventory</Message>
    <Message name="设置新密码">Set New Password</Message>
    <Message name="设置销售信息">Set Sales Information</Message>
    <Message name="设置销售信息：">Set Sales Information</Message>
    <Message name="询价内容">Inquire Content</Message>
    <Message name="询价时间">Submit Time</Message>
    <Message name="询价管理">Inquiry Management</Message>
    <Message name="询价顾客">Customer</Message>
    <Message name="该商家信息未审核，请完善商家信息或耐心等待审核通过后再操作！">The company information has not been audited, please improve it and wait for a while.</Message>
    <Message name="该用户不存在邮箱地址">Not exists email</Message>
    <Message name="该邮件地址已经被注册">The email already exists</Message>
    <Message name="该邮箱已经存在">The email already exists</Message>
    <Message name="详细地址">Detailed Address</Message>
    <Message name="详细地址不能为空哦">Detailed address is required</Message>
    <Message name="详细说明">Description</Message>
    <Message name="详细说明不能为空哦">Description is required</Message>
    <Message name="请先登录!">Please Login</Message>
    <Message name="请先选择预定类型">Please select booking type</Message>
    <Message name="请再次输入新密码">Please enter the new password again</Message>
    <Message name="请填写您的真实姓名">Please enter your real name</Message>
    <Message name="请填写手机号码">Please enter cellphone</Message>
    <Message name="请填写手机号码！">Please enter cellphone!</Message>
    <Message name="请填写正确的手机号码">Invalid cellphone</Message>
    <Message name="请填写真实姓名！">Please enter real name!</Message>
    <Message name="请填写联系电话！">Please enter phone!</Message>
    <Message name="请您在新打开的网上银行页面进行支付，支付完成前请不要关闭该窗口">Please pay for this sales order on pop up page, can not close it before payment over</Message>
    <Message name="请您记下订单编号, 以便您在付款和查收时使用。谢谢！">Please write down the order number, so that you can use them in payment and collection. Thank you.</Message>
    <Message name="请您记下这个号码, 以便您在付款和查收时使用。谢谢">Please write down the order number, so that you can use them in payment and collection. Thank you.</Message>
    <Message name="请正确填写邮箱地址">Invalid Email</Message>
    <Message name="请输入11位的手机号或者座机号，多个联系电话用;隔开">Please enter your mobile phone or landline number, use space to Separate each number</Message>
    <Message name="请输入密码">Please enter your password</Message>
    <Message name="请输入您要回复的信息">Please enter your reply message</Message>
    <Message name="请输入新密码">Please enter your new password</Message>
    <Message name="请输入旧密码">Please enter your old password</Message>
    <Message name="请输入查询关键字">Please enter a keywords</Message>
    <Message name="请输入账户名">Please enter the user name</Message>
    <Message name="请输入登录密码">Please enter the password</Message>
    <Message name="请输入登录帐号">Please enter the account</Message>
    <Message name="请输入确认密码">Please enter the confirmation password</Message>
    <Message name="请输入邮箱">Please enter the email address</Message>
    <Message name="请输入验证码">Please enter the Verification code</Message>
    <Message name="请选择">Select</Message>
    <Message name="请选择区域">Please select the area</Message>
    <Message name="请选择地区">Please select the district</Message>
    <Message name="财付通">TenPay</Message>
    <Message name="账户信息">Account</Message>
    <Message name="账户信息管理">Account Management</Message>
    <Message name="账户名">Username</Message>
    <Message name="购买数量">Quantity</Message>
    <Message name="购买数量只能输入数字">Purchase quantity can only enter numbers</Message>
    <Message name="购买用户">Customers</Message>
    <Message name="购物车数据无效">Shopping cart data is invalid</Message>
    <Message name="购物车清单">Item list</Message>
    <Message name="资料完善：">Data improve:</Message>
    <Message name="未登录或身份验证信息已经过期，请重新登录！">Please login again!</Message>
    <Message name="输入新密码">New Password</Message>
    <Message name="输入账户名">User Name</Message>
    <Message name="过期未支付自动作废时间设置，单位小时">The time setting of automatic expiration of overdue unpaid order, set</Message>
    <Message name="运费">Charge</Message>
    <Message name="近期活动">Recent Activity</Message>
    <Message name="返回上一页">Previous Page</Message>
    <Message name="还可以输入300字">You can enter 300 letters</Message>
    <Message name="还没有会员账号">No account</Message>
    <Message name="这是WWW首页"></Message>
    <Message name="退款金额">Refund Amount</Message>
    <Message name="退货理由">Refound Reason</Message>
    <Message name="退货申请">Refund Request</Message>
    <Message name="选择分类 - 创建商品">Select Catalog-Create Product</Message>
    <Message name="选择所需商品图片的商品：">Select the required picture of item</Message>
    <Message name="选择订购商品">Select Product</Message>
    <Message name="选择语言">Select Language</Message>
    <Message name="选择需要设置的价码：">Select Price Code</Message>
    <Message name="选择需要设置的商品：">Select Product</Message>
    <Message name="邮政编码">Zip Code</Message>
    <Message name="邮政编码：">Zip Code:</Message>
    <Message name="邮政编码不能为空哦">Zip code is required</Message>
    <Message name="邮政编码只能为数字">Invalid zip code</Message>
    <Message name="邮政编码格式不正确">Invalid zip code</Message>
    <Message name="邮箱">Email</Message>
    <Message name="邮箱不能为空">Email is required</Message>
    <Message name="邮箱地址不合法">Invalid email</Message>
    <Message name="邮箱格式不正确">Invalid email</Message>
    <Message name="邮编">Zip Code</Message>
    <Message name="酒店住宿">Hotels</Message>
    <Message name="采购商">Purchaser</Message>
    <Message name="重 置">Reset</Message>
    <Message name="重置密码">Reset</Message>
    <Message name="重置密码成功">Reset password successfully</Message>
    <Message name="重置密码成功!">Reset password successfully!</Message>
    <Message name="重置新密码">Reset new password</Message>
    <Message name="销售价">Price</Message>
    <Message name="销售价：">Price:</Message>
    <Message name="销售信息">Sales Information</Message>
    <Message name="销售信息 - 商品维护">Sales Information - Product Maintain</Message>
    <Message name="销售信息列表">Sales Information List</Message>
    <Message name="销售商家">Merchant</Message>
    <Message name="销量">Sales Volume</Message>
    <Message name="错误">Error</Message>
    <Message name="错误提示信息">Error Message</Message>
    <Message name="长度必须大于7位和小于17位">Length must be greater than 7 numbers and less than 17 numbers</Message>
    <Message name="门票售价">Ticket Price</Message>
    <Message name="门票详情">Ticket Details</Message>
    <Message name="门票详细">Ticket Details</Message>
    <Message name="门票金额">Amount</Message>
    <Message name="阅读注册协议">Read the agreement</Message>
    <Message name="附件">Attachment</Message>
    <Message name="非常抱歉">Sorry</Message>
    <Message name="非常抱歉！以下商品不能购买，请修改订购数量或重新选择其他商品。">Sorry, these items can not be purchased, please change quantity or purchase other item.</Message>
    <Message name="非常抱歉！以下商品不能购买，请返回">Sorry, these items can not be purchased, please change quantity or purchase other item.</Message>
    <Message name="非常抱歉，展位预订已全部售罄">Sorry,the booths has been sold out</Message>
    <Message name="页">page</Message>
    <Message name="预订类型">Order Type</Message>
    <Message name="领导题词">Inscription</Message>
    <Message name="餐饮住宿">Catering</Message>
    <Message name="餐饮娱乐">Catering</Message>
    <Message name="首页">Home</Message>
    <Message name="马上注册">Register</Message>
    <Message name="验证码">Validation</Message>
    <Message name="验证码不正确">Code error</Message>
    <Message name="验证码不正确!">Code error!</Message>
    <Message name="验证码不正确！">Code error!</Message>
    <Message name="验证码不能为空">Code is required</Message>
    <Message name="验证码不能为空！">Code is required!</Message>
    <Message name="验证码错误">Code error!</Message>
    <Message name="验证码错误!">Code error!</Message>
    <Message name="验证身份">Validation</Message>
    <Message name="验证邮件已发送，请您">Verification email has sent,</Message>
    <Message name="验证邮箱">Verification Email</Message>
    <Message name="默认">Default </Message>
    <Message name="默认/组默认">Default</Message>
    <Message name="贵宾看南博">Inscription</Message>
    <Message name="供应信息">Supply</Message>
    <Message name="求购信息">Demand</Message>
    <Message name="已作废">InValid</Message>
    <Message name="初始化">Initialization</Message>
    <Message name="普通订单">Normal Order</Message>
    <Message name="票务订单">Ticket Order</Message>
    <Message name="商品:{0} 库存不足">Product:{0} inventory shortage</Message>
    <Message name="作废申请创建成功，申请编号:">Void created successful request, Request Number is:</Message>
    <Message name="订单已存在作废申请！">Void request existsed!</Message>
    <Message name="同意">Agreed</Message>
    <Message name="拒绝">Refused</Message>
    <Message name="未回复">No Reply</Message>
    <Message name="已回复">Replied</Message>
    <Message name="--所有--">--All--</Message>
    <!--不需要翻译-->
    <Message name="个商品">products</Message>
    <Message name="分享到新浪微博">sina weibo</Message>
    <Message name="分享到QQ空间">QQ-zone</Message>
    <Message name="分享到腾讯微博">QQ weibo</Message>
    <Message name="分享到人人网">renren</Message>

    <Message name="会员须知">Membership</Message>
    <Message name="注册须知">Registration instructions</Message>
    <Message name="第二届泰隆优选展会通票">China-South Asia Expostion II</Message>
    <Message name="快递配送"> Express Delivery</Message>
    <Message name="其它">Other</Message>
    <Message name="代理销售">Agency Factor</Message>
    <Message name="信息及服务">Info And Service</Message>
    <Message name="已支付">Paid</Message>

    <Message name="商品-类别管理">Product-Category</Message>
    <Message name="商品-商品管理">Product-Product</Message>
    <Message name="销售-订单管理">Sales-Order</Message>
    <Message name="销售-退单管理">Sales-Chargeback </Message>
    <Message name="销售-退款管理">Sales-Refund</Message>
    <Message name="销售-询价管理">Sales-Inquiry</Message>
    <Message name="销售-供求管理">Sales-Supply and demand</Message>
    <Message name="商家-企业信息">Business-Enterprise</Message>
    <Message name="商家-账号维护">Business-Account</Message>
    <Message name="内容-栏目管理">Content-Column</Message>
    <Message name="内容-内容管理">Content-Content</Message>
    <Message name="广告-Banner推荐">Banner-Banner recommand</Message>
    <Message name="反馈-建议反馈">Feedback-Recommends feedback</Message>
    <Message name="顾客-顾客管理">Customer-Customer </Message>
    <Message name="顾客-信息管理">Customer-Information</Message>
    <Message name="系统-用户管理">System-Customer</Message>
    <Message name="系统-角色管理">System-Role</Message>
    <Message name="系统-角色权限管理">System-Role function</Message>
    <Message name="未完善">Not Improved</Message>
    <Message name="已完善">Improved</Message>
    <Message name="有图片">Pictures</Message>
    <Message name="无图片">No picture</Message>
    <Message name="商品已下架!">The Product is Offline!</Message>
    <Message name="未找到相关商品!">Not find the product!</Message>
    <Message name="未找到相关商家!">Not find the merchant!</Message>
    <Message name="泰隆优选官方网站">China-South Asia Expo Official Website</Message>
    <Message name="已删除">Deleted</Message>
    <Message name="无效">Invalid</Message>
    <Message name="正常">Normal</Message>
    <Message name="更新询价状态">Update Inquiry Status</Message>
    <Message name="添加询价回复">Add Inquiry Reply</Message>
    <Message name="删除询价回复">Delete Inquiry Reply</Message>
    
    <Message name="10人以下">10 people lower</Message>
    <Message name="11-50人">11-50 people</Message>
    <Message name="51-200人">51-200 people</Message>
    <Message name="200-500人">200-500 people</Message>
    <Message name="500人以上">500 people upper</Message>

    <Message name="更新商品状态">Update product status</Message>
    <Message name="更新商品'{0}'的状态为:{1}">Update product'{0}'status:{1}</Message>
    <Message name="创建订单">Create Order</Message>
    <Message name="订单作废,订单编号为:">Void Order,The order number is:</Message>
    <Message name="确认订单">Confirm Order</Message>>
    <Message name="确认订单,订单编号为:">Confirm Order,the order number is:</Message>
    <Message name="创建商品组信息">Create product group info</Message>
    <Message name="创建商品组,商品名称为:">Create product group info,The number is:</Message>
    <Message name="批量上传图片">Batch upload picture</Message>
    <Message name="批量上传图片,商品编号为:">Batch upload picture,The product number is:</Message>
    <Message name="批量删除图片,商品组编号为:">Batch delete picture,The proudct group number is:</Message>
    <Message name="设置商品默认图片">Set product default picture</Message>
    <Message name="设置商品默认图片,商品编号为:">Set product default picture,The product number is:</Message>
    <Message name="设置商品组默认图片">Set product group default picture</Message>
    <Message name="设置商品默认图片,商品组编号为:">Set product group default picture,The product group number is:</Message>
    <Message name="设置商品图片优先级">Set product picture priority</Message>
    <Message name="设置商品图片优先级,商品编号为:">Set product picture priority,The product number is:</Message>
    <Message name="订单状态不正确！">Order status is incorrect!</Message>
    <Message name="订单金额大于0！">Order amount is greater than 0!</Message>
    <Message name="购票流程">Booking</Message>
    <Message name="前往订票">Booking</Message>

    <Message name="等待退款">WaitingRefund</Message>
    <Message name="退款进行中">RefundProgress</Message>
    <Message name="成功">Success</Message>
    <Message name="失败">Failure</Message>
    <Message name="支付方式">Pay Type</Message>
    <Message name="退款状态">Refund Status</Message>
    <Message name="退款日期">Refund Date</Message>
    <Message name="抽奖订单">Draw Orders</Message>
    
  </MessageList>
</MessageResource>
