<?xml version="1.0" encoding="utf-8" ?>
<mailTemplateConfig xmlns="http://www.ECommerce.com/mail">
  <mailTemplate templateID="RegisterSuccess"  subject="恭喜您[CustomerID]，泰隆优选注册成功">
    <body>
      <![CDATA[
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>注册成功</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#f5f5f5; color:#333333; font-size:14px; font-family: "microsoft yahei", Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; background-color:#ffffff;">
  <tr>
  	<td width="15">&nbsp;</td>
    <td><div style="padding-bottom:10px;padding-top:10px;"><a href="[WebBaseUrl]"><img src="[ImgBaseUrl]/Resources/themes/default/Nest/img/logo2.png" width="219" height="58" border="0" alt="泰隆优选 TAILONG BEST" /></a></div></td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;border-top:1px solid #FE8008;border-bottom:2px solid #F06200;font-size:14px;font-weight:normal;color:#ffab5b; background-color:#FE8008; text-align:center;" bgcolor="#fbfbfb">
  <tr>
    <td height="18">&nbsp;</td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; background:#fff;">

    <td style="padding-left:21px; padding-right:21px;  color:#333333;">
    	
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#ff6600;">注册成功</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">感谢您注册泰隆优选。</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:0; padding-right:5px; padding-top:13px; padding-bottom:15px;"><p style="line-height:22px;">亲爱的 <span style="color:#ff6600;">[CustomerID]</span> 用户，我们将竭诚为您提供贴心的服务！</p></td>
          </tr>
          <tr>
            <td style="padding-left:5px;  text-indent:2em; padding-bottom:15px;"><p style="margin-left:1em;text-indent:-1em; padding-bottom:15px;">1.	收到了这封邮件，您已成功注册成为泰隆优选的用户啦。<br >我们保证仅向您发送关于泰隆优选的产品、促销优惠以及服务的电子邮件。<br >泰隆优选尊重并保护您的隐私。 </p>
			<p style="margin-left:1em;text-indent:-1em;">2. 商品价格或促销内容如有调整，以泰隆优选上最终页面为准。<br >如有问题欢迎您致电或邮件联系泰隆优选客服中心：<span style="color:#ff6600;">400-019-6575</span>。<br >如选购商品过程中遇到支付、配送、售后、投诉等相关问题请进入<a href="[WebBaseUrl]/servicecenter" style="color:#ff6600;">帮助中心</a>。</p>
			</td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#ff6600;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px;border-top:1px solid #f5f5f5; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="middle" align="center" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-left:26px;">&copy; [Year]&nbsp;&nbsp;泰隆优选&nbsp;&nbsp;&nbsp;All Rights Reserved.</p></td>
 </tr>
</table>

</body>
</html>

]]>
    </body>
  </mailTemplate>

  <mailTemplate templateID="ValidateEmail"  subject="泰隆优选会员邮箱验证（系统邮件，请勿回复）">
    <body>
      <![CDATA[
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>验证email</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#f5f5f5; color:#333333; font-size:14px; font-family: "microsoft yahei", Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; background-color:#ffffff;">
  <tr>
  	<td width="15">&nbsp;</td>
    <td><div style="padding-bottom:10px;padding-top:10px;"><a href="[WebBaseUrl]"><img src="[ImgBaseUrl]/Resources/themes/default/Nest/img/logo2.png" width="219" height="58" border="0" alt="泰隆优选 TAILONG BEST" /></a></div></td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;border-top:1px solid #FE8008;border-bottom:2px solid #F06200;font-size:14px;font-weight:normal;color:#ffab5b; background-color:#FE8008; text-align:center;" bgcolor="#fbfbfb">
  <tr>
    <td height="18">&nbsp;</td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; background:#fff;">
  <tr>
    <td style="padding-left:21px; padding-right:21px;  color:#333333;">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#ff6600;">验证Email</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的泰隆优选会员 [CustomerID]：</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">请点击下面的链接来验证你的Email：</p><div style="width:620px; font-size:12px; text-indent:27px; word-wrap: break-word;"><a style="color:#176DBA; " href="[url]">[url]</a></div></td>
          </tr>
          <tr>
            <td style="padding-left:5px;  text-indent:2em; padding-bottom:10px;">&nbsp;</td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#ff6600;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px;border-top:1px solid #f5f5f5; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="middle" align="center" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-left:26px;">&copy; [Year]&nbsp;&nbsp;泰隆优选&nbsp;&nbsp;&nbsp;All Rights Reserved.</p></td>
 </tr>
</table>

</body>
</html>
    ]]>
    </body>
  </mailTemplate>

  <mailTemplate templateID="findpassword"  subject="泰隆优选：设置新密码">
    <body>
      <![CDATA[
        
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>重置密码</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#f5f5f5; color:#333333; font-size:14px; font-family: "microsoft yahei", Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; background-color:#ffffff;">
  <tr>
  	<td width="15">&nbsp;</td>
    <td><div style="padding-bottom:10px;padding-top:10px;"><a href="[WebBaseUrl]"><img src="[ImgBaseUrl]/Resources/themes/default/Nest/img/logo2.png" width="219" height="58" border="0" alt="泰隆优选 TAILONG BEST" /></a></div></td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;border-top:1px solid #FE8008;border-bottom:2px solid #F06200;font-size:14px;font-weight:normal;color:#ffab5b; background-color:#FE8008; text-align:center;" bgcolor="#fbfbfb">
  <tr>
    <td height="18">&nbsp;</td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; background:#fff;">
 <tr>
    <td style="padding-left:21px; padding-right:21px;  color:#333333;">
    	
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#ff6600;">会员密码重置申请</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的泰隆优选会员 [CustomerID]：</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:15px;"><p style="line-height:22px;">您好！泰隆优选已经收到您的密码重置请求，请点击下方链接设置你的新密码。（链接将在7天后失效）</p><div style="width:620px; font-size:12px; text-indent:27px; word-wrap: break-word;"><a style="color:#176DBA; " href="[SetNewTokenUrl]">[SetNewTokenUrl]</a></div></td>
          </tr>
          <tr>
            <td style="padding-left:5px;  text-indent:2em; padding-bottom:15px;">如果您取消重置密码，或未曾申请重置密码，请忽略或删除本邮件。请放心，您的个人账户信息是安全的。 </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#ff6600;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px;border-top:1px solid #f5f5f5; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="middle" align="center" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-left:26px;">&copy; [Year]&nbsp;&nbsp;泰隆优选&nbsp;&nbsp;&nbsp;All Rights Reserved.</p></td>
 </tr>
</table>

</body>
</html>
				  ]]>
    </body>
  </mailTemplate>

  <mailTemplate templateID="SalesOrderMailSuccessful"  subject="泰隆优选--您的订单[SOSysNo]已生成">
    <body>
      <![CDATA[
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>订单生成通知</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#f5f5f5; color:#333333; font-size:14px; font-family: "microsoft yahei", Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; background-color:#ffffff;">
  <tr>
  	<td width="15">&nbsp;</td>
    <td><div style="padding-bottom:10px;padding-top:10px;"><a href="[WebBaseUrl]"><img src="[ImgBaseUrl]/Resources/themes/default/Nest/img/logo2.png" width="219" height="58" border="0" alt="泰隆优选 TAILONG BEST" /></a></div></td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;border-top:1px solid #FE8008;border-bottom:2px solid #F06200;font-size:14px;font-weight:normal;color:#ffab5b; background-color:#FE8008; text-align:center;" bgcolor="#fbfbfb">
  <tr>
    <td height="18">&nbsp;</td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; background:#fff;">
 <tr>
    <td style="padding-left:21px; padding-right:21px;  color:#333333;">
    	
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#ff6600;">订单生成通知</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的泰隆优选会员 [CustomerID]：</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">欢迎您来泰隆优选购物！您的订单已经成功生成，请您尽快付款（货到付款方式除外），我们会在确认付款后及时为您安排发货！</p></td>
          </tr>
          <tr>
            <td style="padding-left:5px;  text-indent:2em; padding-bottom:10px;">您的订单编号：<strong style="color:#ff6600;">[SOSysNo]</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单时间：[OrderTime] </td>
          </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="background:#FFF4D3; line-height:20px; border:1px solid #FFCEAE; font-size:12px;">
          <tr>
            <td style="padding:10px 15px 5px;"><strong>为了保证您的权益温馨贴士：</strong></td>
          </tr>
          <tr>
            <td style="padding:8px 15px 0;">1、&quot;订单成功提交&quot;仅代表泰隆优选已收到了您提交的订单，只有您订单通过了确认审核后，我们双方的订购合同才成立。</td>
          </tr>
          <tr>
            <td style="padding:8px 15px 0;">2、请在收到货物时认真检查外包装以及印有泰隆优选（泰隆优选入驻商户）LOGO的封带是否完好，如果外包装有明显损坏或封带有撕开过的迹象，您可以直接拒收该货物，并及时通知我们，泰隆优选会及时为您处理相关事宜。</td>
          </tr>
          <tr>
            <td style="padding:8px 15px 13px;">3、如果您已经签收到了货物，再提出因为外包装或封带有损而要求退货，恕我们不能受理，谢谢您的理解与配合，祝您购物愉快。</td>
          </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style=" font-size:12px; line-height:20px;">
          <tr>
            <td colspan="2" style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>收货人信息</b></td>
          </tr>
		   <tr>
            <td width="70" style=" padding-left:8px;">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</td>
            <td width="">[CustomerName]</td>
          </tr>
          <tr>
            <td width="70" style=" padding-left:8px;">联 系 人：</td>
            <td width="">[ContactName]</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">收货地址：</td>
            <td>[ContactAddress]</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">邮政编码：</td>
            <td>[ContactZipCode]</td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;">电话号码：</td>
            <td style="padding-bottom:10px;">[ContactMobilePhone] [ContactPhone]</td>
          </tr>
        </table>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:24px;">
          <tr>
            <td colspan="6" style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>您购买过的商品</b></td>
          </tr>
          <tr style="background:#FFBB7A;">
		  		  <td width="80" align="center" style="padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">图片</td>
		  		  <td width="100" align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">商品编号</td>
            <td align="center" style="padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;">商品名称</td>
            <td style="width:91px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">单价</td>
            <td style="width:50px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">数量</td>
            <td style="width:90px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">小计</td>
          </tr>
          [OrderContent]
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:20px;">
          <tr>
            <td colspan="2" style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>其它信息</b></td>
          </tr>
          <tr>
            <td width="138" style="padding-left:8px;">运输方式：</td>
            <td>[ShipTypeName]</td>
          </tr>
		  <tr>
            <td style="padding-left:8px;">付款方式：</td>
            <td>[PayTypeName]</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">商品总重（含礼品）：</td>
            <td>[TotalWeight]Kg</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">运输费用：</td>
            <td>&yen;[ShippingAmount]</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">折扣金额：</td>
            <td>&yen;[TotalDiscountAmount]</td>
          </tr>
		   <tr>
            <td style="padding-left:8px;">优惠券抵扣：</td>
            <td>&yen;[CouponAmount]</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">账户余额抵扣：</td>
            <td>&yen;[BalancePayAmount]</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">积分抵扣：</td>
            <td>&yen;[PointPayAmount]</td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;">应付金额（含税）：</td>
            <td style="padding-bottom:10px;"><strong style="color:#ff6600">&yen;[CashPayAmountWithTax]</strong></td>
          </tr>
        </table>
		
		 <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:20px; border-bottom:1px solid #ededed;">
          <tr>
            <td style="color:#ff6600; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>备注信息</b></td>
          </tr>
		   <tr>
            <td style="padding-left:8px; font-size:12px; padding-bottom:30px;">[SOMemo]</td>
          </tr>
		  </table>
		
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#ff6600;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br />[SendTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px;border-top:1px solid #f5f5f5; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="middle" align="center" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-left:26px;">&copy; [Year]&nbsp;&nbsp;泰隆优选&nbsp;&nbsp;&nbsp;All Rights Reserved.</p></td>
 </tr>
</table>

</body>
</html>
      ]]>
    </body>

  </mailTemplate>

  <mailTemplate templateID="SalesOrderPaySuccessful"  subject="泰隆优选--您的订单[SOSysNo]已支付成功">
    <body>
      <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>泰隆优选订单支付成功邮件</title>
        </head>
        <body>
        <table width="682" border="0" align="center" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; border:1px solid #ededed; background:#fff;">
	          <tbody>
		          <tr>
			          <td align="right">&nbsp;</td>
		          </tr>
		          <tr><td style="padding-left:27px; padding-right:27px;  color:#333333;">

			          <table width="100%" border="0" cellspacing="0" cellpadding="0">
				          <tbody>
					          <tr>
						          <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#f52800;">订单支付成功通知</td>
						          </tr>
						          <tr>
						          <td style="padding-left:5px; padding-right:5px;">尊敬的泰隆优选会员 [CustomerName]：</td>
						          </tr>
						          <tr>
						          <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">欢迎您来泰隆优选购物！您的订单<strong style="color:#f52800;">[SOSysNo]</strong>已经支付成功，我们会及时给您安排发货！</p></td>
					          </tr>
				          </tbody>
			          </table>
			          <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="font-size:12px; line-height:24px;">
				          <tbody>
				          <tr>
					          <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;" colspan="6"><b>订单信息：</b></td>
				          </tr>
				          <tr style="background:#F0F0F0;">
					          <td width="100" align="center" style=" padding-left:5px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">订单编号</td>
					          <td align="center" style="padding-left:5px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">支付金额</td>
					          <td align="center" style="width:91px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">支付方式</td>
					          <td align="center" style="width:50px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">下单时间</td>
					          <td align="center" style="width:90px; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">收货人姓名</td>
				          </tr>
				          <tr style="background:#fff;">
					          <td width="100" align="center" style=" padding-left:5px; border-left:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[SOSysNo]</td>
					          <td align="center" style="padding-left:5px; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[PayAmount]</td>
					          <td align="center" style="width:91px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[PayTypeName]</td>
					          <td align="center" style="width:50px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[OrderDate]</td>
					          <td align="center" style="width:90px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;">[ReceiveName]</td>
				          </tr>
			          </tbody>
			          </table>
			          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; line-height:20px; border-bottom:1px solid #ededed;">
				          <tbody>
					          <tr>
						          <td style="color:#f52800; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>备注信息：</b></td>
					          </tr>
					          <tr>
						          <td style="padding-left:8px; font-size:12px; padding-bottom:30px;">[SOMemo]</td>
					          </tr>
				          </tbody>
			          </table>
			          <table width="100%" border="0" cellspacing="0" cellpadding="0">
				          <tbody><tr>
				          <td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
				          <div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br>此致</span></div>
			          <br>
				          <div style="text-indent:2em;"><span style="color:#f52800;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
				          </td>
				          <td valign="bottom" align="right" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br>[NowDate]</span></td>
				          </tr>
			          </tbody></table>
			          </td>
		          </tr>
	          </tbody>
        </table>
        </body>
        </html>
        ]]>
    </body>
  </mailTemplate>

  <mailTemplate templateID="ReviewReply"  subject="评论收到回复">
    <body>
      <![CDATA[
      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>您的评论已被回复</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#f5f5f5; color:#333333; font-size:14px; font-family: "microsoft yahei", Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; background-color:#ffffff;">
  <tr>
    <td><a href="[WebBaseUrl]"><img src="[ImgBaseUrl]/Resources/themes/default/Nest/img/logo2.png" width="215" height="88" border="0" alt="泰隆优选 KJT.com" /></a></td>
    <td width="467" valign="top"><div style="margin-top:30px;margin-right:26px;text-align:right;color:#e03357;font-weight:bold; line-height:22px;"><span style="font-size:20px; line-height:22px;">400-019-6575</span><br /><span style="font-size:12px; line-height:22px;">周一到周日 09:00-24:00</span></div></td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;border-top:1px solid #eee;border-bottom:2px solid #c40000;font-size:14px;font-weight:normal;color:#EAEAEA; background-color:#fbfbfb; text-align:center;" bgcolor="#fbfbfb">
  <tr>
    <td width="15" height="39">&nbsp;</td><td width="70"><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]">首 页</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/product/searchresult?tt=0">产地直销</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/product/searchresult?tt=1">进口商品</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/brandall">品牌特卖</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/countdown">抢购专区</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/groupbuying">精品团购</a></td><td width="15" height="39">&nbsp;</td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; background:#fff;">
<tr>
    <td style="padding-left:21px; padding-right:21px;  color:#333333;">
    	
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#e03357;">泰隆优选-您的评论已被回复</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的泰隆优选会员 [CustomerID]：</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:15px;"><p style="line-height:22px;">您好！您订单：[SOSysNo] 的评论已被回复：[ReplyContent] </p></td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#e03357;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px;border-top:1px solid #f5f5f5; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="middle" align="left" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-left:26px;">&copy; 2014&nbsp;&nbsp;泰隆优选&nbsp;&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;<a style="color:#999999;cursor:default;" href="javascript:;">沪ICP备14006635号-1</a></p></td>
 	<td valign="top" align="right" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-right:21px;"><img src="[WebBaseUrl]/Resources/themes/default/Nest/img/bin_code.png" width="124" height="67" border="0" alt="扫一扫，关注我们" /></p></td>
 </tr>
</table>

</body>
</html>
      ]]>
    </body>
  </mailTemplate>

  <mailTemplate templateID="ConsultReply"  subject="咨询收到回复">
    <body>
      <![CDATA[
      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>您的咨询已被回复</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#f5f5f5; color:#333333; font-size:14px; font-family: "microsoft yahei", Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; background-color:#ffffff;">
  <tr>
    <td><a href="[WebBaseUrl]"><img src="[ImgBaseUrl]/Resources/themes/default/Nest/img/logo2.png" width="215" height="88" border="0" alt="泰隆优选 KJT.com" /></a></td>
    <td width="467" valign="top"><div style="margin-top:30px;margin-right:26px;text-align:right;color:#e03357;font-weight:bold; line-height:22px;"><span style="font-size:20px; line-height:22px;">400-019-6575</span><br /><span style="font-size:12px; line-height:22px;">周一到周日 09:00-24:00</span></div></td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;border-top:1px solid #eee;border-bottom:2px solid #c40000;font-size:14px;font-weight:normal;color:#EAEAEA; background-color:#fbfbfb; text-align:center;" bgcolor="#fbfbfb">
  <tr>
    <td width="15" height="39">&nbsp;</td><td width="70"><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]">首 页</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/product/searchresult?tt=0">产地直销</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/product/searchresult?tt=1">进口商品</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/brandall">品牌特卖</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/countdown">抢购专区</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="[WebBaseUrl]/groupbuying">精品团购</a></td><td width="15" height="39">&nbsp;</td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; background:#fff;">
<tr>
    <td style="padding-left:21px; padding-right:21px;  color:#333333;">
    	
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#e03357;">泰隆优选-您的咨询已被回复</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的泰隆优选会员 [CustomerID]：</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:15px;"><p style="line-height:22px;">您好！您对产品：<a href='[ProducDetail]'>[ProductName]</a>的咨询：[Content] </p></td>
          </tr>
          <tr>
            <td  style="padding-left:5px; padding-right:5px;">回复如下：</td>
          </tr>
          <tr>
            <td  style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:15px;">[ReplyContent]</td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        		<tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#e03357;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br />[CurrentDateTime]</span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px;border-top:1px solid #f5f5f5; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="middle" align="left" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-left:26px;">&copy; 2014&nbsp;&nbsp;泰隆优选&nbsp;&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;<a style="color:#999999;cursor:default;" href="javascript:;">沪ICP备14006635号-1</a></p></td>
 	<td valign="top" align="right" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-right:21px;"><img src="[WebBaseUrl]/Resources/themes/default/Nest/img/bin_code.png" width="124" height="67" border="0" alt="扫一扫，关注我们" /></p></td>
 </tr>
</table>

</body>
</html>
    ]]>
    </body>
  </mailTemplate>

</mailTemplateConfig>
