<div class="modal-header" style="background-color: #4b8df8;">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
    </button>
    <h4 class="modal-title">数量设置</h4>
</div>

<div class="modal-body">
    <div class="Row">
        <form class="form-horizontal">
            <label class="control-label col-xs-2">数量</label>
            <div class="col-xs-4">
                <div class="form-group">
                    <input id="numCount" class="form-control" type="number" />
                </div>
            </div>
            <div class="col-xs-6">
                <label id="lblError" class="control-label" style="color:red;display:none;">请输入长度为1位的数字,最小为1,最大为9</label>
            </div>
        </form>
    </div>
    <div class="Row">
        <div class="col-md-offset-11">
            <a class="btn green" id="SaveBtn"><i class="fa fa-save"></i>保存</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        $("#SaveBtn").click(function () {
            var count = $("#numCount").val();
            var reg = /^[1-9]{1}$/;
            if (!reg.test(count)) {
                $("#lblError").show();
                return false;
            }
        });
    })();
</script>
