<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
    <section name="ServiceJobSection" type="IPP.ECommerceMgmt.ServiceJob.Providers.ServiceJobSection,IPP.ECommerceMgmt.ServiceJob"/>
  </configSections>
  
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <ServiceJobSection>
    <JobProviders>
      <!--<add name="ProviderSOFPCheck" type="IPP.ECommerceMgmt.ServiceJob.Providers.ServiceJobProviderSOFPCheck,IPP.ECommerceMgmt.ServiceJob"/>-->
      <add name="ProviderSODC" type="IPP.ECommerceMgmt.ServiceJob.Providers.ServiceSODC,IPP.ECommerceMgmt.ServiceJob"/>
      <!--<add name="ProviderSOAutoAuditSendMessage" type="IPP.ECommerceMgmt.ServiceJob.Providers.ServiceJobProviderSOAutoAuditSendMessage,IPP.ECommerceMgmt.ServiceJob"/>-->

    </JobProviders>

    <JobCollection>
      <!--<add jobName="JOBFPCheck" jobType="Repeter"  runTime="00:00;1"  provider="ProviderSOFPCheck" errorLog="Log\FPCheck_Error.txt" infoLog="Log\FPCheck_Info.txt" bizLog="Log\FPCheck_Biz.txt"/>-->
      <add jobName="JOBSODC" jobType="Repeter" runTime="00:00;1" provider="ProviderSODC" errorLog="Log\SODC_Error.txt" infoLog="Log\SODC_Info.txt" bizLog="Log\SODC_Biz.txt"/>
      <!--<add jobName="JOBAutoSOAuditSendMessage" jobType="Repeter"  runTime="00:00;5"  provider="ProviderSOAutoAuditSendMessage" errorLog="Log\SOAuditSendMessage_Error.txt" infoLog="Log\SOAuditSendMessage_Info.txt" bizLog="Log\SOAuditSendMessage_Biz.txt"/>-->
    </JobCollection>
  </ServiceJobSection>

  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <logSettings localRegionName="OrderMgmt"/>
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>

  <appSettings>  

    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <add key="ConsumerName" value="CN.OrderMgmt.UI.IPP01"/>
    <!--<add key="ServiceBrokerAddressHeader" value="net.tcp://10.16.50.35" />-->
    <add key="ServiceBrokerAddressHeader" value="net.tcp://10.1.41.195"/>
    <add key="LocationName" value="IISHostDev"/>
	<!--<add key="LocationName" value="LocalDev"/>-->
    <!--以下五项为调用WCF服务时所使用到的信息-->
    <add key="UserDisplayName" value="IPPSystemAdmin"/>
    <add key="UserLoginName" value="IPPSystemAdmin"/>
    <add key="CompanyCode" value="8601"/>
    <add key="StoreCompanyCode" value="8601"/>
    <add key="StoreSourceDirectoryKey" value="bitkoo"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
	  <add key="RepeatTime" value="60"/>

    <add key="SORestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/SOService/"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
