@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付成功</title>
</head>
<body style="margin:0 auto;	text-align:center; font-family:tahoma,arial,\5b8b\4f53;color:#848484; background-color:#f6f6f6;">
    <div style="background-color: #E32241; width: 100%;text-align:center;padding:7px;margin:0px">
        <span style="font-size:20px;font-weight:bold;text-align:center">
            支付完成</span>
    </div>
    <div style="padding-top:10px;">
        <span style="text-align:center;font-size:16px;font-weight:bold;margin:0px;padding:0px;">
                您的订单已支付完成
        </span>
    </div>
</body>
</html>
