<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <dataCommand name="GetProductItemNoList" database="OverseaContentManagement" commandType="Text">
		<!--定义SQL语句-->
		<commandText>
			<![CDATA[
      SELECT 
       A.[SysNo]
      ,A.[ProductID]
      ,A.[ProductName]
      ,A.[PMUserSysNo]
      ,CONVERT(DECIMAL(19,2),ISNULL(D.Point,0)) AS Point    
      ,CONVERT(DECIMAL(19,2),ISNULL(D.UnitCost,0)) AS UnitCost
      ,CONVERT(DECIMAL(19,2),ISNULL(D.CurrentPrice,0)) AS CurrentPrice
      ,CONVERT(DECIMAL(19,2),ISNULL(C.JDPrice,0)) AS JDPrice
      ,CONVERT(DECIMAL(19,2),ISNULL(B.AMPrice,0)) AS AMPrice  
      FROM [IPP3].[dbo].[Product] A WITH(NOLOCK)
      LEFT JOIN [IPP3].[dbo].[Product_Price] D WITH(NOLOCK) 
      ON A.SysNo=D.ProductSysNo AND D.CompanyCode = @CompanyCode
      INNER JOIN [IPP3].[dbo].[Product_Ex] E WITH(NOLOCK)
      ON A.SysNo=E.SysNo AND E.CompanyCode = @CompanyCode
      LEFT JOIN IPP3.dbo.Product_PriceCatch C WITH(NOLOCK) 
      ON A.Sysno=C.ProductSysNo AND C.CompanyCode = @CompanyCode
      LEFT JOIN IPP3.dbo.Product_PriceCatchForAm B WITH(NOLOCK) 
      ON A.Sysno=B.ProductSysNo AND B.CompanyCode = @CompanyCode
      WHERE A.[ProductType] = 0  AND E.AutoAdjustPrice = 0 AND A.[Status] = 1 AND A.CompanyCode = @CompanyCode
      AND E.AutoPricingEndDate < getdate()
	  ]]>
		</commandText>
    <parameters>
      <param name="@CompanyCode" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateItemPriceAcceptData" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      UPDATE 
          [IPP3].[dbo].[Product_Ex]
          SET 
          AutoAdjustPrice = 1,
          [AutoPricingStartDate]=getdate(),
          [AutoPricingEndDate]=DATEADD(yy, +20, getdate())
          WHERE [SysNo]=@SysNo AND [CompanyCode]=@CompanyCode
      ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="String" />
      <param name="@CompanyCode" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetProductPmEmail" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
     SELECT ACLogicUserName AS UserName,EmailAddress AS ccEmail 
     FROM [OverseaArchitecture].[dbo].[AuthCenterIPPUserMapping] WITH(NOLOCK) 
     WHERE IPPUserSysNo = @UserSysNo AND CompanyCode=@CompanyCode
	  ]]>
    </commandText>
    <parameters>
      <param name="@UserSysNo" dbType="Int32" />
      <param name="@CompanyCode" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetProductSlEmail" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      SELECT AM.EmailAddress AS toEmail 
      FROM  
      [IPP3].[dbo].[Product] AS PD WITH(NOLOCK) 
      INNER JOIN[IPP3].[dbo].[Category3] AS C3 WITH(NOLOCK) ON PD.[C3SysNo] = C3.[SysNo] AND C3.CompanyCode=@CompanyCode
      INNER JOIN[IPP3].[dbo].[Category2] AS C2 WITH(NOLOCK) ON C3.[C2SysNo] = C2.[SysNo] AND C2.CompanyCode=@CompanyCode
      INNER JOIN[OverseaContentManagement].[dbo].[Category_Sales] AS CS WITH(NOLOCK) ON C2.[SysNo] = CS.[C2SysNo] AND CS.CompanyCode=@CompanyCode
      INNER JOIN[OverseaArchitecture].[dbo].[AuthCenterIPPUserMapping] AM WITH(NOLOCK) ON CS.[SalesSysNo] = AM.[IPPUserSysNo] AND AM.CompanyCode=@CompanyCode
      WHERE
      PD.[SysNo] = @ProductSysNo AND PD.CompanyCode=@CompanyCode
	  ]]>
    </commandText>
    <parameters>
      <param name="@ProductSysNo" dbType="Int32" />
      <param name="@CompanyCode" dbType="String" />
    </parameters>
  </dataCommand>

</dataOperations>