<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <dataCommand name="Item_GetGiftCardPool_ActiveCountByBarcode" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT COUNT(1) FROM [OverseaECommerceManagement].[dbo].[GiftCardCodePool] WITH(NOLOCK)
WHERE Status='A' AND Barcode LIKE @Barcode and AmountType=@AmountType
			 ]]>
    </commandText>
      <parameters>
         <param name="@Barcode"  dbType="AnsiString"  size="100" />
        <param name="@AmountType"  dbType="Decimal" />
      </parameters>
  </dataCommand>
  <dataCommand name="Item_GetGiftCardPool_MaxBarcode" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT ISNULL(MAX(Barcode),'DHGC0000000000') FROM [OverseaECommerceManagement].[dbo].[GiftCardCodePool] WITH(NOLOCK)
WHERE Barcode LIKE @Barcode
			 ]]>
    </commandText>
      <parameters>
          <param name="@Barcode"  dbType="AnsiString"  size="100" />
      </parameters>
  </dataCommand>
  <dataCommand name="Item_InsertGiftCardPool" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[	
INSERT INTO [OverseaECommerceManagement].[dbo].[GiftCardCodePool]
           ([Code]
           ,[Password]
           ,[Barcode]
           ,[Status]
           ,[InDate]
           ,[EditDate]
           ,AmountType)
     VALUES
           (@Code
           ,@Password
           ,@Barcode
           ,@Status
           ,getdate()
           ,getdate()
           ,@AmountType)
    SELECT @SysNo = SCOPE_IDENTITY()
			 ]]>
    </commandText>
    <parameters>
        <param name="@SysNo" dbType="Int32" direction="InputOutput" />
        <param name="@Code" dbType="AnsiStringFixedLength"  size="14"/>
        <param name="@Password"  dbType="AnsiStringFixedLength"  size="24"/>
        <param name="@Barcode"  dbType="AnsiStringFixedLength"  size="14" />
        <param name="@Status"  dbType="AnsiStringFixedLength"  size="1" />
        <param name="@AmountType" dbType="Int32" />
    </parameters>
  </dataCommand>
  <dataCommand name="Item_UpdateGiftCardPool" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[	
UPDATE [OverseaECommerceManagement].[dbo].[GiftCardCodePool] SET
            [Code] = @Code
           ,[Password] = @Password
           ,[Barcode] = @Barcode
           ,[Status] = @Status
           ,[EditDate] = getdate()
WHERE TransactionNumber=@SysNo
]]>
    </commandText>
    <parameters>
        <param name="@SysNo" dbType="Int32" direction="InputOutput" />
        <param name="@Code" dbType="AnsiStringFixedLength"  size="14"/>
        <param name="@Password"  dbType="AnsiStringFixedLength"  size="24"/>
        <param name="@Barcode"  dbType="AnsiStringFixedLength"  size="14" />
        <param name="@Status"  dbType="AnsiStringFixedLength"  size="1" />
    </parameters>
  </dataCommand>
  <dataCommand name="Item_DeleteGiftCardPool" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[	
DELETE [OverseaECommerceManagement].[dbo].[GiftCardCodePool] 
WHERE TransactionNumber=@SysNo
]]>
    </commandText>
    <parameters>
        <param name="@SysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>
  <dataCommand name="SendMailInfo" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[	
	INSERT INTO [MailDB].[dbo].[AsyncEmail_Internal]
           ([MailAddress]
           ,[CCMailAddress]         
           ,[MailSubject]
           ,[MailBody]
           ,[Status]
           ,[Priority]      
           ,[CreateTime]
           ,[CompanyCode]
           ,[LanguageCode]
           ,[StoreCompanyCode])
     VALUES
           (@MailAddress
           ,@CCMailAddress
           ,@MailSubject
           ,@MailBody
           ,0
           ,1
           ,getdate()
           ,@CompanyCode
           ,@LanguageCode
           ,@CompanyCode)
			 ]]>
    </commandText>
    <parameters>
      <param name="@MailAddress" dbType="String" />
      <param name="@CCMailAddress" dbType="String" />
      <param name="@MailSubject" dbType="String" />
      <param name="@MailBody" dbType="String" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength"  size="50"/>
      <param name="@LanguageCode" dbType="AnsiStringFixedLength"  size="5"/>
    </parameters>
  </dataCommand>
  <dataCommand name="GetGCItemList" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[	
	              select 'DHGC' as BarPrefix, 
                Price as Amount,
                '' as Code 
              from [OverseaECommerceManagement].[dbo].[GiftVoucherProduct] with(nolock)
			 ]]>
    </commandText>   
  </dataCommand>
  
</dataOperations>
