<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="dataAccess" type="ECCentral.Service.Utility.DataAccess.Config.DataAccessSection, ECCentral.Service.Utility.DataAccess" />
    <section name="mail" type="ECCentral.Service.Utility.MailSection, ECCentral.Service.Utility" />
    <section name="log" type="ECCentral.Service.Utility.LogSection, ECCentral.Service.Utility" />
    <section name="codeNamePair" type="ECCentral.Service.Utility.CodeNamePairSection, ECCentral.Service.Utility" />
    <section name="cache" type="ECCentral.Service.Utility.CacheSection, ECCentral.Service.Utility" />
    <section name="environmentVariable" type="System.Configuration.DictionarySectionHandler" />
    <section name="profiler" type="System.Configuration.SingleTagSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>

  <profiler appID="ECC-Service-Dev" disabled="true" boundedCapacity="10000" dequeueConcurrentMaxLimit="5" batchSize="1000" connectionString="mongodb://10.1.220.202:27017" database="Profiler" collection="EMS" />
   
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />
   
  <mail> 
    <smtp address="10.1.220.199" userName="dailybuilder@ciotour.com" password="123456" port="25" enableSsl="false" />
    <smtp address="10.1.220.199" userName="dailybuilder@ciotour.com" password="123456" port="25" enableSsl="false" />
  </mail> 
         
  <log globalRegionName="泰隆优选商务管理平台" localRegionName="Service">
    <webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />
    <!--<text param="日志文件的目录，支持相对路径和绝对路径"/>-->  
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->   
  </log>         
     
  <environmentVariable> 
    <add key="ems517_url" value="www.ems517.com.qa" />
    <add key="ems517_upload_url" value="upload.ems517.com.qa" />
    <add key="ems517_image_server_url" value="images.ems517.com.qa" /> 
    <add key="sns_url" value="localhost:41786" />
    <add key="ciotour_url" value="www.ciotour.com.qa" /> 
    <add key="ciotour_image_server_url" value="images.ciotour.com.qa" />
    <add key="callcenter_restful_baseurl" value="10.1.220.190:9006" />
    <add key="website_image_server_url" value="image.dchnu.com.qa" />
  </environmentVariable>     
   
  <codeNamePair baseFolder="Configuration\CodeNamePairs"> 
    <appendItems> 
      <appendItem languageCode="zh-cn" selectAppendItem="--请选择--" allAppendItem="--所有--" />
      <appendItem languageCode="zh-tw" selectAppendItem="--請選擇--" allAppendItem="--所有--" />
      <appendItem languageCode="en-us" selectAppendItem="--Please choose--" allAppendItem="--All--" />
    </appendItems>    
  </codeNamePair>

  <cache default="local">
    <item name="local" type="ECCentral.Service.Utility.LocalMemoryCache, ECCentral.Service.Utility">
      <!--
      <parameters>
        <add key="pollingInterval" value=""/>
        <add key="cacheMemoryLimitMegabytes" value=""/>
        <add key="physicalMemoryLimitPercentage" value=""/>
      </parameters>-->
    </item>
    <item name="distributed" type="ECCentral.Service.Utility.MemcachedCache, ECCentral.Service.Utility">
      <parameters>
        <add key="serverList" value="10.16.83.72:11211; 10.16.83.73:11211; 10.16.83.74:11211"/>
        <add key="keyPrefix" value="ECCentral_2012.05.05_"/>
        <add key="maxPoolSize" value="10"/>
        <add key="minPoolSize" value="5"/>
        <add key="sendReceiveTimeout" value="00:00:02"/>
        <!-- 2秒 -->
        <add key="connectTimeout" value="00:00:02"/>
        <!-- 2秒 -->
        <add key="socketRecycleAge" value="00:30:00"/>
        <!-- 30分钟 -->
        <add key="compressionThreshold" value="131072"/>
        <!-- 128k -->
        <add key="localCacheExpiry" value="00:01:00"/>
        <!-- 1分钟 -->
        <add key="localCacheName" value="local"/>
      </parameters>
    </item>
  </cache>

  <appSettings>

    <!-- 设置服务端发生系统异常后，是否将异常detail信息返回客户端，true则返回详细异常堆栈信息，false返回友好错误提示-->
    <add key="ShowErrorDetail" value="true" />
    <!-- 设置网站启动时和网站关闭时自动执行的任务的配置文件路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="AutorunConfigPath" value="Configuration\Autorun.config"/>
    <!-- 设置Restful Service的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="RestServiceConfigPath" value="Configuration\RestService.config"/>
    <!-- Web打印的配置文件的相对WebHost跟目录的路径 -->
    <add key="WebPrintConfigPath" value="Configuration\PrintTemplates\WebPrinter.config"/>
    <!-- 应用配置config文件目录相对WebHost跟目录的路径 -->
    <add key="AppSettingsPath" value="Configuration\AppSettings"/>
    <!-- 异常信息的xml资源文件目录相对WebHost跟目录的路径 -->
    <add key="MessageResourcesPath" value="Configuration\MessageResources"/>
    <!-- 邮件模板文件路径配置相对WebHost跟目录的路径-->
    <add key="MailTemplatesFilesConfigPath" value="Configuration\MailTemplates\MailTemplatesFiles.config"/>
    <!-- 设置数据文件导出服务的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="FileExporterConfigPath" value="Configuration/FileExporter.config"/>
    <!-- 设置http上传的文件存放的目录的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="UploadFileBaseFolder" value="UploadFiles"/>
    <!-- 设置中文分词组件的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="WordSegmentConfigPath" value="Configuration/KTDictSeg.config"/>
    <!-- 设置ObjectFactory注入实现类的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="TypeVersionConfigFilePath" value="Configuration\TypeVersion.config"/>
    <!-- 设置消息与订阅者关系的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="EventConsumerConfigFilePath" value="Configuration\EventConsumer.config"/>
    <!-- 设置队列的配置文件的路径， 支持绝对路径或相对于WebHost跟目录的路径-->
    <add key="QueueConfigFilePath" value="Configuration\Queue.config" />

    <add key="TxtConfigurationSubscriptionConfigFilePath" value="Configuration\SubscriptionConfig.config"/>
    <!-- 设置是否需要显示详细服务端应用程序错误,True为现实，False为不显示-->
    <add key="IsShowApplicationExceptionDetail" value="True"/>
    
    <!--ESB-->
    <add key="ServiceRegistryConfigUrl" value="Configuration/ServiceRegistry.config"/>
    <add key="DefaultQueue" value="1"/>

    <!--FTP配置-->
    <add key="Address" value="ftp://10.16.50.188/SAPReconReport/"/>
    <add key="UserName" value="FTPAdmin"/>
    <add key="Password" value="FTPGQC@Admin"/>
    <!--Email配置-->
    <add key="MailSubject" value="(info) Recon Report"/>
    <add key="MailFrom" value="Automated@newegg.com"/>
    <add key="MailTo" value="ebsd-cn.pd.ipp@newegg.com"/>
    <!--添加用户时默认的权限源-->
    <add key="SourceDirectory" value="bitkoo"/>
    <!--导出文件方法引用的服务端域名-->
    <add key="SVCHost" value="localhost"/>
    <!-- 导出Excel文件模板所在目录相对WebHost跟目录的路径 -->
    <add key="ExporterTemplateFilePath" value="Configuration\ExporterTemplates"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="FileUpload.ashx" verb="*" type="ECCentral.Service.Utility.FileUploadHandler, ECCentral.Service.Utility" validate="false"/>
      <add path="HtmlView.ashx" verb="*" type="ECCentral.Service.Utility.HtmlViewHandler, ECCentral.Service.Utility" validate="false"/>
      <add path="WebPrinter.ashx" verb="*" type="ECCentral.Service.Utility.WebPrintHandler, ECCentral.Service.Utility" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0" />

    <machineKey
      validationKey="F6926E95374B97E5E6230A14368BD63A2DBC837D8E8937EE706BB9FAB9F56C208C32E918A8040D8B4EBFFC4C5F27EA2754157934C3370D497BD1AD256C2BC1C0"
      decryptionKey="0A5A6475E5F5E8C382E5C49859B04F141C91AEDDE0E65F94279BEC68D26B30C2"
      validation="SHA1" decryption="AES"/>

    <caching>
      <outputCache enableOutputCache="true"/>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--<add name="Countries" location="Client" duration="36000" varyByParam="*"/>-->
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode"/>
      <add name="FileUpload" path="FileUpload.ashx" verb="*" type="ECCentral.Service.Utility.FileUploadHandler, ECCentral.Service.Utility" preCondition="integratedMode"/>
      <add name="HtmlView" path="HtmlView.ashx" verb="*" type="ECCentral.Service.Utility.HtmlViewHandler, ECCentral.Service.Utility" preCondition="integratedMode"/>
      <add name="WebPrinter" path="WebPrinter.ashx" verb="*" type="ECCentral.Service.Utility.WebPrintHandler, ECCentral.Service.Utility" preCondition="integratedMode"/>
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <client>
      <!--GQC:ssoversea09 GDEV:ssoversea03-->
      <endpoint binding="basicHttpBinding"
          bindingConfiguration=""
          address="http://wmssvc.dch.com/SoProcess/WMSShippingWCFService/WCFSOService.svc"
          contract="WMSServiceInterface.ServiceInterface.IWCFSO" name="BasicHttpBinding_IWCFSO">
      </endpoint>

      <endpoint binding="basicHttpBinding"
            bindingConfiguration=""
            address="http://ssqsql02.buyabs.corp/OrderTrackingWCFService/WCFOrderTrackingLogService.svc"
            contract="OZZO.OrderTrackingServiceInterface.ServiceContract.IWCFOrderTrackingLog"  name="BasicHttpBinding_IWCFOrderTrackingLog"/>

      <endpoint binding="basicHttpBinding"
          bindingConfiguration=""
          address="http://ssqsql02.buyabs.corp/OrderTrackingWCFService/WCFWMSService.svc"
          contract="OZZO.OrderTrackingServiceInterface.ServiceContract.IWCFWMS"   name="BasicHttpBinding_IWCFWMS"/>


      <endpoint address="http://10.16.40.33:9000/GoodReceipt/WCFServicesIISGoodsReceipt/NeweggOZZOPOService.SVC"
                binding="customBinding" bindingConfiguration="CustomBinding_IPOService"
                contract="ECCentral.Service.EventConsumer.WMS.IPOService" name="CustomBinding_IPOService" />

      <endpoint address="http://back.page7.com.cn:8082/AuthorizationService/UserServiceV30.svc"
          binding="basicHttpBinding" bindingConfiguration=""
          contract="Newegg.Oversea.AuthCenter.ServiceInterface.ServiceContracts.IUserServiceV30" name="BasicHttpBinding_IUserServiceV30" />

      <endpoint address="http://ssoversea02:8080/ipp/eimsmgmt/eimscninterfacehost/v31/2009101301/eimsinterfaceservice.svc"
                binding="basicHttpBinding" bindingConfiguration=""
                contract="Newegg.EIMSCN.ServiceInterfaces.ServiceContracts.IEIMSInterfaceService" name="BasicHttpBinding_IEIMSInterfaceService" />
      
      <endpoint address="http://webservice.ips.net.cn/Sinopay/Standard/IpsCheckTrade.asmx"
              binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
              contract="IPSPay.ServiceSoap" name="ServiceSoap" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IPOService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

  <!--<system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e"/>
        </listeners>
      </source>
    </sources>   
  </system.diagnostics>-->
  
</configuration>        
