<div class="modal fade bs-modal-lg" data-keyboard="false" data-backdrop="static" id="ProductEditModal" aria-hidden="true">
    <div class="clearfix">
    </div>
    <div class="page-loading page-loading-boxed">
        <img src="~/Content/themes/metronic/assets/global/img/loading-spinner-grey.gif" alt="loading" />
        <span>&nbsp;&nbsp;Loading... </span>
    </div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 810px;">
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Content/scripts/ProductMaintain/ProductEdit.js"></script>