<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
    </sectionGroup>
    <section name="schedules" type="POASNMgmt.AutoCreateVendorSettle.Compoents.Configuration.ScheduleConfigurationSection,POASNMgmt.POPost"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Microsoft.EnterpriseLibrary.config" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Configuration\Microsoft.EnterpriseLibrary.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <oversea>
    <globalSettings filePath="D:\APP\IPP\Config\GlobalSettings.config" />
    <logSettings localRegionName="InvoiceMgmt" />
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  <appSettings>
    <add key="ConsumerName" value="CN.POASNMgmt.UI.IPP01" />
    <add key="LogFileName" value="WMSWaitInStock.log" />
    <add key="SCGlobalConfig" value="D:\APP\IPP\Config\GlobalSettings.config" />
    <!--<add key="LocationName" value="LocalDev"/>-->
    <add key="CompanyCode" value="8601"/>
    <add key="StoreCompanyCode" value="8601"/>
    <add key="UserName" value="System\bitkoo\sys[8601]"/>
    <add key="UserSysNo" value="493"/>
    <add key="SourceDirectoryKey" value="bitkoo"/>
    <add key="FromIP" value="127.0.0.1"/>
    <add key="MaxItemCount" value="200"/>
  </appSettings>
</configuration>
