<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client> 
      <endpoint binding="basicHttpBinding"
          bindingConfiguration=""
				  address="http://ssqsql02/WMSShippingWCFService/WCFSOService.svc"
				  contract="WMSServiceInterface.ServiceInterface.IWCFSO" name="BasicHttpBinding_IWCFSO" >
      </endpoint>
      <endpoint binding="basicHttpBinding"
            bindingConfiguration=""
            address="http://ssqsql02/OrderTrackingWCFService/WCFOrderTrackingLogService.svc"
            contract="OZZO.OrderTrackingServiceInterface.ServiceContract.IWCFOrderTrackingLog" />

      <endpoint binding="basicHttpBinding"
          bindingConfiguration=""
          address="http://ssqsql02/OrderTrackingWCFService/WCFWMSService.svc"
          contract="OZZO.OrderTrackingServiceInterface.ServiceContract.IWCFWMS" />


      <endpoint address="http://ssqsql02/WCFServicesIISGoodsReceipt/NeweggOZZOPOService.svc"
          binding="customBinding" bindingConfiguration="CustomBinding_IPOService"
          contract="ECCentral.UnitTest.BizProcessor.IPOService" name="CustomBinding_IPOService" />

    </client>

    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFSO" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"  realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <customBinding>
        <binding name="CustomBinding_IPOService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>

    </bindings>

  </system.serviceModel>
</configuration>