<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <logSettings localRegionName="ECommerceMgmt"/>
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  <appSettings>
    <!--发送邮件开关-->
    <add key="SendMailFlag" value="True"/>
    <add key="MailPMCC" value="ne-cn.pmcc@newegg.com;ne-cn.mkt.dealcenter@newegg.com;"/>
    <!--发送邮件地址-->
    <add key="MailAddress" value=".nesc-sh.mis.cms;"/>
    <!--发送邮件CC地址-->
    <add key="CCMailAddress" value=".nesc-sh.mis.cms;"/>
    <add key="ReleaseDate" value="2011-1-1"/>
    <add key="LanguageCode" value="zh-CN"/>
    <!--仅供测试使用-->
    <add key="GroupBuyingSysNo" value="0"/>
    <!--仅供测试使用-->
    <add key="OrderCount" value="0"/>
    <add key="CompanyCode" value="8601"/>
    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <add key="ConsumerName" value="CN.ECommerceMgmt.UI.IPP01"/>
    <add key="BizLog" value="Log\GroupBuying_Biz.txt"/>
    <add key="ErrorLog" value="Log\GroupBuying_Error.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--以下五项为JOB中调用WCF服务时所使用到的信息-->
    <add key="UserDisplayName" value="IPPSystemAdmin"/>
    <add key="UserLoginName" value="IPPSystemAdmin"/>
    <add key="CompanyCode" value="8601"/>
    <add key="StoreCompanyCode" value="8601"/>
    <add key="StoreSourceDirectoryKey" value="bitkoo"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
    <add key="MKTRestFulBaseUrl" value="http://eccsvc.tlyh.com.qa//MKTService/"/>
    <add key="CommonRestFulBaseUrl" value="http://eccsvc.tlyh.com.qa//CommonService/"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
