<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		   filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="ContentMgmt"/>
		<dataAccessSettings DataCommandFile="DataAccess\Configuration\DbCommandFiles.config"/>
	</oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
	<appSettings>
		<add key="ConsumerName" value="CN.ContentMgmt.UI.IPP01" />
		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<add key="EmailFrom" value="BaiduSearch@Newegg.com"/>
		<add key="EmailTo" value="Ken.C.Li@newegg.com"/>
		<add key="EmailCC" value="Harry.H.Ning@newegg.com;Hardy.F.Lin@newegg.com"/>
		<add key="IsSendEmail" value="true"/>
		
		<add key="CompanyCode" value="8601"/>
    <add key="CommonRestFulBaseUrl" value="http://localhost:778/CommonService/"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
    
		<add key="LogFileName" value="BaiduSearchLog.txt"/>
		<add key="IndexFileName" value="Index.xml"/>
		<add key="ItemFileName" value="Item.xml"/>
		<add key="ItemCountPerFile" value="2000"/>

    <add key="StoreName" value="新蛋商城"/>
    <add key="StorePic" value="http://c1.neweggimages.com.cn/WebResources/2009/Default/Nest/common/logo.gif"/>
    <add key="Service" value="正规发票\全国联保\七天退换货"/>
    <add key="ChangeFrequency" value="daily"/>
    <add key="Priority" value ="0.8"/>
    <add key="Category2Address" value="http://www.newegg.com.cn/Category/{0}.htm"/>
    <add key="Category3Address" value="http://www.newegg.com.cn/SubCategory/{0}.htm"/>
    <add key="FlagshipBrandAddress" value="http://www.newegg.com.cn/FlagshipStore/{0}-{1}.htm"/>
    <add key="CommonBrandAddress" value="http://www.newegg.com.cn/Search.aspx?N={0}"/>
    <add key="CategoryBrandAddress" value="http://www.newegg.com.cn/SubCategory/{0}.htm?N={1}+{2}"/>

    
  </appSettings>
</configuration>
