<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetNowActiveSQL" database="OverseaContentManagement" commandType="Text">
    <!--从Product_PromotionTitle 表取类型不为Normal, Status为等待,并且当前时间大于等于StartTime并且小于EndTime的数据-->
    <commandText>
      <![CDATA[
SELECT 
	 SysNo
	,ProductSysNo
	,PromotionTitle
	,[Type]
	,BeginDate
	,Enddate
	,[Status] 
FROM 
	OverseaContentManagement.dbo.Product_PromotionTitle WITH(NOLOCK)
WHERE
	CompanyCode='8601'
AND UPPER([Type])='COUNTDOWN' AND [Status]='O' AND GETDATE()>=BeginDate AND GETDATE()<Enddate
	  ]]>
    </commandText>
    <parameters>      
    </parameters>
  </dataCommand>

  <dataCommand name="GetNowDisableSQL" database="OverseaContentManagement" commandType="Text">
    <!--从Product_PromotionTitle 表取取类型不为Normal, Status为有效中或者等待,并且当前时间大于等于EndTime的数据-->
    <commandText>
      <![CDATA[
SELECT 
	 SysNo
	,ProductSysNo
	,PromotionTitle
	,[Type]
	,BeginDate
	,Enddate
	,[Status] 
FROM 
	OverseaContentManagement.dbo.Product_PromotionTitle WITH(NOLOCK)
WHERE
	CompanyCode='8601'
AND UPPER([Type])='COUNTDOWN' AND [Status] in ('A','O') AND GETDATE()>=Enddate
	  ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetNormalPromotionTitle" database="OverseaContentManagement" commandType="Text">
    <!--根据ProductSysNo取Normal的PromotionTitle-->
    <commandText>
      <![CDATA[
SELECT 
	PromotionTitle 
FROM 
	OverseaContentManagement.dbo.Product_PromotionTitle 
WHERE 
	UPPER([Type])='NORMAL' 
AND ProductSysNo=@ProductSysNo
	  ]]>
    </commandText>
    <parameters>
      <param name="@ProductSysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>

  <dataCommand name="UpdatePromotionTitleStatus" database="OverseaContentManagement" commandType="Text">
    <!--更新Product_PromotionTitle表状态-->
    <commandText>
      <![CDATA[
UPDATE 
	OverseaContentManagement.dbo.Product_PromotionTitle 
SET 
	[Status]=@Status 
where 
	SysNo=@SysNo
	  ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32"/>
      <param name="@Status" dbType="String" size="1" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdatePromotionTitleAndPromotionName" database="OverseaContentManagement"  commandType="Text">
    <!--更新Product表的ProductName、ProductTitle-->
    <commandText>
      <![CDATA[
UPDATE 
	ipp3.dbo.Product 
SET 
	PromotionTitle=@PromotionTitle,
	ProductName=ProductTitle+@RedFontPromotionTitle 
WHERE 
	SysNo=@ProductSysNo
	  ]]>
    </commandText>
    <parameters>
      <param name="@ProductSysNo" dbType="Int32"/>
      <param name="@PromotionTitle" dbType="String" size="200" />
      <param name="@RedFontPromotionTitle" dbType="String" size="200" />
    </parameters>
  </dataCommand>
</dataOperations>