<?xml version="1.0"?>
<mailTemplate>
  <id>MKT_Countdown_Verify</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      <%=Subject%>
      ]]>
  </subject>
  <body>
    <template>  
<![CDATA[
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>泰隆优选（NewEgg）邮件</title>
<style type="text/css">
*{ padding:0; margin:0;}
body{ font-size:12px; background:#e6d7c0; color:#484848;font-family:"宋体",Arial;}
img{ border:0;}
</style>
</head>
<body>
<table align="center" border="0" cellspacing="0" cellpadding="0" style="width:612px;margin:0 auto;">
  <tr>
    <td>
    <table width="0%" border="0" cellspacing="0" cellpadding="0" style="width:612px; height:40px; margin:0 auto;">
  <tr style="margin-bottom:5px;">
    <td style="width:153px;">&nbsp;</td>
    <td valign="middle">关注我们：</td>
    <td valign="middle"><span style="vertical-align:middle;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/icon_1.jpg" width="20" height="20" /></span></td>
    <td valign="middle"><a href="http://page.renren.com/600006553/index" target="_blank" style="color:#484848; text-decoration:none;">人人网</a></td>
    <td style="width:15px;"></td>
    <td valign="middle"><span style="vertical-align:middle;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/icon_2.jpg" width="20" height="20" /></span></td>
    <td valign="middle"><a href="http://www.kaixin001.com/home/?uid=78543560" target="_blank" style="color:#484848; text-decoration:none;">开心网</a></td>
    <td style="width:15px;"></td>
    <td valign="middle"><span style="vertical-align:middle;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/icon_3.jpg" width="20" height="20" /></span></td>
    <td valign="middle"><a href="http://t.sina.com.cn/neweggtribe" target="_blank" style="color:#484848; text-decoration:none;">新浪微博</a></td>
    <td style="width:153px;">&nbsp;</td>
  </tr>
</table>
    </td>
  </tr>
  <tr>
    <td>
 
<table cellSpacing=""1"" cellPadding=""1"" width=""100%"" border=""1"">
                            <tr>
	                            <td align=""center"" colSpan=""6"">Product Price</td>
                            </tr>
                            <tr>
	                            <td>Product Name</td>
	                            <td colSpan=""5""><a target='_blank' href='http://10.16.174.22/ipp.view/Online/CountdownSearch.aspx'><%=ProductName%></a></td>
                            </tr>
                           
                            <tr>
	                            <td>CountDownPoint:</td>
	                            <td colSpan=""2""><%=CountDownPoint%></td>
	                            <td>ProductID:</td>
	                            <td colSpan=""2""><%=ProductID%></td>
                            </tr>
                           
                            <tr>
	                            <td>CountDownCurrentPrice:</td>
	                            <td><%=CountDownCurrentPrice%></td>
	                            <td>UnitCost</td>
	                            <td><%=UnitCost%></td>
	                            
                            </tr>
                            
                          
                            <tr>
	                            <td>产品线毛利下限</td>
	                            <td colSpan=""2""><%=MinMargin%></td>
	                            <TD>调整后的毛利</TD>
	                            <td colSpan=""2""><%=MinMarginCurrent%></td>
                            </tr>
                            <tr>
	                            <td>创建人</td>
	                            <td colSpan=""5""><%=Apply%></td>
                            </tr>
                        </table>

    </td>
  </tr>
  <tr>
    <td>
    <table width="0%" border="0" cellspacing="0" cellpadding="0" style="width:612px; margin:0 auto; line-height:25px;">
    <tr>
        <td style="text-align:center; width:600px;">客服及订购电话：400-820-4400&nbsp;<a href="http://www.dchnu.com/Service/HelpCenter.aspx?sysno=41" target="_blank" style="color:#165bf4; text-decoration:none;">退换货政策</a>&nbsp;<a href="http://newegg.ehosts.net/netagent/cimlogin.aspx?questid=269A1789-264A-44F0-95F4-68936B0F60FC&portid=AE8A26D2-45DF-4709-A74F-3756C4D04FD3&nareferer=http%3A//www.dchnu.com/" target="_blank" style="color:#165bf4; text-decoration:none;">在线咨询</a>&nbsp;<a href="http://www.dchnu.com/Service/NewComplaint.aspx" target="_blank" style="color:#165bf4; text-decoration:none;">投诉与建议</a></td>
    </tr>
    <tr>
        <td style="text-align:center; width:600px;">&copy;2001-<%=Year%>泰隆优选(<a href="http://www.dchnu.com" target="_blank" style="color:#165bf4; text-decoration:none;">www.dchnu.com</a>)版权所有</td>
    </tr>
</table>
    </td>
  </tr>
</table>
</body>
</html>
    ]]>
  
  </template>
  </body>
</mailTemplate>