<?xml version="1.0"?>
<mailTemplate>
  <id>MKT_ProductConsultMailContent</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      泰隆优选-您的咨询已被回复！您对产品：<a href='http://www.dchnu.com/Product/<%=ProductID%>.htm'><%=ProductName%></a>的咨询：</P><P><%=Content%></p>
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>泰隆优选（NewEgg）邮件</title>
<style type="text/css"> 
*{ padding:0; margin:0;}
body{ font-size:12px; background:#e6d7c0; color:#484848;font-family:"宋体",Arial;}
img{ border:0;}
</style>
</head>
<body>
<table align="center" border="0" cellspacing="0" cellpadding="0" style="width:612px;margin:0 auto;">
  <tr>
    <td>
        <table width="0%" border="0" cellspacing="0" cellpadding="0" style="width:612px; height:40px; margin:0 auto;">
      <tr style="margin-bottom:5px;">
        <td style="width:153px;">&nbsp;</td>
        <td valign="middle">关注我们：</td>
        <td valign="middle"><span style="vertical-align:middle;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/icon_1.jpg" width="20" height="20" /></span></td>
        <td valign="middle"><a href="http://page.renren.com/600006553/index" target="_blank" style="color:#484848; text-decoration:none;">人人网</a></td>
        <td style="width:15px;"></td>
        <td valign="middle"><span style="vertical-align:middle;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/icon_2.jpg" width="20" height="20" /></span></td>
        <td valign="middle"><a href="http://www.kaixin001.com/home/?uid=78543560" target="_blank" style="color:#484848; text-decoration:none;">开心网</a></td>
        <td style="width:15px;"></td>
        <td valign="middle"><span style="vertical-align:middle;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/icon_3.jpg" width="20" height="20" /></span></td>
        <td valign="middle"><a href="http://t.sina.com.cn/neweggtribe" target="_blank" style="color:#484848; text-decoration:none;">新浪微博</a></td>
        <td style="width:153px;">&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td>
        <table width="612" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;background-color:#e6d7c0">
        <tr>
            <td valign="top" style=" width:600px; height:80px;border-bottom:1px solid #aca382;">
                <table border="0" height="92"cellpadding="0" cellspacing="0" width="600" style="background-color:#e6d7c0; width:600px; overflow:hidden">
                <tr>
                    <td width="270" valign="top">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="268" style=" height:5px; line-height:2px; font-size:1px; background:#e6d7c0;"></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" style="height:87px; width:269px;  background:#fff; border-top:1px solid #aca185;border-left:1px solid #aca185;"><a href="http://www.dchnu.com/" target="_blank"><img style=" border:0;" src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/images/logo.jpg" width="237" height="66" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="330" align="right" style="text-align:right;background:#fff;">
                        <table align="right" width="330" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="top" style="width:8px; background:#ffffff;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/tab.jpg" width="8" height="35" /></td>
                                <td height="35" valign="top" colspan="0"  style=" background:#ffffff;border:0;"><a href="http://www.dchnu.com/CountDown.htm" target="_blank"><img style="border:0;" src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/tab_1.jpg" width="99" height="35" /></a></td>
                                <td height="35" valign="top" style="width:8px; background:#ffffff;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/tab.jpg" width="8" height="35" /></td>
                                <td height="35" valign="top" style="width:98px; background:#ffffff;"><a href="http://tuan.newegg.com.cn/" target="_blank"><img style="border:0;" src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/tab_2.jpg" width="99" height="35" /></a></td>
                                <td height="35" valign="top" style="width:8px; background:#ffffff;"><img src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/tab.jpg" width="8" height="35" /></td>
                                <td height="35" valign="top" style="width:98px; background:#ffffff;"><a href="http://app.newegg.com.cn" target="_blank"><img style="border:0;" src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/0824/tab_3.jpg" width="99" height="35" /></a></td>
                                <td valign="top" width="9" bgcolor="#e6d7c0" style="padding-top: 5px; "><div style="width:8px; height: 86px; border-right:1px solid #aca185; background-color:#ffffff; border-top:1px solid #aca185;"></div></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-left:1px solid #aca382;">
                    <tr>
                        <td height="325" style="border-right:1px solid #aca382; background-color:#fff;" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0" style=" width:578px; border-top:4px solid #dbc7a2; border-bottom:1px solid #dcdcdc; margin-left:10px;">
                                <tr>
                                    <td valign="middle" style="text-align:center; height:75px;"><h1 style="font-size:25px; color:#ff5100; font-family:'微软雅黑';">购物咨询</h1></td>
                                </tr>
                            </table>
                           <table border="0" cellpadding="0" cellspacing="0" style=" width:578px; font-size:14px; margin-left:10px;">
                                <tr>
                                    <td style="line-height:30px;">尊敬的泰隆优选会员&nbsp;<%=CustomerName%>：</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:25px; line-height:20px; padding-bottom:10px; border-bottom:1px solid #dcdcdc;">
                                    您好！<br />您的咨询有人回复了。
                          </td>
                                </tr>
                            </table>
                      

				<table border="0" cellpadding="0" cellspacing="0" style=" width:578px; font-size:14px; margin-left:10px;">
                                <tr>
                                    <td style="line-height:30px;padding-left:25px;">您对产品：<a href="http://www.dchnu.com/Product/[#ProductID#].htm"><%=ProductName%></a>的咨询：</P><P><%=Content%></p></td>
                                </tr>
                                 <tr>
                                    <td style="padding-left:25px; line-height:20px; padding-bottom:10px; border-bottom:1px solid #dcdcdc;">
                          </td>
                                </tr>
                            </table>


			<table border="0" cellspacing="0" cellpadding="0" style="width:578px; margin-left:10px;">
                                <tr>
                                    <td style="font-size:14px; line-height:25px; padding-top:10px; padding-bottom:10px; color:#ff4e00;"><strong>泰隆优选回复：</strong></td>
                                </tr>
                                <tr>
                                    <td style=" padding-left:25px;"><%=EmailText%></td>
                        </tr>
                                <tr>
                                    <td style="height:24px; text-align:right;"><%=All%> </td>
                                </tr>
                            </table>   



                            <table border="0" cellspacing="0" cellpadding="0" style="line-height:18px; width:578px; background:#fff; margin-left:10px; font-size:14px;">
                                <tr>
                                    <td colspan="2" style=" padding-top:15px; border-top:1px solid #dcdcdc;"><center>欢迎您继续关注和支持泰隆优选的活动，衷心的感谢您一直以来对泰隆优选的关注和支持！</center></td>
                                </tr>
				<tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="width:70%;">此致</td>
                                    <td align="right" style="width:30%;">泰隆优选</td>
                        </tr>
                        <tr>
                                    <td colspan="2" align="right" style="padding-bottom:10px;"><%=InDate-Y%>-<%=InDate-M%>-<%=InDate-D%></td>
                                </tr>
                            </table>
                          </td>
                    </tr>
                </table>      
                          </td>
            <td valign="top" width="12"><p style="height:12px;font-size:1px;line-height:1px;"></p><img  src="http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201108/chuhuo/images/bg_sideright.jpg" />
                          </td>
                        </tr>
                    </table>
                          </td>
  </tr>
  <tr>
    <td>
        <table width="0%" border="0" cellspacing="0" cellpadding="0" style="width:612px; margin:0 auto; line-height:25px;">
        <tr>
            <td style="text-align:center; width:600px;">客服及订购电话：400-820-4400&nbsp;<a href="http://www.dchnu.com/Service/HelpCenter.aspx?sysno=41" target="_blank" style="color:#165bf4; text-decoration:none;">退换货政策</a>&nbsp;<a href="http://newegg.ehosts.net/netagent/cimlogin.aspx?questid=269A1789-264A-44F0-95F4-68936B0F60FC&portid=AE8A26D2-45DF-4709-A74F-3756C4D04FD3&nareferer=http%3A//www.dchnu.com/" target="_blank" style="color:#165bf4; text-decoration:none;">在线咨询</a>&nbsp;<a href="http://www.dchnu.com/Service/NewComplaint.aspx" target="_blank" style="color:#165bf4; text-decoration:none;">投诉与建议</a></td>
        </tr>
        <tr>
            <td style="text-align:center; width:600px;">&copy;2001-<%=Year%>泰隆优选(<a href="http://www.dchnu.com" target="_blank" style="color:#165bf4; text-decoration:none;">www.dchnu.com</a>)版权所有</td>
        </tr>
    </table>
                          </td>
  </tr>
</table>
</body>
</html>
    ]]>

    </template>
  </body>
</mailTemplate>