<?xml version="1.0"?>
<mailTemplate>
  <id>MKT_Combo_ChangeStatusForChangeProductPrice</id>
  <sender>service@tlyh.com</sender>
  <to>ne-cn.pmcc@newegg.com;</to>
  <senderDisplayName>OYSD Notice</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      (notice)销售规则(<%=ComboSysNo%>)<%=ComboName%>由于商品调价已经停止前台生效，请及时处理
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
    Hello <%=PMUser%>,PMCC:<br/>
    销售规则(<%=ComboSysNo%>)<%=ComboName%>由于商品调价，导致规则的差价不满足业务逻辑要求，已被系统自动设置为“待审核”状态，并已停止前台生效。
    请相关人员及时进行处理。   
    <br/><br/>
    该邮件为系统自动发送邮件，请勿回复。
    ]]>

    </template>
  </body>
</mailTemplate>