<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
	</configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="ContentMgmt"/>
		<dataAccessSettings DataCommandFile="DataAccess\Configuration\DbCommandFiles.config"/>
	</oversea>
	<appSettings>
		<add key="ConsumerName" value="CN.ContentMgmt.UI.IPP01"/>
    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>

		<add key="EmailFrom" value="Job@Newegg.com"/>
		<add key="EmailTo" value="Vantal.W.Tian@ozzo.com.cn,.nesc-sh.mis.cms"/>
		<add key="EmailCC" value="Harry.H.Ning@newegg.com"/>
		<add key="IsSendEmail" value="true"/>
 		<add key="EmailSubjectName" value="最有用评论Job异常"/>
 		<add key="EditUser" value="最有用评论Job"/>
		
		<add key="CompanyCode" value="8601"/>
		<add key="LogFileName" value="Log.txt"/>
		<add key="TestCustomerGuideSysNo" value="0"/>

    <!--按照贡献级别发放积分
        助教(T),    10
        讲师(L),    20
        副教授(A),  30
        教授(P),    40
    -->
    <add key="RankTScore" value="10"/>
    <add key="RankLScore" value="20"/>
    <add key="RankAScore" value="30"/>
    <add key="RankPScore" value="40"/>
    <!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
    <add key="SendMailUserDisplayName" value="AuthCenterAdmin"/>
    <add key="SendMailUserLoginName" value="AuthCenterAdmin"/>
    <add key="SendMailCompanyCode" value="8601"/>
    <add key="SendMailStoreCompanyCode" value="8601"/>
    <add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>
    <add key="CustomerRestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/CustomerService/"/>
    <add key="CommonRestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/CommonService/"/>
  </appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
