<?xml version="1.0"?>
<mailTemplate>
  <id>Invoice_Generate_Error</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <to>nesc-xa.mis.ippservice@tlyh.com</to>
  <isHtmlType>0</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      Invoice_Generate-出错
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
        出错了: dbo.V_OM_Sub_SO_Master中不存在有效的订单编号为<%=SOSysNo%>(商品仓库号:<%=StockSysNo%>)的金额记录
      ]]>
    </template>
  </body>
</mailTemplate>

