<?xml version="1.0"?>
<mailTemplate>
  <id>SIM_Audit_Passed</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <to>helpdesk-csne-cn@newegg.com</to>
  <isHtmlType>0</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      SIM卡订单_订单编号<%=SOSysNo%>
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
        订单编号<%=SOSysNo%>已通过审核，请打印SIM卡信息以及准备联通入网协议，并将打印信息和填写好的联通入网协议交付到仓库。
      ]]>
    </template>
  </body>
</mailTemplate>

