<?xml version="1.0"?>
<mailTemplate>
  <id>SO_FinancIntercept</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[（Info）发票拦截 - <%=SOSysNo%>]]>
  </subject>
  <body>
    <template  reference="..\Templates\SO_FinancIntercept.zh-CN.htm"/>
  </body>
</mailTemplate>

