<?xml version="1.0"?>
<mailTemplate>
  <id>SO_OrderIntercept</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[（Info）订单拦截 - <%=SOSysNo%>]]>
  </subject>
  <body>
    <template  reference="..\Templates\SO_OrderIntercept.zh-CN.htm"/>
  </body>
</mailTemplate>

