<?xml version="1.0"?>
<mailTemplate>
  <id>SO_Product_PriceChanged</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      （Info）订单<%=SOSysNo%>产品价格手动修改
    ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
      （1）SO detail中被修改的产品的记录，如下:
      <br />
      <table style="margin-bottom:5px; border-width:1px;">
        <tr>
          <td>ProductID</td>
          <td>ProductName</td>
          <td>Quantity</td>
          <td>Weight</td>
          <td>Price</td>
          <td>Point</td>
          <td>DisCountAmt</td>
          <td>Warranty</td>
        </tr>
        <tr>
          <td><%=ProductID%></td>
          <td><%=ProductName%></td>
          <td><%=Quantity %></td>
          <td><%=Weight %></td>
          <td><%=Price%></td>
          <td><%=GainAveragePoint %></td>
          <td><%=PromotionAmount%></td>
          <td><%=Warranty %></td>
        </tr>
      </table> 
        （2）这个订单的所有跟进日志
        <br/>
        <%IF_BEGIN ID="MemoListDisplay"%>
      <table border="1">
        <tr>
          <td>CreatTime</td>
          <td>Content</td>
          <td>Note</td>
        </tr>
        <%TABLE_ROWS_BEGIN ID="MemoList"%>
        <tr>
          <td><%=LogTime%></td>
          <td><%=Content%></td>
          <td><%=Note%></td>
        </tr>
          <%TABLE_ROWS_END ID="MemoList"%>
      </table>
        <%IF_END ID="MemoListDisplay"%>
      ]]>
    </template>
  </body>
</mailTemplate>

