<?xml version="1.0"?>
<mailTemplate>
  <id>UnicomSOSIMCard_Audit</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <to>helpdesk-csne-cn@newegg.com</to>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      联通合约机订单_订单编号<%=Title%>
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
    订单编号<%=Content%>已通过审核，请准备打印用户信息和入网协议。
      ]]>
    </template>
  </body>
</mailTemplate>

