<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="OverseaLocalControlPanel">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6qtgcAjbDiYYf1uOpBGJFpNI2YRnIo+OUi++6tB69M90y+BVnt/SfjdjfCGq5rlRjOzzcfjgSRqiGBxS9NL9U7Z0Lbe//5gXZsIPjf4av5qlZ/WJXA3gWuBlx70mJjENoZYQ1J3zFysPgtisUwD914cegOz55XKJVOzy4h8EJyFotQBDfTcB6hfpSi0e79DBqszi0Tsbn/Ju0KTWmydI45VeRK3luYoXsZTjmv/WG6PN5h8aRr81oJrftsSbNRITgXEmU/bsO4pYF94QE421yTSqYM0LpUoR1equkEzPdlCOdZyjKlpch4zw/O9P6+g3INbkz2EKdfbDD5Pwl42h3r8Ot2WdkFJTZWX6qM5KSDAbnGuRKsCjfplnV9EfMINXB+5jJOKQci4WGiLFI/mvNwM=</connectionString>
  </database>
  <database name="DBALog">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6qtgcAjbDiYYf1uOpBGJFpNI2YRnIo+OUi++6tB69M90y+BVnt/SfjdjfCGq5rlRjOzzcfjgSRqiGBxS9NL9U7Z0Lbe//5gXZsIPjf4av5qlZ/WJXA3gWuBlx70mJjENoZYQ1J3zFysPgtisUwD914cegOz55XKJVOzy4h8EJyFotQBDfTcB6hfpSi0e79DBqszi0Tsbn/Ju0KTWmydI45VeRK3luYoXsZTjmv/WG6PN5h8aRr81oJrftsSbNRITgXEmU/bsO4pYF94QE421yTSqYM0LpUoR1equkEzPdlCOdZyjKlpch4zw/O9P6+g3INbkz2EKdfbDD5Pwl42h3r8Ot2WdkFJTZWX6qM5KSDAbnGuRKsCjfplnV9EfMINXB+5jJOKQci4WGiLFI/mvNwM=</connectionString>
  </database>
  <database name="QueryFrameworkDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6qtgcAjbDiYYf1uOpBGJFpNI2YRnIo+OUi++6tB69M90y+BVnt/SfjdjfCGq5rlRjOzzcfjgSRqiGBxS9NL9U7Z0Lbe//5gXZsIPjf4av5qlZ/WJXA3gWuBlx70mJjENoZYQ1J3zFysPgtisUwD914cegOz55XKJVOzy4h8EJyFotQBDfTcB6hfpSi0e79DBqszi0Tsbn/Ju0KTWmydI45VeRK3luYoXsZTjmv/WG6PN5h8aRr81oJrftsSbNRITgXEmU/bsO4pYF94QE421yTSqYM0LpUoR1equkEzPdlCOdZyjKlpch4zw/O9P6+g3INbkz2EKdfbDD5Pwl42h3r8Ot2WdkFJTZWX6qM5KSDAbnGuRKsCjfplnV9EfMINXB+5jJOKQci4WGiLFI/mvNwM=</connectionString>
  </database>
  <database name="QueryKeystoneDB">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6m5Zj2AfLh+l7FkDYx/QiCX+9fTlF15yoRBAPULtt3INNJCeAGWeniFJo1/a3cjUeT5WFLij2oBhXnsZuui8nO+RTon+4Wp78t8qmt9OOtpQ50kAstl0Oy51QwpDq3uCUqedaXSHva7eotK48WlXCbwJeBbz5qXkHFluQbBfDPJ68prb8vgjcK4OnDrl3HFhfacuDuLjGhls9i9wSdNt5NpFxqByUXiN0DPlI20tc8gcLdgsEI1g4LQVwqZ9hL83dgcpOcaB4xtx9Ud8E1mHwDNrY+cIkX4TjhOWsn2gUc00kIoWzhA7dRxZWQ8Et9OrQtc721nxuay0cnps48/OXkb0shy/tsCAxShNLdj+k8y6YH+uv1OC3D1jaZruP4/dkgbU6IGgUGC1S3SWcXduqVUoRMQhvkTxa30HJABN2Q4yw9LlxLrkYbJKaSWA9zPGeu449Gs1H9SMQjmuKNJELj/1TfERBtYuFnoD7tBdPpKDmiU7+T18myHzoLXi8C6Whg==</connectionString>
  </database>
</databaseList>