<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="application" type="Newegg.Oversea.Silverlight.ControlPanel.Service.Configuration.ApplicationSection, Newegg.Oversea.Silverlight.ControlPanel.Service" />
      <section name="keystone" type="Newegg.Oversea.Silverlight.ControlPanel.Service.Configuration.KeystoneSection, Newegg.Oversea.Silverlight.ControlPanel.Service" />
    </sectionGroup>
    <section name="faqSetting" type="Newegg.Oversea.Silverlight.ControlPanel.WebHost.FAQSection, Newegg.Oversea.Silverlight.ControlPanel.WebHost"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Newegg.Oversea.Framework.LoggingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="mailServerManager" type="Newegg.Oversea.Framework.EmailService.Configuration.MailServerConfigSection, Newegg.Oversea.Framework.EmailService"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\ReportDLL"/>
    </assemblyBinding>
  </runtime>

  <applicationSettings>
    <Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration>
      <setting name="CurrentMailComponent" serializeAs="String">
        <value>Newegg.Oversea.Framework.EmailService.SmtpMailComponent</value>
      </setting>
      <setting name="MaxAttachmentSize_MB" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxAttachmentCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ADName" serializeAs="String">
        <value>abs_corp</value>
      </setting>
    </Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration>
    <Newegg.Oversea.Framework.LoggingService.Properties.Settings>
      <setting name="Newegg_Oversea_Framework_LoggingService_MailServiceProxy_MailManager" serializeAs="String">
        <value>http://localhost:777/Service/Framework/V50/MailService.svc</value>
      </setting>
    </Newegg.Oversea.Framework.LoggingService.Properties.Settings>
  </applicationSettings>


  <mailServerManager>
    <mailServers>
      <server address="ssexch03" userName="" password="" domain=""/>
      <server address="ssexch03" userName="" password="" domain=""/>
    </mailServers>
  </mailServerManager>
  
  <appSettings>
    <add key="templatePath" value="bin\Configuration\LogMail.html"/>
  </appSettings>

  <oversea>
    <globalSettings filePath="Configuration\OverseaFrameworkConfig\NeweggCentral\GlobalSettings.config" />
    <logSettings localRegionName="UIPortal" />
    <dataAccessSettings DataCommandFile="bin\Configuration\Data\DbCommandFiles.config" />

    <application id="E5958C73-9D8C-485A-9330-F70F11C8AEF7" name="Newegg Central" businessCode="1003" defaultLanguage="en-US" autoLogin="true" localRegion="UIPortal"  gloalRegion="NeweggCentral" defaultPage="/Main/Home" />
    <keystone sourceDirectory="abs_corp, bitkoo" trustedDirectory="bitkoo" trustedUserName="TrustedUser" trustedPassword="Trusted@User"
							primaryAuthUrl="http://ssoversea02:99/keystone/AuthorizationService/ws.asmx"
							secondaryAuthUrl="http://ssoversea02:99/keystone/AuthorizationService/ws.asmx"
							cacheName="None" cacheExpires="00:30:00">
      <!-- Cache Name: Local | Distributed | None -->
      <applications>
        <add id="E5958C73-9D8C-485A-9330-F70F11C8AEF7" name="CNWMS" />
        <!--<add id="1f173cfc-82e0-4f53-8792-e7ed46c6424f" name="NESO" />
        <add id="56f4e6df-8d8e-4bf1-8e0f-c794b93cae81" name="NEPO" />
        <add id="536F8A0B-9F84-4748-A1EF-A286AB95A386" name="PromotionCenter" />
        <add id="8767a1d1-7efe-4666-8646-e0e97bb073e2" name="EDI" />
        <add id="a9aa9e6d-672d-4635-b9dc-d5313cd55a64" name="ExternalMarketplace" />
        <add id="607da9e0-4fcb-4653-a2db-4354479f90e8" name="RMAInbound" />-->
      </applications>
    </keystone>
  </oversea>

  <faqSetting>
    <faqServices>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/CommonService.svc"></faqService>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/KeystoneAuthService.svc"></faqService>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/LogService.svc"></faqService>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/MaintainLogConfigService.svc"></faqService>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/MenuRestService.svc"></faqService>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/ProfileService.svc"></faqService>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/QueryLogConfigService.svc"></faqService>
      <faqService url="http://10.1.24.141:778/Portal/Service/Framework/V50/QueryLogService.svc"></faqService>
    </faqServices>
    <faqDBs>
      <faqDB connectionString="data source=S1DSQL07\D2WHP01;database=NeweggCentral;user id=NCDbo;password=QC@4NCDbo;connection reset=false;Timeout=30;connection lifetime=30; min pool size=0; max pool size=50" dbInstanceName="D2WHP01" dbName="NeweggCentral" execSql="SELECT 1"></faqDB>
    </faqDBs>
  </faqSetting>

  <system.web>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"/>

    <compilation debug="true" targetFramework="4.0" />

    <sessionState timeout="120" />

    <authentication mode="Forms">
      <forms name="FormsAuth" defaultUrl="~/Default.aspx" slidingExpiration="true" loginUrl="~/Default.aspx" cookieless="UseCookies" timeout="70080" />
    </authentication>

    <machineKey
			validationKey="F6926E95374B97E5E6230A14368BD63A2DBC837D8E8937EE706BB9FAB9F56C208C32E918A8040D8B4EBFFC4C5F27EA2754157934C3370D497BD1AD256C2BC1C0"
			decryptionKey="0A5A6475E5F5E8C382E5C49859B04F141C91AEDDE0E65F94279BEC68D26B30C2"
			validation="SHA1" decryption="AES"/>

    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>


  <location path="WebResources">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="ClientBin/Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ClientBin/ControlPanel.SilverlightUI.xap">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="Service">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" />

    <bindings>
      <basicHttpBinding>
        <binding name="ControlPanel_WebHost_BasicHttpBinding" bypassProxyOnLocal="true"
				 maxBufferSize="65536000" maxReceivedMessageSize="65536000" useDefaultWebProxy="false"
				 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="100" maxStringContentLength="99999990" maxArrayLength="99999990"/>
          <security>
            <transport proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.24.146/WebService.V10.2008020501/EmailServiceCenterProxy.asmx"
					binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
					contract="EmailCenterService.IEmailServiceCenterProxy" name="BasicHttpBinding_IEmailServiceCenterProxy" />
    </client>
  </system.serviceModel>
</configuration>
