<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PrintOldChangeNew</title>
</head>
<body>
    <table width="100%" style="padding-left: 20px;">
        <tr>
            <td align="center">
            <span style="font: 18px '黑体';
		    height: 39px;
		    width: 79%;
		    text-align: center;
		    vertical-align: middle;
		    padding: 20px;">
		    以旧换新财务导出数据
            </span>                
            </td>
        </tr>        
        <tr>
            <td style="padding-left: 20px;
		    width: 98%;	
		    float: left;
		    height: 39px;
		    display: block;">
                <table width="100%" id="gridView" border="1" cellpadding="3" cellspacing="0" style="line-height: 1.5em;">
                    <tr align="center">
                       <td sort="SysNo">
                            编号
                        </td>    
                        <td >
                            申请ID
                        </td>  
                        <td >
                            订单编号
                        </td>  
                        <td >
                            顾客编号
                        </td>  
                        <td >
                            顾客名称
                        </td>
                        <td >
                            顾客地址
                        </td>
                        <td >
                            顾客电话
                        </td>
                        <td >
                            凭证号
                        </td>  
                        <td >
                            折扣金额
                        </td>  
                         <td >
                            调整金额
                        </td> 
                         <td >
                            银行
                        </td>  
                         <td >
                            分行
                        </td>  
                         <td >
                            卡号/账号
                        </td>  
                          <td >
                            状态
                        </td>  
                         <td >
                            创建人
                        </td>  
                          <td >
                            创建时间
                        </td>                         
                          <td >
                            审核人
                        </td> 
                          <td >
                            审核时间
                        </td>      
                    </tr>
                    <% TABLE_ROWS_BEGIN ID=OldChangeNewList %>
                    <tr align="center">
                        <td>
                            <%= SysNo%>
                        </td>
                        <td>
                            <%= TradeInId%>
                        </td>
                        <td>
                            <%= SoSysNo%>
                        </td>
                        <td>
                            <%= CustomerSysNo%>
                        </td>
                         <td>
                            <%= CustomerName%>
                        </td>
                         <td>
                            <%= ReceiveAddress%>
                        </td>
                         <td>
                            <%= receivePhone%>
                        </td>
                        <td>
                            <%= Licence%>
                        </td>
                        <td>
                            <%= Rebate%>
                        </td>
                        <td>
                            <%= ReviseRebate%>
                        </td>
                        <td>
                            <%= BankName%>
                        </td>
                         <td>
                            <%= BranchBankName%>
                        </td>
                        <td>
                            <%= BankAccount%>
                        </td>
                        <td>
                            <%= Status%>
                        </td>
                        <td>
                            <%= InUser%>
                        </td>
                          <td>
                            <%= InDateStr%>
                        </td>
                        <td>
                            <%= ConfirmUser%>
                        </td>
                          <td>
                            <%= ConfirmDateStr%>
                        </td>
                    </tr>
                    <% TABLE_ROWS_END ID=OldChangeNewList %>
                </table>
            </td>
        </tr>      
        
    </table>
</body>
</html>
