<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataAccess" type="Nesoft.Utility.DataAccess.Database.Config.DataAccessSection, Nesoft.Utility.DataAccess" />
    <section name="log" type="Nesoft.Utility.LogSection, Nesoft.Utility" />
  </configSections>
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />
  <log source="WMSJob">
    <emitter type="text"></emitter>
  </log>
  <appSettings>
    <add key="PORestfulUrl" value="http://dataex.kuajingtong.com:10080/dataex/wms"/>
  </appSettings>
</configuration>