<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetAvailableCoupon" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT 
    coupon.SysNo 
   ,coupon.CouponName 
   ,coupon.CouponDesc 
   ,coupon.CouponType 
   ,coupon.Status 
   ,coupon.BeginDate 
   ,coupon.EndDate  
   ,coupon.MerchantSysNo 
   ,b.IsAutoBinding 
   ,b.BindingDate 
   ,b.IsSendMail 
   ,b.BindCondition 
   ,b.BindBeginDate 
   ,b.BindEndDate 
   ,b.ValidPeriod 
   ,b.Status BindStatus
   ,b.LimitType
   ,b.AmountLimit
FROM [OverseaECommerceManagement].[dbo].[Coupon] coupon WITH(NOLOCK) 
INNER JOIN [OverseaECommerceManagement].[dbo].[Coupon_BindRules] b WITH(NOLOCK) 
    ON b.couponsysno=coupon.sysno 
WHERE 
    coupon.status in ('A')
AND b.Status<>'E' --AND b.BindCondition<>'O'
AND (coupon.SysNo=@TestCouponSysNo or @TestCouponSysNo=0)
AND coupon.CompanyCode=@CompanyCode
--AND  coupon.SysNo not in (7666,7667,7668,7669,7671,7672,7673,7674,7675,7676) 

			 ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode"  dbType="AnsiStringFixedLength"  size="50"/>
      <param name="@TestCouponSysNo"  dbType="Int32" /> 
    </parameters>
  </dataCommand>

  <dataCommand name="GetAliPayCoupon" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
     SELECT 
         coupon.SysNo 
        ,coupon.CouponName 
        ,coupon.CouponDesc 
        ,coupon.CouponType 
        ,coupon.Status 
        ,coupon.BeginDate 
        ,coupon.EndDate  
        ,b.IsAutoBinding 
        ,b.BindingDate 
        ,b.IsSendMail 
        ,b.BindCondition 
        ,b.ValidPeriod 
        ,b.Status BindStatus 
     FROM [OverseaECommerceManagement].[dbo].[Coupon] coupon WITH(NOLOCK) 
     INNER JOIN [OverseaECommerceManagement].[dbo].[Coupon_BindRules] b WITH(NOLOCK) 
         ON b.couponsysno=coupon.sysno 
WHERE coupon.status in ('A')
AND b.Status<>'E'      
AND coupon.SysNo  in (7666,7667,7668,7669,7671)  or (coupon.SysNo =@TestCouponSysNo)
     
	    ]]>
    </commandText>
    <parameters>     
      <param name="@TestCouponSysNo"  dbType="Int32" />
    </parameters>
  </dataCommand>
  

  <dataCommand name="GetCouponSaleRulesCustomer" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT 
    sc.CustomerSysNo 
   ,sc.Status  
   ,c.Email  MailAddress 
   ,c.CustomerID 
   ,c.CustomerName  
   ,c.IsSubscribe 
FROM [OverseaECommerceManagement].[dbo].[Coupon_SaleRulesCustomer]  sc WITH(NOLOCK) 
INNER JOIN [OverseaCustomerManagement].[dbo].[V_CUM_CustomerBaseInfo] c WITH(NOLOCK) 
    ON c.sysno=sc.CustomerSysNo 
WHERE [CouponSysNo]=@CouponSysNo 
    AND sc.status='N' 
    AND not exists (select top 1 1 from  [OverseaECommerceManagement].[dbo].[CouponCode_CustomerLog] with(nolock)
 where [CouponSysNo]=@CouponSysNo and CustomerSysNo=sc.CustomerSysNo )
			 ]]>
    </commandText>
    <parameters>
      <param name="@CouponSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>

  <dataCommand name="GetCouponCode" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT [SysNo]
      ,[CouponSysNo]
      ,[CouponCode]    
      ,ISNULL([CustomerMaxFrequency],0)   CustomerMaxFrequency 
      ,ISNULL([UseCount],0) UseCount
      ,ISNULL([TotalCount],0) TotalCount
      ,[BeginDate]
      ,[EndDate]   
  FROM [OverseaECommerceManagement].[dbo].[CouponCode]  WITH(NOLOCK)
WHERE [CodeType]='C'
      AND [CouponSysNo]=@CouponSysNo  
      AND EndDate>GetDate()
			 ]]>
    </commandText>
    <parameters>
      <param name="@CouponSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateCouponSaleRulesCustomerStatus" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
  UPDATE  [OverseaECommerceManagement].[dbo].[Coupon_SaleRulesCustomer] 
  SET [Status]=@Status
  WHERE [CouponSysNo]=@CouponSysNo
			 ]]>
    </commandText>
    <parameters>
      <param name="@Status"  dbType="String"/>
      <param name="@CouponSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>


  <dataCommand name="UpdateBindRulesStatus" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
  UPDATE  [OverseaECommerceManagement].[dbo].[Coupon_BindRules]
  SET [Status]=@Status
  WHERE [CouponSysNo]=@CouponSysNo
			 ]]>
    </commandText>
    <parameters>
      <param name="@Status"  dbType="String"/>
      <param name="@CouponSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>

  <dataCommand name="InsertCouponCode" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
INSERT INTO [OverseaECommerceManagement].[dbo].[CouponCode]
  ([CouponSysNo]
  ,[CouponCode]
  ,[CodeType]
  ,[CustomerMaxFrequency]
  ,[TotalCount]
  ,[UseCount]
  ,[BeginDate]
  ,[EndDate]
  ,[InDate]
  ,[InUser]
  )
VALUES
  (@CouponSysNo
  ,@CouponCode
  ,@CodeType
  ,1
  ,1
  ,0
  ,@BeginDate
  ,@EndDate
  ,GETDATE()
  ,@InUser
  )

  SELECT @SysNo = SCOPE_IDENTITY()
			 ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32" direction="Output" />
      <param name="@CouponSysNo" dbType="Int32" />
      <param name="@CouponCode" dbType="String" />
      <param name="@CodeType" dbType="String" />
      <param name="@BeginDate" dbType="DateTime" />
      <param name="@EndDate" dbType="DateTime" />
      <param name="@InUser"  dbType="String"  />
    </parameters>
  </dataCommand>


  <dataCommand name="InsertCouponCodeCustomerLog" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
INSERT INTO [OverseaECommerceManagement].[dbo].[CouponCode_CustomerLog]
  ([CouponSysNo]
  ,[CouponCode]
  ,[CustomerSysNo]
  ,[GetCouponCodeDate]
  ,UserCodeType
  ,[InDate]
  ,[InUser]
  ,[SOSysNo]
  )
VALUES
  (@CouponSysNo
  ,@CouponCode
  ,@CustomerSysNo 
  ,GETDATE()
  ,@UserCodeType
  ,GETDATE()
  ,'优惠券发放job'
  ,@SOSysNo)
			 ]]>
    </commandText>
    <parameters>
      <param name="@CouponSysNo"  dbType="Int32"/>
      <param name="@CouponCode"  dbType="String"/>
      <param name="@CustomerSysNo"  dbType="Int32"/>
      <param name="@UserCodeType"  dbType="String"/>
      <param name="@SOSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>
  
<!--获取支付宝金账户第一次登陆果大昌优品的-->
  <dataCommand name="GetAlipayCustomer" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
          SELECT TOP 1000 
              A.SysNo  CustomerSysNo 
             ,A.CustomerID 
             ,A.CustomerName 
             ,A.RegisterTime 
             ,A.Birthday 
             ,ISNULL(A.[Email],'无邮件地址') MailAddress 
             ,IsSubscribe 
          FROM [IPP3].[dbo].[Customer] A WITH(NOLOCK) 
          INNER JOIN Ecommerce.dbo.ThirdPartyUser B WITH(NOLOCK) 
            ON A.SysNo=B.CustomerSysNo 
          WHERE 
              A.[Status]=0 
              AND a.sysno>0
              AND B.UserSource='支付宝'  
              AND (B.SubSource='VIP' OR B.SubSource='IMPERIAL_VIP')
              AND (A.SysNo=@TestUserSysNo OR @TestUserSysNo=0) 
              AND A.RegisterTime between @BeginDate and @EndDate
              AND NOT exists( 
                      SELECT 
                          Top 1 1 
                      FROM OverseaECommerceManagement.dbo.CouponCode_CustomerLog WITH(NOLOCK) 
                      where  UserCodeType=@UserCodeType 
                      AND CustomerSysNo=A.SysNo
                      AND CouponSysNo=@CouponSysNo
                  ) 
          ORDER BY A.SysNo DESC
			 ]]>
    </commandText>
    <parameters>
      <param name="@UserCodeType"  dbType="String"/>    
      <param name="@TestUserSysNo" dbType="Int32" />
      <param name="@BeginDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
      <param name="@CouponSysNo" dbType="Int32" />      
    </parameters>
  </dataCommand>

  <dataCommand name="GetBirthdayCustomer" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT TOP 2000
    SysNo  CustomerSysNo
   ,CustomerID 
   ,CustomerName 
   ,RegisterTime 
   ,Birthday 
   ,Email MailAddress
   ,IsSubscribe 
FROM [IPP3].[dbo].[Customer] c WITH(NOLOCK) 
WHERE 
    [CompanyCode]=@CompanyCode 
    AND status=0
    AND sysno>0
    AND (sysno =@TestUserSysNo or @TestUserSysNo=0)
    AND DATEPART(month, c.Birthday)=@Month
    AND DATEPART(day, c.Birthday)=@Day
    AND NOT EXISTS ( 
            SELECT TOP 1 1 
            FROM OverseaECommerceManagement.dbo.CouponCode_CustomerLog WITH(NOLOCK) 
            WHERE 
                CustomerSysNo=c.sysno 
                AND CouponSysNo=@CouponSysNo
                AND InDate between @FromDate AND @EndDate
        ) 
ORDER BY SysNo DESC
			 ]]>
    </commandText>
    <parameters>
      <param name="@TestUserSysNo"  dbType="Int32"/>
      <param name="@Month"  dbType="Int32"/>
      <param name="@Day"  dbType="Int32"/>
      <param name="@FromDate"  dbType="DateTime"/>
      <param name="@EndDate"  dbType="DateTime"/>
      <param name="@CouponSysNo" dbType="Int32" />
      <param name="@CompanyCode"  dbType="AnsiStringFixedLength"/>
    </parameters>
  </dataCommand>

  <dataCommand name="GetNewCustomer" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT TOP 2000
    SysNo  CustomerSysNo
   ,CustomerID 
   ,CustomerName 
   ,RegisterTime 
   ,Birthday 
   ,Email MailAddress
   ,IsSubscribe 
FROM [IPP3].[dbo].[Customer] c WITH(NOLOCK) 
WHERE 
    [CompanyCode]=@CompanyCode 
    AND status=0
    AND sysno>0
    AND ( SysNo=@TestUserSysNo or @TestUserSysNo=0)
    AND RegisterTime>=@BeginDate
    AND RegisterTime<@EndDate
    AND NOT EXISTS ( 
            SELECT TOP 1 1 
            FROM OverseaECommerceManagement.dbo.CouponCode_CustomerLog WITH(NOLOCK) 
            WHERE 
                CustomerSysNo=c.sysno 
                AND UserCodeType=@UserCodeType
                AND CouponSysNo=@CoponSysNo
        ) 
ORDER BY SysNo DESC
			 ]]>
    </commandText>
    <parameters>
      <param name="@BeginDate"  dbType="String"/>
      <param name="@EndDate"  dbType="String"/>
      <param name="@UserCodeType"  dbType="String"/>
      <param name="@TestUserSysNo"  dbType="Int32"/>
      <param name="@CompanyCode"  dbType="AnsiStringFixedLength"/>
      <param name="@CoponSysNo"  dbType="Int32"/>
      
    </parameters>
  </dataCommand>

  <dataCommand name="GetExistCode" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT count(1)  
  FROM [OverseaECommerceManagement].[dbo].[CouponCode]  WITH(NOLOCK)
WHERE [CouponCode]=@CouponCode     
			 ]]>
    </commandText>
    <parameters>
      <param name="@CouponCode"  dbType="String"/>
    </parameters>
  </dataCommand>

  <dataCommand name="SendMailInternal" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
	INSERT INTO [MailDB].[dbo].[AsyncEmail_Internal]
           ([MailAddress]
           ,[CCMailAddress]         
           ,[MailSubject]
           ,[MailBody]
           ,[Status]
           ,[Priority]      
           ,[CreateTime]
           ,[CompanyCode]
           ,[LanguageCode]
           ,[StoreCompanyCode])
     VALUES
           (@MailAddress
           ,@CCMailAddress
           ,@MailSubject
           ,@MailBody
           ,0
           ,1
           ,getdate()
           ,@CompanyCode
           ,@LanguageCode
           ,@CompanyCode)
			 ]]>
    </commandText>
    <parameters>
      <param name="@MailAddress" dbType="String" />
      <param name="@CCMailAddress" dbType="String" />
      <param name="@MailSubject" dbType="String" />
      <param name="@MailBody" dbType="String" />
      <param name="@CompanyCode" dbType="String"/>
      <param name="@LanguageCode" dbType="String"/>
    </parameters>
  </dataCommand>


  <dataCommand name="SendMailInfo" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
	INSERT INTO [MailDB].[dbo].[AsyncEmail]
           ([MailAddress]
           ,[MailSubject]
           ,[MailBody]
           ,[Status]
           ,[CreateTime]         
           ,[CCMailAddress]        
           ,[MailFrom]          
           ,[CompanyCode]
           ,[LanguageCode]
           ,[StoreCompanyCode]
           ,[Priority])
     VALUES
           (@MailAddress
           ,@MailSubject
           ,@MailBody
           ,0
           ,GETDATE()          
           ,@CCMailAddress        
           ,'Support@newegg.com.cn'
           ,@CompanyCode
           ,@LanguageCode
           ,@CompanyCode
           ,1)
			 ]]>
    </commandText>
    <parameters>
      <param name="@MailAddress" dbType="String" />
      <param name="@CCMailAddress" dbType="String" />
      <param name="@MailSubject" dbType="String" />
      <param name="@MailBody" dbType="String" />
      <param name="@CompanyCode" dbType="String"/>
      <param name="@LanguageCode" dbType="String"/>
    </parameters>
  </dataCommand>


  <dataCommand name="GetProductTop6" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
    <![CDATA[	
      SELECT TOP 6 
      L.ProductID
      ,P.ProductTitle
      ,P.DefaultImage
      ,PR.CurrentPrice 
      FROM [OverseaECommerceManagement].[dbo].[OnlineList] AS L WITH (NOLOCK) 
      LEFT JOIN IPP3.dbo.Product AS P WITH (NOLOCK) 
      ON P.ProductID = L.ProductID
      INNER JOIN IPP3.dbo.Product_Price AS PR WITH (NOLOCK)
      ON PR.ProductSysNo = P.SysNo 
      WHERE L.[Status]='A' AND L.EndDate > = GETDATE() AND L.DeleteMark <> 'Y' 
      ORDER BY L.InDate DESC
     ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <!--（所有商品）LimitType = "A"根据商家SysNo获取符合条件的订单信息和顾客信息-->
  <dataCommand name="GetCustomerAndSO" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
        SELECT 
	        Distinct  so.SysNo AS SOSysNo,
            so.CustomerSysNo
        FROM IPP3.dbo.SO_Master as so WITH(NOLOCK)
        INNER JOIN IPP3.dbo.SO_Item as item WITH (NOLOCK) 
        ON so.SysNo = item.SOSysNo AND item.ProductType=0
        INNER JOIN [IPP3].[dbo].[Product] AS P WITH(NOLOCK)
        ON P.SysNo = item.ProductSysNo
        INNER JOIN [IPP3].[dbo].[Vendor] AS V WITH(NOLOCK)
        ON V.[SysNo]=P.[MerchantSysNo]
        INNER JOIN IPP3.dbo.Finance_NetPay as netpay WITH(NOLOCK) 
        ON so.SysNo=netpay.SOSysNo AND netpay.Status <> -1 AND netpay.InputTime  Between @BeginDate AND @EndDate AND netpay.PayAmount>=@PayAmount
        where --so.SysNo=10001346 AND 
        so.OrderDate Between  @BeginDate AND @EndDate AND 
        so.CustomerSysNo in (SELECT 
                                sc.CustomerSysNo 
                            FROM [OverseaECommerceManagement].[dbo].[Coupon_SaleRulesCustomer]  sc WITH(NOLOCK) 
                            INNER JOIN [OverseaCustomerManagement].[dbo].[V_CUM_CustomerBaseInfo] c WITH(NOLOCK) 
                                ON c.sysno=sc.CustomerSysNo 
                            WHERE [CouponSysNo]=	@CouponSysNo 
                                AND sc.status='N' 
                            ) AND
        V.[SysNo] =@MerchantSysNo
     ]]>
    </commandText>
    <parameters>
      <param name="@BeginDate"  dbType="String"/>
      <param name="@EndDate"  dbType="String"/>
      <param name="@MerchantSysNo"  dbType="Int32"/>
      <param name="@PayAmount" dbType="Decimal" />
      <param name="@CouponSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>


  <!--（指定商品）LimitType = "I";根据商家SysNo获取符合条件的订单信息和顾客信息-->
  <dataCommand name="GetCustomerAndSoByTypeI" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
        SELECT 
	        Distinct  so.SysNo AS SOSysNo,
            so.CustomerSysNo
        FROM IPP3.dbo.SO_Master as so WITH(NOLOCK)
        INNER JOIN IPP3.dbo.SO_Item as item WITH (NOLOCK) 
        ON so.SysNo = item.SOSysNo AND item.ProductType=0
        INNER JOIN [IPP3].[dbo].[Product] AS P WITH(NOLOCK)
        ON P.SysNo = item.ProductSysNo
        AND item.ProductSysNo in ( SELECT ItemDataSysNo FROM OverseaEcommerceManagement.dbo.Coupon_BindRuleItems  where CouponSysNo=@CouponSysNo)
        INNER JOIN [IPP3].[dbo].[Vendor] AS V WITH(NOLOCK)
        ON V.[SysNo]=P.[MerchantSysNo]
        INNER JOIN IPP3.dbo.Finance_NetPay as netpay WITH(NOLOCK) 
        ON so.SysNo=netpay.SOSysNo AND netpay.Status <> -1 AND netpay.InputTime  Between @BeginDate AND @EndDate AND netpay.PayAmount>=@PayAmount
        where --so.SysNo=10001346 AND 
        so.OrderDate Between  @BeginDate AND @EndDate AND
        so.CustomerSysNo in (SELECT 
                                sc.CustomerSysNo 
                            FROM [OverseaECommerceManagement].[dbo].[Coupon_SaleRulesCustomer]  sc WITH(NOLOCK) 
                            INNER JOIN [OverseaCustomerManagement].[dbo].[V_CUM_CustomerBaseInfo] c WITH(NOLOCK) 
                                ON c.sysno=sc.CustomerSysNo 
                            WHERE [CouponSysNo]=	@CouponSysNo 
                                AND sc.status='N' 
                            ) AND
        V.[SysNo] =@MerchantSysNo
     ]]>
    </commandText>
    <parameters>
      <param name="@BeginDate"  dbType="String"/>
      <param name="@EndDate"  dbType="String"/>
      <param name="@MerchantSysNo"  dbType="Int32"/>
      <param name="@CouponSysNo"  dbType="Int32"/>
      <param name="@PayAmount" dbType="Decimal" />
    </parameters>
  </dataCommand>
  <!--（排他商品）LimitType = "I";根据商家SysNo获取符合条件的订单信息和顾客信息-->
  <dataCommand name="GetCustomerAndSoByTypeINO" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
        SELECT 
	        Distinct  so.SysNo AS SOSysNo,
            so.CustomerSysNo
        FROM IPP3.dbo.SO_Master as so WITH(NOLOCK)
        INNER JOIN IPP3.dbo.SO_Item as item WITH (NOLOCK) 
        ON so.SysNo = item.SOSysNo AND item.ProductType=0
        INNER JOIN [IPP3].[dbo].[Product] AS P WITH(NOLOCK)
        ON P.SysNo = item.ProductSysNo
        AND item.ProductSysNo not in ( SELECT ItemDataSysNo FROM OverseaEcommerceManagement.dbo.Coupon_BindRuleItems  where CouponSysNo=@CouponSysNo)
        INNER JOIN [IPP3].[dbo].[Vendor] AS V WITH(NOLOCK)
        ON V.[SysNo]=P.[MerchantSysNo]
        INNER JOIN IPP3.dbo.Finance_NetPay as netpay WITH(NOLOCK) 
        ON so.SysNo=netpay.SOSysNo AND netpay.Status <> -1 AND netpay.InputTime  Between @BeginDate AND @EndDate AND netpay.PayAmount>=@PayAmount
        where --so.SysNo=10001346 AND 
        so.OrderDate Between  @BeginDate AND @EndDate AND
        so.CustomerSysNo in (SELECT 
                                sc.CustomerSysNo 
                            FROM [OverseaECommerceManagement].[dbo].[Coupon_SaleRulesCustomer]  sc WITH(NOLOCK) 
                            INNER JOIN [OverseaCustomerManagement].[dbo].[V_CUM_CustomerBaseInfo] c WITH(NOLOCK) 
                                ON c.sysno=sc.CustomerSysNo 
                            WHERE [CouponSysNo]=	@CouponSysNo 
                                AND sc.status='N' 
                            ) AND
        V.[SysNo] =@MerchantSysNo
     ]]>
    </commandText>
    <parameters>
      <param name="@BeginDate"  dbType="String"/>
      <param name="@EndDate"  dbType="String"/>
      <param name="@MerchantSysNo"  dbType="Int32"/>
      <param name="@CouponSysNo"  dbType="Int32"/>
      <param name="@PayAmount" dbType="Decimal" />
    </parameters>
  </dataCommand>
  
  <!--查看是否该订单已经发放优惠卷true已发放-->
  <dataCommand name="CheckIfSendCustomerCouponCode" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT  count(1) 
            FROM OverseaECommerceManagement.dbo.CouponCode_CustomerLog WITH(NOLOCK) 
            WHERE CouponSysNo=@couponSysNo AND SOSysNo = @SOSysNo     
			 ]]>
    </commandText>
    <parameters>
      <param name="@couponSysNo"  dbType="Int32"/>
      <param name="@SOSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>
  <!--是否限定商品___指定商品（true是）-->
  <dataCommand name="CheckIfRelationTypeY" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT COUNT(1) FROM OverseaEcommerceManagement.dbo.Coupon_BindRuleItems  
where CouponSysNo=@couponSysNo and RelationType='Y'    
			 ]]>
    </commandText>
    <parameters>
      <param name="@couponSysNo"  dbType="Int32"/>
    </parameters>
  </dataCommand>
  
</dataOperations>
