<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dataCommand name="Promotion_GetLimitCustomer" database="OverseaECommerceManagement" commandType="Text">
        <commandText>
            <![CDATA[  
   SELECT 
     distinct(lc.CustomerSysNo)
    ,c.Email  MailAddress
    ,c.CustomerID 
    ,c.CustomerName 
    ,m.PromotionName 
    ,l.SOAmtLowerLimit 
 FROM   [IPP3].[dbo].[Promotion_LimitCustomer] lc WITH(NOLOCK) 
 LEFT JOIN [IPP3].[dbo].[Promotion_Limit] l WITH(NOLOCK) 
     ON l.PromotionSysNo=lc.PromotionSysNo 
 LEFT JOIN  [IPP3].[dbo].[Promotion_master] m WITH(NOLOCK) 
     ON m.sysno=l.promotionsysno 
 INNER JOIN [OverseaCustomerManagement].[dbo].[V_CUM_CustomerBaseInfo] c WITH(NOLOCK) 
     ON lc.CustomerSysNo = c.SysNo 
     AND lc.CompanyCode=c.CompanyCode 
 WHERE 
     lc.CompanyCode = @CompanyCode
     AND lc.PromotionSysNo = @PromotionSysNo
     AND lc.Status = 'A'  
 ORDER BY lc.CustomerSysNo
    ]]>
        </commandText>
        <parameters>
            <param name="@PromotionSysNo"  dbType="Int32" />
            <param name="@CompanyCode" dbType="AnsiStringFixedLength"  size="50" />
        </parameters>
    </dataCommand>
</dataOperations>
