<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <dataCommand name="Promotion_QueryMultiPromotionCode" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT TOP (@Top) [SysNo]
      ,[PromotionSysNo]
      ,[PromotionCode]
      ,[PromotionValue]
      ,[SoAmtLimit]
      ,[UseCount]
      ,[TotalCount]
      ,[CreateTime]
      ,[CreateUserSysNo]
      ,[Status]
      ,[ConvertToPointCount]
      ,[DueInvertRate]
      ,[CustomerTotalCount]
  FROM [IPP3].[dbo].[Promotion_Code] c WITH(NOLOCK)
  WHERE Status=0
  AND PromotionSysNo=@PromotionSysNo
  AND CompanyCode=@CompanyCode
  AND TotalCount = CustomerTotalCount
			 ]]>
    </commandText>
      <parameters>
          <param name="@Top"  dbType="Int32" />
          <param name="@PromotionSysNo"  dbType="Int32" />
          <param name="@CompanyCode" dbType="AnsiStringFixedLength"  size="50" />
      </parameters>
  </dataCommand>
  <dataCommand name="Promotion_QuerySinglePromotionCode" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT [SysNo]
      ,[PromotionSysNo]
      ,[PromotionCode]
      ,[PromotionValue]
      ,[SoAmtLimit]
      ,[UseCount]
      ,[TotalCount]
      ,[CreateTime]
      ,[CreateUserSysNo]
      ,[Status]
      ,[ConvertToPointCount]
      ,[DueInvertRate]
      ,[CustomerTotalCount]
  FROM [IPP3].[dbo].[Promotion_Code] c WITH(NOLOCK)
  WHERE Status=0
  AND PromotionSysNo=@PromotionSysNo
  AND CompanyCode=@CompanyCode
  AND TotalCount > CustomerTotalCount
			 ]]>
    </commandText>
      <parameters>
          <param name="@PromotionSysNo"  dbType="Int32" />
          <param name="@CompanyCode" dbType="AnsiStringFixedLength"  size="50" />
      </parameters>
  </dataCommand>
</dataOperations>
