<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <dataCommand name="Promotion_GetMaster" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT [SysNo]
      ,[PromotionName]
      ,[ExpiringFrom]
      ,[ExpiringTo]
      ,[Status]
      ,[RestrictedAmt]
  FROM [IPP3].[dbo].[Promotion_Master] WITH(NOLOCK)
  WHERE SysNo=@SysNo AND CompanyCode=@CompanyCode
			 ]]>
    </commandText>
    <parameters>
      <param name="@SysNo"  dbType="Int32"  />
      <param name="@CompanyCode"  dbType="String"  />
    </parameters>
  </dataCommand>
</dataOperations>
