<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <dataCommand name="Promotion_GetAvailableSettingCustomer" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
SELECT s.[SysNo]
      ,s.[PromotionSysNo]
      ,s.[UserRank]
      ,s.[IsLastShopping]
      ,s.[LastShoppingFrom]
      ,s.[LastShoppingTo]
      ,s.[IsAutoBinding]
      ,s.[BindingDate]
      ,s.[IsSendMail]
      ,s.[Status]
  FROM [IPP3].[dbo].[Promotion_SettingCustomer] s WITH(NOLOCK)
  INNER JOIN [IPP3].[dbo].Promotion_Master  m WITH(NOLOCK)
    ON s.PromotionSysNo = m.SysNo AND s.CompanyCode = m.CompanyCode
  WHERE s.Status = 'A'
    AND ((s.IsAutoBinding = 'Y' AND  s.BindingDate < GETDATE())  OR (s.IsAutoBinding != 'Y' AND m.Status = 0))
    AND EXISTS(SELECT TOP 1 1 
        FROM [IPP3].[dbo].Promotion_Master_Request  r WITH(NOLOCK)
        WHERE r.PromotionSysNo = s.PromotionSysNo AND r.CompanyCode = s.CompanyCode
            AND r.Status = 2)
    AND  s.CompanyCode = @CompanyCode
			 ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength"  size="50"/>
    </parameters>
  </dataCommand>
  <dataCommand name="Promotion_SetSettingCustomerStatus" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
      UPDATE [IPP3].[dbo].[Promotion_SettingCustomer]
      SET Status = @Status
        ,EditDate = GETDATE()
        ,EditUser = @EditUser
      WHERE SysNo=@SysNo AND CompanyCode=@CompanyCode
			 ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32" />
      <param name="@Status" dbType="AnsiStringFixedLength"  size="1" />
      <param name="@EditUser" dbType="String"  size="100"/>
      <param name="@CompanyCode" dbType="String"/>
    </parameters>
  </dataCommand>
  <dataCommand name="SendMailInternal" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
	INSERT INTO [IPP3].[dbo].[AsyncEmail_Internal]
           ([MailAddress]
           ,[CCMailAddress]         
           ,[MailSubject]
           ,[MailBody]
           ,[Status]
           ,[Priority]      
           ,[CreateTime]
           ,[CompanyCode]
           ,[LanguageCode]
           ,[StoreCompanyCode])
     VALUES
           (@MailAddress
           ,@CCMailAddress
           ,@MailSubject
           ,@MailBody
           ,0
           ,1
           ,getdate()
           ,@CompanyCode
           ,@LanguageCode
           ,@StoreCompanyCode)
			 ]]>
    </commandText>
    <parameters>
      <param name="@MailAddress" dbType="String" />
      <param name="@CCMailAddress" dbType="String" />
      <param name="@MailSubject" dbType="String" />
      <param name="@MailBody" dbType="String" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength"  size="50"/>
      <param name="@LanguageCode" dbType="AnsiStringFixedLength"  size="5"/>
      <param name="@StoreCompanyCode" dbType="AnsiString"  size="50"/>
    </parameters>
  </dataCommand>
  <dataCommand name="SendMailInfo" database="OverseaECommerceManagement" commandType="Text">
    <commandText>
      <![CDATA[	
	 INSERT INTO IPP3.dbo.AsyncEmail(MailAddress, MailSubject, MailBody, Status
            ,[CompanyCode]
           ,[LanguageCode]
           ,[StoreCompanyCode])
        VALUES (@MailAddress,@MailSubject,@MailBody,0
           ,@CompanyCode
           ,@LanguageCode
           ,@StoreCompanyCode)
	]]>
    </commandText>
    <parameters>
      <param name="@MailAddress" dbType="String" />
      <param name="@CCMailAddress" dbType="String" />
      <param name="@MailSubject" dbType="String" />
      <param name="@MailBody" dbType="String" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength"  size="50"/>
      <param name="@LanguageCode" dbType="AnsiStringFixedLength"  size="5"/>
      <param name="@StoreCompanyCode" dbType="AnsiString"  size="50"/>
    </parameters>
  </dataCommand>
</dataOperations>
