<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetJobProductRequest" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[
DECLARE @WhereSql NVARCHAR(2000)
DECLARE @SelectSql NVARCHAR(2000)
DECLARE @TableName NVARCHAR(2000)

SET @TableName=N' OverseaContentManagement.dbo.ProductRequest WITH(NOLOCK) '
SET @WhereSql = N' WHERE 1=1 '
SET @SelectSql = N''

IF @SysNo >= 0
SET @WhereSql = @WhereSql+ N' AND SYSNO=@SYSNO'
IF LEN(@ProductName) > 0
SET @WhereSql = @WhereSql+ N' AND PRODUCTNAME=@PRODUCTNAME'
IF LEN(@ProductID) > 0
SET @WhereSql = @WhereSql+ N' AND PRODUCTID=@PRODUCTID'
IF LEN(@ProductLink) > 0
SET @WhereSql = @WhereSql+ N' AND PRODUCTLINK=@PRODUCTLINK'
IF @HostWarrantyDay >= 0
SET @WhereSql = @WhereSql+ N' AND HOSTWARRANTYDAY=@HOSTWARRANTYDAY'
IF @PartWarrantyDay >= 0
SET @WhereSql = @WhereSql+ N' AND PARTWARRANTYDAY=@PARTWARRANTYDAY'
IF LEN(@Warranty) > 0
SET @WhereSql = @WhereSql+ N' AND WARRANTY=@WARRANTY'
IF LEN(@ServicePhone) > 0
SET @WhereSql = @WhereSql+ N' AND SERVICEPHONE=@SERVICEPHONE'
IF LEN(@ServiceInfo) > 0
SET @WhereSql = @WhereSql+ N' AND SERVICEINFO=@SERVICEINFO'
IF LEN(@Note) > 0
SET @WhereSql = @WhereSql+ N' AND NOTE=@NOTE'
IF @Weight >= 0
SET @WhereSql = @WhereSql+ N' AND WEIGHT=@WEIGHT'
IF @IsLarge >= 0
SET @WhereSql = @WhereSql+ N' AND ISLARGE=@ISLARGE'
IF @Length >= 0
SET @WhereSql = @WhereSql+ N' AND LENGTH=@LENGTH'
IF @Width >= 0
SET @WhereSql = @WhereSql+ N' AND WIDTH=@WIDTH'
IF @Height >= 0
SET @WhereSql = @WhereSql+ N' AND HEIGHT=@HEIGHT'
IF @MinPackNumber >= 0
SET @WhereSql = @WhereSql+ N' AND MINPACKNUMBER=@MINPACKNUMBER'
IF LEN(@Status) > 0
SET @WhereSql = @WhereSql+ N' AND STATUS=@STATUS'
IF LEN(@Type) > 0
SET @WhereSql = @WhereSql+ N' AND TYPE=@TYPE'
IF LEN(@PromotionTitle) > 0
SET @WhereSql = @WhereSql+ N' AND PROMOTIONTITLE=@PROMOTIONTITLE'
IF LEN(@Auditor) > 0
SET @WhereSql = @WhereSql+ N' AND AUDITOR=@AUDITOR'
IF @AuditDate IS NOT NULL
SET @WhereSql = @WhereSql+ N' AND AUDITDATE=@AUDITDATE'
IF LEN(@CompanyCode) > 0
SET @WhereSql = @WhereSql+ N' AND COMPANYCODE=@COMPANYCODE'
IF LEN(@StoreCompanyCode) > 0
SET @WhereSql = @WhereSql+ N' AND STORECOMPANYCODE=@STORECOMPANYCODE'
IF LEN(@LanguageCode) > 0
SET @WhereSql = @WhereSql+ N' AND LANGUAGECODE=@LANGUAGECODE'
IF @InDate IS NOT NULL
SET @WhereSql = @WhereSql+ N' AND INDATE=@INDATE'
IF LEN(@InUser) > 0
SET @WhereSql = @WhereSql+ N' AND INUSER=@INUSER'
IF @EditDate IS NOT NULL
SET @WhereSql = @WhereSql+ N' AND EDITDATE=@EDITDATE'
IF LEN(@EditUser) > 0
SET @WhereSql = @WhereSql+ N' AND EDITUSER=@EDITUSER'

SET @SelectSql = N'SELECT
SYSNO
,PRODUCTNAME
,PRODUCTID
,PRODUCTLINK
,HOSTWARRANTYDAY
,PARTWARRANTYDAY
,WARRANTY
,SERVICEPHONE
,SERVICEINFO
,NOTE
,WEIGHT
,ISLARGE
,LENGTH
,WIDTH
,HEIGHT
,MINPACKNUMBER
,STATUS
,TYPE
,PROMOTIONTITLE
,AUDITOR
,AUDITDATE
,COMPANYCODE
,STORECOMPANYCODE
,LANGUAGECODE
,INDATE
,INUSER
,EDITDATE
,EDITUSER
FROM '+@TableName+@WhereSql

EXEC SP_EXECUTESQL @SelectSql,
N'@SYSNO int
,@PRODUCTNAME nvarchar (400)
,@PRODUCTID nvarchar (40)
,@PRODUCTLINK nvarchar (400)
,@HOSTWARRANTYDAY int
,@PARTWARRANTYDAY int
,@WARRANTY nvarchar (400)
,@SERVICEPHONE nvarchar (100)
,@SERVICEINFO nvarchar (510)
,@NOTE nvarchar (1000)
,@WEIGHT int
,@ISLARGE int
,@LENGTH int
,@WIDTH int
,@HEIGHT int
,@MINPACKNUMBER int
,@STATUS char (1)
,@TYPE char (1)
,@PROMOTIONTITLE nvarchar (400)
,@AUDITOR nvarchar (200)
,@AUDITDATE datetime
,@COMPANYCODE char (50)
,@STORECOMPANYCODE varchar (50)
,@LANGUAGECODE char (5)
,@INDATE datetime
,@INUSER nvarchar (200)
,@EDITDATE datetime
,@EDITUSER nvarchar (200)'
,@SYSNO
,@PRODUCTNAME
,@PRODUCTID
,@PRODUCTLINK
,@HOSTWARRANTYDAY
,@PARTWARRANTYDAY
,@WARRANTY
,@SERVICEPHONE
,@SERVICEINFO
,@NOTE
,@WEIGHT
,@ISLARGE
,@LENGTH
,@WIDTH
,@HEIGHT
,@MINPACKNUMBER
,@STATUS
,@TYPE
,@PROMOTIONTITLE
,@AUDITOR
,@AUDITDATE
,@COMPANYCODE
,@STORECOMPANYCODE
,@LANGUAGECODE
,@INDATE
,@INUSER
,@EDITDATE
,@EDITUSER

]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32" />
      <param name="@ProductName" dbType="String" />
      <param name="@ProductID" dbType="String" />
      <param name="@ProductLink" dbType="String" />
      <param name="@HostWarrantyDay" dbType="Int32" />
      <param name="@PartWarrantyDay" dbType="Int32" />
      <param name="@Warranty" dbType="String" />
      <param name="@ServicePhone" dbType="String" />
      <param name="@ServiceInfo" dbType="String" />
      <param name="@Note" dbType="String" />
      <param name="@Weight" dbType="Int32" />
      <param name="@IsLarge" dbType="Int32" />
      <param name="@Length" dbType="Int32" />
      <param name="@Width" dbType="Int32" />
      <param name="@Height" dbType="Int32" />
      <param name="@MinPackNumber" dbType="Int32" />
      <param name="@Status" dbType="String" />
      <param name="@Type" dbType="String" />
      <param name="@PromotionTitle" dbType="String" />
      <param name="@Auditor" dbType="String" />
      <param name="@AuditDate" dbType="DateTime" />
      <param name="@CompanyCode" dbType="String" />
      <param name="@StoreCompanyCode" dbType="String" />
      <param name="@LanguageCode" dbType="String" />
      <param name="@InDate" dbType="DateTime" />
      <param name="@InUser" dbType="String" />
      <param name="@EditDate" dbType="DateTime" />
      <param name="@EditUser" dbType="String" />
    </parameters>
  </dataCommand>

</dataOperations>