<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <logSettings localRegionName="InvoiceMgmt"/>
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
  
  <appSettings>
    <!--配置所有可执行的报警业务 (ActionName以逗号隔开,"*"表示全部)-->    
    <!--<add key="ActionList" value="WMS采购单异常报警,网关支付方式异常报警,代销转财务记录异常数据报警,客户余额日志不符,客户余额为负,收款单重复,应付款重复,积分获取重复,订单金额拆分监控,订单InvoiceAmt监控,SAP 应付上传数据监控,SAP EIMS上传数据监控,在线支付拆单异常监控,邮局电汇拆单异常监控,系统发积分异常,SAP未响应数据监控,采购在途数量监控,EIMS已关闭IPP未作废单据监控,代销结算单SettleID为空监控,采购单批号商品异常监控,代销商品有财务库存异常监控,第三方同步异常订单,团购订单异常监控,已出库订单无发票记录异常监控"/>-->    
    <!--配置每月执行的报警业务 (ActionName以逗号隔开,"*"表示全部)-->
    <!--<add key="ActionList" value="客户余额报表,礼品卡月报"/>-->
    <!--配置每周执行的报警业务 (ActionName以逗号隔开,"*"表示全部)-->
    <add key="ActionList" value="ARWindow周报"/>
    <!--快钱通知 (ActionName以逗号隔开,"*"表示全部)-->
    <!--<add key="ActionList" value="快钱通知,锁定供应商列表"/>-->
    <add key="LogFileName" value="AutoSendMail.log"/>
    <add key="MailConfigPath" value="./Configuration.xml"/>
    
    <add key="CompanyCode" value="8601"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
