@using ECommerce.Entity.Order
@model List<SOLog>
<em class="arrow"></em>
@foreach (SOLog item in Model)
{
    string note = item.TrackingNumber == null ? "" : item.TrackingNumber;
    <p><span class="gray">@item.OptTime.ToString("yyyy-MM-dd HH:mm:ss")</span>  @item.Note.Replace("Shipping", "订单已出库, 快递单号：" + note) </p>    
}
