<div class="modBox mb15">
    <div class="cpt">
        <h2>在线申请售后步骤说明</h2>
    </div>
    <div class="inner">
        <div class="p25 pt10">
            <h4 class="fz12">欢迎进入全球购物售后服务在线申请系统</h4>
            <p>我们的售后服务申请系统可让全球购物客户更为简便地提交退货申请，所有在线请求将会很快得到回复。 在线申请分为三步。</p>
            <p>第一步：请选择您需要申请售后的商品所在的订单，点击确认；</p>
            <p>第二步：您可以选择该笔订单中您所需要进行售后的商品，填写数量以及申请类型，并填写简要的售后服务原因；</p>
            <p>第三步：提交您的申请。如果提交成功，系统会显示一个成功申请的页面，请记录申请单编号，方便日后查询该申请单的状态。一旦申请成功，该申请单就进入了全球购物的售后服务处理流程。</p>
            <h4 class="fz12">请注意以下规则:</h4>
            <p>对应同一张订单里面的同一款商品，如果之前已经申请了售后，那么只有在前一张申请单被处理之后，才能再次生成新的申请单；为了让全球购物更有效地处理您提交的请求，请务必保持退货商品的完整性，包括需退货商品，赠品，随机赠送附件（以产品包 装清单为准）等等。 在邮寄给我们时，请您将所有退货的物品都打到一个邮包中，并按照以下范例填写装箱单，并将此清单随同寄回的商品一并置于包裹中。</p>
            <h4 class="fz12">装箱单填写范例</h4>
            <p>客户订单编号 SO 12345678</p>
            <p>客户姓名 张三</p>
            <p>客户联系电话 139########</p>
            <p>客户联系地址</p>
            <h4 class="fz12">寄回商品装箱清单</h4>
            <p>莱娜可羊毛脂顺滑洗发水300ML， 莱娜可羊毛脂顺护发素5ML（赠品）</p>
            <h4 class="fz12">寄回商品问题描述</h4>
            <p>洗发水瓶子破损</p><br />
            <p>对于申请售后的贵重物品，易碎物品，在邮寄的过程中请考虑保价(该部分费用泰隆不承担)。返修件由客户按照全球购物指定的运输方式—邮局普通包裹—交至全球购物，费用(仅包含邮局资费,不包含包装费, 挂号费 ,保价费) 由全球购物负责。如果采用其他运输方式，则运费由客户自己负责。需要提供邮局发票，收据不能作为全球购物承担运费的凭证。</p>
        </div>
    </div>
</div>
