@using ECommerce.Entity.Shipping
@using ECommerce.SOPipeline
@model ECommerce.Facade.Shopping.CheckOutResult

<h2 class="mt30">收货人信息<a class="fz12 blue ml20" href="javascript:void(0)" onclick="CheckOut.saveShippingAddress()">[保存收货人信息]</a></h2>
<div class="mt30">
    <ul id="shippingAddressListPanel" class="myaddrlist">
        @Html.Partial("_RMAShippingAddressListPanel", Model)
    </ul>
    <div id="shippingAddressEditPanel" class="newaddr formsub formsubB mt5" style="display: none;">
        @Html.Partial("_RMAShippingAddressEditPanel", new ShippingContactInfo())
    </div>
</div>
