<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
		</sectionGroup>
		<section name="ServiceJobSection" type="IPP.ECommerceMgmt.AutoInnerOnlineList.Providers.ServiceJobSection,IPP.ECommerceMgmt.AutoInnerOnlineList" />
	</configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config" />
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<ServiceJobSection>
		<JobProviders>
			<add name="ProviderOnlinelist" type="IPP.ECommerceMgmt.AutoInnerOnlineList.Providers.ServiceJobProviderOnlinelist,IPP.ECommerceMgmt.AutoInnerOnlineList" />
		</JobProviders>
		<JobCollection>
			<add jobName="JobProviderOnlinelist" jobType="Repeter" runTime="1:00;00" provider="ProviderOnlineList" errorLog="Log\Onlinelist_Error.txt" infoLog="Log\Onlinelist_Info.txt" bizLog="Log\Onlinelist_Biz.txt" />
		</JobCollection>
	</ServiceJobSection>
	<oversea>	
    <!--<globalSettings filePath="D:\APP\IPP\Config\GlobalSettings.config"/>-->
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="ECommerceMgmt" />
		<dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config" />
	</oversea>
	<appSettings>
		<!--发送邮件开关-->
		<add key="SendMailFlag" value="True" />
		<!--发送邮件地址-->
		<add key="MailAddress" value=".nesc-sh.mis.cms" />
		<!--发送邮件CC地址-->
		<add key="CCMailAddress" value=".nesc-sh.mis.cms" />
		<add key="SCGlobalConfig" value="D:\APP\IPP\Config\GlobalSettings.config" />  
		<add key="ConsumerName" value="CN.ECommerceMgmt.UI.IPP01" />

		<add key="BizLogFile" value="Log\Biz.log" />
		<!--系统添加商品推荐管理item 的优先级-->
		<add key="OnlnelistItemPriority" value="99999" />
		<!--系统添加商品推荐管理首页展示区二级类-->
		<add key="OnlnelistHomeC2Sysnolist" value="557,549,550,535,711" />
    
    <!--add by kathy 20101117-->
    <add key="AppliancesStores" value="日用百货" />
    <add key="HundredShopPrice" value="110" />
    <add key="GiftC3SysNo" value="1109" />     <!--prd  1214;GQC 1109-->

    <add key="TestBrand" value="0" />    <!--1036-->

    <!--companycode-->
		<add key="CompanyCode" value="8601" />
		<!--删除系统添加数据的时间-->
		<add key="DeleteDataTime" value="7" />
		<!--languagecode-->
		<add key="LanguageCode" value="zh-CN" />
		<!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
		<add key="SendMailUserDisplayName" value="AuthCenterAdmin" />
		<add key="SendMailUserLoginName" value="AuthCenterAdmin" />
		<add key="SendMailCompanyCode" value="8601" />
		<add key="SendMailStoreCompanyCode" value="8601" />
		<add key="SendMailStoreSourceDirectoryKey" value="bitkoo" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>