<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
    <section name="ServiceJobSection" type="IPP.ContentMgmt.ProductImageMove.Providers.ServiceJobSection,IPP.ContentMgmt.ProductImageMove"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <ServiceJobSection>
    <JobProviders>
      <add name="ProviderOnlinelist" type="IPP.ContentMgmt.ProductImageMove.Providers.ServiceJobProviderProduct_Status,IPP.ContentMgmt.ProductImageMove"/>
    </JobProviders>
    <JobCollection>
      <add jobName="JobProviderOnlinelist" jobType="Repeter" runTime="1:00;00" provider="ProviderOnlineList" errorLog="Log\Product_Status_Error.txt" infoLog="Log\Product_Status_Info.txt" bizLog="Log\Product_Status_Biz.txt"/>
    </JobCollection>
  </ServiceJobSection>
  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <logSettings localRegionName="ECommerceMgmt"/>
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  <appSettings>

    <!--SellerPortal商品上传原始-->
    <add key="PhotoFolderPathOnServer" value="http://img.dchnu.com.qa/CImages/VendorPortal/P560/"/>
    <!--生成图片临时目录-->
    <add key="UploadFileTemporaryPath" value="D:\TemporaryPath\uploads\"/>
    <!--商品图片目录"|"分隔-->
    <add key="UploadFilePath" value="D:\NeweggPic\"/>
    <!--商品图片顶级目录-->
    <add key="UploadFilePathTitle" value="neg/"/>
    <!--生成水印-->
    <add key="IsWaterMark" value="true"/>
    <add key="WaterMarkPath" value="\Configuration\Watermark\watermark.png"/>
    
    <!--商品描述图片访问路径-->
    <add key="ProductDescLongImageUrl" value="http://img.dchnu.com.qa/"/>
    <!--商品描述中图片储存路径-->
    <add key="ImageServicePath" value="\\10.16.99.223\ImageServer\Upload\"/>
    <!--全局配置-->
    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>

    <!--ByProxy Setting-->
    <add key="ByProxy" value="N"/>
    <add key="ByProxyHost" value="10.16.42.141"/>
    <add key="ByProxyPort" value="8080"/>
    <add key="ByProxyUser" value="oz98"/>
    <add key="ByProxyPassword" value="Nesoft@0531"/>

    <add key="FriendlyDelay" value="100"/>
    <add key="DefaultDelay" value="500"/>

    <!--发送邮件开关.ne-cn.marketplace-->
    <add key="SendMailFlag" value="True"/>
    <add key="EmailTo" value="Baron.y.xu@newegg.com;Alan.x.luo@newegg.com;Nolan.Q.Chen@newegg.com"/>
    <add key="EmailCC" value="Baron.y.xu@newegg.com;Alan.x.luo@newegg.com;Nolan.Q.Chen@newegg.com"/>
    <add key="ProcFail_EmailTo" value="Baron.y.xu@newegg.com;Alan.x.luo@newegg.com;Nolan.Q.Chen@newegg.com"/>

    <add key="BizLogFile" value="Log\Biz.log"/>
    <add key="FilePath" value="D:/SellerPicTemp"/>

    <!--companycode-->
    <add key="CompanyCode" value="8601"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="InUser" value="IPPAdmin"/>

    <!--删除系统添加数据的时间-->
    <add key="DeleteDataTime" value="7"/>
    <!--languagecode-->
    <add key="LanguageCode" value="zh-CN"/>
    <!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
    <add key="SendMailUserDisplayName" value="AuthCenterAdmin"/>
    <add key="SendMailUserLoginName" value="AuthCenterAdmin"/>
    <add key="SendMailCompanyCode" value="1014"/>
    <add key="SendMailStoreCompanyCode" value="1014"/>
    <add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>


    <add key="IMRestFulBaseUrl" value="http://ecc.dchyp.com.qa:8080/IMService/"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
