body{
	background-color:#f5f5f5;
}
.mainheader .rightbtn{
    font-size:14px;
	min-width:63px;
	width:auto;
	padding-right:12px;
	text-align:right;
}
.mainheader .rightbtn a{
    color:#fff;
}
.tabB{
	padding:12px 10px;
}
.tabB .flex_item{
	text-align:center;
	color:#666;
	padding:0 5px;
	font-size:14px;
	line-height:28px;
	border:1px solid #e53653;
	background-color:transparent;
	width:1%;
}
.tabB .flex_item:first-child{
	border-radius:6px 0px 0px 6px;	
}
.tabB .flex_item:last-child{
	border-radius:0px 6px 6px 0px;	
}
.tabB .current{
	color:#fff;
	background-color:#e53653;
}
.account{}
/* Order List Page */
.orderList{
	padding-bottom:15px;
}
.orderList ~ .swipeUpLoading{
	margin-top:-10px;
	margin-bottom:20px;
}
.orderList ~ .flex_box{
	margin-top:-10px;
}
.orderBox{
	margin-bottom:10px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	background-color:#fff;
}
.orderBox .odTit{
	position:relative;
	line-height:40px;
	padding:0 12px 0 18px;
	border-bottom:1px solid #e2e2e2;
	font-weight:700;
}
.orderBox .od_label{}
.orderBox .odTit .od_label,
.orderBox .odTit .od_item{
	color:#333;
}
.orderBox .od_state{
	position:absolute;
	top:0;
	right:12px;
}
.orderBox .od_state em{
	font-weight:700;
}
.orderBox .od_state .red{
	color:#f7443b;
}
.orderBox .od_state .black{
	color:#333;
}
.orderBox .od_state .gray{
	color:#ccc;
}
.orderBox .prolist{
	position:relative;
	margin-left:18px;
	padding:11px 0 0 0;
	border-bottom:1px solid #dbdbdb;
}
.prolist .arrow_r,
.proBox .arrow_r,
.shipType .arrow_r{
	position:absolute;
	display:block;
	right:0;
	top:0;
	bottom:0;
	left:0;
	background:transparent;
}
.prolist .arrow_r:after,
.proBox .arrow_r:after,
.shipType .arrow_r:after{
	content:"";
	display:block;
	position:absolute;
	right:27px;
	overflow:hidden;
	top:50%;
	margin:-4px;
	width:8px;
	height:8px;
	border-top:2px solid #ccc;
	border-right:2px solid #bebebe;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.prolist .arrow_r:active:after,
.proBox .arrow_r:active:after,
.shipType .arrow_r:active:after{
	border-color:#ED1C24;
}
.prolist ul{
	margin-right:40px;
}
.prolist li{
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
	margin-bottom:10px;
}
.prolist .img img{
	display:block;
	width:48px;
	height:48px;
	border:1px solid #dcdcdc;
}
.prolist .img:active img{
	border-color:#e53653;	
}
.orderBox .odInfo{
	padding:10px 12px 10px 18px;
	font-weight:600;
}
.orderBox .odInfo .od_label{
	color:#434343;
}
.orderBox .odInfo .od_price{
	color:#E53653;
}
.orderBox .odInfo .od_date{
	font-size:13px;
	color:#929292;
}
.orderBox .odInfo .btn_nowpay{
	width:70px;
	display:inline-block;
	text-align:center;
	color:#fff;
	height:28px;
	padding:0 15px;
	border:1px solid #E32141;
	background:#E32141;
	border-radius:4px;
	line-height:28px;
	font-size:16px;
	margin-top:10px;
}
.orderBox .odInfo .btn_nowpay:active{
	border:1px solid #ea5c73;
	background:#ea5c73;
}

/* Order Detail */
.od_detail_tit{
	font-size:15px;
	padding:10px;	
}
.od_detail_tit label{
	float:left;
	color:#666;
	font-weight:700;
}
.od_detail_tit .od_state{
	float:right;
	color:#adadad;
	font-weight:600;
}
.od_detail_info{
	font-size:14px;
	color:#aaa;
	border-top:1px solid #ddd;
	background:#fff;
}
.od_detail_info li{
	padding:10px;
	border-bottom:1px solid #ddd;
}
.od_detail_info .od_label{
	color:#434343;
	font-weight:600;
}
.od_detail_info .addrinfo .od_label ~ label{
	display:inline-block;
	margin-right:10px;	
}
.od_detail_info .addrinfo .od_label ~ label:last-of-type{
	margin-right:0;
}
.od_detail_info .shipType{
	position:relative;
}
.od_detail_info .shipType .od_item{
	display:inline-block;
	text-overflow:ellipsis;
	overflow:hidden;
	margin-right:85px;
}
.od_detail_info .shipType .shipFee{
	display:block;	
}
.od_detail_info .shipType .func_track{
	color:#e53653;
	text-align:right;
	padding-right:36px;
	padding-top:3px;
}
.od_detail_info .shipType .func_track:after{
	margin-top:-5px;
}
.od_detail_info .shipType .func_track:before{
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.proSection{
	margin-top:10px;
}
.proSection .proBox{
	min-height:50px;
	position:relative;
	padding:10px 30px 10px 70px;
	background-color:#fff;
}
.proSection .proBox:after{
	content:"";
	display:block;
	position:absolute;
	left:70px;
	bottom:0;
	right:0;
	height:1px;
	background-color:#ebebeb;	
}
.proSection .proBox:first-of-type{
	border-top:1px solid #ddd;
}
.proSection .proBox:last-of-type{
	border-bottom:1px solid #ddd;
}
.proSection .proBox:last-of-type:after{
	background-color:transparent;	
}
.proBox .img{
	position:absolute;
	width:50px;
	margin:0 0 0 -60px;
	background-color:#fff;
}
.proBox .img img{
	display:block;
	width:48px;
	height:48px;
	border:1px solid #dcdcdc;
}
.proBox .img:active img{
	border-color:#e53653;	
}
.proBox .tit{
	height:42px;
	overflow:hidden;
	color:#434343;
}
.proBox .tit a{
	color:#434343;
}
.proBox .tit a:active{
	color:#E53653;
	-webkit-tap-highlight-color:rgba(0,0,0,.2);
}
.proBox .attr,
.proBox .singlePriceline{
	font-size:12px;
	color:#898989;
	margin-top:2px;
}
.proBox .attr{
	display:inline-block;
}
.proBox .attr label,
.proBox .priceCell{
	margin-right:14px;
	display:inline-block;
}
.proBox .priceline{
	color:#E53653;
	font-size:14px;
	margin:7px 0 0 0;
}
.proBox .priceline em{
	margin-right:2px;
}
.proBox .priceline .volumeNum{
	margin-left:14px;
}
.prom{
	position:relative;
	padding:10px;
	background:#fff;
	font-size:14px;
	color:#999;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;
}
.prom:after{
	content:"";
	display:block;
	position:absolute;
	left:70px;
	right:0;
	bottom:0;
	height:1px;
	background-color:#EBEBEB;
}
.prom em{
	color:#1C8417;
	margin-right:2px;
}
.prom .tit{
	display:block;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding-right:15px;
}
.prom .attr{}
.prom .btn_del{
	position:relative;
	bottom:0;
	left:1px;
	margin-left:10px;
}
.prom label{
	display:inline-block;
	margin-left:10px;
}
.proSection .prom:last-child{
	border-bottom:1px solid #ddd;
}
.proSection .prom:last-child:after{
	background-color:transparent;
}
.remarkinfo{
	margin-top:10px;
	padding:10px 0 10px 10px;
	background:#fff;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.remarkinfo .od_label{
	display:block;
	border-bottom:1px solid #cfcfcf;
	color:#333;
	font-size:14px;
	font-weight:600;
	padding-bottom:10px;
}
.remarkinfo .inarea {
	border-style: none;
	color: #929292;
	resize: none;
	width: 100%;
	margin-top:10px;
	padding-right:10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.order_summary{
	padding:10px;
	border-top:1px solid #ddd;
	margin-top:10px;
	background-color:#fff;
}
.order_summary ul{
	color:#989898;
	font-size:12px;
	padding-right:10px;
	min-width:50%;
}
.order_summary ul li{
	padding:2px 0;
	font-weight:600;
}
.order_summary .togather{
	position:relative;
	font-size:14px;
	font-weight:600;
	text-align:right;
}
.order_summary .togatherInner{
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	text-align:right;
	padding-top:30px;
}
.order_summary .togather .mainPrice{
	position:absolute;
	right:0;
	top:0;
	white-space:nowrap;
}
.order_summary .togather .total_num{
	display:inline-block;
	font-size:16px;
	color:#E53653;
}
.order_summary .btn_cancel_order{
	display:block;
	background-color:#E32141;
	line-height:36px;
	font-size:18px;
	color:#fff;
	border:1px solid #E32141;
	font-weight:700;
	text-align:center;
	border-radius:6px;
}
.order_summary .btn_cancel_order:active{
	background-color:#ff3e5e;
	border-color:#ff3e5e;
}
/* Order Track */
.orderTrack{
	padding-bottom:20px;
}
.orderTrack .view{
	position:relative;
	width:75%;
	padding:50px 0 19px;
	margin:0 auto;
}
.orderTrack .view:after{
	content:"";
	display:block;
	height:12px;
	background:url(../Nest/img/trackbar.png) 0 0 repeat-x;
	background-size:9px 13px;
}
.orderTrack .view li{
	position:relative;
	float:left;
	height:12px;
	width:33%;
}
.orderTrack .view li:last-of-type{
	width:0;
}
.orderTrack .view li.yet{
	background:url(../Nest/img/trackbar_yet.png) 0 0 repeat-x;
	background-size:25px 13px;
}
.orderTrack .view li:before{
	content:"";
	display:inline-block;
	position:absolute;
	top:-4px;
	left:-10px;
	height:22px;
	width:22px;
	background:url(../Nest/img/track_state.png) 0 0 no-repeat;
	background-size:22px 22px;	
}
.orderTrack .view [class*=item]{
	position:absolute;
	top:-29px;
	left:-29px;
	white-space:nowrap;
	background:#b3b3b3;
	font-size:12px;
	color:#fff;
	width:58px;
	display:inline-block;
	height:19px;
	line-height:19px;
	text-align:center;
	border-radius:2px;
}
.orderTrack .view [class*=item]:after{
	content:"";
	display:inline-block;
	height:0;
	width:0;
	position:absolute;
	border:3px solid transparent;
	border-top-color:#b3b3b3;
	top:100%;
	left:50%;
	margin-left:-3px;
	transform-origin:top center;
	transform:scaleY(1.5);
	-webkit-transform-origin:top center;
	-webkit-transform:scaleY(1.5);
	-moz-transform-origin:top center;
	-moz-transform:scaleY(1.5);
}
.orderTrack .view .yet [class*=item]{
	background:#fb827c;
}
.orderTrack .view .yet [class*=item]:after{
	border-top-color:#fb827c;
}
.orderTrack .view .current [class*=item]{
	background:#fa4e46;
}
.orderTrack .view .current [class*=item]:after{
	border-top-color:#fa4e46;
}
.orderTrack .prititle,
.orderTrack .subtitle{
	background:#fff;
	border-top:1px solid #dfdfdf;
	color:#434343;
	font-weight:700;
	padding:10px 10px 10px 15px;
}
.orderTrack .prititle label{
	margin-right:20px;
}
.orderTrack .prititle time{
	display:inline-block;
}
.orderTrack .info{
	background:#fff;
	border-bottom:1px solid #dfdfdf;
}
.orderTrack .info p{
	background:#fff;
	border-top:1px solid #dfdfdf;
	padding:8px 10px 8px 15px;
	color:#999;
	font-weight:600;
}
.orderTrack .info time{
	display:block;
}
.orderTrack .info .current{
	color:#FA4E46;
}
/* My Favorite */
.favoritelist{
	margin-top:18px;
	padding-bottom:80px
}
.favoritelist .proBox{
	padding-left:80px;
	min-height:62px;
	margin-bottom:9px;
	border-top:1px solid #ddd;
}
.favoritelist .proBox:after{
	left:0;
	background-color:#ddd;
}
.favoritelist .proBox .img{
	width:62px;
	height:62px;
	margin-left:-70px;
}
.favoritelist .proBox .img img{
	width:60px;
	height:60px;
}
.favoritelist .proBox .tit{
	height:21px;
}
.favoritelist .priceline{
	margin-top:18px;
}
.favoritelist .btn_addCart{
	display:inline-block;
	font-size:12px;
	font-weight:600;
	color:#fff;
	border:1px solid #e53653;
	background:#e53653;
	border-radius:4px;
	line-height:25px;
	text-align:center;
	padding:0 10px;
}
.favoritelist .btn_addCart:active{
	background-color:#ff4e6b;
	border-color:#ff4e6b;
}
.btn_del{
	display:block;
	height:16px;
	width:16px;
	position:relative;
}
.btn_del:active{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}
.btn_del i{
	display:block;
	text-indent:-200px;
	overflow:hidden;
}
.btn_del:before,
.btn_del:after{
	content:"";
	position:absolute;
	display:block;
}
.btn_del:before{
	height:44px;
	width:32px;
	left:-7px;
	top:-14px;
}
.btn_del:after{
	left:0;
	top:0;
	width:16px;
	height:16px;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADHSURBVFhH7ZZRCoAgEES7Wb9dPVBPEXiMaov6ydg3RQSl4E+OO8OM5jYNHCmlNsbYz3N0Zm9YWJbDZtIMyDdxmVeGyI3cg1OcV+ewTgtT3E4gZOtlr66vZ0XMViXx8NkELCA5k5sbdt7XBYQQBuF6eZZK68ZtEXQvnQP7r3SXr5t6BHDUGCgqwHUx8HcCSs7Qb2YWdvYMSMmU/cUUlQJUVHWgOlAdqA58wwHx8bveZ+BHQ1SE62LgZwU82SUvXbA3HuySi13wBEH22v2mp7czAAAAAElFTkSuQmCC") 0 0 no-repeat;
	background-size:100%;
}
.proBox .action{
	position:absolute;
	padding-right:26px;
	right:10px;
	bottom:10px;
	min-height:21px;
}
.proBox .action .btn_del{
	position:absolute;	
	top:4px;
	right:0;	
}
.minicart{
	display:block;
	position:fixed;
	bottom:18px;
	right:27px;
	width:56px;
	height:56px;
}
.minicart:before{
	content:"";
	display:inline-block;
	position:absolute;
	width:31px;
	height:31px;
	top:12px;
	left:11px;
	background:url(../Nest/img/icon_cart_white.png) 0 0 no-repeat;
	background-size:31px 31px;
	z-index:1;
}
.minicart:after{
	content:"";
	display:inline-block;
	background-color:rgba(0,0,0,.5);
	width:56px;
	height:56px;
	position:absolute;
	z-index:0;
	border-radius:28px;
}
.minicart:active:after{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	background-color:rgba(0,0,0,.4);
}
.minicart .num{
	position:absolute;
	display:inline-block;
	line-height:18px;
	min-width:18px;
	font-size:12px;
	font-family:Arial;
	color:#fff;
	background:#e53653;
	border:1px solid #e53653;
	top:5px;
	right:7px;
	border-radius:10px;
	text-align:center;
	z-index:2;
}
.minicart .num:empty{
	display:none;
}
/* Couponlist */
.couponlist{
	margin:8px 10px;
	padding-bottom:20px;
}
.couponlist ~ .swipeUpLoading{
	margin-top:-10px;
	margin-bottom:20px;
}
.couponlist ~ .flex_box{
	margin-top:-10px;
}
.couponlist dd{
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;	
	box-shadow:0 1px 1px rgba(0,0,0,.25);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25);
	margin-bottom:8px;
	border-radius:2px;
}
.couponlist .paper{
	/*width:193px;*/
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding:10px 12px 10px 15px;
	background-color:#fba828;
	color:#fff;
}
.couponlist dd:nth-of-type(5n+1) .paper{
	background-color:#fba828;
}
.couponlist dd:nth-of-type(5n+2) .paper{
	background-color:#4f9fdc;
}
.couponlist dd:nth-of-type(5n+3) .paper{
	background-color:#f86669;
}
.couponlist dd:nth-of-type(5n+4) .paper{
	background-color:#7ec449;
}
.couponlist dd:nth-of-type(5n+5) .paper{
	background-color:#35c0d3;
}
@media only screen and (min-width:640px){
	.couponlist dd{
		float:left;
		width:49%;
	}
	.couponlist dd:nth-of-type(2n+2){
		float:right;		
	}
}
.couponlist .paper h2{
	font-size:20px;
	height:50px;
	font-weight:700;
	line-height:25px;
}
.couponlist .paper em{
	font-size:13px;
	font-weight:700;
	color:#fff;
	display:inline-block;
	margin-top:11px;
}
.couponlist .info{
	position:relative;
	width:67px;
	padding:9px;
	background:#fff;
}
@media only screen and (min-width:480px){
	.couponlist .info{
		width:20%;
	}
}
.couponlist .info:before{
	content:"";
	position:absolute;
	display:block;
	width:4px;
	left:-4px;
	top:0;
	height:100%;
	background:url(../Nest/img/coupon_decor.png) 0 0 repeat-y;
	background-size:4px 6px;
}
.couponlist .info label{
	display:block;
}
.couponlist .info .state{
	font-size:14px;
	color:#333;
	font-weight:700;
}
.couponlist .info .expire_date{
	font-size:13px;
	color:#ccc;
	margin-top:2px;
}
.couponlist .info .expire_date time{
	display:inline-block;
	font-size:12px;
}
.couponlist .info .use_state{
	font-size:12px;
	color:#f7443b;
	font-weight:600;
	margin-top:2px;
}
.noItem .icon_noOrder{
	background-position:0 0;
}
.noItem .icon_noFavor{
	background-position:-112px 0;
}
.noItem .icon_noCoupon{
	background-position:-222px 0;
}