body{
	background-color:#f5f5f5;
}
#main.overflowX{
	overflow-x:hidden;
}
.filterSelect{
	width:0;
	padding-left:44px;
	background:url(../Nest/img/btn_filter.png) 5px 7px no-repeat;
	background-size:30px 30px;
}
.tabA{
	height:40px;
	border-bottom:1px solid #c2c2c2;
	box-shadow:0 0 1px rgba(175,175,175,1);
	background-color:#fff;
	position:relative;
	z-index:2;
}
.tabA .flex_item{
	text-align:center;
	color:#bbb;
	padding:0 5px;
	white-space:nowrap;
	font-size:14px;
	line-height:40px;
	width:1%;
}
.tabA .flex_item:active{
	color:#E32141;
}
.tabA .current{
	position:relative;
	height:39px;
	color:#e32141;
	border-bottom:2px solid #e32141;
	margin-bottom:-2px;
	overflow:hidden;
}
.tabA .current:after{
	content:'';
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-3px;
	display:inline-block;
	border-width:4px;
	border-color:transparent transparent #e32141;
	border-style:solid;
}
.filter .itemUp span,
.filter .itemDown span{
	position:relative;
	padding-right:12px;
}
.filter .itemUp span:before,
.filter .itemDown span:before{
	content:"";
	display:inline-block;
	position:absolute;
	right:0;
	top:3px;
	width:6px;
	height:6px;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.filter .itemDown span:before{
	top:5px;
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
	transform:rotate(-135deg);
}
.filter .itemUp span:after,
.filter .itemDown span:after{
	content:"";
	display:inline-block;
	position:absolute;
	right:3px;
	top:3px;
	height:11px;
	border-left:1px solid #ccc;	
}
.filter .itemDown span:after{
	top:1px;
}
.filter .itemUp.current span:before,
.filter .itemUp.current span:after,
.filter .itemDown.current span:before,
.filter .itemDown.current span:after{
	border-color:#f7443b;
}
.checkbox{}
.checkbox .ckbox{
	-webkit-opacity:0;
	-moz-opacity:0;
	opacity:0;	
	width:19px;
	height:16px;	
}
.checkbox .ckbox + label{
	position:relative;
}
.checkbox .ckbox + label:before{
	display:inline-block;
	content:'';
	position:absolute;
	width:16px;
	height:16px;
	left:-21px;
	top:0;	
	background-color:#e5e7ea;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow:inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.2);
}
.checkbox .ckbox + label:after{
	display:inline-block;
	content:'';
	position:absolute;
	width:16px;
	height:16px;
	left:-18px;
	top:3px;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEWSURBVDhPY2CgEPz//98YiCUoNIaB4d+/f4uABv0H0s+BFD/ZBgINiAIZBANAvjRZhoE0AvFbJLMOkGUQSBPQoO1ILvoDZBuQZRjQoGQ0700jyyCgIXJAwz4juQrEJi8mgQbtRXYVkF2B4SqgoA1Q4UwgzsHlZJAcmvduA/lsKOqBioTQnN6LbiBQXgVZDTRthWBYDFSki+Z0UCJshCkEyjED+YfRXHUYZ6CjK4baXApNBkVoBuFPCtBYeoXFhe1Ai36iGTaTYFIAanIFYpCtOAEo3IjONkCF1fgMw5oU8DkTaOAWbAYCxTGTAiH/Ag3iB+ID6IEONMybkF6s8qDECNQ8H2rgB1B+JMsgZE1AQxQxUjkeUwH7YPe8QG/zUgAAAABJRU5ErkJggg==");
	background-size:10px;
	background-repeat:no-repeat;
}
.checkbox .ckbox:checked + label{
	color:#2b8bde;
}
.current .checkbox .ckbox + label:before,
.checkbox .ckbox:checked + label:before{
	background-color:#b2dbff;	
}
.current .ckbox + label:after,
.checkbox .ckbox:checked + label:after{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFMSURBVDhPY2CgEOj23DHW6rovQaExDAxaXXcXaXff+6/dffe5ccddfrIN1Oq6EwUxCIL1ex9Jk2UYSKN21923MIO0uu8eIMsgkCagt7bDDeq6+wcYZgZkGQY0KBnZe1rd96aRZZBWx1057a57n+GGAdlkxyTQoL0oruq6W4HhKq2euzbAAJ0JDMgcXE4GySEbBDT4tlb9FTYU9Vq9j4RQnN59rxfdQK3e2ypoav4DDQ/BsFi3944uio2gdNN1txGmMHTVf2agQYfRXHUYZ6BjKIYkxFKQBmAqL0ILJ/xJARRLwCh+heHC7nvtQLGfqK66O5NgUtDpuesKdMUfLAbCswwo3IjONsCwqsZnGNAyzKSAz5laXfe2YDUQW1Ig5F9QUQLKuOiBrtN9x5uQXqzyoMQIzIPzQQYCI+YDKD+SZRCyJr3uB4oYqRyPqQASITnVci2ekAAAAABJRU5ErkJggg==");
}
.filter :last-child.current{
	/*border-bottom:none;
	margin-bottom:0;*/
}

.icon_label_gray,
.icon_noTax{
	display:inline-block;
	line-height:18px;
	border-radius:3px;
	border:1px solid #f54a17;
	background-color:#f54a17;
	color:#fff;
	font-size:12px;
	padding:0 10px;
}
.icon_label_gray{
	background-color:#d3d3d3;
	border-color:#d3d3d3;
}

.catepro{
	padding-top:0;
	padding-bottom:20px;
}
.catepro li{
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;
	position:relative;
	min-height:84px;
	padding:12px 0 9px;
	border-bottom:1px solid #d4d4d4;
}
.catepro li:active{
	background-color:#fafafa;
}
.catepro .img{	
	width:80px;
	padding:1px 0 0 10px;
	text-align:center;
	position:relative;
}
.catepro .img img{
	width:78px;
	height:78px;
	margin:0 auto;
	display:block;
	border-style:solid;
	border-color:#fdfdfd #ebebeb #c2c2c2;
	border-width:1px;
	background-color:#fff;
	border-radius:2px;
}
.catepro .img img:active{
	border-color:#2b8bde;
}
.catepro .iconProm{
	position:absolute;
	right:1px;
	top:1px;
}
.catepro .iconProm img{
	width:40px;
	height:auto;
	border:0 none;
	background-color:transparent;
}
.catepro .iconProm img:active{
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
}
.catepro .intro{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding:0 9px 0 12px;
}
.catepro .tit{
	height:21px;
}
.catepro .tit a{
	color:#434343;
	font-size:14px;
	-webkit-tap-highlight-color:rgba(0,0,0,.2);
}
.catepro .tit a:before{
	content:"";
	display:block;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}
.catepro .tit a:active{
	color:#E53653;	
}
.catepro .ico_que{
	display:inline-block;
	color:#fff;
	border-radius:2px;
	padding:0 3px;
	margin-right:2px;
	background: rgb(154,154,154);
	background: -moz-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(132,132,132,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,154,154,1)), color-stop(100%,rgba(132,132,132,1)));
	background: -webkit-linear-gradient(top, rgba(154,154,154,1) 0%,rgba(132,132,132,1) 100%);
	background: -o-linear-gradient(top, rgba(154,154,154,1) 0%,rgba(132,132,132,1) 100%);
	background: -ms-linear-gradient(top, rgba(154,154,154,1) 0%,rgba(132,132,132,1) 100%);
	background: linear-gradient(to bottom, rgba(154,154,154,1) 0%,rgba(132,132,132,1) 100%);
}
.catepro .promTxt{
	height:18px;
	font-size:12px;
	color:#898989;
	color:#e53653;
	margin-top:2px;
}
.catepro .priceline{
	color:#E53653;
	font-size:14px;
	margin:-2px 0;
}
.catepro .priceline .price{
	font-size:16px;
	font-weight:700;
}
.catepro .priceline em{
	font-size:13px;
}
.catepro .priceline .icon_noTax{
	position:relative;
	top:-1px;
}
.catepro .priceCell{
	display:inline-block;
}
.catepro .singlePriceline{
	margin-top:4px;
	color:#666;
	font-size:12px;
}
.catepro .singlePriceline .price{
	margin-right:15px;
}
.noItem .icon_noResult{
	background-position:-112px -103px;
}