body{
	background-color:#f5f5f5;
}
#main.overflowX{
	overflow-x: hidden;
}
.mainheader .rightbtn{
    font-size:14px;
	min-width:63px;
	width:auto;
	padding-right:12px;
	text-align:right;
}
.mainheader .rightbtn a{
    color:#fff;
}
/* Shopping Cart */
.flagship{
	padding:0 10px 5px;
}
.flagship strong{
	font-size:14px;
	color:#333;
	font-weight:700;
}
.flagship i{
	margin-left:5px;
	color:rgba(227,33,65,.9);
	font-size:12px;
	font-weight:600;
    display:none;
}
.flagship .subSum{
	display:inline-block;
	float:right;
	color:#E53653;
	font-size:15px;
	font-weight:700;
}
.flagship .subSum:first-letter{
	font-size:.85em;
	font-weight:normal;
}
.proSection{
	margin-top:10px;
}
.proBox,
.article{
	min-height:50px;
	margin-top:10px;
	position:relative;
	padding:10px 9px 10px 70px;
	background-color:#fff;
	border-bottom:1px solid #dcdcdc;
}
.proBox{
	margin-top:0;
}
.proSection .proBox{
	border-bottom:none;
}
.proSection .proBox:after{
	content:"";
	display:block;
	position:absolute;
	left:70px;
	bottom:0;
	right:0;
	height:1px;
	background-color:#ebebeb;	
}
.proSection .proBox:first-of-type{
	border-top:1px solid #ddd;
}
.proSection .proBox:last-of-type{
	border-bottom:1px solid #ddd;
}
.proSection .proBox:last-of-type:after{
	background-color:transparent;	
}
.proBox .img{
	position:absolute;
	width:50px;
	margin:0 0 0 -60px;
	background-color:#fff;
}
.proBox .img img{
	display:block;
	width:48px;
	height:48px;
	border:1px solid #dcdcdc;
}
.proBox .img:active img{
	border-color:#e53653;	
}
.proBox .tit{
	height:21px;
	overflow:hidden;
	color:#434343;
}
.proBox .tit a{
	color:#434343;
}
.proBox .tit a:active{
	color:#E53653;
	-webkit-tap-highlight-color:rgba(0,0,0,.2);
}
.proBox .attr,
.proBox .singlePriceline{
	font-size:12px;
	color:#898989;
	margin-top:2px;
}
.proBox .attr label,
.proBox .priceCell{
	margin-right:14px;
}
.proBox .priceline{
	color:#E53653;
	font-size:14px;
	margin:7px 0 0 0;
}
.proBox .priceline em{
	margin-right:2px;
}
.proBox .priceline .volumeNum{
	margin-left:14px;
}
.proBox .action{
	position:absolute;
	padding-right:50px;
	right:9px;
	bottom:10px;
	min-height:21px;
}
.proBox .action .btn_del{
	position:absolute;	
	top:4px;
	right:0;	
}
.proBox .action .btn_favor{
	position:absolute;	
	top:4px;
	right:25px;	
}
.proBox .volumeNum{
	color:#898989;
	font-size:12px;
}
.proBindAction{
	padding:10px;
	background:#fff;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
	margin-top:-1px;
	text-align:right;
}
.proBindAction .volumeSet{
	float:right;
	margin-left:25px;
}
.proBindAction .bindPrice{
	font-size:14px;
	font-weight:600;
	color:#E53653;	
}
.proBindAction .bindPrice .price{
	display:inline-block;
}
.proBindAction .bindPrice .price:first-letter{
	font-weight:normal;
	margin-right:2px;
}
.volumeSet{
	position:relative;
	display:inline-block;
}
.volumeSet .oper{
	display:inline-block;
	width:18px;
	height:18px;
	border:1px solid #d9b8b7;
	background-color:#fff;
	border-radius:3px;
	overflow:hidden;
	text-indent:-50px;
	text-align:left;
	position:relative;
	z-index:2;
	vertical-align:middle;
	background: #f6e2e2;
	background: -moz-linear-gradient(top, #f6e2e2 0%, #e8cfce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e2e2), color-stop(100%,#e8cfce));
	background: -webkit-linear-gradient(top, #f6e2e2 0%,#e8cfce 100%);
	background: -o-linear-gradient(top, #f6e2e2 0%,#e8cfce 100%);
	background: -ms-linear-gradient(top, #f6e2e2 0%,#e8cfce 100%);
	background: linear-gradient(to bottom, #f6e2e2 0%,#e8cfce 100%);
}
.volumeSet .oper:active{	
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	transform:scale(1.5);
}
.volumeSet .oper:before{
	position:absolute;
	content:"";
	top:8px;
	left:5px;
	display:inline-block;
	height:2px;
	width:8px;
	background-color:#955654;
	overflow:hidden;
	z-index:1;	
}
.volumeSet .oper_plus:after{
	position:absolute;
	content:"";
	top:5px;
	left:8px;
	display:inline-block;
	width:2px;
	height:8px;
	background-color:#955654;
	overflow:hidden;
	z-index:1;	
}
.volumeSet .input_wrap{
	display:inline-block;
	height:18px;	
	border-radius:3px;
	padding:0 1px;
	margin:0 5px;
	vertical-align:middle;
	background: #fcf4f4;
	border:1px solid #d9b8b7;
}
.volumeSet .intxt{
	float:left;
	min-width:2em;
	max-width:3em;
	text-align:center;
	background:none;
	color:#666;
	font-size:14px;
	line-height:18px;
}
.volumeSet .intxt::-webkit-input-placeholder{
	color:#666;
}
.volumeSet .unit{
	position:relative;
	top:-2px;
	color:#666;
	font-size:12px;
}
.volumeSet .unit:empty{
	display:none;
}
.volumeSet .intxt:focus,
.volumeSet .intxt:focus + .unit{
	color:#333;
}
.volTip{
	position:absolute;
	display:inline-block;
	bottom:100%;
	right:50%;
	font-size:12px;
	color:#ED1C24;
}
.volTip i{
	position:relative;
	display:inline-block;
	right:-50%;
	padding:3px;	
	border:1px solid #ED1C24;
	background:#fff;
	white-space:nowrap;
	border-radius:3px;
}
.volTip i:after{
	position:absolute;
	content:"";
	bottom:-3px;
	left:50%;
	margin-left:-3px;
	display:inline-block;
	border:1px solid #ED1C24;
	border-top-color:transparent;
	border-left-color:transparent;
	background:#fff;
	height:4px;
	width:4px;
	overflow:hidden;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.btn_del,
.btn_favor{
	display:block;
	height:16px;
	width:16px;
	position:relative;
}
.btn_del:active,
.btn_favor:active{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}
.btn_del i,
.btn_favor i{
	display:block;
	text-indent:-200px;
	overflow:hidden;
}
.btn_del:before,
.btn_del:after,
.btn_favor:before,
.btn_favor:after{
	content:"";
	position:absolute;
	display:block;
}
.btn_del:before,
.btn_favor:before{
	height:44px;
	width:32px;
	left:-7px;
	top:-14px;
}
.btn_del:after{
	left:0;
	top:0;
	width:16px;
	height:16px;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADHSURBVFhH7ZZRCoAgEES7Wb9dPVBPEXiMaov6ydg3RQSl4E+OO8OM5jYNHCmlNsbYz3N0Zm9YWJbDZtIMyDdxmVeGyI3cg1OcV+ewTgtT3E4gZOtlr66vZ0XMViXx8NkELCA5k5sbdt7XBYQQBuF6eZZK68ZtEXQvnQP7r3SXr5t6BHDUGCgqwHUx8HcCSs7Qb2YWdvYMSMmU/cUUlQJUVHWgOlAdqA58wwHx8bveZ+BHQ1SE62LgZwU82SUvXbA3HuySi13wBEH22v2mp7czAAAAAElFTkSuQmCC") 0 0 no-repeat;
	background-size:100%;
}
.btn_favor:after{
	left:0;
	top:0;
	width:18px;
	height:16px;
	background:url(../Nest/img/icon_favor.png) 0 0 no-repeat;
	background-size:49px 16px;
}
.btn_favored:after{
	background-position:-31px 0;	
}
.proBox .ico_spec{
	display:inline-block;
	color:#fff;
	border-radius:2px;
	padding:0 3px;
	font-size:13px;
	margin-right:2px;
	background: rgb(154,154,154);
	background: -moz-linear-gradient(top, rgba(99,175,30,1) 0%, rgba(99,175,30,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,175,30,1)), color-stop(100%,rgba(99,175,30,1)));
	background: -webkit-linear-gradient(top, rgba(99,175,30,1) 0%,rgba(99,175,30,1) 100%);
	background: -o-linear-gradient(top, rgba(99,175,30,1) 0%,rgba(99,175,30,1) 100%);
	background: -ms-linear-gradient(top, rgba(99,175,30,1) 0%,rgba(99,175,30,1) 100%);
	background: linear-gradient(to bottom, rgba(99,175,30,1) 0%,rgba(99,175,30,1) 100%);
}
.prom{
	position:relative;
	padding:10px;
	background:#fff;
	font-size:13px;
	color:#999;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;
}
.prom:after{
	content:"";
	display:block;
	position:absolute;
	left:70px;
	right:0;
	bottom:0;
	height:1px;
	background-color:#EBEBEB;
}
.prom em{
	color:#1C8417;
	margin-right:2px;
}
.prom .tit{
	display:block;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding-right:15px;
}
.prom .attr{}
.prom .btn_del{
	position:relative;
	bottom:0;
	left:1px;
	margin-left:10px;
}
.prom label{
	display:inline-block;
	margin-left:10px;
}
.proSection .prom:last-child{
	border-bottom:1px solid #ddd;
}
.proSection .prom:last-child:after{
	background-color:transparent;
}
/*.present{
	position:relative;
	height:51px;
	margin-top:10px;
	background-color:#fff;
	border-bottom:1px solid #dadada;
	overflow:hidden;
}
.present h3{
	padding-left:15px;
	width:85px;
	color:#333;
	line-height:51px;
}
.present li{
	float:right;
	padding-top:8px;
	width:45px;
}
.present li img{
	display:block;
	margin:0 auto;
	width:34px;
	height:34px;
	border:1px solid #dbdbdb;
	border-radius:1px;
}
.present .listwrap{
	margin-right:30px;
}
.present .listwrap:after{
	content:"";
	display:block;
	position:absolute;
	right:9px;
	overflow:hidden;
	top:20px;
	width:8px;
	height:8px;
	border-top:2px solid #ccc;
	border-right:2px solid #bebebe;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.present:active .listwrap:after{
	border-color:#2B8BDE;
}
.present:active h3{
	color:#2B8BDE;
}*/
.btn_takeGift{
	float:right;
	display:inline-block;
	height:22px;
	line-height:22px;
	padding:0 10px;
	color:#fff;
	border:1px solid #E32141;
	background-color:#E32141;
	text-align:center;
	border-radius:4px;
	margin-right:-5px;
	font-size:12px;
}
.btn_takeGift:active{
	/*background-color:#e85c73;
	border-color:#e85c73;*/
}
.giftSection .price_label{
	color:#898989;
	font-size:12px;
}
.proBox_selected{
	padding-right:28px;
}
.proBox_selected:before{
	content:"";
	display:block;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-7px;
	width:13px;
	height:14px;
	background:url(../Nest/img/icon_tick.png) 0 0 no-repeat;
	background-size:13px 14px;	
}
.totalPlane{
	margin-top:10px;
	padding:8px 0 8px 10px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background:#fff;	
}
.totalPlane li{
	display:inline-block;
	font-size:13px;
	color:#999;
	margin-right:15px;
}
.totalPlane .addon{
	font-size:13px;
	color:#999;
}
.totalPlane .addon label{
	margin-right:40px;
}
.totalPlane .red{
	color:#E53653;
}
.totalPlane .green{
	color:#1c8417;
}
.totalPlane .summary{
	font-size:15px;
	color:#E53653;
	display:inline-block;
}
.totalPlane .summary:first-letter{
	font-weight:normal;
	margin-right:2px;
}
.totalinfo{
	margin-top:10px;
	border-top:1px solid #e4e4e4;
	margin-bottom:80px;
}
.totalinfo li{
	padding-left:9px;
	padding-right:9px;
	text-align:right;
	height:44px;
	line-height:44px;
	border-bottom:1px solid #e4e4e4;
	clear:both;
	color:#2b8bde;
	background:#fff;
}
.totalinfo .tit{
	float:left;
	color:#333;
}
.totalinfo .green span,
.totalinfo .green .tit{
	color:#63af1e;
}
.totalinfo .arrow_r{
	position:relative;
	display:block;
}
.totalinfo .arrow_r:after{
	content:"";
	display:block;
	position:absolute;
	right:-16px;
	overflow:hidden;
	top:17px;
	width:8px;
	height:8px;
	border-top:2px solid #ccc;
	border-right:2px solid #bebebe;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.totalinfo .arrow_r:active .tit{
	color:#2B8BDE;
}
.totalinfo .arrow_r:active:after{
	border-color:#2B8BDE;
}
.proAction{
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	border-top:1px solid #c0c0c0;
	padding:12px 9px;
	background-color:#fff;
	min-height:32px;
	min-width:320px;
	z-index:99;
}
.proAction .togather{
	float:left;
	display:inline-block;
	font-size:12px;
	color:#989898;
	margin-top:5px;
	font-weight:700;
}
.proAction .togather .totalNum{
	font-size:16px;
	color:#E53653;
}
.proAction .togather em{
	font-size:14px;
}
.proAction .btn_checkout,
.proAction .btn_checkout_disabled,
.proAction .btn_booklist_sub,
.proAction .btn_booklist_sub_disabled{
	float:right;
	display:block;
	width:140px;
	height:38px;
	line-height:38px;
	font-size:18px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	background-color:#e32141;
	border-color:#e32141;
	font-weight:700;
}
.proAction .btn_checkout,
.proAction .btn_checkout_disabled{
	float:none;
	display:inline-block;
}
.proAction .btn_checkout:active,
.proAction .btn_booklist_sub:active{
	-webkit-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;	
}
.proAction .btn_checkout_disabled,
.proAction .btn_checkout_disabled:active,
.proAction .btn_booklist_sub_disabled,
.proAction .btn_booklist_sub_disabled:active{
	background-color:#b0b0b0;
	border-color:#b0b0b0;
	color:#fff;
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;	
}

.totalPlane ~ .proAction{
	position:static;
	text-align:center;
	background-color:transparent;
	border-top:none;
	padding-bottom:20px;
}

.blankCart{
	text-align:center;
	padding-top:240px;
	background:url(../Nest/img/icon_blankcart.png) 50% 40% no-repeat;
	background-size:122px;
}
.blankCart .msg{
	color:#c0c0c0;
	margin-bottom:20px;
}
.btn_bigRed{
	display:inline-block;
	height:32px;
	width:181px;
	line-height:32px;
	font-size:16px;
	margin-top:7px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	background-color:#e32141;
	border-color:#e32141;
}
.btn_bigRed:active{
	-webkit-opacity:.8;
	-moz-opacity:.8;
	-o-opacity:.8;
	opacity:.8;
}
/* Coupon Popup */
.tabA{
	height:40px;
	border-bottom:1px solid #c2c2c2;
	box-shadow:0 0 1px rgba(175,175,175,1);
	background-color:#fff;
	position:relative;
	z-index:2;
}
.tabA .flex_item{
	text-align:center;
	color:#bbb;
	padding:0 5px;
	white-space:nowrap;
	font-size:14px;
	line-height:40px;
	width:1%;
}
.tabA .flex_item:active{
	color:#E32141;
}
.tabA .current{
	position:relative;
	height:39px;
	color:#e32141;
	border-bottom:2px solid #e32141;
	margin-bottom:-2px;
	overflow:hidden;
}
.tabA .current:after{
	/*content:'';*/
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-3px;
	display:inline-block;
	border-width:4px;
	border-color:transparent transparent #e32141;
	border-style:solid;
}
.tabc{	
	overflow:hidden;
}
.btn_use,
.btn_cancelUse,
.btn_gray{
	background:#e53653;
	border:1px solid e53653;
	display:inline-block;
	height:36px;
	width:180px;
	text-align:center;
	font-size:18px;
	color:#fff;
	line-height:36px;
	border-radius:4px;
}
.btn_gray{
	background-color:#b4b4b4;
	border-color:#b4b4b4;
}
.btn_use:active,
.btn_cancelUse:active,
.btn_gray:active{
	-webkit-opacity:.8;
	-o-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;
}
.checkout_pop .btnline [class*=btn_]:first-of-type ~ [class*=btn_]{
	margin-left:15px;
}
.checkout_pop .btnline [class*=btn_]:first-of-type ~ [class*=btn_gray]{
	width:110px;
}
.inputCoupon{
	padding:33px 15px 5px;
	text-align:center;
}
.applyMsg{
	display:block;
	color:#f00;
	margin-bottom:5px;
	font-size:13px;
}
.inputCoupon .inputwrap{
	width:100%;
	max-width:320px;
	height:29px;
	padding:3px 7px;
	display:block;
	border:1px solid #bfbfbf;
	background:#fff;
	margin:0 auto 15px;
}
.inputCoupon .inputwrap .intxt{
	width:100%;
	font-size:15px;
}
.inputCoupon .btn_use{}
.couponlist{
	padding:14px 9px;
}
.couponlist ul{
	padding-left:39px;
	border:1px solid #dfdfdf;
	background:#fff;
}
.couponlist li{
	padding:12px 10px 12px 0;
	border-top:1px solid #dfdfdf;
}
.couponlist li:first-child{
	border-top:none;
}
.couponlist li label{
	display:block;
	background-color:transparent;
}
.couponlist li span{
	color:#000;
	display:block;
}
.couponlist li em{
	color:#898989;
	font-size:12px;
}
.couponlist li input[type=radio]{
	position:absolute;
	margin:-10px 0 0 -40px;
	width:44px;
	height:44px;
	background-color:transparent;
	z-index:2;
}
.couponlist li input[type=radio] + span:before{
	content:"";
	position:absolute;
	margin:0 0 0 -29px;
	width:20px;
	height:20px;
	border:1px solid #ccc;
	border-radius:11px;
	background-color:#fff;
}
.couponlist li input[type=radio]:checked + span:before{
	background:#3a9536;
	border-color:#3a9536;
}
.couponlist li input[type=radio]:checked:before{
	position:absolute;
	content:"";
	display:block;
	height:6px;
	width:1px;
	top:21px;
	left: 18px;
	z-index:1;	
	background:#fff;
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.couponlist li input[type=radio]:checked:after{
	content:"";
	display:block;
	height:1px;
	width:12px;
	background:#fff;
	top: 22px;
	left: 19px;
	position:absolute;
	z-index:1;	
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.couponlist .btnline{
	margin-top:15px;
}
.usedCoupon{
	padding:33px 15px 5px;
	text-align:center;
}
.usedCoupon .inputwrap{
	padding:3px 7px;
	display:block;
	margin:0 auto 15px;
	color:#333;
}
/* Checkout */
.article{
	min-height:0;
	position:relative;
	padding:10px 0;
	font-size:13px;
	border-top:1px solid #e5e5e5;
}
.article .artTit{
	font-size:14px;
	color:#333;
	padding-left:9px;
	font-weight:600;
}
.article .cont{
	padding-left:22px;
	padding-right:9px;
	color:#929292;	
}
.article .hasRightArrow:before{
	content:"";
	display:block;
	position:absolute;
	top:0;	
	left:0;
	width:100%;
	min-height:44px;
	bottom:0;
	background:transparent;
	overflow:hidden;
	z-index:2;
}
.tit_addr{
	position:relative;
}
.tit_addr.hasRightArrow:before{
	top:-10px;
}
.invest .savedInfo.hasRightArrow:before{
	margin-bottom:-10px;
	min-height:10px;
}
.article .arrow_r{
	position:absolute;
	display:block;
	right:10px;
	top:16px;
}
.article .arrow_r:after{
	content:"";
	display:block;
	position:absolute;
	right:0;
	overflow:hidden;
	top:0;
	width:8px;
	height:8px;
	border-top:2px solid #ccc;
	border-right:2px solid #bebebe;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.article:active .arrow_r:active:after{
	border-color:#ED1C24;
}
.addrinfo{
	margin-top:9px;
	padding:9px 9px 0!important;
	border-top:1px dashed #cfcfcf;
}
.addrinfo label{
	font-size:13px;
	display:inline-block;
	margin-right:10px;
}
.cont.addrinfo:after{
	position:absolute;
	display:block;
	right:30px;
	top:8px;
	content:"";
	width:59px;
	height:32px;
	background-size:100%;
}
.paytype .cont,
.shipIntruction .cont{
	line-height:21px;
	padding-right:22px;
}
.paytype .cont,
.couponSec .cont{
	padding-right:33px;
	text-align:right;
	line-height:21px;
}
.couponSec .cont{
	color:#2B8BDE;
}
.selectList{
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;
	overflow:hidden;	
}
.selectList select{
	border:none;
	display:inline-block;
	background:none;
	-webkit-appearance:listbox;
	color:#929292;
	font-size:13px;	
	max-width:9em;	
	margin:-3px;
}
.selectList .selectItem{
	position:relative;	
	padding-right:8px;
	margin-right:5px;
}
.selectList .selectItem:after{
	height:0;
	width:0;
	position:absolute;
	top:8px;
	right:2px;
	border:1px solid #cacaca;
	border-width:6px 4px;
	border-color:#cacaca transparent transparent transparent;
	content:"";
	display:inline-block;
	margin-left:0;
	margin-right:0;	
}
.selectList .selectItem:active select{
	color:#2B8BDE;
}
.selectList .selectItem:active:after{
	border-top-color:#2B8BDE;
}
.invest .arrow_r{
	/*top:23px;*/
	top:50%;
}
.invest .savedInfo{
	position:relative;
	border-top:1px solid #dfdfdf;
	padding:9px 9px 0;
	margin-top:9px;
}
.shipIntruction .cont,
.remarkinfo .cont{
	position:relative;
	padding:9px 9px 0;
	margin-top:9px;
}
.shipIntruction .cont{
	color:#bf8579;
	margin-top:0;
	padding-top:4px;
}
.remarkinfo .cont:before{
	content:"";
	display:block;
	position:absolute;
	top:-1px;
	left:9px;
	right:0;
	height:1px;
	background:#dfdfdf;
}

.remarkinfo textarea{
	border-style:none;
	resize:none;
	width:100%;
	color:#929292;
}
.remarkinfo textarea::-moz-input-placeholder,
.remarkinfo textarea::-webkit-input-placeholder{
	color:#cfcfcf;
}
/*.checkout .proBox{
	min-height:21px;
	padding-left:9px;
	margin-top:0;
	border-bottom-color:#ddd;
}
.checkout .proBox:first-child{
	margin-top:15px;
}
.checkout > .prolist{
	padding-left:5px;
	padding-right:5px;
}
.checkout > .prolist:before,
.checkout > .prolist:after,
.checkout > .prolist > .proBox:first-child:before,
.checkout > .prolist > .proBox:first-child:after{
	display:block;
	content:"";
	background-image:url(../Nest/img/checkout_prolist_decor.png);
	background-size:8px 40px;
}
.checkout > .prolist:before{
	position:relative;
	top:15px;
	margin:0;
	height:8px;
	width:auto;
	background-position:0 -24px;
	background-repeat:repeat-x;
	background-color:#fff;
}
.checkout > .prolist:after{
	position:relative;
	height:3px;
	background-position:0 bottom;
	background-repeat:repeat-x;
	border-top:1px solid #fff;
	margin-top:-1px;
}
.checkout > .prolist > .proBox:first-child:before{
	position:absolute;
	left:-5px;
	top:-8px;
	width:5px;
	height:8px;
	background-position:0 0;
}
.checkout > .prolist > .proBox:first-child:after{
	position:absolute;
	right:-5px;
	top:-8px;
	width:5px;
	height:8px;
	background-position:right -12px;
}
.checkout > .prolist > .proBox:first-child .tit{
	padding-top:10px;
	border-top:1px dashed #cfcfcf;
}
.checkout .proBox .weight label{
	margin-right:14px;
	margin-left:0;
}
.checkout .prom{
	font-size:13px;
}
.checkout .prom .attr{
	font-size:12px;
}
.checkout .prom .priceline{
	font-size:14px;
	color:#2B8BDE;
	line-height:17px;
	margin-top:7px;
}
.checkout .prom .priceline em{
	font-size:11px;
	color:#2B8BDE;
}*/
.checkout .flagship{
	background:#fff;
	padding:8px 10px;
	color:#333;
	font-size:13px;
	border-top:1px solid #e5e5e5;
	font-weight:600;
}
.checkout .flagship + .proBox{
	border-top:1px solid #cfcfcf;
}
.checkout .proBox .tit{
	height:42px;
}
.checkout .proBox .tit a{
	color:#434343;
	font-size:13px;
}
.checkout .proBox .tit a:active{
	color:#E53653;
}
.checkout .proBox ~ .prom:before{
	content:"";
	display:block;
	height:1px;
	background:#EBEBEB;
	position:absolute;
	left:10px;
	right:0;
	top:-1px;
}
.shipSum{
	font-size:13px;
	color:#333;
}
/* Address */
.myaddrlist{
	padding:14px 9px;
}
.myaddrlist ul{
	padding-left:39px;
	border:1px solid #dfdfdf;
	background:#fff;
}
.myaddrlist li{
	position:relative;
	padding:12px 10px 12px 0;
	border-top:1px solid #dfdfdf;
}
.myaddrlist li:first-child{
	border-top:none;
}
.myaddrlist .func_edit{
	position:absolute;
	display:inline-block;
	right:0;
	top:0;
	height:0;
	width:44px;
	padding-top:44px;
	overflow:hidden;
}
.myaddrlist .func_edit:before{
	content:"";
	position:absolute;
	top:10px;
	left:11px;
	display:inline-block;
	width:23px;
	height:20px;
	background:url(../Nest/img/icon_edit.png) 0 0 no-repeat;
	background-size:23px 20px;
}
.myaddrlist .func_edit:active{
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
}
.myaddrlist li label{
	display:block;
	background-color:transparent;
}
.myaddrlist li .name{
	color:#000;
	display:block;
}
.myaddrlist li .addrinfo{
	color:#898989;
	font-size:12px;
	margin:0 !important;
	padding:0 !important;
	border-top:none !important;
}
.myaddrlist li .addrinfo em{
	display:inline-block;
	margin-right:10px;
}
.myaddrlist li input[type=radio]{
	position:absolute;
	margin:-10px 0 0 -40px;
	width:44px;
	height:44px;
	background-color:transparent;
	z-index:2;
}
.myaddrlist li input[type=radio] + span:before{
	content:"";
	position:absolute;
	margin:0 0 0 -29px;
	width:20px;
	height:20px;
	border:1px solid #ccc;
	border-radius:11px;
	background-color:#fff;
}
.myaddrlist li input[type=radio]:checked + span:before{
	background:#3a9536;
	border-color:#3a9536;
}
.myaddrlist li input[type=radio]:checked:before{
	position:absolute;
	content:"";
	display:block;
	height:6px;
	width:1px;
	top:21px;
	left: 18px;
	z-index:1;	
	background:#fff;
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.myaddrlist li input[type=radio]:checked:after{
	content:"";
	display:block;
	height:1px;
	width:12px;
	background:#fff;
	top: 22px;
	left: 19px;
	position:absolute;
	z-index:1;	
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.newaddr{
	position:relative;
	max-height:0;
	overflow:hidden;
	padding:0 9px;
	-webkit-transition:max-height .5s ease;
	-moz-transition:max-height .5s ease;
	-o-transition:max-height .5s ease;
	transition:max-height .5s ease;
}
.newaddr_show{
	max-height:2000px!important;
	overflow:visible;
}
.form_newaddr > ul{
	border:1px solid #dfdfdf;
	background:#fff;
}
.newaddr li{
	padding:0 10px 0 0;
	border-top:1px solid #dfdfdf;
}
.newaddr li:first-child{
	border-top:none;
}
.newaddr li .label{
	display:block;
	padding:12px 10px 12px 0;
	width:5em;
	text-align:right;
	border-right:1px solid #dfdfdf; 
}
.newaddr .need{
	color:red;
}
.newaddr li .f_item{
	padding:14px 0 12px 10px;
	font-size:13px;
	position:relative;
}
.newaddr select{
	color:darkgray;
} 
.newaddr .Validform_error{
	color:#ED1C24;
}
.newaddr .selectList .selected{
	color:#000;
}
.newaddr .f_item .Validform_right,
.newaddr .f_item .Validform_wrong{
	top:-7px;
    left:0px;
    position:absolute;
    color:#3a9536;
    padding:3px;    
    background-color:#fff;
    border:1px solid #3a9536;
    border-radius:2px; 
    margin-top:-10px; 
    margin-left:-10px;     
    white-space:nowrap;
    box-shadow:0 0 1px rgba(75,75,75,.8);     
    z-index:2;
}
.newaddr .f_item .Validform_right:after,
.newaddr .f_item .Validform_wrong:after{
    content:"";
    display:inline-block;
    border-right:1px solid #3a9536;
    border-bottom:1px solid #3a9536;
    background-color:#fff;
    position:absolute;
    width:4px;
    height:4px;
    overflow:hidden;
    bottom:-3px;
    left:50%;
    margin-left:-3px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}
.newaddr .f_item .Validform_wrong{
	 color:#ED1C24;
	 border-color:#ED1C24;
}
.newaddr .f_item .Validform_wrong:after{
	 border-color:#ED1C24;
 }
.newaddr .f_item .intxt:focus ~ .Validform_checktip,
.newaddr .f_item select:checked ~ .Validform_checktip{
	 display:none;
}
.secCheckbox {
	color:#929292;
}
.secCheckbox .label_for{
	padding-left:39px;
	display:block;
	background-color:transparent;
}
.secCheckbox input{
	position:absolute;
	margin:-13px 0 0 -41px;
	width:44px;
	height:44px;
	background-color:transparent;
	z-index:2;
}
.secCheckbox input + span{
	font-size:13px;
	line-height:22px;
}
.secCheckbox input + span:before{
	content:"";
	position:absolute;
	margin:-1px 0 0 -29px;
	border:2px solid #057afb;
	height:17px;
	width:17px;
	background-color:transparent;
}
.secCheckbox input:checked + span:before{
	background-color:transparent;
	border-color:#057afb;
}
.secCheckbox input:checked:before{
	position:absolute;
	content:"";
	display:block;
	height:6px;
	width:1px;
	top:21px;
	left: 18px;
	z-index:1;	
	background:#057afb;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.secCheckbox input:checked:after{
	content:"";
	display:block;
	height:1px;
	width:12px;
	background:#057afb;
	top: 22px;
	left: 19px;
	position:absolute;
	z-index:1;	
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.newaddr .action,
.invoiceInput .action{
	padding:20px 0 0;
	text-align:center;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;	
}
.newaddr .action a,
.invoiceInput .action a{
	display:block;
	text-align:center;
	color:#fff;
	height:36px;
	border-radius:4px;
	margin-bottom:17px;
	line-height:36px;
	font-size:18px;
	border-width:1px;
	border-style:solid;
}
.newaddr .action [class*=btn_],
.invoiceInput .action [class*=btn_]{
	display:block;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
}
.newaddr .action [class*=btn_] + [class*=btn_],
.invoiceInput .action [class*=btn_] + [class*=btn_]{
	margin-left:15px;
}
.newaddr .action a:active,
.invoiceInput .action a:active{
	-webkit-opacity:.8;
	-o-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;
}
.btn_save_addr,
.btn_red{
	background-color:#E53653;
	border-color:#E53653;
}
.btn_cancel,
.btn_gray{
	background-color:#a2a2a2;
	border-color:#a2a2a2;
}
/*@media screen and (min-width:480px){
	.newaddr .action a,
	.invoiceInput .action a{
		display:inline-block;
		width:40%;	
		margin:0 5px;	
	}
}*/
/* Paytype */
.paytype_sec {
	padding-top:15px;
}
.paytype_sec .secTit{
	padding:0 15px 5px;
	font-size:15px;
	color:#333;
}
.paylist{
	padding:0;
}
.paylist ul{
	padding-left:0;
	border:1px solid #dfdfdf;
	border-left:none;
	border-right:none;
	background:#fff;
}
.paylist li{
	padding:12px 10px 12px 49px;
	border-top:1px solid #dfdfdf;
}
.paylist li:first-child{
	border-top:none;
}
.paylist li label{
	display:block;
	background-color:transparent;
}
.paylist li .name{
	color:#666;
	display:block;
}
.paylist li input[type=radio]{
	position:absolute;
	margin:-11px 0 0 -46px;
	width:44px;
	height:44px;
	background-color:transparent;
	z-index:2;
}
.paylist li input[type=radio] + span:before{
	content:"";
	position:absolute;
	margin:-1px 0 0 -35px;
	width:20px;
	height:20px;
	border:1px solid #ccc;
	border-radius:11px;
	background-color:#fff;
}
.paylist li input[type=radio]:checked + span:before{
	background:#58b833;
	border-color:#58b833;
}
.paylist li input[type=radio]:checked:before{
	position:absolute;
	content:"";
	display:block;
	height:6px;
	width:1px;
	top:21px;
	left: 18px;
	z-index:1;	
	background:#fff;
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.paylist li input[type=radio]:checked:after{
	content:"";
	display:block;
	height:1px;
	width:12px;
	background:#fff;
	top: 22px;
	left: 19px;
	position:absolute;
	z-index:1;	
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* Invoice  */
.invoicelist{
	padding:14px 9px;
}
.invoicelist ul{
	padding-left:39px;
	border:1px solid #dfdfdf;
	background:#fff;
}
.invoicelist li{
	padding:12px 10px 12px 0;
	border-top:1px solid #dfdfdf;
}
.invoicelist li:first-child{
	border-top:none;
}
.invoicelist li label{
	display:block;
	background-color:transparent;
}
.invoicelist li .name{
	color:#000;
	display:block;
}
.invoicelist li input[type=radio]{
	position:absolute;
	margin:-11px 0 0 -40px;
	width:44px;
	height:44px;
	background-color:transparent;
	z-index:2;
}
.invoicelist li input[type=radio] + span:before{
	content:"";
	position:absolute;
	margin:-1px 0 0 -29px;
	width:20px;
	height:20px;
	border:1px solid #ccc;
	border-radius:11px;
	background-color:#fff;
}
.invoicelist li input[type=radio]:checked + span:before{
	background:#58b833;
	border-color:#58b833;
}
.invoicelist li input[type=radio]:checked:before{
	position:absolute;
	content:"";
	display:block;
	height:6px;
	width:1px;
	top:21px;
	left: 18px;
	z-index:1;	
	background:#fff;
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.invoicelist li input[type=radio]:checked:after{
	content:"";
	display:block;
	height:1px;
	width:12px;
	background:#fff;
	top: 22px;
	left: 19px;
	position:absolute;
	z-index:1;	
	-webkit-box-shadow:0 0 1px #fff;
	-o-box-shadow:0 0 1px #fff;
	box-shadow:0 0 1px #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.invoiceInput{
	max-height:0;
	overflow:hidden;
	padding:0 9px;
	-webkit-transition:max-height .5s ease;
	-moz-transition:max-height .5s ease;
	-o-transition:max-height .5s ease;
	transition:max-height .5s ease;
}
.invoiceInput_show{
	max-height:2000px!important;
}
.invoiceInput > ul{
	border:1px solid #dfdfdf;
	background:#fff;
}
.invoiceInput li{
	padding:0 10px 0 0;
	border-top:1px solid #dfdfdf;
}
.invoiceInput li:first-child{
	border-top:none;
}
.invoiceInput li .label{
	display:block;
	padding:12px 10px 12px 0;
	width:5em;
	text-align:right;
	border-right:1px solid #dfdfdf; 
}
.invoiceInput .need{
	color:red;
}
.invoiceInput li .f_item{
	padding:14px 0 12px 10px;
	font-size:13px;
}
.invoiceInput li .intxt{
	width:100%;
}
/* Checkout Pop Function Layers*/
.checkout_pop{
	/*position:absolute;
	top:0;*/
    position:fixed;
	top:44px;
	right:-80%;
	width:80%;
	/*min-height:100%;*/
	z-index:1001;
	background-color:#f5f5f5;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;	
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
.checkout_pop_cur{
	right:0;
}
.checkout_paytype.checkout_pop .paylist{
	margin:0 10px;
	border-left:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;	
}
/* Checkout Order Success */
.checkout_order_succ{}
.checkout_order_succ .msg{
	padding:16px 10px 5px;
	font-size:18px;
	color:#e53653;
	font-weight:600;
}
.checkout_order_succ .noticeTip{
	font-size:14px;
	color:#666;
	padding:0 10px 10px;
}
.checkout_order_succ .total_num{
	font-size:14px;
	color:#e53653;
	padding:0 10px 10px;
	font-weight:600;
}
.checkout_order_succ .itemlist{
	border-bottom:1px solid #ccc;
	font-size:14px;
	padding:10px;
	background:#fff;
	margin-bottom:10px;
}
.checkout_order_succ .itemlist .itemline{
	padding:2px 0;
}
.checkout_order_succ .itemlist .item{
	font-size:12px;
	color:#898989;
}
.checkout_order_succ .label{
	color:#333;
	font-weight:600;
}
.checkout_order_succ .label_item{
	color:#2b8bde;
	font-weight:600;
}
.checkout_order_succ .label_item.price{
	color:#e53653;
}
.checkout_order_succ .itemPayLine{
	position:relative;
}
.checkout_order_succ .nowpay{
	position:absolute;
	right:0;
	top:-5px;
	display:inline-block;
	text-align:center;
	color:#fff;
	height:28px;
	padding:0 15px;
	border:1px solid #E32141;
	background:#E32141;
	border-radius:4px;
	margin-bottom:17px;
	line-height:28px;
	font-size:18px;
}
.checkout_order_succ .action{
	padding:10px 10px 0;
	text-align:center;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;	
}
.checkout_order_succ .action a{
	display:block;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	text-align:center;
	color:#fff;
	height:38px;
	border-radius:4px;
	margin-bottom:17px;
	line-height:38px;
	font-size:18px;
}
.checkout_order_succ .action a + a{
	width:auto;
	margin-left:15px;
}
.checkout_order_succ .action a:active{
	-webkit-opacity:.8;
	-o-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;
}
.btn_shopping{
	background-color:#E32141;
}
.tipmsg{
	padding:8px 10px;
	background-color:#ffeef1;
	border:1px solid #fea7b6;
	color:#626164;
	margin:5px -1px;
	font-size:13px;
	line-height:1.6;
}
.tipmsg .tip_label{
	color:#de0027;
}
.tipmsg a{
	color:#BF8579;
}
.tipmsg .grayB{
	color:#bf8579;
	font-weight:600;
}
.tipmsg .blue{
	color:#3F9EDA;
}
.tipmsg a.blue{
	position:relative;
	display:inline-block;
}
.tipmsg a.blue + a.blue{
	margin-left:10px;
}
.tipmsg a.blue:before{
	content:"";
	position:absolute;
	display:inline-block;
	width:100%;
	height:44px;
	margin-top:-50%;
}
.tipmsg a.blue:active{
	color:#c2e7ff;
}
.tipmsg .tipInfo,
.tipmsg ul{
	margin-top:6px;
	border-top:1px dotted #ccc;
	padding-top:6px;
}
.tipmsg .tipInfo:first-child{
	border-top:none;
	padding-top:0;
	margin-top:0;
}
.checkout_order_succ .tipmsg{
	margin:0 10px 10px 0;
	text-align:justify;
	padding:4px;
}
.checkout_order_succ .tipmsg p{
	margin-top:4px;
}
.payhelpbox{
	display:none;
}
.payhelpbox:after{
	content:"";
	display:block;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,.3);
}
.payhelpbox_show{
	display:block;
}
.payhelpboxInner{
	display:none;
	position:fixed;
	width:80%;
	top:50%;
	margin-top:-120px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:#fff;
	border-top:2px solid #E32141;
	width:300px;
	left:50%;
	margin-left:-150px;
	z-index:10000;
	-webkit-animation:top-move 550ms ease-in-out;
	box-shadow:0 0 2px rgba(0,0,0,.3);
}
@media only screen and (orientation:landscape) and (min-width:480px){
	.payhelpboxInner{
		width:340px;
		margin-top:-100px;
		margin-left:-170px;
	}
}
.payhelpbox_show .payhelpboxInner{
	display:block;
}
.payhelpbox h1{
	background:#E32141;
	color:#fff;
	line-height:36px;
	font-size:16px;
	padding-left:20px;
}
.payhelpbox .inner{
	font-size:14px;
	color:#666;
	padding:20px;
}
.payhelpbox p{
	margin-bottom:5px;
}
.payhelpbox .active{
	padding:10px 10px 0;
	text-align:center;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;	
}
.payhelpbox .active a[class*=btn]{
	display:block;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	text-align:center;
	color:#fff;
	height:28px;
	padding:0 15px;
	border:1px solid #E32141;
	background:#E32141;
	border-radius:4px;
	line-height:28px;
	font-size:16px;
}
.payhelpbox .active a[class*=btn] + .pblm{
	margin-left:15px;
	background:#A2A2A2;
	border-color:#A2A2A2;
}
.payhelpbox .active a[class*=btn]:active{
	-webkit-opacity:.8;
	-o-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;
}
.noItem .icon_noCartPro{
	background-position:0 -103px;
}
.popGiftPoolSection{
    width: 100%;
    position: absolute;
    /*top: 0;*/
    top: 44px;
    right: -100%;
    background: #EAEAEA;
    -webkit-transition: all linear .15s;
    -moz-transition: all linear .15s;
    -o-transition: all linear .15s;
    transition: all linear .15s;
}
.popGiftPoolSection_cur{
    right: 0!important;
    z-index: 1001;
    top: 44px;
}
.mainheaderLock{
    position:fixed;
}