body{
	background-color:#f5f5f5;
}
.news_sec{
	position:relative;
	border:1px solid #e0e0e0;
	border-radius:3px;
	margin:0 10px 11px;
	background-color:#fff;
	overflow:hidden;
}
.news_sec:first-child{
	margin-top:11px;
}
.news_sec .tit{
	position:relative;
	font-size:14px;
	color:#fff;
	padding:11px 9px 9px;
	background-color:#424242;
	border-radius:2px 2px 0px 0px;
	text-align:justify;
}
.news_sec .tit .time{
	position:absolute;
	bottom:9px;
	right:9px;
	color:#898989;
	font-size:13px;
	padding-left:2.5em;	
	background-color:#424242;
	background: -moz-linear-gradient(left, rgba(66,66,66,0.01) 0%, rgba(66,66,66,1) 20%, rgba(66,66,66,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(66,66,66,0.01)), color-stop(20%,rgba(66,66,66,1)), color-stop(100%,rgba(66,66,66,1)));
background: -webkit-linear-gradient(left, rgba(66,66,66,0.01) 0%,rgba(66,66,66,1) 20%,rgba(66,66,66,1) 100%);
background: -o-linear-gradient(left, rgba(66,66,66,0.01) 0%,rgba(66,66,66,1) 20%,rgba(66,66,66,1) 100%);
background: -ms-linear-gradient(left, rgba(66,66,66,0.01) 0%,rgba(66,66,66,1) 20%,rgba(66,66,66,1) 100%);
background: linear-gradient(to right, rgba(66,66,66,0.01) 0%,rgba(66,66,66,1) 20%,rgba(66,66,66,1) 100%);
}
.news_sec .banner img{
	display:block;
	width:100%;
}
.news_sec .brief{
	padding:8px;
}
.news_sec .brief:last-child:after{
	content:"";
	display:block;
	height:5px;
	width:100%;
}
.news_sec .brief,
.news_sec .brief p{
	color:#666;
	font-size:12px;
	line-height:16px;
}
.news_sec .brief img{
	max-width:100%;
}
.news_sec .view_all{
	padding:0 6px 7px;
}
.news_sec .view_all:before{
	content:"";
	display:block;
	margin-bottom:5px;	
	height:1px; 
	width:100%;
	overflow:hidden;
	background: #dadada;
	background: -moz-linear-gradient(left, #ffffff 0%, #dadada 10%, #dadada 90%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(10%,#dadada), color-stop(90%,#dadada), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(left, #ffffff 0%,#dadada 10%,#dadada 90%,#ffffff 100%);
	background: -o-linear-gradient(left, #ffffff 0%,#dadada 10%,#dadada 90%,#ffffff 100%);
	background: -ms-linear-gradient(left, #ffffff 0%,#dadada 10%,#dadada 90%,#ffffff 100%);
	background: linear-gradient(to right, #ffffff 0%,#dadada 10%,#dadada 90%,#ffffff 100%);
}
.news_sec .view_all a{
	color:#ccc;
	font-size:12px;
}
.news_sec .view_all a:before{
	content:"";
	position:absolute;	
	display:block;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.news_sec .view_all a:after{
	content:"";
	float:right;	
	display:block;
	margin:7px 2px 0 0;
	width:7px;
	height:7px;
	border-top:2px solid #ccc;
	border-right:2px solid #ccc;
	-webkit-transform:rotate(45deg);
}
.news_sec .view_all a:active:before{
	border:1px solid #ccc;
	border-radius:2px;
}
/* News List Page with Top & Bottom Scroll Loading Effect  */
.mainheader{
	position:fixed;
	min-width:320px;
}
.catepro_iscroll{
	padding-top:44px;
	margin:0;
}
.catepro_iscroll:before{
	position:fixed;
	content:"";
	display:block;
	width:100%;
	height:44px;
	top:0;
	left:0;
	background:#f5f5f5;
	z-index:1;
}
.swipeUpLoading{
	height:35px;
}