/* Promotion List */
body{
	background:url(../Nest/img/bg_promlist.png) repeat;
}
.mainheader h1{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin:0 70px;
}
.icon_label_gray,
.icon_noTax{
	display:inline-block;
	line-height:18px;
	border-radius:3px;
	border:1px solid #f54a17;
	background-color:#f54a17;
	color:#fff;
	font-size:12px;
	padding:0 10px;
}
.icon_label_gray{
	background-color:#d3d3d3;
	border-color:#d3d3d3;
}
.promlist{
	padding-top:8px;	
}
.promlist img{
	max-width:100%;
}
.promlist .topbanner{
	padding:0;
}
.promlist .topbanner img{
	display:block;
	margin:0 auto;
	width:100%;
}
.section .caption{
	position:relative;
	font-size:15px;
	line-height:36px;
	padding:2px 0 0 8px;
	margin:10px 8px 0 8px;
	color:rgba(227, 33, 65, .9);
	border:1px solid #DBDBDB;
	border-top:2px none rgba(227, 33, 65, .9);
	border-bottom:none;
	font-weight:600;
	background:#E3E3E3;
}
.section .caption:before{
	content:"";
	display:block;
	left:-1px;
	top:-2px;
	position:absolute;
	width:100%;
	padding-right:2px;
	background-color:rgba(227, 33, 65, .9);
	height:2px;
}
.prolist{
	margin:0 4px;
}
.prolist li{
	float:left;
	width:50%;
}
.prolist li .boxInner{
	position:relative;
	margin:0 4px 8px;
	border:1px solid #dbdbdb;
	background-color:#f3f3f3;
	padding-bottom:4px;
	height:259px;
	overflow:hidden;
}
.prolist li .img{
	height:138px;
	background-color:#fff;
	padding:4px;
	border-bottom:1px solid #dbdbdb;
}
.prolist li .img img{
	display:block;
	width:auto;
	height:138px;
	margin:0 auto;
}
.prolist li .title{
	padding:6px 4px 0 4px;
	height:42px;
	overflow:hidden;
}
.prolist li .title a{
	color:#333;
}
.prolist li .title a:before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.prolist li .title a:active:before{
	background-color:rgba(0,0,0,.05);
}
.prolist .priceline{
	color:#E53653;
	font-size:14px;
	margin:0 4px;
}
.prolist .priceline .price{
	font-size:16px;
	font-weight:700;
}
.prolist .priceline em{
	font-size:13px;
}
.prolist .icon_noTax{
	position:relative;
	top:-1px;
	margin-top:-2px;
	margin-bottom:-2px;
}
.prolist .priceCell{
	display:block;
}
.prolist .singlePriceline{
	margin:4px 4px 0;
	color:#999;
	font-size:12px;
}
.prolist .singlePriceline .price{
	margin-right:15px;
}
.prolist .priceCell .price + .icon_noTax{
	margin-left:-5px;
}
/*@media screen and (min-width:480px){
	.prolist li{
		width:33.34%;
	}
	.prolist li .img{
		height:140px;		
	}	
	.prolist li .img img{		
		height:140px;
	}	
}*/
@media screen and (min-width:540px){
	.prolist li{
		width:25%;
	}	
	.prolist li .img{
		height:135px;		
	}	
	.prolist li .img img{		
		height:135px;
		
	}	
}
/* Promotion Food Page with Top & Bottom Scroll Loading Effect  */
.mainheader{
	position:fixed;
	min-width:320px;
}
.catepro_iscroll{
	padding-top:44px;
	margin:0;
}
.catepro_iscroll:before{
	position:fixed;
	content:"";
	display:block;
	width:100%;
	height:44px;
	top:0;
	left:0;
	background:#f5f5f5;
	z-index:1;
}
.swipeUpLoading{
	height:30px;
}
.swipeUpLoadingInner{
	top:-3px;
}