/* Promotion Page: Group Buy, Countdown Page */

#main{
	background:#eaeaea url(../Nest/img/bg_group_page.png) 0 0 repeat;
	background-size:4px 6px;
	padding-bottom:1px;
}
#main.overflowX{
	overflow-x:hidden;
}
.filterSelect{
	width:0;
	padding-left:44px;
	background:url(../Nest/img/btn_menulist.png) 5px 7px no-repeat;
	background-size:30px 30px;
}
.icon_label_gray,
.icon_noTax{
	display:inline-block;
	line-height:18px;
	border-radius:3px;
	border:1px solid #f54a17;
	background-color:#f54a17;
	color:#fff;
	font-size:12px;
	padding:0 10px;
}
.icon_label_gray{
	background-color:#d3d3d3;
	border-color:#d3d3d3;
}
.countdownPanel{
	height:34px;
	border-bottom:1px solid #ccc;
	font-size:15px;
	line-height:34px;
	text-align:center;
	background:#e3e3e3 url(../Nest/img/icon_clock.png) 0 -1px no-repeat;
	background-size:32px 34px;	
	border-radius:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.countdownPanel label{
	color:#666;
}
.countdownPanel i,
.countdownPanel em{
	color:#2482c8;
	font-weight:700;
	font-style:normal;
	margin-left:3px;
	font-size:18px;
	
}
.catepro_promo{
	margin:0 8px;
    padding:10px 0;
}
.catepro_promo li{
	position:relative;
	padding:0;
	margin-bottom:8px;
	background:#fff;
	border-radius:4px;
	box-shadow:0 1px 1px rgba(0,0,0,.25);
}
.catepro_promo li:active{
	background-color:#f5f5f5;
}
.catepro_promo li:active .img{
	background-color:#f5f5f5;
}
.catepro_promo li:last-of-type{
	border-bottom:none;
}
.catepro_promo .proBox{
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;
	border-radius:0px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.catepro_promo .img{	
	width:118px;
	padding:9px 0; 
	text-align:center;
	position:relative;
	background-color:#fff;
	border-radius:0px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.catepro_promo .img img{
	width:100px;
	height:100px;
	margin:0 auto;
	display:block;
}
.catepro_promo .img img:active{}
.catepro_promo .iconProm{
	position:absolute;
	right:1px;
	top:1px;
}
.catepro_promo .iconProm img{
	width:40px;
	height:auto;
	border:0 none;
	background-color:transparent;
}
.catepro_promo .iconProm img:active{
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
}
.catepro_promo .intro{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding:9px 9px 9px 2px;
}
.catepro_promo .tit{
	height:42px;
}
.catepro_promo .tit a{
	color:#333;
	font-size:14px;
	-webkit-tap-highlight-color:rgba(0,0,0,.2);
}
.catepro_promo .tit a:before{
	content:"";
	display:block;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}
.catepro_promo .tit a:active{
	color:#E53653;	
}
.catepro_promo .promTxt{
	height:18px;
	font-size:12px;
	color:#666;
	margin-top:2px;
}
.catepro_promo .priceline,
.catepro_promo .priceline:before,
.catepro_promo .priceline:after{
	height:33px;
	background-image:url(../Nest/img/icon_price_label.png);
	background-size:14px 100px;
	background-repeat:no-repeat;
}
.catepro_promo .priceline_grayed,
.catepro_promo .priceline_grayed:before,
.catepro_promo .priceline_grayed:after{
	background-image:url(../Nest/img/icon_price_label_gray.png);
}
.catepro_promo .priceline:before,
.catepro_promo .priceline:after{
	content:"";
	display:inline-block;
	position:absolute;
}
.catepro_promo .priceline:before{
	width:14px;
	left:-14px;
	background-position:0 0;
}
.catepro_promo .priceline:after{
	width:4px;
	right:-4px;
	background-position:right -33px;
}
.catepro_promo .priceline{
	position:absolute;
	right:0;
	bottom:10px;
	color:#fff;
	margin:0;
	padding:0 12px 0 5px;
	line-height:29px;
	background-position:0 -70px;
	background-repeat:repeat-x;
	text-shadow:0 1px 0 #980606;
}
.catepro_promo .priceline_grayed{
	text-shadow:0 1px 0 #6d6d6d;
}
.catepro_promo .priceline .price_label{
	display:none;
}
.catepro_promo .priceline .price{
	font-size:15px;
	font-weight:700;
}
.catepro_promo .priceline .icon_noTax{
	position:relative;
	top:-1px;
}
.catepro_promo .consumerNum,
.catepro_promo .singlePriceline{
	margin-top:4px;
	color:#929292;
	font-size:12px;
}
.catepro_promo .singlePriceline .price{
	margin-right:15px;
}
.catepro_promo .consumerNum{
	margin-top:8px;
}
.catepro_promo .priceCell{
	display:inline-block;
}
.catepro_promo del.priceCell .price{
	margin-right:0;
}
/* Filter Select Pop Layer */
.filter_pop{
	width:80%;
	position:absolute;
	top:0;
	min-height:100%;
	right:-80%;
	margin-top:44px;
	background:#EAEAEA;
	-webkit-transition: all linear .15s;
	-moz-transition: all linear .15s;
	-o-transition: all linear .15s;
	transition: all linear .15s;
}
.filter_pop_cur{
	right:0!important;
	z-index:1001;
}
.filter_pop .cont_body{
	padding-bottom:12px;
	overflow:auto;
}
.filter_pop .filter_list{
	padding:0;
	margin-bottom:15px;
	background-color:#fff;
	border:1px solid #c7c7c7;
	border-bottom:0 none transparent;
}
.filter_pop .filter_list:last-child{
	margin-bottom:0;
}
.filter_list{
	padding-bottom:63px;	
}
.filter_list a{
	display:block;
	height:44px;
	line-height:44px;
	color:#333;
	border-bottom:1px solid #dbdbdb;
	font-size:15px;	
}
.filter_list .sublist a{
	color:#666;
	border-bottom:0;
	padding-left:43px;	
}
.filter_pop .listp{
	padding:12px 10px;
	background:#EAEAEA;
}
.filter_pop .title{
	background:rgba(227,33,65,.9);
	color:#fff;
	font-size:15px;
	line-height:44px;
	padding-left:12px;
}
.filter_pop .filter_list a{
	padding-right:35px;
	border-bottom:1px solid #c7c7c7;
} 
.filter_pop .optionSelected{
	padding-left:14px;
	position:relative;
	background-color:#e4e4e4;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.filter_pop .optionSelected:after{
	position:absolute;
	content:"";
	right:16px;
	top:15px;
	display:block;
	width:8px;
	height:8px;
	border-bottom:2px solid #acacac;
	border-right:2px solid #acacac;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);	
}
.filter_pop .optionExpand:after{
	top:19px;
	-moz-transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	transform:rotate(-135deg);
}
.filter_pop .sublist{
	display:block;
	max-height:0px;
	-webkit-transition: all linear .15s;
	-moz-transition: all linear .15s;
	-o-transition: all linear .15s;
	transition: all linear .15s;
	overflow:hidden;
}
.filter_pop .sublist_expand{
	display:block;
	max-height:1000px;
}
.filter_pop .sublist a{
	padding-left:14px;
	color:#999;
	position:relative;
}
.filter_pop .sublist .optionDefault{
	color:#0679ca;
}
.filter_pop .sublist a:hover{
	color:#0679ca;
}
.filter_pop .sublist a:after{
	display:none;
}
.filter_pop .itemSelected a{
	color:#0679ca;
}
.filter_pop .itemSelected a:before{
	content:"";
	display:block;
	height:10px;
	width:2px;
	background:#0679ca;	
	top: 21px;
	right: 23px;
	position:absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.filter_pop .itemSelected a:after{
	content:"";
	display:block;
	height:2px;
	width:20px;
	background:#0679ca;
	top: 21px;
	right: 4px;
	position:absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.filter_pop .btnline{
	margin:0 10px;
}
.filter_pop .btnline a[class^=btn_]:nth-of-type(1){
	margin-left:0;	
}
.filter_pop dl.selected dt{
	display:block;
	position: relative;
	border-bottom: 1px solid #C7C7C7;
	padding-right: 35px;
	padding-left: 14px;
	background-color: #E4E4E4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	font-size: 15px;
	height: 44px;
	line-height: 44px;
}
.filter_pop dl.selected dt strong{
	font-weight:normal;
}
.filter_pop dl.selected label{
	display:block;
	position:relative;
}
.filter_pop dl.selected label a:first-child{
	padding-left:14px;
	padding-right:35px;
	color:#666;
}
.filter_pop dl.selected .close{
	position:absolute;
	right:0;
	top:0;
	height:0;
	padding-top:44px;
	width:44px;
	padding-right:0;
	overflow:hidden;
}
.filter_pop dl.selected .close:after{
	display:block;
	position:absolute;
	content:"";
	right:13px;
	top:15px;
	width:12px;
	height:12px;
	border-radius:9px;
	border:1px solid #0679CA;
	background:#0679CA;
	z-index:1;
}
.filter_pop dl.selected .close:active:after{
	background-color:#047fcd;
	border-color:#047fcd;
	transform:scale(2);
	-webkit-transform:scale(2);
	-moz-transform:scale(2);
	-o-transform:scale(2);
	-ms-transform:scale(2);
}
.filter_pop dl.selected label:after,
.filter_pop dl.selected .close:before{
	display:block;
	position:absolute;
	content:"";
	top:21px;
	right:16px;
	width:8px;
	height:2px;
	overflow:hidden;
	background:#fff;
	z-index:2;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}
.filter_pop dl.selected label:after{
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
}
.btn_orange,
.btn_white{
	display:inline-block;
	background-color:#ff8400;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 44px;
    line-height: 44px;   
    text-align: center;
    width: 135px;
	border:1px solid #ff8400;
}
.btn_orange:active,
.btn_white:active{
	-webkit-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;	
}
.btn_white{
	width:90px;
	color:#898989;
	background-color:#fff;
	border:1px solid #c7c7c7;
}
.noresult{
	text-align:center;
	padding-top:240px;
	background:url(../Nest/img/searchonresult.png) 50% 40% no-repeat;
	background-size:101px 98px;
}
.noresult .msg{
	color:#c0c0c0;
	margin-bottom:20px;
}
.btn_bigGreen{
	display:inline-block;
	height:44px;
	width:181px;
	line-height:44px;
	font-size:18px;
	color:#fff;
	text-align:center;
	border-radius:22px;
	background-color:#63af1e;
}
.btn_bigGreen:active{
	-webkit-opacity:.8;
	-moz-opacity:.8;
	-o-opacity:.8;
	opacity:.8;
}