#main{
	background-color:#456a7c;
	background-image:url(../Nest/img/bg_recommend_hot_sale.jpg);
	background-size:cover;
	padding-bottom:1px;
}
.icon_label_gray,
.icon_noTax{
	display:inline-block;
	line-height:18px;
	border-radius:3px;
	border:1px solid #f54a17;
	background-color:#f54a17;
	color:#fff;
	font-size:12px;
	padding:0 10px;
}
.icon_label_gray{
	background-color:#d3d3d3;
	border-color:#d3d3d3;
}
.catepro{
	margin:10px 8px;
}
.catepro ul{
	box-shadow:0 1px 2px rgba(0,0,0,.25);
	border-radius:1px;
	background:#fff;
}
.catepro li{
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:flex;
	position:relative;
	min-height:118px;
	padding:0;
	border-bottom:1px solid #ccc;
	background-color:#eaeaea;
}
.catepro li:active{
	background-color:#f5f5f5;
}
.catepro li:last-of-type{
	border-bottom:none;
}
.catepro .img{	
	width:118px;
	padding:9px 0 0; 
	text-align:center;
	position:relative;
	background-color:#fff;
}
.catepro .img:after{
	content:"";
	left:100%;
	top:50%;
	margin-top:-8px;
	display:inline-block;
	position:absolute;
	border-style:solid;
	border-width:8px;
	border-color:transparent transparent transparent #fff;
}
.catepro .img img{
	width:100px;
	height:100px;
	margin:0 auto;
	display:block;
}
.catepro .img img:active{}
.catepro .iconProm{
	position:absolute;
	right:1px;
	top:1px;
}
.catepro .iconProm img{
	width:40px;
	height:auto;
	border:0 none;
	background-color:transparent;
}
.catepro .iconProm img:active{
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
}
.catepro .intro{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	flex:1;
	padding:9px 9px 9px 12px;
}
.catepro .tit{
	height:21px;
}
.catepro .tit a{
	color:#333;
	font-size:14px;
	-webkit-tap-highlight-color:rgba(0,0,0,.2);
}
.catepro .tit a:before{
	content:"";
	display:block;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}
.catepro .tit a:active{
	color:#E53653;	
}
.catepro .promTxt{
	height:18px;
	font-size:12px;
	color:#666;
	margin-top:2px;
}
.catepro .priceline{
	color:#E53653;
	font-size:14px;
	margin:-2px 0;
}
.catepro .priceline .price{
	font-size:16px;
	font-weight:700;
}
.catepro .priceline em{
	font-size:13px;
}
.catepro .priceline .icon_noTax{
	position:relative;
	top:-1px;
}
.catepro .priceCell{
	display:inline-block;
}
.catepro .singlePriceline{
	margin-top:4px;
	color:#999;
	font-size:12px;
}
.catepro .singlePriceline .price{
	margin-right:15px;
}
/* Recommend Hot Sale Page with Top & Bottom Scroll Loading Effect  */
.mainheader{
	position:fixed;
	min-width:320px;
}
.catepro_iscroll{
	padding-top:54px;
	margin:0;
}
.catepro_iscroll:before{
	position:fixed;
	content:"";
	display:block;
	width:100%;
	height:44px;
	top:0;
	left:0;
	background:#f5f5f5;
	z-index:1;
}
.catepro_iscroll .catepro{
	margin-top:0;
	margin-bottom:0;
	padding-bottom:20px
}
.swipeUpLoading{
	color:#fff;
}
.swipeUpLoadingInner{
	top:0;
}