<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <sectionGroup name="oversea">
            <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
            <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
            <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
        </sectionGroup>
        <section name="gcPoolSection" type="ContentMgmt.GiftCardPoolInterface.Entities.GCPoolSection,ContentMgmt.GiftCardPoolInterface"/>
    </configSections>
    <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
        <sources>
            <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		   filePath="C:\OverseaFrameworkConfig\IPP\OverseaEntLib_V31.config"/>
        </sources>
    </enterpriseLibrary.ConfigurationSource>
    <oversea>
      <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
      <logSettings localRegionName="ContentMgmt"/>
      <dataAccessSettings DataCommandFile="Configuration\DbCommandFiles.config"/>
    </oversea>
    <!--<gcPoolSection>
        <gcItems>
            <add code="GC-001-001" barPrefix="OYGC" amount="00000" />
            <add code="GC-002-001" barPrefix="GC01" amount="00050" />
            <add code="GC-002-002" barPrefix="GC02" amount="00100" />
            <add code="GC-002-003" barPrefix="GC03" amount="00200" />
            <add code="GC-002-004" barPrefix="GC04" amount="00300" />
            <add code="GC-002-005" barPrefix="GC05" amount="00500" />
            <add code="GC-002-006" barPrefix="GC06" amount="00800" />
            <add code="GC-002-007" barPrefix="GC07" amount="01000" />
            --><!--<add code="GC-002-008" barPrefix="GC08" amount="02000" />
            <add code="GC-002-009" barPrefix="GC09" amount="05000" />
            <add code="GC-002-010" barPrefix="GC10" amount="08000" />
            <add code="GC-002-011" barPrefix="GC11" amount="10000" />
            <add code="GC-002-012" barPrefix="GC12" amount="15000" />
            <add code="GC-002-013" barPrefix="GC13" amount="20000" />--><!--
        </gcItems>
    </gcPoolSection>-->
    <appSettings>
        <add key="companyCode" value="8601"/>
        <add key="languageCode" value="zh-CN" />
        <add key="toMailAddress" value="nesc-sh.mis@newegg.com"/>
        <add key="ccMailAddress" value="" />
        
        <add key="initialCode" value="23456789" />
        <add key="availableCount" value="100" />
        <add key="availableCode" value="23456789ABCDEFGHJKLMNPQRSTUVWXYZ"/>
        <add key="availablePassword" value="23456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghjkmnpqrstuvwxyz"/>
    </appSettings>
</configuration>