<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ImportDataSolrURL" value="http://localhost:8888/solr/Core.ProductSearch.ReplicateData/dataimport?command=full-import"/>
    <add key="HttpRequestType" value="POST"/>
    <add key="TimeOut" value="3600000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
