<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--东方支付开始-->
  <!--商户号-->
  <add key="SENDER_CODE" value="DCH0001"/>
  <!--一级商户代码-->
  <add key="SRC_NCODE" value="DCH0001"/>
  <!--二级商户代码-->
  <add key="REC_NCODE" value="DCH0001"/>
  <!--后台通知商户地址-->
  <add key="BGURL" value="http://116.228.78.171:8080/Payment/EasiPayRefundBack"/>
  <!--签名密钥-->
  <add key="SecretKey" value="9b76428bb407c756c5522aa7b0c6d85dc8fc9925f441a26714a391112e79c1a340ee0fdf952ca8107e3e9c25ce45b260dfb3d244e9b27c7b7c01263d889762d4"/>
  <!--提交退款数据的URL地址-->
  <add key="RefundUrl" value="https://uatb2c.easipay.net/ord/ordinary/refund.do"/>
  <!--提交查询数据的URL地址-->
  <add key="QueryUrl" value="https://uatb2c.easipay.net/webquery/trxTypeQuery.do"/>
  <!--提交对账数据的URL地址-->
  <add key="CheckUrl" value="https://uatb2c.easipay.net/webquery/trxRecon.do"/>
  <!--东方支付结束-->

  <!--环迅退款-->
  <add key="IPSPartner" value="000015"/>
  <add key="IPSSecurityKey" value="GDgLwwdK270Qj1w4xho8lyTpRQZV9Jm5x4NwWOTThUa4fMhEBK9jOXFrKRT6xhlJuU2FEa89ov0ryyjfJuuPkcGzO5CeVx5ZIrkkt1aBlZV36ySvHOMcNv8rncRiy3DQ"/>
</appSettings>
