<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility" />
  </configSections>
  <log globalRegionName="Job" localRegionName="Service">
    <text param="Log"/>
  </log>

  <appSettings>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="ippadmin"/>
    <add key="RestFulBaseUrl" value="http://localhost:778"/>
    <add key="ToAddress" value="wanxj@ecom.dch.com.cn;jessietsoi@acct.dch.com.hk"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>