<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <dataCommand name="GetAllCategories" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      
	     SELECT C3SysNo FROM IPP3.DBO.PRODUCT  WITH(NOLOCK)  WHERE C3SysNo <> 0 AND CompanyCode=@CompanyCode
	     
	    ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>
  
  <dataCommand name="GetProductByC3SysNo" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      
	     SELECT SysNo as ProductSysNo ,C3SysNo FROM IPP3.DBO.PRODUCT  WITH(NOLOCK)   WHERE C3SysNo =@CategoryId AND CompanyCode=@CompanyCode
	     
	    ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@CategoryId" dbType="Int32" />
    </parameters>
  </dataCommand>


  <dataCommand name="UpdateKeyWords0ByProductSysNo" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      
      UPDATE IPP3.dbo.Product_Ex 
      SET 
      keywords0=@Keywords0
      WHERE sysno=@ProductSysNo AND CompanyCode=@CompanyCode 
      
	    ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@ProductSysNo" dbType="Int32" />
      <param name="@Keywords0" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="GetProductIDsFromQueue" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      
        DECLARE @BeginDate DATETIME, @endDate DATETIME
        SET @endDate = GETDATE()
        SET @BeginDate = DateAdd(minute, -30, @endDate)

        SELECT DISTINCT	A.ProductSysNo,B.C3SysNo from OverseaECommerceManagement.dbo.ProductKeywordsQueue A WITH(NOLOCK) 
        INNER JOIN [IPP3].[dbo].[Product] B WITH(NOLOCK)  ON A.ProductSysNo = B.SysNo
        WHERE A.InDate BETWEEN @BeginDate AND @endDate AND A.CompanyCode=@CompanyCode AND ISNULL(A.ProductSysNo,0) <> 0
        UNION
        SELECT DISTINCT	B.[SysNo] AS ProductSysNo, A.C3SysNo from OverseaECommerceManagement.dbo.ProductKeywordsQueue A  WITH(NOLOCK) 
        INNER JOIN [IPP3].[dbo].[Product] B WITH(NOLOCK)  ON A.C3SysNo = B.C3SysNo
        WHERE A.InDate BETWEEN @BeginDate AND @endDate AND A.CompanyCode=@CompanyCode AND ISNULL(A.C3SysNo,0) <> 0       
	     
	    ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

    <dataCommand name="GetCategroyKeywords" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      IF @C3SysNos IS NULL OR @C3SysNos = ''
        SET @C3SysNos = N'0'
      
      DECLARE @Sql NVARCHAR(MAX) 
      
      SET @Sql = N'SELECT [SysNo]
      ,[C3SysNo]
      ,[CommonKeywords]
      ,[PropertyKeywords]
      ,[InDate]
      ,[InUser]
      ,[EditDate]
      ,[EditUser]
      ,[CompanyCode]
      ,[LanguageCode]
      ,[StoreCompanyCode]    
       
      FROM [OverseaECommerceManagement].[dbo].[CategoryKeywords]  WITH(NOLOCK) 
      WHERE CompanyCode=@CompanyCode AND C3SysNo IN (' + @C3SysNos + N')'
      
      
    
      EXEC SP_EXECUTESQL @Sql,
          N'@CompanyCode CHAR(50)',
          @CompanyCode
	     
	    ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@C3SysNos" dbType="String"/>
    </parameters>
  </dataCommand>


  <dataCommand name="GetPropertyInfo" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[       
            
        DECLARE @PropertyKeywords NVARCHAR(200)

        SELECT @PropertyKeywords = PropertyKeywords  
        FROM [OverseaECommerceManagement].[dbo].[CategoryKeywords]  WITH(NOLOCK)  
        where companyCode = @companyCode and c3sysNo =@c3sysNo

        DECLARE @Sql NVARCHAR(MAX) 
        IF (ISNULL(@PropertyKeywords, '') <>'')
	        SET @PropertyKeywords = left(@PropertyKeywords,len(@PropertyKeywords)-1)
        ELSE 	
	        SET @PropertyKeywords = N'0'

     
        SET @Sql = N'SELECT A.[SysNo]
        ,A.[ProductSysNo]
        ,A.[PropertySysNo]
        ,A.[ValueSysNo]
        ,A.[ManualInput]
        ,ISNULL(B.[ValueDescription],'''') AS [ValueDescription]
        FROM [PMDB].[dbo].[PIM_ProductProperty] A	 WITH(NOLOCK) 
        LEFT JOIN [PMDB].[dbo].[PIM_PropertyValue] B  WITH(NOLOCK)  ON A.[ValueSysNo] = B.[SysNo] AND B.CompanyCode=@CompanyCode  AND B.[IsActive] = 1
        WHERE A.CompanyCode=@CompanyCode  AND A.[IsActive] = 1
        AND A.[PropertySysNo] IN (' + @PropertyKeywords + N') AND A.[ProductSysNo] = @productSysno'


        EXEC SP_EXECUTESQL @Sql,
        N'@CompanyCode CHAR(50),
        @c3sysNo INT,
        @productSysno INT',
        @CompanyCode,
        @c3sysNo,
        @productSysno
	     
	    ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@C3SysNo" dbType="Int32"/>
      <param name="@ProductSysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>


  <dataCommand name="GetProduct" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
      
	     SELECT 
       SysNo as ProductSysNo ,
       C3SysNo 
       FROM IPP3.DBO.PRODUCT  WITH(NOLOCK)   WHERE SysNo =@productSysNo AND CompanyCode=@CompanyCode
	     
	    ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@productSysNo" dbType="Int32" />
    </parameters>
  </dataCommand>
</dataOperations>