<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ReportConfigruation" type="Newegg.Oversea.Silverlight.ControlPanel.WebHost.ReportConfiguration, Newegg.Oversea.Silverlight.ControlPanel.WebHost"/>
  </configSections>

  <ReportConfigruation>
    <Reports>
      <Report Key="1001" Description="Print PO" ComponentType="NeweggCentral.PO.Report.POReport,NeweggCentral.PO.Report" KeystoneRule="PO_Rule_PrintPO" />
      <Report Key="2001" Description="Print SO" ComponentType="NESO.Report.VoidOrdersReport,NESO.Report" KeystoneRule="NESO_Rule_PrintSO" />
      <Report Key="2002" Description="Print Credit Request" ComponentType="NeweggCentral.NESO.Report.CreditRequestReport,NeweggCentral.NESO.Report" KeystoneRule="NESO_Rule_PrintCreditRequest" />
    </Reports>
  </ReportConfigruation>

  <appSettings>
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>

