<dl>
						<dt><h2>订单管理</h2></dt>
						<dd>
							<ul class="item list">
								<li><a href="javascript:void(0)">订单查询</a></li>
								<li><a href="javascript:void(0)">售后申请</a></li>
								<li><a href="javascript:void(0)">售后查询</a></li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt><h2>服务中心</h2></dt>
						<dd>
							<ul class="item list">
								<li><a href="javascript:void(0)">到货通知</a></li>
								<li><a href="javascript:void(0)">降价通知</a></li>
								<li><a href="javascript:void(0)">我的收藏</a></li>
								<li><a href="javascript:void(0)">我的评论</a></li>
								<li><a href="javascript:void(0)">我的咨询</a></li>
								
							</ul>
						</dd>
					</dl>
					<dl>
						<dt><h2>个人信息管理</h2></dt>
						<dd>
							<ul class="item list">
								<li><a href="javascript:void(0)">编辑个人信息</a></li>
								<li><a href="javascript:void(0)">修改头像</a></li>
								<li><a href="javascript:void(0)">管理收货信息</a></li>
								<li><a href="javascript:void(0)">修改账户密码</a></li>
								<li><a href="javascript:void(0)">我的积分</a></li>
								<li><a href="javascript:void(0)">账户余额</a></li>
								<li><a href="javascript:void(0)">我的优惠券</a></li>
								
							</ul>
						</dd>
					</dl>