@model Nesoft.ECWeb.Entity.Member.CustomerInfo

<div class="photo"><img src="themes/default/Nest/img/temp/user_avadar.jpg" alt="" /></div>
<p class="tc name">@Model.CustomerID</p>
<p class="tc level">会员：@Nesoft.Utility.EnumHelper.GetDescription(@Model.CustomerRank)  </p>