<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetProductCountByFrontEndCategory1SysNo" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
    COUNT(1) AS ProductCount 
   ,MIN(CurrentPrice) AS MinPrice 
FROM IPP3.dbo.Product WITH(NOLOCK) 
LEFT JOIN IPP3.dbo.Product_Price WITH(NOLOCK) 
    ON Product_Price.ProductSysNo=Product.SysNo 
    AND Product_Price.CompanyCode=@CompanyCode 
WHERE 
    Product.CompanyCode=@CompanyCode 
    AND Product.Status=1 
    AND C3SysNo IN (  
            SELECT 
                C3Sysno 
            FROM [OverseaECommerceManagement].[dbo].[EC_Category] WITH(NOLOCK) 
            WHERE 
                CompanyCode=@CompanyCode 
                AND SysNo IN ( 
                        SELECT  
                            EC_CategorySysno 
                        FROM [OverseaECommerceManagement].[dbo].[EC_CategoryRelation] WITH(NOLOCK) 
                        WHERE 
                            CompanyCode=@CompanyCode 
                            AND ParentSysNo IN ( 
                                    SELECT 
                                        SysNo 
                                    FROM [OverseaECommerceManagement].[dbo].[EC_CategoryRelation] WITH(NOLOCK) 
                                    WHERE 
                                        CompanyCode=@CompanyCode 
                                        AND ParentSysNo IN ( 
                                                SELECT 
                                                    SysNo 
                                                FROM [OverseaECommerceManagement].[dbo].[EC_CategoryRelation] WITH(NOLOCK) 
                                                WHERE 
                                                    CompanyCode=@CompanyCode 
                                                    AND ParentSysNo IS NULL 
                                                    AND EC_CategorySysno=@Category1SysNo 
                                            ) 
                                ) 
                    ) 
        )
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@Category1SysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>

  <dataCommand name="GetCategory2or3List" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
    SysNo,Name
FROM [OverseaECommerceManagement].[dbo].[EC_Category] WITH(NOLOCK) 
WHERE 
    Level=@Level
    AND Status='A'  
    AND Companycode=@CompanyCode
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@Level" dbType="String"/>
    </parameters>
  </dataCommand>

  <dataCommand name="GetProductCountByFrontEndCategory2SysNo" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
    COUNT(1) AS ProductCount 
   ,MIN(CurrentPrice) AS MinPrice 
FROM IPP3.dbo.Product WITH(NOLOCK) 
LEFT JOIN IPP3.dbo.Product_Price WITH(NOLOCK) 
    ON Product_Price.ProductSysNo=Product.SysNo 
    AND Product_Price.CompanyCode=@CompanyCode 
WHERE 
    Product.CompanyCode=@CompanyCode 
    AND Product.Status=1 
    AND C3SysNo IN (  
            SELECT 
                C3Sysno 
            FROM [OverseaECommerceManagement].[dbo].[EC_Category] WITH(NOLOCK) 
            WHERE 
                CompanyCode=@CompanyCode 
                AND SysNo IN ( 
                        SELECT  
                            EC_CategorySysno 
                        FROM [OverseaECommerceManagement].[dbo].[EC_CategoryRelation] WITH(NOLOCK) 
                        WHERE 
                            CompanyCode=@CompanyCode 
                            AND ParentSysNo IN ( 
                                    SELECT 
                                        SysNo 
                                    FROM [OverseaECommerceManagement].[dbo].[EC_CategoryRelation] WITH(NOLOCK) 
                                    WHERE 
                                        CompanyCode=@CompanyCode 
                                        AND ParentSysNo IS NOT NULL 
                                        AND EC_CategorySysno=@Category2SysNo 
                                ) 
                    ) ) 

	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@Category2SysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>

  <dataCommand name="GetProductCountByFrontEndCategory3SysNo" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
    COUNT(1) AS ProductCount 
   ,MIN(CurrentPrice) AS MinPrice 
FROM IPP3.dbo.Product WITH(NOLOCK) 
LEFT JOIN IPP3.dbo.Product_Price WITH(NOLOCK) 
    ON Product_Price.ProductSysNo=Product.SysNo 
    AND Product_Price.CompanyCode=@CompanyCode 
WHERE 
    Product.CompanyCode=@CompanyCode 
    AND Product.Status=1 
    AND C3SysNo IN (  
            SELECT 
                C3Sysno 
            FROM [OverseaECommerceManagement].[dbo].[EC_Category] WITH(NOLOCK) 
            WHERE 
                CompanyCode=@CompanyCode 
                AND SysNo IN ( 
                        SELECT  
                            EC_CategorySysno 
                        FROM [OverseaECommerceManagement].[dbo].[EC_CategoryRelation] WITH(NOLOCK) 
                        WHERE 
                            CompanyCode=@CompanyCode 
                            AND ParentSysNo IS NOT NULL 
                            AND EC_CategorySysno=@Category3SysNo 
                    ) ) 

	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@Category3SysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>


  <dataCommand name="GetProductCountByFrontEndCategory3SysNoAndManufacturerSysNo" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
    COUNT(1) AS ProductCount 
   ,MIN(CurrentPrice) AS MinPrice 
FROM IPP3.dbo.Product WITH(NOLOCK) 
LEFT JOIN IPP3.dbo.Product_Price WITH(NOLOCK) 
    ON Product_Price.ProductSysNo=Product.SysNo 
    AND Product_Price.CompanyCode=@CompanyCode 
WHERE 
    Product.CompanyCode=@CompanyCode 
    AND Product.ManufacturerSysNo=@ManufacturerSysNo 
    AND Product.Status=1 
    AND C3SysNo IN (  
            SELECT 
                C3Sysno 
            FROM [OverseaECommerceManagement].[dbo].[EC_Category] WITH(NOLOCK) 
            WHERE 
                CompanyCode=@CompanyCode 
                AND SysNo IN ( 
                        SELECT  
                            EC_CategorySysno 
                        FROM [OverseaECommerceManagement].[dbo].[EC_CategoryRelation] WITH(NOLOCK) 
                        WHERE 
                            CompanyCode=@CompanyCode 
                            AND ParentSysNo IS NOT NULL 
                            AND EC_CategorySysno=@Category3SysNo 
                    ) ) 
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
      <param name="@Category3SysNo" dbType="Int32"/>
      <param name="@ManufacturerSysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>
  
  
  <dataCommand name="GetBrandList" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
    Product.BrandSysNo 
   ,Brand.BrandName_Ch 
   ,Brand.BrandName_En 
   ,Brand.Type 
   ,Brand.InitialPingYin
   ,COUNT(1) AS ProductCount 
   ,MIN(CurrentPrice) AS MinPrice 
FROM IPP3.dbo.Product WITH(NOLOCK) 
LEFT JOIN IPP3.dbo.Product_Price WITH(NOLOCK) 
    ON Product_Price.ProductSysNo=Product.SysNo 
    AND Product_Price.CompanyCode=@CompanyCode        
INNER JOIN [OverseaContentManagement].[dbo].[Brand] WITH(NOLOCK)  
    ON Product.BrandSysNo=Brand.SysNo 
WHERE 
    Brand.Status='A'    
    AND Product.CompanyCode=@CompanyCode        
    AND Product.Status=1 
GROUP BY Product.BrandSysNo ,Brand.BrandName_Ch ,Brand.BrandName_En ,Brand.Type ,Brand.InitialPingYin
ORDER BY Product.BrandSysNo
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>


  <dataCommand name="GetManufacturerList" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT 
    Product.ManufacturerSysNo 
   ,Manufacturer.ManufacturerName
   ,Manufacturer.Type 
   ,Manufacturer.InitialPingYin
   ,COUNT(1) AS ProductCount 
   ,MIN(CurrentPrice) AS MinPrice 
FROM IPP3.dbo.Product WITH(NOLOCK) 
LEFT JOIN IPP3.dbo.Product_Price WITH(NOLOCK) 
    ON Product_Price.ProductSysNo=Product.SysNo 
    AND Product_Price.CompanyCode=@CompanyCode        
INNER JOIN [IPP3].[dbo].[Manufacturer] WITH(NOLOCK)  
    ON Product.ManufacturerSysNo=Manufacturer.SysNo 
WHERE 
    Manufacturer.Status=0    
    AND Product.CompanyCode=@CompanyCode        
    AND Product.Status=1 
GROUP BY Product.ManufacturerSysNo ,Manufacturer.ManufacturerName ,Manufacturer.Type ,Manufacturer.InitialPingYin
ORDER BY Product.ManufacturerSysNo
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>



  <dataCommand name="GetCategoryManufacturerPath" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
Declare @brandid int 
Declare @subcategoryid int 

set @brandid=@ManufacturerSysNo
set @subcategoryid=@C3SysNo

select 1000000000+ECR1.SysNo*100000+ECR1.EC_CategorySysno*10 as PathSegment,800000000+@brandid as ManufacturerSegment
from OverseaEcommerceManagement.dbo.EC_Category EC WITH(NOLOCK)
Inner Join OverseaEcommerceManagement.dbo.EC_CategoryRelation ECR1 WITH(NOLOCK) on EC.Sysno = ECR1.EC_CategorySysno
Inner Join OverseaEcommerceManagement.dbo.EC_CategoryRelation ECR2 WITH(NOLOCK) on ECR1.ParentSysno = ECR2.Sysno
Inner Join OverseaEcommerceManagement.dbo.EC_Category EC2 WITH(NOLOCK) on ECR2.EC_CategorySysno = EC2.Sysno
Inner Join OverseaEcommerceManagement.dbo.EC_CategoryRelation ECR3 WITH(NOLOCK) on ECR2.ParentSysno = ECR3.Sysno
Inner Join OverseaEcommerceManagement.dbo.EC_Category EC3 WITH(NOLOCK) on ECR3.EC_CategorySysno = EC3.Sysno
where EC.Status='A' and EC.[level]='L' and EC2.Status='A' and EC3.Status='A' 
--AND EC.C3Sysno in 
--(SELECT c3sysno FROM ipp3.dbo.V_Endeca_ProductList_V1 WITH(NOLOCK)) 
and ECR1.EC_CategorySysno=@subcategoryid
	  ]]>
    </commandText>
    <parameters>
      <param name="@ManufacturerSysNo" dbType="Int32" />
      <param name="@C3SysNo" dbType="Int32" />
    </parameters>
  </dataCommand>


</dataOperations>