<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetProductList" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
SELECT A.SysNo AS ProductSysNo
      ,A.ProductID
      ,ISNULL(A.ProductTitle,'') AS ProductTitle
      ,ISNULL(A.PromotionTitle,'') AS PromotionTitle
      ,ISNULL(MF.BriefName + ' ' + MF.ManufacturerName,'') AS Brand
      ,MF.BriefName AS BriefName
      ,MF.ManufacturerName AS ManufacturerName
      ,'http://c1.neweggimages.com.cn/neweggpic2/small/'+ SUBSTRING(A.ProductID,1,2) + '/' + SUBSTRING(A.ProductID,4,3) + '/' + A.ProductID + '.jpg' AS PicUrl
      ,REPLACE('http://www.newegg.com.cn/Product/@ProductID.htm?cm_mmc=BaiduShop-_-{0}-_-{1}-_-{2}','@ProductID',A.ProductID) AS ProductUrl
      ,C.FirstOnlineTime      
      ,B.CurrentPrice 
      ,ISNULL(A.ProductDescLong,'') AS ProductDescLong
      ,ISNULL(A.Performance,'') AS Performance
      ,ISNULL(U.UpdateTime,GETDATE()) AS UpdateTime
      ,ISNULL(C1.C1Name,'') AS C1Name
      ,ISNULL(C2.C2Name,'') AS C2Name
      ,ISNULL(C3.C3Name,'') AS C3Name
      ,C3.SysNo AS C3SysNo
      ,I.OnlineQty
      ,(SELECT SUM(ReviewCount) FROM
      (
      SELECT topic.TopicType AS ReviewType,COUNT(topic.TopicType) AS ReviewCount
      FROM IPP3.dbo.BBS_TopicMaster topic WITH(NOLOCK) 
      WHERE topic.ReferenceType = 0 AND topic.ReferenceSysNo = A.SysNo AND topic.Status <> 2 and topic.Status <> -2 
      GROUP BY topic.TopicType
      )T )AS ReviewCount
      ,REPLACE('http://www.newegg.com.cn/Product/@ProductID/Reviews.htm?cm_mmc=BaiduShop-_-{0}-_-{1}-_-{2}','@ProductID',A.ProductID) AS ReviewUrl
      FROM [IPP3].[dbo].[Product] A WITH(NOLOCK)
      LEFT JOIN [IPP3].[dbo].[Product_Price] B WITH(NOLOCK)  ON A.SysNo=B.ProductSysNo AND B.CompanyCode = @CompanyCode
      LEFT JOIN [IPP3].[dbo].[Product_Status] C WITH(NOLOCK)  ON A.SysNo=C.ProductSysNo AND C.CompanyCode = @CompanyCode
      INNER JOIN [IPP3].[dbo].[Category3] AS C3 WITH(NOLOCK) ON A.[C3SysNo] = C3.[SysNo] AND C3.CompanyCode = @CompanyCode
      INNER JOIN [IPP3].[dbo].[Category2] AS C2 WITH(NOLOCK) ON C3.[C2SysNo] = C2.[SysNo] AND C2.CompanyCode = @CompanyCode 
      INNER JOIN [IPP3].[dbo].[Category1] AS C1 WITH(NOLOCK) ON C2.[C1SysNo] = C1.[SysNo] AND C1.CompanyCode = @CompanyCode
      LEFT JOIN [IPP3].[dbo].[Manufacturer] MF WITH(NOLOCK)  ON A.ManufacturerSysNo=MF.SysNo AND B.CompanyCode = @CompanyCode
      LEFT JOIN OverseaInventoryManagement.dbo.V_INM_UserInventory I WITH(NOLOCK) ON A.SysNo = I.ItemSysNumber AND I.CompanyCode = @CompanyCode
	  LEFT JOIN
	  (
		SELECT MAX(CreateDate) AS UpdateTime,ProductSysNo FROM [OverseaContentManagement].[dbo].[ProductPricechangeLog] WITH(NOLOCK)
		WHERE CompanyCode = @CompanyCode GROUP BY ProductSysNo
	  ) U ON U.ProductSysNo = A.SysNo
    WHERE A.[Status] = 1 AND A.[ProductType] = 0 AND A.CompanyCode = @CompanyCode 
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>
  
  <dataCommand name="GetCategoryList" database="OverseaContentManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
    SELECT A.OriginCategorySysNo AS CategoryId,
          A.CategoryName,
          (SELECT COUNT(1) FROM OverseaContentManagement.dbo.V_CM_ItemCommonInfo B WITH(NOLOCK)
          WHERE B.Category3SysNo = A.OriginCategorySysNo AND B.Status = 1 AND B.ProductType = 0 AND B.CompanyCode = @CompanyCode ) AS ProductCount,
          (SELECT MIN(B.CurrentPrice) FROM OverseaContentManagement.dbo.V_CM_ItemCommonInfo B WITH(NOLOCK)
          WHERE B.Category3SysNo = A.OriginCategorySysNo AND B.Status = 1 AND B.ProductType = 0 AND B.CompanyCode = @CompanyCode ) AS ProductPrice,
          C1.C1Name,
          C2.SysNo AS C2SysNo
    FROM IPP3.dbo.Category_Customized A WITH(NOLOCK)
    INNER JOIN [IPP3].[dbo].[Category3] AS C3 WITH(NOLOCK) ON A.OriginCategorySysNo = C3.[SysNo] AND C3.CompanyCode = @CompanyCode
    INNER JOIN [IPP3].[dbo].[Category2] AS C2 WITH(NOLOCK) ON C3.[C2SysNo] = C2.[SysNo] AND C2.CompanyCode = @CompanyCode 
    INNER JOIN [IPP3].[dbo].[Category1] AS C1 WITH(NOLOCK) ON C2.[C1SysNo] = C1.[SysNo] AND C1.CompanyCode = @CompanyCode
    WHERE A.CompanyCode = @CompanyCode AND A.Status=1 AND A.CateGoryType=3 
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
   </parameters>
  </dataCommand>

  <dataCommand name="GetProductScore" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT
      SUM(ReviewCount) as ReviewCount
     ,SUM(RatingScore) as RatingScore
     FROM(   
     SELECT 
     COUNT(topic.Score) AS ReviewCount,
     topic.Score * COUNT(topic.Score) AS RatingScore
     FROM [IPP3].[dbo].[BBS_TopicMaster] topic WITH(NOLOCK)
     WHERE topic.TopicType = 1 
     AND topic.ReferenceType = 0 
     AND topic.ReferenceSysNo = @SysNo  
     AND topic.CompanyCode = @CompanyCode
     AND topic.Status <> 2
     GROUP BY topic.Score
    ) as Score
	  ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32"/>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>
  
  <dataCommand name="GetProductAdvPropertyListByProduct" database="OverseaContentManagement" commandType="Text">
    <commandText>
      <![CDATA[
   SELECT  ProductSysNo
		      ,ManualInput
		      ,ValueDescription
    FROM OverseaContentManagement.dbo.V_CM_ItemAdvSearchProperty WITH(NOLOCK) 
    WHERE CompanyCode = @CompanyCode AND ProductSysNo=@ProductSysNo
      ]]>
    </commandText>
    <parameters>
      <param name="@ProductSysNo" dbType="Int32"/>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>
  
</dataOperations>