<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMenuItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- MenuItem Name="菜单项名称" 
  MenuCode="该菜单项的编码，2位一级；采用编码方式，程序便于处理；每个菜单项编码不可重复；目前为3级菜单" 
  ParentMenuCode="父级编码，顶级菜单的父级编码为0"
  IsVisiable="是否在在菜单中可见,Yes-可见，No-不可见,不区分大小写"
  AuthKey="如果是MVC页面，必须是 ‘Controller|Action’格式构成的权限Key；
           如果不是MVC页面，则只需要等于AuthCenter的AuthKey就可以了；
           如果没有配置AuthKey，那么该页面为所有人可访问"   
  LinkUrl="链接的Url地址" -->
  <MenuItem Name="主页" MenuCode="00" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="/Main/Index" Class="icon-home" />

  <!--*************店铺管理 相关页面*************-->
  <MenuItem Name="商户信息管理" MenuCode="01" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-diamond" />
  <!--<MenuItem Name="基本信息管理" MenuCode="0101" ParentMenuCode="01" IsVisiable="Yes" AuthKey="" LinkUrl="/Store/BasicSetting" />
  <MenuItem Name="商品代理品牌" MenuCode="0102" ParentMenuCode="01" IsVisiable="Yes" AuthKey="" LinkUrl="/Store/AgentProduct" />  
  <MenuItem Name="店铺Header维护" MenuCode="0103" ParentMenuCode="01" IsVisiable="No" AuthKey="" LinkUrl="/Store/PageHeaderManager" />
  <MenuItem Name="页面维护" MenuCode="0105" ParentMenuCode="01" IsVisiable="No" AuthKey="" LinkUrl="/Store/PageManager" />
  <MenuItem Name="页面添加元素" MenuCode="0106" ParentMenuCode="01" IsVisiable="No" AuthKey="" LinkUrl="/Store/PageElementSelect" />
  <MenuItem Name="店铺页面装修" MenuCode="0104" ParentMenuCode="01" IsVisiable="No" AuthKey="" LinkUrl="/Store/StoreQuery" />-->
  <MenuItem Name="认证申请" MenuCode="0107" ParentMenuCode="01" IsVisiable="Yes" AuthKey="" LinkUrl="/Store/ApplicationForCertification" />

  <!--*************商品管理 相关页面*************-->
  <MenuItem Name="商品管理" MenuCode="02" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-handbag" />
  <MenuItem Name="商品类别" MenuCode="0401" ParentMenuCode="02" IsVisiable="Yes" AuthKey="" LinkUrl="/Product/ProductCategory" />
  <MenuItem Name="商品管理" MenuCode="0402" ParentMenuCode="02" IsVisiable="Yes" AuthKey="" LinkUrl="/Product/Query" />
  <MenuItem Name="多平台同步查询" MenuCode="0403" ParentMenuCode="02" IsVisiable="Yes" AuthKey="" LinkUrl="/Product/Query" />
  <MenuItem Name="创建商品" MenuCode="0405" ParentMenuCode="02" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/SelectCategory" />
  <MenuItem Name="商品维护 - 基础信息" MenuCode="040202" ParentMenuCode="0402" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/BasicInfo" />
  <MenuItem Name="商品维护 - 同款商品" MenuCode="040203" ParentMenuCode="0402" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/GroupProduct" />
  <MenuItem Name="商品维护 - 图片信息" MenuCode="040204" ParentMenuCode="0402" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/ImageInfo" />
  <MenuItem Name="商品维护 - 价格信息" MenuCode="040205" ParentMenuCode="0402" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/PriceInfo" />
  <MenuItem Name="商品维护 - 备案信息" MenuCode="040206" ParentMenuCode="0402" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/EntryInfo" />
  <MenuItem Name="商品维护 - 商品销售区域" MenuCode="040207" ParentMenuCode="0402" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/SalesArea" />
  <MenuItem Name="商品维护 - 商品批号管理" MenuCode="040208" ParentMenuCode="0402" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/BatchManagement" />
  <MenuItem Name="商品备案管理" MenuCode="0404" ParentMenuCode="02" IsVisiable="No" AuthKey="" LinkUrl="/ProductMaintain/ProductEntryMgmt" />
  <MenuItem Name="商品目录管理" MenuCode="0405" ParentMenuCode="02" IsVisiable="Yes" AuthKey="" LinkUrl="/ProductAttachment/Index" />
  <MenuItem Name="附件维护" MenuCode="040501" ParentMenuCode="0405" IsVisiable="No" AuthKey="" LinkUrl="/ProductAttachment/Maintain" />
  <MenuItem Name="评论管理" MenuCode="0406" ParentMenuCode="02" IsVisiable="Yes" AuthKey="" LinkUrl="/ProductReview/Index" />
  <MenuItem Name="评论回复" MenuCode="040601" ParentMenuCode="0406" IsVisiable="Yes" AuthKey="" LinkUrl="/ProductReview/Maintain" />
  <MenuItem Name="咨询管理" MenuCode="0407" ParentMenuCode="02" IsVisiable="Yes" AuthKey="" LinkUrl="/ProductConsult/Index" />
  <MenuItem Name="咨询回复" MenuCode="040701" ParentMenuCode="0407" IsVisiable="Yes" AuthKey="" LinkUrl="/ProductConsult/Maintain" />
  <MenuItem Name="泰隆优选自贸采购管理" MenuCode="0412" ParentMenuCode="02" IsVisiable="No" AuthKey="" LinkUrl="/ProductPurchase/Query" />
  <MenuItem Name="泰隆优选自贸采购创建" MenuCode="0413" ParentMenuCode="02" IsVisiable="No" AuthKey="" LinkUrl="/ProductPurchase/New" />
  <MenuItem Name="泰隆优选自贸采购维护" MenuCode="0414" ParentMenuCode="02" IsVisiable="No" AuthKey="" LinkUrl="/ProductPurchase/Maintain" />
  <MenuItem Name="商品库存调整单维护" MenuCode="0416" ParentMenuCode="02" IsVisiable="No" AuthKey="" LinkUrl="/ProductPurchase/ProductStockAdjustmentMain" />
  
  <!--*************促销管理 相关页面*************-->
  <MenuItem Name="促销管理" MenuCode="04" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-present" />
  <MenuItem Name="团购管理" MenuCode="0201" ParentMenuCode="04" IsVisiable="Yes" AuthKey="" LinkUrl="/Promotion/GroupBuyList"/>
  <MenuItem Name="团购维护" MenuCode="0202" ParentMenuCode="04" IsVisiable="No" AuthKey="" LinkUrl="/Promotion/GroupBuyMaintain"/>
  <MenuItem Name="限时促销管理" MenuCode="0203" ParentMenuCode="04" IsVisiable="Yes" AuthKey="" LinkUrl="/Promotion/CountdownList" />
  <MenuItem Name="限时促销维护" MenuCode="0204" ParentMenuCode="04" IsVisiable="No" AuthKey="" LinkUrl="/Promotion/CountdownMaintain"/>
  <MenuItem Name="捆绑促销管理" MenuCode="0205" ParentMenuCode="04" IsVisiable="Yes" AuthKey="" LinkUrl="/Promotion/ComboList" />
  <MenuItem Name="捆绑促销维护" MenuCode="0206" ParentMenuCode="04" IsVisiable="No" AuthKey="" LinkUrl="/Promotion/ComboMaintain"/>
  <MenuItem Name="赠品促销管理" MenuCode="0207" ParentMenuCode="04" IsVisiable="Yes" AuthKey="" LinkUrl="/Promotion/GiftPromotionList" />
  <MenuItem Name="赠品促销维护" MenuCode="0208" ParentMenuCode="04" IsVisiable="No" AuthKey="" LinkUrl="/Promotion/GiftPromotionEdit" />
  <MenuItem Name="优惠券活动管理" MenuCode="0209" ParentMenuCode="04" IsVisiable="Yes" AuthKey="" LinkUrl="/Promotion/CouponList" />
  <MenuItem Name="优惠券活动维护" MenuCode="0210" ParentMenuCode="04" IsVisiable="No" AuthKey="" LinkUrl="/Promotion/CouponEdit" />
  <MenuItem Name="查询优惠券领取情况" MenuCode="0211" ParentMenuCode="04" IsVisiable="No" AuthKey="" LinkUrl="/Promotion/CouponCodeCustomerLogQuery" />
  <MenuItem Name="查询优惠券使用情况" MenuCode="0212" ParentMenuCode="04" IsVisiable="No" AuthKey="" LinkUrl="/Promotion/CouponCodeRedeemLogQuery" />
  
  <!--*************订单管理 相关页面*************-->
  <MenuItem Name="订单管理" MenuCode="05" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-basket" />
  <MenuItem Name="订单查询" MenuCode="0501" ParentMenuCode="05" IsVisiable="Yes" AuthKey="" LinkUrl="/SO/Query" />
  <MenuItem Name="订单维护" MenuCode="0502" ParentMenuCode="05" IsVisiable="No" AuthKey="" LinkUrl="/SO/Maintain" />
  <MenuItem Name="订单详情" MenuCode="0503" ParentMenuCode="05" IsVisiable="No" AuthKey="" LinkUrl="/SO/Detail" />
  <MenuItem Name="订单作废退款查询" MenuCode="0504" ParentMenuCode="05" IsVisiable="Yes" AuthKey="" LinkUrl="/SO/AOQuery" />
  
  <!--*************售后管理 相关页面*************-->
  <MenuItem Name="售后管理" MenuCode="07" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-emoticon-smile" />
  <MenuItem Name="退货申请单" MenuCode="0701" ParentMenuCode="07" IsVisiable="Yes" AuthKey="" LinkUrl="/RMA/RequestOrderQuery" />
  <MenuItem Name="退换货单详情" MenuCode="0702" ParentMenuCode="07" IsVisiable="No" AuthKey="" LinkUrl="/RMA/RequestOrderDetail" />
  <MenuItem Name="退货退款单查询" MenuCode="0703" ParentMenuCode="07" IsVisiable="Yes" AuthKey="" LinkUrl="/RMA/RefundOrderQuery" />

  <!--*************顾客管理 相关页面*************-->
  <!--<MenuItem Name="顾客管理" MenuCode="08" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-user" />
  <MenuItem Name="顾客查询" MenuCode="0801" ParentMenuCode="08" IsVisiable="Yes" AuthKey="" LinkUrl="/Customer/Query" />
  <MenuItem Name="顾客信息" MenuCode="0802" ParentMenuCode="08" IsVisiable="Yes" AuthKey="" LinkUrl="/Customer/Maintain" />-->

  <!--*************仓库管理*************-->
  <MenuItem Name="仓库管理" MenuCode="10" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-emoticon-smile" />
  <MenuItem Name="仓库管理" MenuCode="1001" ParentMenuCode="10" IsVisiable="Yes" AuthKey="" LinkUrl="/Stock/List" />
  <MenuItem Name="仓库维护" MenuCode="1002" ParentMenuCode="10" IsVisiable="No" AuthKey="" LinkUrl="/Stock/Detail" />
  <MenuItem Name="仓库-配送方式管理" MenuCode="1003" ParentMenuCode="10" IsVisiable="No" AuthKey="" LinkUrl="/StockShipType/List" />
  <MenuItem Name="库存查看" MenuCode="1004" ParentMenuCode="10" IsVisiable="Yes" AuthKey="" LinkUrl="/Inventory/ItemInventoryQuery" />
  <MenuItem Name="商品库存调整单" MenuCode="1005" ParentMenuCode="10" IsVisiable="Yes" AuthKey="" LinkUrl="/ProductPurchase/ProductStockAdjustmentList" />
  
  <!--*************财务结算************-->
  <MenuItem Name="财务结算" MenuCode="09" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-bar-chart" />
  <MenuItem Name="结算单报表" MenuCode="0901" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Invoice/SettleQuery" />
  <MenuItem Name="结算单报表详情" MenuCode="0902" ParentMenuCode="09" IsVisiable="No" AuthKey="" LinkUrl="/Invoice/ViewCommissionItemDetail" />
  <MenuItem Name="结算单报表明细" MenuCode="0903" ParentMenuCode="09" IsVisiable="No" AuthKey="" LinkUrl="/Invoice/ViewCommissionLogDetail" />
  <MenuItem Name="待结算查询" MenuCode="0904" ParentMenuCode="09" IsVisiable="No" AuthKey="" LinkUrl="/Invoice/ViewCommissionItemDetail" />
  <MenuItem Name="销售统计报表" MenuCode="0905" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Invoice/FinancialReportQuery" />
  
  <!--*************控制面板 相关页面*************-->
  <MenuItem Name="控制面板" MenuCode="20" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-settings" />
  <MenuItem Name="用户管理" MenuCode="2001" ParentMenuCode="20" IsVisiable="Yes" AuthKey="" LinkUrl="/User/Query" />
  <MenuItem Name="用户维护" MenuCode="2002" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/User/UserMgt" />
  <MenuItem Name="角色管理" MenuCode="2003" ParentMenuCode="20" IsVisiable="Yes" AuthKey="" LinkUrl="/User/Role" />
  <MenuItem Name="角色维护" MenuCode="2004" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/User/RoleMgt" />
  <MenuItem Name="修改密码" MenuCode="2005" ParentMenuCode="20" IsVisiable="Yes" AuthKey="" LinkUrl="/User/ChangePassword" />
  <MenuItem Name="二级域名" MenuCode="2006" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/User/SecondDomain" />
  
  <!--<MenuItem Name="配送方式管理" MenuCode="2009" ParentMenuCode="20" IsVisiable="Yes" AuthKey="" LinkUrl="/ShipType/List" />-->
  <MenuItem Name="配送方式维护" MenuCode="2010" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/ShipType/Detail" />
  <MenuItem Name="配送方式-区域-价格管理" MenuCode="2011" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/ShipTypeAreaPrice/List" />
  <MenuItem Name="配送方式-区域-价格管理维护" MenuCode="2012" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/ShipTypeAreaPrice/Detail" />
  <MenuItem Name="仓库-配送方式维护" MenuCode="2014" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/StockShipType/Maintain" />
  <MenuItem Name="配送方式-区域-价格-批量导入" MenuCode="2015" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/ShipTypeAreaPrice/AddMore" />
  <MenuItem Name="免运费配置管理" MenuCode="2016" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/FreeShippingChargeRule/List" />
  <MenuItem Name="免运费配置维护" MenuCode="2017" ParentMenuCode="20" IsVisiable="No" AuthKey="" LinkUrl="/FreeShippingChargeRule/FreeShippingMaintain" />

  <MenuItem Name="统计报表" MenuCode="21" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-emoticon-smile" />
  <MenuItem Name="销量统计" MenuCode="2101" ParentMenuCode="21" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="订单状况统计" MenuCode="2102" ParentMenuCode="21" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="销售行情统计" MenuCode="2103" ParentMenuCode="21" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="销售区域统计" MenuCode="2104" ParentMenuCode="21" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="分平台订单统计" MenuCode="2105" ParentMenuCode="21" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="分平台销售额统计" MenuCode="2106" ParentMenuCode="21" IsVisiable="Yes" AuthKey="" LinkUrl="" />

  <MenuItem Name="竞争对手价格监测" MenuCode="22" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-emoticon-smile" />
  <MenuItem Name="设定竞争对手产品" MenuCode="2201" ParentMenuCode="22" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="查看竞争对手价格变化趋势" MenuCode="2202" ParentMenuCode="22" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="报警提醒机制" MenuCode="2203" ParentMenuCode="22" IsVisiable="Yes" AuthKey="" LinkUrl="" />

  <MenuItem Name="推广" MenuCode="23" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-emoticon-smile" />
  <MenuItem Name="搜索引擎推广" MenuCode="2301" ParentMenuCode="23" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <MenuItem Name="Facebook等平台推广" MenuCode="2302" ParentMenuCode="23" IsVisiable="Yes" AuthKey="" LinkUrl="" />

  <MenuItem Name="自有平台建设" MenuCode="24" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-emoticon-smile" />
  <MenuItem Name="自有平台建设" MenuCode="2401" ParentMenuCode="24" IsVisiable="Yes" AuthKey="" LinkUrl="" />
  <!--*************Demo页面*************-->
  <!--<MenuItem Name="Demo测试" MenuCode="09" ParentMenuCode="0" IsVisiable="Yes" AuthKey="" LinkUrl="" Class="icon-user" />
  <MenuItem Name="SellerPortal开发概述" MenuCode="0900" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/Summary" />
  <MenuItem Name="页面布局排版 Layout" MenuCode="0901" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/Layout" />
  <MenuItem Name="按钮 Buttons" MenuCode="0902" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/Buttons" />
  <MenuItem Name="输入控件 Inputs" MenuCode="0903" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/Inputs" />
  <MenuItem Name="弹出层 Modals" MenuCode="0904" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/Popup" />
  <MenuItem Name="页面Loading效果" MenuCode="0905" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/AjaxLoading" />
  <MenuItem Name="Ajax提交 - 异常处理(Encode)" MenuCode="0906" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/AjaxPostError" />
  <MenuItem Name="Html编辑器" MenuCode="0907" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/HtmlEditor" />
  <MenuItem Name="验证" MenuCode="0908" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/Validator" />
  <MenuItem Name="请求和权限" MenuCode="0909" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/RequestAuth" />
  <MenuItem Name="BuildFormEntity" MenuCode="0910" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/BuildFormEntity" />
  <MenuItem Name="页面导出Excel" MenuCode="0911" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/ExportExcel" />
  <MenuItem Name="使用邮件模版" MenuCode="0912" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/EmailTemplate" />
  <MenuItem Name="AjaxGrid 分页查询" MenuCode="0913" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/AjaxGridPagedQuery" />
  <MenuItem Name="表单" MenuCode="0914" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/Form" />
  <MenuItem Name="弹出框，确认框样式" MenuCode="0915" ParentMenuCode="09" IsVisiable="Yes" AuthKey="" LinkUrl="/Demo/AlertAndConfirm" />-->
</ArrayOfMenuItem>