<?xml version="1.0" encoding="utf-8"?>
<routeConfig>
  <!--默认命名空间，如果Area中的Controller名称和最外层的Controller名称有相同的，则必须配置此节点，否则会导致Route失败 -->
  <defaultNamespace name="ECommerce.Web.Controllers.*"/>
  <ignore>
    <!--忽略对.axd文件的Route，直接处理-->
    <add url="{resource}.axd/{*pathInfo}" >
      <constraints>
        <!--添加约束-->
        <add name="resource" value="\w" />
      </constraints>
    </add>
  </ignore>
  <areas>


  </areas>

  <map>
    <!-- Area 外直接的视图/Controller路由-->
    <route name="Home_Logout" url="Logout" controller="Home" action="Logout" ></route>
    <route name="WebMain_Index" url="Main" controller="Main" action="Index"></route>

    <!--<route name="ChangeLanguage" url="ChangeLanguage" controller="Home" action="ChangeLanguage" />-->
    <route name="Web_Error404" url="Error/404" controller="Home" action="Error404" />
    <route name="Web_Error" url="ErrorMsg" controller="Home" action="Error"></route>
    <route name="ProductAttachment_Index" url="ProductAttachment"  controller="ProductAttachment" action="Index"></route>
    <route name="ProductReview_Index" url="ProductReview"  controller="ProductReview" action="Index"></route>

    <!--<route name="Home_Register" url="Register" controller="LoginRegister" action="Register"></route>
    <route name="Home_RegisterNote" url="RegisterNote" controller="LoginRegister" action="RegisterNote"></route>
    <route name="Home_RegisterSuccess" url="RegisterSuccess" controller="Home" action="RegisterSuccess"></route>
    <route name="Home_RegisterVerify" url="RegisterVerify" controller="Home" action="RegisterVerify"></route>
    <route name="Home_ImageValidator" url="ImageValidator" controller="Home" action="ImageValidator"></route>
    <route name="Home_FindPassword" url="FindPassword" controller="LoginRegister" action="FindPassword"></route>
    <route name="Home_EmailVerifySucceed" url="EmailVerifySucceed" controller="Home" action="EmailVerifySucceed"></route>
    <route name="Home_ValidateIdentity" url="ValidateIdentity" controller="Home" action="ValidateIdentity"></route>
    <route name="Home_ResetPassword" url="ResetPassword" controller="Home" action="ResetPassword"></route>
    <route name="Home_ResetSuccess" url="ResetSuccess" controller="Home" action="ResetSuccess"></route>

    <route name="ClearCache" url="ClearCache" controller="Home" action="ClearCache"></route>-->

    <route name="Home_Login" url="" controller="Home" action="Login"  ></route>
    <route name="Web_Default" url="{Controller}/{Action}"  controller="Main" action="Index"></route>
  </map>
</routeConfig>
