<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
  </configSections>
  
  <oversea>
    <globalSettings filePath="D:\APP\IPP\Config\GlobalSettings.config"/>
    <logSettings localRegionName="OrderMgmt"/>
    <dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  
  <appSettings>
    <!--一次对审核通过的订单发邮件的条数-->
    <add key="AutoAuditSendMessageTopCount" value ="200"/>
    <!--自动审单时的审单人编号，仅对款到发货单有效。货到付款单自动审单为固定为：800-->
    <add key="AuditUserSysNo" value="493"/>
    <!--ExpiredSOJob,ScanOutdateCamplainJob,ScanOutdateCamplainJob 相关-->
		<!--以下信息需要在JobConsole中配置-->
		<add key="SendMailToCSHelpdesk" value="CSHelpdeskcn.com@newegg.com"/>
		<add key="ComplainOutdatedAlertMailList" value="Frankie.L.Zhao@newegg.com.cn;Rick.X.Zhang@newegg.com.cn;Evelyn.T.Sun@newegg.com;Steven.Y.Hu@newegg.com.cn;Lei.Y.Ying@newegg.com.cn"/>
		<add key="AstraZenecaComplainOutdatedAlertMailList" value="CSHelpdeskcn.com@newegg.com"/>
		<add key="ExpiredSOMailList" value="CSHelpdeskcn.com@newegg.com"/>
		<add key="FromSystem" value="127.0.0.1"/>

		<add key="RestFulBaseUrl" value="http://localhost:778"/>
		
		<add key="UserSysNo" value="1"/>
		<add key="UserAcct" value="stonebu1@ozzo.com"/>
    <!--以下五项为邮件发送JOB中调用WCF服务时所使用到的信息-->
    <add key="SendMailUserDisplayName" value="IPPSystemAdmin"/>
    <add key="SendMailUserLoginName" value="IPPSystemAdmin"/>
    <add key="SendMailCompanyCode" value="8601"/>
    <add key="SendMailStoreCompanyCode" value="8601"/>
    <add key="SendMailStoreSourceDirectoryKey" value="bitkoo"/>
  </appSettings>

</configuration>
