<?xml version="1.0"?>
<mailTemplate>
  <id>Invoice_CreateError_Notify</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <to>nesc-xa.mis.ippservice@tlyh.com</to>
  <subject>
    <![CDATA[
      Invoice_Generate-出错
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
    出错了：写入了0条记录。SO# <%=SO%> Stock# <%=Stock%>
      ]]>
    </template>
  </body>
</mailTemplate>