<?xml version="1.0"?>
<mailTemplate>
  <id>Payable_RefuseAudit_Notify</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      财务拒绝审核应付记录通知
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
    应付单据编号<%=OrderSysNo%>,批次号<%=BatchNumber%>,类型:<%=OrderType%>,应付金额:<%=OrderAmt%>,被<%=UserSysNo%>拒绝审核！
      ]]>
    </template>
  </body>
</mailTemplate>