<?xml version="1.0"?>
<mailTemplate>
  <id>ResponsibleUser_Change_Notify</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      逾期未收款订单责任更换
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
    <%=Year%>年<%=Month%>月<%=Day%>日，<%=UserSysNo%>将订单<%=OrderSysNo%>责任人更换为你，请及时到&lt;销售-逾期未收款订单&gt;界面查询原因，有问题直接联系<%=FromEmail%>
      ]]>
    </template>
  </body>
</mailTemplate>