<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="log" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="RestFulBaseUrl" value="http://eccsvc.dchnu.com/SOService"/>
    <add key="CompanyCode" value="8601"/>
    <add key="UserSysNo" value="2"/>
    <add key="UserAcct" value="Newegg"/>
    <add key="LanguageCode" value="zh-CN"/>
  </appSettings>
</configuration>