<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Microsoft.EnterpriseLibrary.config">
    <sources>
      <add name="Microsoft.EnterpriseLibrary.config" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="Configuration\Microsoft.EnterpriseLibrary.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
  <appSettings>
    <!-- Newegg Framework DataAccess settings end-->
	  <add key="CompanyCode" value="8601"/>
    <add key="LogFileName" value="ZFBAccountCheck.log"/>
    <add key="gateway" value="https://www.alipay.com/cooperate/gateway.do?"/>
    <add key="service" value="export_trade_account_report"/>
    <add key="sign_type" value="MD5"/>
    <add key="key" value="6hr0vra6m2avbsqrx4qa4wn8g1novy7h"/>
    <add key="partner" value="2088101149633121"/>
    <add key="keyAdd" value=""/>
    <add key="partnerAdd" value=""/>
    <add key="_input_charset" value="gb2312"/>
    <add key="trans_code" value="6001,6002"/>
    <add key="DefaultDate" value="2010-09-20 00:00:00"/>
    <add key="EmailAddress" value="freegod.l.xu@newegg.com;sunny.l.song@newegg.com;allan.k.li@newegg.com;kent.d.kou@newegg.com"/>
	  <add key="LongOrderSysNoAlert" value="ne-cn.fin.ar.sh@newegg.com"/>
    <!--获得数据失败，设置Pending时间,单位：分钟-->
    <add key="TryPeriod" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
