<?xml version="1.0"?>
<restServiceConfig xmlns="http://IPP/RestService"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <restService name="AdjustInventoryService" baseUrl="http://localhost:778/InventoryService/" relativeUrl="/Inventory/ProcessSellerPortalMessage" />
  <restService name="ProcessSSBMsgService" baseUrl="http://localhost:778/SOService/" relativeUrl="/SO/ProcessSellerPortalMessage" />
  <restService name="ChanageUserInfoService" baseUrl="http://localhost:778/CommonService/" relativeUrl="" />
  <restService name="RMA4SellerPortalService" baseUrl="http://localhost:778/RMAService/" relativeUrl="/RMA/ProcessSellerPortalMessage" />
</restServiceConfig>