<?xml version="1.0"?>
<ssbProcessConfig xmlns="http://IPP/ssb"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ssbChannel name="SellPortal2IPP" dataCommand="GetControlPanelMessage" version="Customer">
    <actionTypeXpath>//Type/text()</actionTypeXpath>

    <!-- 修改库存-->
    <ssbProcess actionType="AdjustInventory" callType="WCF">
      <processService>AdjustInventoryService</processService>
      <referenceKeyXpath>//Body/AdjustInventoryMsg/ItemInventory[1]/ProductSysNo/text()</referenceKeyXpath>
    </ssbProcess>

    <!-- 修改订单状态-->
    <ssbProcess actionType="ChangeSOStatus" callType="WCF">
      <processService>ProcessSSBMsgService</processService>
      <referenceKeyXpath>//Body/ChanageSOStatusMsg/SalesOrder[1]/SONumber/text()</referenceKeyXpath>
    </ssbProcess>

    <!-- 发货-->
    <ssbProcess actionType="ShipOrder" callType="WCF">
      <processService>ProcessSSBMsgService</processService>
      <referenceKeyXpath>//Body/ShipOrderMsg/SalesOrder[1]/SONumber/text()</referenceKeyXpath>
    </ssbProcess>

    <!-- 顾客拒收-->
    <ssbProcess actionType="RMAReject" callType="WCF">
      <processService>RMA4SellerPortalService</processService>
      <referenceKeyXpath>//Body/RMARejectMsg/SalesOrder[1]/SONumber/text()</referenceKeyXpath>
    </ssbProcess>

    <!-- 修改用户密码 现在为SSB消息到达后由SP处理-->
    <!--<ssbProcess actionType="ChangePassword" callType="WCF">
      <processService>ChanageUserInfoService</processService>
      <referenceKeyXpath>//Body/UserInfoChangeEntity/SysNo/text()</referenceKeyXpath>
    </ssbProcess>-->

    <!-- 修改用户信息 现在为SSB消息到达后由SP处理-->
    <!--<ssbProcess actionType="ChangeUserInfo" callType="WCF">
      <processService>ChanageUserInfoService</processService>
      <referenceKeyXpath>//Body/UserInfoChangeEntity/SysNo/text()</referenceKeyXpath>
    </ssbProcess>-->


    <!-- 发票打印 更新发票号-->
    <ssbProcess actionType="SOInvoicePrinted" callType="WCF">
      <processService>ProcessSSBMsgService</processService>
      <referenceKeyXpath>//Body/SalesOrder/@SONumber</referenceKeyXpath>
    </ssbProcess>

    <!--接收 SellerPortal发送的消息-->
    <ssbProcess actionType="UpdateBatchInfo" callType="WCF">
      <processService>AdjustInventoryService</processService>
      <referenceKeyXpath>//Body/BatchInfos/InUser/text()</referenceKeyXpath>
    </ssbProcess>
  </ssbChannel>

  <ssbChannel name="WMS2IPP" dataCommand="GetWMSMessage" version="Customer">
    <actionTypeXpath>//Type/text()</actionTypeXpath>
    
    
    <!--接收仓库发送的SSB消息 调整批次状态-->
    <ssbProcess actionType="ProductBatchUpdate" callType="WCF">
      <processService>AdjustInventoryService</processService>
      <referenceKeyXpath>//Body/ProductBatch[1]/text()</referenceKeyXpath>
    </ssbProcess>


    <!--接收仓库发送的SSB消息  创建损益单-->
    <ssbProcess actionType="WMSCheck" callType="WCF">
      <processService>AdjustInventoryService</processService>
      <referenceKeyXpath>//Body/WMSCheck/CreateUser/text()</referenceKeyXpath>
    </ssbProcess>
    
  </ssbChannel>
</ssbProcessConfig>