<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
    </sectionGroup>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config" />
    <logSettings localRegionName="CustomerMgmt" />
    <dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config" />
  </oversea>

  <appSettings>

    <add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <add key="LogFileName" value="Log.txt"/>
    <!--EmailGroup格式为“PM_Master.PMGroupSysNo=1@1.com;2@1.com”-->
    <!--<add key="EmailGroup" value="11=.ne-cn.pm.nb.merchandiser|12=.ne-cn.pm.it.merchandiser|13=.ne-cn.pm.ce.merchandiser|14=.ne-cn.pm.ha.merchandiser|15=.ne-cn.pm.gmh.merchandiser|17=.ne-cn.pm.gms.merchandiser"/>-->
    <add key="EmailGroup" value="23=Issac.S.Wu@newegg.com|24=Issac.S.Wu@newegg.com;Issac.S.Wu@newegg.com"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>