<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="application" type="Newegg.Oversea.Silverlight.ControlPanel.Service.Configuration.ApplicationSection, Newegg.Oversea.Silverlight.ControlPanel.Service" />
      <section name="keystone" type="Newegg.Oversea.Silverlight.ControlPanel.Service.Configuration.KeystoneSection, Newegg.Oversea.Silverlight.ControlPanel.Service" />

    </sectionGroup>
    <section name="faqSetting" type="Newegg.Oversea.Silverlight.ControlPanel.WebHost.FAQSection, Newegg.Oversea.Silverlight.ControlPanel.WebHost"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Newegg.Oversea.Framework.LoggingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="mailServerManager" type="Newegg.Oversea.Framework.EmailService.Configuration.MailServerConfigSection, Newegg.Oversea.Framework.EmailService"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\ReportDLL"/>
    </assemblyBinding>
  </runtime>

  <applicationSettings>
    <Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration>
      <setting name="CurrentMailComponent" serializeAs="String">
        <value>Newegg.Oversea.Framework.EmailService.SmtpMailComponent</value>
      </setting>
      <setting name="MaxAttachmentSize_MB" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxAttachmentCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ADName" serializeAs="String">
        <value>abs_corp</value>
      </setting>
    </Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration>

    <Newegg.Oversea.Framework.LoggingService.Properties.Settings>
      <setting name="Newegg_Oversea_Framework_LoggingService_MailServiceProxy_MailManager" serializeAs="String">
        <value>http://neweggcentral-portal/Portal/Service/Framework/V50/MailService.svc</value>
      </setting>
    </Newegg.Oversea.Framework.LoggingService.Properties.Settings>
  </applicationSettings>

  <mailServerManager>
    <mailServers>
      <server address="10.1.37.52" userName="" password="" domain=""/>
      <server address="10.1.37.52" userName="" password="" domain=""/>
    </mailServers>
  </mailServerManager>

  <appSettings>
    <add key="templatePath" value="bin\Configuration\LogMail.html"/>
  </appSettings>

  <oversea>
    <globalSettings filePath="D:\Application\NeweggCentral\Config\OverseaFrameworkConfig\GlobalSettings.config" />
    <logSettings localRegionName="UIPortal" />
    <dataAccessSettings DataCommandFile="bin\Configuration\Data\DbCommandFiles.config" />

    <application id="abe75810-3cd1-454e-adf6-0f7662c9427c" name="Newegg Central" businessCode="1003" defaultLanguage="en-US" autoLogin="true" localRegion="UIPortal"  gloalRegion="NeweggCentral" defaultPage="/Main/Home" />
    <keystone sourceDirectory="abs_corp, bitkoo" trustedDirectory="bitkoo" trustedUserName="TrustedUser" trustedPassword="Trusted@User"
              primaryAuthUrl="http://D2web02:8006/AuthorizationService/ws.asmx"
              secondaryAuthUrl="http://D2web04:8006/AuthorizationService/ws.asmx"
              cacheName="None" cacheExpires="00:30:00">
      <!-- Cache Name: Local | Distributed | None -->
      <applications>
        <add id="abe75810-3cd1-454e-adf6-0f7662c9427c" name="Newegg Central" />
        <add id="e9ea33df-b960-4d02-a766-955e424e9b2a" name="NESO" />
        <add id="056b084e-1b2c-4a8a-b977-6985951e9e0a" name="RMAInbound" />
        <add id="4014cbd3-d77b-4252-bbce-7c172df123c0" name="NEPO" />
        <add id="99c5589c-5276-4e29-968f-8de6e07327ea" name="EDI" />
        <add id="1c4dda50-7a15-45dd-9d1f-4fade9bb0762" name="PromotionCenter" />
        <add id="05ae7d7b-dda8-4ba3-a69c-c844d52c00b5" name="Acct" />
        <add id="62c92489-2629-4c50-adc7-34f22366c136" name="ExternalMarketplace" />
      </applications>
    </keystone>
  </oversea>

  <faqSetting>
    <faqServices>
      <faqService url="http://D2web04:8101/Portal/Service/Framework/V50/CommonService.svc"></faqService>
      <faqService url="http://D2web04:8101/Portal/Service/Framework/V50/KeystoneAuthService.svc"></faqService>
      <faqService url="http://D2web04:8101/Portal/Service/Framework/V50/LogService.svc"></faqService>
      <faqService url="http://D2web04:8101/Portal/Service/Framework/V50/ProfileService.svc"></faqService>
    </faqServices>
    <faqDBs>
      <faqDB connectionString="data source=localhost;database=NeweggCentral;user id=sqlreadonly;password=Read4all;connection lifetime=600; min pool size=0; max pool size=50" dbInstanceName="localhost" dbName="NeweggCentral" execSql="SELECT 1"></faqDB>
    </faqDBs>
  </faqSetting>

  <system.web>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"/>

    <compilation debug="false" targetFramework="4.0" />

    <sessionState timeout="120" />

    <authentication mode="Forms">
      <forms name="FormsAuth" defaultUrl="~/Default.aspx" slidingExpiration="true" loginUrl="~/Default.aspx" cookieless="UseCookies" timeout="70080" />
    </authentication>

    <machineKey
      validationKey="F6926E95374B97E5E6230A14368BD63A2DBC837D8E8937EE706BB9FAB9F56C208C32E918A8040D8B4EBFFC4C5F27EA2754157934C3370D497BD1AD256C2BC1C0"
      decryptionKey="0A5A6475E5F5E8C382E5C49859B04F141C91AEDDE0E65F94279BEC68D26B30C2"
      validation="SHA1" decryption="AES"/>

    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>

  <!--CRL18175-->
  <location path="WebResources">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="ClientBin/Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ClientBin/ControlPanel.SilverlightUI.xap">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Service">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" />

    <bindings>
      <basicHttpBinding>
        <binding name="ControlPanel_WebHost_BasicHttpBinding" bypassProxyOnLocal="true"
				 maxBufferSize="65536000" maxReceivedMessageSize="65536000" useDefaultWebProxy="false"
				 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="100" maxStringContentLength="99999990" maxArrayLength="99999990"/>
          <security>
            <transport proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://neg-app-shareapp/WebService.V10.2008020501/EmailServiceCenterProxy.asmx"
					binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
					contract="EmailCenterService.IEmailServiceCenterProxy" name="BasicHttpBinding_IEmailServiceCenterProxy" />
    </client>
  </system.serviceModel>
</configuration>
