<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="restWebHttpBehavior" type="Newegg.Oversea.Framework.WCF.Behaviors.RestWebHttpBehaviorExtensionElement, Newegg.Oversea.Framework.WCF" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ControlPanel_WebHost_ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="90000000"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="HelpBehavior">
          <webHttp helpEnabled="true" faultExceptionEnabled="True" automaticFormatSelectionEnabled="True" />
          <restWebHttpBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>


    <bindings>
      <basicHttpBinding>
        <binding name="ControlPanel_WebHost_BasicHttpBinding" bypassProxyOnLocal="true"
				 maxBufferSize="65536000" maxReceivedMessageSize="65536000" useDefaultWebProxy="false"
				 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="100" maxStringContentLength="99999990" maxArrayLength="99999990"/>
          <security>
            <transport proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="ControlPanel_WebHost_WebHttpBinding" allowCookies="false" bypassProxyOnLocal="true"
				 maxBufferSize="65536000" maxReceivedMessageSize="65536000" useDefaultWebProxy="false"
				 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="10" maxStringContentLength="9999990" maxArrayLength="9999990"/>
          <security>
            <transport proxyCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.KeystoneAuthService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="KeystoneAuthService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces.IKeystoneAuthV41" />
      </service>


      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.DataMonitorService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="DataMonitorService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces.IDataMonitor" />
      </service>

      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.CommonService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="CommonService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces.ICommonServiceV40" />
      </service>

      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.ConfigurationService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="ConfigurationService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces.IConfigurationServiceV40"  />
      </service>

      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.ProfileService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="ProfileService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces.IProfileV40" />
      </service>


      <service name="Newegg.Oversea.Framework.LoggingService.MaintainLogConfigService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="MaintainLogConfigService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Framework.LoggingService.ServiceInterfaces.IMaintainLogConfig"/>
      </service>

      <service name="Newegg.Oversea.Framework.LoggingService.QueryLogConfigService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="QueryLogConfigService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Framework.LoggingService.ServiceInterfaces.IQueryLogConfig"/>
      </service>

      <service name="Newegg.Oversea.Framework.LoggingService.QueryLogService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="QueryLogService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Framework.LoggingService.ServiceInterfaces.IQueryLogEntry"/>
      </service>

      <service name="Newegg.Oversea.Framework.LoggingService.LogService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="LogService" binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding"
                  contract="Newegg.Oversea.Framework.LoggingService.ServiceInterfaces.IWriteLog"/>
      </service>


      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.MenuRestService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="MenuRestService" binding="webHttpBinding" bindingConfiguration="ControlPanel_WebHost_WebHttpBinding" behaviorConfiguration="HelpBehavior"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.MenuRestService" />
      </service>

      <service behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior" name="Newegg.Oversea.Framework.EmailService.MailManager">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ControlPanel_WebHost_BasicHttpBinding" name="EdpSendEmail"
                  contract="Newegg.Oversea.Framework.EmailService.ServiceInterfaces.ISendEmail"/>
      </service>

      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.MailRestService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="MailRestService" binding="webHttpBinding" bindingConfiguration="ControlPanel_WebHost_WebHttpBinding" behaviorConfiguration="HelpBehavior"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.MailRestService" />
      </service>

      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.StatisticService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="StatisticService" binding="webHttpBinding" bindingConfiguration="ControlPanel_WebHost_WebHttpBinding" behaviorConfiguration="HelpBehavior"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.StatisticService" />
      </service>

      <service name="Newegg.Oversea.Silverlight.ControlPanel.Service.RetrievalPasswordService" behaviorConfiguration="ControlPanel_WebHost_ServiceBehavior">
        <endpoint name="RetrievalPasswordService" binding="webHttpBinding" bindingConfiguration="ControlPanel_WebHost_WebHttpBinding" behaviorConfiguration="HelpBehavior"
                  contract="Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces.IRetrievalPassword" />
      </service>
      
    </services>
  </system.serviceModel>
</configuration>
