<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
	</configSections>

	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>

	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="InventoryMgmt"/>
		<dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config"/>
	</oversea>
	<appSettings>    
		<!--邮件发送信息-->
		<add key="ConsumerName" value="CN.OrderMgmt.UI.IPP01"/>
		<add key="MailFrom" value="misalert@newegg.com"/>
		<add key="CCMailAddress" value="Nolan.Q.Chen@newegg.com;Tom.D.Zhou@newegg.com;Freegod.L.Xu@newegg.com"/>
		<add key="BCMailAddress" value=""/>
		
		<!--以下五项为JOB中调用WCF服务时所使用到的信息-->
		<add key="UserDisplayName" value="System"/>
		<add key="UserLoginName" value="System"/>
		<add key="CompanyCode" value="8601"/>
		<add key="StoreCompanyCode" value="8601"/>
		<add key="StoreSourceDirectoryKey" value="bitkoo"/>

    <!--<add key="CommonRestFulBaseUrl" value="http://localhost:778/CommonService/"/>-->
    <add key="CommonRestFulBaseUrl" value="http://eccsvc.oysd.cn.pre/CommonService/"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
