<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--格式：Sender_仓库编号_字段名称-->
  <add key="Sender_52_SenderName" value="賴冠仁"/>
  <add key="Sender_52_SenderTel" value="54225258"/>
  <add key="Sender_52_SenderCompanyName" value="网信（香港）有限公司"/>
  <add key="Sender_52_SenderAddr" value="香港新界元朗工業村福喜街67-73號"/>
  <add key="Sender_52_SenderZip" value="999077"/>
  <add key="Sender_52_SenderCity" value="香港"/>
  <add key="Sender_52_SenderProvince" value="中国香港"/>
  
  <add key="Sender_51_SenderName" value="GuoRui Xu"/>
  <add key="Sender_51_SenderTel" value="03-3560-8543"/>
  <add key="Sender_51_SenderCompanyName" value="大昌行日本株式会社"/>
  <add key="Sender_51_SenderAddr" value="DAH CHONG No.2 BLDG.5F Roppongi 5-18-2 Minato-ku Tokyo"/>
  <add key="Sender_51_SenderZip" value="106-0032"/>
  <add key="Sender_51_SenderCity" value="Minato-ku Tokyo"/>
  <add key="Sender_51_SenderProvince" value="Tokyo"/>
</appSettings>
