<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--以备货时间拆单，差多少天（含）以内不拆单-->
  <add key ="Shopping_SplitLeadTimeDiff" value="0"/>
  <!--配送时间，以仓库号为准-->
  <add key="Shopping_ShippingDays_51" value="7" />
  <add key="Shopping_ShippingDays_52" value="7" />
  <add key="Shopping_ShippingDays_53" value="7" />
</appSettings>
