<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="AlertUpdatePassword" 
       value="您刚刚修改了登录密码。如果不是您本人修改，为保障您账户安全，请及时联系泰隆优选客服。客服热线400-019-6575"/>
  <add key="AlertConfirmPhoneCode"
       value="您于{0}在泰隆优选申请找回登录密码。动态验证码：{1}"/>
  <add key="CreateConfirmPhoneCode" value="您于{0}在泰隆优选申请验证手机。动态验证码：{1}"/>
</appSettings>
