<?xml version="1.0"?>
<appSettings>
  <!--类别属性数量-->
  <add key="MaxCategoryPropertyCount" value="10"/>
  <!--类别属性展示数量-->
  <add key="MaxCategoryPropertyShowCount" value="3"/>
  <!--景点(娱乐)-->
  <add key="MaxRecommendCountViewPoint" value="8"/>
  <!--线路-->
  <add key="MaxRecommendCountLine" value="10"/>
  <!--客栈-->
  <add key="MaxRecommendCountHotal" value="10"/>
  <!--特产-->
  <add key="MaxRecommendCountSpecialProduct" value="10"/>
  <!--社区美图-->
  <add key="MaxRecommendCountSNS" value="8"/>

  <add key="DetailHaveGo" value="12"/>
  <add key="DetailTripTools" value="44"/>
  <add key="ActivitySysNo" value="53"/>

  <add key="UploadImagePath" value="../upload/UploadImages"/>
  <add key="ArticleAttachment_ThumbnailWidth" value="150"/>
  <add key="ArticleAttachment_ThumbnailHeight" value="100"/>

  <add key="ArticleRelation_LinkFormatUrl" value="/Pages/Detail/Article.aspx?Sysno={0}|CategorySysNo={1}"/>

  <add key="EMS_SNS_UploadUrl" value="http://%ems517_upload_url%/Upload.aspx"/>
</appSettings>