<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="DefaultImages">
    <item name="特产" code="http://%ems517_url%/WebResources/Nest/img/icon_special.png" />
    <item name="路线" code="http://%ems517_url%/WebResources/Nest/img/icon_location.png" />
    <item name="交通" code="http://%ems517_url%/WebResources/Nest/img/icon_car.png" />
    <item name="娱乐" code="http://%ems517_url%/WebResources/Nest/img/icon_entertainment.png" />
    <item name="景点" code="http://%ems517_url%/WebResources/Nest/img/icon_scene.png" />

    <item name="外部交通" code="http://%ems517_url%/WebResources/Nest/img/icon_schoolbus.png" />
    <item name="内部交通" code="http://%ems517_url%/WebResources/Nest/img/icon_car.png" />
    <item name="旅游攻略" code="http://%ems517_url%/WebResources/Nest/img/icon_userguide.png" />
    <item name="票务信息" code="http://%ems517_url%/WebResources/Nest/img/icon_ticket.png" />
    <item name="景区地图" code="http://%ems517_url%/WebResources/Nest/img/icon_route.png" />

    <item name="餐饮" code="http://%ems517_url%/WebResources/Nest/img/icon_food.png" />
    <item name="其他" code="http://%ems517_url%/WebResources/Nest/img/icon_other.png" />
    <item name="语音" code="http://%ems517_url%/WebResources/Nest/img/icon_guidevoice.png" />
    <item name="酒店" code="http://%ems517_url%/WebResources/Nest/img/icon_hotel.png" />
  </codeNamePair>

  <codeNamePair key="WatermarkImagePath">
    <!--<item name="宣传网" code="F:\Project\ECCentral\Portal\WebResources\Images\ems517WaterMarkImage.png" />-->
    <item name="宣传网" code="Style/Images/ems517WaterMarkImage.png" />
  </codeNamePair>
  
  <codeNamePair key="ContentRecommendPosition">
    <item name="宣传网首页-动态资讯" code="1000"></item>
    <item name="宣传网首页-文化之旅" code="1001"></item>
    <item name="宣传网首页-热门活动" code="1002"></item>
    <item name="宣传网首页-常年活动" code="1003"></item>
    <item name="宣传网首页-活动回顾" code="1004"></item>
  </codeNamePair>

</codeNamePairList>