<script src="~/Content/third/ueditor/editor.js"></script>
<script src="~/Content/third/ueditor/editor_config.js"></script>
<link href="~/Content/third/ueditor/themes/default/ueditor.css" rel="stylesheet" />

<div class="modal-header" style="background-color: #4b8df8;">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
    </button>
    <h4 class="modal-title">Html编辑器</h4>
</div>

<div class="modal-body">
    <div class="Row">
         <input type="hidden" id="HtmlEditorDialogContent" value="" />
          <script type="text/plain" id="ElementEditor" style="width: 100%; height: 500px"></script>
    </div>
    <div class="Row">
        <div class="col-md-offset-5">
            <a class="btn green" id="SaveBtn"><i class="fa fa-save"></i>保存</a>
        </div>
    </div>
</div>

<script type="text/javascript">

    UEDITOR_CONFIG.zIndex = 11000;
    var editor = new UE.ui.Editor({
        minFrameHeight: 400
    });
    UEDITOR_CONFIG.zIndex = 999;

    editor.render('ElementEditor');

    $("#SaveBtn").click(function () {
        $("#HtmlEditorDialogContent").val(editor.getContent());
    })

    editor.ready(function () {
        editor.setContent($("#HtmlEditorDialogContent").val());
    });
</script>
