<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="GetAllTopItemList" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
	SELECT  P.ProductID
			,P.SysNo AS ProductSysNo
			,P.ProductName AS ProductName
			,UserView.EmailAddress
			,UserView.UserSysNo
			,Sort.CategorySysNo
	FROM OverseaECommerceManagement.dbo.Product_ECSortingOrder Sort WITH(NOLOCK)
			INNER JOIN OverseaContentManagement.dbo.V_CM_ItemCommonInfo P WITH(NOLOCK)
				ON (Sort.ProductSysNo = P.SysNo AND P.CompanyCode = @CompanyCode)
			INNER JOIN OverseaECommerceManagement.dbo.Product_ECTopStoreMail TM WITH(NOLOCK)
				ON (TM.CategorySysNo = Sort.CategorySysNo AND TM.CategoryType = Sort.CategoryType AND TM.CompanyCode = @CompanyCode)
			LEFT JOIN OverseaInventoryManagement.dbo.V_INM_UserInventory I WITH(NOLOCK)
				ON P.SysNo = I.ItemSysNumber AND I.CompanyCode = @CompanyCode
			LEFT JOIN [OverseaArchitecture].[dbo].[V_AR_UserInfo] UserView WITH(NOLOCK)
				ON P.PMUserSysNo = UserView.[UserSysNo] AND UserView.CompanyCode = @CompanyCode 
	WHERE I.OnlineQty <= 0 AND P.Status = 1 AND TM.ISSendMailStore='A' AND Sort.CompanyCode = @CompanyCode
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="String" size="50"/>
    </parameters>
  </dataCommand>
	
  <dataCommand name="GetEmailAddressByCategorySysNo" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
	SELECT TOP 1 UserView.EmailAddress FROM IPP3.dbo.Sys_Log L WITH(NOLOCK)
	LEFT JOIN [OverseaArchitecture].[dbo].[V_AR_UserInfo] UserView WITH(NOLOCK)
	ON L.OptUserSysNo = UserView.[UserSysNo] AND UserView.CompanyCode = @CompanyCode 
	WHERE L.TicketSysNo = @CategorySysNo AND L.TicketType = 113042
	ORDER BY OptTime DESC
	 ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="String" size="50"/>
      <param name="@CategorySysNo" dbType="Int32"/>
    </parameters>
  </dataCommand>
	
  <dataCommand name="GetCategoryList" database="OverseaECommerceManagement" commandType="Text">
    <!--定义SQL语句-->
    <commandText>
      <![CDATA[
	SELECT DISTINCT(A.CategorySysNo) AS CategorySysNo, C.CategoryName
		FROM OverseaECommerceManagement.dbo.Product_ECSortingOrder A WITH(NOLOCK)
		INNER JOIN OverseaContentManagement.dbo.V_CM_ItemCommonInfo P WITH(NOLOCK)
	 ON (A.ProductSysNo = P.SysNo AND P.CompanyCode = @CompanyCode)
		INNER JOIN OverseaECommerceManagement.dbo.Product_ECTopStoreMail TM WITH(NOLOCK)
	 ON (TM.CategorySysNo = A.CategorySysNo AND TM.CategoryType = A.CategoryType AND TM.CompanyCode = @CompanyCode)
		LEFT JOIN OverseaInventoryManagement.dbo.V_INM_UserInventory I WITH(NOLOCK)
	 ON P.SysNo = I.ItemSysNumber AND I.CompanyCode = @CompanyCode
		LEFT JOIN OverseaContentManagement.dbo.V_CM_CategoryNode C WITH(NOLOCK)
	 ON A.CategorySysNo = C.SysNo AND C.CompanyCode = @CompanyCode
	WHERE (I.OnlineQty <= 0 OR I.ItemSysNumber IS NULL )
	AND P.Status = 1 AND TM.ISSendMailStore='A' 
	AND A.CompanyCode = @CompanyCode
	  ]]>
    </commandText>
    <parameters>
      <param name="@CompanyCode" dbType="String" size="50"/>
    </parameters>
  </dataCommand>
	
</dataOperations>