<?xml version="1.0"?>
<mailTemplate>
  <id>SO_ActivateElectronicGiftCard</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      您购买的泰隆优选电子礼品卡已经成功激活
    ]]>
  </subject>
  <body>
    <template  reference="Templates\SO_ActivateElectronicGiftCard.zh-CN.htm"  />
  </body>
</mailTemplate>

