<?xml version="1.0"?>
<mailTemplate>
  <id>SO_Abandon</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      泰隆优选-订单(<%=SOSysNo%>)作废通知
      ]]>
  </subject>
  <body>
    <template  reference="Templates\Customer_Header.zh-CN.htm"  />
    <template  reference="Templates\SO_Abandon.zh-CN.htm"  />
    <template  reference="Templates\Product.zh-CN.htm"  />
    <template  reference="Templates\Customer_Footer.zh-CN.htm"  />
  </body>
</mailTemplate>
