<?xml version="1.0"?>
<mailTemplate>
  <id>SO_CommentNotify</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      您在泰隆优选的订单SO#<%=SOSysNo%>--欢迎评论送积分了
      ]]>
  </subject>
  <body>
    <template  reference="Templates\Customer_Header.zh-CN.htm"  />
    <template  reference="Templates\SO_CommentNotify.zh-CN.htm"  />
    <template  reference="Templates\Product.zh-CN.htm"  />
    <template  reference="Templates\Customer_Footer.zh-CN.htm"  />
  </body>
</mailTemplate>

