<?xml version="1.0"?>
<mailTemplate>
  <id>SO_InternalMemoReport</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      订单跟进日志的解决率报表-<%=#Time#%>
    ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
      <html xmlns="http://www.w3.org/1999/xhtml">
      <head>
          <title></title>
      </head>
      <body style="background: #FFF;font-size: 9pt;">
      <table border=1 cellpadding='0' cellspacing='0' >
          <tr>
          <th>User</th>
          <th>Count</th>
          <th>Resolved</th>
          <th>UnResolved</th>
          <th>Rate</th>
          </tr>
          <%TABLE_ROWS_BEGIN ID=tbData%>
          <tr>
              <td>
              <%=UserName%>
              </td>
              <td>
              <%=Count%>
              </td>
              <td>
              <%=ResolvedCount%>
              </td>
              <td>
              <%=UnResolvedCount%>
              </td>
              <td>
              <%=ResolvedRate%>
              </td>
          </tr>
          <%TABLE_ROWS_END ID=tbData%>
      </table>
      </body>
      </html>
      ]]>
    </template>
  </body>
</mailTemplate>
