<?xml version="1.0"?>
<mailTemplate>
  <id>SO_ReplyComplainEmail</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      回复：<%=Title%>[Case ID－<%=SysNo%>]
      ]]>
  </subject>
  <body>
    <template>  
    <![CDATA[
        <%=Content%>
      ]]>
    </template>
  </body>
</mailTemplate>

