<?xml version="1.0"?>
<mailTemplate>
  <id>SO_ShipOut_UserAddExperience</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      经验值变化提醒邮件
      ]]>
  </subject>
  <body>
    <template  reference="Templates\SO_ShipOut_UserAddExperience.zh-CN.htm"  /> 
  </body>
</mailTemplate>

