<?xml version="1.0" encoding="utf-8" ?>
<mailTemplateConfig xmlns="http://www.ECommerce.com/mail">
  <mailTemplate templateID="PO_AutoCloseMail"  subject="PO关闭邮件">
    <body>
      <![CDATA[ 
      <style type='text/css'>
        #logImg
        {
        	-moz-background-clip:border;
        	-moz-background-inline-policy:continuous;
        	background:transparent url(http://c1.neweggimages.com.cn/WebResources/2009/Default/Nest/common/logo.gif) no-repeat scroll 0 0;
        	display:inline;
        	float:left;
        	height:53px;
        	margin-left:3px;
        	width:254px
        }
    </style>
    <table>
    <tr>
    <td>
    
    <div id='emailContent'>
                         <center> 
                          <TABLE class='print_head' id='tableHead' width='90%'>
                              <TR>
                                <TD align='center' colSpan='3'>
                                   <font size='4'><strong>采购单关闭通知</strong></font>
                                </TD>
                           </TR>
                           <tr>
                        <TD align='center'><div id='logImg'></div></TD>
                          <TD align='left'>
                           <table ID='Table1'>
                           <tr  <%=displayNo%>  >
                           <td>流水号</td>
                          </tr>
                           <tr>
                               <td> <%=CompanyName%></td>
                         </tr>
                          <tr>
                            <td><%=CompanyAddress%></td>
                          </tr>
                          <tr>
                           <td><%=CompanyTel%></td>
                           </tr>
                          <tr>
                           <td><%=CompanyWebSite%></td>
                               </tr>
                             </table>
                          </TD>
                         <td align='right' valign='top'>
                                <table ID='Table2'>
                               <tr <%=displayNo%> >
                                  <td>
                                                  <%=numberString%>
                                    </td>
                                  </tr>
                                      <td>#<%=entity.POID%></td>
                                  </tr>
                              <tr><td></td></tr>
                                    <TR><TD><FONT face='宋体'>关闭日期</FONT></TD></TR>
                                       <TR><TD><FONT face='宋体'><%=DateTime.Now%></FONT></TD></TR>
                                 </table>
                           </td>
                        </TR>
                        <tr><td colspan='3'><table width='100%'><tr align=left><td colspan='2'><b>供货商：</b></td><td colspan='2'><b>收货到：</b></td>
                                     </tr>
                                     <tr align=left>
                                     <td width='5%'></td>
                         	            <td width='45%'> <%=vendor.VendorName%> (<%=vendor.SysNo%>)</td>
                                     <td width='5%'></td>
                                     <td width='45%'> <%=CompanyName%> </td>
                                    </tr> 
                                  <tr align=left>
                                    <td></td>
                                    <td> <%=vendor.Address%> </td>
                                      <td></td>
                                        <td><%=StockAddress%></td>
                                      </tr>
                                    <tr align=left>
                                      <td></td>
                                      <td><%=vendor.Contact%></td>
                          	            <td></td>
                                     <td><STRONG>联系人：</STRONG><%=StockContact%></td>
                                      </tr>
                                      <tr align=left>
                          	            <td></td>
                         	            <td><%=vendor.Phone%>  FAX :  <%=vendor.Fax%></td>
                                     <td></td>
                                     <td><STRONG>电话:</STRONG><%=StockTel%></td>
                                      </tr>
                                   </table>
                                </td>
                            </tr>
                             <tr>
                                <td colspan='3'>
                                    <table width='100%'>
                                    <tr align=left>
                                      <td width='50%'><b>入库时间：</b>
                                         <%=entity.InTime%>
                                      </td>
                          	            <td><b>我方采购员：</b><%=PMName%></td>
                                     </tr><tr align=left><td width='50%'><b>付款方式：</b><%=entity.PayTypeName%></td>
                                      <td><b>供方销售员：</b><%=vendor.Contact%></td>
                                      </tr>
                                      <tr align=left>
                          	            <td width='50%'><b>送货方式：</b>
                                              <%=shipTypeString%>
                                                 </td>
                          		            <td><STRONG>货币种类：</STRONG>&nbsp;&nbsp;&nbsp;  <%=CurrencyName%></td>
                                      </tr>
                                      <tr align="left">
							                            <td width="50%">采购仓库：<%=StockName%></td>
							                            <td>送达时间：<%=ETATime%></td>
							                        </tr>
                                     </table>
                                 </td>
                              </tr>
                             <tr align='left'>
                                 <td colspan='3'>备注：<%=entity.Memo%></td>
                              </tr>
                             <tr align='left'>
                               <td colspan='3'>入库备注：<%=entity.InStockMemo%></td>
                              </tr>
                            <tr align='left'>
                                 <td colspan='3'>关闭理由：超时间未送货系统自动关闭</td>
                            </tr>
                 </table>
               </center> <hr SIZE='1'>
              <table width='100%' ID='Table8'><tr><td align='right'>本页小计：</td>
                				            <td width='120' align='left'>
                                              <%=totalInPage%>
                                         </td></tr>
                 		            <TR>
                 			            <TD align='right'><font size='4'><%=totalReturnPoint%> &nbsp; 总和：</font></TD>
                                            <TD align='left' width='120'  ><font size='4'><%=totalAmt%></font></TD>
                                      </TR>
                                   </table>	
              <hr>
             <center>
              <table height='200' width='90%' ID='Table3'>
                        <tr valign='top'>
                          <td>
              	            <TABLE id='tableBody' width='100%' border='1' class='print_body'>
              				            <TR>
              				            <TD align='center' style='font-size:13px'><STRONG>商品编号</STRONG></TD>
              					            <TD align='center' style='font-size:13px'><STRONG>型号 </STRONG></TD>
             					            <TD align='center' style='font-size:13px'><STRONG>商品名称</STRONG></TD>
             					            <TD align='center' style='font-size:13px'><STRONG>采购价</STRONG></TD>
            					            <TD align='center' style='font-size:13px'><STRONG>原始采购数量</STRONG></TD>
            					            <TD align='center' style='font-size:13px'><STRONG>实际入库数量</STRONG></TD>
           				                <TD align='center' style='font-size:13px'><STRONG>原始小计</STRONG></TD>
             					            <TD align='center' style='font-size:13px'><STRONG>实际小计</STRONG></TD>
              			            </TR>
           
           <%TABLE_ROWS_BEGIN ID=tblProductItemsList%>
           
              <TR>
                               <TD nowrap style='font-size:13px' align='left'>
                                                                                 <%=item.ProductID%> <%=tem.IsVirtualStockProduct%>

                              </TD>
                             <TD style='font-size:13px' align=left> <%=item.ProductMode%> </TD>
                             <TD style='font-size:13px' align=left> <%=item.BriefName%>
                             </TD>
                             <TD align='right' style='font-size:13px' >
                              <%=entity.CurrencySymbol%>  <%=item.OrderPrice%>
                             </TD>
                             <TD align='right' style='font-size:13px'>
                             <%=item.PurchaseQty%>
                              </TD>
                             <TD align='right' style='font-size:13px'><%=item.Quantity%>
                              
                             </TD>
                             <td style='font-size:13px' align=left> <%=item.PurchaseQtyOrderPrice%></td>
                             <td style='font-size:13px' align=left><%=item.QuantityOrderPrice%></td>
                             </TR>
           <%TABLE_ROWS_END ID=tblProductItemsList%>
           

              		            </TABLE>
              	            </td>
                          </tr>
                       </table>
               </center>
              <hr />
               <div>若仍需继续送货，请联系我方采购员重开采购单。</div>
                <center><hr SIZE='1'>&nbsp;</center>
         
         
           <center>配件信息</center>
        <center>
         
        <table width='90%' id='Table7'>
         <tr valign='top'>
            
            <td style='height: 117px'>
               <table id='Table6' width='100%' border='1' class='print_body'>
               <tr>
                 
                   <td align='center' style='font-size: 13px; height: 19px;'>
                     
                   <strong>商品编号</strong>
                    </td>
                  <td align='center' style='font-size: 13px; height: 19px;'>
                  
                     <strong>配件(ID&amp;Name)</strong>
                    </td>
                   <td align='center' style='font-size: 13px; height: 19px;'>
                     
                   <strong>数量</strong>
                    </td>
                   
                  </tr>
                  <%TABLE_ROWS_BEGIN ID=tblProductAccessoryList%>
                  <tr>
                        <td nowrap style='font-size: 13px' align=left>
                             <%=ProductID%>  </td>
                        <td style='font-size: 13px' align=left>
                           [ <%=AccessoriesID%>] <%=AccessoriesIDAndName%></td>
                        <td style='font-size: 13px' align=left>
                              <%=Qty%></td>
                  </tr>
                  <%TABLE_ROWS_END ID=tblProductAccessoryList%>
                  </table></td></tr></table></center>
         
         
                
         
         
               <center><br /><table align='center' width='90%'><tr width='100%'><td align='center'>
                          <table width='100%'><tr><td ><hr></td><td width='100' align='center'>
                           <strong>供应商送货须知</strong></td><td ><hr></td></tr></table>
                        </td>
                        </tr>
                        <tr width='100%'><td align='left' ><p>
                        
                        1．供应商送货到泰隆优选仓库，应遵守泰隆优选收货流程,根据规定履行签收手续；否则泰隆优选仓库有权拒收货品；<br>
								        2．送货必须知道泰隆优选采购单号，否则收货员将优先收取能够提供采购单号的配送单；<br>
								        3．<font size='2'><b>增值税发票上必须标明对应的采购单号，否则可能会影响正常付款；</b></font><br>
								        4．所有货物必须保证包装完好、品相全新，否则泰隆优选仓库将拒收。特殊情况在送货前与泰隆优选采购人员确认；<br>
                        5．请确保发票的规格型号一栏内容和实际货物一致，否则财务将拒收发票并暂停付款；<br>
								        6．送货前，请务必保证送货产品与泰隆优选采购单一致，以避免因修改订单产生的延误。需核对要点如下：<br>
								            &nbsp;&nbsp;1)名称；  2)规格；  3)型号； 4)颜色；5)数量；<br>
								        7．为规范我司工作人员行为举止，避免在与公司相关的各类经济业务活动中，一切不正直、不正当、甚至违法<br>
								            &nbsp;&nbsp;犯罪行为的发生；亦同时维护各位自身利益,保障公平合理的经营环境,我司申诉中心特设举报、投诉热线如下：<br>
								            &nbsp;&nbsp;021-6225-1937(中国大陆)&nbsp;+86-21-6225-1937(国外及台湾地区拨打)<br>
								            &nbsp;&nbsp;请在听到录音提示后留言。我司申诉中心人员会定期检查留言信箱。当接到投诉之后，会遵循保密、客观的原则进行调查。谢谢合作！
                
                           </td>
                         </tr></table><table id='Table4' width='90%'><tr><td colSpan='3'><hr width='100%' size='1'></td>
              	            </tr>
                        <tr><td colSpan='3' height='5' align=left>有无增票:____________________</td>
              	       </tr>
                         <tr><td width='60%' align='left'>异常收货:_______________________________</td><td align='right'>审核人签名（章）：</td><td align='left'>__________________</td>
                          </tr><tr><td height='5' colspan='3'></td></tr><tr><td width='60%' align=left>_______________________________________</td>
              	            <td align='right'>签收日期：</td><td align='left'>__________________</td></tr></table></center>
               </div>
            </td>
         </tr>
      </table>
    ]]>
    </body>
  </mailTemplate>

  <mailTemplate templateID="SO_OutStock"  subject="泰隆优选-订单({0})出货通知">
    <body>
      <![CDATA[
   <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>订单出货通知</title>
<style type="text/css">
*{ margin:0; padding:0;}
body{ background:#f5f5f5; color:#333333; font-size:14px; font-family: "microsoft yahei", Arial, Helvetica, SimSun;}
</style>

</head>

<body>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; background-color:#ffffff;">
  <tr>
    <td><a href="###"><img src="http://www.tlyh.com/Resources/themes/default/nest/img/logo2.png" width="215" height="88" border="0" alt="泰隆优选 KJT.com" /></a></td>
    <td width="467" valign="top"><div style="margin-top:30px;margin-right:26px;text-align:right;color:#e03357;font-weight:bold; line-height:22px;"><span style="font-size:20px; line-height:22px;">400-921-8899</span><br /><span style="font-size:12px; line-height:22px;">周一到周日 09:00-24:00</span></div></td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;border-top:1px solid #eee;border-bottom:2px solid #c40000;font-size:14px;font-weight:normal;color:#EAEAEA; background-color:#fbfbfb; text-align:center;" bgcolor="#fbfbfb">
  <tr>
    <td width="15" height="39">&nbsp;</td><td width="70"><a style="color:#434343; text-decoration:none; font-weight:bold;" href="http://www.tlyh.com/">首 页</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="http://www.tlyh.com/product/searchresult?tt=0">产地直销</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="http://www.tlyh.com/product/searchresult?tt=1">进口商品</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="http://www.tlyh.com/BrandList">品牌特卖</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="http://www.tlyh.com/countdown">抢购专区</a></td><td>|</td><td><a style="color:#434343; text-decoration:none; font-weight:bold;" href="http://www.tlyh.com/groupbuying">精品团购</a></td><td width="15" height="39">&nbsp;</td>
  </tr>
</table>
<table align="center" width="682" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto; color:#333333; background:#fff;">

    <td style="padding-left:21px; padding-right:21px;  color:#333333;">
    	
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="height:65px; font-size:22px; font-weight:bold; font-family:microsoft yahei; color:#e03357;">订单出货通知</td>
          </tr>
          <tr>
            <td style="padding-left:5px; padding-right:5px;">尊敬的泰隆优选会员 <%=CustomerID %>：</td>
          </tr>
          <tr>
            <td style="padding-left:5px; text-indent:2em; padding-right:5px; padding-top:13px; padding-bottom:10px;"><p style="line-height:22px;">欢迎您来泰隆优选购物！您所订购的商品目前已出库，请您耐心等待。您也可以至您的<a style="color:#e03357;" href="http://www.tlyh.com/memberorder/index">账户中心</a>确认订单状态。</p></td>
          </tr>
          <tr>
            <td style="padding-left:5px;  text-indent:2em; padding-bottom:10px;">您的订单编号：<strong style="color:#e03357;"><%=SOID %></strong>&nbsp;<!--<a style="color:#e03357;" href="#">[查看订单]</a>--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单时间：<%=OrderTime %> </td>
          </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="background:#FFF4F2; line-height:20px; border:1px solid #FEA7B6; font-size:12px;">
          <tr>
            <td style="padding:10px 15px 5px;"><strong>为了保证您的权益温馨贴士：</strong></td>
          </tr>
          <tr>
            <td style="padding:8px 15px 0;">1、&quot;订单成功提交&quot;仅代表泰隆优选已收到了您提交的订单，只有您订单通过了确认审核后，我们双方的订购合同才成立。</td>
          </tr>
          <tr>
            <td style="padding:8px 15px 0;">2、请在收到货物时认真检查外包装以及印有泰隆优选（泰隆优选入驻商户）LOGO的封带是否完好，如果外包装有明显损坏或封带有撕开过的迹象，您可以直接拒收该货物，并及时通知我们，泰隆优选会及时为您处理相关事宜。</td>
          </tr>
          <tr>
            <td style="padding:8px 15px 13px;">3、如果您已经签收到了货物，再提出因为外包装或封带有损而要求退货，恕我们不能受理，谢谢您的理解与配合，祝您购物愉快。</td>
          </tr>
        </table>
      <table border="0" cellspacing="0" cellpadding="0" width="100%" style=" font-size:12px; line-height:20px;">
          <tr>
            <td colspan="2" style="color:#e03357; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>收货人信息</b></td>
          </tr>
          <tr>
            <td width="70" style=" padding-left:8px;">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</td>
            <td width=""><%=InvoiceHeader%></td>
          </tr>
          <tr>
            <td width="70" style=" padding-left:8px;">联 系 人：</td>
            <td width=""><%=ReceiveName%></td>
          </tr>
          <tr>
            <td style="padding-left:8px;">收货地址：</td>
            <td><%=CityName%> &nbsp;<%=DistrictName%> &nbsp;<%=ReceiveAddress%></td>
          </tr>
          <tr>
            <td style="padding-left:8px;">邮政编码：</td>
            <td><%=ReceiveZip%></td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;">电话号码：</td>
            <td style="padding-bottom:10px;"><%=ReceivePhone%></td>
          </tr>
          <!-- <tr>
            <td style="padding-left:8px; padding-top:10px;">配送方式：</td>
            <td style=" padding-top:10px;">圆通速递</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">付款方式：</td>
            <td>POS机刷卡</td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;border-bottom:1px solid #dcdcdc;">到货时间：</td>
            <td style="padding-bottom:10px;border-bottom:1px solid #dcdcdc;">2011-09-20&nbsp;&nbsp;上午</td>
          </tr>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px; padding-top:10px;">备注信息：</td>
            <td style="padding-bottom:10px; padding-top:10px;">用户填写的备注信息</td>
          </tr> -->
        </table>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:24px;">
          <tr>
            <td colspan="6" style="color:#e03357; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>您购买过的商品</b></td>
          </tr>
		  <tr style="background:#eeeeee;">
		  		<td width="80" align="center" style="padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">图片</td>
		  		<td width="100" align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">商品编号</td>
            <td align="center" style="padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;">商品名称</td>
            <td style="width:91px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">单价</td>
            <td style="width:50px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">数量</td>
            <td style="width:90px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;" align="center">小计</td>
          </tr>
    <%TABLE_ROWS_BEGIN ID=Items_Product%>
		   <tr style="background:#fff;">
          		<td align="center" valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><a href="<%=PagePath%>"><img src="<%=ImgSrc%>" width="50" height="50" border="0" /></a></td>
          		<td align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><p><%=ProductID%></p></td>
            <td valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;"><a href="#" style=" color:#e03357; text-decoration:none; line-height:18px;"><%=ProductName%></a></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Price%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Amount%></td>
          </tr>
    <%TABLE_ROWS_END ID=Items_Product%>
    <%TABLE_ROWS_BEGIN ID=Items_ExtendWarranty%>
  		   <tr style="background:#fff;">
          		<td align="center" valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><a href="<%=PagePath%>"><img src="<%=ImgSrc%>" width="50" height="50" border="0" /></a></td>
          		<td align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><p><%=ProductID%></p></td>
            <td valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;"><a href="#" style=" color:#e03357; text-decoration:none; line-height:18px;"><%=ProductName%></a></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Price%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Amount%></td>
          </tr>
    <%TABLE_ROWS_END ID=Items_ExtendWarranty%>
    <%TABLE_ROWS_BEGIN ID=Items_Accessory%>
	
	
	   <tr style="background:#FFF4F2;">
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
            <td valign="middle"  style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;line-height:18px;"><span style=" color:#c40000; padding-right:8px;">[附件]</span><%=ProductName%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
          </tr>
		  
    <%TABLE_ROWS_END ID=Items_Accessory%>
    <%TABLE_ROWS_BEGIN ID=Items_Gift%>
 	   <tr style="background:#FFF4F2;">
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
            <td valign="middle"  style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;line-height:18px;"><span style=" color:#c40000; padding-right:8px;">[赠品]</span><%=ProductName%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
          </tr>
    <%TABLE_ROWS_END ID=Items_Gift%>
    <%TABLE_ROWS_BEGIN ID=Items_SelfGift%>
    	   <tr style="background:#FFF4F2;">
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
            <td valign="middle"  style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;line-height:18px;"><span style=" color:#c40000; padding-right:8px;">[赠品]</span><%=ProductName%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
          </tr>
    <%TABLE_ROWS_END ID=Items_SelfGift%>
    <%TABLE_ROWS_BEGIN ID=Items_Award%>
   	   <tr style="background:#FFF4F2;">
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
            <td valign="middle"  style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;line-height:18px;"><span style=" color:#c40000; padding-right:8px;">[奖品]</span><%=ProductName%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;0.00</td>
          </tr>
    <%TABLE_ROWS_END ID=Items_Award%>
    <%TABLE_ROWS_BEGIN ID=Items_Coupon%>

			   <tr style="background:#fff;">
          		<td align="center" valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          		<td align="center" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee;"><p><%=ProductID%></p></td>
            <td valign="middle" style=" padding-left:5px; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-right:1px solid #eeeeee;"><a href="#" style=" color:#e03357; text-decoration:none; line-height:18px;"><%=ProductName%></a></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&yen;<%=Price%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;"><%=Quantity%></td>
            <td align="center" style=" border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;">&nbsp;</td>
          </tr>
    <%TABLE_ROWS_END ID=Items_Coupon%>

          <tr style="background:#fff;">
            <td colspan="6" style="border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; height:41px; text-align:center; font-weight:bold;" align="center">本单交易成功后您可以获得积分：<strong style="color:#c40000; font-size:12px; font-family:microsoft yahei;"><%=GainPoint%></strong></td>
          </tr>
		  <!-- <tr style="background:#fff;">
            <td colspan="6" style="border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; height:41px; text-align:right">商品金额：&yen;3799.00<span style="padding:0 5px;">+</span>运费：&yen;5.00<span style="padding:0 5px;">+</span>手续费：&yen;0.00<span style="padding:0 5px;">=</span><strong style="color:#f54f01; font-size:16px; font-family:microsoft yahei;">&yen;3804.00</strong></td>
          </tr> -->
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:20px;">
          <tr>
            <td colspan="2" style="color:#e03357; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>其它信息</b></td>
          </tr>
          <tr>
            <td width="138" style="padding-left:8px;">运输方式：</td>
            <td><%=ShipType%></td>
          </tr>
		  <tr>
            <td style="padding-left:8px;">付款方式：</td>
            <td><%=PayType%></td>
          </tr>
            <td style="padding-left:8px;">现金支付总值（含税）：</td>
            <td>&yen;<%=CashPay%></td>
          </tr>
          <tr>
            <td style="padding-left:8px;">商品总重（含礼品）：</td>
            <td><%=Weight%>g</td>
          </tr>
          <tr>
            <td style="padding-left:8px;">运输费用：</td>
            <td>&yen;<%=ShipPrice%></td>
          </tr>
		  <%IF_BEGIN ID=PromotionDisplay%>
		   <tr>
            <td style="padding-left:8px;">优惠券抵扣：</td>
            <td>&yen;-<%=PromotionAmount%></td>
          </tr>
		  <%IF_END ID=PromotionDisplay%>
		  
		  <%IF_BEGIN ID=PrePayDisplay%>
		  <tr>
            <td style="padding-left:8px;">账户余额抵扣：</td>
            <td>&yen;-<%=AcountAmtPay%></td>
          </tr>
		  <%IF_END ID=PrePayDisplay%>
          <tr>
            <td style="padding-left:8px; padding-bottom:10px;">合计：</td>
            <td style="padding-bottom:10px;"><strong style="color:#e03357">&yen;<%=ReceivableAmount%></strong></td>
          </tr>
        </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:20px; border-bottom:1px solid #ededed;">
        <tr>
          <td style="color:#e03357; padding-top:15px; font-size:14px; padding-bottom:10px;"><b>备注信息</b></td>
        </tr>
        <tr>
          <td style="padding-left:8px; font-size:12px; padding-bottom:30px;"><%=Memo%></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
		  	<td align="left" style="padding-left:5px;padding-right:5px; padding-top:13px; padding-bottom:22px;">
			<div style="text-indent:2em;"><span style="line-height:22px; font-size:14px; text-indent:2em;">祝您购物愉快<br />此致</span></div>
<br />
			<div style="text-indent:2em;"><span style="color:#e03357;text-indent:2em;">此邮件为系统自动生成，请不要直接回复!</span></div>
			</td>
            <td align="right" valign="bottom" style="padding-left:10px;padding-right:5px; padding-top:13px; padding-bottom:22px;"><span style="line-height:22px; font-size:14px;">泰隆优选<br /><%=Datetime%></span></td>
          </tr>
        </table>
		</td>
  </tr>
 
</table>
<table align="center" width="682" height="60" border="0" cellspacing="0" cellpadding="0" style="width:682px; margin:0 auto;font-size:12px;border-top:1px solid #f5f5f5; background-color:#ffffff" bgcolor="#ffffff">
  <tr>
    <td valign="middle" align="left" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-left:26px;">&copy; 2014&nbsp;&nbsp;上海泰隆优选国际贸易有限公司&nbsp;&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;<a style="color:#999999" href="###">沪ICP备14006635号-1</a></p></td>
 	<td valign="top" align="right" style="padding-top:12px; padding-bottom:12px; font-size:12px; color:#999999;"><p style="margin-right:21px;"><img src="http://www.tlyh.com/Resources/themes/default/nest/img/bin_code.png" width="124" height="67" border="0" alt="扫一扫，关注我们" /></p></td>
 </tr>
</table>
</body>
</html>

      ]]>
    </body>
  </mailTemplate>

</mailTemplateConfig>
