<?xml version="1.0"?>
<codeNamePairList>
  <!--COM域名的URL-->
  <codeNamePair key="OrgUrlList">
    <item code="category/topicdetail" name="内容相关2级菜单"></item>
    <item code="topic/" name="内容相关"></item>
    <item code="expo/" name="展会攻略"></item>
    <item code="downloadlist" name="下载相关"></item>
    <item code="pavilions" name="参展各国"></item>
    <item code="newslist/" name="商家相关"></item>
    <item code="home/index" name="首页"></item>

  </codeNamePair>
</codeNamePairList>