<?xml version="1.0"?>
<codeNamePairList>
  <!--日志业务类型-->
  <codeNamePair key="BizLogType">
    <item code="102" name="Product-Management"></item>
    <item code="201" name="Sale-Order"></item>
    <item code="204" name="Sale-Inquire Price"></item>
    <item code="205" name="Sale-Trade"></item>
    <item code="301" name="Merchant-Merchant Info"></item>
    <item code="302" name="Merchant-Account"></item>
  </codeNamePair>
</codeNamePairList>