<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="EmployeeNumber">
    <item code="1" name="1-10人"></item>
    <item code="2" name="11-50人"></item>
    <item code="3" name="51-200人"></item>
    <item code="4" name="201-500人"></item>
    <item code="5" name="500人以上"></item>
  </codeNamePair>
  <!--企业性质-->
  <codeNamePair key="CompanyNature">
    <item code="1" name="国有企业"></item>
    <item code="2" name="集体企业"></item>
    <item code="3" name="有限责任公司"></item>
    <item code="4" name="股份有限公司"></item>
    <item code="5" name="私营企业"></item>
    <item code="6" name="中外合资企业"></item>
    <item code="7" name="外商投资企业 "></item>
    <item code="8" name="其它"></item>
  </codeNamePair>
  <codeNamePair key="MainIndustry">
    <item code="0" name="机构组织"></item>
    <item code="1" name="机械机电"></item>
    <item code="2" name="电子电工"></item>
    <item code="3" name="轻工食品"></item>
    <item code="4" name="服装纺织"></item>
    <item code="5" name="农林牧渔"></item>
    <item code="6" name="医药卫生"></item>
    <item code="7" name="建筑建材"></item>
    <item code="8" name="冶金矿产"></item>
    <item code="9" name="石油化工"></item>
    <item code="10" name="水利水电"></item>
    <item code="11" name="交通运输"></item>
    <item code="12" name="信息产业"></item>
    <item code="13" name="旅游休闲"></item>
    <item code="14" name="家居用品"></item>
    <item code="15" name="其它行业"></item>
  </codeNamePair>
</codeNamePairList>


















