<?xml version="1.0"?>
<codeNamePairList>
  <codeNamePair key="EmployeeNumber">
    <item code="1" name="1-10p"></item>
    <item code="2" name="11-50p"></item>
    <item code="3" name="51-200p"></item>
    <item code="4" name="201-500p"></item>
    <item code="5" name="MoreThan500"></item>
  </codeNamePair>
  <!--企业性质-->
  <codeNamePair key="CompanyNature">
    <item code="1" name="State-owned Enterprises"></item>
    <item code="2" name="Collectively-owned Enterprise"></item>
    <item code="3" name="Limited liability Company"></item>
    <item code="4" name="Incorporated Company"></item>
    <item code="5" name="Private Enterprise"></item>
    <item code="6" name="Sino-foreign Joint Venture"></item>
    <item code="7" name="Foreign-investment Enterprise"></item>
    <item code="8" name="Other"></item>
  </codeNamePair>
  <codeNamePair key="MainIndustry">
    <item code="0" name="Organization"></item>
    <item code="1" name="Mechanical Electrical"></item>
    <item code="2" name="Electronic Electrician"></item>
    <item code="3" name="Light And Food"></item>
    <item code="4" name="Costome And Spin"></item>
    <item code="5" name="Husbandary And Fishing"></item>
    <item code="6" name="Medical And Health"></item>
    <item code="7" name="Building Materials"></item>
    <item code="8" name="Metallurgical Mineral"></item>
    <item code="9" name="Petrochemical Industry"></item>
    <item code="10" name="Water Conservancy And Hydropower"></item>
    <item code="11" name="Communications And Transport"></item>
    <item code="12" name="IT Industry"></item>
    <item code="13" name="Tourism And Leisure"></item>
    <item code="14" name="Household Articles"></item>
    <item code="15" name="Other"></item>
  </codeNamePair>
</codeNamePairList>


















