<?xml version="1.0"?>
<codeNamePairList>
  <!--COM域名的URL-->
  <codeNamePair key="VoidedOrderReasons">
    <item code="1" name="已经不需要这张订单中的产品"></item>
    <!--<item code="2" name="发票填写错误"></item>-->
    <item code="3" name="没能成功使用优惠券"></item>
    <item code="4" name="不知道怎么修改送货方式、送货地址"></item>
    <item code="5" name="不知道怎么修改付款方式"></item>
    <item code="6" name="无法收货"></item>
    <item code="7" name="重复提交了订单"></item>
    <item code="8" name="买错了东西，下错了订单"></item>
    <item code="9" name="商品价格问题"></item>
  </codeNamePair>
</codeNamePairList>