<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="TaoBaoURL" value=""/>
    <add key="TaoBaoSession" value=""/>
    <add key="TaoBaoAppKey" value=""/>
    <add key="TaoBaoAppSecret" value=""/>
    <add key="TaoBaoIsUseProxy" value=""/>

  </appSettings>
</configuration>