<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <dataCommand name="InsertEmailIpp3" database="OverseaControlPanel" commandType="Text">
    <commandText>
      <![CDATA[			
				INSERT INTO IPP3.[dbo].[AsyncEmail]
							  ([MailAddress]
							  ,[MailSubject]
							  ,[MailBody]
							  ,[Status]
							  ,[CreateTime]
							  ,[SendTime]
							  ,[CCMailAddress]
							  ,[BCMailAddress]
							  ,[MailFrom]
							  ,[MailSenderName]
							  ,[CompanyCode])
					  VALUES
							  (@MailAddress
							  ,@MailSubject
							  ,@MailBody
							  ,0
							  ,GetDate()
							  ,NULL
							  ,@CCMailAddress
							  ,@BCMailAddress
							  ,@MailFrom
							  ,@MailSenderName
							  ,@CompanyCode)	
					SELECT @SysNo=SCOPE_IDENTITY()
			  ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32" direction="Output"/>
      <param name="@MailAddress" dbType="String" size="200"/>
      <param name="@MailSubject" dbType="String" size="500"/>
      <param name="@MailBody" dbType="String"/>
      <param name="@CCMailAddress" dbType="String" size="200"/>
      <param name="@BCMailAddress" dbType="String" size="200"/>
      <param name="@MailFrom" dbType="String" size="200"/>
      <param name="@MailSenderName" dbType="String" size="100"/>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

  <dataCommand name="InsertEmail2MailDB" database="OverseaControlPanel" commandType="Text">
    <commandText>
      <![CDATA[			
				INSERT INTO [MailDB].[dbo].[AsyncEmail]
							  ([MailAddress]
							  ,[MailSubject]
							  ,[MailBody]
							  ,[Status]
							  ,[CreateTime]
							  ,[SendTime]
							  ,[CCMailAddress]
							  ,[BCMailAddress]
							  ,[MailFrom]
							  ,[MailSenderName]
							  ,[CompanyCode])
					  VALUES
							  (@MailAddress
							  ,@MailSubject
							  ,@MailBody
							  ,0
							  ,GetDate()
							  ,NULL
							  ,@CCMailAddress
							  ,@BCMailAddress
							  ,@MailFrom
							  ,@MailSenderName
							  ,@CompanyCode)	
					SELECT @SysNo=SCOPE_IDENTITY()
			  ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32" direction="Output"/>
      <param name="@MailAddress" dbType="String" size="200"/>
      <param name="@MailSubject" dbType="String" size="500"/>
      <param name="@MailBody" dbType="String"/>
      <param name="@CCMailAddress" dbType="String" size="200"/>
      <param name="@BCMailAddress" dbType="String" size="200"/>
      <param name="@MailFrom" dbType="String" size="200"/>
      <param name="@MailSenderName" dbType="String" size="100"/>
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

  <dataCommand name="InsertEmailIpp3Internal" database="OverseaControlPanel" commandType="Text">
    <commandText>
      <![CDATA[			
		INSERT INTO [IPP3].[dbo].[AsyncEmail_Internal]
           ([MailAddress]
           ,[CCMailAddress]
           ,[BCMailAddress]
           ,[MailSubject]
           ,[MailBody]
           ,[Status]
           ,[Priority]
           ,[Department]
           ,[SendTime]
           ,[CreateTime]
           ,[CompanyCode])
     VALUES
           (@MailAddress
           ,@CCMailAddress
           ,@BCMailAddress
           ,@MailSubject
           ,@MailBody
           ,0
           ,@Priority
           ,@Department
           ,NULL
           ,GetDate()
		   ,@CompanyCode)
           
	SELECT @SysNo=SCOPE_IDENTITY()
			  ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32" direction="Output"/>
      <param name="@MailAddress" dbType="String" size="1000" />
      <param name="@CCMailAddress" dbType="String" size="400" />
      <param name="@BCMailAddress" dbType="String" size="400" />
      <param name="@MailSubject" dbType="String" size="1000" />
      <param name="@MailBody" dbType="AnsiString" size="2147483647" />
      <param name="@Priority" dbType="Int32" size="4" />
      <param name="@Department" dbType="String" size="40" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>

  <dataCommand name="InsertEmail2MailDBInternal" database="OverseaControlPanel" commandType="Text">
    <commandText>
      <![CDATA[			
				INSERT INTO [MailDB].[dbo].[AsyncEmail_Internal]
           ([MailAddress]
           ,[CCMailAddress]
           ,[BCMailAddress]
           ,[MailSubject]
           ,[MailBody]
           ,[Status]
           ,[Priority]
           ,[Department]
           ,[SendTime]
           ,[CreateTime]
           ,[CompanyCode])
     VALUES
           (@MailAddress
           ,@CCMailAddress
           ,@BCMailAddress
           ,@MailSubject
           ,@MailBody
           ,0
           ,@Priority
           ,@Department
           ,NULL
           ,GetDate()
		   ,@CompanyCode)
           
	SELECT @SysNo=SCOPE_IDENTITY()
			  ]]>
    </commandText>
    <parameters>
      <param name="@SysNo" dbType="Int32" direction="Output"/>
      <param name="@MailAddress" dbType="String" size="1000" />
      <param name="@CCMailAddress" dbType="String" size="400" />
      <param name="@BCMailAddress" dbType="String" size="400" />
      <param name="@MailSubject" dbType="String" size="1000" />
      <param name="@MailBody" dbType="AnsiString" size="2147483647" />
      <param name="@Priority" dbType="Int32" size="4" />
      <param name="@Department" dbType="String" size="40" />
      <param name="@CompanyCode" dbType="AnsiStringFixedLength" size="50"/>
    </parameters>
  </dataCommand>
</dataOperations>