<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataAccess" type="ECommerce.Utility.DataAccess.Database.Config.DataAccessSection, ECommerce.Utility.DataAccess" />
    <section name="log" type="ECommerce.Utility.LogSection, ECommerce.Utility" />
    <section name="routeConfig" type="ECommerce.WebFramework.Router.RouteConfigurationSection, ECommerce.WebFramework" />
    <section name="auth" type="ECommerce.WebFramework.AuthConfigurationSection, ECommerce.WebFramework" />
  </configSections>
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />
  <log source="ECWeb">
    <emitter type="text"></emitter>
  </log>
  <routeConfig configSource="Configuration\Route.config" />
  <auth default="userAuth">
    <providers>
      <auth name="userAuth" type="ECommerce.UI.UserAuth, ECommerce.UI" />
    </providers>
  </auth>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="LoginUrl" value="/Home/Login" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--是否启用路由调试-->
    <add key="RouteDebugger:Enabled" value="false" />
    <!-- 多语言资源文件目录相对WebHost根目录的路径 -->
    <add key="TextResourcesPath" value="Configuration/LanguageResources" />
    <!-- Cookie配置文件的路径 -->
    <add key="CookieConfigPath" value="Configuration/Cookie.config" />
    <!-- 前台上传文件路径Host -->
    <add key="FileBaseUrl" value="http://image.tlyh.com.gqc/" />
    <!-- 前台上传文件路径Host SSL -->
    <add key="FileBaseUrlSSL" value="http://image.tlyh.com.gqc/" />
    <!-- 当前网站渠道ID -->
    <add key="ChannelID" value="B2C" />
    <!--网站域名地址-->
    <add key="WebDomain" value="http://localhost:9527" />
    <!--网站域名地址的主机头，去除www后的，比如ECommerce.com,baidu.com这样-->
    <add key="WebDomainOnlyHost" value="localhost" />
    <!--是否有SSL网站-->
    <add key="HaveSSLWebsite" value="false" />
    <!--网站SSL域名-->
    <add key="SSLWebsiteHost" value="http://localhost:9527" />
    <!--当开启SSL网站访问时，对于使用BuildUrlCA方法构造的Url，根据ControllerName构成成https访问-->
    <add key="SSLControllers" value="LoginRegister,MemberAccount,MemberOrder,MemberService,Payment,ShoppingPurchase,RMA" />
    <!--CDN网站，本地CSS\JS等静态资源的CDN Host-->
    <add key="CDNWebDomain" value="http://localhost:9527" />
    <!--登录时间timeout 单位:分钟,非滑动时间-->
    <add key="LoginTimeout" value="60" />
    <!--商品图片基地址-->
    <add key="ImageServerHost" value="http://image.tlyh.com.gqc/neg" />
    <!--商品图片基地址SSL-->
    <add key="ImageServerHostSSL" value="http://image.tlyh.com.gqc/neg" />
    <!--ECCservice Base Url-->
    <add key="ECC_Service_Base_Url" value="http://eccsvc.tlyh.com.gqc/" />
    <!--ECCService凭证信息 UserSysNo-->
    <add key="UserSysNo" value="2" />
    <!--ECCService凭证信息 UserAcct-->
    <add key="UserAcct" value="Ippadmin" />
    <!--手机验证,邮箱验证送积分的系统账户编号-->
    <add key="PointAccountSysNo" value="126" />
    <add key="CurrencySysNo" value="1" />
    <!--拆单限制门槛金额配置，配置方式：仓库国家代码|门槛金额  多个配置项之间用英文分号(;)隔开-->
    <!--如果不配置，则默认配置为 HK（香港）门槛金额800元  JP（日本）门槛金额1000元 -->
    <add key="MaxPerOrderAmount" value="HK|800;JP|1000" />
    <!--礼品卡C3-->
    <add key="GiftCardCategory3" value="11295" />
    <!--平台默认商家编号-->
    <add key="PlatformMerchantSysNo" value="1" />
    <!--使用TransactionManager支持事务必须开启此开关-->
    <add key="SupportTransaction" value="YES" />
    <!--静态资源版本号（CSS、JS）-->
    <add key="ResourcesVersion" value="" />
    <add key="RouteDebugger:Enabled" value="false" />
    <!--登录验证码类别(0:图形验证码 1:手机短信在线验证)-->
    <add key="LoginValidCodeType" value="0"/>
    <!--没有登陆用户查看商品默认显示的配送地址，杭州市1046-->
    <add key="DefaultRegion" value="1046"/>
    <!--商品咨询直接展示开关【true或false】-->
    <add key="ProductConsultSwitch" value="true"/>
    <!--限时抢购提前显示时间设置【单位分钟】-->
    <add key="LimitBuyEarlyShowTimeSetting" value="1770"/>
    <!--促销活动里的商品是否支持付款后扣减在线库存【支持：true或不支持：false】必须和Ecc服务端配置保持一致Configuration/AppSettings/SO.config-->
    <add key="PaymentInventory" value="true"/>
  </appSettings>
  <system.web>
    <httpModules></httpModules>
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="ECommerce.WebFramework" />
        <add namespace="ECommerce.UI" />
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0" requestLengthDiskThreshold="256" maxRequestLength="500000000"></httpRuntime>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Expose-Headers" value="x-newegg-app-id,x-newegg-mobile-cookie" />
        <add name="Access-Control-Allow-Methods" value="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="x-newegg-app-id, accept, x-newegg-mobile-cookie,origin,content-type,Cache-Control" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>