@model ECommerce.Facade.Shopping.CheckOutResult

<label>优惠券编码： </label>
<input id="txtCounponCode" class="intxt" style="width: 100px;" type="text" maxlength="20" value="@Model.ApplyCouponCode" useCouponCode="@(Model.ApplyCouponCode)" onkeydown="CheckOut.applyCoupon(event)"/><a class="btn btnA ml10" href="javascript:void(0)" onclick="CheckOut.applyCoupon(event)">使用优惠券</a><br />
@if (!String.IsNullOrWhiteSpace(Model.ApplyCouponCode))
{
    if (!String.IsNullOrWhiteSpace(Model.ApplyedCouponDesc))
    {
    <p id="promotionCodeError" style="color: #F00">以下优惠券使用失败：@Model.ApplyedCouponDesc</p>
    }
    else
    {
    <div id="applyedCounponDiv">
        <label></label>
        <input class="intxt" style="width: 100px;" value="@Model.ApplyCouponName" type="text" disabled /><a class="ml10" href="javascript:void(0)" onclick="CheckOut.cancelApplyCoupon()">[取消使用]</a>
    </div>
    }
}

