@model ECommerce.Entity.Member.CustomerInvoiceInfo
<h2 class="mt30">发票信息</h2>
<div class="invest">
    <label class="fz14 invest_noneed" for="noinvest">
        <input type="radio" id="noinvest" class="mr20" name="raidoinvest" value="" @(!Model.NeedInvoice ? "checked=\"checked\"" : string.Empty)>不开发票</label>
    <label class="fz14 invest_need" for="invest">
        <input type="radio" id="invest" name="raidoinvest" value="" @(Model.NeedInvoice ? "checked=\"checked\"" : string.Empty)>开具发票</label>

    <div class="investc mt10" @(!Model.NeedInvoice ? "style=display:none;" : "style=display:block")>
        <div>
            <p class="common mb10">
                发票抬头：<input value="@Model.InvoiceTitle" maxlength="20" class="intxt" type="text" id="invoiceTitle">
                <span class="red">*</span><span class="Validform_wrong ml10" style="display: none;">请输入发票抬头</span>
            </p>
        </div>
    </div>
    <p class="action mt15 action-state2">
        <a class="btn" href="javascript:void(0);" onclick="CheckOut.saveCustInvoice()"><span>保存</span></a></p>
</div>

<script type="text/javascript">

</script>
