<table>					
	<tbody>
						
		<tr class="tip shipIntruction">
			<td><p class="p10_0"><strong class="red">特别说明：</strong>受中国国家航空管制影响，电池、液体、清洗剂、易燃易爆等产品无法里德空运，全球购物可能会根据实际情况采用的快递方式，若造成一定延误，请谅解。请随时关注你的订单状态及出库后的包裹跟踪信息（我们会有短信通知）。</p><!--<p class="shipFee tr ">运费总计：<span class="price price16">70.00</span></p> --></td>
		</tr>
						
	</tbody>
</table>
