@model ECommerce.Facade.Shopping.CheckOutResult

积分： <input id="txtUseBankPointPay" class="intxt" style="width:150px;" type="text" maxlength="20" value="@Model.UseBankPointPay" onkeydown="CheckOut.useBankPointPay(event)"/><a class="btn ml10" href="javascript:void(0)" onclick="CheckOut.useBankPointPay(event)">使用积分</a>
<p class="int">您当前有<span id="customerBankPointPay">@(Model.Customer.BankAccountPoint)</span>积分，本单您可以使用0-<span id="maxPointPay">@(Model.MaxPointPay)</span>积分。</p>
@if (!String.IsNullOrWhiteSpace(Model.UsePointPayDesc))
{
    <p class="int" style="color: #F00">@Model.UsePointPayDesc</p>
}