<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
    
  </configSections>

  <oversea>
    <globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
    <dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  
  <appSettings>
    <!--每次运行搜出的top多少数据，默认50-->
    <add key="UnSendTimeStart" value="0"/>
    <add key="UnSendTimeEnd" value="7"/>
    <add key="TopCount" value="50"/>
    <add key="Priority" value="4000"/>
    <add key="EnableTranslator" value="true"/>
    <add key="SourceEncoder" value="gb2312"/>
    <add key="TargetEncoder" value="utf-8"/>
    <add key="LogFile" value=".\Logs\"/>
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss.fff|yyyy-MM-dd hh:mm:ss|yyyy/M/d tt hh:mm:ss|yyyy/MM/dd tt hh:mm:ss|yyyy/MM/dd HH:mm:ss|yyyy/M/d HH:mm:ss|yyyy/M/d|yyyy/MM/dd"/>
    <add key="MailTo" value="cropland.j.tian@newegg.com;Tom.D.Zhou@newegg.com;Henson.j.li@newegg.com"/>
    <add key="MailSubject" value="(notice)短信发送报告"/>
    <add key="RetryTimes" value="5"/>
    <add key="RetryInterval" value="00:05:00"/>
    <add key="PhonePattern" value="^(13|15|18)\d{9}$"/>
    
    <!--提交账户-->
    <!--<add key="Account" value="cf_dch"/>-->
    <!--密码-->
    <!--<add key="Password" value="dch123"/>-->
    <!--泰隆短信http方式访问地址-->
    <!--pre-->
    <!--<add key="HttpSMSServiceUrl" value="http://10.4.32.40:38080/EBP"/>-->
    <!--qa-->
    <add key="HttpSMSServiceUrl" value="http://10.4.16.231:38080/EBP"/>
    <add key="CONSUMER_ID" value="108010"/>
    <add key="PROVIDER_ID" value="203010"/>
    <add key="ACCT_NO" value="dspt"/>
    <add key="REMARK" value="电商短信"/>
    <add key="SERVICE_ID" value="xtfs"/>
    <!--泰隆短信  E信通短信接口规范3.5.0-->
    <!--企业编号-->
    <add key="E_CompanyId" value="200097"/>
    <!--用户名称-->
    <add key="E_UserName" value="ep_admin"/>
    <!--用户密码-->
    <add key="E_PassWord" value="111111"/>
    <!--E信通短信接口 地址-->
    <add key="E_SMSaddress" value="http://10.4.18.6:8512/sms/services/Sms/"/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="INetShopServiceHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ServiceSmsSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.101.4/smsreport/SMSmt.asmx" binding="basicHttpBinding" bindingConfiguration="INetShopServiceHttpBinding" contract="NetShopService.INetShopServicePortType" name="INetShopServiceHttpPort"/>
      <endpoint address="http://172.16.101.4/smsreport/SMSmt.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSmsSoap" contract="SMSService.ServiceSmsSoap" name="ServiceSmsSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
