<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="application" type="Newegg.Oversea.Silverlight.ControlPanel.Service.Configuration.ApplicationSection, Newegg.Oversea.Silverlight.ControlPanel.Service" />
      <section name="keystone" type="Newegg.Oversea.Silverlight.ControlPanel.Service.Configuration.KeystoneSection, Newegg.Oversea.Silverlight.ControlPanel.Service" />
      <section name="ecCentral" type="Newegg.Oversea.Silverlight.ControlPanel.Service.Configuration.ECCentralSection, Newegg.Oversea.Silverlight.ControlPanel.Service" />
    </sectionGroup>
    <section name="faqSetting" type="Newegg.Oversea.Silverlight.ControlPanel.WebHost.FAQSection, Newegg.Oversea.Silverlight.ControlPanel.WebHost"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Newegg.Oversea.Framework.LoggingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="mailServerManager" type="Newegg.Oversea.Framework.EmailService.Configuration.MailServerConfigSection, Newegg.Oversea.Framework.EmailService"/>
  </configSections>

  <applicationSettings>
    <Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration>
      <setting name="CurrentMailComponent" serializeAs="String">
        <value>Newegg.Oversea.Framework.EmailService.SmtpMailComponent</value>
      </setting>
      <setting name="MaxAttachmentSize_MB" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxAttachmentCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ADName" serializeAs="String">
        <value>abs_corp</value>
      </setting>
    </Newegg.Oversea.Framework.EmailService.Configuration.MailConfiguration>
    <Newegg.Oversea.Framework.LoggingService.Properties.Settings>
      <setting name="Newegg_Oversea_Framework_LoggingService_MailServiceProxy_MailManager" serializeAs="String">
        <value>http://ecc.oysd.cn.pre/Service/Framework/V50/MailService.svc</value>
      </setting>
    </Newegg.Oversea.Framework.LoggingService.Properties.Settings>
  </applicationSettings>


  <mailServerManager>
    <mailServers>  
      <server address="ssexch03" userName="" password="" domain=""/>
      <server address="ssexch03" userName="" password="" domain=""/>
    </mailServers>
  </mailServerManager>
  
  <appSettings>
    <add key="templatePath" value="bin\Configuration\LogMail.html"/>
    <add key="AuthType" value="Newegg.AuthCenter.AuthCenterForECC.AuthCenterForECC,Newegg.AuthCenter.AuthCenterForECC" /> 
	<!-- 配置用来做身份验证和权限控制的类类型，不配置或留空则默认使用KeyStone认证 Newegg.AuthCenter.AuthCenterForECC.AuthCenterForECC, Newegg.AuthCenter.AuthCenterForECC-->
  </appSettings>

  <oversea>
    <globalSettings filePath="Configuration\OverseaFrameworkConfig\NeweggCentral\GlobalSettings.config" />
    <logSettings localRegionName="UIPortal" />
    <dataAccessSettings DataCommandFile="bin\Configuration\Data\DbCommandFiles.config" />

    <ecCentral ServiceURL="http://eccsvc.oysd.cn.pre" ConfigPrefix=""/>

    <application id="ce9524e6-e3c5-41e8-84bf-df29dda3284c" name="EC-Central" businessCode="8601" defaultLanguage="zh-CN" autoLogin="true" localRegion="UIPortal"  gloalRegion="EC-Central" defaultPage="/Main/Home" />
    <keystone sourceDirectory="abs_corp, bitkoo" trustedDirectory="bitkoo" trustedUserName="TrustedUser" trustedPassword="Trusted@User"
							primaryAuthUrl="http://10.16.40.33:7010/AuthorizationService/ws.asmx"
							secondaryAuthUrl="http://10.16.40.33:7010/AuthorizationService/ws.asmx"
							cacheName="None" cacheExpires="00:01:00">
      <!-- Cache Name: Local | Distributed | None -->
      <applications>
        <add id="ce9524e6-e3c5-41e8-84bf-df29dda3284c" name="EC-Central" /> 
      </applications>
    </keystone>
  </oversea>

  <faqSetting>
    <faqServices>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/CommonService.svc"></faqService>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/KeystoneAuthService.svc"></faqService>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/LogService.svc"></faqService>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/MaintainLogConfigService.svc"></faqService>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/MenuRestService.svc"></faqService>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/ProfileService.svc"></faqService>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/QueryLogConfigService.svc"></faqService>
      <faqService url="http://ecc.oysd.cn.pre/Service/Framework/V50/QueryLogService.svc"></faqService>

      <faqService url="http://eccsvc.oysd.cn.pre/CommonService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/CustomerService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/IMService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/RMAService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/POService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/InventoryService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/InvoiceService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/MKTService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/SOService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/ExternalSYSService/Help"></faqService>
      <faqService url="http://eccsvc.oysd.cn.pre/UtilityService/Help"></faqService>
    </faqServices>
    <faqDBs>
      <faqDB connectionString="data source=NEPREDB01\CenterDB;database=NeweggCentral;user id=sa;password=newegg@123;connection reset=false;Timeout=30;connection lifetime=30; min pool size=0; max pool size=50" dbInstanceName="GDev-E5DBS01" dbName="IPP3" execSql="SELECT 1"></faqDB>
    </faqDBs>
  </faqSetting>

  <system.web>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"/>

    <compilation targetFramework="4.0" />

    <sessionState timeout="120" />

    <authentication mode="Forms">
      <forms name="FormsAuth" defaultUrl="~/Default.aspx" slidingExpiration="true" loginUrl="~/Default.aspx" cookieless="UseCookies" timeout="70080" />
    </authentication>

    <machineKey
			validationKey="F6926E95374B97E5E6230A14368BD63A2DBC837D8E8937EE706BB9FAB9F56C208C32E918A8040D8B4EBFFC4C5F27EA2754157934C3370D497BD1AD256C2BC1C0"
			decryptionKey="0A5A6475E5F5E8C382E5C49859B04F141C91AEDDE0E65F94279BEC68D26B30C2"
			validation="SHA1" decryption="AES"/>

    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
	<httpHandlers>
		<add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</httpHandlers>
  </system.web>


  <location path="WebResources">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="ClientBin/Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ClientBin/ControlPanel.SilverlightUI.xap">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="Service">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" />
	    <bindings>
      <basicHttpBinding>
        <binding name="AuthServiceSoap" maxReceivedMessageSize="2000000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://NEPREIPP01:8061/AuthService.asmx"
          binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap"
          contract="AuthCenterService.AuthServiceSoap" name="AuthServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
