@model int
@{
    ViewBag.Title = "新闻详情";
    ViewBag.ShowBack = true;
    Layout = "~/Views/Shared/_Master.cshtml";

    Nesoft.ECWeb.Entity.NewsInfo news = Nesoft.ECWeb.Facade.Topic.TopicFacade.GetNewsInfoBySysNo(Model);
}
@section Section_Header
{
    @BuildCssRef("/Resources/style/news.css")
}
@section Section_Content
{

    <div id="main">
        <div class="news_sec">
            <section style="padding-top:50px;">
                <h2 class="tit">@Html.Raw(news.Title)<time class="time">@news.CreateDate.ToString("yyyy-MM-dd")</time></h2>
                @Html.Raw(news.Content)
            </section>
        </div>



    </div>

}
