<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--日志记录路径，如不指定则默认为系统运行路径-->
		<add key="LogFolder" value=""/>
		<!--连接字符串-->
		<add key="AsyncEmail_ConnectionString" value="server=SGSQL\centerdb;User ID=devuser;Password=newegg@123;database=IPP3"/>
		<!--邮件编码-->
		<add key="AsyncEmail_MailCharset" value="gb2312"/>
		<!--发送邮件的地址-->
		<add key="AsyncEmail_MailFrom" value="Support@ejoy365.com"/>
		<!--发送邮件的发送栏显示名-->
		<add key="AsyncEmail_MailFromName" value="易捷网 Support"/>
		<!--发送邮件的邮件服务器-->
		<add key="AsyncEmail_MailServer" value="ssexch03.buyabs.corp"/>
		<!--邮件账号-->
		<add key="AsyncEmail_MailUserName" value=""/>
		<!--邮件密码-->
		<add key="AsyncEmail_MailUserPassword" value=""/>
		<!--异常邮件重发的发送间隔时间(秒)-->
		<add key="AsyncEmail_RepeatDistanceTime" value="60"/>
		<!--取出邮件记录-->
		<add key="AsyncEmail_QueryMailRecord" value="SELECT TOP 80 * FROM dbo.AsyncEmail_Internal WITH (NOLOCK INDEX(I_STATUS)) WHERE status = 0 and mailaddress not like '%CS-HelpDesk%' and CCMailAddress not like '%CS-HelpDesk%' order by sysno"/>
		<!--更新邮件记录-->
		<add key="AsyncEmail_UpdateMailRecord" value="UPDATE dbo.AsyncEmail_Internal SET status = {0} , SendTime = GETDATE() WHERE sysno = {1}"/>
		<!--若存在发送失败的邮件，则重复多次发送-->
		<add key="AsyncEmail_RepeatMailCount" value="5"/>
	</appSettings>
</configuration>