<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config"/>
    <webservice param="http://ecc.kjt.com.qa/Service/Framework/V50/LogService.svc"/>
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <custom type="" param=""/>
  </log>
  <appSettings>
    <!--<add key="RestFulBaseUrl" value="http://eccsvc.tlyh.com.qa/SOService"/>-->
    <add key="RestFulBaseUrl" value="http://localhost:778/SOService"/>
    <add key="CompanyCode" value="8601"/>
    <add key="UserSysNo" value="2"/>
    <add key="UserAcct" value="Newegg"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="SigleCount" value="10"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
