@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClearCache</title>
</head>
<body>
    <div>
        缓存已清理成功！
        <a href="@BuildUrl("Web_Index")">返回主页</a>
    </div>
</body>
</html>
