<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="oversea">
			<section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
			<section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
			<section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
		</sectionGroup>
		<section name="ServiceJobSection" type="IPP.ECommerceMgmt.ServiceJob.Providers.ServiceJobSection,IPP.ECommerceMgmt.ServiceJob"/>
    <section name="log" type="ECCentral.Job.Utility.LogSection, ECCentral.Job.Utility"/>
  </configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
		<sources>
			<add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<appSettings>
		<add key="ConsumerName" value="CN.InvoiceManagement.UI.IPP01"/>
		<add key="LogFileName" value="ZeroAutoConfirm.log"/>
		<add key="EmailAddress" value="tom.d.zhou@newegg.com;freegod.l.xu@newegg.com;nolan.q.chen@newegg.com;"/>
		<add key="CompanyCode" value="8601"/>
		<!--<add key="UserDisplayName" value="IPPSystemAdmin"/>
		<add key="UserLoginName" value="IPPSystemAdmin"/>-->
		<add key="UserDisplayName" value="Sys"/>
		<add key="UserLoginName" value="System"/>
		<add key="StoreSourceDirectoryKey" value="bitkoo"/>
		<add key="SCGlobalConfig" value="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<add key="EmailModel" value="EmailModel.txt"/>
		<add key="InitialDate" value="2013-10-12"/>
		<add key="PrePayConfirmID" value="CN012"/>
		<add key="GiftCardConfirmID" value="CN102"/>
		<add key="PointConfirmID" value="CN101"/>
		<add key="EmailFrom" value="Support@newegg.com.cn"/>
    <add key="EmailSubject" value="自动确认零实收金额明细_{0}"/>

    <!--<add key="CommonRestFulBaseUrl" value="http://localhost:778/CommonService/"/>
    <add key="InvoiceRestFulBaseUrl" value="http://localhost:778/InvoiceService/"/>-->

    <add key="CommonRestFulBaseUrl" value="http://eccsvc.oysd.cn.pre/CommonService/"/>
    <add key="InvoiceRestFulBaseUrl" value="http://eccsvc.oysd.cn.pre/InvoiceService/"/>
    <add key="CompanyCode" value="8601"/>
    <add key="LanguageCode" value="zh-CN"/>
    <add key="UserSysNo" value="1"/>
    <add key="UserAcct" value="job@page7.com.cn"/>
	</appSettings>
	<oversea>
		<globalSettings filePath="C:\OverseaFrameworkConfig\IPP\GlobalSettings.config"/>
		<logSettings localRegionName="InvoiceMgmt"/>
		<dataAccessSettings DataCommandFile=".\Configuration\Data\DbCommandFiles.config"/>
	</oversea>
  <log globalRegionName="EC-Central" localRegionName="Service">
    <!--<webservice param="http://localhost:777/Service/Framework/V50/LogService.svc" />-->
    <text param="Logs/"/>
    <!--<msmq param="消息队列的地址，多个的话用英文逗号隔开"/>-->
    <!--<custom type="" param=""/>-->
  </log>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
