<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dataAccess" type="ECommerce.Utility.DataAccess.Database.Config.DataAccessSection, ECommerce.Utility.DataAccess" />
    <section name="log" type="ECommerce.Utility.LogSection, ECommerce.Utility" />
    <section name="routeConfig" type="ECommerce.WebFramework.Router.RouteConfigurationSection, ECommerce.WebFramework" />
    <section name="auth" type="ECommerce.WebFramework.AuthConfigurationSection, ECommerce.WebFramework" />
  </configSections>
  <dataAccess sqlConfigListFile="Configuration\Data\DbCommandFiles.config" databaseListFile="Configuration\Data\Database.config" />
  <log source="SellerPortal">
    <emitter type="text"></emitter>
  </log>
  <routeConfig configSource="Configuration\Route.config" />
  <auth default="userAuth">
    <providers>
      <auth name="userAuth" type="ECommerce.Web.UserAuth, ECommerce.Web" />
    </providers>
  </auth>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--是否启用路由调试-->
    <add key="RouteDebugger:Enabled" value="false" />
    <!-- 多语言资源文件目录相对WebHost根目录的路径 -->
    <add key="TextResourcesPath" value="Configuration/LanguageResources" />
    <!-- Cookie配置文件的路径 -->
    <add key="CookieConfigPath" value="Configuration/Cookie.config" />
    <!--是否有SSL网站-->
    <add key="HaveSSLWebsite" value="false" />
    <!--当开启SSL网站访问时，对于使用BuildUrlCA方法构造的Url，根据ControllerName构成成https访问-->
    <add key="SSLControllers" value="" />
    <!--使用TransactionManager支持事务必须开启此开关-->
    <add key="SupportTransaction" value="YES" />
    <!--登录验证码类别(0:图形验证码 1:手机短信在线验证)-->
    <add key="LoginValidCodeType" value="0"/>
    <!--批量生成通用优惠券代码默认数量设置-->
    <add key="BitchDefaultGeneralCodeNumber" value="100"/>
    <!--地区Start-->
    <!--中国-->
    <add key="-1" value="中国(不含港、澳、台)"/>
    <!--华东:上海市884、山东省1530、江苏省907、安徽省1158、江西省1404、浙江省1045、福建省1300-->
    <add key="-2" value="884,1530,907,1158,1300,1045,1404"/>
    <!--华南:广西壮族自治区2359、广东省2192、海南省2497-->
    <add key="-3" value="2192,2359,2497"/>
    <!--华北:北京市1、天津市22、河北省43、山西省242、内蒙古自治区383-->
    <add key="-4" value="43,242,383,1,22"/>
    <!--华中:河南省1710、湖北省1907、湖南省2041-->
    <add key="-5" value="1710,1907,2041"/>
    <!--西南:重庆市2524、四川省2567、贵州省2791、云南省2899、西藏藏族自治区3061-->
    <add key="-6" value="2567,2791,2899,2524,3061"/>
    <!--西北:陕西省3149、甘肃省3277、青海省3391、宁夏回族自治区3451、新疆维吾尔自治区3484-->
    <add key="-7" value="3391,3277,3451,3484,3149"/>
    <!--东北:辽宁省509、吉林省644、黑龙江省727-->
    <add key="-8" value="509,644,727"/>
    <!--地区End-->
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <client>
      <endpoint address="http://webservice.ips.net.cn/Sinopay/Standard/IpsCheckTrade.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="IPSPayService.ServiceSoap" name="ServiceSoap" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IPOService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>