<?xml version="1.0"?>
<mailTemplate>
  <id>CustomerGift_Notify</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      获奖通知
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
     <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>获奖通知</title>
    <link href="http://www.dchnu.com/WebResources/css/MailCss.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1">
        <div id="outside1">
            <div id="outside2">
                <div id="head">
                    <div id="head_bg">
                        <div id="logo">
                            <a href="http://www.dchnu.com/">
                                <img title="泰隆优选"  alt="泰隆优选" src="http://www.dchnu.com/WebResources/images/MailImages/logo.jpg"
                                    width="236" /></a></div>
                        <div id="tel">
                            400-820-4400</div>
                        <div id="mail">
                            VIP/企业客户信箱：<a style="color: white; text-decoration: underline" href="mailto:VIP@dchnu.com">VIP@dchnu.com</a></div>
                    </div>
                </div>                
                
                   
                        <table border="0" cellpadding="0" cellspacing="0" class="table01">
                            <tr class="table_col01">
                                <td class="table_lt">&nbsp;
                              </td>
                                <td class="table_tb">&nbsp;
                              </td>
                                <td class="table_rt">&nbsp;
                              </td>
                            </tr>
                            <tr class="table_col01">
                                <td height="360">&nbsp;
                              </td>
                                <td valign="top"><img src="http://www.dchnu.com/WebResources/Images/MailImages/giftinfo.gif" width="164" height="137" align="right" />
                                  <p><strong>获奖通知 </strong><strong></strong></p>
                                  <p>尊敬的泰隆优选顾客： </p>
                                  <p>恭喜您，你已经获得泰隆优选活动奖品——[<%=GiftProductName%>] </p>
                                  <p>您的奖品已发送至您在泰隆优选的帐户中。请点击此链接登录泰隆优选 <a href="http://www.dchnu.com/" style="color:Blue;text-decoration: underline">www.dchnu.com </a>进入“帐户中心“ 再点击“我的奖品”栏目您就可以查询到此次和以往获得奖品记录。您可以在“我的奖品”栏目中直接点击“加入购物车”按钮将奖品加入您的购物车，然后生成泰隆优选订单。我们在收到您的订单后将根据您选择的配送方式和地址尽快的为您发送奖品。 </p>
                                  <p>奖品说明：</p>
                                  <p>1. 奖品的有效期为自奖品发送到您在泰隆优选的帐户中心起的三个月。<br />2. 活动中的奖品不享受相关的退、换和维修的服务。同时，如果您对于收到的奖品质量有疑义，您可以拒收并第一时间致电泰隆优选客户服务热线 400-820-4400 ，我们为您提供更换服务。</p>
                                  <p>奖品的有效期为自奖品发送到您在泰隆优选的帐户中心起的三个月。 </p>
                                  <p>如有需要请点击<a href="http://www.dchnu.com/Service/Help_Main.aspx" style="color:Blue;text-decoration: underline">FAQ </a>查询泰隆优选的配送方式，支付方式等信息，您也可以致电泰隆优选客户服务热线  400-820-4400  ，我们将竭诚为您服务。 </p>
                                  <p>衷心的感谢您对泰隆优选的关注和支持！ </p>
                                  <p>（注：泰隆优选对奖品发放规则享有最终解释权） </p>
                                <p>泰隆优选 </p></td>
                                <td>&nbsp;
                              </td>
                            </tr>
                            <tr>
                                <td class="table_lb">&nbsp;
                              </td>
                                <td class="table_tb">&nbsp;
                              </td>
                                <td class="table_rb">&nbsp;
                              </td>
                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" class="table01">
                            <div id="Div2">
                            </div>
                        </table> 
                
                     <div id="foot">
                    <div id="bar02">
                        <div id="bar02_left">
                        </div>
                        <div id="bar02_right">
                        </div>
                    </div>
                    <div id="foot_text">
                        上海泰隆优选电子商务有限公司 (<a href="http://www.dchnu.com">www.dchnu.com</a>) | 美国泰隆优选 (<a
                            href="http://www.dchnu.com">www.dchnu.com</a>)<br />
                        公司地址：长春市工农大路1128号泰隆优选商都A座七楼网购中心<br />
                        公司邮编：200050<br />
                        订购电话：400-820-4400<br />
                        VIP/企业客户服务：<a href="mailto:VIP@dchnu.com">VIP@dchnu.com</a><br />
                        电子邮件：<a href="mailto:ales@dchnu.com">sales@dchnu.com </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

      ]]>
    </template>
  </body>
</mailTemplate>