<?xml version="1.0"?>
<mailTemplate>
  <id>CustomerPointAddRequest_AuditDenied</id>
  <sender>service@tlyh.com</sender>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
      积分申请已被拒绝
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
     编号为<%=RequestSysNo%>的加积分申请未审核通过，原因是：<%=Reasion%>
      ]]>
    </template>
  </body>
</mailTemplate>