<?xml version="1.0"?>
<mailTemplate>
  <id>Manual_Send</id>
  <sender>service@tlyh.com</sender>
  <senderDisplayName>Service</senderDisplayName>
  <isHtmlType>1</isHtmlType>
  <mailPriority>1</mailPriority>
  <subject>
    <![CDATA[
     <%=Title%>
      ]]>
  </subject>
  <body>
    <template>
      <![CDATA[
    <%=Content%>
      ]]>
    </template>
  </body>
</mailTemplate>